[2022-06-14 16:24] frederikhors commented on #2652
Yeah. I tried and I wrote in the issue it throws with:

[2022-06-14 16:25] frederikhors commented on #2652
Oh. Wait. I think I'm fixing...

[2022-06-14 16:26] a8m commented on #2652
Another 2 comments that may help you. If you're using gqlgen, instead of managing transactions manually, you can use the [Transactional Mutations](https://entgo.io/docs/tutorial-todo-gql-tx-mutation). Also, if you're using both tx and client, you can use [Transctional Clients](https://entgo.io/docs/transactions#transactional-client).

The issue was different. The player ID is zero. We need a fix f

[2022-06-14 17:10] frederikhors commented on #2652
Yeah, I know but I'm already using DDD and repository pattern very good so this is not a problem for me.

I am. Very good. Thanks, it's amazing.

---

Anyway I managed to fix this "issue" but I think I should clarify what my pattern to create/update entities is.

What I'm used to have with Bun/Gorm is something like this:

[code]

At the end of this method I need to `.Unmarshal()` `pgTeam` to `new

[2022-06-14 17:19] frederikhors commented on #2652
It would be awesome to have methods like `.WithPlayers()` on `.Create()` too!

In this way it would possible to have `Players` on `Team` after creation.

[2022-06-14 19:31] frederikhors opened #2653 "How can I know if a field is `nil` (because .`Optional()`) or empty?"
Now that I am about to finish my migration from Bun, I have discovered a terrible problem!

Given this schema:

[code]

If I get player from DB with:

[code]

though `description` is correctly `NULL` in the DB Ent instead of using `*string` for it on `player` uses `""` an empty string!

This is a big, huge problem because our domain entities are using `*string` for this (like gqlgen) and in our ad

[2022-06-14 19:33] a8m commented on #2653
Hey! Set the field to be both `Optional()` and `Nillable()`. This will solve your issues.
See: https://entgo.io/docs/schema-fields#nillable

[2022-06-14 19:36] a8m commented on #2653
Closing, but please open it if you still need help. Thanks 😎

[2022-06-14 19:36] #2653 closed

[2022-06-14 19:38] frederikhors commented on #2653
Yeah. I think it works. How many things to set!

[2022-06-14 19:38] frederikhors commented on #2653
Thanks!

[2022-06-14 22:39] scraymondjr opened #2654 "entproto: Invalid template defined"
Generating service implementation fails with error
[code]

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1. Generate protobuf from an annotated ent schema enabled with `entgql.Service()`
2. Run `go generate ./...`

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Entcontrib | v0.2.1-0.20220609194656-bea889a722a8|

[2022-06-15 12:59] piyongcai commented on #2639
thanks your reply.

but when you query with m2m, eg: User <-> Role.
you can call
[code]

I commit a pull request to fix this.
place check it.

[Fix M2M Join missing schema](https://github.com/ent/ent/pull/2640)

[2022-06-15 14:10] #2587 closed

[2022-06-15 19:46] giautm commented on #2643
You can put the mapping in gqlgen.yml, so the extension will pick the right type for Input object. I'm so sorry about that magic! You can see the example here: https://github.com/ent/contrib/blob/master/entgql/internal/todo/gqlgen.yml#L32-L39

[2022-06-15 20:17] anttioo commented on #2643
Ah yes absolutely the mapping needs to be done anyways in either the gqlgen.yml or some included .graphql file with a directive. It is very much possible that i expressed myself badly but the issue has nothing to do with type mappings and all about the point is that with current implementation of the graphql file generation it is impossible to use JSON type fields in a schema where entgql.Mutation

[2022-06-15 21:08] frederikhors commented on #2597
I can confirm it works.

[2022-06-16 03:55] renjun0106 commented on #833
+1

[2022-06-16 06:51] gmars commented on #252
This requirement is necessary because it is unlikely that any of the project's data will be completely erased. Preferably a globally configurable feature. @a8m Is there a plan?

[2022-06-16 10:21] renjun0106 commented on #833
@gqgs hooks for tracing can look https://github.com/qustavo/sqlhooks

[2022-06-16 14:33] #2654 closed

[2022-06-16 14:35] rotemtam commented on #2654
hey @scraymondjr
fixed with https://github.com/ent/contrib/pull/337 can you `go get entgo.io/ent/contrib@master` and try again?
thanks

[2022-06-16 15:58] frederikhors opened #2656 "Where clause not entirely used in the SELECT query after the UPDATE"
I'm using tenant_id column with Filter rule as you suggested with that example. It is working good but now I found this issue.

When I edit a player (simply changing a field, for example) it executes these queries all in the same transaction:

[code]

1. the first one is to get the player for business operations and it is using `tenant_id`, good

2. the second one is the UPDATE and it is using `te

[2022-06-16 16:16] a8m commented on #2656
Hey @frederikhors!
This is actually a correct behavior and it's explained [here](https://github.com/ent/ent/blob/master/dialect/sql/sqlgraph/graph.go#L701-L703).

TL;DR, in case one of the fields used by the predicate were changed by the UPDATE statement the SELECT won't return any value. Therefore, in case **there's a match** we rely only on the ID field that **identifies the matched user** as it

[2022-06-16 16:17] #2656 closed

[2022-06-16 16:31] frederikhors commented on #2656
Ok. Thanks. I think the multi primary keys feature we'll "fix" this too.

[2022-06-17 07:55] frederikhors opened #2658 "[FR] Custom error for `violates foreign key constraint`"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would like to have an error for something like:

[code]

## Motivation 🔦

Now I can only find these custom errors:

![image](https://user-images.githubusercontent.com/41120635/174252316-d2ba600a-4cdc-4fc4-a6ee-8f4e3a323751.png)

I tried

[code]

but it

[2022-06-17 08:04] a8m commented on #2658
Hey @frederikhors! Just to make sure I understand the issue.
You get a constraint error and you want to return back to the user a different error? `ent.IsConstraintError` does not return `true` for the error mentioned above?

[2022-06-17 08:06] frederikhors commented on #2658
Nope.

Yep.

[2022-06-17 08:06] frederikhors commented on #2658
I'm using pgx now.

[2022-06-17 08:07] a8m commented on #2658
Can you please create a small example that reproduces this issue with https://github.com/ent/bug? Thanks 🙏

[2022-06-17 08:07] frederikhors commented on #2658
It would also be amazing to have the `ID` of the entity blocking the update/delete so I can query it and show user info about.

[2022-06-17 08:09] frederikhors commented on #2658
Yeah. I'll try, I don't have much time now.

But if you have an app right now you can try delete one entity you're already using with a FK and you can see that `ent.IsConstraintError` is not returning true.

[2022-06-17 08:51] frederikhors commented on #2658
Done! https://github.com/frederikhors/ent-iss-2658

If you debug the test it will print https://github.com/frederikhors/ent-iss-2658/blob/master/bug_test.go#L70.

[2022-06-17 12:56] frederikhors opened #2659 "Using `field.Other` generates GraphQL type which `gqlgen` doesn't recognize"
Using:

[code]

generates this in ent.graphql:

[code]

which is rejected by gqlgen with:

[code]

How we can fix this?

[2022-06-17 13:02] a8m commented on #2659
Hey! Use the `entgql.Type` annotation. See examples in contrib repository:
https://github.com/ent/contrib/blob/master/entgql/internal/todo/ent/schema/category.go#L59-L60

If you need further support with this, tag @giautm or me on Discord.

[2022-06-17 14:45] frederikhors commented on #2659
Because now

[code]

uses `JSONB` on DB and not `character varying[]` anymore.

[2022-06-18 16:32] frederikhors opened #2660 "[FR] Gqlgen `Boolean` are `*bool` Go != Ent's `bool`"
This code

[code]

generates in `ent.graphql`

[code]

which gqlgen changes in

[code]

which are not the same as in `gql_where_input.go`:

[code]

Can we find a way to make gqlgen generate `bool`?

[2022-06-18 23:12] tmc opened #2662 "enttest.Open is not goroutine-safe"
Concurrent calls to `enttest.Open()` (which you might encounter when parallelizing test runs via `t.Parallel()`) encounter a data race in the lazy/unsychronized initialization of t.columns in `func (m *Migrate) setupTable(t *Table) {`.

[2022-06-19 07:21] jesson1 commented on #1630
use field.Int64

[2022-06-19 07:43] a8m commented on #2662
Hey @tmc and thanks for reporting this. I can work around this by either adding a lock to the migration or copying the tables.  I think the latter is preferred but requires more work.

I'll give it a try and update you.

[2022-06-19 11:34] #2658 closed

[2022-06-19 11:34] a8m commented on #2658
Fixed with https://github.com/ent/ent/pull/2664. Thanks for the example repository 🙏

[2022-06-19 12:00] a8m commented on #2660
Hey @frederikhors 👋
Don't you work with [authbind](https://github.com/ent/contrib/blob/master/entgql/internal/todo/gqlgen.yml#L15)? If not, why do you need these double definitions?

cc @giautm

[2022-06-19 20:48] cameront commented on #2493
Have you gotten this to work?

My go.mod indicates I'm using ent as of a commit today:

[code]

And I also see that my module cache has the correct template
[code]

But my generated schema still doesn't have that function and I can't figure out why.

[2022-06-19 20:51] cameront commented on #2493
Gah. 2 seconds after sending I realized I forgot to add the `--feature sql/versioned-migration` to my generate.go. That solved it.

[2022-06-20 05:32] #2662 closed

[2022-06-20 15:58] #2493 closed

[2022-06-20 16:51] wenerme opened #2666 "change id type to string failed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

migration failed with

[code]

the executed sql

[code]

the column become **bigint**

## Expected Behavior 🤔

## Steps to Reproduce 🕹

## Your Environment 🌎

| Tech        | Version |
|

[2022-06-20 17:07] a8m commented on #2666
Hey @wenerme and great to see you here again 👋

Can you elaborate on what do you mean by "changing the id type"? What was the `id` type (SQL type) before the migration? Also, how do you run the migration, do you use the `WithAtlas` option or the old migration engine? Thanks

[2022-06-20 17:18] wenerme commented on #2666
Hi @a8m the migration is

[code]

the migrations only contain a `generate_ulid` function.

"change id type to string" I mean with the with the `IDMixin`, I can make a repro tomorrow.

[2022-06-20 21:25] frederikhors commented on #1329
@darestrepov7, can I ask you how are you filtering rows with that bar in the screen? Is user typing something?

[2022-06-21 09:20] wenerme commented on #2666
sorry, my mistake, the gorm code is not cleaned up.

[2022-06-21 09:20] #2666 closed

[2022-06-21 09:35] wenerme commented on #1932
This should works now

https://github.com/wenerme/ent-demo/blob/283783e0751c2f890a4f1e0852a17d4fe3530999/ent/schema/mixin_id.go#L77-L89

[2022-06-21 09:42] wenerme opened #2669 "sql default syntax error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

https://github.com/wenerme/ent-demo/blob/e2d349bcc4fc5c90e1d3df5bfff22aad9345eb44/ent/schema/mixin_id.go#L91-L106

[code]

[code]

## Expected Behavior 🤔

default works as expected

## Steps to R

[2022-06-21 10:30] wenerme commented on #2669
Seems I misunderstood the `schema.WithDir(dir)`, I thought this is where I put migration sql files.

[2022-06-22 03:08] hut8 opened #2671 "Migrations not generated if only annotations change"
Generally, when I change something in the schema, a migration can be performed. I'm using SQLite. So, when I change a column to be nullable, the migration will fail (which I expect) because SQLite does not support changing a column from NULL to NOT NULL and vice versa. But I recently changed my schema using an annotation so that an existing foreign key became `ON DELETE CASCADE`:

It was:

[code]

[2022-06-22 17:28] frederikhors opened #2673 "[FR]: Handle `empty predicate` with no error at all"
Using gqlgen if I use an empty `{}` for a `WhereInput` object I get the error:

[code]

**Why?**

Can we detect that there are no predicates and avoid adding that `WhereInput` to the query?

It's very common to have `{}` (empty object) with Javascript clients using reactive query builders.

For example using something like this I get `{}` for `where`:

- query.svelte:

[code]

Am I wrong?

[2022-06-22 17:33] frederikhors commented on #2673
Updated example.

[2022-06-22 22:13] frederikhors opened #2674 "[FR]: Querying polymorphic one-2-one with `trackable_id` column"
I'm having hard time converting Gorm/Bun code to Ent.

[As already asked](https://github.com/ent/ent/discussions/2631) I need a way to define one-2-one/one-2-many "polymorphic" relations.

Right now for the one-2-one I'm trying with this code:

[code]

and I'm querying `payments` with:

[code]

but the queries are wrong:

[code]

because `1,2,3,4,5,6` are `payment`'s `id` column values, not `track

[2022-06-23 08:20] frederikhors opened #2675 "[FR] Global `Annotations(entgql.Unbind())`"
Using ent & gqlgen with no layers in between it is very useful to have `Annotations(entgql.Bind())` by default as it is now.

Using ent & gqlgen with a "domain" layer (with adapters/converters etc.) like I'm doing right now I found very wasteful to have `Bind()` where it is not needed by the queries (maybe because some parents are not requested or needed).

So I'm using dataloaders for this case o

[2022-06-23 10:26] frederikhors commented on #2673
Fixed by https://github.com/ent/contrib/pull/342.

[2022-06-23 10:26] #2673 closed

[2022-06-23 10:36] frederikhors opened #2676 "`.Paginate()` doesn't take `query.Where()` into account"
## Current Behavior 😯

If I use this code:

[code]

the final query doesn't take `query.Where(entPlayer.TrackableType("TRACKABLE_TYPE_NAME"))` into account.

If I don't use `.Paginate()` and use `.All()` it works.

## Expected Behavior 🤔

I think `.Paginate()` should work both with `.Where()` and `Input.Where` predicates.

## Your Environment 🌎

| Tech     | Version

[2022-06-23 10:56] a8m commented on #2676
Hey! It's supposed to work because I used it myself.

Please, provide a small example to reproduce this and I can check it. Thanks 🙏

[2022-06-23 11:09] a8m commented on #2675
`Bind` collects only GraphQL fields (in this case, edges) that were requested in the Query.

In case you are using `entgql.Unbind()` everywhere, you can attach this annotation to all edges using a custom codegen hook. See: https://entgo.io/docs/code-gen#code-generation-hooks

[2022-06-23 11:54] a8m commented on #2671
Closing because the suggestion above should solve the issue, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this 😎

[2022-06-23 11:54] #2671 closed

[2022-06-23 12:00] roger2hk opened #2677 "Broken logo image in ent doc footer"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

<img width="716" alt="image" src="https://user-images.githubusercontent.com/2505465/175293471-9fdd0af4-87d5-47f9-95de-6872cf9ae3c0.png">

## Expected Behavior 🤔

<img width="695" alt="image" src=

[2022-06-23 12:31] frederikhors commented on #2676
I'm investigating this and maybe I'll create reproduction.

[2022-06-23 12:43] a8m commented on #2677
Hey @roger2hk! It's great to see you here again 😎

Fixed with #2678. Closing

[2022-06-23 12:43] #2677 closed

[2022-06-23 12:44] #2676 closed

[2022-06-23 12:53] frederikhors opened #2679 "`.Paginate(ctx)` return empty `Edges` if called from dataloaders"
## Current Behavior 😯

[I thought it was another problem](https://github.com/ent/ent/issues/2676) but now I understood that if the below query is called by another one it returns empty `.Edges`:

[code]

If I use `query.Paginate(context.background())` **it works!**

If I don't use `.Paginate()` and use `.All()` it works.

I'm calling the second query from dataloaders.

Maybe the second call to `Pa

[2022-06-23 13:00] frederikhors commented on #2679
@a8m answered on discord:

[2022-06-23 13:03] frederikhors commented on #2679
I think this is really a bad situation because the second `.Paginate()` is called by dataloaders not directly by gqlgen. And in the context there is the "first" gqlgen metadata.

Am I right?

[2022-06-23 13:48] frederikhors commented on #2679
The dataloader I'm using is like this:

[code]

I don't think there is something broken with it.

[2022-06-23 13:53] giautm commented on #2679
How do you implement the Handle function?

PS: You may not need to use dataloader with EntGQL, because Ent already optimize for N+1 issue.

[2022-06-23 14:50] a8m commented on #2679
May I ask what happens if you call `All` instead of `Paginate`?

[2022-06-23 14:54] frederikhors commented on #2679
The problem is with `paginate()` only.

[2022-06-23 16:08] giautm commented on #2679
I think `Paginate()` was designed to work best with the EntGQL extension. It's based on the context from GQLgen to preloads edges.

If you can share more detail about your use-cases (In the private talk) I think we can help more.

[2022-06-23 17:57] frederikhors commented on #2679
With all the NDA I think it's impossible. In a few days I can recreate a complete repro with gqlgen and dataloaders.

[2022-06-23 19:47] hartmamt opened #2681 "Validation issues with GRPC when using uppercase values in enums."
Running into an issue with protoc-gen-entgrpc and enums.  There is a conversion happening that is lower casing enum values causing a validation error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Given a schema like this:

[code]

It gener

[2022-06-23 19:48] hartmamt commented on #2681
I can try to add to this later if needed, including a reproduction of the issue. I just need some more time to pull that together. @rotemtam

[2022-06-23 19:50] #2675 closed

[2022-06-23 20:46] frederikhors commented on #2679
Guys, am I correct in saying that when I call `Paginate()` ent eager loads the edges required by the graphql query, but if for example I'm using a query with `.First()` I have to manually call `.CollectFields()`?

To be more specific, I'm trying to remove all the manual resolvers from gqlgen.yml, example:

[code]

If I'm querying with:

[code]

Ent correctly (and amazingly) eager-loads `team`, `ga

[2022-06-23 20:54] a8m commented on #2679
You're right. `entgql` does not change the base templates of Ent and that's why fields collection is not enabled in `First` or `All`. However, you can call `CollectFields` as you mentioned, or just call paginate with `first` set to 1. I hope it helps.

[2022-06-24 06:27] micnncim opened #2682 "Is there a way to validate a field based on another field?"
I want to validate a field using another field like the following:

[code]

Is it possible to get other fields' values inside there?

[2022-06-24 06:37] a8m commented on #2682
Hey @micnncim 👋

Yes, the way to do it in Ent is mutation hooks. See [schema hooks](https://entgo.io/docs/hooks#schema-hooks) as an example. You can also configure a hook to be executed only if a specific field or more were changed by the mutation.

Please, let me know if you need help with it or I can close this issue. Thanks

[2022-06-24 06:39] a8m commented on #2679
I think we can close this issue. Please, feel free to reopen if you find anything in Ent.

Thanks ❤️

[2022-06-24 06:39] #2679 closed

[2022-06-24 07:02] godcong opened #2683 "Whether there are plans for generic support"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Motivation 🔦

1. much of the code is now not reusable.
2. the same code cannot be accessed through a unified interface due to different types.
3. I want to add some generic methods for ent.

[2022-06-24 08:46] micnncim commented on #2682
Thanks @a8m,

Hooks would work well for me. However, I've found `XXXFunc` under the `<project>/ent/hook` package is unavailable under the `<project>/ent` package since the hook package imports the `<project>/ent` package. Any idea to avoid this issue?

[2022-06-24 09:07] a8m commented on #2682
Defining **schema hooks** with typed mutations use the generated API, and therefore, you need to follow [this guide](https://entgo.io/docs/hooks#hooks-registration) in order to use them.

Other alternatives, are to register hooks on runtime (e.g. `client.Use` or `client.T.Use`) or use untyped-mutations in hooks (i.e. `ent.Mutation`).

[code]

[2022-06-24 09:26] micnncim commented on #2682
Thank you, I missed that. Closing this issue as I confirmed it works for me.

[2022-06-24 09:26] #2682 closed

[2022-06-24 10:07] frederikhors opened #2684 "403 Access Denied for blog subscription"
I tried to subscribe to blog using RSS or ATOM but I get errors.

Manually opened links and I get 403: https://entgo.io/blog/rss.xml | https://entgo.io/blog/atom.xml.

[2022-06-24 11:03] frederikhors commented on #2674
Polymorphism is tracked here: https://github.com/ent/ent/issues/1048.

[2022-06-24 11:03] #2674 closed

[2022-06-24 14:15] rltvty opened #2685 "Invalid imports created when generating code for an object using more than one goType"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

might be related to https://github.com/ent/ent/issues/1565

## Current Behavior 😯

In the attached bug-repo, there are two versioned proto packages :
* `ent_multiple_proto_bug.bar.v1alpha`
* `ent_multiple_proto_bug.foo

[2022-06-24 21:06] a8m commented on #2685
Added https://github.com/ent/ent/pull/2686 which should address this issue. I tested it on your repository and it worked fine, would you mind checking it too? You can `go get` a specific branch or commit to try this.

I'll add some tests for the PR tomorrow and will merge it 😎

[2022-06-25 08:05] #2685 closed

[2022-06-25 08:06] a8m commented on #2685
Closed with #2686. Please, update to the latest master using `go get entgo.io/ent@master` and let me know if you have any troubles with it. Thanks

[2022-06-26 00:07] frederikhors opened #2689 "[FR] Methods like entgql's `.WithPlayerFilter()` or `WithPlayerOrder()` for "basic" ent too"
I'm using `.Paginate()` many times using `PlayerWhereInput` and `PlayerOrder` structs.

[code]

It's very productive to use these structs directly from queries to Ent.

But now I tried to use `.All()` for the first time and I realized that maybe there is **not an easy way** to use that struct from graphql queries input using methods such `ent.WithPlayerOrder()` and `ent.WithPlayerFilter()` and I t

[2022-06-26 07:45] #2669 closed

[2022-06-26 16:47] frederikhors commented on #2689
@a8m pointed me in the right direction on discord:

and **it works amazingly** using this code:

[code]

Now I need help for the `.Order()` part.

[2022-06-26 17:00] frederikhors commented on #2689
I created https://github.com/ent/ent/pull/2691 for this.

[2022-06-26 23:23] frederikhors opened #2692 "Timezone different from the DB one"
Right now I'm using this field:

[code]

The column created in Postgres is:

[code]

The value in Postgres is saved without timezone:

[code]

even if I expect it to be `GMT+2` but I'm using PG in Docker and using the PG query:

[code]

I get:

[code]

So OK.

But the strange thing is I get from Ent query (a simple `.First(ctx)`) the value:

[code]

This is a mess on the clients (where an UTC valu

[2022-06-27 03:26] xu568 commented on #1472
Do we have any updates on this? I think it is a very useful feature.

[2022-06-27 10:04] frederikhors opened #2693 "[FR] Improve docs with 3 new sections"
I have been using Ent for a few days and in addition to disturbing on the chat and in the issues I very often look for things that I cannot find in the docs.

The last one a while ago I found it [here](https://github.com/ent/ent/issues/2031) and I wanted so much to find it in the docs: "How to setup `ON DELETE CASCADE` with Annotations".

I got an idea, can we put up three new entries for the thre

[2022-06-27 10:18] a8m commented on #2692
Hey @frederikhors, what database drivers do you use, `pg` or `pgx`?

[2022-06-27 10:23] rotemtam commented on #2681
@hartmamt,
Thanks for reporting this!
I'm looking into this and will update.

[2022-06-27 10:28] a8m commented on #2692
In most drivers, there are options to set up the location for `time.Time` values. This changes the connection/client behavior and not the database configuration. I hope it helps.

[2022-06-27 10:33] a8m commented on #2683
Hey @godcong and it's great to see you here again 👋

We plan to publish a proper roadmap for v0.12 after releasing v0.11 (really soon). In v0.12, we'll start experimenting with generics, and mainly work on reducing the amount of the generated code. I'll update the issue after v0.11 is released and you're welcome to join our Discord server as we may discuss some ideas and thoughts there while worki

[2022-06-27 10:33] #2683 closed

[2022-06-27 10:55] frederikhors opened #2694 "[FR] Use pgx native interface improving performances"
I'm better studying [pgx](https://github.com/jackc/pgx) and found out that we can improve performances by using the native interface instead of the `stdlib` one.

![image](https://user-images.githubusercontent.com/41120635/175925206-62265bd9-3a79-42cb-a28a-750556b236e5.png)

The problem now is that ent [is using `database/sql`](https://github.com/ent/ent/blob/master/dialect/sql/driver.go#L9) only.

[2022-06-27 10:56] frederikhors commented on #2692
I'm using `pgx`. I think this is the cause. I'll update this issue in a few moments.

[2022-06-27 10:56] frederikhors commented on #2694
![image](https://user-images.githubusercontent.com/41120635/175926041-9f49c4bc-8037-4bc3-b284-a34e64e2efa4.png)

[2022-06-27 12:13] #2681 closed, assigned to nobody

[2022-06-27 20:22] ks2211 opened #2695 "Migrations with DiffHooks failing when setting a Schema Name"
Migrations with DiffHooks failing when setting a Schema Name #2695

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I run a migrations with atlas and DiffHooks, specifically setting a Schema Name in the DiffHook, the migration fails.
It

[2022-06-27 22:53] frederikhors opened #2696 "Record created with `ID == 0` if using upsert methods and `uint64` ID field"
Is it possible that using upsert feature flag methods if the object has `ID == 0` and If I'm using this ID type:

[code]

it creates the record with `ID == 0` in DB?

How can I fix?

[2022-06-27 23:02] frederikhors commented on #2696
I think this was my mistake. I'll reopen if not.

[2022-06-27 23:02] #2696 closed

[2022-06-28 01:00] frederikhors opened #2697 "`constraint failed: one of [x] is already connected to a different y` but it's the same ID"
## Current Behavior 😯

I'm encountering this strange issue:

[code]

the "different team_player" is the same, but it doesn't understand it.

I think this is a bug.

## Expected Behavior 🤔

It recognizes is the same ID.

## Steps to Reproduce 🕹

I don't have time right now. :sad:

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.18.3  |
| Ent         | en

[2022-06-28 15:51] frederikhors commented on #2692
This has nothing to do with Ent. [It's a pgx quirk](https://github.com/jackc/pgx/issues/1195) unfortunately.

SO answer: https://stackoverflow.com/questions/72771272/how-to-setup-pgx-to-get-utc-values-from-db.

They suggest a custom type. More code, more issues!

[2022-06-28 15:51] #2692 closed

[2022-06-28 16:39] frederikhors opened #2700 "[FR] Custom or default prefixes for generated packages"
Right now I have this situation in my files:

[code]

Do you see the problem?

I need an import name for `project/ent/player` and others.

Because I ave the same name for the domain (which I use everywhere in the codebase).

This is not a problem until I generate files and `goimports` seems to not discover the `entPlayer/entCoach/entTeam/entBoat` packages (and this is strange and I need to better

[2022-06-28 16:42] a8m commented on #2700
Hey @frederikhors 👋

Thanks for suggesting this! I'll experiment and check if it's possible to achieve this with [codegen hooks](https://entgo.io/docs/code-gen#code-generation-hooks) and will update you.

[2022-06-28 16:43] frederikhors commented on #2700
Thanks. I'm reluctant to use hooks because the more custom code there is to write the more errors there are.

In my opinion it should be put as an option directly in Ent.

[2022-06-28 18:09] a8m commented on #2695
Hey @ks2211 and thanks for reporting this.

Just a quick question before I continue investigating it. What database do you use, SQLite or PostgreSQL? (issue mentions PostgreSQL, but the repo uses SQLite).

[2022-06-28 19:09] a8m commented on #2695
I just ran the previous version of the code without any issues. See results:

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/7413593/176263922-660c49c3-e32b-4957-9ced-3f58e4a19b46.png">

A modified version of your code:

[code]

[2022-06-28 21:40] a8m commented on #2697
Hey @frederikhors and thanks for opening this issue.

This is the expected behavior and not a bug. Unlike `Set`, you can't `Add` an edge multiple times, even if it's connected to the same node. We treat it as a duplicate edge and therefore calling `Add` with the same values fails as duplicate edges are not allowed (they may contain metadata with different values). This behavior is the same for all

[2022-06-28 21:40] #2697 closed

[2022-06-28 22:20] frederikhors commented on #2694
I'm already using `pgx/v4/stdlib`.

I'm talking about using the native interface, not this legacy layer. Read the first post.

[2022-06-29 07:34] a8m commented on #2621
Hey @lagzi and thanks for reporting this.

I went over your example and the problem is as follows: for M2M edges, Ent creates a join-table with the relation name. Since your relation/edge name is too long, databases will return an error as their identifier limits are 64 for MySQL and 63 for PostgreSQL.

Unlike indexes and FK constraints, we prefer to not generate a custom (hash) name here and be v

[2022-06-29 08:27] #2596 closed

[2022-06-29 10:19] youngkai opened #2702 "sql/upsert wrong"
<img width="565" alt="image" src="https://user-images.githubusercontent.com/16010993/176413412-0e8a1400-716a-4029-a75d-fdb60e4b47e6.png">
<img width="788" alt="image" src="https://user-images.githubusercontent.com/16010993/176413524-75128b06-6d7d-4399-812c-7b5c3ada4c53.png">
<img width="509" alt="image" src="https://user-images.githubusercontent.com/16010993/176413577-dde3bea2-7f29-4da1-a95f-b8419

[2022-06-29 10:20] youngkai commented on #2702
All ints will be like this

[2022-06-29 10:31] a8m commented on #2702
Hey @youngkai and thanks for reporting this.

What version do you use? Can you try to test it on the latest master version? Thanks 🙏
[code]

[2022-06-29 10:34] youngkai commented on #2702
<img width="744" alt="image" src="https://user-images.githubusercontent.com/16010993/176416348-e3349e5a-982a-4a60-9124-1774b9a2776c.png">

not work

[2022-06-29 10:42] youngkai commented on #2702
ent v0.10.0  is perfect  thx @a8m

[2022-06-29 10:44] #2702 closed

[2022-06-29 10:56] lagzi commented on #2621
@a8m Hey, thanks so much for the reply!

I think I provided a bad example, as this demonstrates a problem with table name, and I'm experiencing index and constraint issues (that aren't being hashed).

**I updated the repo and placed the logic in the test.**
The generated diff (which is expected to be empty) generates this:
[code]

Sorry for the confusion, but your suggestion still doesn't help in

[2022-06-29 12:00] a8m commented on #2621
Thanks for clarifying. I just submitted a patch to address it https://github.com/ent/ent/pull/2703

You're welcome to give it a try and update me if it solved the problem or not. Thanks 🙏

[2022-06-29 12:17] a8m commented on #2660
I think giving a default value in GraphQL (`false` in this case) should solve the issue. @giautm, wdyt?

[2022-06-29 14:04] ks2211 commented on #2695
hey @a8m thanks for that snippet. I used that and this is what I saw in the debug logs
[code]

when I do a `\dt *.*` in psql, I don't see those tables (the schema exists). I get a relation does not exist for `\d+ "mytestschema"."tenants"`

I also added an http server to see what happens when I try the migrations that way and it was the same as above. It created the schema but not the table migrati

[2022-06-29 14:13] a8m commented on #2695
Hey! I just ran it again on a **fresh database container**, and this is the debug output:

[code]

It works as expected. I verified it both by connecting to the database and querying the information schema, and also ran `atlas inspect` on the container. Both tests show correct result:

[code]

[code]

[2022-06-29 14:52] lagzi commented on #2621
@a8m That's great thanks! It solved almost everything, but I'm still getting this:
[code]

Any thoughts?

[2022-06-29 15:17] a8m commented on #2621
These indexes have identifiers longer than 63 chars ([PostgreSQL max identifier length](https://www.postgresql.org/docs/current/limits.html)). Do you use the branch in my PR?

If you can reproduce this in your repository I can try to help.

[2022-06-29 15:44] ks2211 commented on #2695
Thanks!

I think when I run the TenantMigrations in my code (in my private repo), it's using the `public` schema to migrate the tables from instead of creating tables from scratch in my new schema.

Here's the current work flow (working on updating my example code to follow this workflow):

1. In `main.go` I can run a `TenantMigration` with no issues. It creates the schema + tables.
There are 6 ta

[2022-06-29 19:37] ks2211 commented on #2695
I was able to resolve my issue using a little bit of hacky code (I replied in the slack thread). The tldr is I use the CreateFunc in a schema Hook to grab all of the generated *migrate.Tables and pass that to the next.Create().
Then in the schema DiffHook, I set these tables as the desired Tables in the Schema to be created.

This seems to resolve my issue so I will close this issue

[2022-06-29 19:37] #2695 closed

[2022-06-30 06:17] lagzi commented on #2621
@a8m I reproduced it in the repo, let me know :)

[2022-06-30 07:00] a8m commented on #2621
Found the issue. The name of the unique column (i.e. foreign-key) there is truncated by the database and that's why Atlas/Ent can't recognize it. I'll work on solving this, but for now, I'll suggest you use a custom `StorageKey` for edges with long names to configure their column names.

Opening and assigned it to me.

[2022-06-30 07:02] lagzi commented on #2621
@a8m Thanks! Will do

[2022-06-30 17:47] a8m commented on #2601
The example was improved and the website was updated according to the new changes. Please, see https://entgo.io/docs/privacy#multi-tenancy and https://github.com/ent/ent/tree/master/examples/privacytenant.

Closing

[2022-06-30 17:47] #2601 closed

[2022-07-01 14:42] frederikhors opened #2706 "error: foreign-keys: field edge cannot be immutable"
## Current Behavior 😯

I'm trying to use this code to setup a Foreign Key for `tenant_id` column:

[code]

but on generation ent throws with:

[code]

**Why?**

## Expected Behavior 🤔

I need `.Immutable()` to avoid wrong changes using those structs in code.

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.18.3  |
| Ent         | entgo.io/contrib v0.2.1

[2022-07-01 20:45] seyedmmousavi opened #2710 "`ent.NotSingularError` error on using `Only()` with `limit(1)`"
Following query results `ent.NotSingularError` error whereas the query is limited and certainly returns JUST ONE result.
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹
Create a query and use `Limit(1)` with `Only()`. This causes to r

[2022-07-02 11:20] a8m commented on #2710
Hey @seyedmmousavi 👋

`Only` was not meant to work with `Limit`. If you want to get one record, use `First` instead and you'll get a `NotFoundError` in case of no matches.

Closing, but please feel free to continue the discussion if you still have questions or join our [Discord server](https://discord.gg/qZmPgTE6RX).

[2022-07-02 11:20] #2710 closed

[2022-07-02 11:27] a8m commented on #2706
Hey @frederikhors 👋

Supporting immutable edges is something I wanted to add a while ago. I'll add it to my upcoming tasks and you're welcome to track its progress at https://github.com/ent/ent/issues/900. Thanks for raising up this issue.

[2022-07-02 11:27] #2706 closed

[2022-07-03 00:29] frederikhors opened #2711 "error: "incosistent id values for batch insert" using `CreateBulk().OnConflictColumns()`"
I am desperate, I need help. I just discovered this problem with the code in production.

I'm using:

[code]

with:

[code]

and I have these `players`:

[code]

These two players saved with that code throws with:

[code]

I'm using `uint64` as ID type.

Please, help me! I'm desperate! :crazy:

[2022-07-03 01:14] frederikhors opened #2712 "No PG schema change with `.Annotations(entsql.Annotation{Size})` or `.MaxLen()`"
## Current Behavior 😯

Using:

[code]

or:

[code]

my DB schema is:

[code]

## Expected Behavior 🤔

I expect:

[code]

Am I wrong?

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.18.3  |
| Ent         | entgo.io/contrib v0.2.1-0.20220629201726-e738ef866e51, 	entgo.io/ent v0.10.2-0.20220701203018-4f7b1739cdd3   |
| Database    | PG   |
| Driver      |

[2022-07-03 01:55] #2449 closed

[2022-07-03 12:50] giautm commented on #2711
I think you should change your code to update for existing object. Instead of call the create function.

[2022-07-03 12:56] a8m commented on #2711
Hey! The reason for this behavior is mentioned [here](https://github.com/ent/ent/blob/master/dialect/sql/sqlgraph/graph.go#L1017-L1020).

We never had a use case like before and that's why we didn't implement it specifically for PostgreSQL (SQLite added support for RETURNING clause a year ago, I think we can support it here as well).

Assigning it to myself.

[2022-07-03 12:56] frederikhors commented on #2711
Isn't this the concept of UPSERT?

[2022-07-03 13:04] a8m commented on #2712
Hey @frederikhors and thanks for opening this issue. We actually discussed this issue on Discord a week or two ago.

The reason we didn't implement it in PostgreSQL is because it does not improve performance. See:

![image](https://user-images.githubusercontent.com/7413593/177040858-0acbac24-68af-4454-815f-6f7348abc6f4.png)

However, in case you really need it, we can add support for it in Atlas.

[2022-07-03 13:09] frederikhors commented on #2712
Ok. It was for performances reasons. Thanks.

[2022-07-03 13:09] #2712 closed

[2022-07-03 16:48] giautm commented on #2711
You're right, I don't note the `OnConflictColumns` in the code above.

[2022-07-03 17:13] Liooo opened #2713 "Edge schema with upsert raising error"
from discord:
https://discord.com/channels/885059418646003782/885059419107360779/993202569335816292

Having edge schema with FeatureUpsert causes the following error:

[code]

[2022-07-03 17:14] Liooo commented on #2713
@a8m 🙏

[2022-07-03 20:30] a8m commented on #2713
Fixed with https://github.com/ent/ent/pull/2714. Thanks @Liooo for reporting this 🙏

[2022-07-03 20:44] iarunsaragadam opened #2715 "How to import the version with the latest commit in the github repository?"
Hi Everyone,

I am new to golang and this might be a very basic question and I am probably missing something very obvious.

I am trying to follow the documentation of entgo.io and some of the features like
```Through``` are not available in the ```latest``` version. I looked at some examples and got a version like this
entgo.io/ent v0.10.2-0.20220512043615-f2e0bef7a803

For ```Through``` to work,

[2022-07-03 20:51] a8m commented on #2715
Hey @iarunsaragadam 👋🏻

Master branch is always stable. You can get the latest master version using the following command:

[code]

Please, feel free to join our Discord server if you need any help with it. Thanks 😎

[2022-07-03 20:51] #2715 closed

[2022-07-03 20:52] #2713 closed

[2022-07-03 21:13] iarunsaragadam commented on #2715
Thanks @a8m so much for the swift response. I tried to join the slack channel, but I was not allowed and couldn't find the details of the discord server :-(

[2022-07-03 21:15] a8m commented on #2715
You’re welcome 🙂

https://discord.gg/qZmPgTE6RX

[2022-07-04 01:27] Liooo commented on #2713
Thanks @a8m 🎉

[2022-07-04 19:41] frederikhors opened #2716 "[FR] unexported edge column, can we export them?"
If I use this code:

[code]

ent creates this struct:

[code]

Do you see `player_team` & `player_coach` are not exported?

Why?

Can we export them?

I need them when I convert from ent to domain structs.

[2022-07-04 19:49] a8m commented on #2716
Hey @frederikhors,
I think you already know about [edge fields](https://entgo.io/docs/schema-edges#edge-field). Setting the `team_id` (or `player_team`) and `coach_id` as edge fields should solve the issue.

But note, in case it's an existing table with records, you want to map to the previous name using the `StorageKey` option in case you decide to use `team_id` instead of `player_team`. See the

[2022-07-04 20:02] frederikhors commented on #2716
You're right. Sorry for the issue. I think my question was about this:

can we avoid to write that code for each field? Can we have an `.ExportField()` or `.ExportFK()` or something similar or just export those fields?

I like the default name `player_team` instead of `team_id`. I just need to get that from outside.

[2022-07-05 03:02] oclld opened #2717 "proposal: compare index with both index names and fields when doing schema migration"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.
## Summary
i get a problem when doing schema migration with `migrate.WithDropIndex(true)` setted `true` just like below.
[code]
[code]
Custom index name is configured using `StorageKey()`,  but when i add a field to the index without change the custom index name, the i

[2022-07-05 05:15] a8m commented on #2717
Hey @oclld 👋

Using the new [Atlas migration engine](https://entgo.io/docs/migrate#atlas-integration) on the latest master should solve the problem. Please, run the migration with it and report if we can close this issue. Thanks

[2022-07-05 05:22] a8m commented on #2716
There's already a method for that called `Field`. The [`Field` option](https://entgo.io/docs/schema-edges/#edge-field) also gives you the option to configure this field with additional modifiers like all other fields (e.g. struct tags, annotations, etc). Hence, I don't think we need a degraded version of it. @masseelch, @giautm, and @rotemtam - your thoughts, please.

[2022-07-05 05:57] masseelch commented on #2716
Yes, if you have too many schemas and you want to this for every single edge field, you can add a codegen hook to add the annotation as described by @a8m for every schema as part if the code generation.

I agree with @a8m, we don't need an extra option as your issue can be resolved. I don't see any value gained by adding sth like `ExposeFK()`.

[2022-07-05 07:07] oclld commented on #2717
Thanks you @a8m , atlas migration works for this situation. i will close this issue.

[2022-07-05 07:07] #2717 closed

[2022-07-05 12:18] garrettlove8 opened #2720 "Return empty values when querying"
I have a number of columns on a user table that aren't immediately populated with data due to my app's on boarding processes.

For example, after a user signs up with Facebook the data might look like this:

|**Column**|**Value**|
|------|-----|
|first_name|"Garrett"|
|about|""|
|show_walkthrough|true|
|has_onboarded|false|

When I query this data within my `getUser` endpoint, Ent is omitting any

[2022-07-05 14:07] a8m commented on #2720
Hey @garrettlove8 👋

What do you mean by omitting? If you mean on JSON marshaling, you can either set the fields to pointers using the [Nillable](https://entgo.io/docs/schema-fields#nillable) option or drop the `omitempty` using the `StructTag` option.

[code]

[2022-07-05 14:38] kubakl opened #2721 "Fixtures support"
Support insertion of data for testing on development

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would like to be able to write a yaml or json file where I would be able to specify data to be inserted to the DB. And then pass the file path to insert data from it.
## Motivation 🔦

I want to be a

[2022-07-05 23:56] garrettlove8 commented on #2720
@a8m Yup, Nillable did the trick. Thank you so much for responding so quickly!

[2022-07-05 23:56] #2720 closed

[2022-07-06 20:34] frederikhors opened #2725 "`empty predicate PlayerWhereInput: field 'or'`"
I'm having an issue similar to https://github.com/ent/ent/issues/2673.

From one javascript client I'm requesting this:

[code]

because the code on the client is roughly:

[code]

and `searchText` is dynamic and can be `undefined`: is very easy to write the code like that.

Ent throws with:

[code]

Can we avoid this error?

[2022-07-06 20:39] a8m commented on #2725
Hey @frederikhors 👋

This is actually an invalid predicate and we can't accept it. All errors from `<T>WhereInput.Filter` are validation errors (e.g empty `or`, or empty `and`). If you don't care about these validations, you can ignore them.

[2022-07-06 20:41] #2721 closed

[2022-07-06 20:43] frederikhors commented on #2725
Can you show me how?

[2022-07-06 20:43] frederikhors commented on #2725
Please?

[2022-07-06 20:46] a8m commented on #2725
Yes, because the inverse is not possible. e.g. I don't want to allow these types of predicates in my applications and I rely on Ent to do these validations. However, if someone doesn't care about these validations, they can just ignore these errors.
In case we ignore these validations, users who care about them (like me) won't be able to catch them in their product.

[code]

[2022-07-06 20:50] #2725 closed

[2022-07-07 19:19] gmars opened #2729 "Now how can I implement the soft delete function more elegantly?"
- [Yes ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Although I really like the overall design idea of ENT. However, there is still a lot of confusion in the selection, can the client initialization by passing in the form of parameters to set the soft delete? Physical deletion of every piece of data by

[2022-07-08 14:56] kingzbauer opened #2731 "Versioned Migration: Error in executing the NamedDiff for migration generation."
As per the documentation here: https://entgo.io/docs/versioned-migrations/#generating-versioned-migration-files, when this is run as is, after the first run, subsequent runs fail with such an error:
`2022/07/08 16:57:31 failed generating migration file: sql/migrate: execute: executing statement "DROP TABLE `item_tags`;" from version "20220708104627": Error 1051: Unknown table 'ent_dev.item_tags'`

[2022-07-08 17:53] masseelch commented on #2731
Hey @kingzbauer, thank you for reporting this! I will send a fix ASAP! Sorry for any inconvenience. :bow:

[2022-07-08 18:16] masseelch commented on #2731
Hey @kingzbauer, I just created #2732 to adsress your issue and I will merge once it got approved.

[2022-07-08 18:26] #2731 closed

[2022-07-08 22:15] kingzbauer commented on #2731
Thank you @masseelch this is of great help. Versioned Migration is something I've been really looking forward to. Much appreciated

[2022-07-09 09:54] kingzbauer opened #2733 "Moving from Auto-Migration to Versioned Migrations"
After generating the initial migration file, [the docs](https://entgo.io/docs/versioned-migrations#create-an-initial-migration-file-reflecting-the-currently-deployed-state) suggest to make sure that the ent type order matches what's already in the database if you are using globally unique ids. 2 Questions:

1. This editing causes the hash validation to fail, is there a way to easily regenerate the

[2022-07-09 10:33] kidlj opened #2734 "migration: auto foreign key column rename when edge owner changes"
When two tables' relationship remains(one2one, one2m e.g.), but the edge owner has changed from one table to the other, migration should be able to rename the foreign key column automatically.

For example, here we have two tables 'Accounts' and 'Users', which have one2one relationship between them, before the edge owner is 'Accounts':

[code]

Then we decided to change the edge owner to 'Usesr' t

[2022-07-10 05:46] kidlj commented on #2684
Same issue here.

[2022-07-11 02:38] zilongliang opened #2736 "ent how 同"

[2022-07-11 10:48] masseelch commented on #2733
Hey @kingzbauer,

Yes, there is, the [Atlas CLI](https://atlasgo.io/cli/reference#atlas-migrate-hash), this is also mentioned in the [docs](https://entgo.io/docs/versioned-migrations#atlas-migration-directory-integrity-file), but only after the part you mention. I will extend the docs here to state what to do :blush:

Yes. Ent will fetch the type ranges by ordering the entries in the `ent_types` t

[2022-07-11 20:37] amrnt opened #2740 "Edge schema doesn't work will with privacy"
Privacy (and maybe hooks) doesnt work with m2m relation that has fields on the edge.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The generated code doesn't compile

## Expected Behavior 🤔

Generator should not yield uncompilable code

##

[2022-07-11 20:44] amrnt opened #2741 "field.ID() on join table doesn't work with custom ID"
Taking the example below, if the IDs were custom ids ie xid, and using `field.ID("user_id", "role_id")` will yield into the following error

[code]

- [ ] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

generator not

[2022-07-12 15:13] #2740 closed, assigned to nobody

[2022-07-12 15:13] #2741 closed

[2022-07-12 15:21] a8m commented on #2736
Closing due to no feedback. Please, feel free to reopen it if you still need help with it.

[2022-07-12 16:59] TheDivic commented on #2494
@Southclaws I think this is Postgres specific.
It works when you specify the conflict target columns using `.OnConflictColumns(...)`

[2022-07-12 21:47] amrnt commented on #2740
@a8m  I have updated the my branch to HEAD and regenerate again, still generating code that wont work

https://github.com/amrnt/ent/tree/m2m-edgeschema-bug

and running the generator again:

[code]

I made a PR: #2743

[2022-07-13 04:44] bodokaiser commented on #892
To supplement Ariel's response, I had to perform these steps for every schema. For example, if you have two schemas `Pet` and `User`, which both have hooks and you want to regenerate the schema from scratch, I had to do:

1. `go generate ./ent` for `User` and `Pet` without any hooks (or privacy policies)
2. add hooks to `User` and `go generate ./ent`
3. add hooks to `Pet` and `go generate ./ent`

[2022-07-13 05:38] zw963 opened #2744 "[Question] Working with exists postgres array column with default value."
Hi, we have a exists golang project switching from gorm to ent, because some reason, we are use ruby on rails for db migration solution.

 we have a users table, which exist a `roles` column, which create use ruby on rails migration like this:

[code]

or when use with gorm, roles column schema is this:

[code]

When dump to the db schema, it raw format present as this:

[code]

Because there is d

[2022-07-13 07:48] a8m commented on #2744
Hey @zw963 👋

What version do you use? Can you please update to the latest master and report if you still get this issue?

[code]

If you need faster support, please free to join our [Discord server](https://discord.gg/qZmPgTE6RX) and ping me there.

[2022-07-13 08:15] zw963 commented on #2744
We are use v0.10.1 before, i follow you guides update to @master,  v0.10.2-0.20220712151345-6c8a1308ec2d

get following error from my another table.

[code]

Any idea? thank you.

[2022-07-13 08:20] a8m commented on #2744
Are you able to reproduce it using an exmaple schema? see https://github.com/ent/bug

[2022-07-13 10:27] kingzbauer commented on #2733
@masseelch thank you. I had actually glossed over that part. This worked.

[2022-07-13 11:06] besrabasant opened #2747 "executing "gql_node" at <$n.ID.Type.Type>: nil pointer evaluating *gen.Field.Type"
I have set up a project with GraphQL integration following the tutorial in the docs., but when I run `go generate ./ent`, I see this error
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.1

[2022-07-13 11:08] a8m commented on #2747
Hey @besrabasant 👋

Can you please update to the latest master and report if you still get this?

[code]

[2022-07-13 11:40] #2744 closed

[2022-07-13 13:09] petrovskiborislav commented on #2638
Hi there
I get the same error:
`Error: failed running ent codegen: execute template "client": template: node.tmpl:377:16: executing "client/fields/additional" at <gqlIDType (filterNodes $.Nodes (skipMode "type")) $.IDType>: error calling gqlIDType: entgql: mixed id types must be type string or implement the graphql.Marshaller/graphql.Unmarshaller interfaces`
I have use case where some of the ids n

[2022-07-13 17:24] BeatsKitano opened #2750 "entgo.io/ent@v0.11.0/dialect/sql/schema/atlas.go:186:19: undefined: migrate.NotCleanError"

[2022-07-13 17:29] #2750 closed

[2022-07-14 12:13] petrovskiborislav opened #2753 "M2M edge fails during data migration using string id in PostgreSQL"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

`failed creating schema resources: sql/schema: create foreign keys for "organizational_unit_specialties": pq: foreign key constraint "organizational_unit_specialties_organizational_unit_id" cannot be implemented`

[cod

[2022-07-14 12:17] a8m commented on #2753
Hey @petrovskiborislav and thanks for reporting this 🙏

What version do you use? Can you please check if you get this on the latest version (v0.11.1)?

[2022-07-14 12:55] petrovskiborislav commented on #2753
@a8m i updated to latest (v0.11.1) but got the same error

[2022-07-14 12:59] a8m commented on #2753
Please, create a reproducible example using https://github.com/ent/bug and I'll give it a look ASAP. Thanks

[2022-07-14 20:10] amrnt opened #2755 "Calling same relay connection with different aliases is not working"
For example, if I have this edge on `Post`

[code]

When I call this query, the results for both `publishedComments` and `draftComments` will be same as `publishedComments`.

[code]

I think this issue was mentioned briefly by @a8m here: https://github.com/ent/contrib/pull/344#pullrequestreview-1020415004

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1

[2022-07-14 20:47] henrywoody opened #2756 "Enum type results in invalid Go identifier error even with custom Go type"
I'm defining an enum field whose values do not produce valid Go identifiers by default (the values are `"+"`, `"~"`, and `"-"`), so to get around this (which was working in v0.9.1) I've created a custom Go type (`HistoryType`) so that the enum value variables are defined manually and have valid identifiers ("Create", "Update", "Delete").

In v0.9.1, ent did not attempt to create enum value variabl

[2022-07-15 07:25] xKakima opened #2759 "Postgres SERIAL type causes error on generation if not put in the ID field."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
After generation, it returns this error
[code]

## Expected Behavior 🤔
It should build as normal

## Steps to Reproduce 🕹

Steps:

1. Create a schema with these fields
[code]
2.  Run `go generate`

[2022-07-15 07:26] a8m commented on #2759
Hey @xKakima 👋

Please, update to the latest master version and report if you still have issues with it. Thanks 🙏

[2022-07-15 07:38] xKakima commented on #2759
Still having issues when running the auto migration

[code]

[2022-07-15 07:46] a8m commented on #2759
You can't change a type of an existing column to serial, because it's not a real type (it's a shortcut for `integer not null default nextval(...)`). I still plan to add support for this in Atlas today (create a sequence, attach it column, etc).

Do you have an existing column that you try to change to serial? What its type currently? If you don't have any data there yet, simply drop the column and

[2022-07-15 07:54] xKakima commented on #2759
Yes, there's currently an existing one. Dropped the whole schema and just regenerated the tables. Works perfectly fine now

[2022-07-15 07:54] #2759 closed

[2022-07-15 07:55] a8m commented on #2753
@petrovskiborislav, I appreciate the help with the example repository! It helped me to find the issue.

In short, the join table didn't use the right `SchemaType` you configured on the `id` fields. This happened because you used a `field.String` with a custom `uuid` schema type (instead of `field.UUID`) for these primary keys. It was solved with https://github.com/ent/ent/pull/2760, and I tested i

[2022-07-15 08:01] #2753 closed

[2022-07-15 08:17] petrovskiborislav commented on #2753
@a8m i updated the example repo first with the master version then regenerated the code but got the same error when i ran the test :disappointed:. Is there something else i should do?

[2022-07-15 08:24] a8m commented on #2753
Make sure you on the latest master commit. If it’s still not working, paste here the version in your go.mod.  Thanks 🙏🏻

[2022-07-15 08:30] petrovskiborislav commented on #2753
Thank you :bow: that worked! I was not getting the latest commit

[2022-07-15 08:36] petrovskiborislav commented on #2753
@a8m just one quick question. Is it okay to use string type for **IDs** as UUID since i can't use UUID type because i have mixed id types like **ints**?

[2022-07-15 08:37] a8m commented on #2753
Yes.

[2022-07-15 11:58] zw963 commented on #2744
Okay, the correct fields schema for above roles should be:

[code]

Even, the display output of this column still not correct, it output `{[{admin 2}] [{1 1}] 2}` instead `["admin"]`, but, this probably another issue i still don't know how to resolve, thank you.

[2022-07-16 06:30] ivanvanderbyl opened #2761 "ent generates invalid code when resolving the pkg name to Go map type"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After upgrading from 0.10.1 to 0.11.1, when I regenerate my app I get this weird output in the dependency imports of some files e.g. `<T>_delete.go`:

[code]

This seems to be a result of having

[2022-07-16 17:33] frederikhors opened #2762 "Very, very strange issue cause copying files in the same directory of `entgql.WithConfigPath`"
## Current Behavior 😯

After hours of debugging I found out the "cause" of this very strange issue.

I'm generating with Ent programmatically using this code:

[code]

with:

[code]

and:

[code]

### The issue

Each file of `copySomeFiles()` is copied in `./internal/gqlgen` instead of other dirs.

**If I comment out the below line everything works!**

[code]

Can you suggest a fix for this?

## Y

[2022-07-16 17:57] a8m commented on #2762
Hey @frederikhors,
I'm pretty sure it isn't an Ent issue but more like a gqlgen thing. See https://github.com/99designs/gqlgen/pull/1511, that unfortunately was reverted.

My suggestion is not to run the 2 tasks in parallel because entgql restores the working directory after gqlgen changes it. See https://github.com/ent/contrib/blob/master/entgql/extension.go#L87-L91.

[2022-07-17 10:25] frederikhors commented on #2762
I answered you there. You're really great @a8m.

[2022-07-17 10:25] #2762 closed

[2022-07-17 13:49] #2761 closed

[2022-07-17 13:49] a8m commented on #2761
Thanks for reporting this @ivanvanderbyl 🙏

Updating to the latest master should solve the issue.

[2022-07-17 14:01] a8m commented on #2756
Thanks for reporting this @henrywoody. I'll give it a look now 😎

[2022-07-17 14:14] #2756 closed

[2022-07-17 14:15] a8m commented on #2756
Fixed with https://github.com/ent/ent/pull/2766. Please, update to the latest master and let me know if you still face issues with it.

It's great to see you here again btw 😎

[2022-07-17 15:26] frederikhors opened #2768 "Disable the ID full capital letters"
Is there an option / a way to disable the `ID` to be in capital letters in full?

Example: in my code all the structs have IDs like:

[code]

and this forces me to change many templates to be able to call ent's `.[name]ID()` methods.

[2022-07-17 17:52] henrywoody commented on #2756
@a8m Yep works fine now, thanks!

[2022-07-18 09:21] frederikhors opened #2770 "Automatic PG columns ordering based on space criterion"
Coming from go-pg/Gorm libraries in which you can describe PG tables like Go structs we were using such alignment for PG tables too because it also coincides with the best practices for sorting columns for space purposes.

[This is a GitLab docs for their developers on "Ordering Table Columns in PostgreSQL"](https://docs.gitlab.com/ee/development/ordering_table_columns.html).

Is there a way we ca

[2022-07-18 10:16] #2716 closed

[2022-07-18 12:00] a8m commented on #2770
This can be a really nice extension or a linter for Ent or Atlas. cc @rotemtam

[2022-07-18 16:48] LuisSC2022 opened #2772 "Hi"

[2022-07-18 17:01] #2772 closed

[2022-07-19 07:34] a8m commented on #2755
Thanks for reporting this, @amrnt 🙏

We currently have a limitation in entql's fields-collection where it expects only one GraphQL field per edge. @giautm and I discussed this and we thought about adding some API to Ent (enabled by a FF) that can be integrated to entgql and solve this issue:

[code]

This API should be transparent to entgql users and a query like the one above should be loaded cor

[2022-07-19 07:40] saltbo opened #2773 "entproto: support service option for grpc-gateway"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

support gen the option for the service

## Motivation 🔦

When we use the grpc-gateway, we should define the method and path in the service option, like this

[code]

[2022-07-19 07:49] rotemtam commented on #2773
Thanks for submitting this, great idea!

 Would you like to contribute this feature? I'm happy to guide you through the implementation

[2022-07-19 08:29] saltbo commented on #2773
I'd be happy to contribute, but I've been busy lately. Maybe a little later.

[2022-07-19 21:45] stonymahony opened #2775 "Create(): Force mandatory fields / advice at compile time"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

ent strives to be as typesafe and explicit as possible, which has been achieved to a great extent.

However, I lack some support in the use of Create().  The following example is the schema for a user. All fields are required.

[code]

The following Crea

[2022-07-20 04:15] rotemtam commented on #2775
Hey @stonymahony
Thanks for reaching out.
I totally understand where you're coming from. This type of error isn't usually caught at compile time, and is instead commonly verified with unit tests.

It would be technically possible to write a linter that is aware of the entity schema and check that every invocation to Create is followed by setting all required fields, but as the decision on which fi

[2022-07-20 04:28] a8m commented on #2775
One common flow is that fields are set in hooks, making it impossible to implement.

When we developed Ent, I thought about defining the methods signature of the builders this way:

[code]

But the approach above was too limited to work with (impossible to pass builders, share mutation objects, set fields in hooks, etc.), and we ended up with the current implementation, which I like a lot 😃

[2022-07-20 21:21] amrnt commented on #2768
https://github.com/golang/lint/issues/124 😁

Ent is using these rules to define what would be capitalized: https://github.com/ent/ent/blob/4a26cab7347abe01b77107560a4117ced3fad9eb/entc/gen/func.go#L288-L292

[2022-07-21 08:13] minje0206 opened #2779 "Matching column orders of bulk inserts and inserts"
Dear,

Hi! I'm just getting started with Ent and have had a very positive experience so far.

I use `ent` to my project, and I got a question as below.
When I use `sqlmock` for test, I noticed that the column order of create and create bulk are different.

[code]

I checked the `sqlgraph` of the dialect and found out that the columns are ordered by column name.
So, I wanna ask How about ordering t

[2022-07-21 08:32] a8m commented on #2779
Hey @minje0206 and thanks for the kind feedback 🙏

The "bulk insert" operation is ordered by column names because there are multiple builders and we want to make sure their values have consistent order. For single insert (one list of values), we can avoid the ordering as it's not needed. I'd prefer to avoid this extra computation if it's not required.

[2022-07-21 08:34] a8m commented on #2775
Closing, but please feel free to continue the discussion on our [Discord server](https://discord.gg/qZmPgTE6RX) 😎

[2022-07-21 08:34] #2775 closed

[2022-07-21 09:40] minje0206 commented on #2779
Hi, thanks for your answer! :D

[2022-07-21 09:41] #2779 closed

[2022-07-22 15:01] carlos0202 opened #2782 "Can we query from multiple schemas present on the same database using ent?"
I have multiple schemas on my database and want to use this package to query data joining between schemas to produce queries like the following:
[code]

Is it possible with the current `ent` package version?

[2022-07-22 19:05] Antonboom commented on #900
+1

[2022-07-23 01:17] CNTWDev opened #2783 "Does ent support geometry type?"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Motivation 🔦

[2022-07-23 03:11] CNTWDev commented on #2783
@a8m thx

[2022-07-23 06:13] BeatsKitano commented on #2052
It don't support jsonb filed Scan() now, has any method to resolve this question?

[2022-07-23 08:15] stonymahony commented on #2775
Thank you for the quick answers and your explanations, these are important arguments that explain why this feature does not exist in this form for a good reason😄

The current implementation should definitely be kept, the flexibility is indeed great.

Inspired by @a8m discarded approach, how about offering this as a 2nd builder, e.g. CreateComplete(....), as an alternative to the existing Create(..

[2022-07-23 12:28] BeatsKitano commented on #2741
execute template "model": template: ent.tmpl:37:30: executing "model" at <$.Annotations.Fields.StructTag.id>: nil pointer evaluating interface {}.id

[code]

[code]

[2022-07-23 12:31] BeatsKitano opened #2787 "field.ID() still don't work with v0.11.1"
it don't work currently

ent version v0.11.1

[code]

[code]

_Originally posted by @BeatsKitano in https://github.com/ent/ent/issues/2741#issuecomment-1193117638_

[2022-07-23 12:33] a8m commented on #2787
Thanks for reporting this @BeatsKitano. Please, provide a complete example using https://github.com/ent/bug.

[2022-07-23 12:46] a8m commented on #2783
Hey @CNTWDev 👋

Yes. Please, see [this example](https://entgo.io/docs/faq#how-to-define-a-spatial-data-type-field-in-mysql) and let us know if you need any further help with it.

[2022-07-23 12:46] #2783 closed

[2022-07-23 12:47] a8m commented on #1682
Hey! I think we can close this issue. Please, reopen if you still face such problems with it.

[2022-07-23 12:47] #1682 closed

[2022-07-23 12:49] a8m commented on #2463
[Edge schema](https://entgo.io/docs/schema-edges#edge-schema) (was added a few months ago) should solve this issue. Please, let me know if I can close this one. Thanks 🙏

[2022-07-23 12:54] a8m commented on #2782
Hey @carlos0202 👋

I think the [`sql/schemaconfig`](https://entgo.io/docs/feature-flags#schema-config) feature flag should help you here. See also a [usage example](https://github.com/ent/ent/blob/master/entc/integration/multischema/multischema_test.go#L38-L43) in our integration tests.

In case you need it only for one or a few queries, you can also use [query modifiers](https://entgo.io/docs/fea

[2022-07-23 12:55] a8m commented on #2782
Closing, but please reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with it. Thanks 🙏

[2022-07-23 12:56] #2782 closed

[2022-07-23 13:13] BeatsKitano opened #2788 "field.ID() still don't work with v0.11.1"
this is my define schema

[code]

## Current Behavior 😯
I got ent error output when i excute follow command
[code]

## Expected Behavior 🤔

Expect to generate multi-key primary

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.18.4  |
| Ent         | 0.11.1   |
| Database    | PostgreSQL   |
| Driver      | https://github.com/jackc/pgx/v4/stdlib       |

[2022-07-23 13:16] BeatsKitano commented on #2788
#### THIS IS A WONDERFUL LIB!!!
I have used it since one year ago. @a8m thanks

[2022-07-23 13:19] a8m commented on #2788
Thanks for the kind words @BeatsKitano 🙏

Unfortunately, composite primary-keys are allowed only in [edge schemas](https://entgo.io/docs/schema-edges/#edge-schema) at this stage. Ent should reject this on codegen time with a better error message.

[2022-07-23 13:19] a8m commented on #2787
Follow up in here https://github.com/ent/ent/issues/2788.

Closing.

[2022-07-23 13:19] #2787 closed

[2022-07-23 13:25] a8m commented on #2122
Hey! Just to follow up on this issue:

1\. In case there's a need to create a `FULLTEXT` index, please use [Atlas Annotation](https://entgo.io/docs/schema-indexes#atlas-support) in your index definition:
[code]

2\. In order to inject custom predicates or modifiers to queries, please see:
- https://entgo.io/docs/predicates#custom-predicates
- https://entgo.io/docs/feature-flags#custom-sql-modifier

[2022-07-23 13:25] #2122 closed

[2022-07-23 13:29] a8m commented on #1182
Hey @haoxf 👋

Custom index type support was added a long time ago and I forgot to update this issue. Please, see https://entgo.io/docs/schema-indexes#atlas-support and let me know if you need any help with it:

[code]

[2022-07-23 13:29] #1182 closed

[2022-07-23 13:34] BeatsKitano commented on #2788
I see. thanks so much @a8m

[2022-07-23 16:12] BeatsKitano commented on #2052
@a8m Could you help us?

[2022-07-23 16:38] BeatsKitano opened #2789 "ScanX() JSON field error when use function Modify() to customize join query. (v0.11.1)"
I hope to customize join quey,  the table has jsonb type field, ent can generate correct query SQL, but ScanX() function got a ERROR.
[code]

## Expected Behavior 🤔

Scan() function can scan data to struct correctly

## Steps to Reproduce 🕹

### 1. Schema
[code]

### 2. Custom JOIN

[code]

### 3. Got Error

[code]

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go

[2022-07-23 16:43] a8m commented on #2789
Hey @BeatsKitano 👋🏻
You can implement the Scanner interface for JsonbData. Please, see the examples in our integration tests. https://github.com/ent/ent/blob/master/entc/integration/ent/schema/fieldtype.go#L469

[2022-07-23 16:53] BeatsKitano commented on #2789
Thanks, I tried to look at the documentation, but there is still a lot I don't know.  After that, I will write the experience as a blog and contribute to ent to help more people understand the details of using ent.  Thanks again for your reply, sorry for the inconvenience

[2022-07-23 16:54] #2789 closed

[2022-07-23 16:55] a8m commented on #2789
No worries, and contribution is welcomed :)

[2022-07-23 18:40] frederikhors commented on #1180
@a8m, what is the priority of this in your plans?

[2022-07-23 18:54] a8m commented on #1180
Hey! Thanks for the reminder, I forgot to update this issue. It's actually been supported by entgql for a few months (check out the latest release).

Just note that there's an issue with aliases + when the same edge is loaded more than once and it's tracked in https://github.com/ent/ent/issues/2755. This issue should be handled by @giautm and myself in the upcoming days.

Closing 😃

[2022-07-23 18:54] #1180 closed

[2022-07-23 19:03] frederikhors commented on #1180
Is there any docs for this? It seems I cannot find any of it.

[2022-07-23 19:06] frederikhors commented on #1180
Specifically I need to order sub-queries and I cannot find any docs about it. I'm using gqlgen too.

[2022-07-23 19:14] giautm commented on #1180
No doc is needed because it is working based on preload edges. https://entgo.io/docs/tutorial-todo-gql-field-collection

[2022-07-23 19:42] frederikhors commented on #1180
Sorry, I was confused. That's not what I was trying to do. This works good.

By the way, maybe there are old issues like this that can be closed. Kind of like I did for gqlgen.

[2022-07-23 21:13] frederikhors opened #2791 "What about handling this automagically? Or is it already possible and I don't know how?"
I'm having hard time understanding if and how the below is possible (_and I'm really sorry if this is obvious but I have come back to this after so many days on other technologies 24/7_).

I have this schema:

[code]

Everything works good using this code:

[code]

Now I need to use this schema instead:

[code]

And I'm wondering how to do.

I think I can create a new resolver with `gqlgen` adding

[2022-07-24 11:52] a8m commented on #2775
Something I wrote in the issue-tracker some time ago and I think it's true for this case as well: https://github.com/ent/ent/issues/1027#issuecomment-741843635

If you want to work on such an extension for Ent and I'll be happy to help, and I'm available on our [Discord server](https://discord.gg/qZmPgTE6RX) 😎

[2022-07-24 18:49] a8m commented on #2755
Thanks @amrnt for the great bug report. The issue was addressed both in ent and ent/contrib.

Closed with https://github.com/ent/contrib/pull/355

[2022-07-24 18:49] #2755 closed

[2022-07-24 23:21] frederikhors opened #2794 "If I add filters/ordering to a query after `.CollectFields()` it's query is lost forever; would be amazing to merge those queries"
I just found an "issue" I cannot fix, a "limitation" I cannot resolve.

I'm using `gqlgen` and `entGql` and this below code:

[code]

The graphql query I'm using is:

[code]

The issue is explained in the Go code:

**Is there a way to "merge" the `.CollectFields()`'s query with my own?**

I don't wanna loose the automagically query produced by `.CollectFields()` but I need to add custom filters/or

[2022-07-25 00:29] ivanvanderbyl commented on #2761
Thanks for the quick fix @a8m

[2022-07-25 01:27] seamory opened #2795 "Is there any ways to split schemas to different subdirectories?"
there are many schemas in ent/schema directory because the project is expanding. is there any ways to split the schemas to different subdirectories?
for example, the schemas about users save to a independent directroy in ent/schema. and other schemas save to they related directory.

[2022-07-25 03:09] seamory commented on #2795
I had try some ways to do this, but limit by golang not support cycle reference, this work is failed.
edge back reference will cause cycle reference between different directory.

[2022-07-25 06:13] a8m commented on #2795
Hey @seamory 👋

Exactly! That's an issue and this is one the reasons we don't support it in Ent.

My suggestion is when a project grows, you can keep multiple ent/schemas of the same subject in the same file. For example, a file named `group.go` can hold `Group`, `GroupConfig`, `GroupMembership`, etc.

Another approach is when you want to reuse a schema from a different project (and override some

[2022-07-25 06:13] #2795 closed

[2022-07-25 06:19] a8m commented on #2791
Hey @frederikhors 👋

Why not use the [Node API](https://entgo.io/docs/tutorial-todo-gql-node/) for getting nodes by their IDs? It already handles the field collection for you in an efficient way.

In case your app does not support "global unique ids", you can still implement this resolver (`<T>ByID`) with a static `NodeType` as an argument:

[code]
See example [here](https://github.com/ent/contrib

[2022-07-25 06:24] seamory commented on #2795
Thanks, very useful suggestions.

[2022-07-25 06:41] giautm commented on #2794
Can you use the default order in GraphQL? Another way, you can use the Ent template to extends the TeamQuery object to add the function:
[code]

[2022-07-25 08:09] frederikhors commented on #2794
What do you mean? I don't understand...

[2022-07-25 09:14] frederikhors commented on #2794
I think the second way (`Ent template`) is really difficult, I have tons of them...

[2022-07-25 09:19] frederikhors commented on #2791
I'm not understanding.

Does this apply to my case, to the query I posted?

[2022-07-25 09:26] giautm commented on #2794
It's mean in your GQL scheme default the default value for the `orderBy` field. Then, if someone query that edge, it will be the default for sorting.

[2022-07-25 09:35] frederikhors commented on #2794
This is the issue I opened for https://github.com/ent/ent/issues/2791. I would like to avoid a new resolver each time.

My query is:

[code]

and my schema is:

[code]

What are you suggesting?

Where should I add the default order? In the schema? How?

Like this?

[code]

[2022-07-25 09:38] giautm commented on #2794
like this, in the schema.
[code]

[2022-07-25 09:51] frederikhors commented on #2794
I added it. But it doesn't work.

And it doesn't work because obviously how does `.CollectFields()` figure out that `orderBy` is what I want to do?

[2022-07-25 09:54] a8m commented on #2791
Yes. There's a generic function named `Node(s)` used to get any node by its id.

I also recommend to use only one `node` query field in your GraphQL schema instead of `<Type>byID` for each type, but it's not mandatory, you can still use `Node` with any type.

[2022-07-25 09:59] a8m commented on #2794
Hey! All the complexity of this query can be solved with one API call mentioned in https://github.com/ent/ent/issues/2791:

[code]

Just note that the recommendation is to create one `node` query instead of creating a query field for each type (`teamByID`, `playerByID`, etc). See: https://entgo.io/docs/tutorial-todo-gql-node/

[2022-07-25 10:10] frederikhors commented on #2791
I think I cannot use all this Relay style for now, unfortunately. Also because I think it's a breaking change for graphql schema already in production.

So to answer my questions, apart from this Relay style, there is no other way besides creating a specific resolver for each array I want to sort/filter? Right?

[2022-07-25 10:18] a8m commented on #2791
You don't need to use Relay in your GraphQL for this. Use the API described in https://github.com/ent/ent/issues/2794#issuecomment-1193837844. It will solve both cases.

[2022-07-25 10:30] frederikhors commented on #2791
I think I'll study what you're suggesting, I already found https://dev.to/zth/the-magic-of-the-node-interface-4le1.

[2022-07-25 11:29] frederikhors opened #2797 "[docs] Improve about `WithUniversalID()`"
I'm studying the Global Object Identification with Ent.

i found this [in docs](https://entgo.io/docs/migrate#universal-ids):

Is `WithUniversalID()` still a thing?

I cannot find anything for it in the entire repo:

![image](https://user-images.githubusercontent.com/41120635/180767629-e225cf8a-d7a0-4f8c-9542-b6bf6a58133b.png)

**How should I use it?**

[2022-07-25 11:47] a8m commented on #2791
As mentioned above, you can use your existing GraphQL schema with the Go Node API generated by Ent.

Closing as there are no action items for us here. Thanks ❤️

[2022-07-25 11:47] #2791 closed

[2022-07-25 11:48] a8m commented on #2797
Hey! Please see https://entgo.io/docs/migrate#universal-ids.

[2022-07-25 11:50] a8m commented on #2797
Hey! Use the `WithGlobalUniqueID` option. `ent_types` file was started as an experimental solution and was deleted. Thanks and sorry for the inconvenience.

[2022-07-25 11:52] frederikhors commented on #2797
Ok. Should be update the docs?

[2022-07-25 11:59] #2797 closed

[2022-07-25 11:59] a8m commented on #2797
Doc was updated. Thanks for reporting this <3

[2022-07-25 13:51] frederikhors commented on #2794
@a8m thank for your hint on using `Node API`.

I studied about it and added `node()` and `nodes()` to my project using the docs tutorial and reading from examples.

Now I'm trying to use it in my code but I'm still unable to retrieve the correct data.

Given the Go code [in the first post](https://github.com/ent/ent/issues/2794#issue-1316035695) I think my issue cannot be resolved by Node API.

At

[2022-07-25 19:58] a8m commented on #2794
The issue was resolved on our Discord server. See https://discord.com/channels/885059418646003782/885059419107360779/1001212955599310911

Please, let us know if you need any help with creating such a [template](https://entgo.io/docs/templates) and @giautm or I can help with it. Something like `MutatePlayer<E>` that accepts a callback and changes the preload:

[code]

A template code for this will

[2022-07-25 19:58] #2794 closed

[2022-07-25 20:14] frederikhors commented on #2794
Thank you very much. You are truly unique, not just rare. In the open source world all this dedication and kindness are increasingly unavailable.

You are two treasures.

Thanks so much.

[2022-07-27 06:23] hhstu opened #2802 "How to generator complex relationship of objets use ent?"
Here is the objects such as  user、 group and role

![user_role_group](https://user-images.githubusercontent.com/55697154/181174947-14e0a91a-4231-4bbb-86bf-9f319e4dd390.jpg)

I need help Is there any way to code it ?  The intermediate table is associated with three objects

[2022-07-27 07:17] a8m commented on #2802
Hey @hhstu 👋. You can use edge schemas for this. Please, see https://entgo.io/docs/schema-edges#edge-schema.

There's also an example of something similar to this in our integration tests - https://github.com/ent/ent/blob/master/entc/integration/edgeschema/ent/schema/relationship.go.

[code]

Closing, but please feel free to join our [Discord server](https://discord.gg/qZmPgTE6RX) if you need more

[2022-07-27 07:17] #2802 closed

[2022-07-27 13:48] carlos0202 commented on #2782
After a few conversations on Discord server and some trial and error I've found out that the current [sql/schemaconfig](https://entgo.io/docs/feature-flags#schema-config) does not fully work for my use case. Actually, I need a solution that can help automatic migration to generate the tables under the desired schemas when setting up from scratch (on tests, for instance) with also the possibility t

[2022-07-27 13:59] a8m commented on #2495
Until multi-schema will be supported in Ent migration (with Atlas), you can achieve this today using `DiffHooks` as Atlas ready supports this. Please, see the example in this PR: https://github.com/ent/ent/pull/2804

[2022-07-27 14:05] a8m commented on #2782
I created an example for this use case, see: https://github.com/ent/ent/pull/2804. It covers ~all the things mentioned here.

I hope it helps :pray:

[2022-07-27 16:21] frederikhors commented on #2305
@a8m What priority do you have for this?

[2022-07-27 16:29] a8m commented on #2305
Hey 👋🏻
All the three were added in the latest version of entgql. Thanks for the reminder, I think we can close thus 🙌

[2022-07-27 16:29] #2305 closed

[2022-07-27 18:15] xcono opened #2806 "AlternateSchema hook: Alter table name"
a8m, thanks for the wonderful package!
Now we can use `AlternateSchema` to change the ent's client schema, but what about table names altering?
Is it planned to use `internal.SchemaConfig` to alter the table name? Are there other ways to achieve it (except altering templates)?
I'm trying to reuse one generated entity from my lib for multiple entities with separated tables in client code.

[2022-07-27 18:27] a8m commented on #2806
Hey @xcono and thanks for the kind words. I'm glad you find ent useful 🙏

This is not supported atm but we can discuss adding this to Ent using a feature flag. Let's follow up on this in https://github.com/ent/ent/issues/1990.
Closing, as it's a duplicate of https://github.com/ent/ent/issues/1990.

[2022-07-27 18:27] #2806 closed

[2022-07-27 18:39] frederikhors opened #2807 "[FR?] Order by edge field using `entgql`'s `.With[TYPE]()`"
Given this schema:

[code]

Can I order `Player` by `Team.Name`?

I know [I can edge order](https://entgo.io/docs/paging#edge-ordering) `Player` but I'm using this code with entgql:

[code]

and I don't know if/how to do.

[2022-07-28 05:30] hhstu commented on #2802
it may not work for me.   example:  user1 in group1 has role1, user1 in group1 has role2,   but (now user_id  unique group_id) is  @a8m

[2022-07-28 06:13] Darren-Fuerst opened #2808 "After Running Auto Migrations, Create crashes with segmentation violation"
Hello,

So as in the title my programm crashes after succesfully running the auto migration as per docs.

I tried it with both pq and pgx as drivers. Same Behaviour.

Here is the db after the migrations:

![image](https://user-images.githubusercontent.com/77537563/181432214-b7943b78-320e-4b26-ace8-f6fc12222922.png)

I believe there is one table too much that is not needed and I can not always find

[2022-07-28 06:19] a8m commented on #2808
Hey @Darren-Fuerst, and thanks for reporting this issue. It looks like it's coming from `Save` and not related to the migration.

Would you mind creating a reproducible example using [ent/bug](https://github.com/ent/bug)? I'll be able to help more quickly this way. Thanks 🙏

[2022-07-28 06:49] Darren-Fuerst commented on #2808
@a8m Will do I'll try and reduce the Schema to 1-2 tables and then make a proper bug issue.

[2022-07-28 08:53] onobrod commented on #2569
Hi @a8m! Any update on this?

[2022-07-28 10:36] Darren-Fuerst commented on #2808
@a8m Hey so I made a ent/bug repo and ran generate and it told me  that I had a field Definition messed up. I used Postive instead of NonNegative and a Default Value of 0 on that Field.

![image](https://user-images.githubusercontent.com/77537563/181484544-d28360bd-4122-4c12-b6e7-502b39fff4d0.png)

I followed the docs during Setup so it seems, that the ent version in the bug repo is catching this

[2022-07-28 10:51] a8m commented on #2808
From looking at the code, it looks like you set `total_delivered` to `0`, but you configured the field to be `Positive`. Please, set it to `NonNegative` instead.

The panic comes from line 54 because you tried to access a field of a `nil` item. In case of an error, the returned object is `nil`.

[2022-07-28 10:54] hhstu commented on #2788
https://github.com/ent/ent/issues/2802#issuecomment-1197682111     same problem here

[2022-07-28 10:57] Darren-Fuerst commented on #2808
@a8m  I know that now what I am trying to say is that ent v.0.11.1 does not tell you why it has the Error whereas the version from the bug Template does. After fixing that Field to be NonNegative I tried adding a User without a Required Field and it ent v.0.11.1 returned nil whereas the version in the bug report template told me "ent: missing required field "User.lastname".

[2022-07-28 11:17] a8m commented on #2808
In case I'm not missing anything, it looks to me like things work as expected. This is what I did to verify it:

1\. Run your code as-is without updating ent and got:
![image](https://user-images.githubusercontent.com/7413593/181491673-810874fe-65ce-4b57-b187-4f9d0e0c6d89.png)

2\. Update ent to v0.11.1, ran codegen, and then executed your code:
![image](https://user-images.githubusercontent.com/7

[2022-07-28 11:19] a8m commented on #2808
In case I'm not missing anything, it looks to me like things work as expected. This is what I did to verify it:

1\. Run your code as-is without updating ent and got:
![image](https://user-images.githubusercontent.com/7413593/181492921-9abdc176-a8fe-4150-9053-36ee4c736533.png)
2\. Update ent to v0.11.1, ran codegen, and then executed your code:
![image](https://user-images.githubusercontent.com/74

[2022-07-28 11:20] Darren-Fuerst commented on #2808
Hm that's weird if you want I can post my mod  but it did not show me the error in my project and only showed me the error in the bug template.

But it seems to be an Issue in my setup then

[2022-07-28 11:23] a8m commented on #2808
OK, I'm closing the issue then. If you have another example that you want one of us will give a look at, please post it here, in another issue, or in our Discord. Thanks and welcome to our community🙏

[2022-07-28 11:23] #2808 closed

[2022-07-29 02:39] seamory opened #2809 "Problem when remove O2M/M2M relations when id slice is empty"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

As the title saied.

## Expected Behavior 🤔

When give a empty id slice to remove relations, ent will do nothing, at least not delete the relation which id is 1.

## Steps to Reproduce 🕹

![Snipa

[2022-07-29 02:50] seamory commented on #2809
Sorry, my mistake, not have this problem.

[2022-07-29 02:50] #2809 closed

[2022-07-29 10:00] mistory816 opened #2812 "Mysql char type is TypeOther, which causes an error when my field has a default value and the character type is changed from CHAR to VARCHAR"
Mysql char type is TypeOther, which causes an error when my field has a default value and the character type is changed from CHAR to VARCHAR

`>FATAL msg=failed creating schema resources: sql/schema: mysql: unsupported default type: other default to "aaaa"`

https://github.com/ent/ent/blob/f5568d2825c45db0f50e1e2bb56ac6ca7a5accc9/dialect/sql/schema/mysql.go#L490

[2022-07-29 10:03] Meroje opened #2813 "Atlas migration in replay mode can't obtain database lock"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Following https://github.com/ent/ent/blob/master/doc/md/versioned-migrations.md#with-entc-package I'm adding the ModeReplay option to the sample code shown in march https://github.com/ent/ent/blo

[2022-07-29 10:19] a8m commented on #2812
Hey @mistory816 👋
What version do you use? Can you please update Ent to the latest master and report if you still face this issue? Thanks

[2022-07-29 10:25] a8m commented on #2813
Hey @Meroje and thanks for reporting this. I'll give it a look.

Just to make sure you're not blocked now, can you please check if this works for you with `migrate.NamedDiff`? For example:

[code]

[2022-07-29 12:19] Meroje commented on #2813
Hi, yes I verified this works as it bypasses the ent Driver.

[2022-07-29 19:44] Albert-Gao opened #2814 "To update the GraphQL documentation to reflect the latest changes in the entgql"
Doc:
https://entgo.io/docs/tutorial-todo-gql-paginate

Needs to add the usage of `entgql.RelayConnection` in terms of:

1. What does the Relay Connection look like?
2. How much spec can `entgql.RelayConnection()` cover?
3. How to customise the pieces (I guess the only piece that needs potential customisation is the orderBy field)?

[2022-07-30 13:55] shumintao opened #2815 "entc/load: load schema dir: missing package information for: ./schema ?"
- go version

[code]

- ent version

[code]

- create ent

[code]

- cause error

[code]

No matter how you create it, keep getting this error?

-  After downloading the source code and compiling ent, it will report an error?
<img width="1329" alt="image" src="https://user-images.githubusercontent.com/26895243/181918083-d01fed6e-12c3-4b0c-a18f-5a7e82794134.png">

<img width="1005" alt="image" src=

[2022-07-30 14:28] shumintao commented on #2815
this problem has been solved, I found that I need to add `sudo` on mac m1.
otherwise the file cannot be read.

<img width="1009" alt="image" src="https://user-images.githubusercontent.com/26895243/181918808-c3178612-c4cc-47e3-ac2c-f843897ae130.png">

[2022-07-31 10:46] petenorth commented on #1232
Is there an update on this issue? I'm unclear as to whether I can use https://github.com/XSAM/otelsql alongside entgo or whether it requires changes within the `ent` project?

[2022-07-31 11:25] XSAM commented on #1232
I have tried [this ent example](https://github.com/ent/ent/tree/master/examples/start) with https://github.com/XSAM/otelsql. It works fine.

Here is the changes I made:

[code]

---

From the implementation perspective, as long as the ent interacts with a database through the `database/sql` with context, then the [otelsql](https://github.com/XSAM/otelsql) should work with ent.

[2022-08-01 03:24] mistory816 commented on #2812
sorry，My version is v0.10.1
It works fine for  v0.11.0

[2022-08-01 03:25] #2812 closed

[2022-08-02 02:40] Xwudao commented on #344
@a8m the custom config must set for every schema:

[code]

Is there has a more flexible common function for setting the common table name prefix?

Such as, I set only once in somewhere, and the all schema will auto add the prefix for table name?

[2022-08-02 05:42] rotemtam commented on #344
Hey @Xwudao,

Thanks for reaching out. You can use [codegen hooks](https://entgo.io/docs/code-gen#code-generation-hooks) to mutate your schema programmatically before code is generated.

[2022-08-02 06:40] Xwudao commented on #344
Thx.

[2022-08-02 06:56] Xwudao commented on #344
@rotemtam

Hi, I try to use code below:

[code]

Both can't update the table name.

How can I do?

[2022-08-02 07:10] rotemtam commented on #344
Hey,
Don't try to edit the tables directly, instead add the entsql annotation to each node (entity) and let Ent set the physical table names.

[2022-08-02 07:30] Xwudao commented on #344
@rotemtam
I'm not familiar with 'entc', especially annotation. Can you give me an example? Thank you.

![image](https://user-images.githubusercontent.com/31327868/182317360-b537744d-153a-4c5e-9b3b-a74fc308a994.png)

the schema's annotation is `map[string]interface{}`

But, in other document, it not the same type

https://entgo.io/docs/schema-annotations#custom-table-name

[2022-08-02 08:23] Pranc1ngPegasus opened #2818 "Versioned migrate option `WithDialect` is not working"
I am adding the `WithDialect` option to the sample code as shown.
This result is `sql/sqlclient: no opener was register with name \"postgresql\"`.
`schema.MigrateOption` seems to be applied at here. https://github.com/ent/ent/blob/5df06f49c14060d34a8d9469ad25a527735ac598/dialect/sql/schema/atlas.go#L84-L86
`WithDialect` option must be applied at here, but my sample code applied DSN scheme because

[2022-08-02 08:25] a8m commented on #2818
Hey @Pranc1ngPegasus 👋
Your code imports `mysql` driver instead of `postgres`. Please, do the following change:

[code]

[2022-08-02 08:27] Pranc1ngPegasus commented on #2818
@a8m Thank you for your comments. My sample code was wrong and now it fixed.

[2022-08-02 08:35] a8m commented on #344
Hey! Here is an example hook for adding such an annotation for all nodes.

[code]

Let me know if you need a different example.

[2022-08-02 08:37] a8m commented on #2818
Great. I guess we can close it then. Please, feel free to join our cur Discord community: https://discord.gg/qZmPgTE6RX

[2022-08-02 08:37] #2818 closed

[2022-08-02 08:40] Pranc1ngPegasus commented on #2818
@a8m Please wait for close this issue. My sample code only at PR description was wrong. My local code imports `github.com/lib/pq` perfectly.

[2022-08-02 08:42] a8m commented on #2818
Please, add also the following import and report if that solves the issue:

[code]

[2022-08-02 08:45] Xwudao commented on #344
@a8m Thank you very very much!

It resolve my problem.

[2022-08-02 08:45] Pranc1ngPegasus commented on #2818
@a8m
The result is same`sql/sqlclient: no opener was register with name \"postgresql\"`.
My code is now as shown.

[code]

[2022-08-02 08:49] Pranc1ngPegasus commented on #2818
@a8m Thank you for describe clearly.
My code is now as shown. But problem is now solved again.

[code]

[2022-08-02 09:04] Pranc1ngPegasus commented on #2818
When using `postgres` then it solved.

[2022-08-03 01:02] tmc opened #2824 "attempting to place schemas in "./schema/ent" vs "./ent/schema" results in a badly generated runtime.go"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

[code]

I'm attempting to lay out code like so:

[code]

## Current Behavior 😯

I end up with a generated runtime.go that contains only:

[code]

which fails like so
`gen/ent/runtime.go:6:2: imported and not used: "foo

[2022-08-03 12:34] ankitpatial opened #2826 "Unexpected package creation during export data loading"
With go1.19 ent generate give the following error
_Unexpected package creation during export data loading_
it seems to be related to entgo.io/contrib

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
ent schema with entgo.io/contrib init will ca

[2022-08-03 20:02] Albert-Gao opened #2827 "FilterFunc does not get executed on M2M edges"
First thing first, thanks for this awesome library! Totally love it!

I currently have a problem. I am wondering why this privacy is NOT get executed at all on the tenant entity.

![image](https://user-images.githubusercontent.com/18282328/182698305-3fcd1660-5ddb-4c80-9292-d987b44f7b1f.png)

I am doing a graphql query to `user {profiles{} tenants{}}`

the filtering rule for profiles works great, b

[2022-08-03 20:18] a8m commented on #2827
Thanks for reporting this @Albert-Gao. It's a bug that was introduced with the latest eager-loading change. Thanks 🙏

[2022-08-03 20:24] #2827 closed

[2022-08-04 07:52] houko opened #2830 "I want to update items use orderBy with entgo"
what should I do with entogo?
for example:
`UPDATE t SET id = id + 1 ORDER BY id DESC;
`

`client.User.Update().SetId(id+1).Exec();`

I can't find `Order` func

[2022-08-04 08:22] syssam commented on #2830
why need add order by on the update statement

[2022-08-04 08:29] houko commented on #2830
company’s businesses logic

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: s.y.s ***@***.***>
Sent: Thursday, August 4, 2022 5:22:30 PM
To: ent/ent ***@***.***>
Cc: Evan ***@***.***>; Author ***@***.***>
Subject: Re: [ent/ent] I want to update items use orderBy with entgo (Issue #2830)

why need add order by on the update statement

—
Reply to this email directly

[2022-08-04 08:34] ankitpatial commented on #2826
Quick update:

I tried coping source code of contrib/entgql package to my project local folder made chnages for path and removed most of things but just the just a annotations.go file. I furthre stripped it and having least code with only  2 imports "encoding/json" & "entgo.io/ent/entc/gen"

the moment I remove "entgo.io/ent/entc/gen"  issue goes away & comand >  go genererate ./ent
works.

[2022-08-04 08:58] ankitpatial commented on #2826
I guess that might be related to package "golang.org/x/tools/go/packages" used in /entc/entc.go file

[2022-08-04 10:29] ankitpatial commented on #2826
OK, seems like solution may be just to upgrade the package "golang.org/x/tools"

[2022-08-05 03:54] xin-hao-awx commented on #689
Just wondering that is this issue have been finished or dropped?

[2022-08-05 07:06] a8m commented on #2830
Hey @houko and thanks for opening this issue.

Since this is a MySQL thing and it's really rarely used, we can support this with custom modifiers. Let me know if you need help with this.

[2022-08-05 07:07] houko commented on #2830
yes, I want to know how to do it, thank you very much

[2022-08-05 07:11] a8m commented on #2815
Thanks for reporting this @shumintao 🙏

I think we can close this as it was resolved and not really an Ent issue. Please, feel free to join our [Discrod server](https://discord.gg/qZmPgTE6RX) if you need more help with this.

[2022-08-05 07:11] #2815 closed

[2022-08-05 07:43] a8m commented on #2826
Fixed with #2832

Thanks for reporting this 🙏

[2022-08-05 07:43] #2826 closed

[2022-08-05 11:52] a8m commented on #2830
Please, update Ent to the latest master and use the `sql/modifier` feature flag for this. See: https://entgo.io/docs/feature-flags#modify-example-6

[2022-08-05 11:52] #2830 closed

[2022-08-05 15:51] wonderfate opened #2834 "How to generate updated_at default values like 0000-00-00 00:00:00"
How to generate `updated_at` default values like `0000-00-00 00:00:00`

Please help me !!!

[code]
ent: v0.11.1
#### Expected:
  `updated_at DATETIME NOT NULL DEFAULT 0 ON UPDATE CURRENT_TIMESTAMP`

[2022-08-08 01:31] houko commented on #2830
@a8m  I am sorry about that `sql/modifier` add `Modify` method to query, but I want to update my data with orderBy

[2022-08-08 04:13] a8m commented on #2830
Please, see the examples in the link:

[code]

[2022-08-08 05:26] houko commented on #2830
thank you for your reply .
But I did it just generated the Modify function in the query, may I miss some operation?

entgo 0.11.1

<img width="525" alt="image" src="https://user-images.githubusercontent.com/12625278/183345377-fe426eab-c683-4a1b-bdca-bd8aff7fdc6c.png">

[2022-08-08 05:39] a8m commented on #2830
Please, upgrade to the latest master: go get entgo.io/ent@master

[2022-08-08 05:44] houko commented on #2830
@a8m yes,I can do it.
thank you very much.

[2022-08-08 11:07] henrywoody commented on #2834
You can use the `UpdateDefault` method on the field ([docs](https://entgo.io/docs/schema-fields#default-values)) if you just want this type of functionality generally.

Not sure how to do this if you want this functionality at the database level (so that it works from direct database manipulation), but that doesn't really seem like ent's job. In that case you may just have to modify the database m

[2022-08-08 16:42] wonderfate commented on #2834
I guess this should have customization

[2022-08-09 13:59] knight7024 opened #2837 "Doesn't `field.Other` support default annotation?"
I'm trying to bind MySQL `DATETIME` with formatted string(yyyy-MM-dd hh:mm:ss). So I made a custom type and implemented `ValueScanner`, and fortunately it almost works.

However, it does not work even though I specified the default expression for `field.Other`. I upload the code I wrote and the generated query, so please help me.

`Mixin`
[code]

`Custom type`
[code]

`Generated Query`
[code]

##

[2022-08-09 20:31] Albert-Gao opened #2838 "interface conversion: interface {} is string, not *entgen.Cursor when doing GraphQL Relay connection query"
### reproduce repo: https://github.com/Albert-Gao/ent-reproduce/tree/gql

When doing a GraphQL call with a cursor for Relay spec connection, throws error

For example

**This one works**

[code]

**This one NOT works**

[code]

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/18282328/183754788-46ce1071-695d-4fe8-9865-e96a65607455.png">

[2022-08-10 00:28] Albert-Gao opened #2839 "Example in https://github.com/ent/contrib Not working"
- just clone this repo: https://github.com/ent/contrib
- run the demo in entgql/internal/todo/
- go run ./server/server.go
- open playground, Send a query with Relay connection with cursor
- check the error

![image](https://user-images.githubusercontent.com/18282328/183784295-f43ba2b3-0490-4769-8960-2275c068d9fa.png)

tried to pass the cursor (after: $cursor) as a base64, still not work, what i a

[2022-08-10 00:30] Albert-Gao commented on #2824
The master branch has an example of  separating the schema and generated code. hope it could help a bit 😄

[2022-08-10 07:18] a8m commented on #2837
Hey @knight7024 and thanks for reporting this. Please, see [this example](https://github.com/ent/ent/blob/master/entc/integration/ent/schema/fieldtype.go#L102-L107) and let me know what's not working besides the `ON_UPDATE` clause.

[2022-08-10 07:38] henrywoody commented on #2834
@wonderfate what do you mean by customization?

[2022-08-10 07:57] amrnt commented on #2838
This is same as this: https://github.com/ent/ent/issues/2839
For solution: https://github.com/ent/ent/issues/2839#issuecomment-1210279400

[2022-08-10 15:44] #2839 closed

[2022-08-10 15:45] #2838 closed

[2022-08-11 06:01] giautm commented on #2837
Hey @knight7024, you may not need to use a custom type to format/parse MySQL time. Do you try `parseTime=true` yet?

https://github.com/go-sql-driver/mysql#parsetime

[2022-08-11 07:44] knight7024 commented on #2837
@giautm Thank you for your answer. I tried it but what I just want is return `yyyy-MM-dd hh:mm:ss` formatted string when the REST API called. So I solved it by below code. Is there any better solution?

[code]

[2022-08-11 13:48] goingaround commented on #2241
![Screen Shot 2022-08-11 at 16 47 10](https://user-images.githubusercontent.com/50658653/184148216-91823a78-6746-4e88-a831-d7506e40ba6a.png)
![Screen Shot 2022-08-11 at 16 47 32](https://user-images.githubusercontent.com/50658653/184148299-f384ac38-2358-49c8-8e45-a57f77ef8267.png)

Happens also for me, the generated code seems to be unacceptable by intellij

[2022-08-11 15:38] syssam commented on #2807
@a8m any solution with that...?

[2022-08-11 17:10] wonderfate opened #2842 "NamedDiff duplicate generated versioned migration files"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
`schema/user.go`
[code]

`my_migrator.go`
[code]

## Expected Behavior 🤔

Because I didn't modify the Schema, so this `migrations directory` should only exist  `20220811162832_new.down.sql` and `2

[2022-08-11 17:59] wonderfate commented on #2834
@henrywoody  Thank you for your answer.

Below for the code, that generated query like `deleted_at datetime NOT NULL`
[code]

But I want to generate it like: `deleted_at DATETIME NOT NULL DEFAULT "0000-00-00 00:00:00" `
Or
 `updated_at DATETIME NOT NULL DEFAULT "0000-00-00 00:00:00" ON UPDATE CURRENT_TIMESTAMP `

I don't know how to define it in `ent`

If you know please teach me!

[2022-08-11 20:42] a8m commented on #2834
The following example should work, and I just verified it locally.

[code]

The reason I didn't use all zeros in the `DEFAULT` value, is because MySQL 8 enables the [`NO_ZERO_DATE`](https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sql-mode-setting) mode by default, and `DATETIME` values range is between '1000-01-01 00:00:00' to '9999-12-31 23:59:59'.

I think this should solve your issue. Ple

[2022-08-11 22:01] damdai opened #2843 "'go generate ./ent' fails on table with multiple foreign keys to same foreign table"
It seems a table is not allowed to have more than 1 foreign key to the same foreign table.

For example, consider the following database consisting of 2 tables, players and matches:
[code]

Using `entimport` to generate ent schemas for this db generates the following for the matches table:
[code]

Next step is to run `go generate ./ent` which fails with the following error: `entc/gen: Match schema

[2022-08-12 06:02] a8m commented on #2837
The solution looks good. However, I'm not sure the `SchemaType` is needed.

Closing as the issue was resolved. Thanks, and please feel free to join our [Discord community](https://discord.gg/qZmPgTE6RX) 😎

[2022-08-12 06:02] #2837 closed

[2022-08-12 08:09] wonderfate commented on #2834
@a8m  Thank you for answer. This's very useful for me.

But when using `Annotations`  there will be duplicate migration files.

 Look at it if you have free time https://github.com/ent/ent/issues/2842

[2022-08-12 08:13] a8m commented on #2834
Will give it a look of course. Thanks for reporting this.

I think we can close this one and move the discussion to #2842.

[2022-08-12 08:13] #2834 closed

[2022-08-12 11:23] everdrone commented on #2044
@a8m is support for `interface` and `union` planned for ent?
Any direction on how to contribute or if there's already some work done?

[2022-08-12 15:05] shota-hizawa opened #2844 "storing versions with mutation hook?"
I want to store the historical information of one table in another table.
For example, I want to store the history of table `settings` in history table `setting-versions`.

To do this, I am thinking of using the schema mutation hook, but is there any way to insert a record to another schema within the mutation hook for a particular schema like below?

[code]

Or if there is a better way, I would l

[2022-08-12 16:53] rotemtam commented on #2844
Hey @shota-hizawa
Thanks for reaching out.
You can read about our approach to the problem in this blog post:

https://entgo.io/blog/2022/04/07/how-twitter-can-implement

In the post you'll find a link to an example repo with some code examples.

We will most likely work on open sourcing an official Ent extension for enthistory in the future, but in the meantime this can get you started.

[2022-08-12 18:25] rafeyfanwar opened #2846 "Possible to clear a field in a bulk Upsert?"
I've generated the go files for my project using the `--feature sql/upsert` flag and it works for most of what i'm trying to do, but i haven't been able to figure out if/how i can set a field to `NULL` in an upsert.

I initially tried using the `SetNillable` setters, which i realized ignore `nil` values rather than clearing that column in that row. I see that there are `ClearX()` functions that ca

[2022-08-12 18:31] rafeyfanwar commented on #2846
Just noticed a similar question was asked here before: https://github.com/ent/ent/issues/1979

I see a solution for _always_ setting a field to `NULL` on upsert, but not for if i am upserting multiple rows some of which need to set that columns to a specific value while others need it cleared.

[2022-08-12 19:59] a8m commented on #2844
Hey @shota-hizawa 👋
Like Rotem mentioned, `enthisotry` is a great reference for such an implementation. But for your question, this can be implemented as follows:

[code]

Please, let me know if you need more help or we can close this issue. Thanks 🙏

[2022-08-12 20:04] a8m commented on #2846
Hey @rafeyfanwar 👋

Can you elaborate, please? What do you expect the Ent API and the underlying SQL statement to look like?

[2022-08-12 21:26] rafeyfanwar commented on #2846
Hey @a8m! Sure thing. Here's an example of what i'm trying to achieve. Let's say i start out with the following table:
[code]

I want to bulk upsert such that I can update the email field for row with `id=id_1`, but clear it for row with `id=id_2`. Something like the following:
[code]
I want the result of this operation to be for the table to be updated to this:
[code]

I'm admittedly not familiar

[2022-08-13 07:16] a8m commented on #2846
Hey @rafeyfanwar,
This actually works as expected; try to run the operation with `client.Debug()` and you'll see the output.

[code]

One thing though, is that current statements pass `<nil>` arguments instead of setting the value to `NULL` in mixed cases like this, but this has no effect on the correctness of this statement.

[2022-08-13 13:11] oaktreecode commented on #2643
I need do some nested mutation functions too.  @anttioo MutationType  is a good way to fix it.

[2022-08-13 15:48] rafeyfanwar commented on #2846
@a8m thanks for the additional context!

Is there a way to modify your code snippet above such that it _will_ set an existing `email` value to `NULL`? Passing in the `<nil>` argument, while resulting in a correct statement, does not accomplish what i'm hoping to do since it does not overwrite the old value of the `email` column to `NULL`.

[2022-08-13 17:24] a8m commented on #2553
For future readers, please see https://entgo.io/docs/schema-fields#nillable-required-fields.

[2022-08-13 18:19] a8m commented on #2846
Are you able to reproduce this? Because I'm not. Please, see https://github.com/ent/ent/pull/2849.

[2022-08-13 20:56] mirusky opened #2850 "[HELP] Trying to implement soft delete logic using Hooks and Mixins"
I'm trying to implement a soft delete operation, using `Hooks` and `Mixins`, as documentation sugests:

Then I've created the following Mixin, with a Hook in Delete operations:

[code]

But for some reason it always delete the entity instead of setting deletedAt column, I use it as follow:

[code]

What I'm missing ?

[2022-08-13 21:07] mirusky commented on #2729
I'm trying the same thing, look at what I did as so far: #2850

[2022-08-13 21:08] mirusky commented on #1641
I'm trying the same thing, look at what I did as so far: https://github.com/ent/ent/issues/2850

[2022-08-13 21:08] mirusky commented on #252
I'm trying the same thing, look at what I did as so far: https://github.com/ent/ent/issues/2850

[2022-08-14 00:24] crossworth commented on #2850
Hello, the way hooks works is like middlewares, you can hook into a flow of operation and change it. In your case, you are not changing the flow, you return `next.Mutate(ctx, m)`, so you are setting the field and right after that you execute the mutation (that deletes the record).

What you want to do is change the operation, but thats not that easy because the entity type can be anything, I don't

[2022-08-14 08:10] a8m commented on #2846
I decided to inline `NULL`s instead of passing them as arguments. See https://github.com/ent/ent/pull/2849

Closing, but please feel free to reopen it if you still have issues with it. Also, you're more than welcome to join [our Discord community](https://discord.gg/qZmPgTE6RX) 😎

[2022-08-14 08:10] #2846 closed

[2022-08-14 11:46] a8m commented on #2844
Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this 😎

[2022-08-14 11:46] #2844 closed

[2022-08-14 12:28] mirusky commented on #2850
@crossworth thx for your explanation you give me a new view about hooks. I'll try to do it in a different way. I prefer to not use templates since juniors will not completely understand what is happening.

Just 2 questions:

- About the IDs function, you are using `([]int, error)` return but if I've different types of IDs it will break right?

- We could be able to get client from mutation that as

[2022-08-14 13:26] crossworth commented on #2850
Funny thing, I used to think this way as well, but there so much GO can do right now (without using reflection/any) and templates do fill the gap, but it's your call, I'm here to help.

Yes, it will, what you receive in the mutation is a `ent.Mutation` but the concrete type is `*ent.<Entity>Mutation`, so if you have different types of ID's this could not work. You could in theory do function (with

[2022-08-15 01:46] shota-hizawa commented on #2844
Hi, @rotemtam @a8m
I appreciate your quick reply.

These sample codes really helped me!
I am also looking forward to `enthisotry` feature will be released☺

Thank you.

[2022-08-15 03:29] oaktreecode opened #2857 "entqgl: Allows you to create, update or delete models and their associated relationships, all in one single mutation?"
Hi guys, I'm just getting started with this framework, how can I automatically generate this schema using edges and entgql?

[code]

[code]

[2022-08-15 11:37] a8m commented on #2857
Hey @oaktreecode 👋
You can add an annotation to your schema to generate both the Go and the GraphQL parts. See https://github.com/ent/contrib/blob/master/entgql/internal/todo/ent/schema/todo.go#L94. For example:

[code]

[2022-08-15 13:55] oaktreecode commented on #2857
@a8m ，Thank you for such a quick reply, I am already adding it (Annotation ), but it  does not work.

the field "notes" type generated [ID!]  BUT NOT [CreateNoteInput]
[code]

[2022-08-16 09:50] jiamo commented on #127
If we have multi schema in same dic. I only want one schema replace `id`. Can we put `idtype` in schema file instead using option `--idtype`?

[2022-08-16 12:34] shota-hizawa commented on #2843
Hi, @damdai

[code]

Maybe you can achieve what you want by this.

[2022-08-16 14:12] insulaire opened #2861 "mysql query escape problem"
hi guys,
    i have a problem.

    I have this data in my database.
<img width="358" alt="image" src="https://user-images.githubusercontent.com/35367433/184899561-0a6618d9-95f5-45bf-ae33-b5a6fb64a2dc.png">

test.go
`
package schema

import (
	"entgo.io/ent"
	"entgo.io/ent/schema/field"
)

// Test holds the schema definition for the Test entity.
type Test struct {
	ent.Schema
}

// Fields of the T

[2022-08-17 02:39] jnmdf commented on #2205
Getting the same issue. It seems that if the edge field is already defined in schema Fields method，then the Field method is required. Likewise, if the edge field is not defined in schema Fields method, without the Field method it works well.
Here are the steps to reproduce it:

1.  ent init Product Variant
2. define the schema ent/schema/product.go
3. define the schema ent/schema/variant.go
4. go

[2022-08-17 02:57] #2861 closed

[2022-08-17 10:39] kompetenzlandkarte opened #2863 "ent.Open() does not throw an error on connection error"
Hi folks,

after calling `ent.Open(dialect.Postgres, "host=<host> port=<port> user=<user> dbname=<database> password=<pass>")` I don't get an error besides the fact that the database is offline/ not reachable.

Is there maybe another way to check if the connection was made successfully?

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent

[2022-08-17 10:47] a8m commented on #2863
Hey @kompetenzlandkarte and thanks for opening this issue 🙏

The underlying implementation calls `sql.Open` (see [dialect/sql.Open](https://github.com/ent/ent/blob/master/dialect/sql/driver.go#L30)). That means, there's no special call to `Ping` or something as this is the default behavior of `sql.DB` (opens a connection when it's needed).

In case you're interested in something like "pinging the

[2022-08-17 10:47] #2863 closed

[2022-08-17 11:47] Antonboom opened #2864 "Export transaction context"
Hello!

[code]

It will be useful for functions like
[code]

[2022-08-17 14:18] jmheidly commented on #980
Hello!

I have a request whereby I need to inject `exclude using gist (user_id WITH =, duration WITH &&);` statement that i need to annotate upon table creation. May i know how is this possible?

Regards,

[2022-08-17 20:34] a8m commented on #2108
Valid point. I can handle it in this release.

[2022-08-18 11:26] dustyhorizon opened #2866 "Unable to generate versioned migrations: checksum mismatch"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Following the [docs](https://entgo.io/docs/versioned-migrations), I am unable to generate migrations using the `replay` migration mode with existing migration files.

## Expected Behavior 🤔

With

[2022-08-18 13:09] masseelch commented on #2866
Hey @dustyhorizon, thank you for reporting this.

I tried to reproduce the issue, but couldn't. If you could use [this template](https://github.com/ent/bug) to give us a repository where I can reproduce the issue?

[2022-08-18 14:20] a8m commented on #2864
Hey @Antonboom and thanks for proposing this option 🙏

The only reason the `context.Context` is stored on the Ent's transactions, is because we want to pass it to the [Transaction Hooks](https://entgo.io/docs/transactions/#hooks), but `Commit` and `Rollback` don't accept it as argument (in `sql.Tx`).

I prefer to not expose it as a struct member because that's not the recommended way in Go to pass

[2022-08-18 14:20] #2864 closed

[2022-08-18 16:15] dustyhorizon commented on #2866
@masseelch here you go, https://github.com/dustyhorizon/ent-issue-2866

I switched up the structure just a bit but should demonstrate the issue.

Schema for `Table One` have been generated, formatting of the relevant .sql have been done, and the hashes in atlas.sum have been regenerated and validated.

The issue comes when I run `go run ./migration.go` in order to generate the schema for `Table Tw

[2022-08-18 16:29] masseelch commented on #2866
Awesome! I will have a look 😊

[2022-08-18 21:57] damdai commented on #2843
That appears to have worked, thanks!
So this is more an issue with `entimport`'s code generation I suppose.

[2022-08-18 22:20] JoelFresh-HypeLabs commented on #2866
Can confirm I'm also able to reproduce this when attempting to use the sample versioned migration code with a Postgres (v. 14.2) Database in GoLang 1.18. I'm leveraging GoLang-Migrate, atlas v.0.6.0, and ent v. 0.11.2 as well.

What is worth noting is that if I change my database URL parameters (even to something that is invalid) I am seeing the same checksum error, so I think there may be some fu

[2022-08-19 08:30] masseelch commented on #2866
Hey @dustyhorizon and @JoelFresh-HypeLabs,

If you use a different migration file format than the default (`--dir-format atlas`) you currently have to provide the `--dir-format` flag to the `atlas migrate` commands as well:

`atlas migrate validate --dir-format golang-migrate`
`atlas migrate hash --force --dir-format golang-migrate`

Since Atlas default format does not utilize "down" migration tho

[2022-08-19 08:38] dustyhorizon commented on #2866
@masseelch thanks for the workaround, can confirm it is working for me now!

[2022-08-19 08:44] hackinteach opened #2870 "Inconsistent and quoted schema generation for Default annotation"
When I want to add `DEFAULT NULL` statement in the generated SQL migration files, the output is `'NULL'` (null-string) for the int field but `"NULL"` (with double quote) for time field.
Edit: disclaimer: I was trying to replicate a DDL and came after this issue although knowing that `DEFAULT NULL` might have no effect on the nullable column anyway.

- [x] The issue is present in the latest release

[2022-08-19 09:32] nvhai245 commented on #127
I think it would be better if we support some options to define a different primary key for schema, for example:
`field.String("uid").PrimaryKey()`

[2022-08-19 09:39] a8m commented on #127
You can. See the second option here: https://entgo.io/docs/schema-fields#id-field

[2022-08-19 10:35] masseelch commented on #2866
Once the linked PR is merged, the latest master of Ent will work again without the `--dir-format`. Though I advise to use it :-)

[2022-08-19 10:49] #2866 closed

[2022-08-19 11:28] kidlj commented on #2684
This issue was fixed by somebody, thank you.

[2022-08-19 11:37] a8m commented on #2684
I guess by me when I upgraded [Docusarous](https://docusaurus.io/). Can we close the issue then?

[2022-08-19 14:45] Antonboom commented on #2864
@a8m, I know Go recommendations.

But there are many examples where the context is replaced with a custom context containing it.
And your transaction is one of this?

[code]

vs

[code]

Now I have to make my own wrapper over your transaction.
What do you think?

[2022-08-19 14:57] a8m commented on #2864
The `context.Context` is usually the first argument to a function,  so the second example is excellent.

Also, using the transaction context may not be good for some cases, because the hierarchy there is like a tree, and a function like `Put` should use the right context in the hierarchy (e.g. telemetry, authz, etc) and not the one used for opening the transaction; In entgql for example, there's a

[2022-08-20 16:10] #900 closed

[2022-08-20 16:10] a8m commented on #2706
Thanks for the proposal @frederikhors, the issue was addressed with https://github.com/ent/ent/pull/2876.

[2022-08-20 16:10] a8m commented on #900
Thank you all for the feedback. The issue was addressed with https://github.com/ent/ent/pull/2876. Please, update to the latest master, give it a try and update me if there's any issue with it.

[2022-08-21 00:24] water-a opened #2878 "entgo.io/contrib - Unexpected package creation during export data loading"
Generating protobufs from the entproto plugin fails.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[code]

## Expected Behavior 🤔
[code]

## Solution

I was able to fix this issue by manually modifying the entgo.io/contrib go.mod file to upg

[2022-08-21 08:08] #2878 closed

[2022-08-21 08:10] rotemtam commented on #2878
Hey @water-a

Thanks for the detailed report and solution.

@all-contributors please add @water-a for bug

[2022-08-22 12:44] masseelch commented on #2870
Hey @hackinteach, thank you for reporting this.

First of all, all of the following SQL statements are semantically the same:

1. `DATETIME NULL`
2.` DATETIME DEFAULT NULL`
3. `DATETIME NULL DEFAULT NULL`

This means, that in your case simply defining your schema like this, is enough:

[code]

The `Default` field of the `entsql.Annotation` struct is meant to be used for literal default values, tha

[2022-08-22 12:44] #2870 closed

[2022-08-23 01:02] llimllib opened #2880 "The "Getting Started" instructions don't work"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The [getting started page](https://entgo.io/docs/getting-started/) says that this should work, but it doesn't:

[code]

I would update the docs, but I'm not sure how to update them correctly. In

[2022-08-23 08:07] masseelch commented on #2880
Hey @llimllib, you right, the instructions are not correct. Since you can have more than just one Ent project on your machine, that have potentially different versions, we recommend to pin the `ent` version to your go.mod. This means, you should call `go run entgo.io/ent/cmd/ent`.

This means, the call to `go install` is not needed. Instead simply add the `-mod=mod` flag to your `go run` call:

`g

[2022-08-23 14:49] llimllib commented on #2880
Took a whack at it in #2881

[2022-08-23 18:16] a8m commented on #2843
Closing it then. Thank for the support @shota-hizawa and thanks for reporting this @damdai.

[2022-08-23 18:16] #2843 closed

[2022-08-24 04:48] ryanli-me commented on #1821
any updates on this? would really appreciate an upsert that returns ID. or is there an alternative approach?

[2022-08-24 04:49] ryanli-me commented on #1821
using `Ignore` uses `ON CONFLICT DO UPDATE` and that could lead to deadlock?

[2022-08-25 04:44] realcp1018 opened #2883 "How to regenerate ent subdirs"
https://entgo.io/docs/getting-started
Hi, I create a user schema with `go run -mod=mod entgo.io/ent/cmd/ent init User`, then run `go generate ./ent` and get a lot of subdirs in ./ent .
After some tests I changed the Fields() definition in `ent/schema/user.go`(add some new fields), and delete all other files except `ent/schema/user.go`, then I rerun  `go generate ./ent`  but nothing happened.
Q1: W

[2022-08-25 06:08] realcp1018 commented on #2883
Q2 pass, no need to delete files after user.go changed, just rerun `go generate ./ent`.

[2022-08-26 09:18] masseelch commented on #2883
Hey @realcp1018, thank you for being here.

The `go run -mod=mod entgo.io/ent/cmd/ent init User` command creates a whole set of files. The most important ones being: `ent/schema/*.go` and `ent/generate.go`. The latter contains a `//go:generate` directive, that executes the code generation when calling `go generate ./ent`. You should not delete that file. You can simply re-create that file and past

[2022-08-26 09:18] #2883 closed

[2022-08-26 09:18] #2842 closed

[2022-08-26 09:18] masseelch commented on #2842
Closing, feel free to re-open if the issue persists on master.

[2022-08-26 09:38] waltcow commented on #2159
[code]

`role_names` is Optional, but no `SetNillableRoleNames`  setter is generated

@a8m  I think it may related to this issue too

[2022-08-27 05:58] a8m commented on #2807
Hey @frederikhors and sorry for the delay. @giautm and I discussed this internally, and don't have a final design for it. We have a few open questions/thoughts at the moment and we'll love to hear your feedback before we continue to the implementation.

We prefer that the API will be added to Ent (natively) and `entgql` will just use it. Same as we implemented aliases. The API I thought about is q

[2022-08-27 08:29] frederikhors commented on #2807
I really like how it's coming. Maybe I can try it out as soon as it's ready in a git branch.

Thanks!

[2022-08-27 11:17] syssam commented on #2807
@a8m we more focus on the Relay Cursor Connections (Pagination).
We know we can do that without a relay cursor, follow https://entgo.io/docs/paging#custom-ordering.
However, I can't find any solution with Relay Cursor because the code is generated by ent and private.

[2022-08-29 08:35] waltcow commented on #1677
This is what I want to need too.

[2022-08-29 08:44] a8m commented on #1677
Thank you all for the feedback. I think it’s something we want to add and I’ll add it to our current milestone.

[2022-08-29 13:55] meain opened #2886 "`.Not().Where()` not working for `sqljson.HasKey` in `sqlite`"
I was trying to do something like below to get all rows with json objects that does not have a specific key but I am not getting any output.

[code]

SQLite debug session:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Returns 0 zero

[2022-08-29 20:35] a8m commented on #2886
Hey @meain and thanks for reporting this issue. https://github.com/ent/ent/pull/2887 should fix this issue.

I found out that the SQLite `HasKey` implementation could be simpler and I fixed it. See: https://www.sqlite.org/json1.html#jtype

I'll close this issue once https://github.com/ent/ent/pull/2887  is merged, but please, you're more than welcome to join our [Discord community](https://discord

[2022-08-29 20:37] #2886 closed

[2022-08-29 22:20] wonderfate opened #2888 "/ent/gen/runtime.init.0()"
Here's what happened？

![image](https://user-images.githubusercontent.com/43459833/187308127-d02a45c3-ac93-4010-8ee5-5acc38958acd.png)

When I customized the cmd I got an error

![image](https://user-images.githubusercontent.com/43459833/187308474-293f10b0-7287-430a-9d2e-7813385908cd.png)

[2022-08-29 23:35] frederikhors opened #2889 "Empty array after upgrade from ent/contrib `v0.3.0` to `v0.3.1`"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I just discovered something that made me tremble with fear.

I'm upgrading from:

[code]

to:

[code]

and one query (via graphql) that previously returned:

[code]

now returns:

[code]

Note th

[2022-08-30 01:50] a8m commented on #2889
Thanks for reporting this @frederikhors. Can you please paste here the GraphQL query?

These are the changes between the 2 versions:
https://github.com/ent/contrib/compare/v0.3.0...v0.3.1, https://github.com/ent/ent/compare/v0.11.1...v0.11.2

[2022-08-30 04:45] a8m commented on #2888
Hey @wonderfate and thanks for reporting this issue 👋🏻

Can you elaborate on what do you mean by “customizing the cmd”? Any way I can reproduce this?

[2022-08-30 06:01] giautm commented on #2889
Hello @frederikhors, can you help us a bit, by upgrading one by one to find where the issue happen? In Ent or EntGQL

[2022-08-30 06:15] QuantumGhost opened #2891 "Performance problem of `.Exist()` method?"
Now ent [translate `*ent.FooQuery.Exist()` method into a `COUNT(*)` query](https://github.com/ent/ent/blob/master/entc/gen/template/dialect/sql/query.tmpl#L251-L257).

However, this may cause performance problem. I'm wondering why not translate it into `.First` and check `ent.IsNotFound(err)`. Is there any particular consideration?

[2022-08-30 06:31] a8m commented on #2891
Hey @QuantumGhost and thanks for the suggestion, it sounds like a great improvement for Ent.

We can query only the ID field using the `FirstID` API. Would you like contributing it? I’m available in our Discord if you have any question.

[2022-08-30 06:46] QuantumGhost commented on #2891
Ok. I'll submit a PR later.

[2022-08-30 08:37] frederikhors commented on #2889
Ok. I have had more time now and after only updating ent from `v0.11.1` to `v0.11.2` **it works**.

The issue is with `entgo.io/contrib v0.3.1` (from `v0.3.0`).

[2022-08-30 08:55] wonderfate commented on #2888
Hi @a8m

I can't reproduce that.

I don't know when the content in this file was generated `/ent/runtime/runtime.go`

![image](https://user-images.githubusercontent.com/43459833/187394304-7d3f4b19-0435-42d9-9428-de9574fc7345.png)

[2022-08-30 08:57] a8m commented on #2888
Can you please paste here the generated file? It looks like line 107 panics.

Also, can you please update to the latest master, run codegen and report if you still get this?

[code]

[2022-08-30 09:18] frederikhors commented on #2889
I tried the commits one by one from https://github.com/ent/contrib/compare/v0.3.0...v0.3.1.

The issue starts from [6af48f80535367b485d99fa25f63daea5caa5d64](https://github.com/ent/contrib/commit/6af48f80535367b485d99fa25f63daea5caa5d64).

[2022-08-30 09:38] wonderfate commented on #2888
get this pinic  when I add or modify the field

[code]

[2022-08-30 09:40] frederikhors commented on #2889
The code is this:

[code]

the query is:

[code]

[2022-08-30 09:52] a8m commented on #2889
Thanks for the help @frederikhors. @giautm and I will give it a look

[2022-08-30 09:54] a8m commented on #2888
@wonderfate, can you please run code generation (`go generate ./ent/...`) and report if you still get this? It looks like the `avatar` field does not exist in the schema. Can you also paste here the `User` schema? Thanks 🙏

[2022-08-30 10:07] wonderfate commented on #2888
@a8m

Sorry bro, I modified my code and now I can't reproduce it.

some code snippets as below:

my customize `cmd.go`

[code]

[code]

my `gengenerate.go`
[code]

[2022-08-30 10:10] wonderfate commented on #2888
I confirm that my schema exists the avatar field, seems to be related to `runtimes`

[2022-08-30 10:18] a8m commented on #2888
My guess is that `singularHook` is responsible for this failure, but it's just an assumption because it's not the code we have in the upstream. I recommend you to use the standard Ent package and not use a modified version of it (in case it's possible), because it's constantly evolving. If something is missing or you would like to extend it, let me know and I'll try to help with it.

I think we ca

[2022-08-30 10:26] giautm commented on #2889
Hello @frederikhors , can you share the code of steps resolver?

[2022-08-30 10:28] wonderfate commented on #2888
I originally wanted to use `singularHook` to modify the format for each table name, But it didn't seem to work, so I modified it in the Schema.

Which package should I use? if wanna modity each table name

Yeah, thanks for your answer

[2022-08-30 10:30] a8m commented on #2889
No need @frederikhors. We think we found the issue. We're on it now 😎

[2022-08-30 10:34] a8m commented on #2888
You can use `ent`/`entc` as a package (see [instructions](https://entgo.io/docs/code-gen#use-entc-as-a-package) and an [example](https://github.com/ent/ent/tree/master/examples/entcpkg)) and inject a custom codegen hook there. See also: https://entgo.io/docs/code-gen#code-generation-hooks.

Please, feel free to join our [Discord community](https://discord.gg/qZmPgTE6RX) if you need more help with

[2022-08-30 10:34] #2888 closed

[2022-08-30 10:41] frederikhors commented on #2889
I did: https://github.com/ent/ent/issues/2889#issuecomment-1231423758.

[2022-08-30 12:04] giautm commented on #2889
Hello @frederikhors, This PR may fix your issue. Can you try it? I'm unable to create a test case yet. But do it soon.

https://github.com/ent/contrib/pull/373

[2022-08-30 12:23] frederikhors commented on #2889
How can I go get it?

[2022-08-30 12:45] giautm commented on #2889
Use the commit ID `go get entgo.io/contrib@354f83`

[2022-08-30 14:01] frederikhors commented on #2889
Oh. I didn't think it was possible with PR too (not master branch).

I'm trying right now.

[2022-08-30 14:02] frederikhors commented on #2889
I'm trygin with 6ebd2e1430a0e5ec1f7277dac0306ffd2edea28d.

[2022-08-30 14:10] frederikhors commented on #2889
Ok. I can confirm you that with https://github.com/ent/contrib/pull/373/commits/6ebd2e1430a0e5ec1f7277dac0306ffd2edea28d **it doesn't work**. 😢

[2022-08-30 14:34] frederikhors commented on #2889
😄 yep! I'm an expert now...

[2022-08-30 18:04] giautm commented on #2889
Do you see any change in the code gen of ent?

[2022-08-30 18:06] frederikhors commented on #2889
Yeah. Plenty of them!

[2022-08-30 18:09] a8m commented on #2889
@frederikhors, can you paste here the generated code exist in gql_edge.go for loading the Steps() (search for the Steps() method)?

[2022-08-30 19:05] frederikhors commented on #2889
Before:

[code]

after:

[code]

[2022-08-30 19:08] giautm commented on #2889
@frederikhors Yes, the changes look correct. Is the issue still happening?

[2022-08-30 19:10] frederikhors commented on #2889
Yep. From that commit the steps array is empty.

Even with that PR commit.

How can I help you more?

[2022-08-30 19:24] giautm commented on #2889
Wow, Do you have any template that overrides the ent template/or EntGQL template? Can you share it with me (PM via Discord/Telegram/Twitter...)

[2022-08-30 19:27] frederikhors commented on #2889
Nope. No custom template. All default.

[2022-08-30 19:32] giautm commented on #2889
I'm out of ideas, I need a reproducing repo to debug it. Or can you invite me to your repo? I can sign any confidentiality agreement if you want.

cc @a8m

[2022-08-31 05:08] rotemtam commented on #2889
@frederikhors, may I suggest that you create a minimal repro of your bug using https://github.com/ent/bug ?

[2022-08-31 07:41] frederikhors commented on #2889
I don't have time right now. Is not a simple task. I'll as soon as possible.

[2022-08-31 19:02] wonderfate opened #2893 "about the MySQL 'point' type got garbled"
Reproduce : [ent-test-spatial](https://github.com/wonderfate/ent-test-spatial)

The `coords` field is garbled !!!

![image](https://user-images.githubusercontent.com/43459833/187760626-b33db4a9-e372-4f18-8715-03159329c212.png)

[code]

[2022-08-31 19:36] a8m commented on #2893
Hey @wonderfate 👋

That's because the example there uses [WKB](https://github.com/paulmach/orb/tree/master/encoding/wkb) (binary) format. If you don't want to store it as text, use the [WKT](https://github.com/paulmach/orb/tree/master/encoding/wkt) package instead.

Closing, as it works as expected. Thanks 🙏

[2022-08-31 19:36] #2893 closed

[2022-08-31 19:39] a8m commented on #2893
Some code pointers that may help you:
https://github.com/wonderfate/ent-test-spatial/blob/master/ent/schema/point.go#L24
https://github.com/wonderfate/ent-test-spatial/blob/master/ent/schema/point.go#L34
https://github.com/wonderfate/ent-test-spatial/blob/master/ent/schema/point.go#L41

[2022-08-31 19:40] wonderfate commented on #2893
ohh I see.  thank you so much !!!!

[2022-08-31 20:46] wonderfate commented on #2893
Hi @a8m  I tried WKT but it still seems to be garbled.

Can you help me, please. If you have free.

[code]

[2022-09-02 05:13] dakimura opened #2894 "Any ideas to distinguish read/write query for read-replicas?"
I have 1 primary DB instance and 1 read-replica DB instance for my service, and implemented the load balancing by extending `dialect.Driver` interface like the [example in the official FAQ page](https://entgo.io/docs/faq/#how-to-configure-two-or-more-db-to-separate-read-and-write).

Then I noticed that `Query` function of the interface can be called for write operations, like [this example.](https

[2022-09-02 05:51] a8m commented on #2894
Hey @dakimura and thank you for raising this issue.

The example in the FAQ page uses the "writer" connection pool for opening the transaction, so in case you want to have `nopTx` you should use the [`dialect.NopTx(d.w)`](https://github.com/ent/ent/blob/master/dialect/dialect.go#L62) when a `Tx` is opened to ensure all read statements (queries) go to the same writer connection pool.

[code]

[2022-09-02 06:03] dakimura commented on #2894
Thank you for the quick response!! 🙇🙇🙇🙇🙇
Let me close the issue and try your suggestion, I'll re-open this issue if it doesn't solve my issue.

[2022-09-02 06:03] #2894 closed

[2022-09-02 09:27] wonderfate opened #2895 "edge-fields (foreign-key columns) do not accept default value"
Hi there.

The default value don't work,  I don't know what I'm doing wrong.

## Current Behavior 😯

https://github.com/wonderfate/ent-test-edges/blob/5cfbce566bdc70d00cdd0cc395bbcdb63a250e60/ent/schema/pet.go#L19

https://github.com/wonderfate/ent-test-edges/blob/5cfbce566bdc70d00cdd0cc395bbcdb63a250e60/ent/migrate/schema.go#L14

![image](https://user-images.githubusercontent.com/43459833/1881089

[2022-09-02 10:02] a8m commented on #2895
Hey @wonderfate and thanks for raising this issue.

The `Default` value `0` is not valid for foreign-key columns as it violates the foreign-key constraint. An improvement we can add here is to add check/report this in the codegen phase, but not sure it's really needed.

[2022-09-02 10:10] wonderfate commented on #2895
e.g.  The pets table insert some info when pets at the pet shop. Update the perts table `user_id` after the customer buys pet

[2022-09-02 10:34] a8m commented on #2895
OK. Setting this field as `Optional` is the way to go (`NULL`able in the database). This way you can query all pets with/out owners, etc.

[2022-09-02 10:42] wonderfate commented on #2895
Actually I don't want to set to `NULL` in the database, just want to set `DEFAULT 0 NOT NULL`  (It might be like you said it violates the foreign-key constraint)

Do you have any suggestions?

[2022-09-02 10:46] a8m commented on #2895
It looks like you want to make it optional on creation, but the edge is `Required`. These 2 are mutually exclusive, because `0` ID is not allowed as `DEFAULT` value. If it's a `Required()` edge it must be set on the creation with a real value, not `0` because again, it violates the foreign-key constraint.

[2022-09-02 13:00] Aagosh10 commented on #2891
hello @QuantumGhost @a8m I have created a PR for this - https://github.com/ent/ent/pull/2896. PTAL.

[2022-09-02 13:46] a8m commented on #2895
I think we can close this. If you still need help or want to discuss this, I'm available on our [Discord server](https://discord.gg/qZmPgTE6RX) for any questions.

[2022-09-02 13:46] #2895 closed

[2022-09-04 07:05] a8m commented on #2891
Fixed with https://github.com/ent/ent/pull/2896. Thank you both for the suggestion and the fix 🙏 ❤️

[2022-09-04 07:05] #2891 closed

[2022-09-05 10:05] dybxin opened #2899 "How to set up federated indexes in a 1-to-many association relationship?"
I have a scenario like this:

schema Resource:

[code]

schema Action:

[code]

i want set Action's value and Resource's id unique indexes, how to set in Indexes() method?

[2022-09-05 10:38] a8m commented on #2899
Hey @dybxin and thanks for raising this issue 🙏

Both columns (`value`/`Action.value` and `resource_id`/`Action.ResourceID`) reside on the `actions` table.  That means, you can implement this with one of these options:
- Edge and field: https://entgo.io/docs/schema-indexes#index-on-edges
- With edge field: https://entgo.io/docs/schema-indexes#index-on-edge-fields

[2022-09-05 11:14] a8m commented on #2899
Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-09-05 11:14] #2899 closed

[2022-09-06 08:49] houko opened #2901 "how to update field with variable"
for example, I have the sql as below:
[code]
I don't know how to do with entgo

thank you very much~

[2022-09-06 11:13] shahriarshimul opened #2902 "Bug Report"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.17.?  |
| Ent         | 0.9.?

[2022-09-06 11:15] shahriarshimul commented on #2902
There's no need to comment again due to the data compliance mode as long as new file or data is planned to be executed.

[2022-09-06 11:19] a8m commented on #2902
Hey! Can you elaborate on what the bug is?

[2022-09-06 11:20] a8m commented on #2902
Hey! I'm not sure what I see here, but please elaborate on what the bug is and how to reproduce it. Thanks 🙏

[2022-09-06 12:11] #2902 closed

[2022-09-06 14:36] a8m commented on #2901
Hey @houko 👋
I just added support for prefixig `UPDATE` statements with custom queries/statements. Please, feel free to update to the latest master and check out the example I added in https://github.com/ent/ent/pull/2904.

[2022-09-06 14:36] #2901 closed

[2022-09-06 14:40] houko commented on #2901
thanks again for quickly reply.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ariel Mashraki ***@***.***>
Sent: Tuesday, September 6, 2022 11:37:05 PM
To: ent/ent ***@***.***>
Cc: Evan ***@***.***>; Mention ***@***.***>
Subject: Re: [ent/ent] how to update field with variable (Issue #2901)

Closed #2901<https://github.com/ent/ent/issues/2901> as completed.

—
R

[2022-09-06 20:19] vogtp commented on #2129
I ran into this issue on the UpsertOne variants and was confused by by the different API structure!
(At this point I should mention that I really love the way the API produces readable code!)

I would really love if upsert was following the same API as the other operations.

Reading this thread I stared to ask myself if all variants should have the following methods:
- Exec: just returning an erro

[2022-09-06 23:28] ivanvanderbyl opened #2905 "Add an Index annotation for Postgres INCLUDE clause"
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add an annotation to support declaring additional fields that should be included in the index, but not indexed. Example:

[code]

More concrete docs: https://www.postgresql.org/docs/current/indexes-index-only-scans.html

## Motivation 🔦

Covering indexes

[2022-09-07 00:06] ivanvanderbyl opened #2906 "[EntGQL] Expose OrderFunc for use outside pagination"
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Expose a method on the generated `<NodeName>Order` type so that it can be used with standard query builders.

Example:

[code]

## Motivation 🔦

In a resolver we we need to ran an additional query to check if the results should be cached or not before ru

[2022-09-07 01:09] houko commented on #2901
@a8m sorry, I want to know how to enable this feature.
I have updated the version to `v0.11.3-0.20220906143453-1773fc465eed`

[2022-09-07 01:10] JoelFresh-HypeLabs commented on #1489
Would also like to have this feature implemented!

[2022-09-07 03:11] waltcow opened #2907 "`.Limit(0)` in query should be omitted"
`Limit` limits the query result to `n` entities. but when it comes to `0`
 It will be meaningless and should be omitted in sql
[code]

sql  generated as followed

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

[2022-09-07 06:21] miladibra10 opened #2908 "Backward Incompatibility for Migration from v0.8.0 to v0.11.0"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm using v0.8.0 of ent in my project. I wanted to upgrade it to v0.11.0. I updated the library via go mod and re-generated all needed files from schema. But I face an error when calling the `Mig

[2022-09-07 06:33] a8m commented on #2908
Hey @miladibra10 and thanks for raising this issue.
Can you please create an example to reproduce this using [ent/bug](https://github.com/ent/bug)?

[2022-09-07 06:45] a8m commented on #2907
Hey @waltcow and thanks for reporting this.

I'm not able to reproduce this using your example because the logic there is different. As you can see, the [logic in sqlgraph](https://github.com/ent/ent/blob/master/dialect/sql/sqlgraph/graph.go#L632-L636) appends a default `LIMIT` (math.MaxInt32) only if the `OFFSET` was provided and `LIMIT` was **0 or was not set**. This is needed because the `OFFSE

[2022-09-07 06:46] a8m commented on #2907
Please, let me know if I can close this issue. I'm also available in our [Discord community](https://discord.gg/qZmPgTE6RX) for any questions.

[2022-09-07 07:38] waltcow commented on #2907
@a8m example above is missing `.Offset()` clause , I have updated in comment

[2022-09-07 07:41] a8m commented on #2907
We can omit this default `LIMIT` in PostgreSQL. Please, feel free to contribute this patch. Thanks 🙏

[2022-09-07 07:43] waltcow commented on #2907
Thanks for showing me the related `sqlgraph`, ` Limit` is needed obviously.

[2022-09-07 07:43] #2907 closed

[2022-09-07 10:42] a8m commented on #2905
Hey @ivanvanderby! Happy to see you here again 😎

Let me check if we can address this quickly.

[2022-09-07 13:49] a8m commented on #2901
See the SQL modifiers feature flag: https://entgo.io/docs/feature-flags/#modify-example-6

For your specific example, you can do something as follows:

[code]

[2022-09-07 15:54] sapuri opened #2911 "Indexing using the ngram full-text parser"
Full-text indexes can be added with this annotation, but is there any support for indexing using the ngram full-text parser?

[code]

ref. https://dev.mysql.com/doc/refman/5.7/en/fulltext-search-ngram.html

[2022-09-07 19:10] a8m commented on #2905
Addressed with https://github.com/ent/ent/pull/2912. Thanks again for suggesting this ❤️

[2022-09-07 19:10] #2905 closed

[2022-09-08 02:04] houko commented on #2901
that's good, I did it. thank you very much

[2022-09-08 07:09] a8m commented on #2908
Closing due to no feedback. Please, reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-09-08 07:09] #2908 closed

[2022-09-08 09:32] thuan1412 commented on #1890
Hi, how do we exclude (auto collapse) generated files by using `.gitattributes`?
I don't know how to exclude all folders except `ent/schema` :smile:

[2022-09-08 10:53] thuan1412 commented on #1890
Can we add a custom postfix/prefix for generated files? So that the config for ignoring will be more simpler? Moreover, it will help us omit generated files when searching text inside the project.

[2022-09-08 14:57] a8m commented on #2814
Thanks for opening this @Albert-Gao. Solved with #2915

[2022-09-08 14:57] #2814 closed

[2022-09-09 06:05] marcinztipsera commented on #2305
Are there any examples, documentation how to use/create a support for something like this
[code]

on the server side?

[2022-09-09 06:11] a8m commented on #2305
Hey @marcinztipsera,
If you’re enabling the RelayConnection annotation to your edges/nodes, it should work. See https://entgo.io/docs/tutorial-todo-gql-paginate#add-pagination-support-for-query

[2022-09-09 11:05] #2517 closed

[2022-09-12 08:07] ramonmedeiros opened #2925 "RemovedEdges and ClearedEdges from ent.Mutation does not work"
When updating the edges of an entity, RemovedEdges and ClearedEdges does not returned updated edges.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

My goal is to listen to all updates in my ent code and create an Changelog, so I can have a h

[2022-09-12 09:09] a8m commented on #2925
Hey @ramonmedeiros and thanks for reporting this.
Do you mean that removed/cleared edges are not returned from the mutation? Can you please create a reproducible example using [`ent/bug`](https://github.com/ent/bug)?

[2022-09-13 13:13] a8m commented on #2925
Closing due to no feedback and I'm not able to reproduce it. Please, reopen it if you still need help or if you can help us to reproduce it. Thanks 😃

[2022-09-13 13:13] #2925 closed

[2022-09-14 02:31] chokoGtr opened #2927 "How to get mutation with Schema hooks when using OpUpdate?"
I want to use Schema hooks to store information.
In doing so, when I try to get the mutation with OpUpdate as follows, I get a value of `ent.Value(int)` for val.

[code]
Perhaps I got the number of hits to the predicate of update.

When I used OpUpdateOne, I could get the value after update by the above method.
If I use OpUpdate, how can I get the value after update?

[2022-09-14 20:16] yashdiniz opened #2928 "Invalid memory address or nil pointer dereference with Edge schemas when trying the User Likes Example"
I was trying the User Likes Example(https://entgo.io/docs/schema-edges/#user-likes-example) of the ent docs, and got a SIGSEGV when I ran the command `ent describe ./ent/schema`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
When running `ent

[2022-09-15 03:53] wahello opened #2929 "entproto do not compatible with JSON field"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

as struct like Such as:
[code]

And  generate the model the following code
[code]
Error printed with tip like:
[code]
If remove the line
[code]
the above code works.

## What's the problem?

| Te

[2022-09-15 06:34] rotemtam commented on #2929
Hi @wahello

Thanks for reaching out. Correct, `field.JSON` isn't supported with `entproto`. There's an open discussion on how the proto/gRPC layer should behave in this case:
https://github.com/ent/ent/discussions/1690

Would you mind responding there with how you would expect this feature to behave?

Closing as the issue is captured in #1690

[2022-09-15 06:34] #2929 closed

[2022-09-15 07:37] houko opened #2930 "how to query data from multiple table?"
for example, now I have two tables. `user` and `preference`.

# user
[code]

# prefenerce
[code]

the tables relationship is 1O1, that means one user only have one preference.then, I want to query data from two tables.
for example:

[code]

so, what should I do with entgo?

thank you very much.

[2022-09-15 08:09] #2928 closed

[2022-09-15 08:09] a8m commented on #2928
Thanks for reporting this @yashdiniz 🙏

Issue was fixed with #2931

[2022-09-15 13:24] pangweiqiang opened #2932 "how to do?example:"'UPDATE ' . table . ' SET stock=stock+?,locked_stock=locked_stock-? WHERE sku_id=? AND stock<=total_stock-? AND locked_stock>=?';""
How to write ent in this way
stock<=total_stock-?

[2022-09-15 16:53] a8m commented on #2930
Hey @houko and thanks for opening this issue.
I'd say that the way to do it in Ent is with [eager-loading](https://entgo.io/docs/eager-load), and you can `Select` specific fields that you want to load.

[code]
However, if you still want to use `JOIN` and scan the result to a custom struct, you can use query modifiers: https://entgo.io/docs/feature-flags#custom-sql-modifiers.

Closing, but please f

[2022-09-15 16:53] #2930 closed

[2022-09-15 17:15] a8m commented on #2932
Hey @pangweiqiang and thanks for raising this issue 👋

The following can be written as follows:

[code]

Another approach (which is preferred IMO), is instead of using raw strings to use the generated columns:
[code]

Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this 😃

[2022-09-15 17:15] #2932 closed

[2022-09-15 17:17] a8m commented on #2927
Hey @chokoGtr 👋

Can you elaborate on what value you want to get? The actual entity(ies)?

[2022-09-15 17:28] a8m commented on #2911
Hey @sapuri and thanks for suggesting this option.
I think we can add it to [Atlas](https://github.com/ariga/atlas) first and I'll try to give it a look next week.

[2022-09-16 03:00] houko commented on #2930
https://discord.com/channels/885059418646003782/885059419107360779/1020165742114644048

I send a message to discord too.
maybe my shema have some mistake.

[2022-09-16 07:31] kurtinge commented on #2807
This API suggestion looks really promising. I would also like to test it out as soon as there is something to test.

[2022-09-16 09:16] pangweiqiang commented on #2932
cool !
think you very much!

[2022-09-16 11:35] ramonmedeiros commented on #2925
Sorry for the late reply.

Just created a minimal reproducible code here:  https://github.com/carla-se/bug

I would like to be more precise in the issue description:

`AddedEdges` works when I update the edge of an entity, but I cannot found the IDs related to it.

The hook and the test is in the `bug_test.go`

[2022-09-16 11:43] ramonmedeiros commented on #2925
Thanks!

[2022-09-17 09:21] ivanvanderbyl commented on #1472
It looks like this feature has been abandoned. @a8m any pointers on how this could be achieved with Atlas hooks?

[2022-09-18 06:04] lrstanley opened #2936 "bug: privacy + snapshot + entgql, O2O unique relayconnection causes unrecoverable generated state"
When enabling privacy, snapshot, and entgql, and adding a `RelayConnection` on a O2O with a unique back-reference, it yells at you when generating, e.g:

[code]

## Current Behavior 😯

The above in itself isn't an issue, just a case (on my end) of copy-paste mistake. However, if I try and remove the `RelayConnection` annotation, the snapshot schema isn't updated before it throws the above generati

[2022-09-18 06:08] lrstanley commented on #2936
Also worth noting, that I believe the same issues would apply if I were to add that `RelayConnection()` annotation on either side of the O2O relation. In this example, it's on the back-reference, but it could be either (as shown in my discord comments).

[2022-09-18 06:33] lrstanley opened #2937 "bug: edge relationships conflict with schema type names in ent/migrate"
M2M relationship `ref` names can cause generated code to have naming conflicts within the generated `ent/migrate` package.

[Related Discord conversation](https://discord.com/channels/885059418646003782/885059419107360779/1020904741330505759).

## Current Behavior 😯

With an example of `User` and `UserGuilds`, and a M2M relationship with a ref of `guilds`, this causes `ent/migrate` to have overlap

[2022-09-18 09:10] a8m commented on #2927
Use the `ID`/`IDs` method on the `Mutation` object to get the IDs of the nodes/objects that were affected by this mutation. If you want to get the actual entities, use `Mutation.Client()` to get the client from the mutation and query these IDs.

Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-09-18 09:10] #2927 closed

[2022-09-18 15:23] TheBeachMaster opened #2938 "Panic (re)-generating assets"
(Re)-generating assets fails with a panic.

I removed the originally generated `ent.graphql` and run the the generate commands and the process fails

Of interest is this line in the error output

[code]

The contents of my `entc.go` are as follows

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and

[2022-09-18 15:34] TheBeachMaster commented on #2938
Downgrading to `v0.11.2` solves the issue.

Maybe I should avoid  installing bleeding edge packages

[2022-09-19 11:33] zhangjie2012 opened #2940 "upgrade to v0.11.2 field set default time.Now throw "runtime error: invalid memory address or nil pointer dereference""
upgrade ent from `v0.10` to `v0.11.2` create object will throw nil exception:

[code]

`book_create.go` code:

[code]

the scheme code:
[code]

| Tech        | Version |
| ----------- | ------- |
| Go          | go version go1.18.3 linux/amd64 |
| Ent         | 0.11.2  |
| Database    | MySQL   |
| Driver      | https://github.com/go-sql-driver/mysql        |

[2022-09-19 19:50] crossworth commented on #2807
I have spent some time trying to solve this problem as well (not exactly this problem, but allowing for custom order on entgql, in my case I need to order by a complex result, so it's not only by edge, but multiple edges).

I started with the idea of creating a custom entgql `orderBy` annotation, that accepts a name and a `func(*sql.Selector) string`, something like:

[code]

We would have to chan

[2022-09-20 02:17] zhangjie2012 commented on #2940
rollback to `v0.10.1` fixed.

[2022-09-20 03:55] BERZERKCOOLeST opened #2941 "[HELP] A Field which type is JSON, how to use JSON_ARRAY_APPEND() when executing Update()"
- This is the field : `field.JSON("info", &Info{}).Optional()`
- Target sql:  Update `tmp_info` SET `info` = JSON_ARRAY_APPEND(`info`, '$', '1');
- DB: mysql.

Thanks.

[2022-09-20 12:09] a8m commented on #1472
Thanks for the reminder @ivanvanderbyl. This feature was actually implemented by Atlas a long time ago and the binding between the two packages was a small annotation change. It is resolved now by https://github.com/ent/ent/pull/2944 and the website will be updated soon.

[2022-09-20 12:09] #1472 closed

[2022-09-20 12:12] a8m commented on #2938
Hey @TheBeachMaster! What Go version do you use? Ent supports the last two Go versions (1.18, 1.19) and it looks like your codegen fails because the template uses the `{{continue}}` command in the template, that was added in Go 1.18.

[2022-09-20 14:50] a8m commented on #2940
Hey @zhangjie2012! Any chance you use privacy or hooks and forgot to import `"ent/runtime"`?

[2022-09-20 18:01] TheBeachMaster commented on #2938
Hello @a8m  I'm on go `1.18.1`

[2022-09-20 18:03] a8m commented on #2938
Can you please share with us a reproducible example using https://github.com/ent/bug?

[2022-09-20 18:04] TheBeachMaster commented on #2938
Alright ...

[2022-09-20 18:05] a8m commented on #2938
Thanks 🙏🏻

[2022-09-21 00:06] zhangjie2012 commented on #2940
no,  I did not use `privacry` or `hooks`, but I used ` --feature sql/upsert`.

[2022-09-21 06:14] a8m commented on #2940
Can you please paste here the `ent/runtime.go` and `ent/runtime/runtime.go` files of the versions that caused the panic? Alternatively, an example using [ent/bug](https://github.com/ent/bug) can help as well.

[2022-09-21 06:31] zhangjie2012 commented on #2940
reinstall v0.11.2, and generate scheme again, no this bug.

I don't know what happened. :zany_face:

[2022-09-21 06:33] a8m commented on #2940
OK, let me know if I can close the issue then. Thanks 🙏

[2022-09-21 06:35] zhangjie2012 commented on #2940
close, if appear again, I will reopen it.

thanks. @a8m

[2022-09-21 06:35] #2940 closed

[2022-09-21 06:35] a8m commented on #2940
Thanks for reporting it, @zhangjie2012 🙏🏻

[2022-09-21 16:02] mztnnrt commented on #2194
In fact, is it able to connect postgresql on cloud sql  with [Create A New Client](https://entgo.io/docs/crud/#create-a-new-client)
If we need additional option as like [gorm](https://entgo.io/docs/crud/#create-a-new-client) , i want someone to tell me

[2022-09-21 16:09] a8m commented on #2194
Yes. What database driver do you use? pg/pgx?

You can create an `*sql.DB` and then create an Ent driver (and client) from it. It's quite similar to the pgx example on the entgo.io website. See https://entgo.io/docs/sql-integration#use-pgx-with-postgresql and https://github.com/GoogleCloudPlatform/cloud-sql-go-connector#postgres-1.

[2022-09-21 16:39] mztnnrt commented on #2194
Thanks for your reply. i use driver `pg`

Though my understanding about driver, client was lacking,  I just solved based on your reply as like below.

<details>
<summary>just for reference 🙏</summary>

[code]

</details>

Thank you very much, this was a really big help

[2022-09-21 16:44] a8m commented on #2194
Great! Feel free to add it to our docs 🙏🏻

[2022-09-21 20:06] hsblhsn opened #2946 "bug: [entgql] panic because of nil pointer dereference"
This code snippets below can cause panic when `FieldContext` is `nil`.

[code]

The issue is on the second line. And it's causing by this template https://github.com/ent/contrib/blob/462c4e5698731377eb38f5a61b16518bb7295341/entgql/template/edge.tmpl#L23

A simple fix for this will be:

[code]

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.19  |
| Ent         | v0.11.3  |
|

[2022-09-21 20:12] a8m commented on #2938
Hey @TheBeachMaster, any update on this?

[2022-09-21 20:19] hsblhsn commented on #2946
@a8m can you have a look into this? 🙏

[2022-09-22 06:46] giautm commented on #2946
Hello, can you explain your usecase with the members function? It is intent for using with graphql as the field resolver

[2022-09-22 21:19] hsblhsn commented on #2946
Thank @giautm! But surprisingly the empty string is working fine for me 😕
I will update it to use the edge name though!

[2022-09-22 21:29] hsblhsn commented on #2946
I just pushed the changes!

Now the generated code looks like:

[code]

And this also working fine 🪄

[2022-09-22 22:25] TheBeachMaster commented on #2938
Hello @a8m apologies for the late response.

The repo is at https://github.com/TheBeachMaster/ent-bug-2938

You can reproduce it by running `go generate ./...` or `go run -mod=mod entgoi.io/ent/cmd/ent generate ./ent/schema`

[2022-09-23 01:58] vincentluan opened #2948 "Why entgql raises error on empty where input predicates? Isn't it better to just ignore them?"

[2022-09-23 08:02] dodangquan opened #2949 "bug: there are 2 unique indexes in the migration file when combining IndexWhere and Unique"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

- There are 2 unique indexes in the migration file when combining `IndexWhere` and `Unique`
- https://github.com/ent/ent/issues/1472
- https://github.com/ent/ent/pull/2944

## Expected Behavior 🤔

[2022-09-23 08:06] a8m commented on #2949
Hey @dodangquan, can you please provide a complete example using https://github.com/ent/bug?

[2022-09-23 08:10] a8m commented on #2948
Hey @vincentluan 👋🏻
A call to `P()` will return an error in case the predicate is empty, because you can’t use it as an input in the `Where` clause.

However, you can ignore it same as we do it in the `Filter` option. See: https://github.com/ent/contrib/blob/master/entgql/internal/todo/ent/gql_where_input.go#L124

Closing, but please reopen if you still need help with it.

[2022-09-23 08:10] #2948 closed

[2022-09-23 09:41] #2949 closed, assigned to nobody

[2022-09-23 19:19] giautm commented on #2946
I still think the changes are not necessary because you should test the resolver via the GQL client, rather than call it directly.

If you still want to change, please update this line too: https://github.com/ent/contrib/blob/462c4e5698731377eb38f5a61b16518bb7295341/entgql/template/edge.tmpl#L70

cc @a8m, wdyt?

[2022-09-23 22:52] hsblhsn commented on #2946
Aha! Got it!
I should test it like the way you mentioned instead. It would be better to add this to avoid panics in such scenarios. Still it's kinda unnecessary.

I think this issue and PR can be closed!

[2022-09-24 14:30] vincentluan commented on #2948
Thanks Ariel. Is this going to be released anytime soon?

On Fri, 23 Sept 2022 at 15:10 Ariel Mashraki ***@***.***>
wrote:

[2022-09-24 14:31] a8m commented on #2946
Thanks for the feedback, @hsblhsn. I actually agree with @giautm, as there are many parts in Ent runtime that relies on correct initializations.

I think we can close this and maybe document GraphQL/entgql testings to avoid misconfiguration.

[2022-09-24 14:34] a8m commented on #2948
I’m pretty sure the latest git tag contains these changes. Please upgrade your ent/contrib version and let me know if there is any issue with it.

[2022-09-24 15:03] vincentluan commented on #2948
Oh my bad. Thanks a lot Ariel.

[2022-09-24 15:10] hsblhsn commented on #2946
Thank @a8m, closing this 🙏

[2022-09-24 15:10] #2946 closed

[2022-09-24 23:27] hay-kot opened #2954 "bug: Atlas Migration and Cascade Delete have unexpected behavior."
Not sure if this belong here or in the Atlas repository, feel free to redirect me!

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

While generating Versioned Migrations with the new Atlas API, a simple column add results in a breakage of M2M

[2022-09-25 05:43] a8m commented on #2954
Thanks for reporting this, @hay-kot. I’ll give it a look soon and update this issue.

[2022-09-25 06:36] a8m commented on #2954
Hey @hay-kot, can you please paste here the URL you used for generating the migration? (e.g. `sqlite://...`)

[2022-09-25 06:43] hay-kot commented on #2954
Sure!

`sqlite://.data/homebox.migration.db?_fk=1`

<details>

<summary> Initial Migration File </summary>

[code]

</details>

<details>

<summary> After New Column </summary>

[code]

</details>

Since Atlas is using a temporary table to add the new field, I'm assuming that when the original table gets deleted, all those cascade onto the M2M table

[2022-09-25 06:45] a8m commented on #2954
The `PRAGMA foreign_keys = off;` command should prevent this, and I wanted to make sure you generated the migration files with `_fk=1` enabled. I'll try to reproduce this and will update you.

[2022-09-25 07:47] a8m commented on #2954
OK, I found the issue here: https://www.sqlite.org/pragma.html#pragma_foreign_keys

[2022-09-25 10:19] a8m commented on #2954
The Atlas CLI part was handled in https://github.com/ariga/atlas/pull/1162. A new version of the CLI will be tagged soon. Then, I'll update the Ent automatic migration and will close this issue. Thanks for reporting this 🙏

[2022-09-25 13:27] syssam commented on #2807
@crossworth
If we do not use Relay Cursor Connections Pagination, we can follow the document https://entgo.io/docs/paging#custom-ordering.
However, we do not have any solution with cursor connection pagination.

[2022-09-25 13:31] syssam commented on #2807
@crossworth @a8m
can we add a custom order by like https://entgo.io/docs/tutorial-todo-gql-filter-input#custom-filters

[2022-09-25 22:17] vitorfalcaor opened #2955 "Missing column Error on double edge traverse"
I am running into an issue when doing a double edge traversal. I have a data model where a User owns multiple Order and Share. I am trying to run the following query: order.QueryUser().QueryShares().Where(share.Symbol(order.Symbol)).Only(ctx), inside a hook. I am getting the following error: `ERROR: could not determine data type of parameter $1 (SQLSTATE 42P18)`. So what I did was to run the query

[2022-09-26 03:55] Syuparn commented on #2494
I got stuck on the same error and found a document about upsert in PostgreSQL.

https://entgo.io/docs/crud/#upsert-one

[2022-09-26 05:04] houko opened #2956 "I used tidb changed id from AUTO_INCREMENT to AUTO_RANDOM(5) and got out of range error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔
`uint64`, but error show `int64`, generated code is uint64
<img width="1185" alt="image" src="https://user-images.githubusercontent.com/12625278/192197494-f22c5cfe-

[2022-09-26 05:08] gsoec opened #2957 "Does privacy work with Graph Traversal?"
In the [examples](https://github.com/ent/ent/tree/master/examples)/[privacytenant](https://github.com/ent/ent/tree/master/examples/privacytenant), When i query
[code]
And the generated sql
[code]

[2022-09-26 06:29] a8m commented on #2957
Hey @gsoec 👋
Predicates do not trigger privacy rules as they are used only for filtering the traversal/query. i.e., the privacy rules are applied on the query builders to filter or block the potentially returned entities.

Closing, but please reopen if you found any issue in Ent or you still have questions. You are also welcome to join our [Discord community](https://discord.gg/qZmPgTE6RX) and pin

[2022-09-26 06:29] #2957 closed

[2022-09-26 06:32] a8m commented on #2955
Thanks for reporting this, @vitorfalcaor 🙏
I'll give it a look and update you.

[2022-09-26 10:16] a8m commented on #2955
Hey @vitorfalcaor! A quick update on this issue - I found that in your privacy rules, you use the actual query builders for executing queries instead of cloning them. For example:

[code]

We maybe can reject this in the builder, but for now, it looks like the issue comes from your privacy rules rather than the engine. Also, I would suggest you to always pass `privacy.DecisionContext(ctx, privacy.

[2022-09-26 10:16] #2955 closed

[2022-09-26 10:28] a8m commented on #2938
Hey! I just tested it and it works without any issues on my machine and also on GitHub workspaces:

[code]

Closing for now, but please reopen if you're able to reproduce this. I'm also available for any questions on our [Discord server](https://discord.gg/qZmPgTE6RX). Thanks 🙏

[2022-09-26 10:28] #2938 closed

[2022-09-26 18:12] giautm commented on #2938
Hello @TheBeachMaster we found the issue with space after the `continue` keyword in Go 1.18. So, We update our template to backward compatible with go 1.18. You can see the below issue for more detail. Happy coding!

https://github.com/golang/go/issues/51670

[2022-09-26 19:11] vitorfalcaor commented on #2955
Hey @a8m thank you for quickly checking it. I wasn't aware of `query.Clone()`, I'll play around with it today. Thank you for all the support!

[2022-09-26 19:51] frostycodez opened #2964 "Edge fields without unique constraint?"
In the User/Tweet/Like examples for edge schemas the generator expects a Unique() and Required() constraint on the Like schema and automatically creates a database index 'like_user_id_tweet_id' to enforce the constraint. However, I need for a User to be able to make multiple likes on a single tweet (with a created_at field on the Like schema). If I remove the Unique() constraint the generator will

[2022-09-26 20:09] a8m commented on #2964
Hey @frostycodez 👋
If I understand your use case correctly, it looks like you have an M2M relationship, but with duplicate edges/connections.

If that's the case, I think you can define this relationship table manually and add edges to the target entities - like an edge-schema, but not as an M2M relationship

[2022-09-27 01:59] frostycodez commented on #2964
Makes sense thx!

[2022-09-27 01:59] #2964 closed

[2022-09-27 20:50] gsoec commented on #2957
@a8m Thank you for the quick reply.
According to your guidance, i change my code to
[code]
Without adding `group.TenantIDEQ(1)` to predicates, ent will query groups from all tenants.
Do we need a mechanism similar to `hook` for predicates?
or clarify in the documentation that predicate dose not work with privacy and hook.
In case for anyone run into this situation, could wrap predicates into a gen

[2022-09-28 02:42] hay-kot commented on #2954
Wow! Thanks for such a fast response, looking forward to a release!

[2022-09-28 05:41] #2954 closed

[2022-09-28 08:21] ramonmedeiros opened #2971 "How to order custom types"
Have the following table:

Users
name
age
file string (custom type)

This custom type will always return "", even when SQL is null.

In this example, I will create 3 Users, one with file nil, other with "" and other with "aaaa".

When asking for ORDER_BY file ASC, I got the following result:

first ""
second "aaaa"
third ""

^This happen because SQL by default show null in the end.

Is it possible

[2022-09-28 14:34] crossworth commented on #2971
Hello, what database are you using?

If you are using Postgres you can use [`NULLS { FIRST | LAST }`](https://www.postgresql.org/docs/current/queries-order.html), if you are using MySQL there are [ways to solve as well](https://www.designcise.com/web/tutorial/how-to-order-null-values-first-or-last-in-mysql), for SQLite [check this link](https://www.sqlite.org/lang_select.html#the_order_by_clause).

[2022-09-28 15:02] #2971 closed

[2022-09-28 16:33] endigma commented on #2108
Any updates on this?

[2022-09-29 00:46] gsoec opened #2973 "Cant use Order() with Paginate() on entgql"
[code]
generated SQL
[code]

- [ x] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`SQL Error [42803]: ERROR: column "sort_order" must appear in the GROUP BY clause or be used in an aggregate function`

## Expected Behavior 🤔

should remove `ORDER

[2022-09-29 14:42] a8m commented on #2973
Hey @gsoec 👋
You should use the generated `With<T>Order` functions. See https://github.com/ent/contrib/blob/master/entgql/internal/todo/ent/gql_pagination.go#L1067 and https://github.com/ent/contrib/blob/master/entgql/internal/todo/ent/gql_pagination.go#L1209-L1250.

Please, let me know if you need more help with this.

[2022-09-29 15:14] a8m commented on #2941
Hey @BERZERKCOOLeST 👋
Thanks for opening this issue. The `Append` operation was added for JSON array fields, and you can use the built-in mutation operation: `Append<F>(values...)`. However, in case you want to update nested array values, you can use custom modifiers as described in this example: https://entgo.io/docs/feature-flags#modify-example-7

Closing, but please feel free to reopen or join

[2022-09-29 15:14] #2941 closed

[2022-09-30 13:12] manttila74 opened #2979 "Composite Primary Key for table without relations in the current database"
Hi experts!

How could I create a PK with testtable(tablea_id, name, created_at, partition_id)?
The col1 is int, col2 is string, col3 is time and col4 is int.

Only way to create composite primary key - I think - was to have the tables tablea and tableb in the same database schema. Then using Annotations and field.ID("tablea_id", "tableb_id") I managed to create the Primary Key, but only if tablea

[2022-10-02 06:04] syssam commented on #2973
@a8m
I would like to query user liked tweet list order by liked date with Paginate(), follow https://entgo.io/docs/schema-edges#m2m-bidirectional
the SQL will be, however, I could not find any solution with that.
I posted this issue the past few months, please help me.
`select * from tweet left join like on tweet.id = like.tweet_id order by like.liked_at`

[2022-10-03 23:07] asonawalla opened #2983 "contrib/entgql: panic in edge query outside of graphql context"
We're seeing a panic when trying upgrade ent from v0.3.0 -> v0.3.2 and ent/contrib from v0.11.2 -> v0.11.3 when trying to query an edge via the edge name's method.  The panic is being caused by [this line](https://github.com/ent/contrib/blob/master/entgql/template/edge.tmpl#L23) when invoked outside of a graphql server context; `graph.GetFieldContext(ctx)` can return nil, which of course results i

[2022-10-04 03:40] a8m commented on #2983
Hey @asonawalla 👋🏻
@giautm and I discussed this a few days ago in https://github.com/ent/ent/issues/2946. Can you please elaborate on your use case? Is it just for testing or you have other usage?

If it’s for testing, please see this comment: https://github.com/ent/ent/issues/2946#issuecomment-1255495131

[2022-10-04 04:21] asonawalla commented on #2983
Hey @a8m, thanks for the quick response!

The test was just to demonstrate the bug, we have some library code that's shared by a graphql server and a pool of background workers that reads the same entities. This code sometimes passes ent structs around by reference and since it's library code, we prefer to use these methods in particular because they can lazy load edges if necessary.

The working

[2022-10-04 05:16] gsoec commented on #2946
temporary workaround
[code]

[2022-10-04 05:16] a8m commented on #2983
Thanks for explaining, but I have additional questions if you don't mind to ensure we take the right decision 🙏

Can you elaborate on how the edges are preloaded in case it's not a GraphQL query context? Is it with `With<E>` or the nodes/entities are already loaded by GraphQL and passed to the workers?

[2022-10-04 05:36] a8m commented on #2983
@giautm, please see: https://github.com/ent/contrib/pull/385

I think we can accept such calls for a BC reason, but fallback to the previous flow (regular eager-loading).

[2022-10-04 07:51] a8m commented on #2983
Hey @asonawalla, the issue was resolved with v0.3.3.

Can you please pull this version and verify that it works for you? Thanks

[2022-10-04 12:44] vincentluan opened #2984 "Query pagination error: wrong number of arguments to function COUNT()"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]
`err` is "wrong number of arguments to function COUNT()"

## Expected Behavior 🤔

Should return results normally as in version 0.10.0

## Your Environment 🌎

| Tech        | Version |
| --

[2022-10-04 12:55] giautm commented on #2984
Hello @vincentluan, thank you for reporting the issue.

The query looks correct and should be working as normal. Can you provide the reproduce with https://github.com/ent/bug? It will help us find the root-cause faster, thanks!

[2022-10-04 14:09] vincentluan commented on #2984
Hello @giautm, I'm sorry to inform you that the issue is still there. I found in the console log this SQL statement:
[code]
I tried the similar query at https://www.sqlitetutorial.net/tryit/query/sqlite-count-function/#7 and got the same error. It seems that SQLite3 COUNT() function doesn't support multiple fields selection. Do you think a fix could be release anytime soon?

[2022-10-04 14:35] giautm commented on #2984
Hello @vincentluan, what is the version of gqlgen? the issue come from the EntGQL package, so you have to upgrade it to the master branch.

[2022-10-04 17:28] vincentluan commented on #2984
@giautm There's no entgql in go.mod. But there is `entgo.io/contrib v0.3.2`, and I'm using ent from this repo master branch.

[2022-10-04 17:46] asonawalla commented on #2983
Hey @a8m, we're running v0.3.3 in our prod environment now without issues.  Appreciate the help, feel free to close this issue out.

@giautm I see what you mean re: preloading only in queries, but there are other examples even within our workers that leverage the same library code, where some callers will eager-load edges and others won't.

I think it's advantageous to be able to write application

[2022-10-04 21:21] Coksnuss opened #2985 "contrib/entgql: Client.noders() does not work properly with mixed node IDs"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Setup Description

I am currently evaluating `ent` together with `entgql` and have the following use case: I've (at least) one schema that requires use of UUIDs as primary keys. From what I understand, I have two op

[2022-10-05 04:26] vincentluan commented on #2984
@giautm It's still having the same issue. The generated SQL query is still the same.

[2022-10-05 04:28] giautm commented on #2984
Do you run the go generate again? Btw, please join our discord so we can talk faster

[2022-10-05 04:43] vincentluan commented on #2984
@giautm oh my bad. I forgot to run go generate. The issue is now gone, thank you. When do you think this fix is going to be released?

[2022-10-05 05:53] giautm commented on #2985
Thank for the detail of the issue, I will take a look and update to you. But, what happen if we replace `return matches[1], nil` with a quoted string?

[2022-10-05 05:58] giautm commented on #2984
Hello @vincentluan, I'm so happy because the issue was gone.

The master branch is stable enough for use in the production environment (with the `go.mod` file as version locking). However, I will ask @a8m to create a new tag for the new users without having the same issue.

We welcome you to our community on Discord for faster support and response: https://discord.gg/qZmPgTE6RX

Again, thank you s

[2022-10-05 05:58] #2984 closed

[2022-10-05 08:37] nilpntr opened #2986 "Atlas Versioned Migration not removing or renaming a field if it's been removed or renamed"
I would expect Atlas to remove a field if I remove it from the ent definition or if I rename a field I expect Atlas to rename it in the generated sql file to.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Atlas just adds a new field and ign

[2022-10-05 09:25] giautm commented on #2986
Hello @nilpntr, thank for reporting the issue.

There is an option to asking migration engine generate SQL for drop resource. Do you have seen this?
https://entgo.io/docs/migrate#drop-resources

[2022-10-05 09:30] nilpntr commented on #2986
Thanks totally forgot that those options also applied to versioned migrations. Will close the issue!

[2022-10-05 09:30] #2986 closed

[2022-10-05 09:36] Coksnuss commented on #2985
Thanks you @giautm for the quick response. I am looking forward for feedback on the issue.

The `matches[1]` part must not be quoted. It only holds the nodeType (i.e. "users" in the case above) and works as expected.

The part that would require quoting are the entries of the `ids []string`  parameter of the resolver. But only if `len(ids) >= 2`.

[2022-10-05 09:36] giautm commented on #2986
No problem, if you have any other issue. Please reopen it needs. <3

[2022-10-05 10:03] giautm commented on #2985
Hello @Coksnuss, I understand your issue now. I will sent a patch for entgql to handle it. Please wait.

[2022-10-05 10:10] Coksnuss commented on #2985
Wow, I didnt expected such a fast support. Thank you!

I wonder if you can tell me whether this use case of mine (and the way I solved it) is supposed to be supported after all? Because I experience issues with al kind of entgql features (e.g. filtering, pagination (with cursors), etc...). By the looks of it, it was never the Idea that the sql.Valuer and graphql.Marshaler interfaces return differe

[2022-10-05 10:28] nilpntr opened #2987 "Error in dropping constraint versioned migrations"
If I rename a reference column or just a column that has a constraint. I changed for example column logo_id to logo the migration file returned looks like this:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently because the colu

[2022-10-05 10:56] manttila74 opened #2988 "Microsecond precision in timestamp not working"
The following schema definition produces wrong datatype.

		field.Time("modified_at").
			SchemaType(map[string]string{
				dialect.MySQL:    "timestamp(6)",
				dialect.Postgres: "timestamp(6) with time zone",
			}).
			Default(time.Now).
			Annotations(&entsql.Annotation{
				Default: "CURRENT_TIMESTAMP",
			}),

It becomes:

 "modified_at" timestamptz NOT NULL DEFAULT CURRENT_TIMESTAMP

[2022-10-05 12:02] Coksnuss commented on #2985
After a little digging, it appears that there is only one more issue: The cursor isn't working properly. For instance, consider this query:

[code]

with the following result:

[code]

As can be seen by the output above, my "after" cursor is not respected properly. The base64 representation of the cursor translates to this struct:
[code]

In this case, its not (only) the quoting that is wrong: The

[2022-10-05 15:45] giautm commented on #2985
I think we need invested our resource to complete this pull-request: https://github.com/ent/contrib/pull/220 It will support for your case with custom the Global ID format.

[2022-10-05 16:36] crossworth commented on #2985
Hello, I have helped 3 members of community in the last months implementing the GlobalID with Entgql, most of the conversation was private after a few interactions on the Ent discord (don't ask why, I try to use the Ent discord and avoid creating silo of information, but I guess people are more open to ask questions if the communication is private).

Over the time I have noticed and experimented w

[2022-10-05 16:43] giautm commented on #2985
Thank you @crossworth, you're a hero here - for the kind of detail and information. <3

I read the old implement of Ariel and thought about moving all logic of the global ID to a single template, then allowing people to overwrite it if they need to custom - like custom format and type.

[2022-10-05 17:05] Coksnuss commented on #2985
Thanks for the responses

----
@giautm

As a workaround that fixes the particular issue that I described in my opening post, that would probably help. But it wouldn't solve the cursor issue.

Sounds good to me. Although I assume that this PR is not going to be merged within the next couple of days or weeks. But its encouraging nonetheless that work is in progress regarding the described use case

[2022-10-06 05:37] manttila74 commented on #2988
Hi!

Thanks for the fast response. I had the impression that it goes the same way in Postgres as in MariaDB.
But you are correct. The precision is 6 by default in Postgres. In MariaDB it is 0.

Thank you very much!

[2022-10-06 05:37] #2988 closed

[2022-10-06 06:35] a8m commented on #2946
Hey all,
The issue was resolved with https://github.com/ent/contrib/pull/385. Please update to the latest version to get the fix. Thanks

[2022-10-06 08:55] ramonmedeiros opened #2991 "How to modularise ent?"
Hi guys,

The codebase that I work with ent is growing and I would like to modularise a little bit, with the goal to separated some entities in modules, so I can do separated migrations and in case some of them change, does not affect other entities.

So, let's say I have 3 or 4 ent modules in my codebase. How these cases work:

1) Let's say entity A(module 1) has an edge with entity B (module2).

[2022-10-06 18:37] DeluxeOwl opened #2993 "Allow for dynamic queries on arbitrary tables using SQL modifiers"
- #1990 might be related

## Motivation 🔦

I was thinking about building an application that lets users generate tables, while still having some tables managed by ent in the compiled Go code, and running operations on the user generated tables (similar to how pocketbase allows you to CRUD generated tables).

I was thinking about having a generic client or allowing the client to specify the table i

[2022-10-07 12:00] a8m commented on #2987
Thanks for reporting this, @nilpntr.
Can you please create a small example that reproduces this? You can use the https://github.com/ent/bug template.

[2022-10-08 10:37] Coksnuss commented on #2985
For those who may find this issue: I've (locally) fixed the cursor issue and the GraphQL API is now fully functional with my custom global IDs.

In essence, the pagination.tmpl of entgql has to be overriden with a fixed template, which I store at `ent/template/pagination.tmpl` and derives from the original template of entgql. See the following diff for the fixes made:
[code]

In `ent/entc.go`, add

[2022-10-09 06:56] aaftio opened #2997 "Doc is outdated, sqlite supports dropping or modifying resources when Atlas as default migration engine"
https://github.com/ent/ent/blob/713828b3116bfeb8d9dc04d5fa1ceceb9ca6d83a/doc/md/dialects.md?plain=1#L26-L30

My poor english can help nothing, so this issue up.

[2022-10-09 09:57] godcong opened #2998 "do we have any tool can parse json or struct to ent.Schema"
like i said,if i have a struct or json:
User
[code]
or
[code]

we can parsed to a schema file:
[code]

I searched the documentation, but I couldn't find any relevant content

[2022-10-09 11:19] a8m commented on #2997
Thanks for reporting this, @aaftio. I'll send a patch to fix this.

[2022-10-09 11:54] #2997 closed

[2022-10-09 11:55] a8m commented on #2997
Fixed! Thanks again, and please, feel free to join our [Discord community](https://discord.gg/qZmPgTE6RX) ❤️

[2022-10-09 11:59] a8m commented on #2998
Hey @godcong, and thanks for raising up this issue.

Can you please elaborate on the use case? The input is a JSON or a struct before marshaling, but what is the output? A generated Ent schema? If so, you can construct and print/write one using [contrib/schemast](https://github.com/ent/contrib/tree/master/schemast). [entimport](https://github.com/ariga/entimport) also uses this package.

[2022-10-09 12:06] a8m commented on #2768
Hey! There's no way to delete acronyms/abbreviations, but there's a way to add some, see: https://github.com/ent/ent/blob/master/entc/gen/func.go#L296.

If you're interested in this, you're welcome to send a small patch to add the `DeleteAcronym` option, but tbh, I don't think it's really needed. The acronyms/abbreviations in this list are the common ones used almost by all linting tools. Closing

[2022-10-09 12:06] #2768 closed

[2022-10-09 12:07] a8m commented on #2973
Closing as this is a duplicate of https://github.com/ent/ent/issues/2807 - an issue that is on our list for this release.

Thanks 🙏

[2022-10-09 12:07] #2973 closed

[2022-10-09 12:09] a8m commented on #2956
Thanks for reporting this, @houko 🙏

Can you please create a small example that reproduces this using https://github.com/ent/bug?

[2022-10-09 12:09] #2684 closed

[2022-10-09 12:23] a8m commented on #2426
Hey @wirekang, and sorry for the delayed response. You can use a generic interface to share common setter methods for your builders. For example:

[code]

Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-10-09 12:23] #2426 closed

[2022-10-09 12:25] a8m commented on #2308
Closing as the version was released a long time ago. Please, feel free to reopen or ping me on our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-10-09 12:25] #2308 closed

[2022-10-09 12:33] a8m commented on #1624
Hey, @BrentChesny and @ivanstanev 👋
The concurrent option [was added](https://github.com/ariga/atlas/pull/1153.) by @ivanstanev a few weeks ago. You can now use [migration diff hooks](https://entgo.io/docs/migrate/#atlas-diff-and-apply-hooks) to attach this option to create new indexes concurrently.

Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE

[2022-10-09 12:33] #1624 closed

[2022-10-09 12:36] a8m commented on #1277
Hey! I forgot to update this issue, but it was solved a long time ago.
You can now use [SQL modifiers](https://entgo.io/docs/feature-flags#custom-sql-modifiers) or the [raw API](https://entgo.io/docs/feature-flags#sql-raw-api) to implement these use cases.

Closing, but please feel free to reopen or join our [Discord community](https://discord.gg/qZmPgTE6RX) if you still need help with this 🙏

[2022-10-09 12:36] #1277 closed

[2022-10-09 12:37] #1223 closed

[2022-10-09 12:39] giautm commented on #2516
Hey @scraymondjr, thank you for reporting the issue.

However, I think the `[]byte` should implement by the application on its side rather Ent. Because the byte array usually contains binary data and may be formatted in many variants of the form: base64, hex, string... So, there is no simple way to implement it in ent.

[2022-10-09 12:39] #2516 closed

[2022-10-09 12:39] a8m commented on #974
The issue was resolved with https://entgo.io/docs/tutorial-todo-gql-schema-generator.

Please, let @giautm or myself know if anything there can be improved.

[2022-10-09 12:39] #974 closed

[2022-10-09 12:48] godcong commented on #2998
@a8m

Because I need to convert the data from the previous orm.
Before that I was using xorm, which uses the struct definition.
The `entimport`  one you recommended is also available.
Thanks.

PS: This is my finnally wanted, a `user.go` file in the schema
[code]

[2022-10-09 20:56] scraymondjr commented on #2516
Could you provide an example of what you expect consumers of Ent to do to enable Bytes Ent field in their graphql schema?

I'm also confused by the reason to not support this. If the raw data format is being stored as `[]byte`, then why does the encoding matter? Further, would it not make sense to have a sensible default way of handling Bytes fields and allow for enabling/disabling or other config