[2021-12-30 11:40] tsingsun opened #2241 "entgql node.tmp not support int32 below node id"
Code segment at [github.com/ent/contrib/blob/master/entgql/template/node.tmp](https://github.com/ent/contrib/blob/dcb3272c6a7adbacec3aa566a6832d6b3ef0410a/entgql/template/node.tmpl#L304)
[code]
if parameter `id` is int32,this statement cause error: Invalid operation: id / (1<<32 - 1) (cannot convert the constant (1<<32 - 1) to the type int32)

- [x] The issue is present in the latest release.
- [x

[2022-01-01 08:30] feeops opened #2242 "Have an easy way to get min,max,sum function with one field"
raw sql
[code]

with ent,core code
[code]

Do you have an easy way?

[2022-01-02 15:31] Mayowa-Ojo opened #2244 "Postgres dialect should support 'time without time zone' type"
Hi

I'm working on a project where I'm trying to store date and time in a timezone independent manner so i'm using the postgres `time` and `date` types via `SchemaType`. However I get the error `invalid type "time without time zone" for coumn...` when running migrations.

[code]
I figured the error occurs because postgres `time` type is equivalent to and represented as `time without time zone` and

[2022-01-02 22:57] AlbinoGeek opened #2245 "Migrate provides VERY LITTLE INFORMATION"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The following is NOT ENOUGH ERROR, as in, either as a user or developer, it gives me zero idea how to correct it.

If you have any errors returned in `Migrate` you're sort of hooped. It doesn't p

[2022-01-02 23:03] AlbinoGeek commented on #2245
**I do not have any schema with a field that has a `Default(0)` so the error is further misleading.**

[2022-01-02 23:56] DamonBlais commented on #2245
**Alright, this could be solved if someone adds `c.Name` to the error message in the catch all, although the reason this came up in the first place is still a mystery.**

https://github.com/ent/ent/blob/938ce8c16b850fa697ae35258d2e83a790983b87/dialect/sql/schema/schema.go#L235-L286

**Specifically:**

https://github.com/ent/ent/blob/938ce8c16b850fa697ae35258d2e83a790983b87/dialect/sql/schema/schem

[2022-01-03 01:35] nicolasparada opened #2246 "add json tags to entgql generated Cursor type"
## Current Behavior 😯

See: https://github.com/ent/contrib/blob/dcb3272c6a7adbacec3aa566a6832d6b3ef0410a/entgql/template/pagination.tmpl#L134

The `Cursor` type does not have `json` tags so the output it still in PascalCase.

## Expected Behavior 🤔

Both `id` and `value` from the Cursor should be camelCase.

[2022-01-03 05:39] rams3sh opened #2247 "Support for DynamoDB and S3"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I was planning to use ent for a small personal hobby project where I intend to use it alongside dynamodb and s3.  I can foresee some requirement as of now to compare data in dynamodb and s3. The project has some graph based relation related requirements

[2022-01-03 06:00] rotemtam commented on #2247
Hey @rams3sh
Thx for reaching out!
DynamoDB and S3 are definitely on our roadmap. We don't yet have an time estimates, but I completely understand your use case and agree that it's needed.

Feel free to subscribe to our newsletter for updates on coming releases!

https://www.getrevue.co/profile/ent

[2022-01-03 13:49] MrParano1d opened #2248 "entgql WithWhereFilters generates invalid code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

entgql creates me this graphql input:

[code]

When I try to query with this query variables:

[code]

unmarshalInputMatchWhereInput panics:

[code]

the where map loks like this:
[code]

As you

[2022-01-03 18:15] StarpTech opened #2249 "How to upsert with relation?"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Imagine a simple 1o1 connection. One API has Orangization. I can't [upsert](https://entgo.io/docs/crud#upsert-one) because the connection already exists and I can't omit the `.AddOrganization` me

[2022-01-05 08:08] rams3sh commented on #2247
Hey @rotemtam

Thanks for the response. Also, would there be any guide or doc that I can refer if in case I would want to contribute for an adapter for ent.

[2022-01-05 10:43] ItsVoltz opened #2250 "Migrations failing due to Error 1109"
Hello every time I try to run my migrations now even reverting changes to my schema I get the following:
`sql/schema: mysql: query table constraints Error 1109: Unknown table 'CHECK_CONSTRAINTS' in information_schema`

Any idea how to fix it or why its occurring? The only way is to drop the database's tables and then rerun otherwise I get this issue.

My entities:
[code]

[code]

I removed the new

[2022-01-05 11:12] ItsVoltz commented on #2250
Migrating to MariaDB 10.6 worked. For some reason the default repo is 5.5, entgo supports 10.x for mysql

To update your repo and add latest mariadb:
`wget https://downloads.mariadb.com/MariaDB/mariadb_repo_setup`

`chmod +x mariadb_repo_setup`

`./mariadb_repo_setup`

then install mariadb-server with your package manager

[2022-01-05 11:12] #2250 closed

[2022-01-06 01:47] catlee993 commented on #1950
Since this is still open, and I'm finding myself in a similar situation, I'll add a quick comment --

seems like any edge acting as the O2M with a specific field defined will always fail when validating the foreign keys due to:
https://github.com/ent/ent/blob/master/entc/gen/type.go#L607

which calls a switch statement that rules out anything except M2O & O2O. https://github.com/ent/ent/blob/f5fed

[2022-01-07 00:25] shenghui0779 commented on #1990
I want this feature.

[2022-01-07 06:20] tonybase commented on #833
We need to convert ent error to framework error, like this::
[code]

[2022-01-07 17:53] lukasbraach opened #2253 "client.BeginTx does not set transaction context"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using the generated `ent.Client` to start a database transaction with the `BeginTx` method, the `Tx` struct's go-context field (`ctx`) does not get populated. This leads to hard-to-debug err

[2022-01-08 09:42] a8m commented on #2253
Thanks for reporting this issue @lukasbraach 🙏

It looks like [Client.BeginTx](https://github.com/ent/ent/blob/master/entc/gen/template/client.tmpl#L91-L92) is not aligned with [Client.Tx](https://github.com/ent/ent/blob/master/entc/gen/template/client.tmpl#L91-L92). Do you want to send a patch to fix this? 😃

[2022-01-08 12:13] panakour commented on #1949
Any update on this?

[2022-01-08 23:46] ItsATrap48 commented on #2253
@a8m can I take this one on?

[2022-01-09 04:23] ItsATrap48 commented on #2253
@a8m Can I take this one on?

[2022-01-09 08:15] a8m commented on #2253
Sure, go ahead.

[2022-01-10 01:12] ItsATrap48 commented on #2253
@a8m I don't think I have permission to push up a new branch. Can you add permission to me or do I need to be assigned to the issue to be given permission?

[2022-01-10 04:17] giautm commented on #2253
Hey @ItsATrap48, you need to fork this project to your account. Then create a new branch on it. Later, you open a PR for the request to merge.

[2022-01-10 19:25] Laconty commented on #2253
Hello, I'd like to contribute on this one could you see my PR please? 😃
(my first public commit, my apologies if anything wrong)

[2022-01-12 12:28] #2253 closed

[2022-01-12 12:33] #2244 closed

[2022-01-12 16:14] TheBeachMaster commented on #1221
This error still exists in Postgres, @a8m kindly reopen this issue.

[2022-01-14 14:55] fangzhengjin opened #2271 "[Feature] Support table comment"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Support table comment, like this

[code]

SQL:

[code]

## Motivation 🔦

[2022-01-15 04:09] fangzhengjin commented on #2271
Solution, using the Options parameter

[code]

[2022-01-16 09:18] bonafideyan commented on #1677
Supporting json operation is very important, replacing the whole json can bring many problems.

[2022-01-16 19:51] gedw99 commented on #1473
hey @rotemtam and @giautm

Has anyone moved forward on using the pattern that @giautm suggested ? That being the Nginx atomicity publish approach of using an event table in the DB.

I am using Ent for a project and need to publish changes in the DB out to a Search system based on Bluge ( here it is https://github.com/mosuka/phalanx ).

[2022-01-17 11:49] gorexlv opened #2273 "Does/How ent support MySQL JSON_SET/JSON_REPLACE/JSON_INSERT?"

[2022-01-19 07:40] maaft commented on #46
@a8m Hi! Do you have any eta for the next roadmap update? :)

[2022-01-19 07:42] a8m commented on #46
Yes, tomorrow. We'll release v0.10 and update the next major features for v0.11 in a new blog post. cc @rotemtam

[2022-01-19 07:43] maaft commented on #46
:-O Wow, that was totally unexpected! Great news! :rocket: :rocket: :rocket:

[2022-01-19 08:57] gedw99 commented on #46
Fly.io have cluster support that is a generic pattern for databases.

https://fly.io/docs/reference/postgres/

they detect a write and then replay the request onto the writable db.

This pattern can be used for any database.

For replication they use stolen.  That’s not database agnostic.

[2022-01-19 20:50] Menta2L opened #2276 "Looking for example how to use dialect.DebugWithContext"
Hello its a great project and i love it. But beyond the basic usage ther e is no documentation at all.
I like to attach an opentracer  to trace   each query  and I assume that this is possible somehow  via dialect.DebugWithContext

Can you give me a short example please ?

[2022-01-19 21:57] crossworth commented on #2276
Hello, I think you can add tracing using two methods.

1. `database/sql` https://github.com/inkbe/opentracing-sql
2. `ent` driver (something like this https://gist.github.com/crossworth/719fada9f346767069dc903a5f429b04)

Other projects that defines drivers:
- https://github.com/ariga/entcache
- https://github.com/ariga/sqlcomment

Also check:
- https://entgo.io/docs/sql-integration#use-opencensus-

[2022-01-19 22:18] zeevmoney commented on #2276
Hi @Menta2L,

First of all the solution that @crossworth suggested is great, but there is also a simpler solution (as you suggest in the topic), you can do something like this:

[code]

[2022-01-20 06:09] manakuro opened #2277 "Support DefaultFunc for field.Time"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
Add a `DefaultFunc` to `field.Time` as in `field.String`.

## Motivation 🔦
Let's suppose that we have a custom type called `Datetime` like this:

[code]

This is suppposed to be used for `createdAt` and `updatedAt` on each field:

[code]

Generation works

[2022-01-20 08:30] maaft commented on #46
@a8m Can't wait for it! :D Will you comment here when it's published? :)

[2022-01-21 01:08] shenghui0779 opened #2282 "New release uses a invalid semantic version tag"
![image](https://user-images.githubusercontent.com/67535398/150447067-069772a0-d22d-4c4e-b634-e9d8db1c2964.png)

![image](https://user-images.githubusercontent.com/67535398/150447133-49e26184-8fe8-4f46-9186-e293a5bae461.png)

[2022-01-21 03:16] guihouchang opened #2283 "How to accept aggregate query fields？"
[code]
[code]
Am I doing this right?But I found that the Edges I get are all empty

[2022-01-21 04:57] a8m commented on #2282
Thanks for reporting this @shenghui0779. I fixed it - https://github.com/ent/ent/releases/tag/v0.10.0

[2022-01-21 04:58] #2282 closed

[2022-01-21 14:33] maaft commented on #2044
@a8m Just wanting to check if this is on your radar?

The GraphQL-side of things would greatly improve when we could use edges to interfaces in our schema (including performant ent queries).

Will the mentioned "Polymorphism on Edges" in your latest blog post help here?

[2022-01-23 17:34] Menta2L commented on #2276
Thanks @zeevmoney  that's was exactly what I was looking for :)

[2022-01-23 20:23] #1688 closed

[2022-01-23 20:24] a8m commented on #1688
Hey @naormatania 👋
Sorry for the delay, but the issue was resolved with #1703 - Thanks to [github.com/atlas/ariga](https://github.com/atlas/ariga). That means if you're using MySQL and need to migrate existing columns, you should use the [`WithAtlas`](https://entgo.io/docs/migrate#atlas-integration) option.

cc @rotemtam

[2022-01-23 20:24] a8m commented on #1374
Hey @AlexanderMatveev and @JoleMile 👋
Sorry for the delay, but the issue was resolved with #1703 - Thanks to [github.com/atlas/ariga](https://github.com/atlas/ariga). That means if you're using MySQL and need to migrate existing columns, you should use the [`WithAtlas`](https://entgo.io/docs/migrate#atlas-integration) option.

cc @rotemtam

[2022-01-23 20:24] #1374 closed

[2022-01-23 20:30] naormatania commented on #1688
Hey @a8m !
Would it work if I'm using Postgres ?

[2022-01-23 20:38] a8m commented on #1688
Yes.

[2022-01-24 01:29] iwata commented on #1688
@a8m Are you planning to release a new version v0.10.1?

[2022-01-24 05:15] SuzurikawaChihiro opened #2286 "Can Upsert be used with Postgres?"
I'm building an API using ent, and when I try to implement Upsert.
It succeeds in SQLite3 and fails in Postgres.

The Upsert code looks like this.
[code]

|  | Version |
| --- | --- |
| ent | v0.10.0 |
| PostgreSQL | 13.2 |
| go-sqlite | [github.com/mattn/go-sqlite3](https://github.com/mattn/go-sqlite3) |

![image](https://user-images.githubusercontent.com/64934951/150725575-05b56383-6cf6-454e-8f1

[2022-01-24 08:33] guihouchang opened #2287 "Eager loading not working when using Scan"
- [√ ] The issue is present in the latest release.
- [√ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[https://github.com/ent/ent/issues/2283](https://github.com/ent/ent/issues/2283)

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:

1.
2.
3.
4.

## Your Environment 🌎

| Tech        | Ver

[2022-01-24 10:07] sagikazarmark commented on #46
Congrats for the new release!

I was looking at the next items on the roadmap and noticed that "Cluster support (read replicas)" is not there. Any ideas when this could become a thing?

For large (even mid) scale applications this is a must and it doesn't _feel_ like to be a very complicated thing (I could be absolutely wrong though). In other words: this could be a low hanging fruit. The alternat

[2022-01-24 10:35] naormatania opened #2288 "Atlas integration to support disabled foreign keys"
## Summary 💡

You currently cannot use Atlas integration (https://entgo.io/docs/migrate/#atlas-integration) while disabling foreign key (https://entgo.io/docs/migrate#foreign-keys)

You currently get back an error `errors.New("sql/schema: WithForeignKeys(false) does not work in Atlas migration")` (https://github.com/ent/ent/blob/60e03285d018f1da56a2148967b74cd21a6d0843/dialect/sql/schema/atlas.go#

[2022-01-24 11:10] gedw99 commented on #46
@sagikazarmark

I don’t know if there is a design for it yet .

If you have a suggestion , put it forward

[2022-01-24 11:17] sagikazarmark commented on #46
I think it was one of the first questions in this thread and was quickly clarified what it means. Don't know if any further details in terms of design help deciding it's place on the roadmap. I can certainly come up with some ideas for the interface if that helps.

[2022-01-24 11:22] gedw99 commented on #46
I don't know either.  I liked the way fly.io solved their db scaling issue in a very pragmatic way.

https://fly.io/docs/getting-started/multi-region-databases/

[2022-01-24 11:33] a8m commented on #46
Thanks @sagikazarmark

There is an example of how to implement a "cluster driver" in https://github.com/ent/ent/issues/1580#issuecomment-844995728. I also add it to our [website](https://entgo.io/docs/faq#how-to-configure-two-or-more-db-to-separate-read-and-write).

I still think we should make it an official plugin/extension with additional features we created internally. We just didn't get to it

[2022-01-24 11:36] gedw99 commented on #46
@a8m i had no idea this was done. both design and code.

Its not "ready" yet ?

Is there a repo anywhere that exercises this, so we can play around with it. ??

[2022-01-24 11:42] a8m commented on #2288
Hey @naormatania and thanks for opening this issue.

I should get to this later this week. Would you like to contribute this? It should be pretty simple to implement 😃

[2022-01-24 11:51] a8m commented on #2277
Thanks for opening this issue @manakuro. I'll give it a try now.

[2022-01-24 11:56] crossworth commented on #2286
Hello, you must provide a conflict target using `OnConflictColumns` (for Postgres).

Check the documentation below:
https://entgo.io/docs/crud/#upsert-one

[2022-01-24 12:10] sagikazarmark commented on #46
Thanks for the links @a8m! I'll take a look at them.

[2022-01-24 12:17] a8m commented on #1625
Hey @ivanvanderbyl and @adayNU.

The issue should was resolved with the Atlas migration. See https://entgo.io/docs/migrate#atlas-integration for more info.

Closing, but please let me know if you have any issues with it. Thanks 🙏

[2022-01-24 12:17] #1625 closed

[2022-01-24 12:18] SuzurikawaChihiro commented on #2286
Thank you for @crossworth .
Successfully succeeded!!

[2022-01-24 12:18] #2286 closed

[2022-01-24 12:27] #2277 closed

[2022-01-24 14:35] lynkas opened #2290 "GoType on field named "id""
I'm trying to override default id field with own type called "ID"

[code]
where sid.ID is a type implemented ValueScanner interface ( simplified ):

[code]
After generation I found there is an error in table_create.go, which located in ``func (acb *<table>CreateBulk) Save(ctx context.Context) ([]*<table>, error) `` function :

[code]
the error is `Invalid operation: nodes[i].ID == 0 (mismatched ty

[2022-01-24 14:37] a8m commented on #2290
Hey @lynkas, what ent version do you use? Can you check if you get this on master? Use `go get entgo.io/ent@master` to update.

[2022-01-24 14:40] lynkas commented on #2290
@a8m I was using v0.9.1. It still occurs on master.

[2022-01-24 14:53] brave-orange opened #2291 "How can I use a sql file to initialize a schema template file"
Because i have a lot of table ,so I had to wirte all fields in the schema templates file；

do you have other faster way ?

[2022-01-24 15:07] zeevmoney commented on #2291
Hi @brave-orange,

There is a project I've been working on lately called `entimport`: https://github.com/ariga/entimport
You can use it to import your SQL DB (Postgres and MySQL are currently supported) to an ent schema.
Since it's fairly new there are some limitations, so you are welcome to open an pr/issue there if you have any problem or request.

[2022-01-24 15:22] brave-orange commented on #2291
Awsome!!! I will try !

[2022-01-24 17:43] naormatania commented on #2288
Thanks @a8m !
I don't think I have time to contribute but I'm looking forward for this :)

[2022-01-24 19:58] zeevmoney commented on #2291
@brave-orange is there anything else I can help you with, or we can close this issue?

[2022-01-24 19:59] zeevmoney commented on #2276
@Menta2L, is there anything else I can help you with? or we can close this issue?

[2022-01-24 20:47] a8m commented on #2276
OK, I assume we can close this, but please feel free to reopen or join our Slack or Discord channel if you have any questions.

Thanks a lot, @crossworth and @zeevmoney for supporting @Menta2L.

[2022-01-24 20:47] #2276 closed

[2022-01-25 03:57] abdarafi opened #2292 "Does entgo support multiple database?"
Hi Guys, i want to ask. :)

I'm wondering if `ent.go` supports multiple data store, For example for the Read or Query operation I want to retrieve it from the `read-only` database (different host)?

Thanks :)

[2022-01-25 06:19] cjraa commented on #2292
Hi @abdarafi

This might be what you are looking for, https://github.com/ent/ent/issues/46#issuecomment-1020003833

[2022-01-25 08:29] guihouchang commented on #2287
https://entgo.io/zh/docs/feature-flags

[2022-01-25 08:29] #2287 closed

[2022-01-26 02:02] abdarafi commented on #2292
Yeah, thanks for your help! @cjraa

[2022-01-26 02:02] #2292 closed

[2022-01-26 16:07] #2291 closed

[2022-01-26 21:23] yonidavidson commented on #2248
@MrParano1d thanks for your comment.
Seems like the GraphQL clients change the type when using params.
This behavior isn't observed when used in go code like resolvers tests or in the frontend using React-Relay.

![image](https://user-images.githubusercontent.com/5472778/151249131-631c9ee4-133c-40bf-8293-58c4d4d348ff.png)

Is this not working for you in a client framework/go code ?

[2022-01-27 05:16] washanhanzi opened #2298 "Count has a different behavior in 0.10.0"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Previous to `0.10.0`, `count` will auto add a `SELECT COUNT(DISTINCT "users"."id")` clause, as documented [here](https://entgo.io/docs/predicates/#count-the-number-of-users-whose-json-field-named

[2022-01-27 11:17] giautm commented on #2298
I think the PR really do that, based on bellow code:
https://github.com/ent/ent/blob/1049e874ac252bf171b4df175bf4788d43bff7f9/dialect/sql/sqlgraph/graph.go#L590-L598

[2022-01-27 11:27] a8m commented on #2298
Hey @washanhanzi, can you please provide an example to reproduce this? I just ran your example on both `master` and `v0.9.0` and got the same output:

`master`:
[code]

`v0.9.0`:
[code]

Thanks for the support @giautm ❤️ 🙏

[2022-01-27 16:35] #2298 closed

[2022-01-28 01:16] theprobugmaker opened #2299 "UUID, base64 and filtering"
I'm trying to integrate ent with gqlgen and I have a few questions:

1. how can I use UUID instead of a regular sequential ID?
2. how can I use base64 on the cursors? (just like the `graphql-relay-js`: (global id): https://github.com/graphql/graphql-relay-js/blob/main/src/node/node.ts#L91 - (connection): https://github.com/graphql/graphql-relay-js/blob/3796e0904fbfe0dd86e540d5b4df236330c8a5e7/src/

[2022-01-28 08:42] cloneable opened #2300 "protoc-gen-ent: support proto3 optional fields (explicit field presence)"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

About a year ago with release 3.15, the protoc maintainers enabled support for the old `optional` field modifier in proto3 by default, which is used to indicate field presence when the zero-value cannot be used. protoc-gen-ent does not yet support this.

[2022-01-28 09:20] rotemtam commented on #2300
Hey @cloneable
Thanks for reaching out!
That's cool, I was not aware of this development. Changing this behavior now would be a breaking change for existing services which I'd like to avoid.

We can add this as an option if there is benefit for the user, or consider deprecating it over time.

What would you say are the benefits of this approach over the existing solution?

[2022-01-28 09:38] cloneable commented on #2300
No worries, it's still not documented for some reason.

I believe this change would only add functionality, not change existing ones. But I could be wrong. It seems that both the StringValue and the optional modifier should be supported.

(I'll reply later to your last two questions.)

[2022-01-29 08:27] a8m commented on #2299
Hey @theprobugmaker 👋

Of course, and there are a few examples for this in our docs. See https://entgo.io/docs/graphql#examples

Regarding 2, and 3 - I'll answer later today or tomorrow (weekend mode 🏖️).

[2022-01-29 21:45] pohzipohzi opened #2303 "M2M Two Types vs O2M Intermediate Table"
As per title, I am having trouble figuring out the expected difference, if any, between the two schema definitions.

Consider the M2M two type (groups and users) example provided in the [edges doc](https://entgo.io/docs/schema-edges/#m2m-two-types):

[code]

This produces almost the same schema as the following:

[code]

The only difference I'm spotting after creating the schema, is that creating

[2022-01-31 05:31] ivanvanderbyl commented on #1459
@a8m I feel like this requires more attention. In Postgres, in order to use a unique index as a unique constraint in an Upsert operation, it must be created or altered with the `CONSTRAINT` keyword (As @tony-pond mentioned above). I think it would make sense to add an annotation for this in Ent. What do you think?

Something like:

[code]

[2022-01-31 09:33] oSethoum commented on #1061
Any updates about this issue ?

[2022-01-31 13:03] theprobugmaker commented on #2299
Thank you very much for the answer @a8m. Looking forward to hearing about the 2 and 3.

[2022-01-31 13:18] #1631 closed

[2022-01-31 13:22] a8m commented on #1631
Thanks for proposing this issue @ColetteContreras, it was resolved with https://github.com/ent/ent/pull/2304.

You can define descending indexes if you're using the [Atlas migration](https://entgo.io/docs/migrate#atlas-integration). The API is as follows:

[code]

[2022-02-01 05:02] bbkane commented on #1061
From https://entgo.io/blog/2022/01/20/announcing-new-migration-engine :

I know we took a while to get this release out the door, but the next one is right around the corner. Here's what's in store for v0.11:

-   Add support for edge/relation schemas - supporting attaching metadata fields to relations.

[2022-02-01 14:46] AdlerShay commented on #1565
Hi @a8m , having the same problem, only that I'm using an external package which I can't rename. Is there any update on this one?

[2022-02-01 15:20] MrParano1d commented on #2248
Thank you for your answer. The newest playground UI seems to fix this issue and I can work with query variables again. Thanks for the help.

[2022-02-01 15:20] #2248 closed

[2022-02-01 15:28] MrParano1d commented on #2248
Just if anyone is interested: the gqlgen 0.14.0 playground was broken and 0.15.0 fixed it with GraphiQL as the new playground.

[2022-02-01 16:14] maaft commented on #2044
@a8m I'm eager to start working on this. Could we please assemble a list of smaller todos that must be accomplished such that ent fully supports graphql interfaces?

- [ ] Implement `ent.Interface` type
- [ ] Add `ent.Interface` support to `edge.To(...)` func
- [ ] How to do the table layout? `InterfaceTable`: Common Fields, `ImplementingTypeTable`: Type Fields + Foreign Key to `InterfaceTable` ?

[2022-02-01 16:36] maaft opened #2305 "Filtering, Ordering and Pagination Support on nested Edges"
Opening a new Issue to consolidate these closely related features.

## Summary 💡

Currently it is not possible to filter, order and/or paginate on nested edges in any combination possible (Related: #1329).

This is also true when using the graphql integration. Following queries are currently not possible:
[code]

All of these queries (and of course combinations of these do not work currently. Of c

[2022-02-01 19:16] angristan commented on #2298
I ran into the same issue:

[code]

[2022-02-01 19:28] a8m commented on #2298
Hey @angristan, please use [ent/bug](https://github.com/ent/bug) to help me reproduce this. Thanks 🙏

[2022-02-01 20:33] angristan commented on #2298
I can't manage to reproduce using this repo :(

[2022-02-01 21:16] angristan commented on #2298
Any `.Exist()` or `.Count()` query seems to fail, with the following logged on the postgresql server:

[code]

[2022-02-01 21:23] angristan commented on #2298
(I don't have the issue in v0.9.1, so probably related to https://github.com/ent/ent/commit/3e6c40886d55c57a57fe209b52766951c9d9c917)

[2022-02-01 21:25] a8m commented on #2298
Can you please paste here an example query that causes this failure?

[2022-02-01 21:26] angristan commented on #2298
Yes, simply this for instance:

[code]

[2022-02-02 10:08] a8m commented on #2298
Hey @angristan, did you run the code generation after updating to v0.10? If so, how do you run it?

[2022-02-02 12:10] angristan commented on #2298
Looks like I forgot to regenerate the code...

<img width="899" alt="screenshot_2022-02-02_13-09-14" src="https://user-images.githubusercontent.com/11699655/152151049-8b09597a-8793-43bc-ae60-85a13e465c2b.png">

It works now 👍 Sorry for the noise!

[2022-02-02 12:15] a8m commented on #2298
Great, we may need to add a check for this.

[2022-02-02 13:50] #1565 closed

[2022-02-02 13:50] a8m commented on #1565
Hey all 👋
Sorry for the delay, the issue was not really urgent (for my case), and I was working on other stuff.

I landed a patch that should solve this issue. See #1565

Basically, the code-generator detects if the local names of the generated packages (`gen.Type`) conflict with a local name of any of the user-defined types. In case of a conflict, it adds a different local name (an alias) to be u

[2022-02-03 12:43] bionic-ido opened #2308 "When will the next version be released?"
Yesterday there was a fix here that is really important to my project: https://github.com/ent/ent/pull/2306 (done by @a8m )

And I was wondering regarding when a version that contains it would be released & what my options are.

Thanks in advance,

Ido

[2022-02-03 13:00] crossworth commented on #2308
You can always use `@master` or `@commit hash`

[code]

[2022-02-03 13:08] masseelch commented on #2273
Hey @gorexlv, currently Ent does not support this. Progress is tracked in #266.

[2022-02-03 13:08] #2273 closed

[2022-02-03 14:09] bionic-ido commented on #2308
I did, and just found out that this isn't exactly the same issue.
The issue that @a8m solved was if the table names in the schema are with conflicting names.
The issue I have is that json fields from 2 of my tables come from 2 different external packages with the same name ("k8s.io/api/core/v1" & "k8s.io/api/apps/v1" for example).
:(

[2022-02-03 20:22] yonidavidson commented on #2308
@bionic-ido can I close this issue? It seems that you need another issue for your problem.

[2022-02-03 20:46] a8m commented on #2308
Hey @yonidavidson, I think the problem here is different and we should address this. @bionic-ido, can you suggest the desired behavior for this case? Should ent choose a random prefix for the local name, or infer it somehow from the import path?

[2022-02-03 21:01] yonidavidson commented on #2201
Hi @ladit ,
have a look https://entgo.io/docs/schema-fields#enum-fields
```hen a custom [GoType](https://entgo.io/docs/schema-fields#go-type) is being used, it is must be convertible to the basic string type or it needs to implement the [ValueScanner](https://pkg.go.dev/entgo.io/ent/schema/field#ValueScanner) interface.```
tell me if you need any help with that

[2022-02-03 21:18] yonidavidson commented on #2118
Hi @henrywoody can I close this issue?

[2022-02-04 02:43] hsblhsn opened #2310 "bug: injected dependency is not available in filter functions."
Hello, dependency injection is a good feature and I have followed [this tutorial](https://entgo.io/blog/2021/11/1/sync-to-external-data-systems-using-hooks) to implement mine.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Currently, my depe

[2022-02-04 02:52] henrywoody commented on #2118
@yonidavidson, yes.

For anyone wondering, current solution looks like this the below. I'll likely need to optimize this in the future, as it will probably break down with a lot of data.

[code]

Also requires a small snippet in the `ent` package to define the `NewPostQuery` method on the `CommentQuery`:

[code]

[2022-02-04 02:52] #2118 closed

[2022-02-04 12:07] maaft commented on #2044
For reference: https://github.com/maaft/ent-interface-support

[2022-02-04 14:57] bionic-ido commented on #2308
The problem is when we have two imports like a/v1 and b/v1, so in that case infering it from the path of the package can work.
I don't know however what would start happening with paths that are simillar in more then just the name and if that should even be supported (a/a/v1 and b/a/v1 for example).

[2022-02-04 16:11] JonasHiltl opened #2311 "`hook.UserFunc` Adapter throws invalid type conversion"
I'm trying to create a hook on my `User` Entity inside the schema package. I want to use the generated `hook.UserFunc` Adapter, similar to [this](https://entgo.io/docs/hooks#schema-hooks) section of the docs.
But when creating the function to use as the hook inside the Adapter I get an error saying the types are incorrect even though I followed the docs closely.

- [x] The issue is present in the

[2022-02-04 16:37] crossworth commented on #2311
Hello, I think you should change this import:
[code]

to:

[code]

[2022-02-04 16:38] JonasHiltl commented on #2311
@crossworth Thanks a lot. That fixed the type issue

[2022-02-04 16:38] #2311 closed

[2022-02-06 15:06] StarpTech commented on #46
Add support for cockroachdb.

[2022-02-06 15:11] crossworth commented on #46
Hello @StarpTech, someone on discord said that they are using CockroachDB without problems with Ent.

![image](https://user-images.githubusercontent.com/1251151/152687344-c9887707-5d70-43a1-93cb-7dcb3c332d7d.png)

Feel free to join the Ent Discord https://discord.gg/qZmPgTE6RX

[2022-02-06 17:08] StarpTech commented on #46
Hi @crossworth the difference between "it works" and support is huge. I'd like to see cockroachdb as part of the CI tests.

[2022-02-08 05:04] shahriar350 commented on #2209
to solve this issue, upgrade ent version to 0.10.0

[2022-02-10 00:42] amaru0601 opened #2318 "pq: relation \"ent_types\" does not exist"
When I try to follow the documentation of the relay node https://entgo.io/docs/tutorial-todo-gql-node/ I get this message :
`̣pq: relation \"ent_types\" does not exist` from graphql client when I make this query :
[code]

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicat

[2022-02-10 06:36] rotemtam commented on #2318
hey @amaru0601 !

thanks for reaching out.
did you create the database using `WithGlobalIds`?
The GraphQL integration relies on [Global IDs](https://entgo.io/docs/migrate/#universal-ids) for providing a unique global ID for each node in the graph.

If you look at the ["Run the Server"](https://entgo.io/docs/tutorial-todo-gql#run-the-server) section in the tutorial you will see this block:

[code]

[2022-02-10 11:33] thehowl opened #2319 "Using SchemaType with composite types leads to useless ALTER TABLEs in migration in some cases"
On our ent set up, we use automatic schema migrations by Ent. The migration system attempts to identify which columns have changed, and while this is correctly identified in most cases, for some composite types (for our case, `DECIMAL`), ent does not correctly identify as it being equal to the type in the schema, which leads to an ALTER TABLE which can possibly create other issues as it happened t

[2022-02-10 13:26] amaru0601 commented on #2318
Nice!  Thanks for your comment, Universal IDs solves the problem.

[2022-02-10 14:24] crossworth commented on #2290
Hello @lynkas, could you try using the `field.Other` as on this example using the `master` version:
https://github.com/ent/ent/blob/a7beb5c834f0b81de7afd15350da9c42d8eb6b88/entc/integration/customid/ent/schema/other.go#L22-L29

[2022-02-10 20:44] theprobugmaker opened #2321 "ent won't work with gqlgen and federation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I tried following [this repository](https://github.com/demobin8/ent-federation-example) and everything worked fine until I tried to use a feature from the Apollo Federation (that works on gqlgen)

[2022-02-10 23:32] giautm commented on #2321
Hey @theprobugmaker, I'm also playing with Ent + Apollo Federation. Your issue looks like another one that I fixed via this commit https://github.com/ent/contrib/pull/199, So, what is your ent-contrib version?

[2022-02-11 05:01] washanhanzi commented on #2298
I have an idea, maybe add the `entc` version info in generated file.

[2022-02-11 19:06] theprobugmaker commented on #2321
It worked, thank you @giautm

[2022-02-11 19:06] #2321 closed

[2022-02-11 19:17] theprobugmaker opened #2324 "How to customize the pagination"
I'm using ent with gqlgen and federation but the way the pagination is defined by ent is causing the gateway to give me errors cause there are a few different implementations (between my service and the others - which are not in Go).

The other service doesn't use the cursor as `Cursor` scalar type, they are using `String`. I tried to remove the `scalar Cursor` from the schema and use it as `Strin

[2022-02-11 19:31] giautm commented on #2321
Hey @a8m, can you release a new version of ent-contrib?

[2022-02-11 20:04] giautm commented on #2324
I think you should define `scalar Cursor` in other services will be the easier way.

GQLGen will generate resolver methods for non-compatible types (ex: string vs Ent's Cursor). You can write resolve to convert it to string

[2022-02-11 20:07] giautm commented on #2324
To custom Ent's node template, you can override it with the option `entgql.WithTemplates`.

[code]

[2022-02-11 21:00] theprobugmaker commented on #2324
I can't change the other service unfortunately, the one I'm creating is just for integration with the ones that already exists.

Do you mean like, I can just write the resolver returning the string like this?

[code]

This one seems tricky, as I'm using UUID and I'm getting a UUID type instead of a string, I'm thinking about how I can solve that using templates if the example mentioned above doesn

[2022-02-11 21:48] giautm commented on #2324
Hey @theprobugmaker, you can follow this commit to write a custom resolver: https://github.com/giautm/workspace-go/commit/54bd43f25b0619600b80a730623615a893addd30

[2022-02-12 02:47] lynkas commented on #2290
@crossworth Thank you for your contribution! It works perfectly on an individual table. However some problems occurs when it queries a foreign key.
![image](https://user-images.githubusercontent.com/22864418/153693600-f9b0c164-03b3-4a8c-9f55-32490eaaeeda.png)
It tried to cast sid input type (a string) to sid store type (int64), and error occurred.

e.g. the Token table have a foreign key to Accoun

[2022-02-12 03:16] crossworth commented on #2290
Hey @lynkas , thats make sense, I forgot to add tests for edges 😔.

I will try to check it soon, mean while, could you show an example of the schema/query that are causing the problem and which database are you using?

[2022-02-12 03:58] lynkas commented on #2290
@crossworth This is a full example:
https://github.com/lynkas/ent-custom-id-type

And I'm using postgres. (did not test for other databases)

[2022-02-12 16:01] SuzurikawaChihiro opened #2328 "Are there any plans to support multiple languages in the DB system language?"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- I want you to support languages other than English
- plz, Japanese support...

## Motivation 🔦

### Language：`default`
<img width="978" alt="image" src="https://user-images.githubusercontent.com/64934951/153717616-0b9dec6c-8da4-482b-bac6-bc74a1388279.p

[2022-02-13 14:28] yonidavidson commented on #2328
Hey @SuzurikawaChihiro 👋

Do you mean database language configuration (i.e. collate/charset), or the generated errors and logs in the ent?
Feel free to ping me in ent [Discord server](https://discord.gg/qZmPgTE6RX) if you prefer.

[2022-02-13 17:18] SuzurikawaChihiro commented on #2328
@yonidavidson @a8m
I prepared the code of the same behavior
please, check me
https://github.com/SuzurikawaChihiro/echo-ent-example

Try switching between English and Japanese settings
https://github.com/SuzurikawaChihiro/echo-ent-example/blob/645d392c0e60420800c4e5ffc04451803ce474db/docker/postgres/Dockerfile#L1-L11

and, try request
https://github.com/SuzurikawaChihiro/echo-ent-example/blob/cd670

[2022-02-13 22:09] yonidavidson commented on #2328
Hi @SuzurikawaChihiro,
I ran the example and as expected it didn't work, after that I upgraded to the latest ent version:
```entgo.io/ent v0.10.1-0.20220210141757-a7beb5c834f0```
and it did.
Have I missed something or did I answer your issue?

Thanks.

Yoni.

<img width="1715" alt="image" src="https://user-images.githubusercontent.com/5472778/153777222-bdd987c7-ae5e-4bb5-b21b-feec3ad0a55c.png">
<i

[2022-02-14 02:08] SuzurikawaChihiro commented on #2328
@yonidavidson
Sorry, I didn't have enough explanation.
if the DB setting is Japanese, the error will be passed through even if a conflict occurs.

Please POST twice in a row

### English：Catching conflicts.
<img width="1321" alt="image" src="https://user-images.githubusercontent.com/64934951/153787380-eadfc2c2-4ea7-427a-9160-890cbd6df503.png">

### Japanese：Conflict is through.
<img width="1321" a

[2022-02-14 03:39] crossworth commented on #2328
Hello, I think the possible source of the "problem" is this file:
https://github.com/ent/ent/blob/a7beb5c834f0b81de7afd15350da9c42d8eb6b88/dialect/sql/sqlgraph/errors.go#L20

The code checks for a few errors by inspecting the returned value, since the database is using a different locale, the errror returned is not the "same" as the function expects.

There is a way (on Postgres) to ensure that th

[2022-02-14 05:37] SuzurikawaChihiro commented on #2328
@crossworth
I see.
I used that code and it worked in Japanese 👍

[2022-02-14 05:42] SuzurikawaChihiro commented on #2328
https://github.com/ent/ent/blob/a7beb5c834f0b81de7afd15350da9c42d8eb6b88/dialect/sql/sqlgraph/errors.go#L20-L25

Are there any plans to make this available in more than one language?

[2022-02-14 06:22] giautm commented on #2328
I think we should check the error code as @crossworth suggested. But, it mean we have to import package from the driver to cast the error.

[2022-02-14 06:46] a8m commented on #2328
Thanks for all the help @crossworth, @yonidavidson, and @giautm 🙏

We didn't check the error code because it required importing the different drivers, but we can implement it using type-assertion and reflection to extract it from pg and pgx. See https://pkg.go.dev/github.com/go-pg/pg#Error, and https://pkg.go.dev/github.com/jackc/pgx#PgError

@SuzurikawaChihiro, let me know if you want to contribu

[2022-02-14 08:48] medivh-jay opened #2329 "Schema Hook cannot generate, entc/load: load schema dir: -: import cycle not allowed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Unable to generate code normally

## Expected Behavior 🤔
Normal code generation

## Steps to Reproduce 🕹

Steps:
1. Download compressed files  [ent-test.zip](https://github.com/ent/ent/files/80592

[2022-02-14 08:53] medivh-jay commented on #2329
Maybe you can clone this project directly to the local computer  `https://github.com/medivh-jay/enttest`

[2022-02-14 09:02] medivh-jay commented on #2329
[code]

I use a `schema hook` in schema/member.go.

[2022-02-14 10:10] giautm commented on #2328
Hmmm, Why do you close this issue? @SuzurikawaChihiro

[2022-02-14 10:11] SuzurikawaChihiro commented on #2328
@giautm
sorry...

[2022-02-14 11:55] giautm commented on #811
This issue was fixed by detecting IDType from the GQL Node, so you don't have to change `IDType` config anymore.
https://github.com/ent/contrib/commit/6fc2c3622c06cceb165625c9583cc278da2a335e

[2022-02-14 11:57] theprobugmaker commented on #2324
Thank you @giautm , you are amazing.

I'm having another problem now. for some reason, using `@key` is giving me an error:

[code]

[2022-02-14 12:03] giautm commented on #2324
Hey, you need to add a method to `Todo` type to satisfy `Entity` interface like this:
[code]
You can do that manually (by added `entity.go` in `ent` directory) or automatic by using [custom template](https://entgo.io/docs/templates):

[code]

PS: You can DM me to get more support. I'm currently also playing with Apollo Federation.

[2022-02-14 12:09] giautm commented on #2324
You can join Ent's discord server to get the support faster: https://discord.gg/aYcrEbU7

[2022-02-14 15:40] MrParano1d opened #2330 "PostgreSQL schemas need smarter support"
We need a better support for the postgres schema system.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

It's already possible to define entities schemas through the SchemaConfig feature, which works but it would be easier if it's possible wi

[2022-02-15 01:41] lyekumchew commented on #2329
this issue may help you https://github.com/ent/ent/issues/892#issuecomment-717782525

[2022-02-15 01:42] medivh-jay commented on #2329
I'm sorry, this is because I defined the internal structure inside the schema package myself.

[2022-02-15 01:42] #2329 closed

[2022-02-15 10:44] easy-markus commented on #2330
I would also appreciate a better postgresql schema behaviour as our business logic completely works with schemas.

+1

[2022-02-15 12:29] MrParano1d opened #2331 "Missing unique field in query Clone()"
The `unique` Field from a query builder is ignored when the query gets cloned.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The query template doesn't clone the `unique` field from the query.

[code]

## Expected Behavior 🤔

When I do a `c

[2022-02-15 20:32] a8m commented on #2331
Fixed with #2332, Thanks!

[2022-02-15 20:32] #2331 closed

[2022-02-16 01:02] crossworth commented on #2310
Hello @hsblhsn, could you create a simple example using https://github.com/ent/bug?

[2022-02-16 01:04] theprobugmaker commented on #2324
Thank you for the help.

[2022-02-16 01:17] crossworth commented on #2299
I already have explained to @theprobugmaker but I will answer here as well to make easy to more people find about this stuff.

2 - The current implementation don't allow much control over the Cursor type/creation [1](https://github.com/ent/contrib/blob/4b15fea7816e38e880488f890bec3bdaa9983d29/entgql/template/pagination.tmpl#L446) [2](https://github.com/ent/contrib/blob/4b15fea7816e38e880488f890bec

[2022-02-16 01:21] theprobugmaker commented on #2299
Thank you very much @crossworth.

[2022-02-16 01:21] #2299 closed

[2022-02-17 05:44] sunil-edu opened #2338 "Relay Node Interface is not working when used google uuid."
- [ ] The issue is present in the latest release.

## Current Behavior 😯
when  below query  is executed in playground

query nodesquery {
  node(
    token: "xdsfsdf",
    id: "c7461411-eb6e-405f-b61c-28f073767e41"
  ) {
    ... on MstCustomer {
      id
      cust_name
    }
  }
}
We are getting following error

{
  "errors": [
    {
      "message": "cannot resolve noder (c7461411-eb6e-405f-b61c

[2022-02-17 06:43] masseelch commented on #2319
Hey @thehowl,

I think your issue would be resolved by switching over to the new migration engine based on [atlas](atlasgo.io).

For that l, just add the following to the automatic migration code snippet:

`client.Schema.Create(ctx, schema.WithAtlas(true))`

[This](https://entgo.io/blog/2022/01/20/announcing-new-migration-engine) is the announcing blog post.

[2022-02-17 09:48] thehowl commented on #2319
I saw that existed shortly after writing this issue. ;) We'll be testing it out.

[2022-02-17 11:36] tprebs opened #2339 "Schema migration fails on Postgres geometric type fields"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Migrations fail with error `sql/schema: creating changeset for "examples": invalid type "point" for column "a_point"`

This is caused by missing entries in https://github.com/ent/ent/blob/3acff2a

[2022-02-17 18:04] ajwerner opened #2341 "patterns for managing transaction restart errors"
(Originally noted in https://github.com/yonidavidson/cockroach-ent-example/issues/7)

Cockroach, like all databases which operate at high isolation levels, are liable to encounter serializable restart errors. This is a deep area and there's a lot written about it in the [cockroach docs](https://www.cockroachlabs.com/docs/v21.2/transactions#transaction-retries). In general, for go libraries, we rec

[2022-02-17 23:30] crossworth commented on #2290
Hello @lynkas , could you update to master (again) and see if now the problem is solved?

[2022-02-18 15:08] #2339 closed

[2022-02-20 08:06] yonidavidson commented on #2341
Hi @ajwerner thanks for opening an issue.
If you feel like adding this I can support you in the contribution part.

@a8m, what do you think about the API required for managing transaction retries?

[2022-02-20 10:45] superwy opened #2344 "How to set up security to block unconditional updates and deletes"
How to set up security to block unconditional updates and deletes.
Avoid updating or deleting all data

[2022-02-20 11:39] a8m commented on #2344
Hey @superwy and thanks for opening this issue 👋

If you want to block all bulk update/delete operations you can use `Hooks`/`Privacy` to achieve this. We actually used this to allow only delete/update by specific id, as the `Where` clause can be a tautology and update or delete all rows. For example:

[code]

Both options can be shared across all schemas using an [ent.Mixin](https://entgo.io/docs

[2022-02-20 17:43] yonidavidson commented on #2338
Hi, You are missing a marshalr and unmarshaler. please see this example and tell me if it works: https://github.com/ent/contrib/blob/master/entgql/internal/todouuid/ent/schema/uuidgql/uuidgql.go

[2022-02-21 04:58] sunil-edu commented on #2338
I do have those functions
https://github.com/sunil-edu/myeduate/tree/main/ent/uuidgql

Even after moving the uuidgql within schema folder, issue still exists

[2022-02-21 13:39] alexsn commented on #2338
The generated node api needs to know which table to select from which we can deduce if you use universal ids as we encode the type/table into the id itself.

Now when using uuids you need to provide a hint on which table should node api select from using one of the helpers [here](https://github.com/ent/contrib/blob/master/entgql/internal/todouuid/ent/gql_node.go#L222-L236).

You can also check [he

[2022-02-21 13:47] a8m commented on #2338
Alex, thanks for the help! It's really appreciated ❤️

[2022-02-21 15:24] claycoleman opened #2346 "Mutator fields & computed fields"
In some entity frameworks, there is a concept of **mutator fields**. These fields are exposed on the mutator class for an entity and are used to pass data to hooks. Mutator fields are not saved in the db, but only used to set other fields in a hook or control logging logic.

Mutator fields are often used with **computed fields**, which are fields that are stored in the db but are not allowed to be

[2022-02-21 22:09] a8m opened #2351 "entgql: generate graphql and relay objects"
As part of the effort started by @cliedeman and @giautm on https://github.com/ent/contrib/pull/235, I propose breaking it into smaller tasks and pushing it upstream gradually. We should start with the most common and requested option - generating GraphQL objects from an Ent schema. I suggest starting with the following but would love to hear if you think we should add more.

## Stage 1:

### Schem

[2022-02-22 07:11] giautm commented on #2351
Not correct, in the current implement you can apply the directive on any field /or any type.

Agree, the cursor type can be `String` or any named custom scalar type (default to `Cursor`)

[2022-02-22 08:26] sunil-edu commented on #2338
Understood the problem. since my tables are distributed in different packages,  pointing to table type is not possible. So will use PULID instead.

[2022-02-22 09:42] nilpntr opened #2352 "Create a full search postgres index"
Is it possible to create an index like this: `CREATE INDEX name ON table USING gin(column);`? I'm not sure how to prefix this part before the column name: `USING gin`

[2022-02-22 09:44] nilpntr commented on #2122
How did u managed to create the index?

[2022-02-22 13:35] sunil-edu opened #2354 "while using pulid, if edge field is added into schema, generated code cannot be compiled"
without edge field in schema, everything works fine.  When edge field is added, generate code will no compile.

I followed the example from

https://github.com/ent/contrib/tree/master/entgql/internal/todopulid

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Curr

[2022-02-22 17:14] a8m commented on #2352
Hey @nilpntr 👋

Yes! Thanks to [atlas](https://github.com/ariga/atlas), it's possible. Please see the documentation on how to enable it to your schema:

https://entgo.io/docs/schema-indexes#atlas-support
https://entgo.io/docs/migrate#atlas-integration

If you're using only PostgreSQL (and SQLite for testing), you can define your index as follows:

[code]

If your ent/schema is executed on both MyS

[2022-02-22 17:14] #2352 closed

[2022-02-23 00:27] superwy commented on #2344
I want to use like this：
`EntClient.AdminRole.Delete().Where(adminrole.IDIn(1, 2 ,3)).Exec(ctx)`

deny like this:
`EntClient.AdminRole.Delete().Exec(ctx)`

because there is no where condition，will delete all data.
It's a dangerous operation, but I don't want to disable deletion of multiple pieces of data, I just want to disable deletion of all data.

@a8m

[2022-02-23 04:16] syssam commented on #1641
@a8m any news?

[2022-02-23 06:48] yonidavidson commented on #2354
@sunil-edu can i close this?

[2022-02-23 07:05] sunil-edu commented on #2354
This is not related to graphql.

[2022-02-23 08:20] syssam commented on #2173
@a8m undeclared name: pkg, would you provide a clear example

[2022-02-23 18:06] crossworth commented on #2354
Hello, I think you need to change the `field.String("customer_id")` from `mst_inst.go` (ent schema) to `field.String("customer_id").GoType(pulid.ID(""))`.

I pretty sure that the FK must MATCH the PK type.

[2022-02-23 18:28] crossworth commented on #2344
I think I have a solution @superwy, it requires templates and hooks.

When using a [runtime hook](https://entgo.io/docs/hooks#runtime-hooks), we get a `ent.Mutation`, that contains (a concrete type with) a slice of unexported predicates, we need to get access to it, so we create a [template](https://entgo.io/docs/templates/).

[code]
The template above will generate another method on the Mutations

[2022-02-23 18:43] Gbps commented on #233
To fix this myself with auto migration, I had to use the following definition:

[code]
and manually edit `./migrate/schema.go` to edit the field definition to:
[code]
so it includes the `Nullable` field.

I don't know why this process is so involved to add a nullable time field, but this seems to have worked.

[2022-02-24 07:25] sunil-edu commented on #2354
@crossworth  Thank you. I am able to compile the generated code.  Please close this issue

[2022-02-24 07:26] #2354 closed

[2022-02-24 07:26] sunil-edu commented on #2354
I am able to compile the generated code. Please close this issue

[2022-02-24 08:58] masseelch commented on #277
This has been adressed. See the docs for [GoType](https://entgo.io/docs/schema-fields#go-type) and [Other](https://entgo.io/docs/schema-fields#other-field)

[2022-02-24 08:58] #277 closed

[2022-02-24 12:16] nilpntr commented on #2352
On version v0.10.0 the options aren't included yet. Is it possible to create a new release from the current source code so I can use it?

[2022-02-24 14:48] giautm commented on #2173
Hey @syssam, I think SkipExcept can be implemented like this, can you give it a try?

[code]

[2022-02-24 15:48] yonidavidson commented on #2173
Excellent @giautm,
Closing this issue since it will be tracked at  #2351.

[2022-02-24 15:50] yonidavidson commented on #2351
@giautm, I think your example at https://github.com/ent/ent/issues/2173#issuecomment-1049934454 should be part of gql since it's a common request WDYT?

[2022-02-24 16:39] giautm commented on #2351
I thinking away to avoid have both SkipFieldExcept and SkipEdgeExcept in the extension. Because It's cloned code.

[2022-02-25 06:47] giautm commented on #2351
I'd love to hear from you about the integration between the EntGQL extension and the GQLGen plug-in.

First of all, can we agree that Ent's code generation needs to be executed first? Ent -> GQLGen

When Ent executes the code generation, the EntGQL extension is fetching the mapping information (`gqlgen.yaml`) between the scalar and Go data types. This is causing circular dependencies. I'd suggest

[2022-02-25 06:56] a8m commented on #2351
Yes.

👍

[2022-02-25 07:22] a8m commented on #2352
Hey @nilpntr, you can get the latest master version (it's stable) as follows:

[code]

[2022-02-25 07:23] giautm commented on #2351
There is one more problem regarding the edge filter support. If we separate the WhereFilters feature into a separate plug-in, how do we connect them?

[code]

[2022-02-25 07:27] a8m commented on #2351
So, maybe we can live it in entgql as an official feature, but not enable it by default.

[2022-02-25 07:30] a8m commented on #2351
So, maybe we can leave it in entgql as an official feature, but not enable it by default?

[2022-02-25 07:36] giautm commented on #2351
Actually, we just need to known the name of the input for reference. But, need some duplicated code to generate the correct name.

[2022-02-25 07:37] syssam commented on #2173
@giautm get it. thanks

[2022-02-27 18:00] #1555 closed

[2022-02-27 18:01] cliedeman commented on #866
pretty sure this is superseded by atlas

[2022-02-27 18:01] #866 closed

[2022-02-28 08:51] nilpntr commented on #2352
Thanks!

[2022-02-28 10:24] stonymahony opened #2368 "Customize response struct: relations not under "edges" field"
I really like ent's approach, thanks for your awesome work!

What bothers me, though, is that in queries, relations are collected under the field "Edges" instead of directly in the parent.
This is not the response structure I want to provide via my REST API.

Is it possible to adjust this, e.g. via a configuration parameter, or is ent dependent on this construct?

[2022-03-01 01:53] euskadi31 commented on #1949
Any update on this?

[2022-03-01 03:14] maxiloEmmmm opened #2371 "Question: how to auto apply interface to schema?"
example:
path/to/schema
//A.go
[code]
// interface
[code]

If there is only one A, it can be implemented with template(it's ok!)
but there are many similar structures has same fields need to implement the T interface
As a result, there will be many redundant methods by gen

If only want to generate such an implementation by gen
my idea is embed a common structure
[code]
gen result

// schema/a/a.g

[2022-03-01 03:27] #2371 closed

[2022-03-02 10:43] masseelch commented on #367
With having `entoas` and `entproto` in [ent/contrib](https://github.com/ent/contrib) and [`ogent`](https://github.com/ariga/ogent) I feel like this issue can be closed.

Feel free anyone, if you think otherwise.

[2022-03-02 10:43] #367 closed

[2022-03-02 10:51] masseelch commented on #783
There now is [entimport](https://github.com/ariga/entimport) which does this. I am closing this issue, but feel free to re-open, if you think it should stay open.

[2022-03-02 10:51] #783 closed

[2022-03-02 10:58] masseelch commented on #870
@a8m I don't know if you ever went over this, if not, this is a reminder.

@kidlj Ent now has support for the [Atlas](https://atlasgo.io/) migration engine ([docs](https://entgo.io/docs/migrate#atlas-integration)) and that solves what you have mentioned.

I close this issue, feel to re-open, if you think it should stay open.

[2022-03-02 10:58] #870 closed

[2022-03-02 11:00] masseelch commented on #871
@xbassols you can use the [`GoType`]()https://entgo.io/docs/schema-fields#go-type or [`Other`](https://entgo.io/docs/schema-fields#other-field) field type to aacomplish this. Let me know, if you need more help with this.

[2022-03-02 11:00] #871 closed

[2022-03-02 11:08] #879 closed

[2022-03-02 11:13] masseelch commented on #939
This should now work correctly with the [atlas migration engine](https://entgo.io/docs/migrate#atlas-integration) and [versioned migrations](https://entgo.io/docs/versioned-migrations).

Feel freee to re-open, if you think otherwise.

[2022-03-02 11:13] #939 closed

[2022-03-02 11:16] masseelch commented on #957
@a8m We can do this now with atlas having landed, correct?

[2022-03-02 11:18] masseelch commented on #967
There is now: [entimport](https://github.com/ariga/entimport)

[2022-03-02 11:18] #967 closed

[2022-03-02 11:24] masseelch commented on #999
The issue described here seems to be fixed. As for the linked PR I will have a look at it and dicuss :-)

[2022-03-02 11:24] #999 closed

[2022-03-02 11:38] kidlj commented on #870
@masseelch Sure, I'm gonna check the docs, thank you.

[2022-03-02 16:42] giautm commented on #2351
I want to ask people about API design for relational edges. With a 1-1, or n-1 relationship it's pretty simple:
[code]

However, with 1-n relationships it is a bit different.

For example in case there is no filter, sort and pagination, no Relay specification: (We will not support this API).
[code]

With pagination, and sorting:
[code]

With pagination, sorting, and setting Relay (Need to be enabl

[2022-03-02 17:59] catlee993 opened #2373 "Forced 0 value for index results in panic"
[code]
results in this panic:
[code]

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

This should not panic
## Expected Behavior 🤔
uint64 should convert to int64

interface coercion should probably check if OK rather than casting directly
## S

[2022-03-02 20:12] a8m commented on #1949
While I started implementing, I started to think of a different approach. Defining a new schema type named `edge.Schema` feels better to me. Please, see the following example:

[code]
In the above example, there's no need/way to define the PK explicitly. It's always set to the foreign keys (as it is today). Composite PKs can be added, but I feel it's not really part of this feature.

Usage API:

K

[2022-03-02 20:16] a8m commented on #2351
I like both suggestions. Just note that the code block above can be simplified as follows:

[code]

[2022-03-02 20:18] euskadi31 commented on #1949
I have little experience with Entgo, but it sounds good to me!

[2022-03-03 05:19] yonidavidson commented on #2351
Great work @giautm,
I do think we have a challenge on explaining to a user why specific cases will not work (invalid) or won't be generated (not supported) . Considering that gql will help graphQL users to adopt best practices by guiding them in the schema creation stage. I think that very good error/warning messages and good docs can do that.

[2022-03-03 05:43] masseelch commented on #1949
`ent.Schema` and `edge.Schema` are hard to distinguish. Can we call it `ent.Edge`? Or maybe `ent.Pivot`?

I like! 💯

[2022-03-03 07:08] gmhafiz commented on #1949
Laravel uses the `Pivot` vocab, fwiw.

[2022-03-03 07:20] thmeitz commented on #1949
Each framework has its own specialized language, syntax and semantics. All I need as a user is a good introduction to the framework in the documentation.

We could call it `ent.Join` (which I think describes it best for developers working with SQL databases) or `ent.Pivot`.

[2022-03-06 02:06] maorlipchuk opened #2377 "toProtoUser casts the automatic generated ID field with int32 while the DB field is created using int64"
I'm using postgresql with ent/proto to generate my entities.
once I annotate my schema's entity with entproto.Service() it should automatically generate an ID field, as stated in the docs:

I've noticed that the ID generated in postgres is of type bigint

and from the generated code I can see that toProtoUser try to cast the id field to int32:
// toProtoUser transforms the ent type to the pb type

[2022-03-06 12:39] bionic-ido commented on #1996
Hey @a8m @yonidavidson

We've come across this open issue while searching for a way to improve performance (as I've noticed the query had "RETURNING id" in it when debugging, and the difference between running it like that and running it without it was really significant from simple manual testing (9 seconds in a totally possible sized insert of around 2000 lines).

I was wondering whether or not

[2022-03-06 12:51] a8m commented on #1996
Hey @bionic-ido, I don't have any update on this atm, as it was not on my radar since I created #2112.

#2122 could not be landed due to an issue mentioned there:

I guess that with a little effort this improvement can be added, but with some caveats or a knob, like `DoNothing()`.

I don't have a time estimation for this since we're focused in this release on improving edges, GraphQL integration,

[2022-03-06 12:58] a8m commented on #1949
Thanks all for the feedback. I need to digest it a bit and come up with a final naming proposal.

`ent.Edge` is already taken and represents an edge in ent. `Pivot`/`Join` are too SQL-ish, and we support more database types atm, and plan to support more in the future.

`edge.Schema` is like an `ent.Schema`, you can attach policy, hooks, annotations, other edges, etc., but it represents an edge and

[2022-03-06 13:01] thmeitz commented on #1949
Interestingly, however, you described it exactly this way, so that we understand it: **(the join table)**

`// TweetLike schema (the join table)`

[2022-03-06 23:09] rotemtam commented on #2377
hey @maorlipchuk ,
Thanks for writing. I'm reviewing this and considering different paths forward.

[2022-03-07 09:25] maorlipchuk commented on #2377
Thanks!
I found out that the schema which I declared in my main program used MigrateOption WithGlobalUniqueID
	if err = c.Schema.Create(
		context.Background(),
		migrate.WithGlobalUniqueID(true),
		migrate.WithDropIndex(true),
		migrate.WithDropColumn(true),
                 ....

Once I removed this option, I see that the new created ids are not int64 anymore

[2022-03-07 09:45] cliedeman commented on #2351
Hi everyone. I don't currently work on any ent + gqlgen proejcts so I wanted to share all my thoughts and ideas I had while I was working on this to hopefully help someone.

## Leveraging gqlgen schema config

You don't have to customize the schema exclusively in ent

Generated by ent (you can have a single type with extends)
[code]

User written
[code]

# Skip Annotation

My idea around `Skip` wa

[2022-03-07 09:49] rotemtam commented on #2377
Thanks for following up. Here's a summary of my process so far:

* In Postgres/MySQL `field.Int` becomes a `bigint` (64-bit). (default Ent behavior)
* In 64-bit systems, Go's `int` is backed by 64-bits as well.
* Having `field.Int` become `int32` in proto, means that for values that are larger than math.MaxInt32, casting them to int32 would result in data loss.
* Changing int32 to int64 is [allowe

[2022-03-07 09:53] giautm commented on #2351
It cannot expose via GQL introspect, but it can be expose via `query { _service { sdl } }` query if you using Federation, damm.

[2022-03-07 11:04] maorlipchuk commented on #2377
sure, I'm on it

[2022-03-07 12:26] rotemtam commented on #2377
Amazing!
Notice the contribution guidelines to entproto:
https://github.com/ent/contrib/tree/master/entproto#contributing

[2022-03-07 12:42] cloneable commented on #2300
The only benefit seems that proto files don't need to import well-known types, like StringValue and the API is simpler to use in code without this indirection. Beyond that it's mostly about protobuf feature parity in protoc-gen-ent. Personally, I prefer writing `optional string` over `google.protobuf.StringValue`. It's not only shorter, but also makes it clearer what is meant here.

Yes, seems wis

[2022-03-07 13:00] rotemtam commented on #2377
Looked a bit at what is needed to do this. As far as I can tell, the only change that is required is in https://github.com/ent/contrib/blob/7ee8868fed91680ed11ae3083f07279158022fd9/entproto/types.go#L34. Following that a whole bunch of tests will fail, and the fix will be to change `int32` to `int64` where relevant.

[2022-03-07 14:28] smintz commented on #2377
@rotemtam, just a thought; since `ID` will never be negative, isn't it more appropriate to change to `uint64`?

[2022-03-07 14:59] rotemtam commented on #2377
I understand your reasoning, but I think that it's more important to be aligned with the core behavior of Ent. Since Ent maps field.Int to a 64 bit signed integer (bigint in the DB and int in the struct), I think it's better to align.

[2022-03-08 00:57] maorlipchuk commented on #2377
@rotemtam I posted https://github.com/ent/contrib/pull/254 with the fix you suggested, Thanks for the help!
I've tried to verify this on my env and encountered an exception saying :

so I've added the following suggested fix for that :
https://github.com/ent/contrib/pull/254/commits/e938c64c7d95bba20d7bd0466f50893ed4a2e345

 Let me know if there is a better way to approach it

thanks

[2022-03-08 21:31] rotemtam commented on #2377
@all-contributors pleas add @maorlipchuk for code

[2022-03-08 21:41] christiezhao-outreach opened #2382 "How to Generating Versioned Migration Files​ without putting it in main?"
Can we generate the files in the Open function?

 for example:
[code]

[2022-03-09 00:24] luthfimasruri opened #2383 "entproto.Service(): 🐛 Error codegen field type Inet & field name conflict with golang keyword (eg. type)"
`entproto.Service()`: Error codegen field type `Inet` & field name conflict with golang keyword (eg. `type`)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

**Error type `Inet`:**
[code]
**Error field name `type` (golang keyword):**
[code]
ge

[2022-03-09 06:43] JingHonggg opened #2384 "HELP!!! A question about SQL in entgo~"
Anyone knows how to write dynamic SQL in entgo? Or how to implement this statement "CASE xxxxx WHEN 2 THEN 1 WHEN 3 THEN 1 WHEN 5 THEN 1 END" in ORM Model ?
Thks very much

[2022-03-09 07:50] giautm commented on #2384
Hello, why you don't do that logic in Go instead?

Btw, Github Issue is not a good place for discussion. You can join our Discord to get help quickly. https://discord.gg/eA7H4XQs

[2022-03-09 08:16] masseelch commented on #2382
Hey @christiezhao-outreach, thank you for opening this issue.

You can do it like that and with the latest master Ent should not create any new files of there are no changes. However, I advise you to have the creation of new migration files separated from your main application.

The great advantage of having versioned migration files is to be able to check and edit them manually before applying th

[2022-03-10 00:48] christiezhao-outreach commented on #2382
Yeah! It will be great to have an example!

[2022-03-10 02:38] christiezhao-outreach commented on #2382
Also is there anyway to change the naming convention of the sql file?

[2022-03-10 06:02] long2ice commented on #2368
Same here, how can I exclude the `edges`?
[code]

[2022-03-10 06:57] #2384 closed

[2022-03-10 08:39] masseelch commented on #2382
This should work (I didn't test it, let me know if it doesn't work):

[code]

[2022-03-10 08:46] masseelch commented on #2382
Yes, there is :-)

Ent / Atlas has [this interface](https://github.com/ariga/atlas/blob/a3f7bd64517ea4b3bc114e46766c34a98436078c/sql/migrate/migrate.go#L149), that you can implement to create any migration format you want. Atlas provides an implementation for that interface, that works with `text/template`. You can see the default one for `golang-migrate/migrate` integration [here](https://github.

[2022-03-10 10:17] amrnt commented on #2382
Hi @masseelch I'm just wondering and related to this, how to change the name of the files generated? The `.Name` part? All the time it looks like this: `1646xx_changes.down|up.sql` While I want to change the "changes" part of the files generated.

I tried to update `plan.Name` in `schema.WithApplyHook` as when I print `plan.Name` it would be "changes".

[2022-03-10 10:50] masseelch commented on #2382
Hey @amrnt, you can use a custom `migrate.Formatter` for that as well. Currently there is no "easy" way to this, but you are advised to given the generated files any name of your liking by simply changing the filename. Versioned migration files are meant to be touched by a human (at least to check them).

Do you think we should provide a less frictioned way to configure the name when generating a

[2022-03-10 13:42] amrnt commented on #2382
@masseelch Thanks for your reply.

As a suggestion and as there is the `schema.WithDir("some/dir")` option, I thought there would be another option i.e. `schema.WithChangeName("add-colx-to-tbl")` — This will generate `[timestamp]_add-colx-to-tbl.[up|down].sql`

[2022-03-10 13:59] masseelch commented on #2382
Another option would be to add a new method `NamedDiff()` to take a name instead, and I think I'd prefer that one.

[code]
Would you like to contribute this change? I can help you with it, if you want, the changes are not that difficult to add.

[2022-03-10 19:00] amrnt commented on #2382
@masseelch Sorry for missing the opportunity 😄 Looking good! thanks for implementing it that fast 👍

[2022-03-10 19:04] masseelch commented on #2382
No worries. There will be other occasions where you can hop in. I was in need for this myself and so I took it 😊

Feel free to give it a try and provide any feedback you have.

[2022-03-10 20:02] christiezhao-outreach commented on #2382
Haha I just saw everything! This is awesome. Will the method be available after the new release and behind `sql/versionmigration` feature flag?

[2022-03-10 20:05] masseelch commented on #2382
Hey @christiezhao-outreach, it will be part of the next release, yes. But you can already start using it with the latest master: `go get -u entgo.io/ent@master` 👌

[2022-03-10 20:20] christiezhao-outreach commented on #2382
I just tried it out. It still has the `1646943565_2022-03-10 12:19:25.528711 -0800 PST m=+0.005689523_initial_schema.up.sql` the 1646... part. Is it possible to not have that part?

[2022-03-10 20:49] masseelch commented on #2382
The 164... is the version of the migration. The default formatter creates filenames following `<timestamp>_<name>.[up|down].sql`. If you want to change that pattern, you have to use a custom formatter. If you want it to consider only the name, use something along `{{ .Name }}.up.sql`.

I can provide a full example tomorrow, if you like.

[2022-03-11 07:54] a8m commented on #2383
Hey @luthfimasruri 👋

Thanks for reporting this issue. The fix for it should be simple, would you like to contribute it? @rotemtam can help with it.

[2022-03-11 14:03] kilianstallz commented on #2305
This would be very important! Kind of a dealbreaker in my eyes.
Being able to pass parameters down to fields for pagination is a must have when working with graphs.

[2022-03-12 11:33] StarpTech opened #2388 "Atlas does not generate DROP CONSTRAINT statement after constraint modification"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Hi, I changed an edge from

[code]

to
[code]

This produces the following migration

[code]

This doesn't work because a constraint with the name `service_tokens_organizations_service_token` alr

[2022-03-12 13:16] ftomza opened #2389 "Fail migration. Error 1830: Column '%s' cannot be NOT NULL: needed in a foreign key constraint."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

After switching from version `0.10.0` to `0.10.1,` an error occurs at the time of migration.
I get the following error:

[code]

Before the migration, the table is in the following state:

[code]

[2022-03-12 13:26] a8m commented on #2389
Hey @ftomza 👋🏻

Do you run it with Atlas? https://entgo.io/docs/migrate#atlas-integration

[2022-03-12 14:10] ftomza commented on #2389
Hi Ariel!)

As always, I am amazed at the speed of your response!)

Oh ! Alas, no, I used the classic migration ((

[2022-03-12 16:23] a8m commented on #2389
Thanks for the kind words @ftomza 😃

You're welcome to give Atlas a try. Atlas migration engine is much more robust and smart. Actually, the feature of making `Required` edges non-nullable was waited to it, because the existing migration is not able to handle it today (your issues).

Closing, and please let me know if you need any help with it.

[2022-03-12 16:23] #2389 closed

[2022-03-12 16:29] a8m commented on #2388
Hey @StarpTech and thanks for reporting this issue 👋

`service_token` and `service_tokens` look like two different edges? Can you please paste here their `edge.From` definition?

[2022-03-12 18:36] StarpTech commented on #2388
@a8m updated.

[2022-03-13 01:26] idc77 opened #2392 "Add version information to the cli program"
ent cli program should have version information

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

## Motivation 🔦

I have ent installed in my path. I can't tell which version it is. Is it an old version, do I have the latest version, it is a custom hash version? I don't know.
Of course I could

[2022-03-13 01:59] idc77 opened #2393 "Q: execute template "create": template: create.tmpl:171:4: executing "create" at <xtemplate $tmpl .>: error calling xtemplate: template: create.tmpl:93:17: executing "dialect/sql/create" at <$e.ForeignKey>: error calling ForeignKey: foreign-key was not found for edge "blog" of type M2O"
I'm trying something a bit more complex and I'm getting this error message back:

[code]

The M2O blog, but in which context?
I've checked all relations of "blog" and M2O, what could this mean?

[code]

[2022-03-13 02:21] idc77 commented on #2393
Ok this happens when you have the wrong inverse type
correct:
[code]

error:
[code]

[2022-03-13 02:21] #2393 closed

[2022-03-13 07:16] a8m commented on #2392
Hey @idc77 and thanks for proposing this feature to ent.

This command was proposed a few times, but it's already supported by the `go` command. See https://github.com/ent/ent/issues/1828#issuecomment-897823253

Go 1.18 will add support for version control information using `debug/buildinfo`. It is also going to be added to `go version -m`.

Closing, but please let me know if you have any question

[2022-03-13 07:16] #2392 closed

[2022-03-13 15:25] hedwigz commented on #2163
Hey @Thearas :smile:
With the new migration engine, `Atlas` this is now resolved.
Upgrade to `entgo.io/ent@master` and use `schema.WithAtlas(true)`
[code]

[2022-03-13 15:27] ltns35 opened #2395 "What databases are supported?"
Hi, I would like to know what databases can be used with Ent, previously I've been using it with Postgres and works perfectly, but know I would like to try it with a graph database such as ArangoDB or NEO4J.

Being Ent a graph oriented orm, it could be good to describe what databases can be used.

[2022-03-13 15:30] hedwigz commented on #2048
Hey @godcong  :smiley:
With the new migration engine, `Atlas`, this is now resolved.
Upgrade to `entgo.io/ent@master` and use `schema.WithAtlas(true)`
[code]

[2022-03-13 22:33] kataras commented on #2395
Hello @ltns35, you can navigate through the available drivers from the [dialect](https://github.com/ent/ent/tree/master/dialect) sub-package of the project. For instance: https://github.com/ent/ent/blob/a27f753bc800ce0a20d3158fc1cdb4d284e9b068/dialect/dialect.go#L18-L23

[2022-03-14 12:33] wr125 opened #2397 "Edge update"
i have updated the edge of invoice. Would this help?

[code]

[2022-03-14 12:52] #2397 closed

[2022-03-14 12:53] wr125 commented on #2005
i have updated the edge of invoice. Would this help?

[code]

[2022-03-14 13:24] wr125 opened #2399 "Edge Query - Two Tables"
Hi, think I asked this question about 6 months past but had some difficulty. Question is how best can we validate the following;
order total must be the same as payment amount.

[code]

[2022-03-14 16:19] #2395 closed

[2022-03-14 16:34] Thearas commented on #2163
Great! It works for me! @hedwigz

However, I found that `Atlas` does not support `WithForeignKeys(false)`:
[code]
Any plans to support `WithForeignKeys(false)`?

[2022-03-14 16:42] #2163 closed

[2022-03-15 14:36] ivanvanderbyl opened #2401 "Atlas migrations add extra unique index on primary keys"
After switching to Atlas for migrations, the first migration added an additional unique index on all `id` fields, even though there is already a primary key index.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Switching to Atlas creates mig

[2022-03-15 16:14] rolandknight opened #2402 "entoas: Read only annotation"
Is there a way to specify a field read only annotation for entoas? Immutable is supported by entoas and generates input params for only POST method but I don't see a way to suppress the POST param (ie for CreatedBy and CreatedAt fields).

[2022-03-15 17:00] zeevmoney commented on #2163
Hi @Thearas 👋🏻

Soon this will be solved via https://github.com/ent/ent/pull/2404

[2022-03-16 17:22] zeevmoney commented on #2163
@Thearas updating you that the PR was merged :)
https://github.com/ent/ent/pull/2404

[2022-03-16 17:25] zeevmoney commented on #2288
Hi @naormatania,

I just pushed a PR that adds the feature you've been asking for in here

https://github.com/ent/ent/pull/2404

[2022-03-16 23:09] genevieve commented on #844
Hey! I was wondering if there was an update on this proposal and it's something that I'd personally love to use.

[2022-03-17 01:20] nicolasparada commented on #2205
Getting the same issue. Having to set `.Field("my_foreign_key")` on the edge to work properly.

[2022-03-17 06:38] godcong commented on #2048
@hedwigz Thanks,Let me try.

[2022-03-17 08:42] a8m commented on #2288
Thanks @naormatania and @zeevmoney

[2022-03-17 08:42] #2288 closed

[2022-03-17 11:27] iwata opened #2408 "How can I use versioned migrations with `goose`?"
I was excited to read the following article because it was a feature I had been waiting for!
[Announcing Versioned Migrations Authoring \| ent](https://entgo.io/blog/2022/03/14/announcing-versioned-migrations)

It mentions the workflow with `golang-migrate/migrate`, but apart from that, is it possible to work with [goose](https://github.com/pressly/goose)?

`goose` does not separate `Up` and `Down

[2022-03-17 11:52] bionic-ido opened #2409 "Using Or predicate for Where condition causes sequential scan"
Using the Or predicate in order to build a query with several different where conditions, causes sequential scans which cause it to be unoptimized and directly linked to how many entries are in the database (rather then using indexes when querying the conditions independently)

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) o

[2022-03-17 20:49] a8m commented on #2409
Hey @bionic-ido, I just went over your repo and it looks like the query can be simplified without joins/sub-queries, but there's one small change you need to do in your schema - expose the foreign keys as fields and then use them as predicates:

[code]

Then, change your query as follows:

[code]

[2022-03-17 20:55] a8m commented on #2409
In some cases, generated predicates can be improved, and users can use [custom predicates](https://entgo.io/docs/predicates/#custom-predicates) to replace them (including UNIONs). However, that's not the case.

I'm going to close this issue, but please feel free to reopen if you still have issues with it, or ping me on our Discord server. Thanks 🙏

[2022-03-17 20:55] #2409 closed

[2022-03-18 04:56] iwata commented on #2408
I tried replacing `migrate.DefaultFormatter` with the following code, but the result did not work. The reason is that if you use the same file name for `Up` and `Down`, they will be overwritten and only the `Down` DDL will remain.

[code]

[2022-03-18 08:00] masseelch commented on #2382
@christiezhao-outreach Do you need further help with this?

[2022-03-18 08:06] masseelch commented on #2408
Hey @iwata, thank you for this question.

To achieve, what you want you can create a custom `Formatter` so your idea went in the right direction. The `TemplateFormatter` takes an evne number of arguments, the first one being a filename and the second one the template.

So changing your example to this:

[code]

should achieve what you need :-) Let me know if you need more help!

I want to add that

[2022-03-18 10:34] iwata commented on #2408
@masseelch
Thank you for taking the time to share this.

That makes sense! I retried your code sample and it worked 🎉

With a few modifications, the final code is as follows (Hyphens were added to eliminate unnecessary line breaks).

[code]

There is one inconvenience that I would like to share. The two functions, `ensureSemicolonSuffix` and `reverse`, are unexported and cannot be used as is. It w

[2022-03-18 10:40] masseelch commented on #2408
:partying_face:

That is true. I will change the Atlas internals soon to make sure the statements end with an semicolon, then the above function is no longer needed.

For the second part, `reverse` is a relatively simple functions and I do not think we should export, it. With generics out in the open now, a general reverse function is possible as well and my guess is, that there will be some packa

[2022-03-18 10:53] iwata commented on #2408
That's good news!

Agree, generics is truly gospel 👍

Got it.
BTW, I've never noticed this before on that document.
So, this feature is only available on the master branch, right? Or is it still available in v0.10.x?

[2022-03-18 10:56] masseelch commented on #2408
I think @a8m released a [hotfix version](https://github.com/ent/ent/releases/tag/v0.10.1) 2 weeks ago and versioned migrations was a part of that. However, with Ent you can consider the master branch being stable :+1:

[2022-03-18 15:39] CNTWDev opened #2413 "Does it support distributed deployment architecture?"
Does it support distributed deployment architecture?

[2022-03-19 19:12] iwata commented on #2408
@masseelch

I sent a pull request! Could you review it?
https://github.com/ent/ent/pull/2415

[2022-03-19 19:31] masseelch commented on #2408
Thanks! I will have a look on Monday 😌

[2022-03-20 12:44] fgm commented on #2408
One reason why I use goose is its support for both `*.sql` migrations, which you mentioned, and [Go migrations](https://github.com/pressly/goose#go-migrations). Is there a way to support Go migrations too ?

[2022-03-20 12:51] fgm commented on #504
That's an issue I have in a current project for which I'm considering use of ent : we already tables above 4 billions rows (we use Aurora PostgreSQL on AWS), converted to use 64-bit IDs, and growing fairly fast, so it actually is an issue for some real situations.

At first - naive - sight it seems supporting the ability to have the `32` in `int64(id << 32)` at the end of `WithGlobalUniqueID` be c

[2022-03-20 13:19] masseelch commented on #2408
Hey 👋!

Yes, by the looks of it go-migrations are "just" Go code surrounding the SQL statements. Therefore you can once again create a custom `Formatter` to create the desired file format.

I am not near a computer right now, but I can provide an example formatter later if you need one 😊

[2022-03-20 18:44] rotemtam commented on #2413
Hi @CNTWDev,

Thanks for reaching out. You asked a broad question, so I will try to describe how Ent fits with general distributed systems/microservices architectures.

1. Ent serves very well as the data layer for RPC-style microservices. For pretty much all major transport standards, you can use Ent to automatically create CRUD endpoints for gRPC, OpenAPI, and even GraphQL from your data model.

[2022-03-21 07:45] masseelch commented on #2408
@fgm, as I promised:

[code]

Using a formatter like the above should create a Go migration working with goose. Let me know, if you need any more help :blush:

[2022-03-21 22:24] TheBeachMaster commented on #1851
It'd be great to have a way to handle this without fanfare; in my it was accidental, and I had to delete the whole DB (it had not data yet)
`failed  creating schema resources: sql/schema: creating changeset for "schedules": changing column type for "end" is invalid (timestamp with time zone != boolean)`

[2022-03-22 03:08] Johnnysfhe opened #2418 "When using `--feature schema/snapshot`, how to read the specified internal when specifying the generated code"
I used this feature `schema/snapshot`, how do I specify that when generating code, read the `ent/internal` instead of reading the `ent/gen/internal` file.

My command is:
[code]
If there is no internal under my gen directory, it keeps prompting me this error
[code]

I also didn’t see the entgo documentation, there are instructions on what to do.

[2022-03-22 03:11] Johnnysfhe opened #2419 "Can entgo support CRUD operations like gorm, according to the specified structure, now you need your own SetValues every time"
- [ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Motivation 🔦

[2022-03-22 03:30] Colstuwjx commented on #944
Could us reopen this issue? I've tried to generate the sql with the following statements:

[code]

and when I add comment for a field, e.g. `field.Int64("id").Comment("primary key")`, it still didn't work, I can't see any comments in the generated sql.

[2022-03-22 22:39] christiezhao-outreach commented on #2382
Sorry I just saw this! No I am all good! This has been very helpful. When is the next release gonna be?

[2022-03-23 07:40] a8m commented on #2419
Hey @Johnnysfhe 👋

This question has already been answered in the issue tracker, please feel free to see my response in https://github.com/ent/ent/issues/1636#issuecomment-859424157

Closing, but please feel free to tag me if you need more help with it.

[2022-03-23 07:40] #2419 closed

[2022-03-23 07:44] a8m commented on #2413
Hey @CNTWDev 👋

Thanks for the support @rotemtam! I think we can close this issue.

[2022-03-23 07:44] #2413 closed

[2022-03-23 14:25] masseelch commented on #2408
Closing. Feel free to reach out of any more questions arise!

[2022-03-23 14:25] #2408 closed

[2022-03-23 18:44] pzeinlinger opened #2421 "Unique index naming conflict with atlas"
- [X ] The issue is present in the latest release.
- [ X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Using atlas as migration engine leads to a naming conflict of columns with unique constraints using sqlite. Migrations with Postgres work as expected.

Output of debug client:
[code]

db: sqlit

[2022-03-24 05:26] manakuro commented on #85
If you use debug mode by default and run into the error:

[code]

Try this one.

[code]

[2022-03-24 07:22] godcong commented on #2048
migration success.
close this.

[2022-03-24 07:22] #2048 closed

[2022-03-24 16:53] #2401 closed

[2022-03-24 19:56] a8m commented on #2401
Thanks for reporting this @ivanvanderbyl and @hehex9

Fixed with #2425

[2022-03-24 20:04] giautm commented on #139
Can we unpin this issue? :D

[2022-03-25 07:19] wirekang opened #2426 "How can I reuse Set*?"
[code]

In my case, I have to update columns (C....) when  index columns(A and B) conflicts.
I want to reuse ```setValues```. Is there common interface between ```ent.*Create``` and ```ent.*Upsert``` ?

[2022-03-27 19:34] liningpan commented on #1821
Is there a way to insert a row only when there’s no conflict and determine if the row is inserted afterwards? This should be possible with `ON CONFLICT DO NOTHING` in postgres and sqlite. However, neither `ID` nor `Exec` would work in this case.

[2022-03-28 06:56] pzeinlinger commented on #2421
Still present on master as of today. I updated the demo repo.

[2022-03-28 08:42] a8m commented on #2418
Hey @Johnnysfhe 👋

I wasn't able to reproduce this issue locally (I used the same structure), can you please create an example repository with [ent/bug](https://github.com/ent/bug) to reproduce this? Thanks

[2022-03-28 09:54] #2421 closed

[2022-03-28 09:55] a8m commented on #2421
Thanks for reporting this @pzeinlinger 🙏

Fixed with #2433

[2022-03-28 15:37] MikyChow opened #2434 "Nested or condition can not generate sql correct"
Can not generate sql correctly when using nested OR condition

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.
Steps:

code:
[code]
## Current Behavior 😯
![image](https://user-images.githubusercontent.com/5389478/160434305-f55c42c3-85f2-4ea0-8d93-c3e594620d46.png)
##

[2022-03-28 15:42] a8m commented on #2434
Hey @MikyChow 👋🏻
Thanks for reporting this. Can you please provide an example with ent/bug to reproduce this? Thanks

https://github.com/ent/bug

[2022-03-29 03:58] #2434 closed

[2022-03-29 05:40] kerryoscer opened #2435 "Encryption/Decryption on ent fields level?"
Is there any way I can encrypt the data before I save it to database?

For example, there is a sensitive data says "first_name" that I'd like to encrypt it before save it to DB. Also, I need to decrypt it after I retrieve it from DB. Is this something I can achieve in ent?

I am using ent+gqlgen. One solution I can come up is that writing custom graphql resolvers for those sensitive fields.

[2022-03-29 05:52] rotemtam commented on #2435
hey @kerryoscer,

I opened a discussion on this topic at https://github.com/ent/ent/discussions/2364, you're welcome to join in.

I will post there now some details on an experiment we're running with this at @ariga.

[2022-03-29 05:56] rotemtam commented on #2435
Can you share more details on your use case in the discussion there?

[2022-03-29 07:19] Mickls opened #2436 "Question about multi-table join query"
I created two tables, one is `base` and one is `base_info`, they are one-to-one related. I want me to return everything from both of their tables in one query, is there any way to achieve this? I looked through all the related issues and couldn't find a corresponding answer, hoping to have a good solution.
My question translated into sql probably needs to implement a one-time query like this
[code

[2022-03-29 07:34] yonidavidson commented on #2436
Hi @Mickls,
I think what you are looking for is [eager-load](https://entgo.io/docs/eager-load)
for your case you can do:
[code]

[2022-03-29 08:17] Mickls commented on #2436
Thanks a lot for your help, it's useful.

[2022-03-29 08:17] #2436 closed

[2022-03-30 04:18] tonyabracadabra commented on #1949
❤️  love the example here and it would be a new milestone for ent to support this! One question, would there be any workaround (probably a less messy one) while we wait for this great addition to ent?

[2022-03-30 04:19] tonyabracadabra commented on #1949
❤️  love the example here and it would be a new milestone for ent to support this! One question, would there be any workaround (probably a less messy one) while we wait for this great addition to ent?

[2022-03-30 08:12] xmlking opened #2438 "support golang 1.18 workspaces"
in workspace enabled repo
[code]

[2022-03-31 04:24] capyun commented on #2438
oh，i have this error too!!!
when i run "go work init"

[2022-03-31 06:00] masseelch commented on #2438
You can change the line in `ent/generate.go` and remove or edit the `-mod` flag. It should work then.

Let me know if you need more help.

[2022-03-31 06:19] xmlking opened #2439 "does ent support embeddable entities?"
I like to use a single table to store both `User` and `UserDetails` fields in a single table. is this style supported?

https://www.doctrine-project.org/projects/doctrine-orm/en/2.11/tutorials/embeddables.html
example JPA Entities:
[code]

[2022-04-01 00:46] xmlking commented on #2155
I also getting the same error
[code]

[2022-04-01 17:38] giautm commented on #2155
Hello @xmlking, can you try the latest version of `entgo.io/contrib`? I think it fixed via https://github.com/ent/contrib/pull/276

[code]

[2022-04-02 01:28] xmlking commented on #2155
it works. thanks
[code]

[2022-04-02 04:42] nshaphan commented on #1949
Hey,
Any progress on this issue? I want to add additional fields to the pivot table. any idea?

[2022-04-02 10:22] ListerLee commented on #2224
I had the same problem

[2022-04-02 10:34] a8m commented on #2224
Hey @Trim21 and @ListerLee, there’s example in our integration tests for this use case. See https://github.com/ent/ent/blob/master/entc/integration/edgefield/ent/schema/info.go#L30.

If you still have troubles defining your schema, please create an example repo using ent/bug and I’ll try to help.

[2022-04-03 07:53] yonidavidson commented on #2439
Hi @xmlking, thanks for opening this issue.
Ent provides you with a similar syntax for defining relations between entities but it will keep the data in separate tables.
(User details in an edge of User).
Can you share please what is your use case?

[2022-04-03 08:05] masseelch commented on #2438
We support 1.17 and 1.18. Therefore no generics in Ent and no workspaces (imo).

[2022-04-03 08:12] yonidavidson commented on #2402
Hi @rolandknight can we close this issue ?

[2022-04-03 08:30] yonidavidson commented on #2399
Hi, based on the example from here https://github.com/ent/ent/issues/842
I created something similar with (User and Dog)

[code]

[2022-04-03 13:40] rolandknight commented on #2402
yes. The PRs I created for this for entoas and ogent are now merged.

[2022-04-03 13:40] #2402 closed

[2022-04-03 19:45] xmlking commented on #2439
UI/API Interface treats **User** and **UserDetails** data models separately even then they have `1->1 ` relationship.   they have separate  API endpoints to manage.
But the data analytics team wants them in **one normalized table** as they have unified reporting needs.

[2022-04-04 07:15] fgm commented on #1949
The `edge.Schema` approach seems more intuitive indeed, and you might want to rename `ent.Schema` to `field.Schema` for consistency (and probably keep `ent.Schema` as a deprecated alias to `field.Schema` for some releases).

[2022-04-04 08:20] aakashkharwar commented on #1180
[smdms
](url)

[2022-04-04 19:10] Southclaws opened #2445 "Support Atlas HCL as a schema and code generation source"
I was reading about the new Atlas support and love Atlas - it feels like the missing part to fully replace the [dearly departed Prisma](https://github.com/prisma/prisma-client-go/issues/707) in the Go ecosystem.

I checked the blog post and docs and issues and could only find information referring to using Atlas as the migration engine. I would also like to see the schema definition language suppo

[2022-04-05 05:05] mojerro commented on #2351
I have a problem, can we auto-generate `.graphql` file by following the schema files? Just like what [Hasura](https://github.com/hasura/graphql-engine)  did. Now we should write both schema and Graphql files, I think it is the duplicate work.

[2022-04-05 05:09] janimo commented on #2445
Does https://github.com/ariga/entimport help? It predates the use of Atlas though.

https://entgo.io/blog/2021/10/11/generating-ent-schemas-from-existing-sql-databases/

[2022-04-05 05:12] giautm commented on #2351
Hello @mojerro, this issue is for that support. We will generate `.graph` file from the Ent's schema.

[2022-04-05 05:45] mojerro commented on #2351
Oh, that's great. I came from another issue and didn't read the dialog. Sorry 😢  I'll read it carefully

[2022-04-05 12:18] rotemtam opened #2446 "gRPC Extension Roadmap"
This issue tracks progress on the [gRPC Extension](https://entgo.io/docs/grpc-intro/) for Ent.

- [x] Protobuf Definition Generation
- [x] gRPC Service Definition Generation
- [x] Create
- [x] Update
- [x] Delete
- [ ] JSON Support [Discussion](https://github.com/ent/ent/discussions/1690)
- [x] List
  - [X] Keyset Pagination
  - [ ] Pagination on non-id fields
  - [ ] Query Predicates
- [ ] Batch

[2022-04-05 13:22] rotemtam commented on #2445
hey @Southclaws
Thanks for writing this, this is such a cool question and an interesting direction. Let me just highlight that the Ent schema and the Atlas DDL operate at different layers of abstraction. Ent deals with nodes (with fields) and edges, and Atlas deals (currently) with SQL tables, schemas columns etc.

So while you can capture any Ent schema in Atlas, you can't go the other way around

[2022-04-05 15:43] fgm commented on #1949
Issue #400 looks like it's closely related to this, as these "edge with fields" tables would normally have such a composite PK instead of an ID.

[2022-04-05 17:13] tonyabracadabra opened #2448 "Looking for better practices for defining privacy rules in an authorization heavy application"
We are building an application that has a strict authorization requirements. Like many data applications, the basic entities include `user`, `workspace`, `table`, and `column`, the user can be a member or admin on any workspaces, they can also have different roles on each `table`, say `Joe` is a `member` of `workspace1`, and he has `read` permission to `table1`, and I haven't even touched columns

[2022-04-05 23:44] adayNU commented on #900
+1 for this feature. For us, the only need is for unique fields.

[2022-04-06 01:24] loktarjugg opened #2449 "Edges O2O how to set foreign key and local key"
in following struct,   how can I set the foreign key and local key of the association？

the relationship:
Link -> User O2O
User -> Link O2M

[code]

[2022-04-06 03:01] ListerLee commented on #2224
problem solved, thank you so much.

[2022-04-06 03:34] luthfimasruri opened #2450 "Can't generate entpb.pb.go and entpb_..._service.go"
Can't generate `entpb.pb.go` and `entpb_..._service.go` files

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When I run `go generate ./ent`:
Didn't generate `entpb.pb.go` and `entpb_..._service.go` files

But when I run `go generate ./...` t

[2022-04-06 04:59] rotemtam commented on #2450
Thanks for reporting this! I'll take look at it.

[2022-04-06 09:56] gitlawr opened #2452 "Use "Policy" as a schema name"
Creating a "Policy" schema results in the following error:
[code]

The word seems to be common and legit for a model name. Is there a way to workaround the conflict?

[2022-04-06 10:47] rotemtam commented on #2450
This seems to be somehow related to `go1.18`, some recent changes to `ent/contrib` should resolve.

Can you check if upgrading to the latest `ent/contrib` and installing the latest version of `protoc-gen-entgrpc` helps?

[code]

[2022-04-06 11:22] a8m commented on #85
Hey all! I added a feature flag named [sql/execquery](https://entgo.io/docs/feature-flags#sql-raw-api) to simplify the process for those who need it.

[2022-04-06 11:22] a8m commented on #2221
Hey @shenghui0779! I added a feature flag named [sql/execquery](https://entgo.io/docs/feature-flags#sql-raw-api) to simplify the process for those who need it.

[2022-04-06 11:25] a8m commented on #2224
Great! Closing the issue then. Please, feel free to reopen it if you still have troubles, and join our [Discord server](https://discord.gg/qZmPgTE6RX).

[2022-04-06 11:25] #2224 closed

[2022-04-06 12:17] sagikazarmark opened #2454 "Postgres timestamp precision is always zero with Atlas"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When a field is defined as `timestamp` (or any other alternatives, like `timestamptz`), the precision in the database type is always 0 (regardless if a precision was specified or not).

## Expect

[2022-04-06 12:32] a8m commented on #2454
Thanks for reporting this @sagikazarmark, I'll give it a look now.

[2022-04-07 07:33] ddibiasi commented on #1489
We have got a similar use case like @tarrencev . It would be great if this feature would be implemented in ent.

[2022-04-07 13:07] masseelch commented on #2454
For reference: https://github.com/ariga/atlas/pull/686 and https://github.com/ariga/atlas/pull/687.

[2022-04-07 14:21] a8m commented on #2454
I'll update the repository soon with the fix.

[2022-04-07 21:24] wagoodman opened #2460 "Allow for CGO-less sqlite dialect"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

(_The closest issue is https://github.com/ent/ent/issues/456 , as it mentions alternatives to the current sqlite implementation, but is not the exact same feature being requested._)

## Summary 💡

Today there is a `sqlite3` dialect which depends on https://github.com/

[2022-04-08 08:22] luthfimasruri commented on #2450
It works after upgrading `ent/contrib` to the latest version.
Thanks for your help

[2022-04-08 08:27] #2454 closed

[2022-04-08 08:28] a8m commented on #2454
Fixed with #2462. Thanks, @sagikazarmark 🙏

[2022-04-08 08:40] luthfimasruri commented on #2450
Any update on this issue:
https://github.com/ent/ent/issues/2383

[2022-04-08 09:20] rotemtam commented on #2383
Yes, should be an easy fix. @luthfimasruri, if you want to contribute this change I will be happy to support you. WDYT?

I can do it early next week otherwise.

[2022-04-08 09:21] #2450 closed

[2022-04-08 09:56] sagikazarmark commented on #2454
Awesome, thanks for the quick fix!  🎉

[2022-04-09 08:48] CNTWDev opened #2463 "how can i order the MOM edge？"
Dear,

When i create MOM edge, ent help me to create relation table to store the entity relation.

how can i  order the relation by creation time?

thanks

[2022-04-09 08:50] CNTWDev commented on #2463
@a8m
Thanks a lot.

[2022-04-09 09:40] CNTWDev commented on #2452
reserved word

[2022-04-09 10:12] CNTWDev commented on #1949
when i user Field.ID，error occurred.

how can i user the options.

[2022-04-09 10:22] CNTWDev commented on #1949
`func (TweetLike) Edges() []ent.Edge {
	return []ent.Edge{
		edge.To("tweet", Tweet.Type).
			Unique(),
		edge.To("user", User.Type).
			Unique(),
	}
}`

why define unique?
one person like one tweet?

[2022-04-09 10:30] CNTWDev commented on #2463
Found a seemingly useful scheme to combine the primary key by field.ID.
But Field.ID reports an error.

[2022-04-09 10:36] CNTWDev commented on #1949
`go run entgo.io/ent/cmd/ent generate --feature privacy,entql,multi-column ./ent/schema
entc/load: load schema dir: /Users/shituanwei/Desktop/project/src/dailybible/ent/schema/accountchurch.go:23:9: ID not declared by package field
exit status 1
`

[2022-04-09 10:53] gedw99 commented on #2460
Big big +1

No cgo is a big win .

it should also work fine on mobiles .

Based on the repo history and readme it looks like it’s a ongoing project t that will not drop dead .

[2022-04-09 10:54] gedw99 commented on #2460
@wagoodman jave you used this ? Is it decent ? Saw very few issues and so hard to know if this is a stable code baae.

[2022-04-09 11:53] wagoodman commented on #2460
https://github.com/glebarez/go-sqlite is a `database/sql` wrapper for https://github.com/glebarez/go-sqlite , I've used the `gorm/driver` wrapper https://github.com/glebarez/sqlite in the anchore/grype project. All of these are small wrapper/adapter repos for the [upstream `modernc.org/sqlite` library](https://gitlab.com/cznic/sqlite) where all of the sqlite go implementation is. It looks like the

[2022-04-09 12:10] gedw99 commented on #2460
Thanks that’s really useful ..

interesting benchmarks . On “quasi average” the cgo free is about 30% slower than traditional SQLite ( cgo ).

I was hoping the lack of cgo would speed things up , but i guess the cgo free SQLite is not so optimised due to the transcoding

[2022-04-09 13:50] wagoodman commented on #2460
That makes sense --the main benefit for me is really the simplification of dependencies.

[2022-04-10 00:52] StarpTech commented on #46
Please add support for Joins. The eager load mechanism is too limited.

Currently, it's not possible to filter on the total dataset of multiple edges. We are scoped to one specific edge at a time. Imagine you would like to get all posts and books that starts with the letter "a" from all authors. Each author has two edges (1. Posts, 2. Books) We can't build the sum of both sets and filter on the re

[2022-04-10 02:57] gitlawr commented on #2452
I am wondering if we can revisit the word reservation and use ent specific words for internal schemas. Like https://github.com/ent/ent/issues/448

[2022-04-10 04:18] CNTWDev commented on #1949
`func (Group) Edges() []ent.Edge {
	return []ent.Edge{
		edge.To("users", User.Type).
			Through(UserGroup.Type),
	}
}`

prefer this way.
it's smooth, and much more stable.

[2022-04-10 04:28] CNTWDev commented on #2436
withxxxx is used to one-to-one releated model?

[2022-04-10 06:03] a8m commented on #2452
Hey @gitlawr 👋

As mentioned by @CNTWDev, `Policy` is a built-in type in both `entgo.io/ent` and the generated code. I don't have a simple workaround to suggest you besides naming your ent/schema differently and using the `entsql.Annotation` to name the SQL table `policies` in the database.

[code]

See: https://entgo.io/docs/schema-annotations/#custom-table-name

Closing this issue, but please fe

[2022-04-10 06:03] #2452 closed

[2022-04-10 06:10] a8m commented on #2449
Hey @loktarjugg 👋
Are the `Link->User` and `User->Link` the same relationship? If so, it needs to be `O2M` and `M2O`. A user has many links, and a link has only one user. Let me know if I'm correct and I can help with this example.

[2022-04-10 06:24] #2383 closed

[2022-04-10 06:58] yonidavidson commented on #2436
It should, it's a one-to-one edge right?

[2022-04-10 07:54] loktarjugg commented on #2449
@a8m  thanks for your reply, they are not exactly the same

the `User->Link` is O2M
the `Link->User` is O2O

actually, in this example, I want to achieve the relationship between`User.MobileNumber ` and `Link.MobileNumber `
in other words, I need assignable foreign and associative keys

[2022-04-10 11:48] yonidavidson commented on #2448
Hi @tonyabracadabra sorry for the long delay.
I'll try and give my view on this issue and I hope it will answer your question.
I also don't have experience with SpriceDB and have built my own authorization system (when working in NodeJS/Kotlin) or used ent's privacy feature (in Go)

First, I think that you can achieve what you need with ent's privacy feature and mutation hooks.
As long as your sys

[2022-04-11 15:39] wagoodman commented on #2460
I went looking for issues in the repo without luck, but didn't look at discussions. Apparently there is a wrapper already that wraps the same `modernc.org/sqlite` implementation mentioned here on discussion https://github.com/ent/ent/discussions/1667

[2022-04-12 03:33] #2460 closed

[2022-04-12 03:45] erixyuan opened #2466 "sql/execquery feature not work"
i execute
 go run entgo.io/ent/cmd/ent generate --feature sql/execquery  ./ent/schema
but not generate sql/execquery code
and run the feature of generate sql/modifier , it can work
why ?

[2022-04-12 03:47] a8m commented on #2466
Hey @erixyuan 👋🏻
Can you please update to latest master and try again? go get entgo.io/ent@master

[2022-04-12 03:49] erixyuan commented on #2466
now my version is entgo.io/ent v0.10.1

[2022-04-12 03:51] erixyuan commented on #2466
it work, thanks

[2022-04-12 17:09] yonidavidson commented on #2448
Hi @tonyabracadabra  can we close this issue?

[2022-04-12 18:07] PringlePot opened #2468 "Edge outside of edge field"
I was wondering if it's possible to make the edges be outside of the edges field. This would greatly simplify some code

[2022-04-12 22:31] ThanksSirAlex opened #2469 "Is it possible to set table name for the relation table in m2m2type situation"
For example I've already got a relation table named `user_group_relation` and I want to use it directly. Is there any way to set it in Edges function?

[2022-04-13 10:54] a8m commented on #2468
Hey @PringlePot 👋

Do you mean the generated `<T>Edges` struct under each entity? e.g.

[code]

Can you elaborate on the reason? If the case is JSON encoding/decoding, then you can implement a custom codec.

[2022-04-13 10:57] a8m commented on #2469
Hey @ThanksSirAlex 👋
You can use the [edge.StorageKey](https://entgo.io/docs/schema-edges/#storagekey) option to control the name of the join-table.

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you need more help with this.

[2022-04-13 10:57] #2469 closed

[2022-04-13 19:48] a8m commented on #2448
Hey @tonyabracadabra 👋

I had 2 cases in the past where I used the Ent privacy layer with an external RBAC service that provided me the policy for each user (by its ID). I can elaborate on this but have a few questions before, so I'll ping you on our Discord and comment here after that.

[2022-04-14 02:43] tsingsun opened #2472 "[entgql] gql_where_input P() got a rewrite cycle detected"
i have a project with many shema and got `gql_where_input` 5M size, when I run debug in vscode .got the compile error:

[code]

 2019 line see blow

[code]
the FinBalanceSheetWhereInput.P() almost have 3000  line code.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

[2022-04-14 03:43] randall77 commented on #2472
Could you give us instructions on how to download this project, and exactly what build command you used?
I got as far as `git clone https://github.com/ent/contrib` but I don't know what to do after that to reproduce the problem.
(e.g. there's no `.../web/main.go` file in that repository.)

[2022-04-14 03:53] giautm commented on #2472
Hello @tsingsun, can you create a reproduce repository with https://github.com/ent/bug, please?

[2022-04-14 04:28] tsingsun commented on #2472
The project is private, so I think about how to build a new project to reproduce the problem.

[2022-04-14 06:18] tsingsun commented on #2472
@giautm @randall77 reproduce repository : https://github.com/tsingsun/ent-issue-2472.git

in vscode locate `server/server.go` and `F5` run will see the problem.

[2022-04-14 11:39] yonidavidson commented on #2463
Hi @CNTWDev can https://entgo.io/docs/paging#edge-ordering help you?

[2022-04-14 12:10] yonidavidson commented on #2310
Hi @hsblhsn , which filters function do you mean?
Can you give me an example?
For example
[code]
Where are you expecting to get access to the Dependency?

[2022-04-14 12:31] yonidavidson commented on #2449
@loktarjugg , have you considered using a [validation hook](https://entgo.io/docs/hooks)?

[2022-04-14 13:35] hsblhsn commented on #2310
Suppose I have `pet` and `user` microservice.

And I have a api client to check if the user has access to the pet.

so in a privacy filter function, I would use it like.

[code]

I have injected `APIClient` using `entc.Dependency` options as shown here at  https://entgo.io/blog/2021/11/1/sync-to-external-data-systems-using-hooks

The problem is I can't access `APIClient` from `FilterFuncs` but I c

[2022-04-14 14:10] yonidavidson commented on #2310
Why not add your API Client to the context (where you add the pet name)?

[2022-04-14 14:13] hsblhsn commented on #2310
Nice idea! Thanks for that. But still, it would be nice for a dependency to be accessible from FilterFuncs. Because that's the whole point of creating a dependency at entity level.

[2022-04-14 14:48] yonidavidson commented on #2310
I think the reason is to avoid security issues by allowing the privacy layer to access the data it's protecting.
@a8m  is this the reason?

[2022-04-14 15:43] randall77 commented on #2472
Could you figure out what command-line commands reproduce the problem? I'm not a vscode user and the error I get when I hit F5 on the server.go page isn't the one you're reporting.

[2022-04-14 17:07] a8m commented on #2310
No real reason, the `Depdendecy` option was added after privacy. However, I just landed #2473 to inject the `config` object (with all its dependencies) to the typed filters. See example - https://github.com/ent/ent/blob/4cf6dd75ec2df1303cfd72b217945c8d51a2d751/entc/integration/privacy/rule/rule.go#L111-L121

@hsblhsn, I wonder how you use the `Filter` functions. Because the current `privacy.Filter

[2022-04-15 01:04] tsingsun commented on #2472
you run the go build in the project root directory
[code]

[2022-04-15 04:10] randall77 commented on #2472
Ok, I can reproduce. I think this is just #51639. For some reason that issue didn't get requested for a backport to 1.18, I'll do that now.

[2022-04-15 06:06] sneakykiwi opened #2474 "entproto - field.Strings should not be characterized as TypeJSON for entproto."
The field type `Strings` currently returns a jsonbuilder and is being used a json interface for protos when there is full supports for arrays in protobufs.

- [x ] The issue is present in the latest release.
- [ x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`field.Strings` has no difference th

[2022-04-15 06:49] sneakykiwi opened #2475 "entproto - Add option to skip field generation"
The ability to skip certain fields from generating would be greatly appreciated, for example: If you have a `Content` model that you use to create an edge from 5-10 different models then the generated protobuf should not create inverse edges for all these 10 different models

- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a dup

[2022-04-15 07:12] sneakykiwi opened #2476 "entproto - Support for M2M Same Type Edges"
Currently there is no support (or error handling) for generating proto messages that contains [M2M Same Type ](https://entgo.io/docs/schema-edges#m2m-same-type) edges.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Currently what happens is t

[2022-04-15 08:40] PringlePot commented on #2468
Hi!

Yeh I mean making it possible to fetch (for example the children of a User) and then accessing it with u.children instead of user.edges.children. This would make it easier to have an edge within an edge and prevent stuff like user.edges[0].edges.files or something similar. I understand that this might be against the idea of ent, but I was just wondering if its possible

[2022-04-15 12:37] thmeitz opened #2477 "ogent / ent - type generation problems"
- [ x ] The issue is present in the latest release.
- [ x ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

1. ogent generates wrong type
`schema.go` definition `field.Uint32("id").StorageKey("client_id"),`
`ogent` generates `int32` type
- see: one of the 600 errors in the example repo
2. `ent` gen

[2022-04-15 12:45] a8m commented on #2477
Thanks for reporting this issue @thmeitz 🙏

One of us will give it a look next week.

[2022-04-16 16:39] ivanvanderbyl opened #2478 "Removing unique constraint does nothing"
Removing the unique constraint from a field as below does not create any migration schema changes:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior 🤔

It should generate a change to drop the unique constraint.

## Steps to reproduce:

1.

[2022-04-16 16:54] ivanvanderbyl commented on #2478
My bad, I just realized the field was being used on a O2O edge, which also applies the unique constraint.

[2022-04-16 16:54] #2478 closed

[2022-04-17 13:38] thmeitz opened #2479 "entproto: service Get - unreachable code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I've created a proto service with `entproto`. The `func (svc *<Entity>Service) Get(ctx context.Context, req *Get<Entity>Request) (*<Entity>, error) {` in file `entpb_<Entity>_service.go` method c

[2022-04-17 14:00] loktarjugg commented on #2449
hooks might be another approach, but I just want to use the relationships

[2022-04-18 12:11] rotemtam commented on #2479
Thanks, @thmeitz for opening this issue.

Do you want to send a fix to this issue? It should be fairly simple to fix.

[2022-04-18 14:12] rotemtam commented on #2476
hey @sneakykiwi,

I will into this issue a bit deeper but just wanted to point out that there's no problem in doing something like this in proto:
[code]

Running:
[code]
Works fine, e.g the file `self.pb.go` contains:
[code]

[2022-04-18 16:36] thmeitz commented on #2479
done

[2022-04-18 17:30] #2474 closed

[2022-04-18 18:38] #2479 closed

[2022-04-18 18:39] rotemtam commented on #2479
@all-contributors please add @thmeitz for code and docs

[2022-04-19 19:17] Marahin opened #2484 "Multiple JOIN aggregation"
Hi,

I'm looking for support when it comes to doing multiple JOIN aggregation. Currently I gave up and wrote raw sql:

[code]

But I would prefer to stick to ent's built in queries interface. Is it currently possible to break down this query so it contains as little raw sql as possible?

[2022-04-20 04:01] superi99 opened #2485 "How to generate entity and proto without ID field"
I am building a microservice project, I use GRPC to communicate. currently, I have to write proto files and DTO files that exactly the same field (because I don't want to validate with proto). My DTO request almost hasn't required the ID field. I see Entgo auto-generate the ID field. Can someone tell me the way that I can generate entity and proto together without ID field?

[2022-04-20 14:35] masseelch commented on #2477
Hey @thmeitz,

1. OpenAPI does not allow unsigned integers. However, for unsigned int we should add a min value of 0 and fix the bug you detected.
2. The llinked PR now skips generation of the `Table` predicate
3. Some keywords are used internally, `Client` being one of them. I extended the documentation to mention this as well.
4. Fixed in the linked PR
5. See 1

[2022-04-20 17:50] mojerro commented on #2351
I just see that the work has nearly been done. Is there something else that needs to do or have a  test?

[2022-04-20 17:51] mojerro commented on #2351
I just see that most of the PRs have been merged. Is there something else that needs to do or have a  test?

[2022-04-22 11:02] rotemtam commented on #2476
Further checking, M2M same type works fine:

[code]
Result:
[code]
Same for gRPC and the service code.

Guessing you hit some other issue, happy to help you debug in a separate issue or on Discord.

Closing this for now.

[2022-04-22 11:02] #2476 closed

[2022-04-22 11:06] rotemtam commented on #2485
Hi @superi99,

Thanks for reaching out!

The Ent data model requires that all entities have ID fields, and so this is propagated by the `entproto` package. There's an open [pull request](https://github.com/ent/contrib/pull/284) for field skipping in `entproto` that might help, but if you plan to use these protos with the grpc codegen plugin I'm afraid it will not work.

HTH

[2022-04-23 08:18] thmeitz opened #2490 "Immutable() behavior when generating resolvers"
I can't tell if it's "intentional" behavior or not and should be a) either in the docs or b) fixed.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If an ent.Field contains Immutable() a resolver is created which has to be implemented for the

[2022-04-23 08:38] thmeitz commented on #2490
closing the issue.

[code]
validFrom must not in the UpdateTestListInput, because its immutable...

[2022-04-23 08:38] #2490 closed

[2022-04-23 08:53] kpeu3i opened #2491 "Polymorphic JSON field"
Hi, guys! I have a question about defining the JSON field which stores different structures depending on the entity type.

I know that I can define JSON like this:
[code]

But in my case, I need to have something like that:
[code]
because different structs are stored inside the data field.

So, is it possible somehow to choose the correct data structure when scanning the JSON field based on anothe

[2022-04-23 11:02] kpeu3i opened #2492 "How to extend models and builders with a custom method"
Hi, guys! I'm going to extend my model with a custom method, also I want to have a custom Setter method.

I found these two topics in the FAQ section:
https://entgo.io/docs/faq/#how-to-extend-the-generated-models
https://entgo.io/docs/faq/#how-to-extend-the-generated-builders

But unfortunately, they did not help me to solve my issue.
The first example (about generated models) shows how to add a f

[2022-04-23 15:09] crossworth commented on #2351
I think there is a way to allow easy customization of the `WhereFilters` without templates, right now with [this PR](https://github.com/ent/contrib/pull/275) is possible to add custom fields to the generated `.graphql` file, but to add the query predicate we must use templates, in my case sometimes I just want to add a simple logic for a column that don't really exists on the database.

Like if th

[2022-04-23 16:15] Southclaws opened #2493 "versioned-migration does not provide NamedDiff"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

The docs describe a workflow for naming migrations, which is pretty standard workflow and required in order for golang-migrate to work properly: https://entgo.io/docs/versioned-migrations#use-a-c

[2022-04-23 17:10] Southclaws opened #2494 "ON CONFLICT DO UPDATE requires inference specification or constraint name"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I think this is related to the ID field, it generates with two indexes:
<img width="633" alt="image" src="https://user-images.githubusercontent.com/1636971/164916223-1c515667-7465-4a25-b30d-71bf4

[2022-04-23 20:58] floresj opened #2495 "Atlas migration does not create and use schemas defined in ent.AlternateSchema"
I am leveraging the `sql/schemaconfig` feature flag to specify alternative schema names for my entities. I am using Postgres. For example,

[code]

When I invoke `Schema.Create(...)`, the table is created in the default schema `public` and not in the schema defined in my `ent.AlternateSchema` configuration above.

[code]

Is there something else I need to configure in order to have the migration p

[2022-04-24 17:29] #2492 closed

[2022-04-25 08:49] yonidavidson commented on #2463
Hey @CNTWDev, any updates on the issue? Was using edge-ordering helpful for you?

[2022-04-25 10:31] a8m commented on #2491
Hey @kpeu3i and thanks for opening this issue 👋

You can use a custom type that implements the [json.Marshaler](https://pkg.go.dev/encoding/json#Marshaler)/[json.Unmarshaler](https://pkg.go.dev/encoding/json#Unmarshaler) interfaces, store a field named `Data` (an interface type) and decide on the decoding stage what type to assign to it.

For example, for a field `field.JSON("addr", Addr{})` that

[2022-04-25 10:34] #2491 closed

[2022-04-25 10:52] kpeu3i commented on #2491
@a8m thanks for your response. I got your idea. But I'm trying to switch to Ent from an existing database and I cannot modify the data structure that is stored inside the `data` column.

In terms of your example, `*net.TCPAddr` and `*net.UDPAddr` are stores in my DB without wrapper struct `types`, so I cannot detect which struct should be used when unmarshaling bytes.

The only way to detect which

[2022-04-25 11:32] a8m commented on #2491
I think another nice solution for this is to use `field.JSON("data", json.RawMessage{})` to store the field raw, and expose a method on the type `T` like `ParseData() Data` that can access the `type` and the `data` fields and can return you a parsed version of it. Same thing for Marshaling.

These fields can be added using custom templates or manually in an `ent/custom.go` file.

We can expose an

[2022-04-25 11:33] a8m commented on #2491
hehe, @masseelch 😆

@hedwigz and I just discussed this and we both commented this at the same time :)

[2022-04-25 12:00] CNTWDev opened #2498 "How can i get the random []*ent?"
I have a scenario where data is returned randomly when certain conditions are met.
How can i do?

@a8m thx

[2022-04-25 12:08] yonidavidson commented on #2484
Hey @Marahin  , have you had a look at these examples https://entgo.io/docs/predicates/#get-all-users-with-a-tesla-car ?

[2022-04-25 12:09] a8m commented on #2498
Hey @CNTWDev 👋

You can provide a custom `ORDER BY` function as follows:

[code]

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this 😎

[2022-04-25 12:09] #2498 closed

[2022-04-25 15:56] CNTWDev opened #2499 "How to order by ids's sequence？"
`client.Account.Query().Where(account.IDIn(UidS...)).Order(ent.Desc(account.FieldLastAccess)).WithProfile().All(c)`

How to order by 'UidS'' sequence?

@a8m
thx

[2022-04-25 15:59] CNTWDev commented on #2463
yeah, MOM model doesn't create create_at field to order by create_at..
so, how dos the offset works in edge?

[2022-04-26 21:34] timewarrior opened #2501 "Postgres schema ignores Default settings for the Time field"
I am trying to create a scheme for a project backed up postgres. If a Time field has Default set as time.Now, it is ignored and there is no default value present in the schema.go.

Test database was created manually and had a default set on the date field. The migration removed the default value from the db.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](http

[2022-04-27 07:21] Vahanerevan commented on #1489
+1

[2022-04-27 07:30] yonidavidson commented on #2499
Hey @CNTWDev,
You can use ordering by Field(id,...)
[code]

[2022-04-27 11:01] pierreis commented on #2341
I'm trying to find a solution to this issue and how to implement it. I wonder whether this retry behavior could be implemented as a transaction hook -- in `tx.OnCommit` catch errors originating from `next.Commit` and retrying with exponential backoff as appropriate?

Clearly a generic solution that can be set once instead of explicitly applied to every transaction would be preferable.

[2022-04-27 13:41] ajwerner commented on #2341
Exponential backoff is not what is always desirable. In cockroachdb, for example, locks are held across retries in order to avoid starvation. Backing off would induce unnecessary latency and prevent optimal utilization. In systems which are fully optimistic or which drop locks across restarts, backoff with jitter might indeed be necessary to ensure liveness.

[2022-04-28 06:18] pierreis commented on #2341
Thanks for the heads up. You might want to update the docs then: https://www.cockroachlabs.com/docs/v21.2/transactions#client-side-intervention-example

[2022-04-28 08:28] thmeitz opened #2505 "ogent - inflection rule MD5 / Uint32-Int32 type mismatch"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Case 1:
Schema
[code]
When generating a Uint32 (as shown in the example) the wrong type is generated. Instead of the Uint32 an Int32 is generated.

In the IDEQ predicate (in \<project\>/ent/ogent

[2022-04-28 17:14] Southclaws commented on #2445
Yeah this distinction makes sense, the power you get from Ent schemas is very useful for large complex projects.

I guess I'm just on a quest to fill the gap left by Prisma - which has super nice UX and a really simple way to do things.

I understand this and it makes sense. I think there are use cases where the simplicity of a purely declarative schema can go a long way. Ent schemas are powerful

[2022-04-28 17:14] #2445 closed

[2022-04-29 08:50] masseelch commented on #2493
The code generator should generate a `NamedDiff()` for you that you can use to set the name. You can extend the code to generate the file to use a flag so you can pass in a name, e.g.:

[code]

[2022-04-29 10:17] masseelch commented on #2505
Hey @thmeitz, issue one is adressed in https://github.com/ariga/ogent/pull/99.

[2022-04-29 21:49] yonidavidson commented on #2501
Hey @timewarrior,
`Default(time.Now)` adds a default function to the  generated `Create` Command
This will work as expected since the Default value will be created by the generated code.
For adding the default value also to the schema you can use  `entsql.Annotation`, for example :
[code]

This will generate the following schema:
[code]

[2022-04-30 03:32] TNED commented on #1900
I think it can be done using templates.
E.g `ps.Edges.Author`
can use
`
func (e *PostEdges) GetAuthor() *Author {
// Use the edge first, then query when the edge is not used
}
`

[2022-04-30 03:54] TNED opened #2508 "I wish to add functionality like loading when creating the entity"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I think it's possible to add a function to the create entity.
[code]

## Motivation 🔦

Quickly add data replication without repeating Set operations.

[2022-04-30 10:34] Southclaws commented on #2493
it doesn't, that's the problem, the docs claim it does though.

so do the docs represent the latest latest version all the time? shall I just keep ent updated to master branch?

[2022-04-30 10:43] rotemtam commented on #2493
@Southclaws at Ariga we use Ent on the master branch. Features (and documentation) are updated regularly but tagged releases are much less frequent.

[2022-04-30 10:44] Southclaws commented on #2493
Thanks, I'll update and keep it on the latest commit!

[2022-04-30 14:25] Linuxpizi opened #2512 "plan support join update"
i want to use [join update ](https://dev.mysql.com/doc/refman/5.7/en/update.html) to atomic update to relation table~,i read all ent doc not found how do it, so any plan to support it

[2022-05-01 02:01] #2512 closed

[2022-05-02 03:16] Vahanerevan opened #2513 "Egdes with custom keys O2M"
Hello .
Could you please tell me whether it's possible create edges with custom foreign keys.
Example:

[code]

[code]

I want to get logs for user.Edges.LogsCars ....
`user has_many logs_cars by car_id : user.car_id -> `log_car.car_id``
or
`log_car belongs_to user log_car.car_id = user.car_id `

I know this can be done with m2m.
But actually want to ask if this is possible to do with ent just set

[2022-05-02 03:28] timewarrior commented on #2501
This worked perfectly. Thanks a lot!

[2022-05-02 03:28] #2501 closed

[2022-05-02 13:53] scraymondjr opened #2516 "entgql: Add support for Bytes fields"
entgql currently fails to generate `Bytes` fields with error message `"bytes type not implemented"`.

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Suggest following idea outlined in gqlgen issue https://github.com/99designs/gqlgen/issues/597.

If a `Bytes` field exists in the ent schema, then
1. In

[2022-05-02 14:24] scraymondjr opened #2517 "entgql: Non-string enum types produce code that does not compile"
entgql treatment of enums assumes all enum GoTypes are strings. This results in generated ent code that does not compile.

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

An enum with a non-string GoType results in generated ent code that crea

[2022-05-02 14:27] scraymondjr commented on #2517
Noteworthy that the interface assertion for `graphql.Unmarshaler` works because it is asserting the pointer type is valid, which does not require creating the type - e.g.
[code]

[2022-05-02 16:01] phostann opened #2519 "can ent auto ignore the field which is zero value when update ?"
eg:

ent.User.UpdateOneID(1).SetPassword("").SetRole(2).Save(context.Background())

I mean that can ent auto ignore password field ?

some one can tell me about this? Thank you in advance.

[2022-05-02 16:09] a8m commented on #2519
Hey @phostann 👋

I assume the reason you update this field with zero value, is because it's optional in your API layer (or in GraphQL mutation). However, Ent can't distinguish between zero/real values when updating empty fields. This is why the explicit setter was created unlike other approaches mentioned in the [doc](https://entgo.io/docs/faq#how-to-create-an-entity-from-a-struct-t).

The workaro

[2022-05-02 16:09] #2519 closed

[2022-05-02 16:11] #2499 closed

[2022-05-02 18:07] yonidavidson commented on #2242
Hey @feeops , here is an example for min/max in one liners
[code]

[2022-05-02 18:54] yonidavidson commented on #2508
Hey @TNED, I recommend having a look at the GQL docs at the suggested [template](https://entgo.io/docs/tutorial-todo-gql-mutation-input#go-templates):

Will allow you to write code like this:
[code]

[2022-05-04 15:10] phostann commented on #2519
@a8m Thank you for your answer, *string works for me perfectly.

[2022-05-05 01:56] TNED commented on #2508
I think this is a good solution.

[2022-05-05 01:56] #2508 closed

[2022-05-05 02:13] booleangate opened #2523 "OpCreate hook doesn't always propagate model changes to call site"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If using an `ent.OpCreate` hook that mutates the model _after_ the insert, the changes to that model are not propagated back to the call site of `entClient.MyModel.Create().Save()`.

## Expected

[2022-05-05 08:53] #2523 closed

[2022-05-05 14:09] shuaiyy commented on #2513
find a open issuse [1980](https://github.com/ent/ent/issues/1980)

[2022-05-06 08:19] YagamiiLight commented on #1539
Hello @wenerme,
has the above work been completed in the newly released version v0.10.1?

[2022-05-07 02:19] medivh-jay opened #2529 "Q: How to set config manually"
Hello, I serialized the result data of ENT query, when I deserialize, I will not be able to do more with this deserialized object, Because the private attribute `config` in the object is already a nil, so I want to ask how to manually set config after deserialization.
Thank you.

example:
[code]

[2022-05-08 07:42] mortezaalizadeh opened #2531 "GraphQL Pagination issue - HasNextPage and HasPreviousPage properties are not properly computed"
The generated Paginate function for any entity does not return the correct values for HasNextPage and HasPreviousPage.

- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Scenario 1:

When only "first" is provided and "after" value is not provide

[2022-05-08 08:37] a8m commented on #2529
Hey @medivh-jay 👋
There's no way to instantiate an entity manually because the `config` contains internal information like a database or transaction connection. However, if you still want to do it, you can use [external templates](https://entgo.io/docs/templates/) to extend the generated entities and export a function like `Instantiate(c *Client)`. This will give you the freedom to set the `config

[2022-05-08 08:37] #2529 closed

[2022-05-08 08:56] a8m commented on #2531
Hey @mortezaalizadeh and thanks for opening this issue 👋

First, I'll suggest you update `ent/contrib` to its latest version, but also join our GraphQL working group/discussion in our [Discord server](https://discord.gg/qZmPgTE6RX).

Regarding the 2 scenarios you mentioned (2 and 4). Let's take the second one as an example (hasPreviousPage` is false) - according to Relay spec, `hasPreviousPage` is

[2022-05-09 06:09] shenghui0779 commented on #2513
I have the same problem, want to set fk to unique_key rather than primary_key.

[2022-05-10 03:38] Meowzz95 opened #2536 "sqltool does not exist when using versioned migration"
Refer to this doc: https://entgo.io/docs/versioned-migrations/
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

sqltool does not exist.
[code]

## Expected Behavior 🤔

sqltool should exist

## Steps to Reproduce 🕹

Steps:

1. Follow the

[2022-05-10 06:43] masseelch commented on #2536
Hey @Meowzz95. The package `sqltool` was introduced post Atlas version `0.3.7`. This means you need to have the current master to have that available. If you update Ent to the latest master, it will update Atlas as well and then the package will be available.

With both Ent and Atlas the master is well tested and can be considered stable. With the release of Ent v0.11.0 soon, this will be fixed as

[2022-05-10 06:53] masseelch commented on #2536
I added a note to the docs in #2537.

@Meowzz95 If you have other issues / questions, do not hesitate to ask or re-open this :-)

[2022-05-10 06:53] #2536 closed

[2022-05-10 09:01] mojerro commented on #2351
I have a question, how should I deal with the enum type with custom GoType.

[code]

[code]
Here is the error, which indicates that the custom GoType needs implements the interface. I'm not sure can entc do it automately.
[code]

While the following code runs well:

[code]

[2022-05-10 09:23] giautm commented on #2351
Ent also generates MarshalGQL/UnmarshalGQL for the enum, when you use custom GoType. You must define it by yourseft, the easy way is copying the implement from Ent.
[code]

[2022-05-10 10:07] a8m commented on #2351
The feature was added to `ent/contrib`. Please use `go get entgo.io/contrib@master` to use and see https://entgo.io/docs/tutorial-todo-gql-schema-generator for more info.

Thanks, @crossworth, @yonidavidson, @cliedeman, and special thanks for @giautm ❤️

[2022-05-10 10:07] #2351 closed

[2022-05-11 02:24] jordanrule commented on #2438
Thanks this fixed the problem for me.

[2022-05-11 06:21] masseelch commented on #2438
Closing then. If anyone has trouble with something similar, please open a new issue.

[2022-05-11 06:21] #2438 closed

[2022-05-12 17:18] a8m commented on #85
Hey @leafduo 👋

Can you please update ent to the latest master and try again? `go get entgo.io/ent/cmd/ent@master`

[2022-05-13 04:16] MikyChow opened #2543 "How to generate sql like "select count(1) as C1, sum(cc) as C2 from tableA" with ent?"
Hi team,
    In my issue,I want to query count and sum in 1 request, Does ent support?

[2022-05-13 04:31] c2s commented on #2543
Yes, when I was in the use of ent is also facing this problem, didn't find relevant documents, Is looking for a solution

[2022-05-13 06:29] tsingsun commented on #2472
seems resolved in go 1.18.2

[2022-05-13 06:53] liszt831020 commented on #1815
👀

[2022-05-13 13:18] a8m commented on #2543
Hey @MikyChow and @c2s 👋

You can use SQL modifiers to generate almost any query you need. Please, see https://entgo.io/docs/feature-flags/#custom-sql-modifiers.

[code]

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-05-13 13:18] #2543 closed

[2022-05-13 13:22] a8m commented on #2472
Great. Thanks for the update @tsingsun

Can we close this?

[2022-05-13 15:03] #2472 closed

[2022-05-15 01:26] aleyrizvi opened #2544 "Can two schemas have different type of id types?"
Hi,
I have two schemas as follows:

[code]

[code]

I am generating my ent as :
[code]

and  getting my migrations via:
[code]

Problem:
[code]

if I rename "enswitch_id" in storageKey with anything, it works.

I am expecting it to add `enswitch_id` field in my otp table.

Is it by design?

[2022-05-15 01:50] aleyrizvi commented on #2544
my migration's main.go file look like this:

[code]

[2022-05-15 12:38] naormatania commented on #2495
Is it possible add this functionality ?
It would also resolve #1564 that is open for quite some :)

[2022-05-15 14:20] alexfreska commented on #1815
👀

[2022-05-16 06:46] MikyChow commented on #2543
Thanks,That's very helpful.

[2022-05-16 07:48] shota-hizawa commented on #1985
@a8m
I'm using ent v0.10.1, but it seems like this issue still remain when I use custom IDs as ID.

To give an example, I use [ULIDs](github.com/oklog/ulid/v2) as primary keys.

[code]

if I try to upsert rows,

[code]

I get the following error: `unexpected Test.ID type: string`

[2022-05-16 08:57] #2344 closed

[2022-05-16 12:25] Southclaws opened #2545 "CockroachDB insert fails: sql/schema: ERROR: unknown function: to_regclass() (SQLSTATE 42883)"
I wanted to try getting my app running with CockroachDB's cloud for easy demos but it seems incompatible as maybe CRDB doesn't support this `to_regclass` function which is documented as "get the OID of the named relation".

Is there anything I can do to polyfill/remove this call so it's compatible? Or is CRDB not supported completely?

Thanks!

The failing test is here: https://github.com/Southcla

[2022-05-17 03:01] tsingsun commented on #1061
How do you feel about  #2540 ?

[2022-05-17 07:46] hedwigz commented on #2545
Hey @Southclaws :wave: thanks for reporting this
I am working on the integration of CockroachDB with Atlas (the migration engine of Ent).
For reference, there's an issue on Atlas [here](https://github.com/ariga/atlas/issues/785) and for `to_regclass` support on CockroachDB [here](https://github.com/cockroachdb/cockroach/issues/20296#issuecomment-1066140651)
I'd be happy to see you on [Discord](htt

[2022-05-17 07:52] a8m commented on #2545
Hey @Southclaws and @hedwigz 👋

I created a channel for this in our Discord. Please, feel free to join - https://discord.gg/KvxFZGY2mu

Closing as it's a duplicate of https://github.com/ariga/atlas/issues/785. Thanks 🙏

[2022-05-17 07:52] #2545 closed

[2022-05-17 07:59] a8m commented on #2544
Hey @aleyrizvi 👋

Foreign keys and their references need to have the same database type. What do you expect the 2 tables to look like, can you paste here an example?

[2022-05-17 08:37] burdiyan opened #2547 "SQLite: WITHOUT ROWID optimization"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary (and Motivation)💡

SQLite has an optimization for composite primary keys which is called WITHOUT ROWID which is greatly [described on their website](https://www.sqlite.org/withoutrowid.html). This optimization allows to reduce database size and query latenc

[2022-05-17 09:41] Southclaws commented on #2545
Thanks! I forgot about Atlas, that explains why I couldn't find anything similar in this repo by searching, thanks! Looking forward to seeing support, I can offer help testing if needed!

[2022-05-17 14:11] aleyrizvi commented on #2544
Hi,
Thank you for responding.

Something like:

[code]

[2022-05-17 14:13] aleyrizvi commented on #2544
In my case, foreign key and reference ID are same type.

However, it seems my schema is somehow referencing the id of otp table which is different but it shouldn't be as I am trying to ignore back referencing.

[2022-05-18 02:28] LiuPai opened #2548 "schema import package name conflicts check not handle major version"
Schema import a package conflicts with generate package name, but has major version postfix not been handled.

This function only check base name, not check major version
https://github.com/ent/ent/blob/v0.10.1/entc/gen/type.go#L889
[code]
maybe use this function?
https://github.com/golang/tools/blob/v0.1.10/internal/imports/fix.go#L1128
[code]
- [x ] The issue is present in the latest release.
-

[2022-05-18 03:08] lrobot opened #2549 "custom select non-primery key in table as egdes 's target field(big stone for ent usage)"
I think many user have meet this trouble, and can not easy overcome it.
I know this is a duplicated one, but I want emphasize it by up summup all the request, because of strong desired for this

- 1. Exist db system like below (user don't want change the table struct, but still want use ent with it)

[code]
- 3. when create edge, we meet trouble to custom select column(Table_User->userId) as Forei

[2022-05-18 03:17] ydx-coder opened #2550 "How to add comments of DB?"
The Comment function of the schema only adds comments  in the models, it will not affect the DB

[2022-05-18 07:20] a8m commented on #2548
Hey @LiuPai 👋

Thanks for reporting this. Please, feel free to send a patch to fix this and tag me. I'm available on our [Discord](https://discord.gg/qZmPgTE6RX) if you need any help with it.

[2022-05-18 07:26] a8m commented on #2549
Hey @lrobot, and thanks for opening this issue 👋

I understand that this issue is currently blocking you, but can't say much besides that we'll get to it at some point as we have commitments for v0.11 atm.

[2022-05-18 07:27] a8m commented on #2549
Hey @lrobot, and thanks for opening this issue 👋

I understand that this issue is currently blocking you, but can't say much except that we'll get to it at some point as we have commitments for v0.11 atm.

[2022-05-18 07:34] a8m commented on #2550
Hey @ydx-coder and thanks for opening this issue 👋

This feature can be simply added to Ent as Atlas is already supporting it. Please, let me know if you want to contribute this and I can support you on our [Discord server](https://discord.gg/qZmPgTE6RX).

Closing as it's a duplicate of https://github.com/ent/ent/issues/1546.

[2022-05-18 07:34] #2550 closed

[2022-05-18 12:10] fbiville opened #2551 "Consider support for Neo4j"
I see there is support for Gremlin, which makes me think there is room to support Neo4j and Cypher.
I'm happy to work on the initial integration for the Cypher dialect and other related areas.

[2022-05-18 13:01] fbiville commented on #2551
After a quick POC, I already have some questions.

Some specific Cypher queries cannot run in an explicit transaction (`CALL {...} IN TRANSACTIONS` [Neo4j 4.4 or later] and `... USING PERIODIC COMMIT` [Neo4j up to 4.4]).

The current API seems very transaction-focused, so I'm not sure if there is a way for the user to explicit flag specific queries as auto-commit or not?

[2022-05-19 19:49] stonymahony opened #2553 "Select(): Result should contain only selected fields"
When using Select(), only the specified fields are actually loaded, so far so good.

But I would expect the struct to contain only the fields that I have selected , but this is not the case.
Instead, the fields that are not selected and loaded are populated with default values.

This has several disadvantages:
- reveals which fields the entity has
- unnecessarily large payload
- confusion for the

[2022-05-20 11:07] a8m commented on #2553
Hey @stonymahony and thanks for opening this issue 👋

Unfortunately, there's no simple way to configure this behavior using `json` tags. If the fields were `Nillable`, their types were pointers and you could achieve the expected behavior without code changes. However, that's not the case and I don't think the codec layer should affect the table structure.

What are my proposed solutions?
1. If you

[2022-05-20 11:07] #2553 closed

[2022-05-20 11:57] stonymahony commented on #2553
Hey @a8m, thanks for your quick reply!

I had already feared that the sticking point lies more in Go and encoding/json than in entgo.

Thanks to your input, I have come across a whole bunch of issues requesting such functionality (omitnil/omitempty incl. default values), so far in vain. Of course, that would be the cleanest and simplest solution, but I guess we'll just have to wait and see...

For

[2022-05-20 11:58] a8m commented on #2553
Thanks for the kind words @stonymahony and please don't hesitate to ping me on Discord if you need any help with templates ❤️

[2022-05-21 23:28] shaswa opened #2557 "How to update multiple tables with a single query?"
Is it possible to update multiple tables with a single query using ent?

Example query:

[code]

Ent Schemas
[code]

[2022-05-22 21:49] aleyrizvi commented on #2544
Any idea @a8m ?

[2022-05-23 02:35] liasica commented on #2287
I have same issue.

When using Modify().Scan(), Edges always nil

[2022-05-23 08:48] feeops commented on #2242
How to do with sum?

[2022-05-23 19:16] Williamzxc1996 opened #2558 "Failed to execute go get -d entgo.io/ent/cmd/ent"
When I execute go get command in the documentation, I get
[code]
I looked up `github.com/prometheus/common` and it does not have `v0.9.1`. I replaced it with `v0.34.0` and it's working now.

My go version
[code]

[2022-05-24 03:17] AlexWIllBeGood opened #2559 "how to print SQL statements generated by entgo?"
Wanna record SQL statement from ENTGO but can't find it in document

[2022-05-24 05:20] yonidavidson commented on #2242
Based on the example [here](https://entgo.io/docs/aggregate#group-by)

[code]

[2022-05-24 08:33] jony4 opened #2561 "panic when gen grpc.pb.go from proto which has entproto.Service()"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

panic when generate grpc.pb.go, here is panic info

[code]

command:

[code]

## Expected Behavior 🤔

no panic.

## Steps to Reproduce 🕹

Steps:

1. gen proto files.
2. run command above to gen p

[2022-05-24 08:46] rotemtam commented on #2561
Hi @jony4
Thanks for reaching out.
I'm having trouble reproducing the issue based on the information you shared.
Can you please use [ent/bug](https://github.com/ent/bug) to reproduce the issue?
Thanks

[2022-05-24 20:52] a8m commented on #1949
Hey all! The initial support was added, and it's in review atm. See https://github.com/ent/ent/pull/2560 and please feel free to share your thoughts/feedback before it's merged.

[2022-05-24 21:55] JamesHovious commented on #1949
Is the `Edges` function required on the relation schema?
	i.e. would a use case of wanting to add properties to the relation necessitate creating both a `Fields` and `Edges` on that schema, or could I just have `Fields` serving as the property for something like `created_at` ?

Will this feature be available for other relation types in addition to M2M ?

Can mixins work for the Fields of the relat

[2022-05-25 05:57] rotemtam commented on #2561
Thanks for the thorough bug report @jony4.

I've managed to reproduce the issue locally and am working on a fix.

Will update

[2022-05-25 08:55] tutranngoc opened #2562 "Pagination first, after with order by"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
- I'm using the syntax as per your instructions here: https://entgo.io/docs/tutorial-todo-gql-paginate/
- however, I find it misbehaving with First, After and OrderBy
- this is my data after i get

[2022-05-25 09:13] springnguyen commented on #2562
yeah , this bug make me headache :'I

[2022-05-25 09:15] trichruiphe commented on #2562
so, I have same problem, I'm spend a bunch of hour to search it on google but cant find anything relate with this problem

[2022-05-25 09:53] a8m commented on #2544
Hey @aleyrizvi and sorry for the delayed response.

Ent does not support using custom fields as foreign-key references except entity IDs. We'll add this at some point, but you're welcome to share more insights on the problem to help us design it properly.

Closing because it's a duplicate of https://github.com/ent/ent/issues/2513. Thanks 🙏

[2022-05-25 09:58] a8m commented on #2557
Hey @shaswa 👋

This feature is not supported currently in Ent but it can be a really nice addition. Please, feel free to propose an API for this.

Also, I think we can merge this issue with https://github.com/ent/ent/issues/1815, thoughts?

[2022-05-25 10:02] a8m commented on #2559
Hey @AlexWIllBeGood 👋, I just answered this issue on our [Discord server](https://discord.gg/qZmPgTE6RX) this week, so you're welcome to join there.

For your question, something like [`WriteDriver`](https://pkg.go.dev/entgo.io/ent@v0.10.1/dialect/sql/schema#WriteDriver) can do the job here. The [Offline Mode](https://entgo.io/docs/migrate#offline-mode) is actually implemented with it.

Closing, b

[2022-05-25 10:02] #2559 closed

[2022-05-25 10:05] a8m commented on #2558
Hey @Williamzxc1996 👋

I think getting the `@master` version will fix your issue (e.g. `go get entgo.io/ent/cmd/ent@master`) - I just tried this locally and it works.

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this 😎

[2022-05-25 10:05] #2558 closed

[2022-05-25 10:40] yuki2006 opened #2563 "doc: the upsert paragraph was unintentionally on a red background."
Thank you for the maintenance.

The red background makes me think that we should be careful about using `Upsert` .

It is probably a error, but I don't know how to fix it with a translation service...

https://crowdin.com/translate/ent/62/en-ja?filter=basic&value=0

## English

https://entgo.io/docs/feature-flags/#upsert
![image](https://user-images.githubusercontent.com/1004620/170241793-215416dd

[2022-05-25 10:51] #2561 closed

[2022-05-25 10:52] rotemtam commented on #2561
hey @jony4 ,

just merged a fix to this with https://github.com/ent/contrib/pull/322, if you can try again against ent/contrib@master

[2022-05-25 11:46] hax10 opened #2564 "Non-ASCII characters in field names"
Hi! I'm just getting started with Ent and have had a very positive experience so far.

I have a question about whether non-ASCII characters are allowed in ```ent.Field``` names.

For the project I'm working on, it would be convenient to use foreign language field names in the database. I've had preliminary success doing this as follows:

[code]

The above snippet compiles and Ent can create the re

[2022-05-25 12:45] a8m commented on #1949
Yes, the `Edges` is required as mentioned in https://github.com/ent/ent/pull/2560. Ent needs those fields/edges in the generated entities and their builders, and the idea here is to be explicit and consistent. If there's an edge or a field in the generated type, it must be part of the schema.

Yes, it's mentioned in the docs.

All features of regular schemas are supported. e.g. Mixin, Hooks, and P

[2022-05-25 12:47] a8m commented on #1949
Closed with https://github.com/ent/ent/pull/2560. Thank you all for the feedback.

[2022-05-25 12:47] #1949 closed

[2022-05-25 14:23] jony4 commented on #2561
Thanks for your job, I will try again later.

[2022-05-25 14:58] xingzhiyuan opened #2565 "how to write like sql "select max(age) from table" use ent ?"
- [ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Motivation 🔦

[2022-05-25 15:13] hax10 commented on #2565
Please see [Having + Group By​](https://entgo.io/docs/aggregate/#having--group-by) queries.

[2022-05-26 07:45] #2565 closed, assigned to nobody

[2022-05-26 09:47] a8m commented on #1061
Hey all 👋

The feature was added to Ent and available under the [Edge Schema](https://entgo.io/docs/schema-edges#edge-schema) section on our website. Please, give it a try and let us know if you need any support with it. We're available in our [Discord server](https://discord.gg/qZmPgTE6RX).

[2022-05-26 09:47] #1061 closed

[2022-05-27 04:01] onobrod opened #2569 "Option to make constraints deferrable"
Is there a way to specify whether a constraint can be deferred? Foreign key constraint, to be exact.

In PostgreSQL I can achieve this with `DEFERRABLE`/`NOT DEFERRABLE` and `INITIALLY IMMEDIATE`/`INITIALLY DEFERRED` parameters when executing [CREATE TABLE](https://www.postgresql.org/docs/14/sql-createtable.html) command.

Can I do something similar when declaring an ent edge? If not, does it soun

[2022-05-27 06:32] a8m commented on #2569
Hey @onobrod 👋

Ent and [Atlas](https://github.com/ariga/atlas) (the migration engine) do not support it atm. However, as you mentioned, we can add it to Atlas and control this behavior using `schema.Annotation` in the edge declaration. I'll try to think of an API for both Atlas and Ent and will update.

[2022-05-28 01:34] mortezaalizadeh commented on #2531
@a8m sorry for my late reply. I have been super busy the last 2~3 weeks. Here is my recommendation and how I patched it in my generated code. Based on below two truth tables:

![image](https://user-images.githubusercontent.com/3070738/170804596-e09ce601-817b-4706-abbd-d3f159d7cd4a.png)

here is how I replaced:

[code]

with this:
[code]

Remember when valid After cursor is provided, HasPrevious is

[2022-05-28 01:35] mortezaalizadeh commented on #2531
@a8m  my only pain now is I need to keep an eye on that generated file to apply my patches manually each time I re-generate the code

[2022-05-28 04:56] giautm commented on #2531
Sample implement for referrence: https://github.com/graphql/graphql-relay-js/blob/main/src/connection/arrayConnection.ts#L49

[2022-05-28 05:10] a8m commented on #2531
Thanks for the references @giautm and @mortezaalizadeh. I'm on it and will update soon.

[2022-05-28 09:17] mortezaalizadeh commented on #2531
@a8m  updated the code snippet above, there was a bug that is fixed now, cheers

[2022-05-28 10:28] giautm commented on #2531
hey @mortezaalizadeh, you can update the template in entgql to avoid manual patch the generated code.

[2022-05-28 18:40] a8m commented on #2531
The issue was resolved with https://github.com/ent/contrib/pull/326.

I indeed rely on this behavior in the [PR](https://github.com/ent/contrib/pull/326.).

https://github.com/ent/contrib/pull/326 contains 2 lines of changes and many test cases. You're welcome to go over it and let me know if there's something that is covered by the code snippet above and not by https://github.com/ent/contrib/pull

[2022-05-29 05:36] a8m commented on #2531
Closed with https://github.com/ent/contrib/pull/326.

[2022-05-29 05:36] #2531 closed

[2022-05-29 05:45] a8m commented on #2562
Closing because I was not able to reproduce this.

Please, update to ent/contrib@master and reopen if you still face an issue.

[2022-05-29 05:45] #2562 closed

[2022-05-29 09:04] dspacejs commented on #2194
@rotemtam is it possible to connect to PostgreSQL with a map of options instead of a string?

[2022-05-29 10:13] svengreb opened #2573 "[`contrib/entgql`] Invalid mutation input generation with custom Go type"
- [ ] ~~The issue is present in the latest release.~~
  → Tested with latest development state based on the `master` branch with `entgo.io/ent/contrib` module commit `81ed35b2bba9`.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

➡️ Please see the documentation in the [reproduction repository `svengreb/repro-ent-gq

[2022-05-29 12:10] bingoIsCoder commented on #252
is there any news?

[2022-05-29 13:10] svengreb commented on #2573
The issue has been solved and was a problem on my side where a Ent GraphQL extension code generation option (`entc.go` file) `WithMapScalarFunc` was still present which always returned `Duration` for the specific entity field. The option should have been removed after switching to schema & mutation schema generation and was therefore causing the problem.

[code]

Thanks to @giautm for the support

[2022-05-29 13:10] #2573 closed

[2022-05-29 19:23] Vilsol opened #2575 "nil dereference when using through tables with composite key and custom index"
Using the example schema below, on latest (unreleased) version using the features from #2560 when using a composite ID key and a custom index on a custom field there is a nil deferefence error.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[2022-05-30 07:18] piyongcai commented on #2495
i found same BUG.  BUG. BUG.

[2022-05-30 07:24] piyongcai commented on #1564
why not use unified mod:  ent.AlternateSchema(ent.SchemaConfig{})

[2022-05-30 07:26] piyongcai commented on #2495
??? why not use same mod: ent.AlternateSchema(ent.SchemaConfig{})

[2022-05-30 08:49] CooperXJ opened #2576 "how to import the struct which needs ent to generate before ent generate？"
take a example:
[code]
the Head and Body which shoud be generated with People together
if I import the Head or Body struct,it turns out that import cycle not allowed
Is there a good way to solve it?

[2022-05-30 13:27] a8m commented on #2575
Thanks for reporting this @Vilsol 🙏

I'll give it a look and will update here soon.

[2022-05-30 14:20] #2575 closed

[2022-05-30 14:23] a8m commented on #2575
Fixed with https://github.com/ent/ent/pull/2578. Please, feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this.

[2022-05-30 14:33] a8m commented on #2576
Hey @CooperXJ 👋

The typical approach for this is to move these structs to a different package that will be imported from both `ent/schema` and the generated `ent` package.

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help or have questions about it 😎

[2022-05-30 14:33] #2576 closed

[2022-05-30 15:55] HHHsiang opened #2579 "not enough arguments in call to bipu.mutation.SetField have (string)"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Some errors happed when set field name "field". Is the word "filed" keyword for ent?

## Expected Behavior 🤔

A entity can set field name "field"

[code]
that should be ok!

## Steps to Reproduce

[2022-05-30 16:42] willbicks opened #2580 "Improve generated comments with user defined .Comment("")"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

As discussed in #944, the `.Comment("")` method can be used to add a custom comment to the fields of a generated entity. However, there are two significant limitations to this feature that I've noticed so far.

Firstly, the custom comment is inserted onl

[2022-06-01 00:36] Faroukhamadi opened #2583 "Through options undefined on Edge"
I have an existing database that I'm trying to create the schema for and it has a "User" and "Friendship" table, Found this example in the official docs  [friendships example](https://entgo.io/docs/schema-edges/#edge-schema) and it has a through option that doesn't exist and the go compiler is giving me this error:
[code]
Am I missing something ?

[2022-06-01 06:01] yonidavidson commented on #2242
@feeops I am closing the issue, for now, create another issue or ping me on discord if you have more questions.

[2022-06-01 06:01] #2242 closed

[2022-06-01 06:39] a8m commented on #2583
Hey @Faroukhamadi 👋

Updating to the latest master version should solve your issue. Please, run `go get entgo.io/ent/cmd/ent@master` and then execute go generate again. We'll release a tagged version soon.

Closing, but please feel free to reopen or join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this 😎

[2022-06-01 06:39] #2583 closed

[2022-06-01 09:52] pzeinlinger commented on #1815
:eyes:

[2022-06-01 12:18] frederikhors opened #2586 "docs: add more examples for Postgresql and other dialects"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I'm starting with Ent and I would like to have examples to copy in docs (https://entgo.io/docs/getting-started#create-your-first-entity) to initialize new client with Postgres and other dialects in addition to sqlite.

## Motivation 🔦

Because coming fro

[2022-06-01 13:13] masseelch opened #2587 "Versioned migrations do not work with GlobalUniqueID"
Suppose trying to generate versioned migrations files for a global unique id enabled schema:

[code]

will result into the following error:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

There is an error.

## Expected Behavior 🤔

A

[2022-06-01 13:18] hedwigz commented on #2586
Hey @frederikhors :wave: thanks for the feedback.
I totally agree with you. My go-to for quickly copy-paste different dialects is https://entgo.io/docs/crud#create-a-new-client which is not optimal.
I've opened a PR to add the major dialects https://github.com/ent/ent/pull/2588

[2022-06-01 13:39] frederikhors commented on #2586
Thanks.

Two things:

1. I would use:

[code]

1. In the "Getting-started" I think it's enough to link to [that page](https://entgo.io/docs/crud/#create-a-new-client): I wasn't able to find it when I read those lines

What do you think?

[2022-06-01 13:54] frederikhors opened #2590 "A `Ping()` method to know if the DB is ready and usable"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Coming from other ORM/engines I would like to use with Ent too an extremely useful method to ping database.

## Motivation 🔦

What I'm using right now:

[code]

I tried to use something easy like `SELECT 1` but I cannot found [methods described here](htt

[2022-06-01 14:10] a8m commented on #2590
Hey @frederikhors 👋

By default, Ent does not support executing raw statements on the database, as it aims to provide a type-safe API that reflects the entities described in the `ent/schema`.

My suggestion is to either do it on the [connection setup](https://entgo.io/docs/sql-integration) (before creating the `ent.Client`), or if you prefer to expose the raw API on the client, make sure you updat

[2022-06-01 14:53] frederikhors commented on #2590
It works amazingly well! Thanks.

I'm starting to understand how Ent works.

[2022-06-01 14:53] #2590 closed, assigned to nobody

[2022-06-01 14:54] frederikhors commented on #2586
https://github.com/ent/ent/pull/2588 closes this.

[2022-06-01 14:55] frederikhors commented on #2586
What a team! 🙏 😃

[2022-06-01 15:21] BeatsKitano opened #2591 "query() statement code generate error"
## define scheme
[code]

## postgres test data structure
id : 1
fields:
[code]
if i use these sql in postgres shell, it's ok!
[code]
### but if i use ent query like this, something is error!
[code]
this a sql statement is equal
[code]

console will print:
[code]

# Anybody can help me ? Thanks!!

[2022-06-01 18:39] frederikhors opened #2594 "Two primary keys?"
I'm wondering if it's possible to have two Primary Keys for some tables, like:

[code]

I cannot find any info for this.

[2022-06-02 05:21] masseelch commented on #2587
The information has to be stored somewhere. With the interface @giautm proposed (with mine as well) it is relatively easy to change the location from a file in the migration directory (schema directory) to something else like a remote service, a database or in the schema itself.

What we need to decide is what storage location to support for the offline migrations.

@bionic-ido As I understood you

[2022-06-02 06:25] piyongcai opened #2596 "Add Sensitive to all field type. eg: field.JSON"
- [ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add Sensitive to all field type. eg: field.JSON.

in current version, field.JSON have no method Sensitive.
please add.

now, i used StructTag(`json:"-"`).  but it's a bad way.

## Motivation 🔦

[2022-06-02 07:16] bionic-ido commented on #2587
@masseelch The way we are currently using ent is having the schema definition files be commited into our git, while having a generation script that handles the generation of all the autogenerated files out of it.
I do not wish to have to commit all of the autogenerated files, so I would much prefer the generated ent_types be placed somewhere different\be configured alongside the schema definitions

[2022-06-02 15:30] frederikhors commented on #1061
@a8m I think we should update accordingly the text here: https://entgo.io/docs/schema-edges/#edge-field:

![image](https://user-images.githubusercontent.com/41120635/171665500-577f0d81-6f0e-4aec-a089-abcd4bbdce53.png)

[2022-06-02 16:17] a8m commented on #2594
Hey @frederikhors 👋
Ent does not support composite primary keys for nodes currently (unlike [edge schemas](https://entgo.io/docs/schema-edges#edge-schema)).

Technically, the implementation does not require significant changes in Ent because edge schemas already support it. However, I decided not to support it atm (until we'll finalize the design) because it won't play nicely with many of the inte

[2022-06-02 16:27] #2594 closed

[2022-06-03 16:08] frederikhors opened #2597 "If I remove the generated files before generation `entc` throws"
I'm starting to use Ent and I'm trying to organize the code in a way that reflects as much as possible the "clean architecture" structure we already use in the project.

One problem I'm running into right now is that since I use this code to generate:

[code]

It first removes all (generated) files from `/ent` dir and then re-generates (the schema files are in another dir).

This works until I sta

[2022-06-04 10:34] frederikhors opened #2598 "Generate Ent from multiple schema directories"
I need to generate ent dir from multiple schema directories.

Example, I would like this command to be possibile:

[code]

In this way I can have only ONE ent client in my app, not three.

[2022-06-04 15:19] frederikhors opened #2600 "[rfc] Avoid the `SELECT` after the `UPDATE` (using Postgresql or SQLite at least)"
## Summary 💡

As @a8m [stated](https://github.com/ent/ent/discussions/2599#discussioncomment-2883216) explained, it will be possible in future to [avoid the `SELECT` after the `UPDATE`](https://github.com/ent/ent/discussions/2599) when `.UpdateOne()` method is used using the native Postgresql/[SQLite](https://www.sqlite.org/lang_returning.html) `RETURNING *` syntax (or something else).

## Motivat

[2022-06-04 15:24] frederikhors opened #2601 "[DOC] Improve for multi-tenancy using `Tenant` edge or `"tenant_id"` field"
## Summary 💡

I'm opening this to improve docs about multi-tenancy using `Tenant` edge or `"tenant_id"` field.

## Motivation 🔦

@a8m [suggested me](https://github.com/ent/ent/discussions/2585#discussioncomment-2862957) to use [Privacy Filter Rules](https://entgo.io/docs/privacy/#filter-rules) and I did but with a few issues.

**If you can confirm the code I used is OK** I'll PR to improve docs fo

[2022-06-04 17:56] frederikhors opened #2604 "[FR] Log only failed queries"
## Summary 💡

I would like a way to log only the failed queries, [like Bun has](https://github.com/uptrace/bun/blob/master/extra/bundebug/debug.go#L27).

## Motivation 🔦

Right now I'm using this on/off classic code:

[code]

but in production is very useful to read what is the problematic query.

_Thanks._

[2022-06-04 18:06] frederikhors opened #2605 "[FR] Log already "composed" queries instead of "naked" ones"
## Summary 💡

I would like to have from `client.Debug()` already "composed" queries instead of the naked query with args.

## Motivation 🔦

It is very slow to debug any queries (especially if very long) directly by copying and pasting in the DB because I have to manually replace the args that are logged separately.

Is there an easier way? Am I wrong going this way?

Example:

- right now:

[code]

[2022-06-05 06:03] micktor opened #2611 "What could be the cause of "entc/load: load schema dir: missing package information for: ./ent/schema""
<img width="935" alt="Screen Shot 2022-06-04 at 10 59 05 PM" src="https://user-images.githubusercontent.com/15118016/172037629-a49e653f-6c48-4972-a134-9c47386e6211.png">

[2022-06-05 06:04] micktor commented on #2611
go version go1.18.3 darwin/arm64
ent@latest

[2022-06-05 11:36] a8m commented on #2597
I created and used `a8m/entclean` for more than a year and it worked without a problem. I moved this logic to Ent. See https://github.com/ent/ent/pull/2612

Please, update to the latest master and let me know if something is not working correctly with it.

[2022-06-05 11:36] #2597 closed

[2022-06-05 11:40] a8m commented on #2611
Hey @micktor 👋

Can you paste here the output of `tree ./ent`? You must have at least one schema file in `ent/schema`. Please, try to use the `init` command to set up your environment.

[2022-06-05 11:45] frederikhors commented on #2597
You make my dreams come true, @a8m. :smile:

I'll try ASAP.

[2022-06-05 12:05] a8m commented on #2604
Hey! The `Debug` option was created to provide a convenient way to "debug statements" when working locally. It cannot replace production loggers as it does not cover many use cases.

I suggest you decorate the SQL driver with your own "logging driver" and add these options there - see the [current one](https://github.com/ent/ent/blob/master/dialect/dialect.go#L66-L74) as a reference. I actually di

[2022-06-05 12:47] a8m commented on #2605
Hey! Ent cannot implement this logic in its logging driver, because it cannot be done with simple replacing and requires a lot of (sensitive) code for each dialect to make it right (we cannot assume users won't copy/paste and use these statements). See [MySQL interpolateParams](https://github.com/go-sql-driver/mysql/blob/bcc459a906419e2890a50fc2c99ea6dd927a88f2/connection.go#L198-L295) as an examp

[2022-06-05 16:39] micktor commented on #2611
I had a file in it using `init` but it still failed. Eventually I deleted the folder and regenerated everything, works now! Thanks @a8m

[2022-06-05 16:39] #2611 closed

[2022-06-05 21:59] frederikhors commented on #1048
Guys, wonderful proposals here.

Is there a way I can arrange polymorphism today with latest available Ent version? Even if dirty and manually?

[2022-06-06 08:17] frederikhors opened #2616 "Feature flag `sql/execquery` is not present using entc as package"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Feature flag `sql/execquery` is not present using entc as package:

![image](https://user-images.githubusercontent.com/41120635/172122377-22f57034-74a7-48b3-be73-c0d452963839.png)

## Expected Be

[2022-06-06 08:19] a8m commented on #2616
Hey! Please, update Ent to the latest master using `go get entgo.io/ent/cmd/ent@master` and report if you still face this issue. Thanks

[2022-06-06 08:23] frederikhors commented on #2616
![image](https://user-images.githubusercontent.com/41120635/172123774-a6e7b6cc-0295-4292-8a97-1698d8e02e7c.png)

With this works now! Thanks.

[2022-06-06 08:23] #2616 closed

[2022-06-06 08:26] a8m commented on #2616
You should upgrade `ent/contrib` version as well if you work with gqlgen 😉

[2022-06-06 08:29] frederikhors commented on #2616
Ok. I do not like to be on edge (master branch); I have been for years and now I would like some stability. Can you tell me when both packages will stabilize? With v0.11.0?

[2022-06-06 08:30] frederikhors commented on #2616
Updated contrib.

[2022-06-06 13:07] lagzi opened #2621 "Postgres migration fails with long names"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When applying a migration generated by Ent with a long name, this error occurs:
[code]

The file with the long edge name is `ent/schema/picture.go` and when using a short name it works fine.

##

[2022-06-06 14:20] 27149chen commented on #684
@a8m what is the plan of the "storage driver" feature?

[2022-06-06 14:54] frederikhors opened #2622 "Is it possible today to navigate the schema?"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I would like to navigate the schema (to further generate other code from there).

## Motivation 🔦

Using `contrib/schemast` I could not, right?

![image](https://user-images.githubusercontent.com/41120635/172185473-a804fb75-fff6-4990-91fb-3c02d5be0cbd.pn

[2022-06-06 15:09] frederikhors commented on #2622
Yeah.

But is there a way to read schema to AST?

I do not need to use extensions because my process is external to Ent.

[2022-06-06 15:18] a8m commented on #2622
See the first example I mentioned above. Working with AST package(s) is used to edit schema files, not read them.

[code]

[2022-06-06 15:41] frederikhors commented on #2622
It works. Thanks.

[2022-06-06 15:41] #2622 closed

[2022-06-06 18:11] carlos0202 opened #2623 "Failed to load graph correctly when running tests in parallel"
When running tests in parallel that create a database, schema, and all from scratch, entc package yields the following error (actual package source names replaced by ***):
[code]

- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Schema load and

[2022-06-06 18:40] a8m commented on #1209
Sorry for the late response. Yes, and please join our [Discord server](https://discord.gg/qZmPgTE6RX) if you still need help with this. One of us would love to help you with this. Thanks

[2022-06-06 18:46] a8m commented on #1517
The issue was resolved with [edge schema](https://entgo.io/docs/schema-edges/#edge-schema). Thanks for the feedback @birwin93 🙏

[2022-06-06 18:46] #1517 closed

[2022-06-06 18:49] a8m commented on #2007
The issue was resolved with Atlas. Please, see https://entgo.io/docs/schema-indexes#atlas-support.

Thanks for the feedback 🙏

[2022-06-06 18:49] #2007 closed

[2022-06-06 18:53] #2303 closed

[2022-06-06 18:58] a8m commented on #494
The issue was resolved a long time ago. Closing, but feel free to reopen in case it's needed. Thanks <3

[2022-06-06 18:58] #494 closed

[2022-06-06 19:32] carlos0202 commented on #2623
The use case is simple. I have a lot of tests created using standard go testing features. At the beginning of each tests, there's usually a setup func call that would spin up the database server, create required databases depending on the case, and finally run migrations to put db at latest version. When running sequentially everything goes fine, but adding `t.Parallel()` to tests to allow them ru

[2022-06-07 10:27] kcmvp commented on #833
any update about this feature?

[2022-06-07 11:25] frederikhors opened #2625 "Confusing instructions for "Migration To Edge Fields​""
I think the instructions on this section are quite confusing or they don't respect what happens (at least with versions: `entgo.io/contrib v0.2.1-0.20220601200333-78aa88292a62`, `entgo.io/ent v0.10.2-0.20220606082056-dd4519f935a6`).

![image](https://user-images.githubusercontent.com/41120635/172367586-9d24efb4-14ef-4784-85fd-f353f345dfe3.png)

If I use what you say:

[code]

I'm still getting the

[2022-06-07 11:31] a8m commented on #2625
The comment in https://github.com/ent/ent/issues/548#issuecomment-643636090 explained the motivation for this naming. The section about "migration to edge fields" describes how to migrate to this feature for applications that didn't use it before, have tables in the existing database, and want to point an existing column (with an old name) to the new struct field with a different name (can be any

[2022-06-07 11:31] #2625 closed

[2022-06-07 11:32] a8m commented on #2604
Closing as there are no action items to take here. Thanks 🙏

[2022-06-07 11:32] #2604 closed

[2022-06-07 11:32] frederikhors commented on #2625
I'm using this code instead to get the `author_id`.

[code]

**Is it correct?**

[2022-06-07 11:33] a8m commented on #2605
Closing as there are no action items to take here. Please, let me know if you need any help with writing such a logger. Thanks 🙏

[2022-06-07 11:33] #2605 closed

[2022-06-07 12:01] frederikhors opened #2626 "[FR] Feature flag to not repeat references to "column_id"?"
_I apologize in advance for this further open issue, but I think that's the meaning of open source work; if you don't want hassle, I don't think you are starting an adventure like this. And then I think that if something is asked / presented with education and respect, there is only improvement for everyone._

The following is the code that is written (for now still manually) when starting a proje

[2022-06-07 12:22] a8m commented on #2626
Hey! What do you want to reduce, the calls to the `Field` function in the edges? If we'll add something like this, it should be defined in the schema IMO. You can also achieve this today with a small helper function:

[code]

Usage:

[code]

[2022-06-07 16:14] frederikhors commented on #2626
Thank you for the helper.

I would like to avoid writing (by default) all the (quite common) FK columns in field (`field.Uint64("bank_id")`) when an `edge.To` is present (`edge.To("bank", Bank.Type).Field("bank_id").Unique().Required()`) and I would like to avoid the `.Field()` call in edges at the same time.

By feature flag (or by another way) I can generate by default the common columns. If, fo

[2022-06-08 02:20] hwyjzhao opened #2628 "[mysql]Add field comment"
Hi, I want to add field comment info when create new table with mysql. But I don't know how to write it, pls help me.

[2022-06-08 02:30] #2628 closed

[2022-06-08 02:30] hwyjzhao commented on #2628
see: https://github.com/ent/ent/issues/1546

[2022-06-08 15:08] frederikhors commented on #2626
Using ent after a few days, in addition to the immense pleasure I feel in using it, I believe that this feature request is superfluous and I realize how effective your opt-in logic is.

Congratulations again on your intelligence put to work!

[2022-06-08 15:08] #2626 closed

[2022-06-09 07:25] seamory opened #2635 "Some Problem about M2M Same Type"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I defined a M2M Same Type relation.
![image](https://user-images.githubusercontent.com/20828349/172782935-08da3cfc-3007-4606-a132-c6dada067a29.png)

Just like https://entgo.io/docs/schema-edges#m

[2022-06-09 19:05] frederikhors opened #2638 "entgql: mixed id types must be type string or implement the graphql.Marshaller/graphql.Unmarshaller interfaces"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Can I ask you why this error is happening on my project?

[code]

I'm trying to have some entities with `id` `Uint64` and others with `id` `String` and I'm trying to use `entgql`.

The `uint64` w

[2022-06-09 19:10] frederikhors commented on #2638
I updated with the code I'm using.

This is REALLY a blocking issue for use right now. We are mixed ids because the DB is like this now unfortunately. We need to adapt to the DB.

Can you find the reason for this error? Do you already know how to fix it? Is it a quick thing?

Can you tell me how to work-around?

[2022-06-09 19:10] a8m commented on #2635
Hey @seamory and thanks for reporting this issue 👋

Would you mind providing a reproducible example using the [ent/bug](https://github.com/ent/bug) repository?

[2022-06-09 19:11] frederikhors commented on #2638
This and https://github.com/ent/ent/discussions/2631 are blocking our migration from Bun. So sad 😢

[2022-06-09 19:16] a8m commented on #2638
As described in the returned error, I'm pretty sure you can wrap your integer type with a custom type that implemented the `graphql.Marshaler` interface (you can use the standard gqlgen ones).

I didn't see it yet tbh. I'll give it a look later.

[2022-06-09 19:26] crossworth commented on #2638
Hello @frederikhors, I'm pretty sure [this example](https://github.com/giautm/workspace-entgo/blob/1a8231e5841889dba35dc1c97cacc8ee1066853b/ent/schema/pulid/pulid.go#L35) from @giautm should help you get started.

[2022-06-09 19:32] a8m commented on #2638
Thanks, @crossworth ❤️.

I think this example can also help - https://github.com/ent/contrib/pull/332. The `entgql/internal/todogotype` package contains multiple node types with different ID types and most of them implement the `graphql.Marshaller` interface.

I think we can support this use case without custom implementation btw, it will just make the codegen a bit messy, but it will work.

[2022-06-10 03:36] seamory commented on #2635
Here is the example: https://github.com/seamory/ent_bug_report_20220609

I make some comments at some important points. hoping they are useful.

[2022-06-10 03:37] seamory commented on #2635
Here is the example: https://github.com/seamory/ent_bug_report_20220609

I make some comments at some important points. hoping they are useful.

[2022-06-10 04:02] piyongcai opened #2639 "Problems M2M join qery, missing schema."
- [x] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

1.  Schema.Create with AlternateSchema. and the tables not in the same schema.
 eg: User in schema "s1", Pet in shema "s2"

3.  when use join query,  generate SQL is wrong.
eg:
[code]

3. you get

[2022-06-11 10:37] frederikhors commented on #2638
@crossworth @a8m thank you both.

I think I convinced the team to use strings for each ID, even though your suggestion worked.

I am also considering the use of ULID (since UUID 6,7,8) are still in RFC.

I would like to ask you if you know what the prefix that @giautm is using here is for: https://github.com/giautm/workspace-entgo/blob/main/ent/schema/pulid/mixin.go#L25.

[2022-06-11 10:40] giautm commented on #2638
It's called prefixed ULID, you can see the example in contrib repo: https://github.com/ent/contrib/blob/bea889a722a805cf78e25ebb939cc10636558d82/entgql/internal/todopulid/ent/schema/todo.go#L32-L33

[2022-06-11 10:44] frederikhors commented on #2638
Ok. Are you using this prefix because of the [UNIVERSAL ID](https://entgo.io/docs/migrate/#universal-ids) problem?

[2022-06-11 11:18] frederikhors commented on #2638
Am I right?

[2022-06-11 11:25] a8m commented on #2638
Prefix-based is a common way to extract the GraphQL type from the ID value in case you're using the Node API. It can be something else like base64 encoded with the type inside, but a query like `node(id: $id) { ... }` (in entgql, and in general) needs some indication of what table it needs to query in case you're using a database that does not support "global ids" (e.g. SQL).

[2022-06-11 11:27] frederikhors commented on #2638
Ok. Thanks, I'd got it right.

@a8m, do you think we have to close this or leave it open for the sentence you wrote?

[2022-06-11 11:37] a8m commented on #2638
I'm fine with closing it atm because I think this use case is not that common, especially when working with Node API. There are issues that can provide more value to the users (like https://github.com/ent/ent/issues/2600) and we prefer to focus on them for the next versions. So, closing this now, and we can consider adding it in the future in case it will be requested again.

Thanks ❤️

[2022-06-11 11:37] #2638 closed

[2022-06-11 19:30] frederikhors opened #2642 "[FR] An alert about sensible names during generations?"
Using the example https://github.com/ent/contrib/pull/332, I'm getting this generated code which obviously lead to errors after the generation:

![image](https://user-images.githubusercontent.com/41120635/173202040-27a1043c-126e-41ff-a752-09f0c23cd508.png)

This is happening **I THINK** because I'm using internal package name "id".

- internal/id/id.go:

[code]

I don't think it's worth doing anyt

[2022-06-13 08:43] anttioo opened #2643 "Possibility to override graphql mutation type of a field"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When declaring ent schema with annotation to generate the graphql mutation types, there could be a field annotation to force the generated type to be something custom just in the generated mutation type.

## Motivation 🔦
When using a JSON field with some

[2022-06-13 12:52] #2580 closed

[2022-06-13 21:28] frederikhors commented on #1117
Launching `fieldalignment` at the end of generation is a problem because it obviously changes the order of some structs generating issues like this:

![image](https://user-images.githubusercontent.com/41120635/173448087-2ae7b118-0400-4922-84af-7df6c20c8706.png)

In this case now `err` is neede before `err.Error()`.

And as @napei said it also deletes some comments (the ones on structs it aligns).

[2022-06-13 21:33] frederikhors opened #2646 "[FR] Pre-allocate an array when the size is known"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

As discussed [here](https://github.com/ent/ent/discussions/2645) I'm opening this feature request to track the possibility to pre-allocate an array with a known size when querying.

[2022-06-13 23:00] frederikhors opened #2647 "[FR] Have `.SetID` only on creation"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

We have `.Immutable()` on `ent.Field` but I think we miss something like `.ImmutableAfterCreate()`.

## Motivation 🔦

Some entities I'm working on right now are being created with an ID that comes from another service and need to be saved with that ID.

[2022-06-14 08:03] vtolstov commented on #1117
Comments are problem, but issues like you provide is not a problem. I think that generated code must use struct field names

[2022-06-14 08:24] giautm commented on #1117
Sent a patch: https://github.com/ent/ent/pull/2648

[2022-06-14 08:36] frederikhors commented on #1117
Can we check if there are PRs on golang repository for fieldalignment removing comments? Where to look?

[2022-06-14 08:52] giautm commented on #1117
I tested the PR with my project, now the `fieldalignment` can run success without any issue.

[2022-06-14 09:31] frederikhors commented on #1117
Except for comments, right?

What do you think about _align struct before applying comments_ during generation steps?

[2022-06-14 11:29] frederikhors opened #2651 "Check for nillnes before `Set[Edge]ID()` if edge can be `nil"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I just ran into the most infamous error you can have with Go: `invalid memory address or nil pointer dereference`.

In the ent-generated file `player_create.go` we have:

[code]

even if I have t

[2022-06-14 11:38] a8m commented on #2651
Edge-setters assume objects are not `nil` because entities are created by Ent and cannot be created manually. However, for cases like `SetEdgeID`, you can use the `SetNillableEdgeID()` option for edge-fields that can be `nil` and may be passed as `null` in GraphQL inputs, to avoid the reparative `if tid != nil { c.SetTeamID(*tid) }` checks in your resolvers.

[2022-06-14 11:40] a8m commented on #2651
Example from my codebase:

<img width="529" alt="image" src="https://user-images.githubusercontent.com/7413593/173568845-817bf091-b83e-4e35-971b-98d37b2ca89c.png">

[2022-06-14 12:37] frederikhors commented on #2651
I don't understand what you mean.

Let's say I'm using `ent` without `graphql`, only with my "domain" entities:

[code]

This is my situation currently.

Here `Team` can be `nil`.

I'm already using `.Nillable*()` methods for ID fields.

[2022-06-14 12:45] a8m commented on #2651
I have the GraphQL resolvers as an example. But for your use case, I'll recommend you do write the above code as follows:

[code]

If you really want to save these if-statements, which IMO simpler than allocating and converting temporary types you can use templates. You can also use templates to accept your domain-specific types and extend these builders. We usually develop features on templates,

[2022-06-14 12:51] frederikhors commented on #2651
Perhaps my confusion is to be ascribed only to one thing that I have not yet understood:

Is there any difference between this:

[code]

and this

[code]

Or is Ent only getting the ID from team to be saved in database?

[2022-06-14 15:41] frederikhors opened #2652 "How to save One 2 Many entities? It throws in these two ways..."
It would be awesome to have a way to create an entities and it's many in one call.

Example, given this schema:

[code]

let's say I'm getting a ready Team with players from domain:

[code]

I don't know how to create a new Team.

If I try with this:

[code]

it throws with:

`"one of [0] is already connected to a different team_id"`

if I use this code instead:

[code]

it throws with:

`Player.C