[2021-03-22 17:35] wenerme commented on #974
recently done generate gql schema and gql resolver, but it's hard to decide which graphql schema pattern to follow.
I used five generate to achieve this

[code]

current ent generate should be more extendable, so can make `gen-entx` and `gen-gql` as external feature.
But gqlgen's generator is worse than ent's, can not inject resolver code, so, have to write a go code rewriter to modify the generat

[2021-03-22 17:38] wenerme opened #1376 "entql FieldIn operation failed"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

__error__

[code]

## Expected Behavior 🤔

works

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.16  |
| Ent         | 0.7   |
| Databas

[2021-03-22 18:15] AlexanderMatveev commented on #1374
Hi @a8m, thanks for response.

My point is that default PostgreSQL action is `NO ACTION`, which same as `RESTRICT`, see `referential_action` here https://www.postgresql.org/docs/current/sql-createtable.html. And I think it must be a strong argument of making `SET NULL` as default, because this creates an unexpected integrity violation.

And, about `OnDelete` annotation. There is no `OnDelete` fiel

[2021-03-22 18:21] a8m commented on #1376
Thanks for reporting this @wenerme 🙏

I sent a patch to fix this - see #1377.

[2021-03-22 18:27] #1376 closed

[2021-03-22 19:46] rotemtam commented on #1375
Thanks for reporting this, @egorsmkv !
I will look into this soon 🙏

[2021-03-22 20:51] rotemtam commented on #1375
@egorsmkv this is fixed on https://github.com/ent/contrib/pull/52, will be merged soon.

[2021-03-22 21:24] #1375 closed

[2021-03-23 05:41] bonafideyan opened #1378 "SQL: Error 'Specified key was too long; max key length is 767 bytes'"
I don't know whether someone met this error, and how to solved it.

my db is mariadb cluster 10.1.37
log:

[code]

length(utf8mb4) * 255 > 757

[2021-03-23 05:45] rotemtam commented on #1378
Hey @bonafideyan 👋
Thanks for reporting. Can you please share a minimal schemas that reproduces the issue ?
What version of ent and go are you using ?

[2021-03-23 06:55] bonafideyan commented on #1378
it runs well before I deploy to new environment, the new environment is mariadb 10.1.37. so I think any schemas will met the limit, right?
I has read the code, in ent/dialect/sql/schema/mysql.go

[code]

but I have not found where I can put the annotation to specify another charset, such as utf8.

[2021-03-23 08:30] a8m commented on #1378
Hey @bonafideyan and thanks for reporting this issue.

The `ent_types` table is created by the [`WithGlobalUniqueID`](https://entgo.io/docs/migrate/#universal-ids) option - do you use (and need) this option? If you don't need it, removing this option should solve the problem.

Now, regarding `MariaDB 10.1.37` - we don't test this version, but I checked this now and got the error. The solution (in

[2021-03-23 08:37] rubensayshi commented on #999
@a8m any point in rebaseing my https://github.com/ent/ent/pull/1142 to set it through annotations or you want to hold out until you have the interceptors going?

[2021-03-23 09:03] bonafideyan commented on #1378
@a8m , thank you.
I like use global unique id feature.  as for change, how about change the charset to latin-1 or ascii, or utf8? or create an option for set the charset for it?

[2021-03-23 11:44] egorsmkv commented on #1375
Thanks for the bugfix!

[2021-03-23 15:01] #1378 closed

[2021-03-23 15:02] a8m commented on #1378
Fixed in #1379. Please update to master and update if you still have troubles with it.

[2021-03-24 08:27] tomtwinkle commented on #1347
Thanks for the reply @a8m

That's how I'm solving the problem now.
But I feel that it is not simple to define a separate predicate for each repository process.

[2021-03-24 13:24] wenerme opened #1380 "Content for DefaultFunc"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Generate default value based on tenant in context

[code]

## Motivation 🔦

* Tenant prefix primary id - like pulid example - `1-user-abcd`
* Tenant scoped serial number
* Default value based on other field

[2021-03-24 13:33] wenerme commented on #1380
The defaults invoked in create one and createBulk  can access current context.

[2021-03-24 14:03] wenerme opened #1381 "Add interface for field builder to make partial prebuild field"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

Current return `*stringBuilder`, can not make this happen.

## Motivation 🔦
* Customize ID field are spread everywhere in schema, every id field need to repeat this
* Make Customized field build easier, like a helper to inject customized def

[2021-03-24 20:00] arunjohn99 opened #1385 "Count API throwing "No database selected" with alternate schema"
I ran into issue with Count(ctx) on a table with alternate schema (version 0.7.0) on mysql. It threw "No database selected" error, however the issue went away with All(ctx). Is this expected?

Tagging @a8m @marwan-at-work for visibility

[2021-03-24 20:07] giautm commented on #1381
Hi, you can use [Schema Mixin](https://entgo.io/docs/schema-mixin) to share common fields with all entities.

[2021-03-25 05:12] YujiShen commented on #1198
@clalos Could you elaborate how to make this work?

[2021-03-25 06:28] wenerme commented on #1381
@giautm I fixed the demo code, what I want is make

[code]

become

[code]

[2021-03-25 07:02] a8m commented on #1355
Hey @Naist4869,
I looked at your code and in [this line](https://github.com/Naist4869/awesomeProject1/blob/main/main.go#L44), you should either call `All(ctx)`, and ent will fill only the fields that were asked in `Select`. Or, use `sql.Null<T>` types, because some values are optional and can be "NULL" in the database.

Besides this, everything works as expected. Let me know please if I can close

[2021-03-25 08:30] clalos commented on #1198
The field declaration looks like this:
[code]
The above solution doesn't generate the `where` predicates so to query I do this:
[code]
Hopefully that answers your question.

[2021-03-25 10:31] a8m commented on #1380
Hey @wenerme and thanks for proposing this issue. We use [schema hooks](https://entgo.io/docs/hooks/#schema-hooks) for such use cases.

If you still think it should be added, I'll tag the issue as a proposal and we'll wait for more feedback about it here.

I find it nice to have this "default-ctx-func" as a small mutator that can update only one field, but I'm not sure it's really needed, because

[2021-03-25 10:46] a8m commented on #1374
You can pull the version in master. It's stable.

I agree with this argument. The design (and the implementation) was started based on our needs, and in some cases, we didn't use foreign-keys at all. I'm fine with starting a proposal for changing (or extending via option) the schema migration behavior for required-edges that hold a foreign-key to set the database column to `NOT NULL`, and change t

[2021-03-25 11:48] a8m commented on #1385
Thanks for reporting this @arunjohn99. #1390 fixed this.

[2021-03-25 11:48] #1385 closed

[2021-03-25 13:09] wenerme commented on #1380
I use hook too, like

[code]

hook like

[code]

If default func support ctx, this can be write like

[code]

The default func looks better than hook. Also, if changed the field type, the hook interface must change too, otherwise, the interface assertion will not match.

[2021-03-25 13:31] a8m commented on #1380
The hook can be registered like this

[code]

I agree it's longer, but not sure I like the idea we pass the mutation to the `Default` function.

[2021-03-25 13:39] a8m commented on #1381
You can return an `ent.Field` from your helper function.

[code]

But if you want to have something like `IDField("foo").Optional()`, it won't work.

If your use-case requires changing all fields (e.g. adding an annotation to all fields), you can do it using the `Descriptor` method, as [in this example](https://github.com/ent/ent/blob/master/schema/mixin/mixin.go#L105-L112).

[2021-03-25 13:57] wenerme commented on #1380
@a8m but the context do not have type info

[2021-03-25 13:59] wenerme commented on #1381
@a8m make `IDField("foo").Optional()` work that's why I propose the change.

Maybe I should use the Descriptor, write a build from scratch.

[2021-03-25 13:59] #1381 closed

[2021-03-25 14:49] chrisguox opened #1393 "Question: How to use subquery in query"
Hello, teams :)
thank you for working hard for the awesome project.

I want to implement some logic like this, which  like I saw in #92.

[code]

but I didn't create any relation(edge) for 2 tables.
I don't know how to add a custom subquery in query, and I can't find any case in docs or past issues.

then I've come to ask for your help. Thx again.

[2021-03-25 15:28] a8m commented on #1393
Hey @chrisguox and thanks for raising up this question.

You can pass a [custom predicate](https://entgo.io/docs/predicates/#custom-predicates) to the `Where` method as follow:

[code]
The example above is a bit verbose, but it's because we use the generated constants (you can also pass raw strings, which is less recommended).

BTW, if you're filtering only by the "user_id"/"id" field, you don't n

[2021-03-25 16:32] chrisguox commented on #1393
yeah, it's necessary for ORM in some case.
the problem is about code-first or database-first, then I will follow this way to write : )

yeah, it does, and thank you sooooooo much to save my time : )
I will create a pr about to update it.

[2021-03-25 16:32] #1393 closed

[2021-03-25 18:50] a8m commented on #1393
Thanks @chrisguox 😃

[2021-03-26 03:30] AnnatarHe opened #1395 "json in mariadb migration"
create a column as `JSON` type in schema.go

and do migration in mariadb 10.3 twice

it will throw error like:
`failed creating schema resources: sql/schema: changing column type for "xxxxxxx" is invalid (json != longtext)`

I think it's a mariadb issue but ent framework should deal with it.

ref:
https://mariadb.com/kb/en/json-data-type/

And I think we should change those lines to fix this issue

[2021-03-26 05:07] rotemtam commented on #1395
@AnnatarHe , what version of ent are you using? Can you supply a complete `schema` file and the code you're using to run the migration?
I'm not sure also that 10.3 is supported by ent, afaik two latest versions are supported, @a8m ?

[2021-03-26 08:00] YujiShen commented on #1198
@clalos Thanks for elaborations.

I am trying to implement ValueScanner for my type based on bigquery.NullDateTime (I want to store value from BigQuery into database via Ent), in my case the `where` still generated and gives error in generated code said `Cannot convert expression of type 'schema.DateTime' to type 'Time'`.

Here is my code for type and ValueScanner implementation:
[code]

[2021-03-26 09:37] Naist4869 commented on #1355
![image](https://user-images.githubusercontent.com/37408934/112611624-09a56580-8e59-11eb-90b2-b4eb2e0561fe.png)
![image](https://user-images.githubusercontent.com/37408934/112611752-30639c00-8e59-11eb-89d6-cf0e14dd1f66.png)
I think the second is cooler than the first... But it work.
Thank you very much 谢谢

[2021-03-26 09:37] #1355 closed

[2021-03-26 10:00] AnnatarHe commented on #1395
ent version:
entgo.io/ent v0.7.0

code:
[code]

[2021-03-26 12:42] FournyP opened #1396 "Custom edges names"
## Summary 💡

Hello everyone, I'm new in Golang and I have started to use Ent framework.

Firstly, I have an existing database generated thanks Doctrine 2 for a web app and I want to code a service with Golang to implement this database.

So I have a specific field name in my database for a relation :  "table_1_id".
But Ent framework generate a name like this : "table_1_table_2"

I have search in

[2021-03-26 13:02] a8m commented on #1395
Hey @AnnatarHe,
Can you please paste here the exact MariaDB version? You can get it by running:

[code]

@rotemtam, we run our integration-tests on `mariadb:10.2.32` as well, and there's a code that should handle these MariaDB versions in [schema/mysql.go](https://github.com/ent/ent/blob/305edd0/dialect/sql/schema/mysql.go#L560-L603).

[2021-03-26 13:05] a8m commented on #1396
Hey @FournyP, I think the [edge.StorageKey](https://entgo.io/docs/schema-edges/#storagekey) should solve your problem here, right?

Please let me know if it does solve your problem and I can close this issue. Also, feel free to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53).

[2021-03-26 14:44] AnnatarHe commented on #1395
hi @a8m ,
the result is: `10.3.13-MariaDB-log`

[2021-03-26 14:47] Guiren commented on #1033
Hi. We're having the same issue when trying to add a `created_at` column, with `Default(time.Now())`.

The issue here is that both `Default` and `UpdateDefault` use custom Go code to handle this in PostgreSQL, but the database itself has no idea what the default value should be, which makes the `ALTER TABLE` query fail.

I believe ent should be able to set DEFAULT values at least on the schema.

[2021-03-27 02:07] pontaoski opened #1397 ""has one of" relation"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Ent has relations like "one has one", "many has one", etc. But what it doesn't have is a "has one of" relation, where one object can have only one of a set of possible edges to other options.

Usage would be something like: `edge.OneOf("content", Te

[2021-03-27 14:54] FournyP commented on #1396
Hey @a8m,

Exactly, edge.StorageKey solve the problem, thanks a lot for your answer

Have a good day

[2021-03-27 14:54] #1396 closed

[2021-03-27 17:05] nilpntr opened #1399 "edge: multiple storage-keys defined for edge on O2M same type"
Go the following error when creating a 02M relation on the same type if a storage_key:
[code]
`entc/gen: set "CompanyUnit" foreign-keys: "parent" edge: multiple storage-keys defined for edge "parent"<->"children"`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

[2021-03-28 16:14] TawsifKarim opened #1400 "How to add more columns in pivot table"
I have created a pivot table named `category_products` that has this two column `product_id` and `category_id` as shown in the docs. I want to know if i can add more columns to this pivot table like when was this relationship created.. eg
`id|product_id|category_id|created_at|creator_id` etc etc ...

[2021-03-28 16:31] rotemtam commented on #1400
Hey @TawsifKarim
Thanks for your question. AFAIK, there currently isn't support for adding columns to m2m edges, but this is definitely something @a8m has mentioned in one of our conversations as relevant for the future of ent.

Just out of interest, how would you expect such a feature to work?

[2021-03-28 16:45] rotemtam commented on #1397
Hey @pontaoski ,
I've seen a type of psuedo polymorphism in ORMs in the past which was implemented using inheritance - that wasn't great. What you're describing exists in protobuf and works well there . In the context of ent, wouldn't it make sense to have:
- a message metadata type
- The content types have a many bto one relations with the metadata?

[2021-03-28 17:21] TawsifKarim commented on #1400
I have recently started to learn golang and was exploring various features of this ORM before jumping into production with one of our projects. I work mostly with Laravel(PHP framework), and i started to miss some of the features of Eloquent ORM which is insanely easy and flexible to use provided by the framework.. They provide schema per table. So you can design your pivot table as you wish and a

[2021-03-28 17:25] a8m commented on #1397
Hey @pontaoski and sorry for the delay.

This feature was proposed in https://github.com/ent/ent/issues/1048. Let's continue the discussion there?

[2021-03-28 17:31] a8m commented on #1400
Thanks for proposing this feature @TawsifKarim.

As mentioned in the roadmap, we plan to add this feature in the upcoming versions. You can see the proposed implementation for it in https://github.com/ent/ent/issues/1061 and share your feedback there. Thanks 🙏

[2021-03-28 17:34] #1400 closed

[2021-03-29 04:01] Xwudao opened #1401 "Can set extra fields in M2M relationship table?"
Suppose I have two tables, student table and class table (M2M)
`Ent ` generates their association table, but this table has only two fields (their primary key)
How can I add other fields to this relationship table? For example, I want to add a time point of their relationship establishment field

[2021-03-29 06:15] godcong opened #1402 "Does ent grpc now support UUID primary keys?"
When i run generate  `entproto -path ./ent/schema`
The command line returned me an error message:
[code]

my schema:
[code]

[2021-03-29 06:29] rotemtam commented on #1402
Hey @godcong , thanks for your query.
As you can see in the README for entproto, [currently TypeUUID isn't supported](https://github.com/ent/contrib/tree/master/entproto#field-annotations).

I want to add support for it and wanted to ask, how would you expect this field translation to work?
* What would be the proto field type? `repeated bytes`, `string`, a new custom message type with two int64 f

[2021-03-29 07:30] rotemtam commented on #1399
Hi @nilpntr , thanks for your query.
Can you please supply an entire schema that reproduces the issue so it's easier to debug exactly what's going on? The full definition isn't necessary just a minimum to reproduce.
Thanks!

[2021-03-29 07:56] nilpntr commented on #1399
[code]

[2021-03-29 08:37] rotemtam commented on #1399
@nilpntr, thanks for the quick response. What you sent references other types that aren't defined here.
It will help me to assist if you just provide a minimal example that reproduces the issue
Many thanks

[2021-03-29 08:46] nilpntr commented on #1399
They other relations in the edges don't care because when I run an example from the entgo docs I get the same error so let me give you this example:
[code]
Error:
`entc/gen: set "Node" foreign-keys: "parent" edge: multiple storage-keys defined for edge "parent"<->"children"`

[2021-03-29 08:47] rotemtam commented on #1399
@nilpntr , I've managed to reproduce your issue locally and I think if you modify your schema like below you will get what you want:
[code]
Notice I've defined the parent_id field on the fields list and am referencing it using the .Field() modifier from the edges list.

[2021-03-29 08:49] nilpntr commented on #1399
Thanks that works

[2021-03-29 08:52] rotemtam commented on #1399
Happy to hear, closing.

[2021-03-29 08:52] #1399 closed

[2021-03-29 11:36] a8m commented on #1273
Hey @wroge and thanks for sharing this example.

I've added a change (https://github.com/ent/ent/pull/1404) that should simplify the API for writing custom ordering functions.
I test your example on this repository and it works without any problems:

[code]

Closing this issue, but feel free to reopen it if you still have troubles with it. Thanks 🙏

[2021-03-29 11:36] #1273 closed

[2021-03-29 11:58] 201RichK commented on #1401
https://github.com/ent/ent/issues/56

[2021-03-29 14:23] a8m commented on #1395
Hey @rotemtam and @AnnatarHe, some update before I'm adding a workaround for this. I found an issue in `MariaDB-10.3.13`. Please see the attached screenshots:

`MariaDB-10.3.13`
![image](https://user-images.githubusercontent.com/7413593/112851030-3f458b00-90b3-11eb-8710-dc2fe8d96df2.png)

`MariaDB-10.3.28`
![image](https://user-images.githubusercontent.com/7413593/112851141-5d12f000-90b3-11eb-8d1b

[2021-03-29 16:40] a8m commented on #1265
Hey @mgabeler-lee-6rs, this issue was fixed with https://github.com/ent/ent/pull/1404.

Just note that the signature of your custom order function should be changed from `func (*sql.Selector, func() bool)` to `func (*sql.Selector)`.

Closing, but please reopen if you still have issues with it. Thanks for reporting this 🙏

[2021-03-29 16:40] #1265 closed

[2021-03-29 17:09] mgabeler-lee-6rs commented on #1265
Actually in my case I can get rid of the custom ordering func and just use `ent.Asc` :grinning:

Thanks!

[2021-03-29 17:25] gsoec opened #1408 "Naming conflict on generated structs"
Some structs are overridden by ent's internal template.

- [✓] The issue is present in the latest release.
- [✓] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
[code]
The generated `Collection.go` and `Transaction.go` in `ent/` do not contain `type Collection struct` and  `type Transaction str

[2021-03-29 17:34] gedw99 commented on #46
you could just use the GRPC that is codegenerated ?

[2021-03-29 17:37] gedw99 commented on #46
I know, but i prefer a pure SQL level of CQRS.

Like this:
https://materialize.com/
https://materialize.com/docs/sql/create-source/

so then your can migrate easily and then gen your Protobufs of the Ent Schema

[2021-03-29 17:43] gsoec opened #1409 "Struct's name with "Create/Update/Delete" suffix confuses gqlgen's autobind"
Struct's name with "Create/Update/Delete/Query" suffix generated by ent's internal templates confuses gqlgen's autobind when schema.graphql contains
[code]

- [✓] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

gqlgen's autobind may work better with putting "Create/Update/Delete/Query" generated files

[2021-03-29 17:47] gedw99 opened #1410 "Please consider adding CDC"
Ent and GRPC is awesomeness.

For reactive systems you need to listens for changes, and CDC ( Change Data Capture ) is one way that does not lead to side effects because the system is reacting to the changes in the db itself.

pgsink is written in golang and does it well.

- [ ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a d

[2021-03-29 19:00] rotemtam commented on #1410
Hey @gedw99
Thanks for reaching out. Event sourcing, CQRS, CDC, etc are all fascinating concepts that should converge in some way with ORMs/Entity frameworks such as ent. It is definitely something to explore but at least personally I think we have a lot more to flesh out before getting there

If you would like to write a more structured proposal, perhaps an example repo with some naive implementa

[2021-03-29 19:34] a8m commented on #1265
Great. Thanks again for the detailed reporting 😃

[2021-03-29 19:34] #1395 closed

[2021-03-29 19:38] gedw99 commented on #1410
@rotemtam

Ok so I think something like the following might work.

materialise listening to PostgreSQL. Ent supports it.
Materialise is fed from PostgreSQL

Then Ent is fed from materialise.

Will make the middle tier as 2 processors.
First Ent  Schema does  writes to PostgreSQL.
2nd schema does reads from materialise and push from materialise.  Where those push changes from Materialise goes to to

[2021-03-29 19:40] rotemtam commented on #1408
Hey @gsoec ,

I've tried to reproduce on latest v0.7.0 - it seems to work. For instance in `ent/collection.go`:
[code]

Can you try with the latest version and verify that this bug reproduces?

Thanks
R

[2021-03-29 19:48] wenerme commented on #1365
I've build a minimal query language, can translate to entql or sql.Selector, if you interested, I can make this public

[code]

Not complete arbitrary sql expressions, because this is from frontend, translate to entql or selector to prevent sql inject.

Used in graphql

[code]

[2021-03-29 19:55] wenerme opened #1411 "proposal: support onway edge"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

describe before in https://github.com/ent/ent/issues/1341#issue-833483410

allowed

[code]

allowed

[code]

## Motivation 🔦

Without oneway edge support, add mixin like Labelable need to add an edge on Label schema, but this edge is useless,and cum

[2021-03-29 20:18] wenerme opened #1412 "Skip generate same table migrate"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

[code]

## Your Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.16.?  |
| Ent         | 0.7.?   |
| Data

[2021-03-29 21:06] rotemtam commented on #1411
hi @wenerme and thanks for reaching out.
I'm not sure I follow, what are you trying to do and what error message/problem are you running into? Can you share a minimal example to illustrate the issue?

[2021-03-29 21:07] rotemtam commented on #1408
@gsoec are you using the GraphQL integration?

[2021-03-29 21:30] a8m commented on #1412
Hey @wenerme

It's not possible to use the same join-table for 2 different M2M edges. The codegen should reject ent/schemas with duplicate tables.

[2021-03-29 21:42] imle opened #1413 "Allow drivers with prefix of accepted dialect name."
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

If I pass a driver in that is prefixed with one of the accepted dialects (in this case it is `postgres`), I would expect that it would be allowed.

## Motivation 🔦

When working with tracing libraries (specifically OpenTelemetry, but not excluding a

[2021-03-29 21:46] imle commented on #1413
I posted this too soon as it looks like I didn't consider that all of the functions called within `Open` are public and the function I wrote in the generated folder can simply be extracted to where I am setting up `ent`.

[2021-03-29 21:46] #1413 closed

[2021-03-29 22:27] gsoec commented on #1408
@rotemtam Yes, i'm using the GraphQL integration with latest release version of ent. Seems enabling GraphQL plugin  make this happen.

[2021-03-30 04:01] godcong commented on #1402
RFC 4122 seems to have the best performance.
It allows UUID to be encoded in binary (as opposed to text)
The String() method can completely solve the string display problem
So I think bytes should be a better choice

[2021-03-30 06:19] wenerme commented on #1412
@a8m This will generate duplicate table, but I think this is ok db design,a lot of things can has labels, the label don't care the labeled target. Like this issues https://github.com/ent/ent/issues/1048 , but is way easier, just allowed join the id column, and prevent generate duplicate table ?

[2021-03-30 06:46] wenerme commented on #1411
Hi @rotemtam

## to One - one way edge

[code]

In the one way edge, the owner side(User) don't care this edge, like which is created by the user, only the inverse side care the edge, who created me.

ent allowed edge.To without edge.From, but not edge.From require, edge.To.

The edge.To is ok for `to one` one way edge, but the syntax is the same for o2o same type - this can not exists on User sch

[2021-03-30 06:48] rotemtam commented on #1411
Thanks for clarifying. I'll review this later today.

[2021-03-30 07:18] wenerme commented on #1380
Related issues

* https://github.com/ent/ent/issues/571
* https://github.com/ent/ent/issues/549

[2021-03-30 07:19] wenerme commented on #1380
Custom type handling is a lower level processing than column, but column hook can enable custom type handling.

[2021-03-30 07:20] wenerme commented on #1411
Switched out project from gorm to ent, already done a lot of toolchain work, really hope ent become better.

---

I collect some related issues

* https://github.com/ent/ent/issues/1048
* https://github.com/ent/ent/issues/1062 - like polymorphism
* https://github.com/ent/ent/issues/1061 - field on edge
* https://github.com/ent/ent/issues/1047 - get extra join table columns
* https://github.com/ent

[2021-03-30 08:15] a8m commented on #1412
I understand the use-case, but polymorphism is currently not supported by the framework. Having (id1, id2) is not enough by the way, because the records need to be unique, so you need to have another column for the relation type.

I think we can close this issue in favor of https://github.com/ent/ent/issues/1048 and continue the discussion there.

[2021-03-30 08:18] a8m commented on #1401
Hey @Xwudao and thanks for opening this issue.
As mentioned in https://github.com/ent/ent/issues/1400#issuecomment-808929056, this is not supported by the framework atm, but we're going to add support for this soon.

Closing because it's a duplicate of #1061. Please follow this issue to get updates on this feature. Thanks 🙏

[2021-03-30 08:18] #1401 closed

[2021-03-30 08:22] Xwudao commented on #1401
Thanks for your reply.

[2021-03-30 08:24] a8m commented on #1408
Hey @gsoec, the GraphQL plugin templates generate a file named `collection.go` that overrides your file. We should fix this by prefixing all GraphQL files with `gql` (e.g. `gql_collection.go`).

Please use a different name until we add a fix for it. If you need to control the database-table, use the [entsql.Annotation](https://entgo.io/docs/schema-annotations/#custom-table-name) for this.

[2021-03-30 08:41] a8m commented on #1409
Hey @gsoec and thanks for opening this issue.

We have nothing to do with it actually. One option is to not use `autobind` and map your models [using an inline directive](https://gqlgen.com/v0.13.0/config/#inline-config-with-directives) in your GraphQL schema, and the second option is to tell gqlgen to ignore specific models in `autobind`-mode using some configuration. I'm not sure gqlgen supports

[2021-03-30 08:41] #1409 closed

[2021-03-30 09:41] a8m commented on #400
Hey all and sorry for the delayed comment.

It wasn't easy to add support for this 1 year ago, because this is an SQL-specific feature and we plan to support more database types in the future. However, we added the `ent.Annotation` option a few months ago that allows passing custom metadata for ent-codegen, and the [`entsql.Annotation`](https://pkg.go.dev/entgo.io/ent@v0.7.0/dialect/entsql#Annotat

[2021-03-30 09:48] wenerme commented on #1412
Having (id1, id2) is enough for a lot of case, uuid, ulid or the pluid case, another type column is possible, but at least allowed this use case.

[2021-03-30 23:20] pontaoski commented on #1397
sure

[2021-03-30 23:31] pontaoski commented on #1048
Not sure I'm a fan of the `.Polymorphic()` design.

I think something like this would be more natural:
[code]

This also makes it fairly easy to expose an API that uses a closed interface, allowing for utilising type switches on edges.

[2021-03-31 10:34] Goxiaoy commented on #252
May relatated with https://github.com/ent/ent/issues/833

[2021-03-31 14:45] #1359 closed

[2021-03-31 14:47] a8m commented on #1359
Thanks @alexsn for the fix ❤️

[2021-04-01 06:53] #1357 closed

[2021-04-01 07:58] touyu opened #1417 "Failed to generate O2O Edge Field"
Hello, Thanks for the useful libraries.

I'm having a problem with an error when trying to create an O2O Edeg Field.
If I'm doing something wrong, please let me know.

`ent/schema/room.go`
[code]

`ent/schema/promotion.go`
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is

[2021-04-01 14:24] a8m commented on #765
Thanks again @AlexanderMatveev for the reference. I created a CLI tool for generating ER diagrams for Ent schemas using mermaid.

See https://github.com/a8m/enter

[2021-04-01 15:13] rotemtam commented on #765
Nice @a8m !!

[2021-04-01 15:15] rotemtam commented on #1417
Seems like room.go is missing  an edge.To call, no?

[2021-04-01 15:30] touyu commented on #1417
@rotemtam I'm sorry, that was a mistake. In fact it is written.
I fix sample code.

[2021-04-01 16:20] AlexanderMatveev commented on #765
@a8m you're welcome, I'm glad you like it

[2021-04-01 20:08] a8m commented on #1417
On my phone atm, so I’ll comment in more details tomorrow.

I’m pretty sure replacing the “room” edge to be edge.To, and the “promotion” edge to be edge.From should solve the issue.

[2021-04-01 20:54] rotemtam commented on #1417
@a8m i can confirm that works. I must say I'm a bit confused as to why? Also perhaps we can hint at this in the error message.

[2021-04-02 08:25] a8m commented on #1417
In O2O relationship, the FK (foreign-key) needs to be stored in one of the tables (`rooms` or `promotions`), and ent stores it on the table with the inverse-edge (`edge.From`). This allows some flexibility to change the relationship to `O2M` in the future if necessary (this can be done by removing the `Unique()` call in the `edge.To` side).

The new schema-versioning feature will give users the fr

[2021-04-02 08:30] a8m commented on #378
Hey @fitzix, I added 2 sections on the doc about how to order by an edge or a custom-logic if the first one is not enough.
Please see [edge-ordering](https://entgo.io/docs/paging/#edge-ordering) and [custom-ordering](https://entgo.io/docs/paging/#custom-ordering) in our website.

Closing, and thanks for opening this issue.

[2021-04-02 08:30] #378 closed

[2021-04-02 08:38] a8m commented on #1047
Hey all, this functionality was added in v0.7.0. Please see [our blog post](https://entgo.io/ja/blog/2021/03/12/announcing-edge-field-support/) and the [documentation](https://entgo.io/ja/docs/schema-edges/#edge-field) if you want to use this feature.

Closing. Thanks for opening this issue and feel free to ping me on [ent Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) if you n

[2021-04-02 08:38] #1047 closed

[2021-04-02 08:39] a8m commented on #1397
@pontaoski, great. Closing

[2021-04-02 08:39] #1397 closed

[2021-04-02 10:16] touyu commented on #1417
@a8m and @rotemtam Thank you for your kind support!
I understood it.
This problem was solved.

[2021-04-02 10:17] #1417 closed

[2021-04-02 12:30] SladeThe commented on #936
A useful feature. Any update or WIP?

[2021-04-02 15:57] Bladrak opened #1421 "entproto doesn't handle booleans"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I'm trying to generate a Protobuf service using the following code:
[code]

Upon running `go generate ./...` I have the following error:
[code]

## Expected Behavior 🤔

Generation should pro

[2021-04-02 16:05] rotemtam commented on #1421
Thanks for reporting . Will send a patch in the next few days. If you have time to submit something I'll gladly review it

Cheers

[2021-04-03 11:50] #1421 closed

[2021-04-03 18:53] #1033 closed

[2021-04-03 18:58] a8m commented on #1033
Hey all and thanks for reporting these issues.

The boolean problem was addressed in previous PRs (it was actually a problem with "falsy" values).

Default values that are generated by the database (like `CURRENT_TIMESTAMP` and `uuid_generate_v4()`) or other SQL-specific expressions can be added to the `DEFAULT` clause using the `entsql.Annotation` - https://github.com/ent/ent/pull/1420.

[code]

[2021-04-03 21:53] pontaoski opened #1422 "field.Proto for storing protobuf in database"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

It should work essentially equivalently to `field.Json`, but instead of marshalling and unmarshalling from JSON, it does so for protobuf.

## Motivation 🔦

We have some protobuf structs that we can already use field.JSON for, but some of them don't

[2021-04-04 05:30] michaelkub opened #1423 "Foreign key name"
Hello everyone ,

Is it possible to provide foreign key name ?

As I saw it is autogenerated by the following pattern:
`Symbol:     fmt.Sprintf("%s_%s_%s", owner.Name, ref.Name, e.Name)`
but sometimes it is required to provide own name

[2021-04-04 06:58] a8m commented on #1423
Hey @michaelkub! It's great to hear from you 😃

There's no way to configure it in the schema atm, but I can add it to the edge annotation later today and tag you. If you're looking for a workaround, you can use a [migration-hook](https://entgo.io/docs/migrate#migration-hooks) to change the foreign-key symbol and remove this workaround after we add this option.

[code]

BTW, I'd be happy to share w

[2021-04-04 11:34] #1402 closed

[2021-04-04 12:27] #1423 closed

[2021-04-04 13:02] rotemtam commented on #1422
Hi @pontaoski,
Thanks for reaching out!

Here's an approach that I hope will solve your requirement:

1. Assuming proto message:
[code]
2. Have the pb struct implement `ValueScanner` ([doc](https://pkg.go.dev/entgo.io/ent/schema/field#ValueScanner)):
[code]
3.  Add the field to your schema as a `field.JSON`:
[code]
3. Test it:
[code]

### Caveats
Using `field.JSON` here is a bit awkward, since thi

[2021-04-06 05:00] dybxin opened #1426 "field.json doesn't support array struct ?"
in schema, i definition an []struct{}:

[code]

in main.go file

[code]

[2021-04-06 05:21] a8m commented on #1426
Hey @dybxin and thanks for opening this issue.
Can you please use a named type in your schema and reports if you still get this error:

[code]

[2021-04-06 05:34] dybxin commented on #1426
the `field.JSON("times", []Time)` is should be `field.JSON("times", []Time{})`?

[2021-04-06 05:40] dybxin commented on #1426
@a8m i use the fllowing

[code]

the error is still occured.

[2021-04-06 06:54] a8m commented on #1426
Yes.

It works for me without any problems. Can you please provide an example repository with `ent/schema` that I can reproduce this? Also, what ent version do you use?

[2021-04-06 12:34] Bladrak opened #1427 "entproto doesn't handle Immutable annotation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using a generated Protobuf entity that has an Immutable field, I have the following error:
[code]

Related entity:
[code]

This generates the following code in `entpb_project_service.go

[2021-04-06 13:04] rotemtam commented on #1427
Hey @Bladrak ,
Good to see you here again!
Thanks for the detailed report. You're absolutely correct, this scenario will fail as we don't check for immutability when generating the code. I can work on this in the near future, but wanted to ask if you would be interested in submitting a patch to contribute to the project? I can direct you on how, it should be a relatively simple fix and a great fir

[2021-04-06 13:05] Bladrak commented on #1427
Hey @rotemtam,
I can try to find some time yes, sorry about the last one, I was out for the weekend :)
Do you have contributing guidelines somewhere?

[2021-04-06 13:08] rotemtam commented on #1427
Unfortunately, our [contribution guidelines](https://github.com/ent/ent/blob/master/CONTRIBUTING.md) are a bit outdated and currently do not address things in `ent/contrib`
But if you can join us on our community slack (#ent in [Gophers Slack](https://app.slack.com/client/T029RQSE6/C01FMSQDT53)) ill be happy to coordinate with you 🙏

[2021-04-06 13:43] yeyep opened #1429 "Simple update mutation with GraphQL"
Hello guys,
I am following the GraphQL tutorial and am excited about the integration.
However, I am not sure how best to handle update mutations.
Since we have a separate set method for each field in ent, we can't use the way suggested by 99design:
https://gqlgen.com/reference/changesets/

Is there already a generator template for this? I couldn't find a matching topic in the issues unfortunately.

[2021-04-06 14:46] a8m commented on #1429
Hey @yeyep and thanks for opening this issue.

I usually prefer to use a `ChangeSet` struct instead of a map, because it's more efficient and explicit. For example, given the example from the `gql` website, let's say the `name` field is required (can't be cleared), and the `email` is an optional field. Then, a custom template will generate a struct as follows:

[code]

And then, in your resolver,

[2021-04-06 14:59] dybxin commented on #1426
the ent/schema  scene.go
[code]

the  BaseMixin

[code]

and part of the code main.go

[code]

[2021-04-06 16:03] yeyep commented on #1429
Hi @a8m

Thanks for your quick reply.
Your proposed solution with a struct instead of a map is the solution I would prefer.
Especially when it even takes into account optional and required fields, like in your example.

I will be happy if you post an example on the website.
I think it would make the tutorial even more complete :)

Have a good day,
Daniel

[2021-04-07 05:24] ryotarai commented on #358
FYI: I implemented a wrapper of Driver as a workaround: https://gist.github.com/ryotarai/4b4fba383d7cfa33566c3959cdad78c6

[2021-04-07 07:54] #1427 closed

[2021-04-07 08:42] a8m commented on #1422
@rotemtam, the `GoType` issue was fixed. Can you give it another try?

[2021-04-07 09:02] a8m commented on #1198
Hey @clalos and @YujiShen - this issue should be fixed in the latest master version. You can update as follows:

[code]

But note that this will require you to change the schema as follows because #1428 changes the GoType to use the real Go type.

[code]

You can leave it as-is if you prefer to use `*adapter.EscapedString` instead of `adapter.EscapedString` in your codebase.

Also, note that your

[2021-04-07 09:02] #1198 closed

[2021-04-07 09:04] a8m commented on #1051
Hey @JamesHovious - this issue should be fixed in the latest master version. You can update as follows:

[code]

Please reopen this issue or tag me if you still have trouble with it. Thanks 🙏

[2021-04-07 09:04] #1051 closed

[2021-04-07 09:19] rotemtam commented on #1422
@a8m , yes I can confirm pulling from ent@master this will also work:

[code]

I will add something in this spirit to the documentation

[2021-04-07 10:55] #1422 closed

[2021-04-07 14:16] uta-mori commented on #1322
supported with #1391

[2021-04-07 14:16] #1322 closed

[2021-04-07 17:39] jbub opened #1436 "Ability to tell whether the update/mutation is dirty (has changed fields)"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Say i have a `Payment` entity with many columns.

Now i want to update the payment with some data:

[code]

I was not able to find such method, maybe it would be a good addition to the update/mutation API ?

## Motivation 🔦

I want to avoid running

[2021-04-08 04:44] imle commented on #1294
Good to close this, sorry for not doing so when I made the second comment. I think I may have been misremembering, the previous code I wrote that did that was likely not functioning as expected.

[2021-04-08 04:44] #1294 closed

[2021-04-08 07:25] Alexfilus opened #1438 "How to get edge field in strict?"
Hi! I have 2 entities:
[code]

[code]

They are connected as one-2-many with "category_id" field.
`categories := client.Category.Query().WithProducts().AllX(ctx)`
returns tree of entities, but without "category_id" field in Product structure.
I know that I can get it from parent struct in go code, but I can't do that in partial html/template.
I tried to add field.String("category_id"), to Product

[2021-04-08 07:37] rotemtam commented on #1438
Hi @Alexfilus,
Thanks for reaching out. What you're describing is easily supported since v0.7.0, wrote about it in ent's blog:
https://entgo.io/blog/2021/03/12/announcing-edge-field-support
Let me know if I can close this issue.

[2021-04-08 07:58] Alexfilus commented on #1438
i've tried that.
For the first time insertion was broken: `panic: ent: missing required field "category_id"`
I had replaced SetCategoriesID -> SetCategoryID, insert worked fine, but now when I select data with AllX I get:
[code]
but I checked, data structure in DB table is correct.

[2021-04-08 08:23] rotemtam commented on #1438
Can you share the schema definition you've used with the edge fields configuration?
Recall from the example in the blog post, you should have:
[code]

[2021-04-08 08:47] dybxin commented on #1426
the version of ent i used is 0.7.0

[2021-04-08 08:54] a8m commented on #1436
Hey @jbub and thanks for opening this issue.

I have a quick question before - currently, when you try to apply an empty update mutation, ent will not execute any UPDATE operation on the database. It works for both `Update` and `UpdateOne`:

https://github.com/ent/ent/blob/c53b45ddb02a6ac1ddc24c623d8d04f32f9ed6b8/dialect/sql/sqlgraph/graph.go#L726

https://github.com/ent/ent/blob/c53b45ddb02a6ac1d

[2021-04-08 09:13] a8m commented on #1294
👍

[2021-04-08 09:27] dybxin commented on #1426
@a8m  i solve this problem use , in the `/ent` same level directory add a `times.go` file.

times.go

[code]

and in schema `scene.go` file

[code]

and in `main.go`

[code]

In short， anywhere use the declare Time struct.

[2021-04-08 09:31] a8m commented on #1426
Hey @dybxin,
What errors do you get? The only problem I see is that the codegen formats the nested struct-tags incorrectly. For example:
[code]

But these anonymous structs are not fully supported and will require you to use named-structs like:

[code]

[2021-04-08 09:32] a8m commented on #1426
Great, I missed this comment.

Let's close this issue then. Thanks 🙏

[2021-04-08 09:40] #1426 closed

[2021-04-08 09:55] YaaMe opened #1439 "how could i build json_overlaps"
how could i build this sql for now? in mysql case
[code]

I couldn't find usage about `FieldJSON predicate` about query on [docs](https://entgo.io/docs/predicates) . So I follow the [tests](https://github.com/ent/ent/blob/master/dialect/sql/sqljson/sqljson_test.go) and know how to build `JSON_CONTAINS`, but I still lost [JSON_OVERLAPS](https://dev.mysql.com/doc/refman/8.0/en/json-search-functions.

[2021-04-08 10:15] a8m commented on #1439
Hello @YaaMe, the [sqljson](https://pkg.go.dev/entgo.io/ent/dialect/sql/sqljson) package provides the common JSON predicates for all supported dialects (MySQL, MariaDB, PostgreSQL, SQLite).

However, the `JSON_OVERLAPS` predicate is not there. But, you can write manually as follows:

[code]

Let me know if can close this issue. Thanks

[2021-04-08 10:32] Alexfilus commented on #1438
[category.txt](https://github.com/ent/ent/files/6277932/category.txt)
[product.txt](https://github.com/ent/ent/files/6277933/product.txt)
GitHub not allow to attach .go files, so I upload it as .txt

[2021-04-08 11:55] jbub commented on #1436
Hello, thanks for the info, that is all i need, i did not know there is actually a check for this, i guess i was not looking deep enough :) Thank you, we can close this one :)

[2021-04-08 11:55] #1436 closed

[2021-04-08 12:24] rotemtam commented on #1438
thanks @Alexfilus , I think you've reversed the edge directions. Your schema should look like:
[code]

Test code:
[code]

[2021-04-08 12:33] a8m commented on #1436
Sure, happy to help 😃

Please feel free to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) in the Gophers Slack. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-04-08 12:50] Alexfilus commented on #1438
Yes, I used wrong Ref. Now it works fine.Thank you!

[2021-04-08 12:50] #1438 closed

[2021-04-08 12:57] rotemtam commented on #1438
Sure thing! Happy to help.
Please feel free to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) in the Gophers Slack if you need anything else. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-04-08 22:28] v3n opened #1443 "How to model historical data in some sort of changelog-like form?"
First of all, thank you for the library; it's hugely impressive to me and I love the paradigm of a statically compiled ORM.

I'm interested in trying to use ent for a data model that semi-closely follows the [anchor modeling technique](https://en.wikipedia.org/wiki/Anchor_modeling).

For the purposes of the thought exercise, let's assume I have two entities, `AThing` and `Label`, with have a M2M r

[2021-04-09 02:50] YaaMe commented on #1439
@a8m , thanks, i got it and succeed.but I'm still filled with curiosity: why the `JSON_OVERLAPS` is not there?

[2021-04-09 02:50] #1439 closed

[2021-04-09 03:42] AnnatarHe commented on #1395
Hi @a8m,
when we can release this bugfix? it bother me for more than 2 weeks.
thank you.

[2021-04-09 05:36] rotemtam commented on #1439
@YaaMe software engineering and particularly library designs is a balancing art of compromise, requirements, available resources, constraints and putting a cap on emerging complexity must all be considered when deciding what to include, what to exclude, what to include, and what to postpone. Ent is a community, open source project. If you think something is missing you are welcome to start a discu

[2021-04-09 06:56] a8m commented on #1395
Hey hey @AnnatarHe, I'm going to write a release note and release a new version next week. But for now, you can update to the latest master as follows:

[code]

BTW, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-04-09 07:01] a8m commented on #1439
@YaaMe, if you're interested to contribute this functionality to the `sqljson` package, please ping me in our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53), and I'll be happy to help with that 🙏

[2021-04-09 12:43] wenerme commented on #1429
My solution is generate create input and update input then use like this

[code]

[code]

The generated schema like

[code]

The graphql is usage based, no standard, still working on more way to use graphql.

[2021-04-09 12:53] wenerme commented on #1443
How about add a hook, record every mutation ?

[2021-04-09 13:01] wenerme opened #1445 "clear edge field by id not works"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

Issued

[code]

The ClearOwningUserID not set field to null.

The field is defined like

[code]

## Expected Behavior 🤔

field set null

## Steps to Reproduce 🕹

[wenerme/ent-demo](h

[2021-04-09 13:28] a8m commented on #1445
Hey @wenerme and thanks for reporting this issue.

Before I'm giving it a look, just to make sure I understand it - it doesn't work for [edge fields](https://entgo.io/docs/schema-edges/#edge-field)?

[2021-04-09 13:34] a8m commented on #1429
Thanks for sharing with us your example @wenerme.

I'm working on adding such an example to our website and updating [my GraphQL example](https://github.com/a8m/ent-graphql-example) with it. Maybe you can write about your use-cases/solutions in the Ent's blog -  ping me on Slack if you're interested.

[2021-04-09 13:38] a8m commented on #1445
Found the issue. I'll send a patch soon.

[2021-04-09 13:46] wenerme commented on #1429
@a8m I want to make some of my work public, but before that, I may send some pr for entc, reusing the Generator can make a lot things easier.

[2021-04-10 11:56] #1445 closed

[2021-04-12 07:18] washanhanzi commented on #936
As described [here](https://entgo.io/docs/schema-fields#other-field).

I can create a column of array type:
[code]

But the auto migration will fail with `failed creating schema resources: sql/schema: invalid type "ARRAY" for column`

[2021-04-12 07:42] dybxin opened #1448 "How to remove the association relationship between table records?"
eg:  one table name is `user` , other table name is  `role`,  `user ` and `role ` relationship is M2M.

user:
|  ID   | Name  |
|  ----  |  ----  |
| 1 | name1 |
| 2  | name1 |
| 3  | name3 |
| 4  | name4 |
| 5  | name5 |

role:
|  ID   | Name  |
|  ----  |  ----  |
| 1 | role1 |
| 2  | role1 |
| 3  | role3 |
| 4  | role4 |
| 5  | role5 |

user_roles:
|  user_id   | role_id  |
|  ----  |  ----  |

[2021-04-12 12:50] pzeinlinger commented on #1198
Hey @a8m, after this merge, there seems to be a problem scanning nil strings from the database to custom gotypes.
Nil values in db are not unmarshaled as nil pointers but as zero values.

Quick demo: https://github.com/pzeinlinger/ent-nil-demo

[2021-04-12 13:22] pzeinlinger opened #1449 "Unmarshal database null to custom GoType nil not working"
- [x ] The issue is present in the latest commit on master.
- [x ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Null values from the database are unmarshaled to zero values, when custom GoTypes are used for string field

## Expected Behavior 🤔

Null values should be represented by nil value

[2021-04-12 18:58] a8m commented on #1448
Hey @dybxin,
Are you trying to update this table directly? Because this is possible today like this:

[code]

[2021-04-13 02:25] dybxin commented on #1448
@a8m yes, thanks a lot.

[2021-04-13 03:34] demobin8 opened #1450 "does ent support graphql federation?"

[2021-04-13 06:50] a8m commented on #1448
Sure, happy to help!

Please feel free to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) in the Gophers Slack. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

Closing.

[2021-04-13 06:50] #1448 closed

[2021-04-13 08:22] wenerme commented on #1445
@a8m would you mind to release a new version ?

[2021-04-13 08:30] a8m commented on #1198
I'll give it a look. Thanks for letting me know this.

[2021-04-13 08:50] a8m commented on #1449
Hey @pzeinlinger, I just checked this, and the `Nillable` option doesn't work also in v0.7.0 for custom Go types (before #1428 was added).

The reason for it is because the runtime code is not able to figure out if the scanned value is valid or not (unlike in all `database/sql` types that have a boolean field named `Valid`).

My suggestion is to add support for `Valid` method/field in the codegen

[2021-04-13 09:07] a8m commented on #1449
The other approach is to wrap the Go type with a custom scanner, that will tag the value as valid if it's not NULL.

[code]

[2021-04-13 10:18] a8m commented on #1450
Hey @demobin8,
Can you elaborate on what do you mean by supporting federation? What do you expect from ent to support in this case?

[2021-04-13 10:19] a8m commented on #936
Thanks for reporting this @washanhanzi. I'll give it a look.

[2021-04-13 16:55] sistecma opened #1454 "How to represent a blob field for mysql database?"
Hello,

My use case requires to store blob in a mysql database. I've checked the documentation but I don't see where / how to do it. Perhaps with the "Other" type?, Can you please point a short fragment of code?

[2021-04-13 17:36] a8m commented on #1454
Hey @sistecma, you can use the `field.Bytes` type as follows:

[code]

[2021-04-13 17:38] a8m commented on #1454
Closing, but please reopen if you still need help with this.

Also, you're welcome to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) in the Gophers Slack. If you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-04-13 17:38] #1454 closed

[2021-04-13 21:03] sistecma commented on #1454
Excellent , thanks for the quick feedback. I already subscribed to the slack and newletter.

Saludos,

[2021-04-14 03:24] demobin8 commented on #1450
Never mind about federation, it's support by gqlgen.
And, Excuse for my noob, How to elegant deal with the entity association between two databases of two microservices in ent?

[2021-04-14 07:42] washanhanzi opened #1455 "Auto migration should support all dialect native type"
Now, during auto migration, only part of dialect native type have been checked to be `field.Other` type, like the newly added  MySQL spatial types in `0.7.0`. Though a lot of dialect native type haven't been checked, and the auto migration process will report:
[code]
like the postgres native `tstzrange` or `array` type.

I think maybe it is too brutal to check all unsupported dialect native type t

[2021-04-14 08:13] #1450 closed

[2021-04-14 09:11] dybxin commented on #1448
@a8m im sorry, i can't join the slack invitation link , please sure the link correct?

[2021-04-14 11:23] a8m commented on #1448
This is the link to the Slack channel - https://app.slack.com/client/T029RQSE6/C01FMSQDT53

[2021-04-14 11:24] a8m commented on #1448
This is the link to the Slack channel - https://gophers.slack.com/archives/C01FMSQDT53

[2021-04-14 11:30] a8m commented on #936
Hey @washanhanzi, I added support for Postgres array types in the schema migration (https://github.com/ent/ent/pull/1456).

Your example should work now. Please let me know if you have any issues with it.

I'm leaving this issue open because we plan to provide additional support for Postgres array types (update by index, additional predicates, etc).

[2021-04-14 12:30] SladeThe commented on #936
Great news! Could you provide any estimation? @a8m

[2021-04-14 13:10] washanhanzi commented on #936
Thank you. I opened another issue (#1455) related to this if you don't mind. I saw a lot of tedious works related to those native types like the recent `0.7.0` mysql geospatial data type. Maybe there is a one time for all solution to those native types in auto migration?

[2021-04-14 14:13] dybxin commented on #1448
@a8m thanks a lot.

[2021-04-14 20:06] a8m commented on #1445
Done, https://github.com/ent/ent/releases/tag/v0.8.0

[2021-04-15 08:08] wahello opened #1459 "How add check and unique Constraints?"
#### How to add check constraint and unique constraint?

[2021-04-15 10:05] Naist4869 commented on #1024
+1

[2021-04-15 12:12] h7kanna opened #1460 "Is it possible to generate readonly (SELECTs only) code?"
Hi, I want to develop an application that has read-only access to Database, It is just used for SELECT's. In the default configuration, the code generates CRUD API. How can we restrict an entity to be only read-only, that is only generate the READ part of the CRUD and the predicates?

[2021-04-15 16:56] mgabeler-lee-6rs commented on #1449
I ran into this same issue today, updating my code to 0.8.0. I think the `NullScanner` pattern is much more intuitive for users. As a user, I'd expect my custom types to behave more or less the same as built-in types. If a `*string` or `*bool` can handle NULLs in the "natural" way, I'd intuitively expect a `*MyType` to do the same. Making that work also can avoid a bunch of excess code along the l

[2021-04-15 16:59] mgabeler-lee-6rs commented on #1168
The changes to 0.8.0 indeed resolved this for me, and so I now have `type Interval = time.Duration` with all my custom methods attached (and `type NullInterval struct { ... }` to address the issues on #1449.

The project in which I've built these is slated to be open sourced "soon", so I'd be happy to contribute a cleaned up version of them (e.g. with reasonable MySQL support, and better SQLite su

[2021-04-15 17:07] a8m commented on #1459
Hey @wahello and thanks for opening this issue.

Are you talking about [CHECK constraints](https://www.postgresql.org/docs/9.4/ddl-constraints.html)? Regarding the unique constraint, you can use the [`Unique()`](https://entgo.io/docs/schema-fields/#uniqueness) option or define a [unique-index](https://entgo.io/docs/schema-indexes) on the field.

[2021-04-15 17:09] a8m commented on #1449
Yeah, I decided to go with the `NullScanner` option and I plan to send a patch for this soon.

[2021-04-15 17:45] a8m commented on #1460
Hey @h7kanna, I actually wanted to add this functionality using a [feature-flag](https://entgo.io/docs/feature-flags) a long time ago.  We can add this to the next release because I expect the change is not too big.

Since it's not supported at the moment, you can block mutations using [hooks](https://entgo.io/docs/hooks) or defining a read-only driver.

[code]

[code]

[2021-04-15 17:49] h7kanna commented on #1460
Hi Thanks for your quick response. I am actually looking to be able to generate less code for the readonly app.
I will wait for the feature-flag. Ent is awesome!

[2021-04-15 18:34] a8m commented on #1460
Sure, as I mentioned above, I wanted to add this functionality a long time ago because I have a generated ent-client that uses [osquery](https://osquery.io/) actually, so I'm going to address this in the upcoming weeks. Thanks!

[2021-04-16 01:11] wahello commented on #1459
[Unique()](https://entgo.io/docs/schema-fields/#uniqueness) works on unique Constraints.
#### How about two columns or more in CHECK constraint?

[2021-04-16 16:22] wenerme opened #1465 "0.8 custom id generate invalid code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

in sqlAll

![image](https://user-images.githubusercontent.com/1777211/115054497-d82d3080-9f12-11eb-8203-9b4b3c72da16.png)

the id type is

[code]

## Expected Behavior 🤔

working

## Steps t

[2021-04-16 16:24] wenerme commented on #1465
BTW, code in 0.7

![image](https://user-images.githubusercontent.com/1777211/115054808-3c4ff480-9f13-11eb-96cc-378557df6a40.png)

[2021-04-17 02:17] kidlj opened #1466 "Unique index on two edges misconfigured"
When defining an unique index on two edges(without on fields), ent generates misconfigured unique constraints on foreign key referencing field.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Suppose I need to add an unique index(constra

[2021-04-17 02:24] timoha opened #1467 "entgql: Expose `ToCursor` methods on mutated objects"
## Summary 💡

Relay [supports](https://relay.dev/docs/guided-tour/list-data/updating-connections/#using-declarative-directives) `@appendEdge` and `@prependEdge` directives in order to seamlessly update connections after mutations are committed. It would be great to expose `ToCursor` method on a node in order to construct edges from the saved mutations responses.

## Motivation 🔦

Currently I have

[2021-04-17 06:34] a8m commented on #1467
Hey @timoha and thanks for proposing this. I'm tagging @alexsn and we'll discuss it after the weekend.

[2021-04-17 06:35] a8m commented on #1465
Thanks for reporting this @wenerme. This happens also in v0.7.0, right?

[2021-04-17 06:36] a8m commented on #1466
Hey @kidlj and thanks for reporting this issue. I'll check this.

[2021-04-17 06:37] wenerme commented on #1465
@a8m no, v0.7 is working, rollbacked to v0.7, the `&sql.NullString{}` syntax is ok

[2021-04-17 07:18] giautm commented on #1467
Hey @timoha, Are you looking for this? Just need to call ToEdge to creare edge with correct order.

https://github.com/ent/contrib/pull/24

entgql/template/pagination.tmpl

[2021-04-17 10:21] a8m commented on #1449
Hey @pzeinlinger, the issue was fixed with https://github.com/ent/ent/pull/1469. The code now wraps nillable scanner types with `sql.NullScanner`, and assigns the value to the struct field only if the input is valid (not nil). But note that your custom type should handle null inputs as well.  The change is as follows:

[code]

I checked it on your repository btw and it worked. Closing 😃

[2021-04-17 10:21] #1449 closed

[2021-04-17 10:40] a8m commented on #1465
Hey @wenerme, the issue was fixed and works fine now in master (see example in https://github.com/ent/ent/pull/1470).

Thanks for reporting this issue 🙏

[2021-04-17 10:40] #1465 closed

[2021-04-17 10:46] a8m commented on #1459
2 or more columns can be added with [custom index](https://entgo.io/docs/schema-indexes) as follows:

[code]

Regarding the `CHECK` constraint, can you elaborate on what type of CHECK are you trying to add? Maybe provide an SQL example.

We can support adding custom CHECK clauses using the `entsql.Annotation`. It's actually an easy task, so let me know if you're interested to contribute this featu

[2021-04-17 10:59] a8m commented on #1466
Hey @kidlj, I created the following schema and I'm not able to reproduce this:

[code]

Your test passed without any issues, and the generated schema looks fine as well:

[code]

Can you please provide a complete example in a temporary repository to reproduce this? Thanks

[2021-04-17 11:21] kidlj commented on #1466
Hi @a8m, I rechecked my schema, and found that I made a mistake.

[code]

After correcting this, the test passed.

It's my fault. Sorry and thanks for your time.

[2021-04-17 11:21] #1466 closed

[2021-04-17 13:50] Morishiri opened #1471 "Selecting mean from relation (edge) property"
I'm trying to select aggregation by edge relation. Is it even possible?
I have object with relation to opinions. Each opinion holds rating field. I want to have list of objects with average rating attached to them.
What I came up with is something like below, but it still gives me full opinions list instead of just average rating. And I kind of know what I'm doing wrong, but I don't know how to ch

[2021-04-17 13:50] Morishiri commented on #1471
@a8m tagging you as requested on Slack

[2021-04-17 17:27] a8m commented on #1455
Hey @washanhanzi and thanks for proposing this.

Postgres array types were added to the auto-migration tool in v0.8.0. However, in the upcoming milestone, we plan to focus on schema migration for SQL databases (another alternative to the auto-migration one). I'll post a proposal issue in the upcoming days and link to this issue. Thanks 🙏

[2021-04-17 17:33] timoha commented on #1467
Yup, that pretty much addresses my use case, didn't realize to check contrib repo, thanks you!

Don't know if there's some other good use case for exposed ToCursor api. Please feel free to close the issue.

[2021-04-17 17:34] a8m commented on #1466
Sure, happy to help! 😃

[2021-04-17 18:53] #1467 closed

[2021-04-17 21:02] sywesk opened #1472 "Partial indexes support"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Basic support for partial indexes (ie indexes over table subsets).

## Motivation 🔦

Partial indexes are really helpful for unique indexes when combined with soft delete. To date, postgres & sqlite support this feature. Quick example:

[code]

I wou

[2021-04-18 03:04] gedw99 opened #1473 "grpc / proto code gen"
@rotemtam

Are the models and Services generated as different files ?

Example: https://github.com/amplify-edge/sys-share/tree/master/sys-account/proto/v2

It would be good for me if they are because i dont transport the protobuf over http only, but also over webrtc.

---

Also i saw the new Protobuf objects in a BLOB column. Looks really interesting.
Are you planning to support Schema evolution a

[2021-04-18 05:53] rotemtam commented on #1473
Hi @gedw99 ,
Thanks for reaching out!

As you can see in https://github.com/ent/contrib/tree/master/entproto/internal/todo/ent/proto/entpb, the proto generation code yields a single .proto file per package. I'm not sure I understand why separating the .proto file into two chunks would be useful in your use case, can you elaborate? In any case, the models are generating in addition to the service d

[2021-04-18 12:48] bodokaiser commented on #400
I cannot find any `entsql.PrimaryKey`?

[2021-04-18 17:02] gedw99 commented on #1473
Everything you said about GRPC schema evolution makes perfect sense. Is there going to be a integration of transaction hook into this GRPC approach So I can do event updates and hence manage quasi materialised views and cdc patterns ? The Ent hooks layer looks really useful for managing views in the dB and then also change events on those views.

The reason for separation in our case is to do with

[2021-04-18 17:50] rotemtam commented on #1473
Good questions @gedw99 !

Out of the box you can use [runtime hooks](https://entgo.io/docs/hooks#runtime-hooks) since those can be configured on the ent client before it is injected into the generated gRPC service. In the future, we may add a way to integrate with transaction hooks. How would you expect such an API to look like?

A general word of advice, depending on your requirements, but writin

[2021-04-18 21:20] vojta001 commented on #400
@a8m How does eager loading fit into your proposal? Will ent generate proper joins for me?

[2021-04-19 03:57] godcong opened #1474 "mutation want bind to ent generated schema struct"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When we update some data through http, we usually use the struct generated by the schema.
However, when assigning values, we can only use the Set method to set them one by one.

## Expected

[2021-04-19 06:59] wahello commented on #1459
Not that simple, such as table as following:
`
SomeTable struct {
   ID
   A  string
   B string
}
`
Just make sure when A is null, B not null, and A is not null, b is null.

And there are many other applications like that.

[2021-04-19 07:04] gedw99 commented on #1473
Yep transaction hooks are useful for general things like then sending an event to your event bus to tell another system something happened. Like when you store files in minio, but model the directory structure in the SQL DB for example.
A CDC hook tells you the before and after state typically. But these hooks are not for the cdc use case, so i think maybe the schema, table and row data is enough,

[2021-04-19 07:13] wahello commented on #1474
Maybe you want is set members' value in one batch, not just set member value one by one, like
`
client.User.Create().
SetAge(22).
SetGender("m").
SetFirstName("tom")

`

Is that's right?

[2021-04-19 07:23] wahello opened #1475 "How to set members's value in one batch?"
Like User table:

[code]

And create one record.

[code]
It's not a good idea set members' value one by one.

[2021-04-19 08:12] a8m commented on #1475
Hey @wahello, you can extend the code-generator to accept custom input types for the different builders.

It's already asked here a few times, and I added a section for it in the [FAQ](https://entgo.io/docs/faq#how-to-create-an-entity-from-a-struct-t) page on our website. Also, a new tutorial for creating such input-types is going to be uploaded to our website today (see https://github.com/ent/ent

[2021-04-19 09:29] #1429 closed

[2021-04-19 10:10] a8m commented on #1429
Hey @wenerme and @yeyep,
The tutorial is available now at https://entgo.io/docs/tutorial-todo-gql-mutation-input. Feel free to read it and propose improvements.

[2021-04-19 10:32] giautm commented on #1429
Hey @a8m, I just try to copy the template and apply it to my current project. When I run `go generate ./...`, it says:
[code]

[2021-04-19 11:20] wahello commented on #1475
@a8m Yes, I need an example as mentioned. Thanks.

[2021-04-19 11:37] a8m commented on #1471
Hey @Morishiri and thanks for opening this issue. I added an [example](https://entgo.io/docs/aggregate#group-by-edge) on the documentation on how to do such queries.

Please update to the latest master in order to run such examples, as I added a fix in https://github.com/ent/ent/pull/1478.

[code]

Let me know if you need further help with it or we can close the issue. Thanks 🙏

[2021-04-19 14:41] Morishiri commented on #1471
Hey @a8m, thanks for all your work here! Great to see such fast answer.

I'm however still having trouble. In your example `pet` doesn't have ID column. In my case both entities have it and I'm getting `pq: column reference "id" is ambiguous` when using it like this:

[code]

How can I specify the correct field so it's no longer ambiguous?

[2021-04-19 15:07] a8m commented on #1471
Hey @Morishiri, what ent version do you use? You can check this with:

[code]

Can you try to update to the latest master using `go get entgo.io/ent@master`, re-run the codegen, and report if that still happens?

[2021-04-19 15:08] a8m commented on #1471
BTW, you're welcome to share with me an example-repo and I can help with this there.

[2021-04-19 15:32] a8m commented on #1475
We upload a new tutorial to our website on how to do it. You're welcome to go over it [here](https://entgo.io/docs/tutorial-todo-gql-mutation-input) and reopen the issue if you have any troubles with implementing this.

Thanks 🙏

[2021-04-19 15:32] #1475 closed

[2021-04-19 15:39] a8m commented on #1474
Hey @godcong and it's great to see you here again 😃

I think you're looking for something like the [mutation-input](https://entgo.io/docs/tutorial-todo-gql-mutation-input) tutorial, or [this example](https://entgo.io/docs/faq#how-to-create-an-entity-from-a-struct-t) from our FAQ page.

TL;DR - you can generate input types (for GraphQL or REST) and use only one method for setting the values on the

[2021-04-19 16:41] Morishiri commented on #1471
I did it as you described in previous comment:
[code]

[2021-04-19 16:51] Morishiri commented on #1471
@a8m works! Thanks! You can close the issue :)

[2021-04-19 17:20] Morishiri commented on #1471
@a8m while we are still in the topic. is it possible to maybe order by aggregated field? I'm able to write such query, but it looks like `Order` methods are not generated for `Aggregation`.

[2021-04-19 18:13] a8m commented on #1471
You can add this to your custom aggregation function as follows:

[code]

Closing, but please feel free to continue the discussion if you still have questions on this topic. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-04-20 06:01] wenerme opened #1481 "custom string ID can not impl Scanner"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/1777211/115344923-a05b0d00-a1e0-11eb-83f4-9dfc4bcb6404.png)
![image](https://user-images.githubusercontent.com/1777211/115344934-a51fc100-a

[2021-04-20 06:04] wenerme commented on #1481
Maybe should use `*so.DeletedByID = *value.S.(*models.ID)` ?

[2021-04-20 06:21] a8m commented on #1481
Hey @wenerme and thanks for reporting this. Can you please share here how the field was declared in the schema?

[2021-04-20 06:25] wenerme commented on #1481
@a8m Maybe this is caused by using `modules.ID` as go type, I'll try to use `new(modules.ID)` and check again.

[2021-04-20 06:35] wenerme commented on #1481
@a8m After using `new(modules.ID)` the problem seems solved, but the primary key has to be *modules.ID too, but the query sqlAll not happy with this

![image](https://user-images.githubusercontent.com/1777211/115348761-a30c3100-a1e5-11eb-8466-575bf4c1a1e6.png)

[2021-04-20 06:43] wenerme commented on #1481
@a8m Updated the reproduce demo, here is the problem https://github.com/wenerme/ent-demo/blob/master/ent/pet_query.go#L385

[2021-04-20 06:52] wenerme commented on #1481
Seems 0.8 is not easy to get, after upgrade, only the ptr impl the Scanner interface, make some field looks odd, e.g. the primary ID has to be ptr, a required id field has to be ptr, using struct as ID field makes the dx worse.

[2021-04-20 08:11] a8m commented on #1481
I think https://github.com/ent/ent/pull/1483 should fix the problem. Can you look at this PR and let me know if these test cases cover your use case? Thanks

[2021-04-20 08:31] wenerme commented on #1481
@a8m OK, I'll check this

[2021-04-20 08:41] wenerme commented on #1481
@a8m problem still exists

if using *models.ID as primary id, edge us *models.ID the problem is

![image](https://user-images.githubusercontent.com/1777211/115365232-c4294d80-a1f6-11eb-909f-7cb6efbfae6f.png)

if using models.ID as primary id, edge us *models.ID  the problem is

![image](https://user-images.githubusercontent.com/1777211/115365367-e58a3980-a1f6-11eb-816d-b417f5b19cab.png)

if all us

[2021-04-20 08:48] wenerme commented on #1481
Seems the last runtime error is not related to this problem.

[2021-04-20 09:00] michaelkub opened #1484 "Case insensitive search"
Hi,
I needed to perform case insensitive search, I didn’t find generated predicate for this, but because I am using mariadb, I used the following approach :
`field.String("name").SchemaType(
			map[string]string{
				dialect.MySQL: "varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL",
			}),`
and it worked great.
So, is this approach will continue to work and won't be remove in next versions or

[2021-04-20 09:16] wenerme commented on #1481
The last error stack, related to the id type

[code]

[2021-04-20 11:47] a8m commented on #1484
Hey @michaelkub and it's great to see you here again :)

Ent generates case-insensitive predicates for string fields named `<F>ContainsFold` and `<F>EqualFold`. Don't you see thse predicates in your project?

[2021-04-20 12:06] a8m commented on #1481
Hey @wenerme, I cloned your repository and updated ent to the latest version of master and it works for me. However, there's some change you need to do in your code and it's to not return an error on `nil` values in the `ID.Scan` method, because foreign keys are optional in your case (you call for `ClearOwningUserID` in your test case):

[code]

Let me know if we can close the issue.

[2021-04-20 12:40] wenerme commented on #1481
My mistake, problem solved, the initial code is copy from https://github.com/ent/contrib/blob/8afe5dc42745447c22af1708b8ba197e520c2c3b/entgql/internal/todopulid/ent/schema/pulid/pulid.go#L63 , great work.

[2021-04-20 12:40] #1481 closed

[2021-04-20 15:18] wenerme opened #1485 "using ptr for uuid will import wrong path"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

define schema using 	"github.com/google/uuid", generated using 	"github.com/xtgo/uuid", when running the cast will failed

[code]

## Expected Behavior 🤔

using correct import

## Steps to R

[2021-04-20 15:25] wenerme commented on #1485
[code]

but the second case will cause db contain

![image](https://user-images.githubusercontent.com/1777211/115422629-aaf0c300-a22f-11eb-94d3-7363fab327e1.png)

[2021-04-20 18:59] a8m commented on #1485
Hey @wenerme, the difference comes from the `new(uuid.UUID)` declaration. Why do you use it this way? If you want to have a pointer for null values, use the `Nillable()` option instead.

The imports still need to be resolved for pointers. I'll send a patch for it later.

[2021-04-21 03:08] owen-gxz commented on #1277
@Ackerr @a8m Is there any way to solve it?

[2021-04-21 05:15] godcong commented on #1474
@a8m I tried it and it works
Now I share my template with everyone.
Some methods of Softdelete are added inside

[code]

[2021-04-21 05:17] #1474 closed

[2021-04-21 05:58] wenerme commented on #1485
@a8m UUID do not have Nillable,
![image](https://user-images.githubusercontent.com/1777211/115503837-a49f2d00-a2a9-11eb-8f1d-e82e78b2e4ac.png)

[2021-04-21 06:18] a8m commented on #1485
Good it. So, it needs to be added.
Do you want to contribute this change?

[2021-04-21 06:20] a8m commented on #1474
Thanks for sharing this @godcong 🙏

[2021-04-21 06:38] wenerme commented on #1485
@a8m OK

[2021-04-21 07:22] a8m opened #1486 "proposal: add support for ent/schema versioning"
In this proposal, we suggest adding new functionality to the code-generation phase to compare the "current version" of the ent/schema with its "previous version".

This new capability will help the code-generator to give feedback on the new schema changes. For example, when a new field is added (by the user) to an existing schema, ent will suggest you add it with a default value, or make it option

[2021-04-21 07:50] a8m commented on #1486
Moved to https://github.com/ent/ent/discussions/1487.

[2021-04-21 07:50] #1486 closed

[2021-04-21 08:05] vojta001 opened #1488 "`Default` annotation is ignored for IDs"
The `Default` field annotation is silently ignored for fields named `id`.

For this entity definition
[code]

the following schema is created
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
The field named `id` has no SQL default.

[2021-04-21 09:14] a8m commented on #1488
Hey @vojta001 and thanks for reporting this.

We should fix this and your contribution is more than welcome 😃

The logic should be copied from here:

https://github.com/ent/ent/blob/91dda6230f8e765c7610b829956b0930f79332d6/entc/gen/type.go#L1155-L1157

To the `PK` method:

https://github.com/ent/ent/blob/91dda6230f8e765c7610b829956b0930f79332d6/entc/gen/type.go#L1185

[2021-04-21 14:46] gopkg-dev opened #1489 "How does a non-primary key field make it a foreign key ?"

[2021-04-21 15:13] rotemtam commented on #1489
Hi @gopkg-dev
Thanks for reaching out.
I'm not sure I follow, can you explain what you're trying to achieve and what isn't working as you expect ?

[2021-04-21 16:30] a8m commented on #1485
@wenerme - let me know if you need help with this, or if you want me to take this. Thanks 🙏

[2021-04-21 16:53] wenerme commented on #1485
@a8m I'll do this late this week, kinda busy these two days

[2021-04-21 17:28] kevinxxq opened #1490 "protoc: No such file or directory ent\proto\entpb\generate.go:2: running "protoc": exit status 1"
Hi, Sir
I would like to reproduce the project as your blog https://entgo.io/blog/2021/03/18/generating-a-grpc-server-with-ent/
but stuck at the below steps:

_After installing these dependencies, we can re-run code-generation:
go generate ./..._

My command line path:

D:\GoWorks\src\ent-grpc-example>go generate ./...
Could not make proto path relative: entpb\entpb.proto: No such file or directory

[2021-04-22 02:23] gopkg-dev commented on #782
Hello, I ran into the same problem.
When UID is not the primary key, what should I do to use it as a foreign key.

[2021-04-22 03:29] gopkg-dev commented on #1489
@rotemtam

[2021-04-22 07:21] rotemtam commented on #1489
If I understand correctly, you have some entity A that has some identifying field F that is not the ID field. In addition, you have a second entity B that needs to have an edge to entities of type A.  You would like this edge to use field F instead of the ID field for A?

AFAIK, currently ent does not support this use case, but can you please explain what you're trying to achieve by doing so? Why

[2021-04-22 07:23] rotemtam commented on #1490
Hi @kevinxxq , thanks for reaching out!
My first thought is that this is somehow related to Windows path backslashes. I actually haven't tested this flow on Windows, but we can work together to resolve this and fix the tutorial.

Can you share the contents of ent\proto\entpb\generate.go?
Thanks 🙏

[2021-04-22 07:28] rotemtam commented on #1443
hi @v3n,
as @wenerme mentioned, ent has extensive support for hooks in many layers of the framework.  many users use hooks to express complex logic on entity mutations, enforce privacy (authorization) policies and as middleware (loggers, auditors, metrics, tracing, ... ). You can read more about it here:
https://entgo.io/docs/hooks

[2021-04-22 08:14] gopkg-dev commented on #1489
Thank you for understanding my question.
I hope to achieve this function.

I looked at the source code, it is possible, hope to open this function.
`Reference().Table("A").Columns("F")`
https://github.com/ent/ent/blob/762e6aeff9d92f4b2af45932274401674462297f/dialect/sql/builder_test.go#L87

[2021-04-22 09:07] rotemtam commented on #1459
@wahello I'll leave it to @a8m to answer if it's possible to set these constraints on the database DDL statements, but have you considered doing this applicatively using [Schema Hooks](https://entgo.io/docs/hooks#schema-hooks)?

[2021-04-22 11:16] #1488 closed

[2021-04-22 11:27] rotemtam opened #1495 "Testing all-contributors bot"
@all-contributors please add @a8m  for maintenance

[2021-04-22 11:30] rotemtam commented on #1495
@all-contributors please add @rotemtam  for code

[2021-04-22 11:36] a8m commented on #1489
Hey @gopkg-dev, can you paste here the expected SQL schema query or at least part of it? (e.g. `CREATE TABLE...`)

[2021-04-22 11:52] gopkg-dev commented on #1489
@a8m

[code]

[2021-04-22 12:06] rotemtam commented on #1495
@all-contributors please add @a8m for maintenance, code and docs

[2021-04-22 12:17] rotemtam commented on #1495
@all-contributors please add @alexsn @tmc @cliedeman for code

[2021-04-22 14:03] kevinxxq commented on #1490
Hi Rotem,
Thank you very much for your response.
I just run it again today and it works as expected. It is great guideline for me and I am very excited to see your new version with more functions.

Back to the errors, I guess the cause may be I have installed protoc many locations and it need a include folder for golang(I am working on .Net platform and try to implement it by golang)  and the path

[2021-04-22 14:03] #1490 closed

[2021-04-22 18:15] #1495 closed

[2021-04-22 19:18] a8m commented on #1283
@rotemtam, can we close this issue?

[2021-04-22 20:00] #1283 closed

[2021-04-23 01:00] wahello commented on #1459
@rotemtam  I'll try it. Thanks.

[2021-04-23 05:12] 1211ciel opened #1501 "Where to configure the database connection pool"
Where to configure the database connection pool

[2021-04-23 05:23] rotemtam commented on #1501
hey @1211ciel ,
thanks for reaching out.
You can read all about different sql.DB configuration [here](https://entgo.io/docs/sql-integration)

[2021-04-23 05:27] rotemtam commented on #1459
Perfect, please share your experience with it afterward!

[2021-04-23 05:31] rotemtam commented on #1489
Thanks for sharing @gopkg-dev , do you mind elaborating on why not use app.id is the FK for the seller table? It seems simpler to me, not to mention that app.id is indexed and therefore lookups should be faster.

[2021-04-23 06:33] a8m commented on #1489
This option is not supported atm. We can add the reference column to the storage-key configuration, but I expect some work on the codegen as well.

I'd be happy to hear the motivation for this design @gopkg-dev (i.e. why not use the id column as a reference). We can leave it open, see if more users interested in this, and may add this functionality.

[2021-04-23 12:39] a8m commented on #1484
Closing, but please feel free to reopen if you didn't find those methods or you have some trouble generating them. Thanks 🙏

[2021-04-23 12:39] #1484 closed

[2021-04-23 13:42] kevinxxq opened #1503 "invalid version: unknown revision 6ca33c3cddee"
Hi Great Team,
I got an error:
1).In the go.mod, it shows message:
**_go.sum is out of sync with go.mod. Please update it by applying the quick fix.go list_**

2).Then I run go list as request:
D:\GoWorks\src\OSC>**_go list_**
go: entgo.io/contrib@v0.0.0-20210422270505-6ca33c3cddee: missing go.sum entry; to add it:
        go mod download entgo.io/contrib

D:\GoWorks\src\OSC>**_go mod download ent

[2021-04-23 14:04] kevinxxq commented on #1503
Hi Team,
I deleted go.mod, go.sum and then go mod init ****, go mod tidy, it download a different version:
entgo.io/contrib v0.0.0-20210422070405-6ca335ec4de1

Now every file turns "green" without warning messages.

I don't know whether there are proper means to eleminate the warnings.

Thank you.

[2021-04-23 15:33] #1485 closed

[2021-04-24 11:55] #1503 closed

[2021-04-25 04:12] 1211ciel commented on #1501
thank you!

[2021-04-25 04:13] #1501 closed

[2021-04-25 04:19] 1211ciel opened #1506 "Question: How to separate the table query? (Horizontal table query)"
Hello, teams :)
thank you for working hard for the awesome project.

I encountered a big problem, how to separate the table query?  (Horizontal table query)
I want to curd opreation just Like table
user_0
user_1
user_2
[code]

[2021-04-25 05:12] rotemtam commented on #1506
Hi @1211ciel
Thanks for reaching out. I'm not sure I understand what you are trying to achieve. Can you elaborate more about your use case? What are you trying to do ?

[2021-04-25 05:22] 1211ciel commented on #1506
User table, sub-table operation
If there is only one user table, store the three user information in one table.

But I want to divide the user table into 3 tables based on user ID and store them in 3 tables.
E.g:

User_0
User_1
User_2

If the user ID is 1, then
1%3 = 1 stores the user in the user_1 table.

Therefore, when querying, you need to specify the number of the table to be checked.

[2021-04-25 05:34] rotemtam commented on #1506
I see. I'm not sure ent has such facilities for entity level sharding at the moment (cc @a8m).

[2021-04-25 05:37] 1211ciel commented on #1506
Thank you for your answer~

[2021-04-25 05:49] a8m commented on #1506
Hey @1211ciel,
There's no built-in option to change the table dynamically for queries/mutations, but you can add it to your project using [external templates](https://entgo.io/docs/templates/). Be aware that some queries/mutations require more than one table (e.g. updating or querying associations).

You can use the [sql/schemaconfig](https://entgo.io/docs/feature-flags#schema-config) feature-flag

[2021-04-25 05:56] 1211ciel commented on #1506
Surprised, it can be done like this...
[code]
[code]

[2021-04-25 06:04] 1211ciel commented on #1506
Thank you~ @a8m

[2021-04-25 12:12] a8m commented on #1506
Great, closing. Ping me if you need any help with this.

[2021-04-25 12:12] #1506 closed

[2021-04-25 15:02] joesonw opened #1507 "entc confused when GoType referenced value's package name doest not match directory name"
When I was using GoType to reference a value in another package, where the directory name and package name does not match, it will not generate correct code

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

imports messesd up

## Expected

[2021-04-25 15:09] a8m commented on #1507
Thanks for reporting this @joesonw. I'll give it a look

[2021-04-25 15:55] a8m commented on #1507
@joesonw - I'm not able to reproduce this. Can you please try to update ent to the latest master and re-run codegen?

[code]

If it still happens, can you please share an example (in a GitHub repo) so I can reproduce this?

[2021-04-25 16:04] #995 closed

[2021-04-25 23:31] kkom commented on #1473
The CDC discussion is very interesting and relevant to one of the reasons why we're interested in exploring entproto. Thanks for raising it!

@rotemtam - I think that using the transactional outbox pattern could make CDC in the application layer safe. Am I missing something? Or do you think there is any reason why it would be difficult to implement/ not a great idea with entproto?

[2021-04-26 03:03] joesonw commented on #1507
@a8m sorry for the delay. but I've managed to come with an example here, https://github.com/joesonw/ent-issue-1507. the file with problem is here https://github.com/joesonw/ent-issue-1507/blob/master/ent/user.go

thank you

[2021-04-26 06:11] gedw99 commented on #1473
@kkom here is an implementation of the  transactional outbox pattern in golang for postgresql.

https://github.com/obsidiandynamics/goharvest/wiki/Comparison-of-messaging-patterns

[2021-04-26 06:29] rotemtam commented on #1473
@kkom yes, should be quite possible to do with ent generically. If you or @gedw99 (or both!) want to take a stab at it, sync with me on our slack channel so we can coordinate.

[2021-04-26 07:37] kkom commented on #1473
Great! Thanks for the quick response both!

To set the right expectations - definitely not now, but maybe in a few months time?

It depends on whether ent + entproto is something we want to seriously explore as the fundamental data layer in the company I'm at, similar to https://engineering.fb.com/2013/06/25/core-data/tao-the-power-of-the-graph/

It's a much wider discussion so I'll start a new th

[2021-04-26 08:03] gedw99 commented on #1473
Yep would be great to collaborate on this.

[2021-04-26 08:03] gedw99 commented on #1473
Please post forum link

[2021-04-26 08:22] gedw99 commented on #1473
i am currently playing with using https://github.com/MaterializeInc/materialize btw for CDC.

Its rust, not golang.

It supports many sources: https://materialize.com/docs/sql/create-source/
postresql, s3, files.

The sink is the Materialised Views exposed by Materialize, and the change stream off those Views.

[2021-04-26 13:33] cliedeman commented on #1472
I investigated this a while back so I can write down some pointers. I suggest you start with either postgres or sqlite to keep the pr smaller for the first pass

Steps:

1. Add `WhereClause` field to `schema.Index` struct
2. Add `WhereClause` to the `entsql.Annotation` so that users can specify a partial index
3. Amend the indexes method in schema for the postgres dialect to populate the `WhereCla

[2021-04-26 13:57] #1507 closed

[2021-04-26 13:58] a8m commented on #1507
Thanks for the example @joesonw. The issue was fixed with #1511

[2021-04-26 14:56] joesonw commented on #1507
@a8m Thank you !!! It is working as expected now.

[2021-04-26 18:47] sywesk commented on #1472
Thanks @cliedeman for your precious inputs. I'm starting working on it.

[2021-04-26 19:03] a8m commented on #1507
Sure, happy to help! Thanks for the informative issue!

Also, you're welcome to join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) in the Gophers Slack and if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

@all-contributors please add @joesonw for bug report.

[2021-04-27 12:38] petersondmg opened #1513 "Keep order of Fields and Edges columns on indexes"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

should generate a different index than

[code]

## Motivation 🔦

The order of columns on index is relevant.
Currently `Edges` columns are always added after `Fields` columns and this prevents more specific optimizations.

[2021-04-27 16:13] a8m commented on #1513
Hey @petersondmg and thanks for suggesting this.

You can achieve this today by using [edge fields](https://entgo.io/docs/schema-edges#edge-field). I added [an example](https://github.com/ent/ent/pull/1514) to our integration tests. Would you like to add it to our documentation?

[2021-04-28 13:15] birwin93 opened #1517 "Custom Entity For Join Table"
Is it possible to declare the join table for a M2M relationship as its own entity? Something like this

[code]

When I run `go generate ./ent` then migrate, it complains that it creates duplicate `Employee` tables

[2021-04-29 13:49] a8m commented on #1517
Hey @birwin93,
Are you looking to add additional fields to the relationship, right?

It's possible to do it manually today as I did [here](https://github.com/ent/ent/pull/1518), but you can't configure the primary key on the relationship columns. Instead, you need to create an index to enforce uniqueness on the relationship columns (see my example) and the relationship table will have an additiona

[2021-05-01 18:57] a8m opened #1525 "entc/gen/template: typo in generated comment for IsValidationError function"
Typo in generated comment for `IsValidationError` function: https://github.com/ent/ent/blob/34aabc0eb13c1ab0d41de65887556a46699b462d/entc/gen/template/base.tmpl#L92-L99

The comment needs to be fixed as follows `validaton -> validation`:

[code]

[2021-05-01 20:36] shanna opened #1526 "Custom XID ID type and contrib graphql generation unexpected list of pointers."
Hi, as explained on Slack I've been playing with a custom XID https://github.com/rs/xid type for Ent using the graphql contrib templates. Everything appears fine at first glance but I noticed in the graphql resolver my node IDs are a slice of pointers not a slice of values like the todo, todouuid and todopulid example so I'm worried my XID implementation may cause other generation issues in the fu

[2021-05-02 11:11] wenerme opened #1527 "pg placeholder need type cast"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/1777211/116811058-d5b91080-ab79-11eb-8e7a-b204a0549a7f.png)

relate issues https://github.com/jackc/pgx/issues/798

query `$1=$2`
args [1,1

[2021-05-02 12:21] wenerme opened #1528 "propose: allowed wrapped value as arg"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

https://github.com/ent/ent/blob/edf473e0433e76298c5f369d022454eb29e42b23/dialect/sql/builder.go#L2428-L2441

arg can impl ParamFormatter, but if the value can not be wrapper like

[code]

makes the ParamFormatter is harder to use.

## Motivation 🔦

[2021-05-02 17:49] alexsn commented on #1526
The code in question is generated by gqlgen and I guess they use pointers for [struct types](https://github.com/shanna/entxid-test/blob/master/xid/xid.go#L17) and values for primitives. The signature in this case makes little sense as the nodes query is defined as `nodes(ids: [ID!]!): [Node]!` so clearly `ids` is a non nullable array of non nullable ids.

I'm sure this works as expect but this [po

[2021-05-02 17:52] alexsn commented on #1526
One thing you can try to avoid using a struct meaning turn:
[code]
into:
[code]

[2021-05-02 20:29] a8m commented on #1528
Hey @wenerme and thanks for proposing this.

Are you looking for a way to do it inline (dynamically), or implementing it per type?

What do you think about this approach?
[code]

[2021-05-03 01:27] shanna commented on #1526
👍 Thanks for taking a look I'll log something with gqlgen.

I started with that `type ID rsxid.ID` but Go won't delegate the `sql.Scanner` and `driver.Valuer` interfaces to the underlying type unless it's a struct so I'd have to write my own rather than use the existing implementation in the underlying library. The trade-off as you noticed is that awkward conversion from the slice of points to the

[2021-05-03 05:47] a8m commented on #1526
Hey @shanna, you don't need to wrap the `xid.ID` type in order to implement the gqlgen interfaces. Instead, define the `MarshalID` and `UnmarshalID` in your `xidgql` package as follows:

[code]

[code]

Then, the generated resolvers will look as follows:

[code]

Please let me know if it does solve your problem, and if not, give me permission to your repository and I'll send you a patch.

[2021-05-03 07:40] wenerme commented on #1528
Hi @a8m , personally I prefer a interface like

[code]

I think this approach

[code]

is even worse than the code I use now  `s.Arg(argWithCast(value))`

[code]

because `sql.WrapFormat` cause less code reuse.How do you think ?

[2021-05-03 08:17] wenerme commented on #1473
I really think ent should not go too deep on cdc, orm is not database, what ent can get is not always right, ent provide hook to impl basic cdc is good enough, by streaming to nats can do a lot of cool things, if 100% cdc is required, should look at the underlying db.

[2021-05-03 09:37] a8m commented on #1528
@wenerme, the `driver.Valuer` interface does not work for you here?

[code]

[2021-05-03 10:40] wenerme commented on #1528
Thanks, works now, I thought there is an interface in sql, but not trying to find out.

[2021-05-03 10:40] #1528 closed

[2021-05-03 10:41] #1527 closed

[2021-05-03 10:46] wenerme opened #1529 "Selector should gather all errors or propagate inner error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

The error in Builder will just ignored.

In `func (b *Builder) join(qs []Querier, sep string) *Builder` error is ignored,
so in `func (s *Selector) Query() (string, []interface{})` a

[2021-05-03 11:00] a8m commented on #1529
Agree. You're welcome to contribute this change.

Thanks 🙏

[2021-05-03 14:44] #1525 closed

[2021-05-03 15:01] shanna commented on #1526
Yep that works. I had no idea you could do that with gqlgen since I'm using both ent and gqlgen for the first time. Thanks for the help.

[2021-05-03 16:20] StevenACoffman commented on #46
Curious if Ent's OSS GraphQL roadmap includes [Apollo Federation support](https://www.apollographql.com/docs/federation/federation-spec/) (being federat_**ed**_).  We are using Federation to compose multiple GraphQL services into one graph. Presently, we _can_ use DGraph for a single service, but we have some Federated Go services that are really just adaptors for relational databases (PostgreSQL)

[2021-05-03 17:22] giautm commented on #46
Hi, Ent use gqlgen to integration GraphQL feature, they also support Apollo Federation.

See: https://gqlgen.com/recipes/federation/

[2021-05-03 17:45] gedw99 commented on #46
It’s works really well too .
The golang federation lib

I am curious as to how it’s going to be integrated into the contrib repo.
It would be awesome to have an example eventually in the contrib repo of
this

On Mon 3. May 2021 at 19:22, Giau. Tran Minh ***@***.***>
wrote:

--
Mobile:        +4915231894553
Telegram:    http://t.me/gedw99

[2021-05-03 21:15] giautm commented on #1473
In CDC architecture, you should not put them in a single application. Why?
- If your application crash, events may not publish to the stream.
- If your wait publishes succession then commit the transaction, it may slow down your application.
See [the blog from Nginx](https://www.nginx.com/blog/event-driven-data-management-microservices/) for atomicity publish.

You can use 3rd tools like Debezium,

[2021-05-05 07:09] a8m commented on #1526
Great, would you mind adding this to our [FAQ page](https://github.com/ent/ent/blob/master/doc/md/faq.md)?

[2021-05-05 07:09] #1526 closed

[2021-05-05 14:09] #1529 closed

[2021-05-07 12:28] pzeinlinger commented on #1485
@wenerme, @a8m

It seems that db null values are not correctly scanned to a nil pointer.
This means that a nillable UUID field does not behave the same as a nillable string.
I had a quick skim through the implementation of the UUID field and I'm not sure how to procede.

We could explicitly handle nillable uuids in entc/gen/type or implement field.UUID differently. What's your opinion?

[2021-05-07 12:51] wenerme commented on #1485
@pzeinlinger this works for me, but I got the new problem, https://github.com/ent/ent/pull/1537 need @a8m  to take a look.

handle nillable uuid should be the sql.Value's job, how you define a uuid is nil or not is controlled by uuid.UUID `Value() (driver.Value, error)`, maybe override this can solve the problem for you ?

[2021-05-07 13:02] wenerme opened #1539 "proposal: make sql builder more generic"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

- current sql builder based on *Predicate - not easy to work out of package
- selector and different build hide a lot building part - like where

write custom builder is awkward

[code]

## Motivation 🔦

ent's sql builder is powerful and good enough

[2021-05-07 13:08] a8m commented on #1485
Hey @pzeinlinger, https://github.com/ent/ent/pull/1538 should solve the issue - see the test case there.

We wrap custom (not part of std) nillable `sql.Scanner` types with [`sql.NullScanner`](https://github.com/ent/ent/blob/master/dialect/sql/driver.go#L155-L157). This makes it possible to check if the value is NULL in the database or not.

[2021-05-07 22:58] mahmud2011 opened #1540 "schema/field: support setting field collation"
Is there any way to set `Collation` for all tables at once rather than creating a `Mixin` and include it? I need to set the default `Collation` to `utf8mb4_unicode_ci` instead of `utf8mb4_bin`.

[2021-05-07 23:08] mahmud2011 opened #1541 "NOT NULL in created_at TIMESTAMP field"
[code]

I didn't set `Optional`

**Expecting:**
[code]

**Generated:**
[code]

How can I enforce `NOT NULL`?

[2021-05-08 01:54] wahello commented on #1475
[This example](https://github.com/a8m/ent-graphql-example.git) is great, and show be highlighted.
And more
`
entc generate ./xxxx/schema--template ./xxxx/schema/template --target ./xxxx/gen/ent
`
for Makefile.

[2021-05-08 06:42] rotemtam commented on #1540
Hi
Thanks for reaching out.
You can use codegen hooks to run arbitrary logic at codegen:

https://entgo.io/docs/code-gen/

[2021-05-08 07:16] sywesk commented on #1472
Hello @a8m ! I might have some questions to ask. I started working on it some days ago, but then got a bit overwhelmed by my work :sweat_smile: I'll open the PR soon to have a working base

[2021-05-08 08:51] godcong commented on #1541
Require()?

[2021-05-08 09:50] WingT opened #1543 "Can entql query other datasources such as redis/memcache or some restful api endpoint?"
Can entql query other datasources such as redis/memcache or some restful api endpoint?  And how to combine them together in one entity?

[2021-05-08 10:34] mahmud2011 commented on #1541
`Require()` does not exist.

[code]

As fields are required by default `created_at` is supposed to be `NOT NULL`!

[2021-05-08 10:42] rotemtam commented on #1543
Hi @WingT ,
Thanks for reaching out. Currently, the answer is no. There are initial thoughts about integrating with other types of storage but no estimated schedule for the time being.

[2021-05-08 10:52] wenerme commented on #1539
Wow, thanks to share that, really looking forward the rewriting, maybe before 1.0 ?

[2021-05-08 11:37] a8m commented on #1540
Hey @mahmud2011, another option is to use a [migration-hook](https://entgo.io/docs/migrate/#migration-hooks) for adding such annotation to all tables. For example:

[code]

Closing, but please feel free to continue the discussion or reopen if you have troubles with it. Thanks 🙏

[2021-05-08 12:44] godcong commented on #1541
`Nillable()` can allow fields to be null.
Is this what you want?

[2021-05-08 12:53] godcong opened #1544 "delete field on migrate"
- [X ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I added some fields.
But I don't use it now.
And we are running in a distributed environment.
I cannot directly manipulate the database.

## Motivation 🔦

`Migrate` does not seem to deal with deleted fields.
Sometimes I delete some unnecessary fiel

[2021-05-08 13:52] a8m commented on #1544
Hey @godcong,
The migration runs by default in an append-only mode. This makes it possible to rollback changes easily.
However, when you need to delete resources (e.g. columns or indexes), you can simply pass the `migrate.Drop<T>` option. See the [docs](https://entgo.io/docs/migrate#drop-resources) for more info, or use this example:

[code]

[2021-05-08 13:56] mahmud2011 commented on #1540
But it overrides all `Collation` even inline!

[code]

The above `Collation` should override all others (Default and Hooks).

[2021-05-08 14:21] mahmud2011 commented on #1541
MySQL v5.7.32.

Yes. But the generated query:

[code]

It's specifically setting NULL though I did not make it `Optional`

[2021-05-08 14:28] a8m commented on #1540
That's because we don't support this option on column definition, although it's simple to add.
Do you need support for this?

[2021-05-08 14:31] a8m commented on #1541
Please paste here the `describe table` output.

[2021-05-08 14:33] mahmud2011 commented on #1540
I don't need support for this in my current project but I saw this kind of inline `Collation` in other projects. I accidentally found this issue while using your migration hooks solution.

[2021-05-08 14:35] a8m commented on #1540
I can address it, but if you're interested in contributing this, the change is really small and I can guide you. Thanks

[2021-05-08 14:35] luckylsx opened #1546 "the method Comment in schema not migrate db column comment like MySQL"
Hi, first of all, thanks the ent!

When I migrate the schema, I found the content in Comment defined was not migrate the DB。
the schema define like following:
[code]

But after the table migrate,  the DDL like this:
[code]

Expect is:
[code]

I want to know How can I migrate with comment or this part is not support?
Thanks!

[2021-05-08 14:40] mahmud2011 commented on #1541
[code]

[2021-05-08 14:42] mahmud2011 commented on #1540
Sure

[2021-05-08 14:45] a8m commented on #1541
@mahmud2011, can you also share the ent/schema you used for creating this table?

[2021-05-08 14:59] a8m commented on #1540
Great.

1. Add a `Collation` field to the `schema.Column` struct: https://github.com/ent/ent/blob/0bfaa11e2f887fa6a957d51077c3d4e0f33d57c2/dialect/sql/schema/schema.go#L167-L169
2. Set the collation field in codegen: https://github.com/ent/ent/blob/0bfaa11e2f887fa6a957d51077c3d4e0f33d57c2/entc/gen/type.go#L1155-L1157
  https://github.com/ent/ent/blob/0bfaa11e2f887fa6a957d51077c3d4e0f33d57c2/entc/g

[2021-05-08 18:29] #1541 closed

[2021-05-08 18:30] a8m commented on #1541
Issue was fixed with https://github.com/ent/ent/pull/1547. More details about this issue in: https://github.com/ent/ent/blob/7fc0b5839b5d88c3f09e6e26b93550f67299804a/dialect/sql/schema/mysql.go#L257-L259

[2021-05-08 22:47] mahmud2011 commented on #1540
/assign

[2021-05-09 15:09] #1540 closed

[2021-05-09 15:52] mahmud2011 opened #1551 "NOT NULL Foreign Key field"
[code]

[code]

It should make the foreign key field required as the conditions are `Required()` and `entsql.Restrict`.
**Expected:**
[code]

**Output:**
[code]

[2021-05-10 05:15] godcong commented on #1544
@a8m Thanks, i tried it.

[2021-05-10 05:15] #1544 closed

[2021-05-10 10:05] pavel-kolesnikov commented on #842
@a8m tank you! It seems, `.As("tablename")` is very important for multi-table joins. Like this.

For example, I have a `device` in `location` which could be `reported`, `owned` and `used` by different `accounts`. Now I'd like to list these `devices`, sorting by edges location and user name, and some own `device` properties.

[code]

I found that without `.As(...)` it will not work at all.
[code]

[2021-05-10 11:35] closetool opened #1552 "`malformed version`"
When I use `ent` connecting postgres, I encountered an error `panic: sql/schema: malformed version: 90602`

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.
- [x] The issue is present in the latest release.

## Current Behavior 😯

Received an error `sql/schema: malformed version: 90602`
It caused by https://gith

[2021-05-10 11:40] cliedeman commented on #1552
Hi @closetool pg 9 isnt offical supported (And by that I mean the integration tests are not run against it)
https://github.com/ent/ent/blob/master/entc/integration/integration_test.go#L93

Is using postgres 10 an option?

[2021-05-10 11:42] closetool commented on #1552
@cliedeman sure, thanks!

[2021-05-10 11:47] closetool commented on #1552
@cliedeman By the way, is there any method to create database automatically?

[2021-05-10 13:33] cliedeman commented on #1552
@cliedeman I think it might but I will need more information.

Can you join the slack channel?

https://gophers.slack.com/archives/C01FMSQDT53

[2021-05-10 14:16] closetool commented on #1552
@cliedeman I'm glad to join, but it seems not a invitation link and I can't join in.

[2021-05-10 14:23] closetool commented on #1552
@cliedeman It seems I can't join in.
![image](https://user-images.githubusercontent.com/52988625/117674575-5ad9a080-b1de-11eb-9819-3f2df7374c08.png)

[2021-05-10 14:47] cliedeman commented on #1552
We had issues with the link not working before. Does this one work?
https://invite.slack.golangbridge.org/

[2021-05-10 14:58] closetool commented on #1552
@cliedeman It works.
Do we contact at `ent` channel?
![image](https://user-images.githubusercontent.com/52988625/117679883-3f24c900-b1e3-11eb-9652-28f124ea4493.png)

[2021-05-11 05:43] a8m commented on #1484
Hey @ppphp,
Functional indexes are not supported atm, but they can be added like #1545. However, I think the current code can be replaced with something as follows: `where <column> COLLATE utf8mb4_general_ci = <value>`. Pretty sure it's more efficient, but didn't test it tbh. Do you want to contribute this?

This code:
https://github.com/ent/ent/blob/6d3df1469c831c26fc09f39c3417b0254911e2c7/dialec

[2021-05-11 05:51] a8m commented on #1552
Hey @closetool

There's no way to choose the table name dynamically, but the schema/database can be configured dynamically using the [schema/config](https://entgo.io/docs/feature-flags#schema-config) option.

Closing, but feel free to ping us on Slack 🙏

[2021-05-11 05:51] #1552 closed

[2021-05-11 16:25] cliedeman opened #1555 "Improve entgql"
Reduce the amount of hand written .graphql files that need to be generated

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

* Auto generate Relay Connection types
* Auto generate Graphql object types
* Investigate auto generating resolvers
* Auto bind enums
* Generate sorting type

## Motivation

[2021-05-13 14:51] adayNU commented on #1048
Wanted to bump this discussion as were running into more cases where polymorphism would be really helpful...

I really like @marwan-at-work's proposal here, but would just want to confirm that it plays nicely with #1213. I.e. does adding `.Field("owner_id")` to both edges in the `Photo` schema play nicely with that implementation?

If so, @a8m would you be open to me taking a shot at implementing?

[2021-05-13 18:35] wenerme opened #1559 "entgql nil time field order value cause msgpack panic"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

![image](https://user-images.githubusercontent.com/1777211/118170180-61754b80-b45c-11eb-9920-deac6646588e.png)

![image](https://user-images.githubusercontent.com/1777211/118170565-cfba0e00-

[2021-05-13 19:10] wenerme commented on #1559
found the relate problem https://github.com/vmihailenco/msgpack/issues/304

[2021-05-13 19:18] wenerme commented on #1559
relate issues https://github.com/vmihailenco/msgpack/issues/306

[2021-05-14 23:50] gqgs commented on #833
@a8m An issue with the privacy layer workaround is not being able to defer a function call to the end of the query evaluation.
Is there another way to handle the query tracing use case?
It seems an API similar to hooks but for queries should work for this specific case.

[code]

[2021-05-15 08:21] wahello commented on #1221
@a8m I confront the same problem with Postgres, while MySql has no the problem.

When use postgreSQL, error raised:
`
sql/schema: ERROR: column "id" of relation "groups" is not an identity column (SQLSTATE 55000)
`

[2021-05-16 06:15] JoleMile commented on #1374
Any work being done on this? Being able to set foreign-keys to `NOT NULL` seems extremely useful.

[2021-05-16 07:46] a8m commented on #1374
This is already the default behavior. Can you explain what are you trying to do and it's not working?

[2021-05-16 07:48] a8m commented on #1551
Hey @mahmud2011 and thanks for reporting this issue.
This is going to be changed in the next version.

Closing, as it's a duplicate of https://github.com/ent/ent/issues/1374. Thanks 🙏

[2021-05-16 07:48] #1551 closed

[2021-05-16 07:57] a8m commented on #1546
Hey @luckylsx, the `Comment` value is added to generated code, but not to the schema migration.

We're working on the new migration framework for ent and plan to add support for this.

[2021-05-16 09:42] mahmud2011 commented on #1551
_N.B:_ There is also no setter for the `txn_src_id ` field.

[2021-05-16 19:22] cliedeman commented on #1555
The [PR](https://github.com/ent/contrib/pull/78) is coming along nicely

Updated samples:
[todo.graphql](https://github.com/ent/contrib/pull/78/files#diff-0cd22c00c8955e2afeb9fdc100cd19dd7481a171f8da6f1b19bd67abe234e900)
[gqlgen.yml](https://github.com/ent/contrib/pull/78/files#diff-4baff3a530ed86a3187adab5a92b77418485513ec6621bee5769a9edb979ae69)

[2021-05-17 03:12] lenuse opened #1561 "question:Edges associates two tables with respect to the id field."
I have three tables, I want to put the data of the three tables into a structure

<details>
  <summary>Table defined</summary>
  <p>
CREATE TABLE "pms_brand" (
    "id" int4 NOT NULL DEFAULT nextval('pms_brand_id_seq'::regclass),
    "name" varchar NOT NULL DEFAULT ''::character varying,
    "first_letter" varchar NOT NULL DEFAULT ''::character varying,
    "sort" int4 NOT NULL DEFAULT 0,
    "fac

[2021-05-17 13:48] naormatania opened #1564 "Postgres schema support in schema migrations"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I am using ent in my project with postgres database.
The tables are created in different postgres schemas (using https://www.postgresql.org/docs/9.1/ddl-schemas.html) which allows me to give different microservices access to only certain tables whil

[2021-05-17 17:19] washanhanzi opened #1565 "cant resolve same package name with different import path in generated code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I have two package with same name, but different path, ent can't resolve them correctly in generated code.

## Expected Behavior 🤔

Maybe ent can 'magically' resolve them with different i

[2021-05-18 07:10] shallowman opened #1567 "How to set timezone of field default value which type is time"
Mixin time fields defined as below.

[code]

[code]

Database is MySQL, ent driver is MySQL.
MySQL version is 8.0.

The fields created_at and updated_at default value are always UTC timezone datetime.
My computer and mysql server timezone are also GMT+8.
![WX20210518-150830](https://user-images.githubusercontent.com/46313752/118607287-faa0bb00-b7ea-11eb-8cd8-855e09eea7c4.png)
![54670D39-BA86-4206-

[2021-05-18 08:05] a8m commented on #1567
Hey @shallowman,
I think this is a MySQL driver configuration issue. Did you try using https://github.com/go-sql-driver/mysql#loc?

[2021-05-18 08:53] shallowman commented on #1567
Thank you very much. Slove it now.

[2021-05-18 08:53] #1567 closed

[2021-05-18 09:14] #1513 closed

[2021-05-18 13:14] wingofsky opened #1573 "What is the use of Label? How to solve the reported error?"
Within the generated file

[code]

Get an error:

[code]

How to solve the problem?

[2021-05-18 13:37] a8m commented on #1573
Hey @wingofsky, I assume you use the `OnlyX` API, right?

As mentioned in the godoc:

[code]

Closing, but please feel free to continue the discussion or reopen if you found any issue with ent. Thanks 🙏

[2021-05-18 19:47] sneakywombat opened #1574 "Deep Nested Edge Queries"
I have a question about querying for a deeply nested edge.  Assume the following:

`

    // Network entity schema.
    type Network struct {
        ent.Schema
    }

    // Fields of Network
    func (Network) Fields() []ent.Field {
        return []ent.Field{
            field.String("name")
        }
    }

    // Edges of the Network.
    func (Network) Edges() []ent.Edge {
        return []e

[2021-05-18 20:49] nvthongswansea commented on #1024
+1

[2021-05-19 09:35] rotemtam commented on #1561
Hi @lenuse ,
Thank you for reaching out.
Either remove the `.Optional()` from the edge fields (`brand_id`) or remove the `.Required()` modifier from the edge definitions. Since they are describing the same thing they must be compatible.
Please let me know if this resolves your issue!

[2021-05-19 09:45] lenuse commented on #1561
Thank you for your answer. I have tried both methods and can generate code. Thanks again.

[2021-05-19 09:56] rotemtam commented on #1561
You're welcome. Feel free to subscribe to our [newsletter](https://www.getrevue.co/profile/ent) to get more updates and information about the project in the future!

Closing.

[2021-05-19 09:56] #1561 closed

[2021-05-19 10:02] rotemtam commented on #1574
Hi @sneakywombat ,
Thanks for reaching out I think this is a duplicate of https://github.com/ent/ent/issues/1024.
As far as I know, recursive traversal is currently not supported, but please join the discussion on that issue.

Also, Feel free to subscribe to our [newsletter](https://www.getrevue.co/profile/ent) to get more updates and information about the project in the future!

Closing, please r

[2021-05-19 10:02] #1574 closed

[2021-05-19 10:50] a8m commented on #1574
Hey @sneakywombat! It's great to hear from you again 😃
Can you please join the Ent [Slack channel](https://gophers.slack.com/archives/C01FMSQDT53) and ping me there?

Not sure why your last query doesn't return any result, because you're not querying the `inherited_by` relation at all.

As Rotem mentioned, recursive traversals are not supported atm, but you can do it manually and control the level

[2021-05-19 11:29] naormatania opened #1575 "Enum with GoType that are not strings doesn't work"
Let's say I define a type that is backed by int and fulfils `ValueScanner` interface:
[code]

And then I define enum field based on it:
[code]

The code generation works but the code doesn't compile due the following function that is created:
[code]

According to documentation `GoType` can be either string type or any type that implements `ValueScanner` like I did. Is there any way to support such

[2021-05-19 11:49] a8m commented on #1575
Hey @naormatania! It's great to hear from you again 😃

Enums are stored as strings in the database, and therefore need to be string-ish types atm. You can see an example for custom enum type here - https://github.com/ent/ent/blob/master/entc/integration/ent/schema/fieldtype.go#L212-L214

I'll be happy to support this as the change is not so big according to your bug report (only the validator, rig

[2021-05-19 12:20] a8m commented on #1565
Hey @washanhanzi and thanks for opening this issue.

I was able to reproduce this, however, the change is not so simple, because there's no way to get the "import alias" (e.g. `import name "<path>"`) using reflection.

I'll try to think on some workaround for this and will update this issue.

[2021-05-20 03:48] wahello opened #1578 "field.Time get zeroes."
My code is this:
[code]
And,

[code]

## Current Behavior 😯

Columns `created_at` and `updated_at` are `0000-00-00 00:00:00`.

## Expected Behavior 🤔

`created_at` and `updated_at` get current date time as `Default(time.Now)` and `UpdateDefault(time.Now)` do.

## My Environment 🌎

| Tech        | Version |
| ----------- | ------- |
| Go          | 1.16  |
| Ent         | 0.8   |
| Database    | My

[2021-05-20 03:59] #1578 closed

[2021-05-20 08:13] AnnatarHe opened #1579 "multiple `and` condition concat generate incorrect sql"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

build a query with multip `where and` condition and it will output the wrong SQL

## Expected Behavior 🤔

right SQL to run

## Steps to Reproduce 🕹

1. create multip column in one table
2. c

[2021-05-20 08:38] dangerous1990 opened #1580 "How to config two or more sql.DB separation read sql.DB or write sql.DB"
Tx  Update Delete operate router to write DB
Query router to read DB
sorry my english is poor   hope you can understand my question .

[2021-05-20 09:04] lenuse commented on #1579
Hi @AnnatarHe
I found the code for the problem you described in https://github.com/ent/ent/blob/master/dialect/sql/builder.go#L1462。I remember using the same design in laravel to distinguish between AND and OR

[2021-05-20 09:30] a8m commented on #1579
Thanks for reporting this @AnnatarHe. I’m giving it a look

[2021-05-20 09:50] a8m commented on #1579
Gave it a look now. Can you please explain why the SQL is incorrect? There are extra parens in the `WHERE` clause, but the query is valid.

[2021-05-20 10:08] AnnatarHe commented on #1579
sorry. I just want to simply the SQL, but leak the important information. 😂
the real SQL is:

[code]

I want is (`game_info.key` is *foo* and the value contains 1 **and** `game_info.key` is *bar* and the value contains 2)
but the SQL generated doest not respect `and`. the last `and` does not check `package_name` and something above.

[2021-05-20 10:45] AnnatarHe commented on #1579
[code]

[2021-05-20 10:51] a8m commented on #1574
Sure, @rotemtam created a guide on how to connect to our Slack channel. Please see https://entgo.io/docs/slack

Please ping me after joining the channel, and of course, tag me here if you still have trouble with it.

[2021-05-20 10:59] AnnatarHe commented on #1579
oh, I found the bug. I should set the `predicates` type to `[]predicate.TaskGameInfo` instead `[]predicate.Task` and merge predicates by `taskGameInfo.And`. 😂

[2021-05-20 10:59] #1579 closed

[2021-05-20 11:17] a8m commented on #1580
Hey @dangerous1990, you can wrap the `dialect.Driver` with your own driver and implement this logic. Here's a toy example of how to achieve something like this:

[code]

You can extend it, add support for multiple read replicas and add some load-balancing magic.

Closing, but please feel free to continue the discussion or reopen if you have any trouble with it. Thanks 🙏

[2021-05-20 11:17] #1580 closed

[2021-05-20 11:18] a8m commented on #1580
Please feel free to join our [Slack channel](https://entgo.io/docs/slack) in the Gophers Slack. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-05-20 11:22] a8m commented on #1579
Great! You're welcome to join our [Slack channel](https://entgo.io/docs/slack) in the Gophers Slack. Also, if you're interested to get ~monthly updates on our new releases and features, subscribe to our [newsletter](https://www.getrevue.co/profile/ent) 🙏

[2021-05-20 12:14] bluegrasses opened #1582 "ent: user not singular"
Query the data of username = "admin" in the Users table.
`
Client.User.Query().Where(user.UsernameEQ("admin")).Only(ctx)
`
Error message : ent: user not singular

Usually  ENT default table is a plural ,where is the problem?

[2021-05-20 13:13] #1582 closed

[2021-05-20 13:13] bluegrasses commented on #1582
问题已解决

[2021-05-20 13:15] bluegrasses opened #1583 "execute SQL"
How to execute SQL, such as executing TRUNCATE operation

[2021-05-20 20:29] #1575 closed

[2021-05-21 02:16] dangerous1990 commented on #1580
@a8m Thanks you very much~~~

[2021-05-21 02:23] lenuse commented on #1583
I have the same question, how do I need to execute `select ... for update`?

[2021-05-21 03:38] dd01wangzhenzhen commented on #1489
Hello, I ran into the same problem
about why not use the id column as a reference , our system generate a gloabal id(column name is account_id) ,like global id in the distributed system, we hope to use account_id and also keep id column in the table

we also run into the problem when we refactor our old project

[2021-05-21 04:09] godcong opened #1585 "Does grpc still not support string array"
I used ent to create my grpc interface, but the following error occurred:
[code]

[2021-05-21 04:26] rotemtam commented on #1585
True, you can find the support and mapping matrix on the package readme.

[2021-05-21 04:50] rotemtam commented on #1585
Having said that, if you want to contribute support for this use case, I will be happy to help

[2021-05-21 09:07] a8m commented on #1583
Thanks for the help @lenuse.

@bluegrasses, you can also use the same approach mentioned in https://github.com/ent/ent/issues/85#issuecomment-542194059.

Closing, but please feel free to continue the discussion or reopen if you have any troubles with it 🙏

[2021-05-21 09:07] #1583 closed

[2021-05-21 11:52] bluegrasses opened #1586 "Database migration problem"
ent Database Migration . String default varchar (255) . sometime leading the UNIQUE index too long. How to set the length of String in data migration.

[2021-05-21 13:56] godcong opened #1587 "The null value passed through grpc will be set"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I create a table `AdminInstruct` with field `DeletedUnix`

[code]

## Expected Behavior 🤔
// Create implements AdminInstructServiceServer.Create
func (svc *AdminInstructService) Create(ctx c

[2021-05-23 09:40] rotemtam commented on #1587
Hi @godcong ,
Thanks for reaching out. We've started the discussion about this in https://github.com/ent/ent/discussions/1350
The first step to solving this was to support [wrapper types](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.proto), and the next step is exactly as you suggested to generate conditional statements that set or don't set these fields bas

[2021-05-23 13:52] #1586 closed

[2021-05-24 07:26] godcong commented on #1587
I see that if it is a pointer type, there will be a `SetNillableXXX` function.
Whether it can be achieved by this function + processing for protoc wrap.
If there is nothing wrong with my idea, I can try to see if this can be achieved.

The final generated code might look like this：
[code]

[2021-05-24 07:29] godcong commented on #1587
I read the content of #1350, which is consistent with the problem I want to solve.
I will close this issue and watch the progress of #1350.

[2021-05-24 07:29] #1587 closed

[2021-05-24 14:21] kyfk opened #1593 "FR: PluckID"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

## Motivation 🔦

When I use the Where clause with xxx.IDIn, I write PluckID function every time for each entity.

[code]

So I think if there's a function something like the above in the generated codes, it's helpful.

[2021-05-24 15:18] a8m commented on #1593
Hey @kyfk and thanks for proposing this feature.

You can generate this method with the following [template](https://entgo.io/docs/templates):

[code]

And then, you can use it as follows:

[code]

If you are not familiar with the templates option, read about it on our website - https://entgo.io/docs/templates.

Closing, but please feel free to reopen or join our [Slack](https://entgo.io/docs/slac

[2021-05-24 15:18] #1593 closed

[2021-05-25 11:20] wzyjerry opened #1594 "Query in array of objects with Postgres backend"
Hey,

I use ent with Postgres backend, and the table structure is defined as follows:

[code]

Where info is an array of objects, containing two fields url and count. Now I want to query all data which url equals "x.com", the corresponding SQL is:

[code]

So, I wrote the following ent query:

[code]

But I didn't get the desired result. I found that when using the Postgres backend, the "sqljson.V

[2021-05-25 17:42] a8m commented on #1574
Hey @sneakywombat, this example should solve your problem - https://github.com/ent/ent/pull/1599

We'll add documentation for it later this week.

[2021-05-25 17:58] a8m commented on #1024
I just want to update that I added initial support for `WITH RECURSIVE` statements in our SQL builder and you can see its usage in this example: https://github.com/ent/ent/blob/961dc08d148d3f00f8e1794830a86c253548c5d0/examples/fs/example_test.go#L53-L86

I hope to get more progress on it soon and add support for recursive traversals in the generated API.

[2021-05-25 18:00] sneakywombat commented on #1574
Nice! sql.WithRecursive.  I was wondering if that was an option.  I'll give this a shot. thanks!

[2021-05-25 21:10] alexsn commented on #1559
Could you add your gql schema / query that's triggering this?

[2021-05-26 02:43] Ackerr opened #1600 "How correct use other table field in where statements"
I write a sql use `ent/dialect/sql` like

[code]
return value
[code]
But i use the sqlx to exec this sql，it's  not true. Then I modify the raw sql like
[code]
It should now execute correctly.

Is there any way to inject parameters directly in raw（don't return to args)

[2021-05-26 03:00] Ackerr commented on #1600
Sorry，I find a way to solve it，use `func(b *sql.Builder)`

code like this

[code]

[2021-05-26 03:28] #1600 closed

[2021-05-26 04:45] giautm commented on #85
Only one reason for me to access underly `*sql.DB` is creating `sqlhealth.Checker`. So, I write custom template that generates `health.Checker` for gocloud kit.

[code]

[code]

[2021-05-26 07:27] wenerme commented on #1559
@alexsn order by a time field with nil value will trigger this, because *time.Time has IsZero, but the value is nil, msgpack will call the IsZero check cause panic

[2021-05-26 08:07] Ackerr commented on #1600
@a8m Thanks for your reply. The project use ent@0.5.0. so I don't find this api.

[2021-05-26 08:11] alexsn commented on #1559
Can you paste the graphql query that does this?

[2021-05-26 08:18] wenerme commented on #1559
[code]

NextContactAt is a *time.Time field

[2021-05-26 08:20] wenerme commented on #1559
Here has a test to reproduce the panic for msgpack

https://github.com/vmihailenco/msgpack/blob/52b4cd1be52c96601136c77937fe3153f97fde03/msgpack_test.go#L463-L477

[2021-05-26 08:22] alexsn commented on #1559
Is NextContactAt a nillable field?

[2021-05-26 08:22] wenerme commented on #1559
@alexsn Yes

[2021-05-26 14:37] cliedeman opened #1604 "Driver Error Interceptor"
When a unique index error is returned from the driver wrap that in an Error that contain the index name, table and column.

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Very rought draft pr created here https://github.com/ent/ent/pull/1603

## Motivation 🔦

I want to be able to inspect the failed c

[2021-05-28 13:40] wenerme commented on #1559
This is fixed in latest msgpack

[2021-05-28 13:40] #1559 closed

[2021-05-31 02:18] wahello opened #1610 "How to get the executing sql statements?"
#### When executing .Save(), or Exec(),  how to get the generated sql statements? Sometimes,  SQL statements are need for optimization.

[2021-05-31 07:03] a8m commented on #1610
Hey @wahello, use the `client.Debug()` option to get a debug client. For example:

[code]

Closing, but please feel free to continue the discussion or join our [Slack channel](https://entgo.io/docs/slack) if you have more questions. Thanks 🙏

[2021-05-31 07:03] #1610 closed

[2021-05-31 09:33] Guiren commented on #1443
Hi,

I'm not sure if this should be a different issue, but this title and context fit our question quite well. Feel free to move this to another issue if necessary.

We've tried implementing a `history` table that would record every change via Ent's hooks system. Our setup is :
- A history table, that will record, for each column modified :
  - the ID of the row being modified/created/deleted
  -

[2021-05-31 09:51] a8m commented on #1443
Hey @Guiren,

There are 2 options how to do this:

1. Type-assert on a custom interface as follows:
[code]

2. Use the dynamic API to get the ID field by its name:
[code]

The created-id can be retrieved after the mutation was executed (do you need an example for this?). Please elaborate on what do you mean by "no concurrency issues".

I'm not sure I follow. Hooks are executed only when `Save` or

[2021-05-31 12:42] Guiren commented on #1443
Hi! Thanks for the quick response. I'd like to point out my ent go.mod version number, just in case : `v0.8.1-0.20210510173245-f7db15ccbb5b`.

Second, here's a sample of how we create and update models (here, the Template model) via ent :
[code]

as well as our hook declaration :

[code]

_______

For your questions/remarks :

1)

I actually didn't know you could assert like this, very cool! See j

[2021-05-31 20:05] a8m commented on #1443
Hey @Guiren,

`UpdateOne` and `DeleteOne` mean that you update or delete one entity (by its ID). For example, `client.T.UpdateOne(u)`,  `t.Update()` or `client.T.DeleteOneID(id)`. Thus, it's not possible to get the `ID` or the `OldValue` in an operation that (can) mutate multiple entities.

Regarding your code:

The `hook.On` filters used to limit hooks to specific operations, but this hook is exe

[2021-06-01 06:09] dybxin opened #1616 "hwo to set mysql MaxOpenConns() and MaxIdleConns()?"
i notices the docs: https://github.com/ent/ent/blob/762e6aeff9d92f4b2af45932274401674462297f/doc/md/migrate.md

i not found how to set mysql MaxOpenConns() and MaxIdleConns()

my code likely the following:

[code]

[2021-06-01 06:26] arddor commented on #1616
You can do it like described here: https://entgo.io/docs/sql-integration

[2021-06-01 07:15] a8m commented on #1594
Thanks for reporting this @wzyjerry.

You're right. The `default` clause should be removed from this switch case:
https://github.com/ent/ent/blob/dd4792f5b30bdd2db0d9a593a977a54cb3f0c1ce/dialect/sql/sqljson/sqljson.go#L442-L444

Would you like to contribute this change?

[2021-06-01 09:11] rotemtam commented on #1616
Thanks for assisting here, @arddor! Closing this.

[2021-06-01 09:11] #1616 closed

[2021-06-01 09:23] Guiren commented on #1443
Hey!

Thanks again, UpdateOne is working now, but Create still doesn't. I got the latest ent version just in case, re-generated, and made the mutation very simple (only printing the ID after mutation), I'm guessing the PostgreSQL query is correct as well. Here's my code / logs :

- Code
[code]

- Log :
[code]

Any idea of what can go wrong? :(

[2021-06-01 14:12] a8m commented on #1443
Can you please paste here the ent version you use? Thanks

[2021-06-01 20:32] arunjohn99 opened #1619 ""No database selected" error while creating schema with alternate schema option"
Hi @a8m,

When i execute the below API, it is throwing "No database selected" error

[code]

I have my tables spread across multiple schemas and initialize ent client with Alternate schema option.

[code]
I am using 0.8.0

Let me know if you need me to file a defect?

[2021-06-02 07:54] Guiren commented on #1443
The go.mod version now shows : `entgo.io/ent v0.8.1-0.20210531191931-fdc5f2b7e9e0`

[2021-06-02 08:11] a8m commented on #1443
There’s an example in our integration tests, please try to use it as a reference:

https://github.com/ent/ent/blob/11567a3926bb8c847523d3d17115cc56fcab9d7a/entc/integration/hooks/hooks_test.go#L168

If you still have troubles with it, please ping me in our Slack channel or share with me a temporary repository to reproduce this. Thanks

[2021-06-02 11:30] a8m commented on #1564
Hey @naormatania and it's great to see you here again 😃

We're working now on writing the ent migration from scratch and this option is going to be supported there. Meanwhile, your/my workaround works, but if you or someone else wants to contribute this change I'll be happy to support them.

[2021-06-02 11:32] a8m commented on #1619
Hey @arunjohn99, please see the workaround for this in https://github.com/ent/ent/issues/1564 and also my comment about the contribution and the planned support for this feature.

Closing as this is a duplicate of https://github.com/ent/ent/issues/1564 🙏

[2021-06-02 11:32] #1619 closed

[2021-06-03 02:31] demobin8 opened #1620 "integrate gqlgen federation got error "merging type systems failed: unable to bind to interface: role/ent.Role does not satisfy the interface github.com/99designs/gqlgen/plugin/federation/fedruntime.Entityexit status 1""
schema:
[code]
gqlgen.yml:
[code]
cmd:
`go run github.com/99designs/gqlgen generate --config gqlgen.yml`
error:
`merging type systems failed: unable to bind to interface: role/ent.Role does not satisfy the interface github.com/99designs/gqlgen/plugin/federation/fedruntime.Entityexit status 1`

[2021-06-03 03:15] mgabeler-lee-6rs commented on #1365
One use case for this which I'm missing right now is simply the ability to select columns from multiple tables when a `JOIN` has been added in the `Where()` section, esp. when those column names are not unique (e.g. selecting `a.id` and `b.id`, so need to add `AS a_id` style aliases to them to distinguish on column names). It would be nice for this to have an "easy" path that is reasonably safe (e

[2021-06-03 05:58] a8m commented on #1594
Fixed with https://github.com/ent/ent/pull/1621.

[2021-06-03 05:58] #1594 closed

[2021-06-03 14:05] BrentChesny opened #1624 "Add support for creating indexes concurrently in Postgres"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Postgres supports [concurrent index builds](https://www.postgresql.org/docs/13/sql-createindex.html#SQL-CREATEINDEX-CONCURRENTLY) to avoid locking the entire table while building an index. It would be nice if there was a way to use this `CONCURRENTLY` op

[2021-06-03 15:28] a8m commented on #1365
Thanks for the feedback @mgabeler-lee-6rs. Just note that there's a workaround for the use case you mentioned. See example in: https://github.com/ent/ent/blob/f5c284787f7bdbf1c80f14e205ec7acd2cc81adf/entc/integration/integration_test.go#L827-L835

We also think about adding a cleaner API for modifying the SQL query: https://github.com/ent/ent/blob/e5bceccf1dd3ccbcfe7ac59cba8e0ccae0e74cdc/entc/inte

[2021-06-03 15:34] a8m commented on #1624
Hey @BrentChesny and thanks for proposing this feature. We can add this using SQL annotation.

I can add this in the upcoming days/week, but if you're interested in adding it, we can discuss it on Slack, and I'll be more than happy to help 🙏

[2021-06-03 15:50] mgabeler-lee-6rs commented on #1365
I saw that example, but didn't grok the `AppendSelect` bit before. Thanks!

[2021-06-04 02:03] giautm commented on #1193
I ran into the same issue when trying to create a unique index on the column with `varchar(1024)` data type.

[2021-06-04 05:28] ZonaBudi commented on #1620
same issue here

[2021-06-04 06:02] ivanvanderbyl opened #1625 "Changing OnDelete annotations from SetNull to Cascade don't apply during migration"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Adding the following annotation to an edge should replace the existing constraint on that edge from `ON DELETE SET NULL` to `ON DELETE CASCADE`:

[code]

When migrating it doesn't generate a chan

[2021-06-04 07:28] a8m commented on #1625
Hey @ivanvanderbyl! It's great to see you here again 😃

We're working on the new migration implementation and this issue should be addressed there.

[2021-06-04 07:36] a8m commented on #1193
Hey @giautm, I'll add the option to add column-prefix to indexes this week, and then we can remove this limitation. I will update you once this issue is addressed.

[2021-06-04 08:29] demobin8 commented on #1620
any idea?

[2021-06-07 09:50] mahmud2011 opened #1626 "make Float column unsigned"
Is there any way to make `float` column unsigned in generated sql?

[code]

For `int` field making the field `uint` make the field `INT UNSIGNED` in SQL. How can I make field `decimal(20,4) UNSIGNED`?

[2021-06-07 10:29] guowei-gong opened #1627 "Generate comments for the fields in the table"
How to add comments to the specified fields when defining the migration file?

![image](https://user-images.githubusercontent.com/62499904/121001870-4deca480-c7be-11eb-92d2-c740da918e34.png)

[2021-06-07 11:23] cliedeman commented on #1620
I haven't used federation but I think you need to implement this interface

https://github.com/99designs/gqlgen/blob/master/plugin/federation/fedruntime/runtime.go
[code]

https://github.com/99designs/gqlgen/blob/master/example/federation/reviews/graph/model/models.go

[code]

[2021-06-08 02:04] demobin8 commented on #1620
yes, implement at role.go, stuck at other problem

[2021-06-08 02:04] #1620 closed

[2021-06-08 08:04] a8m commented on #1627
Hey @guowei-gong and thanks for proposing this.

I'm closing it because it is a duplicate of #1546, but we're working on adding support for it in the new migration framework.

[2021-06-08 08:08] a8m commented on #1626
Hey @mahmud2011, can you please try setting the `SchemaType` to `decimal(20,4) unsigned` and report if it works for you? Thanks

[code]

[2021-06-08 08:23] a8m commented on #1626
I've added a test case for it [here](https://github.com/ent/ent/pull/1628/files) and it seems to work, so I'm closing it, but please feel free to reopen if you have any trouble with it. Thanks

[2021-06-08 08:23] #1626 closed

[2021-06-08 10:58] mahmud2011 commented on #1626
It worked. Thanks.

[2021-06-09 06:03] Ackerr opened #1630 "how atomic decrement uint64 field value"
The generated func `AddField` is useful for atomic modify field value，but if the field type is uint，this func cant use subtraction

Is there any other way to do it. Thanks

[2021-06-09 08:34] giautm commented on #1630
It's math; You can call `AddField("test", value * -1)`

[2021-06-09 12:54] ColetteContreras opened #1631 "Support descending index"
[code]

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

## Motivation 🔦

I have a table which ID type is not int, but UUID. I'll use `ORDER BY time DESC` to retrieve latest N records. It says my sorting is `Backward index scan` when I try to optimize my query using `EXPLAIN` statement. After d

[2021-06-09 13:42] a8m commented on #1631
Hey @ColetteContreras and thanks for proposing this.
We should add support for descending indexes. I just added an annotation option for indexes (in https://github.com/ent/ent/pull/1632), and this should make it simple to support this option.

cc @rotemtam

[2021-06-09 19:52] #1193 closed

[2021-06-10 09:07] cliedeman commented on #900
Just found a use case for this.

When combined with [Edge Fields](https://entgo.io/docs/schema-edges/#edge-field) if you use an immutable the generated code will not compiled do so the setter method not being generated

[code]

[2021-06-10 10:20] shenghui0779 commented on #1277
Also interested in this.

[2021-06-10 12:51] a8m commented on #1277
Hey all, this question was answered before in https://github.com/ent/ent/issues/708 and https://github.com/ent/ent/issues/85.

Please let me know if there's anything else we can help with.

[2021-06-11 08:00] dybxin opened #1636 "How to create an entity from a struct T?"
in gorm have this create operate:

[code]
have the  same operate in ent ? current i only see the following operate.

[code]

[2021-06-11 08:36] alexsn commented on #1636
Yes, by design on mutations fields needs to be explicitly set. You can write a template transforming one to the other though dealing with zero values might be problematic (i.e. does zero values means update or don't touch).

[2021-06-11 09:17] a8m commented on #1636
These links will be useful for you, if you want to implement this:

https://entgo.io/docs/faq#how-to-create-an-entity-from-a-struct-t

https://entgo.io/docs/tutorial-todo-gql-mutation-input

[2021-06-11 09:21] dybxin commented on #1636
@alexsn @a8m thanks a lot.

[2021-06-11 10:00] Ackerr commented on #1630
Find a way

a := int64(-2)
b := uint64(a)

Then use AddField(b) to decrement value

[2021-06-11 19:16] #1636 closed

[2021-06-11 19:56] pepusz opened #1637 "Length validation counting bytes not characters, problems with unicode characters"
when you are creating a field with MinLen or MaxLen attributes, the validation is calculating with the
`len(v)` is counting the bytes and with the Unicode characters, it is calculating 2 bytes.

Suggesting to use the utf8.RuneCountInString instead of len.

Thanks

[2021-06-11 20:10] a8m commented on #1637
Hey @pepusz and thanks for raising up this issue.

There's an example for it on our website - https://entgo.io/docs/schema-fields#validators.

[code]

[2021-06-11 20:55] pepusz commented on #1637
thanks for the quick response

[2021-06-11 20:55] #1637 closed

[2021-06-12 13:28] jljucutan opened #1638 "Generate pointer bool field types possible?"
I'm using a framework alongside Entgo that requires bool fields to be pointer; otherwise, the field will not be recognized. Is there any way that we can generate field type that is `*bool`? Or is there anything that I have missed. Thanks in advance.

[2021-06-12 13:37] jljucutan commented on #1638
Nevermind, it worked for some reason. How do I delete this?

[2021-06-12 13:37] #1638 closed

[2021-06-12 14:14] a8m commented on #1638
For future readers, the [Nillable](https://entgo.io/docs/schema-fields/#nillable) option configures the field to be generated as a pointer.

[2021-06-13 09:15] #1630 closed

[2021-06-14 03:10] chenhl05 opened #1641 "Can I set the global delete method?"
In my entities, there are two fields "is_del" and "delete_time". When I delete a row, I don't really delete it, but update these two fields.
In the query, the conditions "is_del" and "delete_time" are added automatically.
Is there any good way to implement this?

[2021-06-14 19:09] a8m commented on #1641
Hey @chenhl05 and thanks for opening this issue.

This is a duplicate of https://github.com/ent/ent/issues/252 and therefore I'm closing it. The plan is to support soft-deletion in the near future - there are a few workarounds for it suggested by ent users in the issue tracker, but we'll get to it after interceptor-hooks and the new migration framework will be added to ent. Thanks 🙏

[2021-06-14 19:09] #1641 closed

[2021-06-15 19:22] a8m commented on #139
Hey all, and thanks @ivanvanderbyl for working on https://github.com/ent/ent/pull/1325.

We really want to push this feature forward, but I have some concerns/questions regarding the API (as mentioned in our [Slack channel](https://entgo.io/docs/slack/)). I'll appreciate getting feedback/help/suggestions. Thanks 🙏

- We prefer to start with `UpsertOne` and then add support for `BulkUpsert` (when w

[2021-06-15 19:22] a8m commented on #139
Hey all, and thanks @ivanvanderbyl for working on https://github.com/ent/ent/pull/1325.

We really want to push this feature forward, but I have some concerns/questions regarding the API (as mentioned in our [Slack channel](https://entgo.io/docs/slack/)). I'll appreciate getting feedback/help/suggestions. Thanks 🙏

- We prefer to start with `UpsertOne` and then add support for `BulkUpsert` (when w

[2021-06-16 19:17] a8m commented on #900
Thanks for reporting this @cliedeman. I added a check to reject this until immutable edges will be supported.

I want to add the `Immutable()` option for edges. Do you think we should add this for all edge types, or only for unique edges?

[2021-06-17 16:48] arielitovsky opened #1644 "CHECK constraint not working"
After add a CHECK constraint annotation on a table does not result in the CHECK expression being added to a POSTGRES databased. I've blasted the databased to make sure it's not a migration, and can confirm the CHECK expression does not appear on the table schema.

This is what my schema looks like:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https:

[2021-06-17 20:22] a8m commented on #1644
Hey @arielitovsky and thanks for reporting this issue.

I added https://github.com/ent/ent/pull/1645 and https://github.com/ent/ent/pull/1646 which should solve this issue (+ another annotation was added named `Checks`).

But note, the current implementation creates the CHECK constraints only on table creation and it doesn't support the current migration (adding/removing constraints to/from existi

[2021-06-17 20:42] arielitovsky commented on #1644
@a8m thank you so much for the quick fix!

Yes, that unblocked me. Feel free to close it.

[2021-06-18 07:06] cliedeman commented on #900
Hi @a8m I don't see any reason not to add it for all edges.

[2021-06-18 07:12] #1644 closed

[2021-06-19 18:52] rotemtam commented on #139
Hey @a8m ,
My few 0.02$ on the issue:

I agree, start with UpsertOne. From my (limited) perspective, this is the common use case.

In general, as discussed, there are two approaches to upsert like behavior:
* `INSERT .. ON DUPLICATE KEY UPDATE`
* `SELECT .. FOR UPDATE` (`SfU` henceforth)
I think it will be much simpler to support upserts in ent using SfU since it fits very nicely with the current

[2021-06-20 13:15] a8m commented on #1459
Issue resolved. Please see https://entgo.io/docs/faq#how-to-add-check-constraints-to-table.

[2021-06-20 13:15] #1459 closed

[2021-06-23 10:14] Zhe-Shen opened #1652 "Postgres order by with nulls last"
I'm using Ent with Postgres. When I try to order by a time field with desc order, the null values cause unexpected result with nulls come first, refer to [sort-by-column-asc-but-null-values-first](https://stackoverflow.com/questions/9510509/sort-by-column-asc-but-null-values-first). Does Ent support postgres syntax like "order by time desc nulls last" so that nulls come last?

[2021-06-23 16:54] chenhl05 opened #1653 "Generating schemas from the database"
Is there a plugin that can create schemas from the database?

[2021-06-23 18:51] rotemtam commented on #1653
Hi @chenhl05
Thanks for reaching out!

Short answer: no, currently there isn't.

Medium length answer: it is easy to write plugins that generate schemas, read about it here: https://entgo.io/blog/2021/05/04/announcing-schema-imports/

Longer answer: @a8m and I are working on the infrastructure for the next release which will include a rewrite of the migration system. In that rewrite there are very

[2021-06-23 19:33] a8m commented on #1653
Closing as this is a duplicate of https://github.com/ent/ent/issues/967.

Thanks, @rotemtam and @chenhl05 😃

[2021-06-23 19:33] #1653 closed

[2021-06-23 19:37] a8m commented on #1652
Hey @Zhe-Shen and thanks for raising this issue.

The index API doesn't support this, but it's going to be added in the upcoming release as we're rewriting the migration framework atm (should be released in a few weeks from now). If you're blocked on this, please ping me on [our Slack chanhel](https://entgo.io/docs/slack/) and I'll try to help. Thanks 🙏

[2021-06-24 05:09] masseelch opened #1655 "Extend External Template Support"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

1. Currently every templates one adds to extend ent is run against the `Graph`. I'd like to be able to run templates against the `Type`s.
2. Another feature I'd like to see is to be able to define templates that do not result in another file generated.

[2021-06-26 11:09] a8m commented on #923
Hey @DeedleFake,
Someone mentioned this issue on our [Slack channel](https://entgo.io/docs/slack/), and I found out that I didn't reply to it or missed it somehow (Sorry!).

When defining privacy rules on `ent/schema`, they usually import helpers from the generated `ent/privacy` package, which imports the `ent` package. Therefore, if you define a custom type on the `ent/schema` package and use it

[2021-06-26 11:09] #923 closed

[2021-06-27 05:38] masseelch commented on #1655
@a8m I was able to do bullet 1 by the use of the code generation hooks. Pretty neat feature.

Bullet 2. still is an issue though.

[2021-06-29 07:44] godcong commented on #1266
now, i had other ways to resolved this.

[2021-06-29 07:45] #1266 closed

[2021-06-29 20:46] andybritton opened #1669 "entproto: generated proto modification"
Reading through the grpc implementation I can't see anything about adding additional options to the service such as grpc-gateway/google annotations.  Is this something that's being considered at all?  How would modifying the generated .proto's be effected in future generate commands?

[2021-06-29 20:56] #1669 closed

[2021-06-30 08:32] thesobercoder commented on #46
@a8m Any chance for SQL Server support?

[2021-07-01 04:22] Erog38 commented on #743
I love this concept, I was just looking around trying to see if I could represent an edge in this way. I'm building a tree where nodes may be of various types to facilitate the case of having edges to various types (as you may see in something like gremlin) I'm very curious to know if there have been other issues or requests around this ideology.

[2021-07-01 20:17] Erog38 opened #1677 "JSON Type Object merge"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When updating a json object, many times, I don't want / need to replace the entire object, but just need to merge an existing update with the current object. Something like this:
[code]

Though this snippet only works for MySQL, I think it gets the conce

[2021-07-03 11:00] maxifom opened #1681 "UUID Nillable does not generate SetNillableUUID"
In #1504 we got .Nillable() support for uuid builder. But when code is generated, there is no method to Set uuid field to nil.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`go generate ./...` doesn't produce SetNillableUUID method

## Expe

[2021-07-03 12:32] CNTWDev opened #1682 "what's wrong?"
Dear,all

when i followed the doc to start my first ent project.
Error occued.
`go generate ./ent`
`load schema dir: missing package information for: schema
exit status 1
ent/generate.go:3: running "go": exit status 1
`
best wishes.

[2021-07-03 12:50] a8m commented on #1682
Hey @CNTWDev,
What’s your Go version? Do you have any schema files under the “ent/schema” package/directory?

[2021-07-04 09:09] rotemtam opened #1683 "Add new contributors"
Creating an empty issue to tag all-contributors bot

[2021-07-04 09:09] rotemtam commented on #1683
@all-contributors please add @tarrencev as a contributor for code

[2021-07-04 09:12] rotemtam commented on #1683
@all-contributors, please add @MONAKA0721 for docs

[2021-07-04 09:13] #1683 closed

[2021-07-04 10:47] a8m commented on #1681
Hey @maxifom, and thanks for opening this issue.

As mentioned in the doc, the `Nillable` option is used to distinguish between the zero value of fields and `nil`; for example, if the database column contains `0` or `NULL`. The `Nillable` option exists exactly for this.
If you have an Optional field of type `T`, setting it to `Nillable` will generate a struct field with type `*T`. Hence, if the da

[2021-07-04 10:47] #1681 closed

[2021-07-05 07:29] rotemtam commented on #139
Summarizing a discussion with @a8m, @ivanvanderbyl, and @arielitovsky from June 22nd

* `INSERT .. ON DUPLICATE` do not map nicely to ent's current hooks/privacy infrastructure. to keep those in place, upsert APIs will be available out of the box for working with a single record and be implemented with `SELECT .. FOR UPDATE`.
* `INSERT .. ON DUPLICATE` are useful for bulk upserts, mostly in data p

[2021-07-05 13:06] bonafideyan commented on #1411
what's progress? can I help?
I need this feature for long, in short, message-user table need a read field. or, man-woman table need a married-time field and a divoice-date field.
quickly, I'm waiting.

[2021-07-06 03:21] allanwakes commented on #1682
My Go version is 1.16.5, and yes, I got schema file under the “ent/schema” package/directory, I've got the same problem as CNTWDev did.

[2021-07-06 03:24] allanwakes commented on #1682
Wired, I rerun `go generate ./ent`, but before that, I run `go mod tidy` first, and this time it worked. But I have no clue why `go mod tidy` was needed.

[2021-07-06 14:38] naormatania opened #1688 "Edge field makes required field nullable in database"
Before adding edge field, the required field was defined as `NOT NULL`
However once I added a required edge field for this field (https://entgo.io/docs/schema-edges#edge-field) the field was changed to be of type `NULL` which is incorrect

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this

[2021-07-07 03:16] liuaiyuan opened #1694 "Clickhouse support"
Clickhouse support!!!

[2021-07-07 11:05] godcong opened #1695 "how to check the sql error:table is locked?"
now i have used sqlite3.
when i insert some data into table `pins`.
the table was locked.
[code]
i want check this error, and do some processing.
ent has `NotFoundError`,But i didn't find the anything about `Locked` error.

[2021-07-07 11:13] alexsn commented on #1695
ent wraps underlying database errors so you can extract and check for those using `errors.Is` / `errors.As`.

[2021-07-07 11:21] a8m commented on #1695
Thanks, Alex ❤️

@godcong, if you're using `mattn/go-sqlite3`, please see: [sqlite3.Error](https://pkg.go.dev/github.com/mattn/go-sqlite3#Error) and [error number variables](https://pkg.go.dev/github.com/mattn/go-sqlite3#pkg-variables).

[2021-07-07 14:33] masseelch commented on #1655
@a8m I am sorry to ping you here, but did this somehow slip through? Do you need more info?

[2021-07-09 07:34] a8m commented on #1695
Closing, but please feel free to reopen if you have more questions.

You're also welcome to join our [Slack channel](https://entgo.io/docs/slack/) 😃

[2021-07-09 07:34] #1695 closed

[2021-07-09 10:53] RobinCodeX opened #1699 "Edges field with inconsistent string types"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

After the creation of the following table, Order's id is `char(12)`, **order_id** type is `varchar(12)`, **order_id** should also be `char(12)`, whether I think it might be a bug?

Order Table:
[code]
RefundOrder Table

[2021-07-09 11:32] advanderveer opened #1700 "go vet fails: node.go:727:7: load passes lock by value: x/y/z.tables contains sync.Once contains sync.Mutex"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When running `go vet ./...` on the generated code results in the following error: ```model/node.go:727:7: load passes lock by value: github.com/crewlinker/gql/model.tables contains sync.Once cont

[2021-07-09 12:08] a8m commented on #1700
Thanks for reporting this @advanderveer. The receiver is not used in this function, but it still needs to be changed to a pointer receiver. Would you like to contribute a fix?

https://github.com/ent/contrib/blob/5fd78e4/entgql/template/node.tmpl#L341

[2021-07-09 12:37] advanderveer commented on #1700
Thank you for the quick response @a8m a colleague of mine contribute the fix. Possibly today, else next week

[2021-07-09 12:40] #1699 closed

[2021-07-09 12:41] a8m commented on #1699
Thanks for reporting this issue @RobinCodeX 🙏

https://github.com/ent/ent/pull/1701 fixed the issue, and you're welcome to update to `master` and reopen if you have any other problems with it.

You're also welcome to join our [Slack channel](https://entgo.io/docs/slack/) 😃

[2021-07-09 12:43] a8m commented on #1700
Sure, the fix is super simple, but you're (or your colleague) more than welcome to join our [Slack channel](https://entgo.io/docs/slack/) and ping me if you have any questions 😃

[2021-07-09 13:04] akfaew commented on #1700
@a8m There we go: https://github.com/ent/contrib/pull/105

[2021-07-09 13:08] a8m commented on #1700
Thanks, @akfaew! Please see my comment https://github.com/ent/contrib/pull/105#issuecomment-877173374

[2021-07-09 13:17] a8m commented on #1700
Closing as https://github.com/ent/contrib/pull/105 fixed the issue. Thanks, @akfaew! 🙏

@all-contributors please add @akfaew for code

[2021-07-09 13:17] #1700 closed

[2021-07-11 12:02] mvrahden opened #1707 "Auto-Rollback in Tests"
Hi all and thanks for maintaining this project.

I might have overseen it in the docs or turorials, but I'm missing an auto-rollback option (cleanup hook or something?) for tests.
I've also searched this repo, but wasn't able to find anything related.

I followed the tutorial and expanded now to my own use case.
So far I liked what I'm seeing.
But after adding more test cases I observe that state

[2021-07-11 12:41] mvrahden commented on #1707
From slack [thread response](https://gophers.slack.com/archives/C01FMSQDT53/p1626006022090100) the recommended way is to use sqlite as in-memory db for unittests and test containers with temporary named schemas for integration tests (cleaning up the named schemas afterwards).

[2021-07-11 12:41] #1707 closed

[2021-07-11 14:53] bodokaiser opened #1708 "Paginate without contrib/entql"
Hi,

I am using entgo in an AWS Lambda which is used as a data source for AWS AppSync. AWS AppSync is a GraphQL server service from AWS.

I would like to implement the Relay Cursor Connection specification. In principle, everything is written in the [Relay GraphQL tutorial][1]. However, the tutorial is written very specifically to the case of running a standalone GraphQL server with [99designs/gql

[2021-07-11 20:25] ivanvanderbyl opened #1709 "Postgres: O2O index migration fails when node name is too long"
When creating a O2O relation between a node of the same type with a name like `TravelRestrictionSnapshot`, the unique constraint on the joining relation fails to be maintained on second and subsequent migrations, where Ent attempts to drop the index.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and belie

[2021-07-12 10:32] arielitovsky commented on #1707
A another option to consider is to use https://github.com/cockroachdb/copyist although we've had mixed results with it (could just be our implementation, though)

[2021-07-12 18:53] a8m commented on #1708
Hey @bodokaiser and thanks for opening this issue.

You can use the `entgql` extension without passing the GraphQL schema. For example:

**ent/entc.go:**

[code]

Does the answer above solve the issue, or you still want a "reduced version"?

You're welcome to ping me on our [Slack channel](https://entgo.io/docs/slack) and I'll be more than happy to help with that.

[2021-07-12 20:43] bodokaiser commented on #1708
Hi Ariel,

Thank you for your answer. I will try your suggestion on Saturday and post an update.

Wish you a good week :)

Bodo

[2021-07-13 05:57] shenghui0779 commented on #400
where is `entsql.PrimaryKey` ?

[2021-07-13 11:52] joewreschnig opened #1714 "Validators for Bytes fields"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

We would like to configure validators for `Bytes` fields similar to string fields. Introducing a new method,
[code]
would be sufficient for us. (It even seems to codegen something reasonable already when used, but I didn't run any tests to see if it's co

[2021-07-13 13:33] a8m commented on #1714
Hey @joewreschnig and thanks for proposing this feature. I added support for the `Validator` API (see https://github.com/ent/ent/pull/1715) - will merge it soon.

I think those helpers can be useful. Let's leave this issue open and get feedback from additional users 😃

You're welcome to join our [Slack channel](https://entgo.io/docs/slack/) btw 😎

[2021-07-14 03:09] phpmaple opened #1716 "schema import"
ent support generate schema from sql file, or dbml file, and ent should export schema sql, or graph image

[2021-07-14 08:24] godcong opened #1718 "UpdateDefault func was not supported without Time"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Due to time zone issues, I use `Int64` to save the time.
But I found that Int64 has no `UpdateDefault` function.

## Motivation 🔦

I hope this function can be used in scenarios other than Time.
After looking at the implementation, it doesn't seem to be c

[2021-07-14 10:44] godcong commented on #1585
I feel that I may not be able to deal with this temporarily.
I haven't understood some implementations of `ent gen`.

[2021-07-14 11:24] rotemtam commented on #1585
@godcong it should not be a very difficult implementation. if you like ping me on slack and I will break it down with you into small steps. I will b very happy to have more people contributing to this part of ent

[2021-07-14 15:50] owen-gxz opened #1719 "I have some problems when I want to query through groupby"
When I do statistics, for example

[code]
I found it wrong

[2021-07-15 13:38] godcong opened #1723 "ent generated but some methods are missing, making it impossible to run"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

This is my table relation:
[code]

my test code:
[code]

failed result:
[code]

when i deleted `Field("parent_id")`,
all test was ok.

## Current Behavior 😯

## Expected Behavior 🤔

## Steps to Reproduce 🕹

Steps:
1. g

[2021-07-15 18:52] a8m commented on #1718
Hey @godcong, and thanks for proposing this.

I don't mind adding it, but if you want to contribute this change, I'll be happy to support you if you need any help.

BTW, if you're blocked on this atm, you can use [ent/hooks](https://entgo.io/docs/hooks/#schema-hooks) for setting this field for you until the `DefaultFunc` option will be supported.

[2021-07-16 09:27] godcong opened #1728 "get constraint failed error when use 02M with edge.To specifies Field"
refer to: https://entgo.io/docs/schema-edges/#o2m-same-type, and wrote the 02M relationship table。
all test was done。
then，i added `Field("parent_id")` 。
finally，i failed to insert data successfully。

[code]

test code:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a du

[2021-07-16 11:22] a8m commented on #1716
Hey @phpmaple and thanks for raising up these features.

@zeevmoney is working on adding support for generating ent/schema from SQL schema (this is a duplicate of https://github.com/ent/ent/issues/967).

You can use the [offline migration mode](https://entgo.io/docs/migrate#offline-mode) if you want to export an SQL schema to a file/stdout.

Regarding exporting an ER or a graph diagram - please se

[2021-07-16 11:22] #1716 closed

[2021-07-16 11:23] a8m commented on #1723
Thanks for reporting this @godcong. I'll give it a look.

[2021-07-16 11:24] a8m commented on #1728
Thanks for reporting this @godcong. I think it's related to https://github.com/ent/ent/issues/1723, but I'll give it a look and update you, thanks.

[2021-07-16 19:16] a8m commented on #1723
I checked the code, and have a [fix for this](https://github.com/ent/ent/pull/1731), but I think the definition is not correct, and should be as follows:

[code]

Or:
[code]

It does make sense that if the relationship is named `parent`, the edge-field will be named `field_id`.

Please let me know what do you think.

[2021-07-16 19:33] #1723 closed

[2021-07-16 20:03] a8m commented on #1728
Hey @godcong, I was not able to reproduce this issue (this functionality is basic, and it's cover in our integration tests). I'm pretty sure I know what's the reason for this.

Can you try running your example as follows:

[code]

As you can see, I replaced the order of `SetAdminSysMenu` and `SetParent`, and I think that your custom function `SetAdminSysMenu` overrides the edge-field with zero IDs

[2021-07-17 08:08] godcong commented on #1728
@a8m
I commented out the optional parameters.
all test was ok.

[2021-07-17 08:08] #1728 closed

[2021-07-17 09:47] bodokaiser commented on #1708
Hi Ariel,

I was able to get the entgql extension running. I created a `cmd/entc/main.go` file with:
[code]
I also had to `go mod tidy` to get `99designs/gqlgen` and other dependencies but as you wrote, it was not necessary to include the schema.

One open problem regards the `Cursor`. AWS AppSync does not allow adding custom `scalar` types and it appears to me that `ent.Cursor` does not serialize

[2021-07-17 12:07] bodokaiser commented on #1708
I added to `ent/pagination.go`
[code]
and created tests with `pagination_test.go`
[code]

Some remarks:
* Using `json.Encoder` together with `bytes.Buffer` and `base64.Encoder` is problematic because `json.Encoder.Encode` adds a newline `\n`.
* Using `base64.StdEncoding` instead of `base64.RawStdEncoding` adds padding to the base64 encoded string (the padding symbol is `=`). I think the reason is

[2021-07-17 20:51] a8m commented on #1580
@dangerous1990, would you like to contribute this example to our [FAQ page](https://entgo.io/docs/faq/)? Thanks

cc @zeevmoney

[2021-07-18 05:40] liuaiyuan opened #1734 "Hope to add the `paginate` method to quickly query paging data"
Hope to add the `paginate` method to quickly query paging data

[code]

[code]

[2021-07-19 09:45] a8m commented on #1655
Hey @masseelch and sorry for the delay. I faced this issue before (bullet 2), but needed some time to think about it.

The proposed solution (that I'm working on), is to use a naming convention for "helper templates". Unlike "root templates", "helper templates" are not executed directly by Ent and won't be written to a file, but can be used internally by other templates.

A template is treated as

[2021-07-19 10:46] masseelch commented on #1655
Hey @a8m, thanks for taking the time to look at this.

Solution 1 looks good to me, just was wondering about the following: Why the need for `<root-template/helper/.+` and not simply `helper/.+` or `.*/helper/.+`?

The current proposal will prevent the use of helpers across multiple `<root-templates>`s, at least this is what I get from it.

Compiler directives are used to have some kind of conditi

[2021-07-19 10:58] a8m commented on #1655
We can support this as well.

So did I. I'll send a patch soon, and add you as a reviewer.

[2021-07-19 11:08] masseelch commented on #1655
Thank you very much :+1:

[2021-07-19 12:09] advanderveer opened #1741 "Creating an entity called "sync" will cause a compilation error of the generated code"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When creating a sync entity like this:
[code]

The generated code will not compile, instead gives the following error:
[code]

Most probably because it collides with the stdlib "sync" package.

#

[2021-07-19 12:39] a8m commented on #1655
@masseelch, please see #1742.

Just raising here another approach I had in mind, similar to the [testing.T.Helper](https://pkg.go.dev/testing#T.Helper) function:

[code]

[2021-07-19 13:12] masseelch commented on #1655
I am not sure I'd like that. I am usually trying to avoid side effects whereever possible. But with this approach we'd be able to have `ent` generate a `helper.go`, which is not possible with the current proposal (which is not really an issue, honestly
).

[2021-07-19 13:14] a8m commented on #1655
You'll be able to generate `helper.go` with the current proposal. The matching in #1742, is on:

[code]

[2021-07-19 13:21] masseelch commented on #1655
You are right. Have not reviewed yet. Will do soon.

[2021-07-20 06:43] shellbear opened #1746 "Add nillbale update to non-null fields Update"
Hey 👋

First, I would like to thank you for this awesome ORM.

I suggest updating the `Update` API to allow Nullable update for non-null fields. Like the following:

[code]

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

During `Update`, for example in GraphQL we usually update only some fields and o

[2021-07-20 06:57] #1655 closed

[2021-07-20 07:16] wahello opened #1748 "How to update int column increase by 1."
### How to update int column increase by 1 or some.

[2021-07-20 07:26] wahello commented on #1748
Just like SQL `UPDATE users set age=age+1 where id=100000`

[2021-07-20 07:51] harshmangalam opened #1749 "not return those field in query whose default value is false, empty string"
I have query my user data and get all data but those field are not  included whose default value was null, "" or false

json data when i have toggled is_active from false to true during login

[code]

after some time json data when i have toggled is_active from true to false during logout

[code]

| Tech        | Version |
| ----------- | ------- |
| Go          | go1.16.6 linux/amd64 |
| Ent

[2021-07-20 08:10] a8m commented on #1748
Hey @wahello, use the `Add<Field>` setter. For example:

[code]

[2021-07-20 08:11] a8m commented on #1748
Closing, but please feel free to reopen if you still need help, or join our [Slack channel](https://entgo.io/docs/slack/). Thanks 🙏

[2021-07-20 08:11] #1748 closed

[2021-07-20 08:28] cliedeman opened #1750 "Improve Rejection Error"
[code]

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The hook rejection error is hard to decipher. I expected the error to be

[code]

## Motivation 🔦

Trying to get better feedback for readonly driver

[2021-07-20 08:31] cliedeman commented on #1750
@a8m do you know of a good pattern or example of deconstructing a unioned enum in go?

Something to convert
[code]
to Create, Update

[2021-07-20 11:29] rotemtam commented on #1749
Hi @harshmangalam ,
Thanks for reaching out.
I'm not sure I understand what your question is. Can you elaborate?

What you described is expected behavior from `json.Marshal` for struct fields annotated with `omitempty`.
If you look at the structs generated by ent, by default, fields are tagged with `omitempty`:
https://github.com/ent/ent/blob/279d6c2a123e786cde54218caca9ee9c66c21b76/entc/integrati

[2021-07-21 00:38] timoha opened #1754 "Specifying ORDER BY with UNION results in an sql syntax error"
- [ ] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When doing `sql.Select().From(tableA).Union(tableB).OrderBy()` the `ORDER BY` clause is appended to `tableA`'s select instead of on the entire union (at the end of the SQL query).

## Expected Be

[2021-07-21 02:26] y4code commented on #1749
I have the same problem with @harshmangalam

so is there any general way to remove the tag `omitempty`, `Annotations()` or `StructTags` works, but not so simple and clean

[2021-07-21 05:33] rotemtam commented on #1749
Hi @y4code,

If you want to apply a general manipulation to all schemas, you can use [Codegen hooks](https://entgo.io/docs/code-gen#code-generation-hooks) to mutate the graph before code is generated. Does this answer your question?

[2021-07-21 05:53] y4code commented on #1749
@rotemtam Thanks, seems like using `Hooks` with `entc` works fine

If I want to remove `omitempty` with `ent CLI`,  should i write a feature flag which would be used like this ?
[code]

[2021-07-21 06:04] y4code commented on #1749
Use external templates instead of feature flag, I figured it out, thanks @rotemtam

[2021-07-21 07:14] a8m commented on #1754
Thanks for reporting this @timoha. The UNION clause needs to be moved before the ORDER BY according to the PostgreSQL syntax. Please, feel free to send a patch https://github.com/ent/ent/blob/master/dialect/sql/builder.go#L2327-L2340

[2021-07-21 08:50] #358 closed

[2021-07-21 08:58] a8m commented on #358
Hey all, the issue was resolved with #1755. The documentation for this feature exists in [entgo.io website](https://entgo.io/docs/feature-flags/#row-level-locks), and an extensive example/blog-post will be posted in the upcoming days. Thanks for all the suggestions here. It's appreciated 🙏

cc @rotemtam

[2021-07-21 09:26] godcong opened #1757 "API table some end with ap_is and some end with apis"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
i defined an api table then run migrate.
it created two tables `admin_sys_ap_is` and `admin_sys_permission_apis`.
[code]

## Expected Behavior 🤔
 the correct name of `admin_sys_ap_is` should be ``

[2021-07-21 09:43] godcong commented on #1757
is this add `rs.AddPlural("API", "apis")` in NewDefaultRuleset can solved?

[2021-07-21 14:14] squarebat commented on #1754
Seems straight forward. I can take this up.

[2021-07-21 15:16] naormatania opened #1758 "Default field annotation doesn't change existent column"
When I change ent field to have `Default` after the table was already created,
the migration doesn't change the column with command like:
`ALTER TABLE users ALTER COLUMN name SET DEFAULT 'unknown';`

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavio

[2021-07-21 17:01] captainbeardo opened #1759 "Annotation override of default ignored for ID field"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When defining a schema that overrides the ID field to make it a UUID, using an Annotation to override the default does not work:

[code]

Generated SQL has the correct default for `not_id` but no

[2021-07-21 17:26] a8m commented on #1759
Hey @captainbeardo, the issue was fixed with https://github.com/ent/ent/pull/1492. Updating to the latest master using `go get entgo.io/ent@master` will solve the problem.

Closing, but please reopen if you have any issues with it. You're also welcome to join our [Slack channel](https://entgo.io/docs/slack/) :shipit:

[2021-07-21 17:26] #1759 closed

[2021-07-21 17:29] a8m commented on #1754
Good ahead, and please ping me on our [Slack channel](https://entgo.io/docs/slack/) if you need any support with this. Thanks 🙏

[2021-07-21 17:46] captainbeardo commented on #1759
Thanks for the quick response @a8m.

[2021-07-21 19:47] rotemtam commented on #1749
Ok, sounds great. A feature flag for this is indeed a bit overkill :-)

Closing this. Let me know if you need any other assistance.

If you haven't signed up for [our newsletter](https://www.getrevue.co/profile/ent), you can subscribe to updates and great content about ent.

[2021-07-21 19:47] #1749 closed

[2021-07-22 20:33] #1754 closed

[2021-07-23 05:51] masseelch opened #1766 "Interactive CLI"
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Extend the current `entc` tool to behave more like the [symfony maker bundle](https://symfony.com/doc/current/bundles/SymfonyMakerBundle/index.html). The `make:entity` is the command I am mostly interessed in. Having a cli-utility to help generating the

[2021-07-23 08:22] rotemtam commented on #1757
Hey @godcong ,
Thanks for reaching out.
You can tell ent the exact table name you want it to create using [an annotation](https://entgo.io/docs/schema-annotations/#custom-table-name).

[code]

Is this helpful?

[2021-07-23 08:25] godcong commented on #1757
Yes, although the generation rules are inconsistent. But it has no functional impact.

[2021-07-23 11:38] cliedeman commented on #1746
Hi @shellbear have you tried doing this with a template?

[2021-07-24 06:16] shellbear commented on #1746
Hello @cliedeman,

Yes it can be done with templates but, from my personal experience I think that it would be a good feature to add by default to every ent project.

I wonder how many ent users would appreciate it too 🤔

[2021-07-25 08:24] pankdev commented on #407
I think this issue can be closed because of Annotations feature.

[2021-07-25 14:52] cliedeman opened #1768 "Allow a O2m Edge with Same type where to and from are the same"
I am trying to implement a self referrential audit fk where the `created_by` columns refers to `users.id`

[code]

This works but has the unintended sideeffect of adding the owner field

- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

Allow the user to set the to and from values to the same fi

[2021-07-25 15:01] cliedeman commented on #1746
That style feels quite alien to me. I would find it suprising if null/empty updates are dropped because I would expect this to null out the column in the db.

Unless the name was `SetUsernameIgnoreEmpty` or something I think that this would be surpising behaviour for most users

[2021-07-25 18:52] a8m commented on #1758
Thanks for reporting this @naormatania 🙏

The fix for this should be simple. Would you like to contribute the fix for this? Feel free to ping me on our [Slack channel](https://entgo.io/docs/slack/).

[2021-07-25 19:20] cliedeman commented on #1768
I have simplifed my example a bit

[code]

Due to the special handling of same type relationships. I can't trigger the O2M case

https://github.com/ent/ent/blob/master/entc/gen/graph.go#L397

[2021-07-26 06:35] squarebat commented on #1758
I can take this

[2021-07-27 11:24] chhamdi opened #1773 "List of objects and recursive O2M insertion to database"
Hello, this is my first time using ent, thank you for this great tool.
after creating my schemas and running my migration successfully. I want to insert data to my tables, for example i didn' find the way to insert this type of body since there's a lot of O2M relations between the tables (folder, characteristics and attachements)

![226512273_228064952514286_5997070591941349522_n](https://user-ima

[2021-07-27 18:56] #1773 closed

[2021-07-28 01:56] tarrencev commented on #1489
I would like something like this too. In my case, I would like to keep an incremented pk for performance reasons and use a separate index as the foreign key. The reason is during data indexing I would like to deterministically generate the foreign key based on the entity being inserted. This is since the operations are being generated in parallel so need to be done without accessing the database.

[2021-07-28 02:27] TNED opened #1776 "I want to know the usage scenarios of "edge.To" and "edge.From" so that I can better understand how to use it correctly。"
The description of the document is not convenient for me to understand, I don't understand when I should use `edge.From` instead of `edge.To`. Because you can establish a relationship using `edge.To`.

[2021-07-28 07:14] PlusMinus0 opened #1777 "Create fails on long field names"
Ent generated a very long column name for one of my tables. This appears to confuse `Schema.Create()`, at least in combination with postgresql.

[code]

I am assuming, `Schema.Create()` checks, if _very_long_column_name_ (>64) exists (client side, maybe) - it does not, because it is named _very_long_column_na_ (cut after 64 characters). Then it tries to create it, psql trims it, says the column ex

[2021-07-28 07:16] thelark commented on #1734
I wrote a template file like this
[code]

[2021-07-28 07:43] thelark opened #1778 "entgo and GraphQL"
I want to implement the following function,
i have a query like
[code]
how to define schema?

[2021-07-28 09:54] a8m commented on #1777
Hey @PlusMinus0 and thanks for reporting this. As you mentioned, one option is to use shorter field names, but another option is to define a custom storage key (column name) with a shorter version of the field. For example:

[code]

Closing, but please feel free to reopen if you still have questions, or join our [Slack channel](https://entgo.io/docs/slack).

[2021-07-28 09:54] #1777 closed

[2021-07-28 09:58] a8m commented on #1778
Hey @thelark and thanks for opening this issue.

Nested pagination is not supported atm by `entgql`, and you'll need to implement this manually in your resolver (See the `forceResolver` option in [our website](https://entgo.io/docs/graphql/#usage-and-configuration)).

Closing as this is a duplicate of https://github.com/ent/ent/issues/1180, so let's continue the discussion there or on our [Slack c

[2021-07-28 09:58] #1778 closed

[2021-07-28 10:23] rotemtam commented on #1776
Hi @TNED ,

Thanks for reaching out.

In general, `edge.To` is the "owner" of the edge, and `edge.From` is not mandatory, provides a "virtual" backreference that is very convenient to use.  With O2M, relations for example, the entity that has the `.To` side of the edge will have the FK column.

You can find the full documentation including full examples on how to establish relations between two en

[2021-07-29 04:54] #1776 closed

[2021-07-29 06:14] owen-gxz commented on #1719
@a8m can you help me?

[2021-07-29 07:23] tochukaso opened #1780 "Is it possible to set Nillable in the Time field with using gRPC?"
I am using Ent for creating schema and gRPC.

I want to set `Nillable` in the time field.

My code is below.

schema/shop.go
[code]

And run command ` go generate ./...`

generated file
entpb_shop_service.go

[code]

There is a compile error at `timestamppb.New (e.DeletedAt)`.
Because `e.DeletedAt` is pointer.

Is it possible to set Nillable in the Time field with using gRPC?

[2021-07-29 08:39] a8m commented on #1719
Hey @owen-gxz and thanks for tagging me. I missed this issue.

Regarding `BETWEEN` and `NOT BETWEEN`, they are both equivalents to `a >= x AND a <= y` and `a < x OR a > y`, so I didn't see any reason to add them to the API. However, you can still use the `BETWEEN` operator using a [custom predicate](https://entgo.io/docs/predicates/#custom-predicates).

Regarding your query - use the [`sql/modifie

[2021-07-29 08:39] #1719 closed

[2021-07-29 08:41] a8m commented on #1719
Closing, but please reopen if you still have troubles with it, or join our [Slack channel](https://entgo.io/docs/slack) and feel free to ask questions there.

[2021-07-29 10:31] seiichi1101 opened #1783 "Question: Is there any way to add property to edge for Gremlin storage?"
I'd like to add property to `edge` like blow.

[code]

or

[code]

[2021-07-29 12:32] me0den commented on #400
@a8m Is the Annotation `entsql.PrimaryKey` ready to use?

[2021-07-29 14:12] rotemtam commented on #1780
hey @tochukaso ,
Thanks for reaching out.

We don't have support for nillable fields currently.
If you don't particularly need DeletedAt to be a pointer field you can use just `.Optional` to make the field nullable in the DB.

It shouldn't be a difficult fix. Is this something you'd like to contribute? Otherwise, I can allocate some time to fix it next week.

[2021-07-29 14:15] rotemtam commented on #1780
If you want to work on this, please reach out to me via [Slack](https://entgo.io/docs/slack) and I'll guide you through it.

[2021-08-02 15:22] owen-gxz commented on #1719
sorry!  @a8m  After I modified generate.go, I didn't find the modifier method. Why?
[code]

[2021-08-02 16:53] a8m commented on #139
Hey, the upsert and upsert-bulk APIs were added using a new feature flag. Please, feel free to share your thoughts on the PR. https://github.com/ent/ent/pull/1793

[2021-08-03 05:48] dilipkk-foyernet commented on #1061
@a8m
[code]
In the above code sample, what happens if add few more columns to `edge.Columns("user_id", "friend_id","xyz", "abc")`. Can we access them using ent framework?

[2021-08-03 08:33] a8m commented on #1719
Please update to the latest master using `go get entgo.io/ent@master` and re-run codegen.

[2021-08-03 08:55] a8m commented on #1061
No, but I'm going to add support for this after finishing https://github.com/ent/ent/pull/1793.

[2021-08-03 12:02] dilipkk-foyernet commented on #1061
Thanks for a quick response.

On Aug 3 2021, at 2:26 pm, Ariel Mashraki ***@***.***> wrote:

[2021-08-03 12:20] agnel-foyernet commented on #46
Hi Ariel, we have been using the ent framework successfully, you did a great job, many thanks for that. we have a dependency on Edge fields (metadata on edges). when can we expect this change?

thanks
Agnel

[2021-08-04 05:13] akalittle commented on #1746
Need `SetXXXIgnoreEmpty` !!!

[2021-08-05 10:46] seiichi1101 opened #1807 "Failed to start gremlin container"
Gremlin container failed to start when I run command like below.

[code]

I think the settings are not correct to the latest image of `tinkerpop/gremlin-server`

If `ent` is intended to work with Amazon Neptune, fixing the gremlin version `3.4.11` would be better.
Because Amazon Neptune latest engine version still supports `3.4.11`.

https://docs.aws.amazon.com/neptune/latest/userguide/engine-rele

[2021-08-05 20:07] nint8835 opened #1811 "entgql: Autogenerated where filter input types intermittently use incorrect enum for enums with overlapping names"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/ent/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When doing `go generate ./ent/...` with a project with auto-generated where filter input types enabled (`entgql.WithWhereFilters(true)`) and overlapping enum names (so `test.Test` and `othertest.

[2021-08-06 00:05] utamori commented on #1238
ent in echo example 👀
https://github.com/mattn/echo-ent-example

[2021-08-06 03:14] febelery opened #1812 "field.Time("updated_at").Default(time.Now) time.now timezone"
my time.now is eg: `2021-08-06 11:12:56.274314815 +0800 CST m=+0.570271470`
bu insert to sql time is: `2021-08-06 03:12:56`, i want to set `2021-08-06 11:12:56`

how to set **timezone** ?

[2021-08-06 07:58] MaxToby commented on #1812
[code]

[2021-08-06 11:59] a8m commented on #1812
Hey @febelery!

I think it can be done with MySQL driver configuration. Can you please try the suggestion mentioned in https://github.com/ent/ent/issues/1567#issuecomment-842952403 and report if it solves the issue? Thanks

[2021-08-06 12:00] a8m commented on #1811
Thanks for reporting this @nint8835. I'll give it a look later this weekend 🙏

[2021-08-06 12:02] a8m commented on #1783
Hey @seiichi1101 and thanks for opening this issue. Currently, there's no way to attach additional fields/properties to edges in all storage engines. However, I'm going to start working on it soon.

Closing as it's a duplicate of https://github.com/ent/ent/issues/1061. Thanks

[2021-08-06 12:02] #1783 closed

[2021-08-06 12:05] a8m commented on #1807
Thanks for sending a patch for this @seiichi1101

@alexsn, would you mind adding me to the [entgo org](https://hub.docker.com/u/entgo) at Dockerhub? Thanks 🙏

[2021-08-06 12:07] febelery commented on #1812
thank you, problem solved

[2021-08-06 12:07] #1812 closed

[2021-08-07 09:12] alexsn commented on #1807
sure, what's your docker id?

[2021-08-08 09:55] naormatania opened #1815 "Bulk update"
This feature proposal is about updating many entities in a single query similar to how `Create Many` and `Upsert Many` work.

I'd love to hear people thoughts about if this proposal sounds helpful to others, if there could be challenges I don't anticipate and what's the best way to support it (especially since it might be better to only support it in postgres, details below) - external templates ?

[2021-08-09 10:37] michaelkub opened #1817 "After migration to 0.9.0 failures in join queries"
## Current Behavior 😯

After migration to 0.9.0 some join queries stop to work.
Example of query with error
[code]

Wrong part of queries is:
[code]
Error is:  **no such column: t1.partner**

## Expected Behavior 🤔

This is autogenerated query at 0.8.0

[code]

## Steps to Reproduce 🕹

We have following query:

[code]

Also, we have privacy rule, that should add a following predicate:
[code]
## En

[2021-08-09 11:03] a8m commented on #1817
Thanks for reporting this @michaelkub, I think it's related to https://github.com/ent/ent/pull/1592.

I'm going to give it a look later today and will update you. Thanks 🙏

[2021-08-10 18:09] DeedleFake opened #1821 "DoNothing() + Upsert.ID() returns low-level SQL error in Postgres"
## Current Behavior 😯

[code]

The above code results in an error if there's a conflict. Postgres's `RETURNING` combined with `ON CONFLICT DO NOTHING` doesn't return any rows, and the internal attempt at scanning the expected returned rows causes a low-level SQL error to leak from the ent API and be returned here.

Using `Ignore()` instead of `DoNothing()` works as expected. [Here's an example of

[2021-08-10 19:31] a8m commented on #1821
Thanks for reporting this @DeedleFake.

I prefer the first option. The same check applies to SQLite as well.

Agree. Would you like to contribute this change? Thanks 🙏

[2021-08-10 22:37] DeedleFake commented on #1821
Certainly. What error should it return?

[2021-08-11 03:49] wangqi811 opened #1823 "MySQL: Does ent support query tags in struct?"
In database the column is named "name"
entity fields:
func (Product) Fields() []ent.Field {
	return []ent.Field{
		field.String("name").MaxLen(50),
}
 but when I do the specific query and want to fetch the data with the key "product_name"
type Item struct {
        ProductName string `json:"product_name"`
}
the query is like below:
client.Query().Select(product.FieldName).Scan(ctx, &item)

Then an

[2021-08-11 14:46] a8m commented on #1823
Hey @wangqi811, you can solve it using the `sql` struct-tag. For example:

[code]

Closing, but please feel free to reopen if you still need help with that. You're also welcome to join our [Slack channel](https://entgo.io/docs/slack/) 😃

[2021-08-11 14:46] #1823 closed

[2021-08-11 16:09] ivanvanderbyl opened #1826 "Upserting with client generated ID updates ID"
When using custom IDs, such as `uuid.New` or `ksuid.New` as the value, and not using a database generated ID, Upserts change the ID (primary key) of the row on conflict when attempting to return the ID, even when using `Exec()` instead of `ID()`.

This seems to be due to the clause `id = excluded.id`, which is used to return an ID. This could potentially be changed to `id = table_name.id`

- [x] T