[2020-11-17 03:40] cocotyty opened #955 "How to add columns on M2M table?"

[2020-11-17 03:41] #955 closed

[2020-11-17 10:30] cocotyty opened #957 "Confusion of M2M table structure"
User table defined as:
[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/2241753/99378596-90be5c00-2902-11eb-984b-04b25fa48157.png)

why follower_id is 1 ?
follower is bar ,bar's id is 2.

[2020-11-17 17:45] haoxins commented on #935
So, is it a good point to add a new func DefaultFunc (maybe another better name) to the FieldBuilder?

[2020-11-17 19:28] a8m commented on #950
Hey @masseelch and sorry for the delayed response.
Please see https://github.com/facebook/ent/issues/708#issuecomment-689070774 as a reference example for your question.

If you think a new API needs to be provided by ent (or can be improved), feel free to open a proposal for it.

Also, since you're not new here 😉, I appreciate if you can add your company to the [community users page](https://gith

[2020-11-17 19:31] a8m commented on #935
Yes, I think we can add it only for string fields for now and add it to others in the future if we'll see a need for this.

Please let me know if you want to contribute it and need help with this 😃

[2020-11-17 19:40] masseelch commented on #950
For now my solution is ugly but working and the the data is small enough so I do not run into performance issues.

I am using ent to learn go, mostly in my free time. The moment my company starts using ent I will add it.

[2020-11-18 02:54] Randy618 opened #958 "Hope to add cache policy(eg:redis)"

[2020-11-18 03:40] errorhandler commented on #869
Great to hear @a8m! I've done 3 with a template for my use case so I'm happy to expand this work and contribute. I'll have a go making what I believe are the required changes and follow up with any questions I may have.

[2020-11-18 09:37] a8m commented on #957
Hey @cocotyty and thanks for raising up this issue.

Usually, for non recursive relations, we use `T1_id`, `T2_id`, but in cases of M2M relations from a type to itself, we fallback to the back-reference name for the column. See:
https://github.com/facebook/ent/blob/dea48a78eae387eaa7845480e6a3559029684a14/entc/gen/graph.go#L348-L356

The relation-table represents only the `followings` edge, and th

[2020-11-18 09:41] a8m commented on #958
Hey @Randy618, this option is currently not supported by ent and it's blocked on #833.
Keeping this issue open as I expected to add support for this in the future.

[2020-11-18 09:48] a8m commented on #950
Wonderful, thanks.

[2020-11-18 09:48] #950 closed

[2020-11-18 15:11] haoxins commented on #935
I'm pleasure to do that after my vacation :)

[2020-11-18 15:21] dilipkk-foyernet opened #959 "question: M2M aggregation query help"
Hi @a8m,

I need some help following M2M aggregation query. Let us assume,[ users and groups](https://entgo.io/docs/schema-edges/#m2m-two-types) tables have M2M relationship between them.
I would like to output:
|Group Name     | User count   |
| :------------- | :----------: |
|  Developers | 10   |
| Managers  | 2  |

How to achieve this?

Thanks a lot for your contribution to this library.

[2020-11-18 15:28] a8m commented on #959
Hey @dilipkk-foyernet, I can give it a look later, but please see https://github.com/facebook/ent/issues/842#issuecomment-707896368 as a reference how to add custom logic to the query builder.

[2020-11-19 05:24] dilipkk-foyernet commented on #959
@a8m also, if we want to get all group details along with user count then how to do. it is almost like getting entire group object and just users count. Is it possible?

[2020-11-20 07:33] TrineStudio commented on #46
Ex-Facebook employee here, wondering are there plans to have Ent support in other language as well? Would this open source Ent have almost all the functionality as the internal Ent?

[2020-11-20 08:04] cliedeman commented on #833
Also interested in this

Could possibly implement something simliar too [ef core global filters](https://docs.microsoft.com/en-us/ef/core/querying/filters)

e.g. by default only retrieve active records

[code]

[2020-11-20 09:16] hugmouse opened #963 "[postgres] sql/schema: invalid type "inet""
The Postgres database has [types](https://www.postgresql.org/docs/current/datatype-net-types.html) that are designed to store IP/CIDR — `inet`, `cidr`,`macaddr`,`macaddr8`. I wanted to use them, but I came across the next _possible_ bug, which I did not understand how to fix: `sql/schema: invalid type "inet" for column "last_login_ip”`

## Code example

`main.go` (copy-n-pasted from [sql.DB Integr

[2020-11-20 09:34] cliedeman commented on #963
@hugmouse migrations currently do not work with `SchemaType`. You will have to create the tables without using Schema.Create.

[2020-11-20 09:51] a8m commented on #963
Hey @hugmouse and thanks for reporting this.

I think this should work if we’ll add these types to PostgreSQL migration (only if it’s not a user-defined type).

I’ll give it a look.

[2020-11-20 10:01] cliedeman commented on #963
@a8m you will need the user defined column changes that are in #893. I can pull them out into a smaller pr.

Unless you want to support schema type only for the initial migration?

[2020-11-20 14:03] a8m commented on #963
Smaller PRs will make the review work much easier for me, but I prefer to finish #954 first.

@hugmouse - I've added a small change that should make it work, can you please update to master and update us?

I'm going to focus the upcoming weeks on a few improvements for the migration, like supporting user-defined types (`field.Other(...)` in ent/schema), many other popular types including their pre

[2020-11-20 14:32] hugmouse commented on #963
Hi, @a8m. Now the database migration works, thank you!

[2020-11-20 15:04] ftomza opened #966 "BUG: Enum "Redeclared in this package""
If the enumeration is set to one of the values as "**in**", then everything breaks.

[code]

Since the generated constant intersects with the method

[code]

[2020-11-20 16:16] a8m commented on #963
Great and thanks for reporting this.

Closing.

[2020-11-20 16:16] #963 closed

[2020-11-20 18:21] NickDubelman commented on #374
Hmmmm, I see this issue was merged with #280, but in the merged solution, I don't see any reference to "Label".

How can I have a field named "label"?

[2020-11-20 18:52] cliedeman opened #967 "Question: Generate Schema Fields"
Is there any code available to generate a schema from an existing database?

[2020-11-20 18:58] alexsn commented on #967
No, we never had a need for such a tool even though I can see how it might be useful.

[2020-11-20 19:42] a8m commented on #967
Hey @cliedeman, I actually have a POC I created a long time ago, and can open source it in a different repo (not part of ent) as it was just an experimental project - there were multiple edge cases that I didn’t cover.

[2020-11-21 09:13] alexsn commented on #966
Hi @ftomza, you should override the generate go name for the direction enum by using `NamedValues`.

[2020-11-21 11:27] ftomza commented on #966
Hi @alexsn, I have solved the problem of reassigning enum values so far. It seems to me that it is better to add the word **Enum** to the name of the enumeration constants, then it will be clear that this is an enumeration constant and the **Where** mechanisms will not break.

[2020-11-21 12:24] a8m commented on #966
Thanks for the suggestion @ftomza, but I actually prefer to keep the enum naming as it today - naming conflicts (with predicates) is really rare and solvable using custom templates or `NamedValues`.

[2020-11-21 13:39] alexsn commented on #966
Renaming the constant will break existing code as this is an exported constant. We added the `NamedValues` option to handle cases similar to the one you were facing.

[2020-11-22 08:26] a8m commented on #963
Hey @hugmouse, I added a net-type example for our [FAQ page](https://entgo.io/docs/faq/#how-to-define-a-network-address-field-in-postgresql), would you mind adding your example [there](https://github.com/facebook/ent/blob/master/doc/md/faq.md) as well? Thanks

[2020-11-22 09:55] a8m commented on #966
Closing the issue as there's no action to take here form my side.

@ftomza, please free to re-open it if have any other issues with it.

[2020-11-22 09:55] #966 closed

[2020-11-22 13:12] ftomza commented on #966
Thank you all for your help, I decided as @alexsn suggested.

[2020-11-23 05:32] cliedeman commented on #967
Thanks @alexsn and @a8m.

@a8m Would you mind sharing the code? I did a little experiment [here](https://github.com/cliedeman/ent/commit/808d7d8ac64c4af4e96df67161b26b8cc105780e)
and we actually have almost all we need with the migration code.

I think if we have an interface like this

[code]

We would actually have everything we need to build an importer in a standalone library.

Background:
I h

[2020-11-23 09:23] cliedeman commented on #967
Scratch that. after looking deeper into it a lot more queries need to happen to extract the required information from the database.

It should be completely standalone to migrations.

[2020-11-23 12:58] napei opened #974 "proposal: generate graphql schema"
I recently tried to add graphql to my existing ent project, but failed miserably because I both didn't understand the documentation for both, and also need to learn GraphQL :joy:

So, from what I can tell, `gqlgen` is schema first, as is `ent` (I think). So, would it be at all possible that graphql intergation can be done purely through generation using `entql`? That would be the schemas and confi

[2020-11-23 13:23] a8m commented on #974
Hey @napei, nice to see you here again 😃

That's definitely the plan, and not only for GraphQL, but for other API layers as well (e.g. OpenAPI, Protobuf, etc).

The idea is to create another annotation in `entgql` that will tell the codegen to generate a GraphQL schema, and then it will execute the `gqlgen` codegen.
My plan it is to finish work on the migration and upsert API in the upcoming weeks

[2020-11-23 13:31] napei commented on #974
That's great to hear 😊

I've been busy using ent in production for e-commerce and I'm pleased so far. Keep up the good work

[2020-11-24 09:01] napei opened #977 "question: performance of edge queries"
So I was digging around looking into performance of my application, when I noticed an odd set of rather expensive queries being generated that perhaps could be simplified using nested selects.

I have these schemas

<details>
<summary><code>banner</code></summary

[code]
</details>

<details>
<summary><code>bannertranslation</code></summary

[code]
</details>

<details>
<summary><code>image</code>

[2020-11-24 09:08] napei commented on #977
Just as a thought experiment I tried writing a query for this.

[code]

[2020-11-24 16:08] a8m commented on #977
Hey @napei and thanks for raising up this issue!

Regarding your question, as mentioned in the [docs](https://entgo.io/docs/eager-load/#implementation): <i>since a query-builder can load more than one association, it's not possible to load them using one `JOIN` operation. Therefore, ent executes additional queries for loading associations. One query for M2O/O2M and O2O edges, and 2 queries for loa

[2020-11-24 21:50] napei commented on #977
Yeah so instead of generating `n` arguments for the second query and wasting all that space, it might be more efficient both memory and data wise to use a subquery?

There are still 3 queries in this example one for each but the number of parameters is cut down significantly and a well indexed database might be able to execute these fairly well.

For example, when querying `banner_translations` in

[2020-11-25 01:27] hm0 opened #979 "Question: How to create an edge to itself?"
I have a use case where I must have a table with the following structure:

Table "Group"=(Id, name, value, parent)  // the "parent" column references an Id from another row within the same table Group.

hmo@jupiter ruler % go generate ./ent
entc/gen: resolve "Group" relations: edge "groups" is missing for inverse edge: Group.groups

[2020-11-25 03:36] napei commented on #979
https://entgo.io/docs/schema-edges/#o2o-same-type
https://entgo.io/docs/schema-edges/#o2m-same-type
https://entgo.io/docs/schema-edges/#m2m-same-type

What you want is a same-type relationship. I gather it's probably a o2m relation as a group could be a parent of many groups?

Regardless, You may want something like this.

[code]

Edges must have a from and to even if they are self-referential. Be

[2020-11-25 08:43] a8m commented on #979
Thanks @napei for the support. Maybe one comment here, as mentioned in [docs](https://entgo.io/docs/schema-edges/#o2m-same-type/) you can define this <i>O2M (same type)</i> relationship as follows:
[code]

@hm0 please let us know if you need further help with this.

[2020-11-25 09:13] cliedeman opened #980 "feature: Support for Postgres Point in time Style"
The end goal is to support a postgres point in time schema

Here is a sample

[code]

I will create smaller issues to resolve the pieces.

So far I have identified
* [Partial Indexes](https://www.postgresql.org/docs/8.0/indexes-partial.html)
* [Table Constraints](https://www.postgresql.org/docs/13/ddl-constraints.html)
* [tstrange and tstzrange support](https://www.postgresql.org/docs/13/rangetype

[2020-11-25 10:31] hm0 commented on #979
Hello,
Thanks a lot @napei  and @a8m . That worked.

[2020-11-25 10:31] #979 closed

[2020-11-25 11:00] a8m opened #981 "proposal: rename cmd/entc to cmd/ent"
Command line tool is no longer a codegen-only, as I plan to add more commands to ent in the near future (e.g. `migrate` and `introspect`).

We'll keep backwards compatibility and add some magic in the codegen to migrate users from `cmd/entc` to `cmd/ent`.

[2020-11-25 14:31] a8m commented on #977
In some cases the root-query is a traversal of `N` steps with a few filters, (e.g. `t.QueryT1().Where(...).QueryT2().WithT3()`), and I'm pretty sure it will be much less efficient to execute this sub-query on each loaded-relation - I think the current approach is faster for most cases, but you're welcome to help with testing it and give me more insights if you think it can be improved.

I think we

[2020-11-26 07:02] napei opened #985 "CreateBulk scan error"
Using the same schema as I gave in #977 (as a test of performance), `CreateBulk` seems to have an issue with parsing uuids. Creating a single record works fine.

[code]
[code]

I'm not too sure where this error comes from as it's running inside docker and I can't figure out how to debug that, but a single `banner.Create().SetWhatever().Save(ctx)` works perfectly fine.

[2020-11-26 07:27] a8m commented on #985
Thanks for reporting this @napei, I think I know what's the issue.
I'll give it a look in the upcoming hours.

[2020-11-26 10:12] #985 closed

[2020-11-26 10:12] a8m commented on #985
Closed with #985. Thanks for reporting this @napei!

[2020-11-26 12:41] napei commented on #977
So I did some testing. I added 10,000 rows of banners, banner_translations, and images and tested the performance. I parsed the logs given by `ent` in debug mode to get the query used with argument substitution and ran them in pgAdmin on my local machine (Melbourne, Australia) connected to a postgres server in GCP Singapore. It's just a small 1 vCPU & 3.75GB RAM server.

This isn't exactly an in-d

[2020-11-26 13:09] napei opened #988 "bug: unknown field for id"
I ran into this when trying to index the id field of all my schemas, which was derived from a base mixin.

I am getting `entc/gen: invalid index for schema "User": unknown index field "id"` for that field, even though I know it exists and so does the database.

I tested, and this is present when the `id` field is not provided (default), when it is explicitly defined in the schema, and when it is p

[2020-11-27 05:53] naivelife opened #992 "question: in the o2m case, perent_id is lower, so i can not get the parent_id, design this for what?"

[2020-11-28 11:56] a8m commented on #992
Hey @naivelife and thanks for raising up this issue.
That's going to be addressed soon - see discussion in https://github.com/facebook/ent/issues/869.

Closing as it's duplicate of https://github.com/facebook/ent/issues/869.

[2020-11-28 11:56] #992 closed

[2020-11-29 00:07] ivanvanderbyl opened #995 "Using string IDs generates invalid code"
When using string IDs in the generator setup, the associated SQL handling code produced still assumes an int64 ID:

[code]

<details>
 <summary><code>ent/list.go</code></summary>

Generated code:

[code]

</details>

<details>
 <summary><code>ent/list_create.go</code></summary>

Generated code:

[code]

</details>

<details>
 <summary><code>ent/cmd/entc.go</code></summary>

Custom `entc` command:

[2020-11-29 08:17] a8m commented on #995
Hey @ivanvanderbyl!

Since string IDs don't have default configuration in ent (in the database), you need to define the ID field (as string) in the `Fields` configuration. Please see example [here](https://entgo.io/docs/schema-fields/#id-field) and let me know if you still have issue with it.

[2020-11-29 08:44] #981 closed

[2020-11-29 10:15] sinnrrr opened #998 "ent cmd tool installation failure"
`go get github.com/facebook/ent/cmd/ent`
throws this errror:

`go get github.com/facebook/ent/cmd/ent: module github.com/facebook/ent@upgrade found (v0.5.0), but does not contain package github.com/facebook/ent/cmd/ent`

[2020-11-29 10:19] jason-shen commented on #998
same here, i think there is a change with this package

[2020-11-29 10:20] sinnrrr commented on #998
yeah 2 hours ago the developers switched from `entc` to `ent`

[2020-11-29 10:24] jason-shen commented on #998
i see that in the repo, but what does that mean

[2020-11-29 10:49] a8m commented on #998
Hey @jason-shen and @sinnrrr,
Let me release a new version and see if that fixes the problem.

Some context about the issue - https://github.com/facebook/ent/issues/981

[2020-11-29 10:51] a8m commented on #998
Can you please upgrade ent to latest (v0.5.1), and report here the status. Thanks

[2020-11-29 10:57] sinnrrr commented on #998
@a8m running `go get -u github.com/facebook/ent/cmd/ent` did not help, so I cleared cache from $GOPATH, and all ran well
thanks for contributing to open source world!

[2020-11-29 10:57] #998 closed

[2020-11-29 10:58] a8m commented on #998
Thanks for reporting this @sinnrrr 😃

[2020-11-29 11:01] jason-shen commented on #998
all works as it should by just doing go get -u

[2020-11-29 11:12] yuki2006 opened #999 "Execute query always contains DISTINCT"
https://github.com/facebook/ent/blob/fb97ca66ac4b1cfe0b85f4f060c3996d55ca7c22/entc/gen/template/dialect/sql/query.tmpl#L103

Probably because of the specification of this line, there is no way to make it False.
(Although it is possible if I make custom template..)

Also, if the query contains DISTINCT, it may affect SQL performance, so I want to remove DISTINCT by default.

[2020-11-29 11:26] a8m commented on #999
Hey @yuki2006 and thanks for raising up this issue.

I get the use case, but 2 points about this - we need to come up with some numbers to understand the performance impact, and you should also we aware that it can return duplicate records in some cases (can't think about specific example atm).

(Although it is possible if I make custom template..)

Yes, and we can move this block to a smaller tem

[2020-11-29 15:57] najBaby opened #1000 "Proposal: Generate EntAdmin like Django Admin"
I think it will be amazing to have a template Admin to work with any project easily.

[2020-11-29 22:18] ivanvanderbyl commented on #995
@a8m thanks for that. I eventually figured that out from an example. Even though that code never runs, `go vet` complains about it so I figure it's still an issue.

[2020-11-29 23:05] vojta001 commented on #400
Please @a8m, are you interested in implementing this feature?

[2020-11-30 04:57] dilipkk-foyernet commented on #959
@a8m I understood, how to do this now, I have added additional fields template to create user_count field for group schema and then when querying for groups I am using aggregations to get the user count by joining group_users table with groups table.

[2020-11-30 04:57] #959 closed

[2020-11-30 09:22] a8m commented on #1000
Hey @najBaby! I'm actually working on something like this with @dlvhdr, but it's in progress atm (the initial work can be found here https://github.com/facebookincubator/ent-contrib/pull/18, but there are many changes since then).

Attaching a screenshot how does https://github.com/facebookincubator/ent-contrib/pull/18 look like at the moment. I hope to release its first version soon.

![image](ht

[2020-11-30 10:28] pentest225 commented on #1000
hey @a8m! I will be happy to see that and to help you.

[2020-11-30 22:22] sno6 commented on #842
Hey, @a8m with the above, if I also wanted to fill the edge for the distribution_channel.. so in essence add a select for distribution_channel.* how could that be achieved?

I tried adding a `.Select()` to the Join, and although it creates a working query, it doesn't seem like it can scan the results through as I get an error:

[code]

[2020-12-01 13:00] BrentChesny opened #1002 "entql: uuid support"
Hello there!

We're currently trying to integrate Ent into our project while making use of the new privacy layer. We want to implement a rule that is similar to the FilterTenantRule in the privacytenant example. This rule uses the Filter interface provided by the entql extension. However, when enabling the entql extension in our project, it turned out that it fails on UUID fields. The generated `e

[2020-12-01 13:02] BrentChesny commented on #1002
I realise that the entql extension is still experimental, but creating a Filtering privacy rule seems to rely on it.

[2020-12-01 13:41] a8m commented on #1002
Hey @BrentChesny and thanks for reporting this.

I’ll give it a look in the upcoming hour and update you.

[2020-12-01 14:15] BrentChesny commented on #1002
@a8m Made a pull request that I believe fixes the issue. Let me know if I missed something :)

[2020-12-01 15:13] a8m commented on #1002
Wow, that was fast @BrentChesny, but I actually came up with a little bit different fix for this in #1004 (I saw yours after I created mine).

I think `UUID` fields should be type `driver.Valuer` because this is what we accept in the `schema/field` package (`field.UUID`), and we don't care about the underlying Go type. WDYT?

I know that the popular solutions outside for UUID types use `[16]byte`,

[2020-12-01 15:47] BrentChesny commented on #1002
I think yours is indeed the better solution. I have just one remark on #1004. Other than that it looks good, and we can abandon my PR.

[2020-12-01 16:13] aight8 commented on #400
Some inputs for realization:
- Remove normal ID field
- Define defined fields which are registered as pk ```PRIMARY KEY(quarter_id, course_id, student_id)```
- Alternative ID methods are generated which query WHERE all fields equals the given parameter

Solve problems:
- No ID field required per table - but there is always a unique row identification (this allows to work with all kind of table whi

[2020-12-01 17:35] moqmar opened #1005 "Case-insensitive predicates?"
Assuming I want to search a case-sensitive PostgreSQL database in a case-insensitive way in a small database, I'd normally use `WHERE LOWER(example) = LOWER('Hello World')` or `WHERE example ILIKE 'Hello World'`. Is there an equivalent for that in Ent? Or how would I go about creating a query like that?

[2020-12-01 17:41] moqmar commented on #1005
Ah, figured it out: that's what the `...Fold` predicates do! So, I'd use `client.Example.Query().Where(example.ExampleContainsFold("Hello World")).All(c)`

[2020-12-01 17:41] #1005 closed

[2020-12-01 18:58] a8m commented on #1002
Fixed with https://github.com/facebook/ent/pull/1004.

Thanks for your contribution @BrentChesny, it's really appreciated.

[2020-12-01 21:54] BrentChesny commented on #1002
Thanks @a8m for your quick response to this! 🙏🏻

[2020-12-02 00:43] adrianocr opened #1007 "The Quick Introduction doesn't seem to work for me? The program just hangs and outputs nothing, nor errors out"
Quick introduction at https://entgo.io/docs/getting-started/

So my steps were the following:
- mkdir enttest
- cd enttest
- go mod init enttest
- go get github.com/facebook/ent/cmd/ent
- entc init User
- edit the Fields() function in ent/schema/user.go to:

[code]

- run `go generate ./ent`
- created a main.go file that looks like this:

[code]

- run `go run main.go`

At this point I'd expect it

[2020-12-02 00:52] adrianocr commented on #1007
OK I found the issue.

`var ctx context.Context` is incorrect. It should be `ctx := context.Background()` and the issue goes away. Ideally ent should error out on the wrong context usage but it does not.

[2020-12-02 04:46] #1007 closed

[2020-12-02 06:04] a8m commented on #1002
Great, closing! Feel free to reopen if you still have troubles with it.

[2020-12-02 06:04] #1002 closed

[2020-12-02 09:57] dilipkk-foyernet opened #1009 "Add support for additional fields in Connection objects"
Hi @a8m,

We need to add additional fields to generated connect objects by pagination template.
https://github.com/facebookincubator/ent-contrib/blob/master/entgql/template/pagination.tmpl

[code]
Just like above if you can add support to override a template to add more fields to the connections object then it will help us to extend them as per our needs.

Thanks,
Dilip

[2020-12-02 13:25] masseelch opened #1010 "IsInt returns false on custom ID field"
If i define my schema like this to add some struct tags:
[code]

Calling [`IsInt`](https://pkg.go.dev/github.com/facebook/ent/entc/gen#Field.IsInt) on the [`Type.ID`](https://pkg.go.dev/github.com/facebook/ent/entc/gen#Type) will return false.

[2020-12-02 13:51] a8m commented on #1010
Hey @masseelch,
Please feel free to send a patch to fix it, or I can look at it later.

Thanks 🙃

[2020-12-02 20:02] masseelch commented on #1010
I'll try to dig in tomorrow

[2020-12-02 20:24] samuelralmeida opened #1012 "Convert date after query"
Hi guys,

we have a database in local time zone, so when we execute a query to get data, time fields return in this local time zone.

I want to create some way in the schema description to "tell to `ent`": every time that you do a query from this entity, call a function to convert time zone. It would look like a unmarshal function.

I've tried somethings but nothing works. Is it possible? Can some

[2020-12-02 21:26] a8m commented on #1012
Hey @samuelralmeida,
I'll look at this in more details tomorrow morning (related to https://github.com/facebook/ent/issues/833).

[2020-12-03 06:54] masseelch commented on #1010
Looks like current master does not have this problem any more.

I added a test regarding this though. Do you want a PR for that one? Might prevent a regression.

[2020-12-03 10:04] a8m commented on #897
Solved with #1011

Closing

[2020-12-03 10:04] #897 closed

[2020-12-04 06:24] masseelch commented on #1010
I'll close. Please contact me if you are interested in the test.

[2020-12-04 06:24] #1010 closed

[2020-12-04 06:28] a8m commented on #1010
Hey @masseelch, sorry for the delayed response.

Feel free to send a patch and I’ll look at this later. Thanks 🙏🏻

[2020-12-06 13:05] a8m commented on #1012
Hey @samuelralmeida and sorry for the delayed response.

Regarding your issue, can you elaborate please on what database/driver do you use with ent? Some drivers support this already (e.g. [MySQL driver](https://github.com/go-sql-driver/mysql#loc)).

Other approach is to use your [own type](https://entgo.io/docs/schema-fields/#go-type) and implement the [`sql.Scanner`](https://golang.org/pkg/datab

[2020-12-06 14:47] a8m commented on #663
Hey all, I want to add this feature really soon, and currently have an implementation working with static schema configuration using annotation as mentioned above (e.g. `entsql.Annotation{Schema: "public", ...}`). However, I don't think static config is good enough for such problem, and I'm re-thinking about it atm. Any thoughts or ideas are more than welcome! Thanks 😃

[2020-12-06 19:09] marwan-at-work commented on #663
Hey @a8m , thanks for the update! I think static configuration is definitely a great start, and for my own purposes is probably more than enough.

That said, here are the two places I can see dynamic schema configurations can happen (knowing that certain models/tables will have different schemas/db-names):

- First: At client initialization level: aka `ent.Open("<driver>", "<conn>", options...)` -

[2020-12-07 10:31] a8m commented on #852
@BrentChesny - can you share if that's your case?

[2020-12-07 10:34] BrentChesny commented on #852
That is indeed the case since we're using the privacy feature.

[2020-12-07 11:04] a8m commented on #852
Can you please try enabling this option (see [example](https://github.com/facebook/ent/blob/master/entc/integration/privacy/ent/generate.go#L7)), and let me know if that solves the issue?

[2020-12-07 11:12] BrentChesny commented on #852
There's a mistake in the snapshot merging I think. The new schema changes are lost.

Problem is here I think: https://github.com/facebook/ent/pull/862/files#diff-376573e0768169bc9cca07b698b798013cfc63743fc05bbf1e15f2ec8f967e33R84

You're merging the original schema with itself 😄

[2020-12-07 11:15] a8m commented on #852
😄

Can you please send a patch for this?

[2020-12-07 11:20] BrentChesny commented on #852
Will do 😄

[2020-12-07 11:55] BrentChesny commented on #852
See #1022

[2020-12-07 12:46] a8m commented on #852
@BrentChesny - please let me know if issue was resolved.

[2020-12-07 13:08] BrentChesny commented on #852
Works like a charm 😊

[2020-12-07 13:11] a8m commented on #852
Great to hear! Adding this to the website atm.

Thanks for the reporting this and for fixing the issue 😃

[2020-12-08 04:13] ORBAT opened #1024 "Get all descendants / ancestors"
Hi folks! Is there any way to basically mimic what Postgres' [`WITH RECURSIVE`](https://www.postgresqltutorial.com/postgresql-recursive-query/) does, so that I could get eg. all followers' followers' followers' (etc etc) in the `m2mrecur` example https://github.com/facebook/ent/blob/9ff32ad60afd31c163cc76e7b208ebb627d7ee4f/examples/m2mrecur/ent/schema/user.go#L18-L32

So basically a way to find al

[2020-12-08 23:21] ORBAT commented on #900
I'd definitely find immutable edges useful, and it feels funny that you can make fields immutable but not edges

[2020-12-09 06:53] pjebs opened #1025 "Speed"
If the primary aim is to make an API that performs as fast as possible, and I have the choice of using ent (with postgres) or standard relationships using foreign keys etc in tables on postgres, would ent be significantly slower.

The schema is not super heavy with relationships everywhere.

[2020-12-09 07:08] a8m commented on #1025
Hey @pjebs and thanks for raising up this question.

The framework uses the standard and the common data modelling for its relationships (i.e. tables and foreign-keys).

For O2M/M2O and O2O relationships/edges it uses FKs on the table creation and for M2M relationships/edges it creates a join table for the association.

You're welcome to share you schema here and I can elaborate on your specific u

[2020-12-09 07:41] giautm opened #1026 "entgql: edge was not loaded after mutation"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Returns GraphQL errors:
[code]

## Expected Behavior 🤔

Return parent of created todo:

[code]
## Steps to Reproduce 🕹

https://github.com/giautm/entgo-todo

Steps:

1. go run ./server/
2. C

[2020-12-09 09:38] alexsn commented on #1026
Hi @giautm, I assume your example is based on ent-contrib/todo package. The seen behavior is caused by the fact that edges are _not_ eagerly loaded on mutation but the resolver tried to return them as such. I've updated the todo example to fallback to a edge query in such a case (see https://github.com/facebookincubator/ent-contrib/commit/1825b356fd5aedf482b07c2209a670f0f706b7f0).

[2020-12-09 09:38] #1026 closed

[2020-12-09 09:48] pjebs commented on #1025
@latysh

[2020-12-09 09:54] giautm commented on #1026
Yep, It based on `ent-contrib/todo` package. I applied your patch and it work fine. However, I think the code gen should handle this case, rather manually update for every resolver. Do you think like that?

[2020-12-09 10:02] alexsn commented on #1026
It's possible in theory but not trivial as:
- Eager loading is not supported (not does it make sense) on mutation.
- Mutation resolver are _not_ generated (`CreateTodo` being one).

Feel free to give it a shot but it's rather complicated and not something we plan to implement in the near future.

[2020-12-09 10:48] giautm commented on #1026
It helpful to reduce boilerplate code.

[code]

[2020-12-09 11:37] cliedeman opened #1027 "Add OneOrNone Query Method"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

[code]

## Motivation 🔦

To query for a single record or none the best we can currently do is

[code]

`First` could work but it does not perform the non singular check

OneOrNone is not a great name but I could not think of a better one
* One (Too

[2020-12-09 12:00] giautm commented on #1027
I voted for OneOrNil.

[2020-12-09 12:07] samuelralmeida commented on #1012
@a8m, it works. Thanks a lot!

[2020-12-09 12:07] #1012 closed

[2020-12-09 12:08] alexsn commented on #1026
Yes, I agree that this boilerplate should be reduced. See https://github.com/facebookincubator/ent-contrib/commit/113724014b2f77fa69e627a0d768f4404cf39c28 which removed the need for those resolvers in the first place.

[2020-12-09 12:21] giautm commented on #1026
Hi, thank you very much!

[2020-12-09 12:35] alexsn commented on #1027
This can be achieved with a combination of `Only` / `MaskNotFound` as follows:
[code]
So I don't think the above is needed. You can of course add the above functionality to your project using custom templates.

[2020-12-09 12:41] cliedeman commented on #1027
Hi @alexsn

I want to make the argument this should be in the default templates because I think it will be useful in all projects.

[2020-12-09 14:16] alexsn commented on #1027
I think our preference is to keep the API small (to avoid confusion) and I see little value in adding a helper that combines `Only` + `MaskNotFound`.

[2020-12-09 15:26] a8m commented on #1027
Thanks or proposing this @cliedeman.

I tend to agree with @alexsn, especially because I'm working atm on moving stuff to feature-flags to make the base codegen assets much smaller.

Regarding this new API, since it doesn't require any runtime-specific logic, I think it's better to create a plugin for it in a different repo for now (and maybe mentioning it in our website) and possibly adding it to

[2020-12-09 15:28] a8m commented on #1012
Wonderful! Thanks for raising up this issue, and you're welcome to join our slack channel - https://gophers.slack.com/archives/C01FMSQDT53

[2020-12-09 15:41] a8m commented on #1024
Hey @ORBAT, the framework doesn't support this atm, and you need to do it explicitly as follows:

[code]

We can leave this issue open for now, just to hear more thoughts, get suggestions for the API or even discuss if we want to support such thing or not - maybe it can be added as a plugin to ent.

[2020-12-09 18:20] ORBAT commented on #1024
Hi @a8m, and thanks for the quick reply.

The problem with your example is that it stops after one step, where I'm looking for a way to mimic `WITH RECURSIVE` that can go to any depth – I'm trying to find all leaf nodes of a certain type reachable from a node in a graph. Basically a breadth-first (or depth-first, don't really care) search.

Doing it manually by iteratively fetching more nodes afte

[2020-12-09 20:14] moh-abk commented on #139
Sorry to bug but is this being worked on? 🤦🏾‍♂️

[2020-12-10 13:27] ORBAT commented on #1027
Just food for thought, but I've found the "not found is not an error" API design pattern to produce cleaner code; the idea is to only return an error if something actually went wrong with a query, so eg. not finding any users named "Bob" isn't an error and would just return `nil, nil` (of course in some contexts not finding something _is_ an error.) Just like the standard functional `list.filter(

[2020-12-10 18:17] aight8 commented on #1027
#870  #"Error Handling"

[2020-12-10 18:47] giautm commented on #1027
In most cases, we need to check `err != nil` before do anything with the entity (also not nil). So, we don't need to use `MaskNotFound` for this cases.

`ent.MaskNotFound()`, still have positive value. When we integrate with `gqlgen` to return nullable field for the resolver. It very special for GraphQL, we can reduce by provide custom template. Idea is generate custom resolve by using Annotations

[2020-12-11 07:13] dilipkk-foyernet commented on #1009
Solved using a different approach so this is not needed at this moment.

[2020-12-11 07:13] #1009 closed

[2020-12-11 23:24] lianshen-vineti opened #1033 "How to create a schema migration with existing records"
Use Case:
I'm trying to add a new required field to an existing table with existing records.

How would I run my migration to add the new field to my table, as well as backfill my existing records?

When I run `err := client.Debug().Schema.Create(context.Background(), migrate.WithGlobalUniqueID(true), migrate.WithDropIndex(true), migrate.WithDropColumn(true))`, I get an error
[code]

[2020-12-12 06:39] a8m commented on #1033
Hey @lianshen-vineti,
Just to make sure I understand your use case, do you try to add a UUID field with default value on PostgreSQL?

What database version do you use? Thanks

[2020-12-12 07:35] a8m commented on #1009
Great @dilipkk-foyernet.

Feel free to share your workaround for future readers. Thanks 😊

[2020-12-12 07:45] dilipkk-foyernet commented on #1009
[code]
I am extending ent connection object and adding custom fields.

[2020-12-12 07:48] dilipkk-foyernet commented on #1009
@a8m if you have time then can you tell me what I am doing wrong here: https://github.com/facebookincubator/ent-contrib/pull/19, just for my understanding.

[2020-12-12 07:52] cliedeman commented on #1027
Thanks for all the feedback. I updated the original issue with some prior art and a bit more explanation of the different query styles.

This can easily be added to the api via a custom template so I think this can be closed.

Ciaran

[2020-12-12 07:52] #1027 closed

[2020-12-12 09:18] giautm opened #1034 "entgql: How to return Relay's edge for new created node."
As [Relay spec](https://relay.dev/docs/en/mutations#range_add) for create in new edge, we need to return `MessageEdge`. But, the Cursor field currently depend on `OrderField`. And there is no method for creating new `MessageEdge` by hand.

[code]

currently, I use bellow code. But It don't feel right.

[code]

[2020-12-12 10:41] a8m commented on #1034
Hey @giautm!

Can you elaborate please? Or give more details how do you expect the API to look like?

[2020-12-12 15:08] giautm commented on #1034
Hi, @a8m. I want to return new edge after add new node to connection, following Relay spec. So, I want to know how to do that with gqlgen and entgo?.

So, Can I write some code like above? What is Value in Cursor?
[code]

Some generated code related to `Cursor`; but I can't call `toCursor` because it's private
[code]

[2020-12-12 21:19] alexsn commented on #1027
While we're on this topic I really don't see the point of having `First` query finisher. Anyone actually using it? If so can you provide a use case?

[2020-12-13 06:28] a8m commented on #1027
I'm using it. Getting the first value by some ordering (max, min, etc).

[2020-12-13 07:06] alexsn commented on #1034
Hi @giautm, a relay `Cursor` only makes sense when using pagination (iterating over pages) so I'm not sure why you'd want to get a edge with a cursor back from a mutation? Can you post the mutation you're trying to invoke on the client side and explain the logic behind it?

Now when it comes to the cursor it encodes the `ID` of the object and the `Value` of the field you're ordering by so we'll kn

[2020-12-13 07:06] #1034 closed

[2020-12-13 07:09] giautm commented on #1034
Hi, entgql was not enable to post issue. So I have to post to ent.

My Mutation follow Relay desc spec as here: https://relay.dev/docs/en/mutations#range_add

[2020-12-13 07:11] a8m commented on #1034
I will enable the issue tracker for ent-contrib.

[2020-12-13 07:18] alexsn commented on #1034
This is an API Reference and not a spec and my above comment explains how you can construct a cursor.

[2020-12-13 07:43] giautm commented on #1034
Tks @alexsn, can we export toCusor from OrderField? So I can use order field to construct Cursor for edge.

[2020-12-13 09:49] alexsn commented on #1034
I rather not, you can manually fill the fields as described above.

[2020-12-13 11:28] giautm commented on #1034
Okay, I will use custom template to generate `NewMessageEdge`. When create new message, client must provide current order to construct Edge to allow Relay append new Edge to current Connection in client cache.

[code]

And update GraphQL mutation to:
[code]

Mutation implement:
[code]

[2020-12-13 12:16] giautm commented on #1034
I sent PR for this, You can merge if interested https://github.com/facebookincubator/ent-contrib/pull/24

[2020-12-13 20:57] cliedeman commented on #355
This was implemented

[2020-12-13 20:57] #355 closed

[2020-12-13 21:04] #946 closed

[2020-12-13 21:06] cliedeman commented on #946
Added in #952 and #954

[2020-12-14 01:22] shuogawa commented on #999
@a8m
Thank you for the wonderful ORM.
I and @yuki2006 work in the same team.
Our team has customized the template.

![image](https://user-images.githubusercontent.com/660998/102030481-4e4f4880-3df6-11eb-802d-032529a4ade7.png)

[2020-12-14 01:31] shuogawa opened #1040 "Can I write the following SQL in ent?"
My schema is below.

Post O2M Comment

 Can I write the following SQL in ent?
[code]

[2020-12-14 06:20] a8m commented on #1040
Hey @shuogawa,  I can help with that.

Do you try to scan the returned records to a custom struct (e.g. `T{Post, Count int}`)?

[2020-12-14 16:04] giautm commented on #1007
Ent can't check context is correct or not, that caused by design of context module.

[2020-12-14 20:06] tomakado opened #1045 "Code generation gives nil values instead of specified in schema?"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

Hello there! I've defined the following schema:
[code]
In code above I expect that as I wrote line(s) `field.Time("registered_at").Default(time.Now)` value for field `registered_at` will be equal to current time b

[2020-12-14 20:14] tomakado commented on #1045
I'm sorry, here is more relevant stack info
![stack](https://i.imgur.com/EwbGKpZ.png)

[2020-12-14 20:20] a8m commented on #1045
Hey @tomakado and thanks for reporting this issue.
Do you use `Hooks` or `Policy` in one of the schemas? If so, I guess that you miss an empty import in your main package (see https://entgo.io/docs/hooks/#schema-hooks).

[2020-12-14 20:23] tomakado commented on #1045
Yes, you're right. Sorry and thanks! I'm closing the issue.

[2020-12-14 20:23] #1045 closed

[2020-12-14 20:24] a8m commented on #1045
😃

I'll add tomorrow a better error message for such cases.

[2020-12-14 23:21] lianshen-vineti commented on #1033
Hi @a8m
I'm working with v12.1 in PostgreSQL. I've tried a few separate ways to create/update to a UUID field in a table with existing records:
1. change the existing PK ID field to a UUID type, no default --> does not change the field type
2. change the existing PK ID field to a UUID type, with default as uuid.New() --> does not change the field type
3. add a new field as a UUID type, no default

[2020-12-15 05:03] shuogawa commented on #1040
@a8m
Thank you very much!
I will try and report.

[2020-12-15 12:40] G-Bruin opened #1047 "how to get fk field when i use sql to select table？？？"
![image](https://user-images.githubusercontent.com/20853074/102215486-bdbb5a00-3f14-11eb-9d82-9ce480f09617.png)

`parent_id`  has many organization_id

[code]

i use sql by `select * from organization`

[code]
![image](https://user-images.githubusercontent.com/20853074/102216137-adf04580-3f15-11eb-8bc7-92d76b583b33.png)

The result does not contain a parent_id

[2020-12-15 12:46] a8m commented on #1025
Closing, since there are no further comments.
Feel free to continue the discussion or reopen the issue if it's needed.

[2020-12-15 12:46] #1025 closed

[2020-12-15 12:52] G-Bruin commented on #1047
@a8m Is there any special consideration?

[2020-12-15 18:55] satriahrh opened #1048 "Will polymorphism be available?"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I first used polymorphism in ActiveRecord, it is called [Polymorphic Associations](https://guides.rubyonrails.org/association_basics.html#polymorphic-associations).

Here is how I expected this should work:

For example, a retail company have two ty

[2020-12-15 20:55] a8m commented on #1048
Thanks for raising up this issue @satriahrh.

Agree. We currently provide a [mixed-in schema](https://entgo.io/docs/schema-mixin/) option for users, but that's of course doesn't solve some of the problems you mentioned.

Now, regarding your example (or the one in `ActiveRecords` website) - edges are resolved to concrete-types atm, and the way to implement your use case today is to define your edge

[2020-12-15 22:22] francismarcus commented on #1024
My suggestions following up on @ORBAT gist

[code]

[2020-12-16 01:30] G-Bruin opened #1049 "How to use foreign keys as search criteria alone？"
**cars table**
![image](https://user-images.githubusercontent.com/20853074/102292815-deb99480-3f80-11eb-8782-55ece9c5d8f9.png)

**users table**

![image](https://user-images.githubusercontent.com/20853074/102292842-ebd68380-3f80-11eb-809f-56c4d8a8c6a7.png)

**i want to use sql like this**
[code]
**the `user_cars` as  search criteria， What should I do with it？**

[2020-12-16 03:53] satriahrh commented on #1048
Thanks for the reply @a8m.

There won't be possible to define a FK constraint to multiple table. In ActiveRecord, the `Transaction` table have two column to define which row it is pointing.

[code]

Then, the application should have a logical way to lookup the data to desired table given `transactionable_type` (destination table) and `transactionable_id` (destination primary key). Optionally, `tra

[2020-12-16 04:01] ORBAT opened #1050 "entql missing support for JSON fields"
Including the `entql` feature when any fields are defined as `field.JSON` causes code gen failure because [`entql/internal/gen.go`](https://github.com/facebook/ent/blob/43fa0ae9bc412fcd4cae3682c3062ab9c62849ff/entql/internal/gen.go) is missing definitions for `field.TypeJSON`.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issu

[2020-12-16 04:02] ORBAT commented on #1050
Ah, there's a PR, nevermind then.

[2020-12-16 04:02] #1050 closed

[2020-12-16 09:22] a8m commented on #1049
Hey @G-Bruin,
If you don't want to use the `Has<E>With(...)` predicates, you can use a custom one for writing such queries.
See https://entgo.io/docs/predicates/#custom-predicates

[2020-12-16 09:30] G-Bruin commented on #1049
Hey @a8m，
when I use sql
[code]
like this:
[code]
![image](https://user-images.githubusercontent.com/20853074/102330024-0716b280-3fc4-11eb-985f-055677bc6b13.png)

Why is there no **user_cars** field？

[2020-12-16 09:41] ORBAT commented on #1024
@francismarcus, that `Recursively` modifier is actually much clearer than `Search*`, nice.

But yeah, I keep running into cases where this functionality would be very handy. I'm working on "porting" some old code over to using ent, and an actual example I have right now is figuring out which license a user is covered by. Users belong to groups, groups can have child / parent groups, and a group li

[2020-12-16 13:16] a8m commented on #1049
It should be added soon. See https://github.com/facebook/ent/pull/1046

[2020-12-16 16:03] JamesHovious opened #1051 "GoType not generating predicates"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Using a custom struct as below does not generate the expected predicates in `where.go`. (note I'm not sure that the Scan/Value code is even correct since I am not able to get to a phase to te

[2020-12-17 01:11] G-Bruin commented on #1049
@a8m thx

[2020-12-17 14:05] francismarcus commented on #1024
Yeah this would indeed be handy, if we add a Recursively modifier we should be able to run the already generated queries

[2020-12-17 14:50] art-Hasan commented on #923
@DeedleFake are you able to sovle this problem?

[2020-12-17 15:58] #988 closed

[2020-12-17 15:59] a8m commented on #1049
Great, closing 😃

[2020-12-17 15:59] #1049 closed

[2020-12-17 16:38] marwan-at-work commented on #663
@a8m the more I think about it, I think Option 1 here is most idiomatic because DBNames are always _runtime_ initialized. If you take the [MySQL driver](https://github.com/go-sql-driver/mysql#usage) as an example, `dbname` is part of the connection URL.

So option 1 would fit nicely because DBNames are determined at "constructor time" which is neither statically in the schema, nor at query time.

[2020-12-17 19:48] DeedleFake commented on #923
As I said at the bottom of the original post, hidden under the code block,

In other words, I had to move all of the custom field types out of the `ent/schema` package and into their own package. That fixed it.

[2020-12-18 05:14] giautm opened #1055 "mixin: share type when use mixin for schema"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I want to share an Enum cross entities, so I created a mixin as `ConfirmMixin` as follow:

[code]

then, use it in schema defination:

[code]
[code]

Currently, ent generate both `jobapplication.ConfirmStatus` and `shiftshowup.ConfirmStatus` with ex

[2020-12-18 05:22] a8m commented on #1055
Hey @giautm,
You can use the [GoType](https://entgo.io/docs/schema-fields/#go-type) option to create your own type, and share it with multiple schemas.

[2020-12-18 05:23] giautm commented on #1055
Yup, but I will lost validation logic that ent ready generated. :p

[2020-12-18 05:26] a8m commented on #1055
It should enforce validation as well. See a usage example -
https://github.com/facebook/ent/blob/master/entc/integration/ent/schema/fieldtype.go#L132
https://github.com/facebook/ent/blob/master/entc/integration/ent/role/role.go

[2020-12-18 05:34] giautm commented on #1055
Nice, It work as expected.

[2020-12-18 05:34] #1055 closed

[2020-12-18 05:47] giautm commented on #1055
btw, I think this line should convert to `role.Read`. Because "role" is not valid value and it make confusing
 https://github.com/facebook/ent/blob/3daea98d76a3200f8e9f5727fdbf864e1caa0abb/entc/integration/ent/schema/fieldtype.go#L134

[code]

[2020-12-18 06:18] giautm opened #1056 "mixin: ent generate usage code when use GoType in mixin"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

https://github.com/giautm/ent-bug/commit/5f09a8f7531ac075962f06299a208ea1333334e1#diff-11a3c2971f7c8e5caf8efd23382aa8b7d930011f8189d701b006d4bafadea043

<img width="779" alt="Screen Shot 202

[2020-12-18 06:21] giautm commented on #1055
Hi @a8m , I open an issue for new bug: https://github.com/facebook/ent/issues/1056

[2020-12-18 06:32] a8m commented on #1055
Feel free to send a patch for fixing this. Thanks

[2020-12-18 06:33] a8m commented on #1056
Thanks for reporting, I’ll give it a look later today.

[2020-12-18 06:36] giautm commented on #1056
I will sent a PR that update `template.impl` to add one line `_ = {{ $pkg }}MixinFields{{ $i }}`. Is it sound good?

[2020-12-18 08:39] #1056 closed

[2020-12-18 17:38] kingledion opened #1061 "Is edge weights a supported concept?"
My team has a project starting up where we intended to use Gremlin on AWS Neptune to build a relationship table with a recommendation engine. Seeing that the blog here states that the creators moved from that exact stack to create this, I thought I should make a demo and check it out.

One thing that is baffling me is the lack of information attached to the edges. Example, let say we have user and

[2020-12-19 03:50] owen-gxz opened #1062 "Query different tables according to the query results"
Now I have a log table. I want to query different tables according to different types:

[code]

When source_type  equal  'a', according to source_ ID to query the data of table A,

[2020-12-19 09:32] a8m commented on #1061
Hey @kingledion!

Yeah, we originally built our service (and this framework) on top of Gremlin, but decided to add support for SQL and switched our database to relational database. I wrote about this in a few issues here, and you're welcome to search (e.g. https://github.com/facebook/ent/issues/452#issuecomment-619430120).

We don't support this at the moment, but we plan to address it before V1 (

[2020-12-19 09:36] a8m commented on #1062
Hey @owen-gxz!
It looks to me like something that can be solved with a simple switch case (do I miss anything?). You can also automate this switch-case logic using a [custom-template](https://entgo.io/docs/templates/).

[2020-12-19 17:11] aight8 opened #1063 "Postgres Composite Types Support"
When I using Postgres Composite Types, some features of ent does not working. But a lot does.

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

https://www.postgresql.org/docs/current/rowtypes.html
[code]

[code]

[code]

## Motivation 🔦

Would solve some issues and limitations with NOT so big cha

[2020-12-19 17:11] charithreddyv opened #1064 "Sql OR operator"
How can i do a sql OR,
appending .where is an AND operator is there a way to do OR?

[2020-12-19 17:19] a8m commented on #1064
Hey @charithreddyv, did you check the [predicates doc](https://entgo.io/docs/predicates/#disjunction-or)?

[2020-12-19 17:21] charithreddyv commented on #1064
Sorry for not reading the full docs and thanks for the super fast reply .

[2020-12-19 17:21] #1064 closed

[2020-12-20 09:10] cliedeman commented on #1063
Leaving a note here for myself because I am interested in a particular use case. A composite timestamp + timezone field

[2020-12-21 04:59] notzheng opened #1069 "Support for custom json struct tag naming strategy."
Now, the generated json struct tag uses the field name. Hope to support customization, such as the camelcase form of field name.

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

For Example, I have defined a schema

[code]

And it generate the struct like this

[code]
If I want to turn the  json

[2020-12-21 05:11] notzheng commented on #1069
Oh, I just found out I can do this
[code]
This is indeed simpler and clearer.

[2020-12-21 09:25] a8m commented on #1069
Hey @notzheng and thanks for proposing this option.

Like you mentioned, you can use the `StructTag` (or `StorageKey`) explicitly on each field to configure these options.
However, if users want to an elegant way to enforce custom naming on all fields, they can just write a helper function for adding this for them. For example, imagine write your schema as follows:

[code]

We have similar functio

[2020-12-21 09:30] notzheng commented on #1069
Thank you very much, it solved my problem perfectly, I will close this issue.

[2020-12-21 09:30] #1069 closed

[2020-12-21 09:32] a8m commented on #1069
Sure, glad to help!

[2020-12-21 12:54] BrentChesny commented on #999
Also ran into a case where this vastly impacted query performance (~50ms vs multiple seconds). Currently using the same workaround as @shuogawa.

[2020-12-22 11:10] rubensayshi opened #1072 "how to add custom methods to entities?"
I was wondering if it's a good idea to add some custom methods to entities, or would this be discouraged?
using external templates seems quite cumbersome to add things like this, would it be a bad idea to just add a `ent/user_custom.go` and define them there?

ie. simple helpers like

[code]

and for updating?

[code]

and same for querying?

[code]

or?

[code]

[2020-12-22 11:58] a8m commented on #1072
Hey @rubensayshi!
Both options are fine. I usually suggest using custom templates when the custom logic has to be generated for more than one entity type, or it's based on code-generation information.

[2020-12-22 12:11] alexsn commented on #1072
Just not that this will _not_ work, see docs on how to perform updates.

[2020-12-22 12:51] rubensayshi commented on #1072
awesome, thx for both replies!

[2020-12-22 12:53] #1072 closed

[2020-12-22 17:38] saantiaguilera opened #1073 "Cant make a defined PK not autoincremental"
We have an entity that doesn't define itself its PK (we already have it from another service, we just store it alongside some information). For reference let's say we have a User with a driver_id(PK int) + name(string) (but the ID already exists in another service)

We are building the fields like this:
[code]
Yet, when we run Ent and see the schema creation query, it makes it autoincremental (whe

[2020-12-22 17:53] a8m commented on #1073
Hey @saantiaguilera and thanks for raising up this issue.
It's actually a duplicate of https://github.com/facebook/ent/issues/559, and we can address it if it's needed. Let's continue the discussion there?

[2020-12-22 17:54] saantiaguilera commented on #1073
Sure! Closing this. Thanks!

[2020-12-22 17:54] #1073 closed

[2020-12-22 17:57] saantiaguilera commented on #559
Hi! Coming from #1073 which has a similar issue. Was there any follow up on this thread? I can make a PR including this behavior without trouble.

On a side note, how's the release process for the module? Do you do it on demand based on new features or there's a schedule?

Thanks!!

[2020-12-22 18:04] a8m commented on #559
Sure, let me know if you need some info/guidance and I can help with that (it will be tomorrow morning, because it's the EOD for me).

No special process for this package, I'm releasing a new version when there are enough changes for a release or when someone asks for it in the issue-tracker or in [Slack](https://app.slack.com/client/T029RQSE6/C01FMSQDT53). But, users can always pull latest versio

[2020-12-22 22:05] saantiaguilera commented on #559
@a8m I've opened https://github.com/facebook/ent/pull/1074 regarding this issue! Feel free to check it out!

[2020-12-23 13:40] synt8x opened #1076 "Can't insert a date below 31 December 1969."
I'm building a web application that needs to store a birth_date but when trying to insert a birth_date less than 31 December 1969? Does anyone know how to fix it?

[2020-12-23 13:50] a8m commented on #1076
Hey @synt8x, can you please provide more details on your environment? (e.g. database version)

[2020-12-23 13:53] synt8x commented on #1076
As database I use AWS Aurora/MySQL with MySQL version 5.6.
When I try to insert the following to my db using ent: `1969-01-01 12:00:00 +0000 UTC` it inserts this `0000-00-00 00:00:00`

[2020-12-23 13:53] synt8x commented on #1076
Got the same error when inserting this `1969-01-01 06:00:00 +0100 CET`

[2020-12-23 15:28] a8m commented on #1076
Thanks for the details. `Time` fields use the MySQL `TIMESTAMP` type in the schema creation by default, and this type has a has a range of '1970-01-01 00:00:01' UTC to '2038-01-19 03:14:07' UTC (see, [MySQL docs](https://dev.mysql.com/doc/refman/5.6/en/datetime.html)).

If you want a wider range, use the MySQL `DATETIME` instead using the [SchemaType](https://entgo.io/docs/schema-fields/#database-

[2020-12-23 15:31] synt8x commented on #1076
Thanks man you made my day :)

[2020-12-23 15:32] a8m commented on #1076
Sure, let me know if you still have troubles with it.

[2020-12-23 15:45] #1076 closed

[2020-12-24 10:31] rubensayshi commented on #358
really like the suggestions here and I do think it should be on the `{Object}Query` since you don't always want to lock all.

I guess a question left to answer is, should the `With{Edge}()` queries also inherit the chosen lock strategy?

I can put in the work to implement this if there's somewhat of an agreement on the direction and support from the maintainers that they'd like to see this added.

[2020-12-24 13:12] rubensayshi opened #1079 "Annotation to omit a table from migrations"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

I was thinking that a simple extra `Annotation` property `IgnoreMigrations` would help anyone who for w/e reason wants to do some custom create statement for a table (or view).

## Motivation 🔦

We have a few views in our DB for which we'd like to u

[2020-12-24 13:57] a8m commented on #1079
Hey @rubensayshi and thanks for proposing this option.

I was thinking about adding a Hook option to the migration, so users will have more control on this step. For example:

[code]

Does it sound like something that can solve your issue?

[2020-12-24 21:21] Sytten commented on #357
I took a look at the integration but I am still unsure if the original question was answered. I tried to run the todo example to see if it was using some kind of batching to avoid the N+1 issue and I don't think it does? I think it either misses some documentation on the topic or it is not done yet, can you comment on that @a8m.
It was actually one of the first things I check for new server implem

[2020-12-25 03:49] maxiloEmmmm opened #1081 "dialect/sql Selector Query"
[code]

[code]

i know can use
[code]
but i need to resolve some func
[code]

## i do this
https://github.com/facebook/ent/blob/08d2cd797d177afb9b236cf021e26b4b5092e791/dialect/sql/builder.go#L1814
to
[code]
and
https://github.com/facebook/ent/blob/08d2cd797d177afb9b236cf021e26b4b5092e791/dialect/sql/builder.go#L1819
to
[code]
it's can resolve my question

Q: Is there any other way?

[2020-12-25 09:42] YianAndCode opened #1082 "Should I exclude the files generated by entc from vcs?"
After execute `go generate ./ent`, there are lots of files generated.

Should I exclude these files from vcs? Such as put the content below to `./ent/.gitignore`
[code]

Or keep them in vcs？

Which is best practice?

[2020-12-25 10:09] a8m commented on #1082
Hey @YianAndCode,
I'm not aware on any best practice, but from my experience, it's pretty common (in Go) to keep the generated assets in VCS. Not only for ent, but for other projects as well (e.g. gqlgen, protobuf, go-swagger, etc).

GitHub PR diff works with it really well BTW.

[2020-12-25 10:22] YianAndCode commented on #1082
Hi @a8m,
I got it, thank you very much!

[2020-12-25 10:22] #1082 closed

[2020-12-25 10:50] a8m commented on #357
Hey @Sytten,

The GraphQL documentation needs some improvement (I'll add more details to it), but as mentioned above, entgql uses [GraphQL field collection](http://spec.graphql.org/June2018/#sec-Field-Collection) and [eager loading](https://entgo.io/docs/eager-load/) for solving this problem. That means, if you query nodes and their edges, entgql automatically adds `With<E>` steps to your root que

[2020-12-25 11:48] Sytten commented on #357
@a8m Thanks a lot for the answer, looks good to me! It is an interesting take on the N+1 problem for sure.

It leaves me wondering how privacy filter that requires two levels deep would work. Say if I have Tenant -> Group -> User and I want to make sure a user can only see other users in the tenant.
If I had a dataloader I would be confident that it would be a constant amount of requests, but here

[2020-12-25 13:57] a8m commented on #357
Can you elaborate how does your multi-tenancy model look like? I'm familiar with 3 different approaches and I implemented all the 3 with ent (and ent-privacy) - 1) A `tenant` column on each table 2) A `Tenant` node connected to all other nodes 3) Named-database per tenant.

The first 2 approached can be implemented with ent-privacy (i.e. `FilterRule`) which mutates the actually query (and doesn't

[2020-12-25 18:39] Sytten commented on #357
**Dataloaders**
So here is a more real world example of what I am talking about:
![SoWkIImgAStDuGejJYrIgCtNrSslLWX9pKlCA-7oBqg1YjNKmCG2Yl9JIfDBOA9W9LpE-RcvgNbmGQWQBeVKl1IWqG00](https://user-images.githubusercontent.com/2366731/103140434-825b2100-46b4-11eb-8c2f-e33035286737.png)

So if I was doing it with dataloaders:
- If I query orders and then ask for products, it is also fine because the datalo

[2020-12-27 18:51] a8m commented on #357
Sorry for the delay - weekend mode 🏖️

When you mention "query", do you mean GraphQL query? Does it mean that users can query comments and products directly in your example (i.e. root fields and resolvers)?

If you don't have an edge (or a field) from the `Tenant` type, you can add a privacy rule for filtering by an edge and there's no need for loading the associations for this. For example:

[cod

[2020-12-28 03:30] katiestone opened #1089 "Select fields in O2M type not working well"
So i have a entity patent and other entities like patentTitle etc which belong to patent. Now i want to select some fields of patent and some fileds of patentTitle which is related to that patent i select. I wrote the query as below,
[code]
but it turned out that only patent can be queried, the edges property of this patent was null. so i changed the query as below,
[code]
then the edges property

[2020-12-28 03:33] ducnguyen96 opened #1090 "How can I make array field ?"
I have an enum like this:
[code]

I want to implement a field with type []RoleEnum, another field with type []Uint64. How can I do ?

[code]

Typescript + typeorm implement:
[code]

[2020-12-28 03:36] ducnguyen96 commented on #1090
Do I need to convert them all to strings ?

[2020-12-28 06:50] cliedeman commented on #571
This has been partially implemented by #994

Migrations will work so long as the custom types don't change. currently the `is covertible` logic will disallow conversion between user defined types.

This could be agumented by adding a a check if a dialect specific schema type is present but I am not sure how useful it will be

[2020-12-28 07:41] a8m commented on #1090
Hello @ducnguyen96,

No. The `field` package provides multiple list builders like `field.Strings` and `field.Ints`, but they're actually implemented using the JSON type. Thus, if you want to have an arbitrary type (which is convertible to JSON), you can define it as follows:

[code]
Then, in the generated API you'll interact with `[]uint64` and `[]Role` - the framework does all encode/decode magic

[2020-12-28 07:42] a8m commented on #1090
Closing, but feel free to continue the discussion or re-open it if something doesn't work for you.

[2020-12-28 07:42] #1090 closed

[2020-12-28 07:44] a8m commented on #1081
Hey @maxiloEmmmm! It's great to see you here again 😃
Thanks for reporting this. I'll give it a look.

[2020-12-28 09:45] a8m commented on #1081
https://github.com/facebook/ent/pull/1092 solves the issue, feel free to update to latest master

[code]

[2020-12-28 09:45] #1081 closed

[2020-12-28 10:21] maxiloEmmmm commented on #1081
@a8m thk

[2020-12-28 12:44] a8m commented on #1089
Hey @katiestone and thanks for reporting this issue.

#1094 should solve this problem, and you can update to latest master as follows:

[code]

BTW, use ```go for formatting codeblocks in GitHub issues/comments (see, [GitHub markdown](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown)).

[2020-12-28 15:35] a8m commented on #559
Closed with #1074. Thank you both for your contribution 😃

[2020-12-28 15:36] #559 closed

[2020-12-29 00:13] Sytten commented on #357
Not worries, this is helping me so much @a8m!

Exactly

That makes sense, I didn't know you could nest the`where` like that.

My point was more that if we have a privacy policy on the mixin, it will do unnecessary joins on the DB at each level if I am not mistaken (please correct me if I am wrong). This is fine but I guess you have to be aware of it. Say you start from products and you then load c

[2020-12-29 03:21] katiestone commented on #1089
Hey @a8m thanks for your help, i've tried it today, but it seems there is still some problem, it works when i wrote a query as below,
[code]
so the results include all fields of patent and field 'title' of patentTitle, but when i want to use the selection on both entities as below,
[code]
the 'PatentTitles' property in 'Edges' property of the result was nil
![image](https://user-images.githubuserc

[2020-12-29 03:31] tmc opened #1096 "feature: Add DefaultFn/DefaultFunc to fields"
I'm attempting to implement custom ID fields by extending ulids with a prefix. It'd be appropriate to store these as varchar/text but fields.String() doesn't allow you to specify a callback like fields.UUID does.

It'd be nice if fields.String() could accept a callback for default value generation for this purpose.

sidebar: I attempted this with .SchemaType but got errors like:
[code]

[2020-12-29 05:52] tmc opened #1097 "Defining custom field types"
github.com/facebook/ent/schema/field.Descriptor doesn't export the err field so this means that authors of custom types (one based on the uuid field here) can't set this field to indicate an error.

Should err be exported so custom types can be authored outside of the ent field package?

[code]

[2020-12-29 05:57] a8m commented on #1097
Hey @tmc!

Sure, you’re welcome to send a patch for this, or I can change it later today. Thanks!

[2020-12-29 06:03] tmc commented on #1097
Sure thing! I can open a pr for that shortly.

[2020-12-29 06:12] tmc commented on #1096
Oh, this was previously raised at https://github.com/facebook/ent/issues/935

[2020-12-29 06:12] #1096 closed

[2020-12-29 06:17] tmc opened #1099 "documentation: Request to document custom ID types more fully"
I started on the path of implementing an ID scheme that encodes the entity in a two-byte prefix and then used a [ulid](https://github.com/ulid/spec) as the rest of the identifier.

It's not clear that this is possible right now since field.UUID seems to have some special casing around it and this scheme can't be inserted into the postgres UUID type.

Having documentation of a custom ID backed by a

[2020-12-29 08:14] a8m commented on #1097
Closed with #1098

[2020-12-29 08:14] #1097 closed

[2020-12-29 09:28] katiestone commented on #1089
problem solved, instead of using 'Scan()', i need to use 'All()' after "Slect()'

[2020-12-29 13:41] a8m commented on #1089
You're right. The `Scan` method doesn't work with eager-loading. Use `All` instead and ent will query any fill only the fields you selected (and the ID field of course).

Closing, but you're welcome to contribute a documentation change if you find the docs/examples confusing or missing information. Thanks!

[2020-12-29 13:41] #1089 closed

[2020-12-29 18:07] #935 closed

[2020-12-29 18:07] a8m commented on #935
Closed with #1086, thanks @nolotz for the great work 😃

[2020-12-29 20:27] aight8 commented on #1063
https://github.com/facebook/ent/blob/24f6975b9a84b26be9bead1a484bda431cf4d286/dialect/sql/builder.go#L2091-L2108

Quickfix solution:

[code]

However there is a problem with this too:
Fields (except the ID field) with a defined GoType convert the argument to string when the ```String()``` method is implemented in all predicates. If I remove the ```String()``` only the IsNotNil and IsNil predicates

[2020-12-29 20:47] Sytten commented on #967
I also support that, our database schema/migrations are separate from the system using them. In other services I use https://github.com/go-jet/jet which generates golang structs and helpers based on the DB schema. I think it could serve as inspiration.

[2020-12-29 20:55] aight8 opened #1103 "LastInsertID method for non-int-ID nodes"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Cant convert non-int ID field (like string, or custom type) to desired value.
https://github.com/facebook/ent/blob/master/dialect/sql/sqlgraph/graph.go#L1182-L1200

## Expected Behavior 🤔

l

[2020-12-30 12:58] cliedeman commented on #1103
@aight8 Which database are you using?

for mysql and sqlite the limitation seems to be on the database/sql [result](https://golang.org/pkg/database/sql/#Result) type

I have implemented a fix for postgres in #1104

[2020-12-30 13:20] cliedeman opened #1105 "Add field.Other type"
Create `field.Other` for fields that do not fit inside standard types. E.g. postgres range or spatial types

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently we often use String to map custom go types. E.g.

PostGis Example

Current
[code]

Desired
[code]

Postgres Range (Feels awkward)

[2020-12-30 20:03] aight8 commented on #1103
Yes I'm using postgres. Your PR solves exactly what I meant. thanks!

[2020-12-30 22:43] adayNU opened #1107 "Naming convention for multi-word fields / edges"
Is there a standard naming convention for fields and/or edges which are more than one word?

Just wondering since I _believe_ its standard to use `snake_case` for things like database columns, but Go uses `camelCase`. My hunch is to use `snake_case` but couldn't find that explicitly called out anywhere.

[2020-12-31 00:24] notzheng commented on #1107
I hope this can help you.

[](https://github.com/facebook/ent/issues/1069)

[2020-12-31 00:28] adayNU commented on #830
@a8m is there a way to do the `created_at`/`created_by` with edges (to a user model) as opposed to fields?

[2020-12-31 06:12] napei opened #1109 "add name conflict detection to ent init"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When running `ent init Client` in the CLI, currently there is no detection for reserved words, allowing this schema to be created. It's not until running `go generate ./...` that the error is raised.

[code]

Perhaps adding in these checks to `ent i

[2020-12-31 10:51] a8m commented on #1103
Hey @aight8,

This is a PostgreSQL thing, and other dialects don't really support this - but I don't mind adding this. Also, I expect that the configuration of the generated ID value was created by other tool (or manually), because ent supports only auto_increment ids for such configuration.

Thanks a lot @cliedeman for sending this patch really quickly. I'll review this.

[2020-12-31 10:55] a8m commented on #1103
Closing with #1104

[2020-12-31 10:55] #1103 closed

[2020-12-31 10:55] a8m commented on #1103
Closed with #1104

[2020-12-31 11:07] a8m commented on #1107
Hey @adayNU!

Yes, we use `snake_case` for both fields and edges, and ent automatically "pascalize" them in Go code when it's needed (e.g. struct fields or methods). The database columns (and struct tags) will be the same as you wrote the fields/edge in the schema unless stated otherwise (e.g. manually configured the column and the struct-tag using the `StorageKey` and `StructTag` options).

Closi

[2020-12-31 11:07] #1107 closed

[2021-01-01 08:42] napei opened #1111 "proposal: ent cli generation of edges"
- [ x ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Add the ability to generate schema edges through the CLI instead of manually, adding to the ease of development.
Something like `ent edge From To O2O`.

## Motivation 🔦

Having the ability to run a cli command to generate edges between schemas wou

[2021-01-01 13:33] a8m commented on #1105
Hey @cliedeman, I agree that this option is needed, but 2 comments from my side for now - I prefer `field.Other` for the builder, because we already have a `field.TypeOther`. Also, we need to think on some elegant way to define predicates in the schema. Maybe to combine it with external-templates somehow.

I'll think about this in the weekend, and hopefully come up with more details/thoughts from

[2021-01-01 18:22] cliedeman commented on #1105
Thanks @a8m I have updtaed the issue from Custom -> Other.

I believe #1051 would also be fixed by this approach

[2021-01-01 22:44] daginwu opened #1113 "ent with embedded cache"
ent with embedded cache

hey, developers i think integrating all data model with embedded cache (such as "groupcache") is a good idea !

- [ ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Motivation 🔦

[2021-01-02 04:25] napei opened #1115 "Invalid type for ScanValues and Assign"
- [ ] The issue is present in the latest release.
    - Present in master branch
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

After checking out master while working on a PR, the changes in da345715608ff2d89a75b0b2ce8852a60df9424f appear to break my current repo when running `go generate ./...`

![image](ht

[2021-01-02 06:38] napei opened #1117 "field alignment for structs"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Because of how memory allocation is done in go, it's possible to optimise the amount of memory that a struct takes by ordering fields based on their size. In the case of structs inside `./ent` there is possibly some performance/memory benefits by or

[2021-01-02 20:25] #1109 closed

[2021-01-02 22:38] sno6 opened #1119 "Update a column value to null"
Hello,

Is it possible to set a value to null using an update on an optional/nillable field.

[2021-01-02 22:49] sno6 commented on #1119
I've found `ClearFieldX()` but it would be nice to have something such as `SetFieldX()` which takes a pointer value if the field is nillable, and sets to either null or the given value.

[2021-01-03 04:45] ivanvanderbyl commented on #139
Has anyone made a start on this? I'd like to contribute!

[2021-01-03 06:21] ivanvanderbyl commented on #139
A few thoughts on this — at least from a Postgres standpoint — using `ON CONFLICT` requires some sort of annotation to indicate that a field is unique (already supported in the schema) or supply it with a named constraint (also generated by using `index.Field(...).Unique()`. Beyond that we need to update the graph inserter with the necessary pieces to write the conflict statement. Assuming somethi

[2021-01-03 06:34] a8m commented on #139
I started an experiment for handing this, the only open question about it is whether we want to add a new hook/policy type for `UpsertOne` and `Upsert` (bulk).

Regarding the API, I used something as follows:

[code]

[2021-01-03 06:43] ivanvanderbyl commented on #139
The explicit `OnConflict` API is nice — would it take a list of columns or options of some sort?

IIRC Postgres requires the conflict columns to be set to columns with a unique constraint and throws an error otherwise, would this be handled by Indexes/Field annotations?

[2021-01-03 08:55] a8m commented on #1119
Hey @sno6 and thanks for suggesting this feature.

As you mentioned, we already have an option for this named `Clear<Field>`. However, if you want to extend the update-builder with your new option, go ahead and add it to your project using [custom templates](https://entgo.io/docs/templates/) - it's a super simple thing to do.

Closing, but please let me know if you need any help with this 😃

[2021-01-03 08:55] #1119 closed

[2021-01-03 09:08] a8m commented on #1119
Created you some example to start working with it.

[code]

[2021-01-03 09:25] a8m commented on #977
@napei - Wow! I don't know how I missed this comment, but thanks a lot running these tests and sharing with me the insights. I assume it took you some time to do it, and it's really appreciated - that's one of the reasons I really like the OSS community 😍

---

That sounds like a nice idea, but I'm a little bit afraid that it'll add another complexity to the framework - If you're really into it, l

[2021-01-03 09:28] a8m commented on #977
@napei - Wow! I don't know how I missed this comment, thanks a lot for running these tests and sharing the insights. I assume it took you some time to do it, and it's really appreciated - that's one of the reasons I really like the OSS community 😍

---

That sounds like a nice idea, but I'm a little bit afraid that it'll add another complexity to the framework - If you're really into it, let's sta

[2021-01-03 09:37] napei commented on #977
@a8m - I'm not really sure how that would work now that I came to the conclusion that indexing fixes it. Perhaps starting with a note in the docs about how queries are formed behind the scenes, and how these performance caveats can impact performance and their solution (indexing) would be good just from an information perspective.

From an implementation point of view, I could see either a per-que

[2021-01-03 14:03] a8m commented on #977
What special indexing did you create on your database? FKs should already be indexed by default AFAIK.

Maybe add an option to add annotation on the edge (in the schema), and then expose functionality on the query-builder to be used by eager-loading as follows:

[code]

[2021-01-03 14:29] napei commented on #977
I don't have that code anymore, but from memory I stuck indexes on the edges and the primary keys.

That would work I think, but maybe `WithOptions` is a little confusing as that's another reserved word that a schema can't be called to add to the list (unless it already is one). Another way could be a parameter in the `WithFriends` function to take the options as `opts...`? Like `hook.On`

[2021-01-04 00:45] sno6 commented on #1119
You're a legend, cheers @a8m

[2021-01-04 05:48] sno6 commented on #1119
One small correction if anyone comes across this in the future.

Line 17 should be:

[code]

instead of

[code]

[2021-01-04 08:46] rubensayshi commented on #1079
ye that sounds like a more flexible option indeed!

[2021-01-04 12:21] a8m commented on #1115
Hey @napei,

Code can't be generated because you have hooks in your schema. I'm pretty sure the [`schema/snapshot`](https://entgo.io/docs/feature-flags/#auto-solve-merge-conflicts) feature-flag should solve the problem, and I planned to add a workaround for this in the release note.

Can you try please to run the following commands and report if that solves the issue:
1. Add the `--feature schema/

[2021-01-04 12:27] napei commented on #1115
That works! Code has regenerated

[2021-01-04 12:28] a8m commented on #1115
Great, thanks 😍

[2021-01-04 12:28] #1115 closed

[2021-01-04 12:57] cliedeman commented on #1111
I really like the idea. I still need to refer to the docs when creating relations and often make mistakes so I think this will ease adoption

Gqlgen will have example code that does something somewhat similar when it inserts new resolvers while retaining existing ones

[2021-01-04 20:55] a8m commented on #1119
Thanks for the feedback @sno6, I'll update my comment.

[2021-01-04 20:58] a8m commented on #1113
Hey @daginwu and thanks for the proposal.
Caching is definitely something that I want to add to ent.

Closing as this duplication of https://github.com/facebook/ent/issues/958 😃

[2021-01-04 20:58] #1113 closed

[2021-01-05 12:22] a8m commented on #1117
Thanks for this proposal @napei.

I find it cleaner to provide this functionality using a standalone CLI tool that can be executed with another `go generate` rule. In this case, it will also work if additional fields will be added to the different structs with external templates.

Is there any CLI that uses `fieldalignment` and provides this reformatting?

[2021-01-05 12:24] napei commented on #1117
This code generates a CLI application which can run the analysis on a file. The only thing it doesn't do well is preserving comments.

Unfortunately `fieldalignment` is an internal package, or at least the ability to manually run analysers programmatically is internal and a pain.

[2021-01-05 13:34] rubensayshi opened #1131 "return value of Update().Save() should contain any Edges on the original object"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

when `entity.Update().Save()` return the updated copy of the original entity it should also contain any previously eager loaded edges.

I think this could be done by looking at the `.Edges` of the `oldValue` at the end of the `.Save` method?
If you

[2021-01-05 13:51] a8m commented on #1131
Hey @rubensayshi and thanks for proposing this.

The mutation can contain changes to the edges, so old values should be removed from the `Edges` struct before we copy from it. Other solution is to query the database for getting the eager-loaded edges, but I prefer to avoid it.

[2021-01-06 03:38] adayNU opened #1137 "Issue with go generate when using the privacy feature flag"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We are using the privacy feature flag which is great. We began using this initially in development by simply adding
`--feature privacy` to our `go generate` directive (and running it). We th

[2021-01-06 08:05] a8m commented on #1137
Hey @adayNU!

Sure, because the schema package depends on the generated privacy package, and ent can't build the schema for loading it.

Someone just asked in the issue-tracker if they should keep generated code in VCS, and I recommended to do it, because this is how I work and have experience with it (see https://github.com/facebook/ent/issues/1082).

Having said all that, the issue can be solved

[2021-01-06 08:05] #1137 closed

[2021-01-06 08:39] rubensayshi commented on #1131
maybe eager-load them (again) if they were eager-loaded before?

[2021-01-06 11:46] rubensayshi commented on #1131
and maybe a good starting point would be (regardless) to add something like `Edges.CompanyOrGet()`, similar to `CompanyOrErr()` but then it will query for the edges if it hasn't been loaded yet?
it's kinda hard to easily fetch edges if you didn't eager-load them without fetching them multiple times if they've already been fetched by something upstream.

[2021-01-06 15:25] rubensayshi opened #1143 "Where(ID) for Edge should be possible without subquery"
(sorry for bad title, not sure how to better summarize)

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Problem

When you want to find all `Pet`s by their `Owner`, giving an `ownerID` you currently have to write a custom predicate or do 2 queries;

[code]

But the query could really just be a `SELECT * FRO

[2021-01-06 15:40] a8m commented on #1143
Hey @rubensayshi, yeah, I'm aware about this issue as it was raised before.
Currently, it's possible to solve this by using custom predicate as mentioned [in the doc](https://entgo.io/docs/predicates/#custom-predicates), and even add them to your project with custom templates.

I prefer to solve this optimization in the framework without changing the current API, because there are many predicates

[2021-01-06 15:51] rubensayshi commented on #1143
hmm, seems neigh impossible to get it right when `HasOwnerWith(...)` is used, wouldn't it just make more sense to go for the simple solution of adding `pet.WhereOwnerID...()` methods? it will result is more readable code as well than `hasOwnerWith(owner.ID(ownerID))`

[2021-01-06 18:22] adayNU commented on #1137
👍  we'll move to keeping it in source then. After digging a bit into the generated code in the privacy package this makes a lot more sense to me :)

[2021-01-07 09:14] thehowl opened #1146 "proposal: enable setting a DefaultFunc on a numeric type"
I'm currently migrating a database from an existing structure where we have used a variation of [Snowflake](https://github.com/sony/sonyflake) to generate the IDs for our resources. The natural way to store such a value in the database would be an uint64/`BIGINT UNSIGNED NOT NULL`, thus a numeric type for ent.

In spite of there not being a straight `DefaultFunc` method on the `uint64Builder`, by

[2021-01-07 10:04] a8m commented on #1146
Hey @thehowl and thanks for the proposal.
Go ahead and create a PR for this and tag me. Please let me know if you need help/guidance for implementing it. Thanks

[2021-01-07 14:28] rubensayshi commented on #1143
@a8m been looking at trying to determine if the predicate is a simple op on the foreign key (`owner_id`) but I can only think of 2 ways:

1) in `HasNeighborsWith` evaluate the `pred()` on a temporary `Selector` and try and determine if it's an simple `SELECT WHERE owner_id = ?` (or `IN(?`, etc), but this comes down to string comparing ...
but this is a ugly and errorprone solution and probably not

[2021-01-07 14:36] rubensayshi opened #1148 "Expose foreign key IDs of 02O and O2M"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Expose foreign keys of O2O and 02M edges.

ie. a `Pet` entity should have `.OwnerID` as field so you don't have to `pet.Edges.Owner = pet.QueryOwner().OnlyX()` )or eager load it).

This not only saves a subquery for the loading, but also just simpli

[2021-01-07 14:53] a8m commented on #1148
Hey @rubensayshi, there's a WIP on this on https://github.com/facebook/ent/pull/1046.

I'll comment my thoughts there and try to push this ASAP. Closing, as this is duplicate of #869.

[2021-01-07 14:53] #1148 closed

[2021-01-07 14:59] rubensayshi commented on #1148
you're my hero! sorry I hadn't noticed it was a duplicate

[2021-01-07 15:01] a8m commented on #1148
Hehe, thanks for your contributions. It's really appreciated! 😃

[2021-01-07 18:23] a8m commented on #1079
Closed with #1150

Thanks @rubensayshi 😃

[2021-01-07 18:23] #1079 closed

[2021-01-08 11:15] rubensayshi commented on #1131
Create has a similar problem;

[code]

[2021-01-08 12:07] rubensayshi commented on #1131
I was thinking for the Update it could be as simple as:

[code]

or we could mutate the original `Card` instance passed into `UpdateOne(card)`:

[code]

[2021-01-08 12:09] rubensayshi commented on #1131
I see that in `func (cc *CardCreate) createSpec() (*Card, *sqlgraph.CreateSpec)` there's already `_node.Field = value` assignments, we could take the same approach in `UpdateOne` when `UpdateOne(card)` was used and avoid the extra SELECT from the `func (u *updater) node(ctx context.Context, tx dialect.ExecQuerier) error` as well ?

[2021-01-08 18:44] msadikkose opened #1155 "Oracle Support"
Hello,
Is there any plan to support Oracle ?
At least lastest versions 19c etc.

Kind regards.

[2021-01-09 11:20] a8m commented on #1155
Hey @msadikkose, I think it will be supported at some point, but I don't have any details about it right now.

I prefer to see it as a pluggable driver and not part of the project, so if someone wants to work on it, I'd be more than happy to help with this (can ping me in [ent Slack channel](https://gophers.slack.com/archives/C01FMSQDT53)).

[2021-01-10 12:05] #1146 closed

[2021-01-10 12:07] a8m commented on #1146
Closed with #1153. Thanks for your contribution @thehowl 😃

[2021-01-11 12:28] rubensayshi opened #1161 "How to `SELECT WHEN ... CASE ...` (and order on it)"
I hate to do one of these, but I can't seem to figure out how to do the query I want to do ...

a simplified version of the query I want to do:

[code]

which should find any record where the name begins with or contains my search param, and if it begins with the search param it should have priority over the ones which contain it.

I've been trying to fiddle with doing `client.Item.Query().Where(.

[2021-01-11 13:24] a8m commented on #1161
Hey @rubensayshi, the framework doesn't support this at the moment, because it's not supported by all dialects.
But I'm working on changing the SQL builder right now, so I hope to post here a solution soon.

[2021-01-11 13:31] rubensayshi commented on #1161
ye I kinda figure that the only way to make that possible is if `Selector { order []string }` would be changed to something which implements `Querier` ...

Maybe that's actually a decent option? (and maybe same for `columns []string`?)

or add something like `ExtraArg(arg string)` to `Selector`, but that's pretty ugly ...

[2021-01-11 15:32] a8m commented on #1161
Hey @rubensayshi. I just merged https://github.com/facebook/ent/pull/1162.

This should make it possible for you to add "ORDER BY" clauses as follows:
[code]

Of course, you can make the API more friendly by adding custom code to your generated assets using external-templates.

Closing, but feel free to continue the discussion or re-open if have you any problem with it.

[2021-01-11 15:32] #1161 closed

[2021-01-11 15:33] a8m commented on #1161
This example should be added to our [FAQ](https://entgo.io/docs/faq/) page by the way.

[2021-01-12 08:05] rubensayshi commented on #1161
awesome!

[2021-01-12 13:27] thehowl commented on #910
@a8m sorry to necropost, but I was wondering: any reason why there is no default json tag on edges but only on fields? This feels inconsistent

[2021-01-13 20:23] mgabeler-lee-6rs opened #1168 "Support for Interval (Duration) data types"
Support for PostgreSQL (and others' equivalent) `interval` data type, mapping to a Go `time.Duration`, would be quite handy.

- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Would like to be able to write something like the following in my schema `.go` file:
[code]

For DB dialects that have a da

[2021-01-14 09:40] Siceberg opened #1170 "How to get value of the edge storage key without subquery"
For example, can I get the `owner_id` while getting the `Pet` object without subquery. I know "Eager Loading" can be used to achieve the goal, but the subquery is not necessary because the fields I need are already in the car table, and this is not efficient.

[2021-01-14 09:48] a8m commented on #1170
Hey @Siceberg and thanks for opening this issue.

This is duplicate of #869 and should be addressed soon with https://github.com/facebook/ent/pull/1046.

Closing, but I'll will update this issue once https://github.com/facebook/ent/pull/1046 is merged 😃

[2021-01-14 09:48] #1170 closed

[2021-01-14 10:05] Siceberg commented on #1170
Hi @a8m , this is great, thanks for your reply

[2021-01-14 10:33] a8m commented on #1168
Hey @mgabeler-lee-6rs and thanks for proposing this option.

It's possible to define [`GoType`](https://entgo.io/docs/schema-fields/#go-type) for schema fields and as an example you can map `time.Duration` to its actual type (`int64`) as follows:

[code]

This will generate an `int64` columns, but all Go methods for it will accept `time.Duration` (including predicates). For example:

[code]

Howev

[2021-01-14 17:43] mgabeler-lee-6rs commented on #1168
Yep, I managed to figure out much of this after posting this. In my case, having the field typed as `interval` at the DB layer is important, so the simpler solution you proposed won't work for me.

I was able to get things working with a custom `Interval` go type wrapping `time.Duration` however, with the `ent` schema building off `field.String`, after some hiccups:

What had me stuck initially wa

[2021-01-15 10:25] BrentChesny opened #1175 "BeginTx() panics when called on a DebugDriver"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Calling `BeginTx(ctx, opts)` on a debug Client panics, even though the underlying driver is an sql.Driver. The culprit seems to be this line in the BeginTx method of `*Client`:
[code]

The t

[2021-01-15 13:04] a8m commented on #1175
Thanks for reporting this @BrentChesny. https://github.com/facebook/ent/pull/1176 should fix the issue.

[2021-01-15 13:14] a8m commented on #1175
Closed with #1176

[2021-01-15 13:14] #1175 closed

[2021-01-15 13:37] synt8x opened #1177 "Is it possible to group by on edge field defined in the same table?"
I have a table called reviews and a table called review_groups. A review belongs to a review_group and has a field called review_group_id. On the review table is a field called finished. I want to aggregate the total finished against the total inside. Is it possible to aggregate on review_group_id(an Edge)?

[code]

[2021-01-15 13:40] #1177 closed

[2021-01-15 13:41] synt8x commented on #1177
Already find out how :)

[2021-01-15 13:41] BrentChesny commented on #1175
Thanks for the quick response as always. 🏆

[2021-01-15 23:36] adayNU opened #1179 "How to handle MutationRuleFunc for Update/Delete Ops?"
Using the example in the documentation for reference here.

Let's assume every `Schema` has the `TenantMixin` (meaning every `Schema` has an edge to `Tenant`).

It seems fairly trivial to handle a Mutation when the Op is Create (as done in the example). Here's a more generic version of the `DenyMismatchedTenants` function in the docs:

[code]

Curious if it's just not possible today or if I'm just

[2021-01-16 09:03] touyu opened #1180 "[Question] Implementation for GraphQL nested pagenation"
Hello, Thanks for this useful library.

I have a question about the combination with gqlgen.

I want to accept query like below
[code]

The schema of `user` and `item` is the following code
[code]

[code]

Is it possible to avoid the N+1 issue and implement this?
Or should I use a dataloader like [`vektah/dataloaden`](https://github.com/vektah/dataloaden) ?

I read docs about the [Field Collection

[2021-01-16 17:53] a8m commented on #1179
Hey @adayNU, sorry for the delay - Sabbath mode 😃

I hope you saw that in the `DenyMismatchedTenants` example, the rule is limited only for create operations:

[code]

I guess I can improve this example by rejecting changes to the tenant edge.

Regarding your rule - let me know if I got it properly, you allow mutating the tenant edge, but you want to verify that it matches the tenant-id in user-co

[2021-01-16 17:57] a8m commented on #1180
Hey @touyu 😃

This option is not supported by default, but I think I can come up with something in the upcoming days. I'll give it a look and update you.

[2021-01-18 01:48] haoxf opened #1182 "proposal: mysql full-text index surport"
Hello,
Is there a simple way to support MySQL full-text index.
Thanks

[2021-01-18 20:01] adayNU commented on #1179
Hey @a8m no problem! Wasn't expecting a response until Monday anyway :)

I'm realizing my description of the problem was pretty hard to follow. so I figured what better than do so with code. Lets say the example has a new `Schema` called `Dataset` which can have records added by users of any Tenant. When it comes to mutations, users should only be able to:
-Create a record belonging to their tenan

[2021-01-18 20:29] adayNU commented on #1179
I also wrote a test to show the behavior I'm seeing since I figured that'd be helpful: https://github.com/adayNU/ent/commit/e849bd016f78f3dbd62352d496c5d85f5bb15c18

[2021-01-18 22:12] adayNU commented on #1179
Ok after digging into the code some more, it seems like one possible way to solve this is only support `UpdateOne` / `DeleteOne` Ops, and reject and `Delete`/`Update` Ops as the former set the id field in the mutation.

e.g. from my example code have a case the case statement instead look like:

[code]

Curious if this is the only (currently possible) approach or if there is a better one.

[2021-01-18 22:38] adayNU commented on #1179
Also if that is the best solution, curious if you'd be open to implementing (I'd be happy to!) a way to more trivially get the `Tenant` edge from the mutation itself so that the more general example I added would be much less verbose (i.e. I don't need to switch on `m.Type()` and instead can add a method to the `TenantMutator` interface to get it.

Something in `ent/mutation.go` like:

[code]

[2021-01-19 06:11] mgabeler-lee-6rs commented on #781
#1104 seems to have implemented this, at least partially

[2021-01-19 07:09] mgabeler-lee-6rs opened #1187 "DebugDriver should be friendlier to structured logging"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

The log calls issued by `DebugDriver` and `DebugTx` have a structure to them. Each has an action, usually some SQL, args for the SQL, and a transaction id when appropriate. When working with structured logging (e.g. JSON via zerolog), it would be us

[2021-01-19 14:52] mgabeler-lee-6rs opened #1193 "Why are indexes on string/text columns longer than 255 prohibited?"
The entc generator code at https://github.com/facebook/ent/blob/master/entc/gen/type.go#L499-L501 prohibits creating indexes on textual columns that can hold more than 255 chars (`schema.DefaultStringLen`).

Git history suggests that this is old code, and doesn't indicate the motivation for this code.

AFAIK all the dialects ent supports permit indexes on long (even unbounded length) strings, cert

[2021-01-19 17:46] llamadeus commented on #92
I'm facing a similar problem having no access to the underlying foreign keys. I'm working with two tables. One `products` table with 30k records and one `product_attributes` table with around 1.3 million records.

In order to implement a fast lookup by id I need to prefetch all database records and map them by their ids. I first fetch all products, then all product attributes and then iterate over

[2021-01-19 18:03] llamadeus commented on #92
I'm facing a similar problem having no access to the underlying foreign keys. I'm working with 3 tables. One `products` table with 30k records, an `attributes` table with only 3k records, and the pivot table `product_attributes` table with around 1.3 million records. Products and attributes are M2M.

In order to implement a fast lookup I need to prefetch all `product_attributes` entries and map th

[2021-01-20 13:32] a8m commented on #1182
Hey @haoxf and sorry for the delayed response 😃

Not at the moment, but we can add support for this. I'll try to give it a look soon.

[2021-01-20 13:43] a8m commented on #1193
Hey @mgabeler-lee-6rs,
This check was added ~18 month ago, before we actually supported PostgreSQL (and before we had annotations).

The plan is to improve the index API in ent/schema in the future, and add support for dialect-specific features like [full-text](#1182) indexes and index prefixes.

[2021-01-20 13:59] a8m commented on #1187
Thanks for proposing this @mgabeler-lee-6rs.

We can also attach this info to the `context.Context`, and expose an API for extracting it. Something as follows:

[code]
WDYT?

[2021-01-20 14:00] haoxf commented on #1182
@a8m Thanks, expect new features to come.

[2021-01-20 16:47] mgabeler-lee-6rs commented on #1187
On thinking about this more, I definitely think having a struct to represent the operation makes a lot of sense. That struct could also implement `Stringer` to encapsulate the "default" formatting.

However, creating a `Context` just for the single call to the debug logger seems a bit of a convoluted way to avoid adding new methods. It's not terrible, but it doesn't feel great.

The other thing I'

[2021-01-20 18:00] adayNU commented on #1179
@a8m any thoughts here? My TL;DR is that it seems like `UpdateOne`/`DeleteOne` is the only way to do this today (which is fine) and wondering if it seems reasonable to add methods to mutations to more easily get an edge(s) in the `MutationRuleFunc`?

[2021-01-20 22:21] mgabeler-lee-6rs commented on #1193
In the meantime, then, would it be reasonable to at least raise, if not remove this limitation?

If there is concern about unwittingly creating "naive" indexes for large text columns, perhaps could gate this tolerance behind a schema config field?

FWIW, this is relatively easy to work around for now using `SchemaType` to override the `varchar(255)` to `text`, it just seemed like an oddly arbitrar

[2021-01-21 09:40] kuoruan opened #1197 "Add additional import with custom template?"
I already defined `import/additional` in my custom template like:

[code]

but the import not output to my go files.

Version: v0.5.4

[2021-01-21 11:09] clalos opened #1198 "Custom ValueScanner string type isn't evaluated"
Hello, first of all, thanks for the amazing work!
I'd like to use a custom type to escape/unescape strings from/to the database. The Scan function doesn't seem to work. Below the details.
Thanks in advance for your help.

Custom type:
[code]

Example entity:
[code]

Example usage:
[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebo

[2021-01-21 11:44] a8m commented on #1197
Hey @kuoruan, can you provide some test repo to reproduce this? I just check this on master and it works for me.

BTW, if you use the latest version, you can also name your templates as `"import/additional/<name>"` (this allow using multiple import templates), see: https://github.com/facebook/ent/blob/aa73b9067fb97275afc38f1f2750d2ba0e9edc7b/entc/gen/template/import.tmpl#L48-L52

[2021-01-21 11:50] a8m commented on #1198
Thanks @clalos, I'll give it a look and update you.

[2021-01-21 13:42] a8m commented on #1198
Hey @clalos, just checked this and it doesn't work because the type for `GoType` doesn't implement the `ValueScanner` interface (because the `Scan` method gets a pointer receiver).  The schema is valid because the GoType is convertible to `string`.

You can solve this now by changing your type to `type EscapedString struct {String string}`, and we can work on adding support for this use case.

[2021-01-21 13:58] clalos commented on #1198
Thanks for your reply.

This would produce a compilation error in the generated files.
For example, the `runtime.go` would try to directly convert to a `string` type, which is clearly not possible. This happens even if I don't specify a default value for the field.
[code]

[2021-01-21 14:13] a8m commented on #1198
Are you sure about this? There are many examples in the integration-tests that work great without any issue:
https://github.com/facebook/ent/blob/8420a64be3cdc52d16e1ce8ff1fceed678d7a789/entc/integration/ent/schema/fieldtype.go#L74-L102

I'll check the default-value case.

[2021-01-21 14:16] kuoruan commented on #1197
Hi @a8m, here is a repo.

https://github.com/kuoruan/ent/tree/test_import

[2021-01-21 14:28] a8m commented on #1197
It looks like the codegen does include your additional imports. See [ent/config.go](https://github.com/kuoruan/ent/blob/test_import/ent/config.go#L9).

If you want these additional imports in your custom templates, add the "import" template in your custom template as follows:

[code]

[2021-01-21 14:31] clalos commented on #1198
@a8m My bad, it works by using `type EscapedString struct {String string}`. I had to remove the `.Default()` from the other schemas too. I will use `DefaultFunc()` instead for such cases.
Thanks!

[2021-01-21 14:43] kuoruan commented on #1197
It's working now, thanks. 😊
But all other generate files are contain my additional imports now, is there any way to prevent it?

[2021-01-21 15:02] clalos commented on #1198
In addition, the above solution brings me to issue #1051. How can I filter by a custom type? 🤔️

[2021-01-21 15:47] a8m commented on #1197
Yes. If you're looking for adding the imports only for your custom template, don't use the "import" template (because it's used for all templates). For example, your template should look as follows:

[code]

[2021-01-21 16:35] #1197 closed

[2021-01-22 13:12] masseelch opened #1201 "Entity in Hook"
There is a little confusion going on here. I hope you can help.

I have a hook like this:
[code]
I want to change a field of the entity when another field has a specific value. The above does only work, if the fields `type` and `data` get changed in the same mutation. If i just change `data` but leave `type`, `type` is not part of the mutation and therefore the above does not work.

However there

[2021-01-22 14:18] a8m commented on #1179
Hey @adayNU and sorry again for the delay - I'm a little bit busy lately with other parts (related to ent).

Regarding your use case, can you elaborate what cases of update/delete-many do you have? What type of predicates do you use?

In my application, there are some types that operations like update/delete-many are not allowed, and we accept only entity-specific mutations like DeleteOne, UpdateO

[2021-01-22 19:57] a8m commented on #1201
Hey @masseelch 😃

First, if you want the hook to be executed only when specific fields were changes, you can use the [hook helpers](https://entgo.io/docs/hooks/#hook-helpers) as follows:

[code]

But if I got your use-cases correctly, you try to get the value of the `type` field even if it wasn't changed in this mutation?
This won't work for update-many operations with `OldType`, because the field

[2021-01-22 21:09] a8m commented on #1179
I've added to the website another [example](https://entgo.io/docs/privacy/#multi-tenancy) based on this issue (see it at the ~end of the page). Please update to latest if you want to run and use this example.

Thanks and let me know if you still need help with it.

[2021-01-22 21:31] masseelch commented on #1201
Nice, didnt know about the hook helpers. Kind of swopped over them in the docs.

But yes indeed, i want the value of type even if it wasn't changed in that mutation. I have to move the logic to the handlers / service layer then.

Thank you so much!

[2021-01-22 21:31] #1201 closed

[2021-01-23 18:49] mattdavis90 commented on #910
Sorry to add to a closed issue - I'm just starting out with ent and came across the same issue. The docs even imply that there should be a json-tag by default.
https://entgo.io/docs/schema-edges/#struct-tags
[code]

[2021-01-23 19:23] a8m commented on #910
Hey all, and sorry @thehowl for the delayed response - I missed it for some reason.

I added a patch for changing the behaviour according to the docs - https://github.com/facebook/ent/pull/1204.  Please update to latest if you need this:

[code]

Thanks for your feedback.

[2021-01-23 19:30] touyu commented on #1180
Hello @a8m

Is there any progress on this? 🙂

[2021-01-24 16:02] marwan-at-work commented on #1048
I'm also quite interested in this. It's quite a common pattern especially in IAM tables. Things like permissions are almost always polymorphic (happy to give examples if needed).

@a8m What if instead of 1 interface type that abstracts N polymorphic relations, we expose N concrete relations that `ent` knows are polymorphic under the hood?

If that's okay, then I think `ent`  has almost everything

[2021-01-24 20:03] a8m commented on #944
Solved with #1205.

Thanks @kerbelp for your contribution.

[2021-01-24 20:03] #944 closed

[2021-01-25 15:21] arielitovsky opened #1208 "Adding field between two existing fields and generating throws interface {} is nil, not func() time.Time"
- [X] The issue is present in the latest release.
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have an existing schema definition that looks like this:
[code]

If I try to add `fieldX` in the following manner:

[code]

and then generate, I get the error: `interface conversion: inter

[2021-01-25 15:28] a8m commented on #1208
Hey @arielitovsky and thanks for reporting this.

Can you please update to latest master and report if you still face this issue? I just tried it locally and it works fine.

[2021-01-25 16:36] saantiaguilera opened #1209 "Paging + Total elements in single query"
Hi! Is there a way to achieve a paging operation (limit/offset) and return in the same query the total elements underneath?

In SQL it would be something like:
[code]

I was thinking trying something along the lines of (asuming i'm fetching ent.User):
[code]

The problem I may see with this is that if I need to select also stuff from other tables (edges in ent's case) I won't be able to with this

[2021-01-25 21:11] arielitovsky commented on #1208
Hi @a8m ,
Thanks for the quick response. I updated to the latest commit (v0.5.5-0.20210125064946-06ae79acbabf) and still have the exact same issue.

[2021-01-25 21:12] arielitovsky commented on #1208
To clarify, if I add fieldX as the last field in the definition, it works fine. It just fails when I add it after fieldB in the example above.

[2021-01-25 22:58] arielitovsky commented on #1208
I've figured out the problem. I had included a different definition of the runtime. Closing.

[2021-01-25 22:58] #1208 closed

[2021-01-26 19:44] a8m commented on #1209
Hey @saantiaguilera,
There's no way to run such query with the current generated API, and you'll need to write this manually.

If you want to have a type-safe API, you can use the [external-template](https://entgo.io/docs/templates/) option for generating it.

[2021-01-27 14:39] zzwx commented on #999
Someone asked for the numbers - please read **However** portion too.

The most simple query for `sources, err := book.QuerySources().All(ctx)`, takes 106ms on Postgres 11, table containing 1 million records. That's **9.4 queries per second**.
[code]

**However** I noticed that even regular SELECT in this case wasn't robust either.

So I managed to speed it up by simply adding an index on the edge

[2021-01-27 23:15] saantiaguilera commented on #1209
By any means do you know of a consumer of this package that has examples with more complex queries? I read the template API but I'm biased to think achieving this with templates is not an easy task.

Just to make sure I'm getting this correctly. The idea would be to create a template for the User node (following the example above), that decorates our ent `UserQuery` struct and adds us a terminal m

[2021-01-28 09:38] rubensayshi commented on #999
tbh the internet is littered with issues with bad performance with DISTINCT, I really don't think it should be the default.

I think my https://github.com/facebook/ent/pull/1142 PR could be used, but with Unique defaulting to false and the PR slightly adjusted to enabling 2 easy ways to set Unique (either on `...Query` or with annotation)

[2021-01-28 17:28] zzwx commented on #999
@rubensayshi, @a8m
My original assumption was also that `SELECT DISTINCT` is always bad. However, there's also a bunch of reports that `SELECT DISTINCT` performs the same as a regular `SELECT ALL` because the optimizer will do away with the step necessary for eliminating duplicates. My particular use case showed that, of course it would depend on the quality of the optimizer, so this will be certa

[2021-01-29 08:36] rubensayshi commented on #999
so distinct is only neccesary for JOINs, though your argument that for simple queries the optimizer should be able to understand that is probably true

[2021-01-30 07:39] kyfk opened #1217 "How to increment a number column"
How could I execute a query like the below?

[code]

I came up with the idea that I use the Query to get a record first and then update it.
But that idea required to be executing 2 queries at least.

[2021-01-30 08:16] a8m commented on #1217
Hey @kyfk, you can use the `Add<Field>` method on the `<T>Update`/`<T>UpdateOne` builder. For example:

[code]

[2021-01-30 08:29] kyfk commented on #1217
That is great, thank you for your reply. @a8m

[2021-01-30 08:29] #1217 closed

[2021-01-31 15:45] a8m commented on #1105
Closed with #1145 and #1218. Thanks for your contribution @cliedeman 🙏

[2021-01-31 15:45] #1105 closed

[2021-01-31 21:35] BitPhinix opened #1220 "Privacy layer filterFunc "or""
Hi there,

I've been playing around with the new privacy layer inside ent over the weekend and could not figure out how to filter based on a or condition for the root type. (`.Where` only accepts ent.P in this context).

Thanks for this awesome ORM 🙌 !

[2021-01-31 21:39] a8m commented on #1220
Hey @BitPhinix and thanks for the feedback.

Can you elaborate a bit more about the type of predicate you want to apply on the query? OR between what predicates?
You can share raw SQL query or some dummy code based on the examples in the `examples` directory.

[2021-02-01 04:40] excing opened #1221 "When the ID type is string, an exception occurs when using WithGlobalUniqueID"
Set the ID primary key type to string and use `WithGlobalUniqueID`, the following exception occurs:
[code]

Database and version: **postgreSQL 13.1**

error code:

[code]

Schema code:

[code]

In short, is it my code's wrong or ent does not support this type of setting?

Thanks

--------------------

PS: When using SQLite3 database, there is no problem.

[2021-02-01 08:28] a8m opened #1223 "proposal: move generated enttest package to feature-flag."
As part of my work on reducing the size of the generated assets (by default), I'm thinking about moving the generated `enttest` package to a feature-flag. That is, users that want this package, will need to add this option to the generate command:

[code]

Feedback and thoughts are more than welcome

[2021-02-01 08:55] a8m commented on #663
Issue resolved. Please see the [sql/schemaconfig](https://entgo.herokuapp.com/docs/feature-flags/#schema-config) feature-flag if you want to use it.

Thanks @alexeyco for the proposal and thanks @marwan-at-work for working on this  🙏

[2021-02-01 08:55] #663 closed

[2021-02-01 21:14] nadsat commented on #456
We have a similar need and we use the following workaround:

[code]

basically we created a variable of type `Driver` and a `ent.Client` using that driver

[2021-02-02 08:06] a8m commented on #1221
Hey @excing 😃

The [universal-id](https://entgo.io/docs/migrate/#universal-ids) option works only for numeric PKs as mentioned in the doc:

Can you elaborate on your use-case or what are you trying to do?

[2021-02-02 10:18] excing commented on #1221
Thank you, @a8m

The case, I store the language code of iso639-2 as a table, and the article has a language field.

Here, I want the article to be directly associated with the language code, so the code is used as the primary key of the language table.

[2021-02-02 11:23] godcong opened #1225 "The generated name is the same as the package name"
I created a table using `ent init Config`,
after i generate the code use `ent generate ./ent/schema`.
The program was compiled with error

error code:
[code]

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Steps to Reproduce 🕹

Steps:

1. ent init Config

[2021-02-02 12:11] a8m commented on #1225
Hey @godcong and thanks for reporting this issue.
Yes, `config` is a predeclared identifier in the generated `ent` package, and we need to add a check for this before running codegen. You're welcome to contribute this change and add the `Config` name [here](https://github.com/facebook/ent/blob/master/entc/gen/type.go#L1343-L1367).

[2021-02-02 13:52] excing commented on #1221
PS: When using SQLite3 database, there is no problem.

[2021-02-03 03:44] dilipkk-foyernet opened #1228 "v0.6.0 not working with entgql"
Looks like package path change to entgo.io is not updated to https://github.com/facebookincubator/ent-contrib and it is breaking generation when entgql is used

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

`go generate ./ent` is not wo

[2021-02-03 07:17] godcong commented on #1225
I think the problem of duplicate names can be solved by adding an alias name before import

like:
[code]

[2021-02-03 08:37] a8m commented on #1228
Hey @dilipkk-foyernet, and thanks for reporting this. On it.

[2021-02-03 08:38] a8m commented on #1221
Got it.  Can I ask why do you use the universal-id option is your IDs aren't numerics?

[2021-02-03 08:57] excing commented on #1221
Sorry, I'm a novice. Can I use non-universal ID fields to associate other schemas?

[2021-02-03 09:24] fenngwd opened #1230 "UpdateNodes will overwrite predicate conditions unexpectedly"
UpdateNodes will overwrite predicate conditions of `SQL WHERE` statement to `IDS in` statement

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

When using update mutation like code above, SQL statement produced by ent will be spli

[2021-02-03 09:25] a8m commented on #1228
OK, https://github.com/facebookincubator/ent-contrib/pull/39 should fix the issue. I'll merge this soon.

[2021-02-03 09:35] a8m commented on #1230
Hey @fenngwd and thanks for raising up this issue 😃

I'm pretty sure this issue was addressed in https://github.com/facebook/ent/issues/912 and https://github.com/facebook/ent/issues/909. Please update to latest master or v0.6.0 and let me know if you still face this issue.

[2021-02-03 09:35] a8m commented on #1228
Resolved.

Closing, but please re-open if you still have troubles with it. Thanks 🙏

[2021-02-03 09:35] #1228 closed

[2021-02-03 09:57] fenngwd opened #1231 "Why count query will transformed into count(distinct id)"
Hi there,

I got a question about COUNT query. Why `CountNodes` will transformed into SQL `count(distinct id)`. Why's the design?

[2021-02-03 13:14] mhausenblas opened #1232 "OpenTelemetry support"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Currently `ent` supports OpenCensus. Since the OpenCensus project merged with OpenTracing to form OpenTelemetry (OTEL), I'm wondering if there's a plan to migrate to OTEL in the mid or long run.

## Motivation 🔦

Want to make sure that up-to-date de

[2021-02-03 13:59] a8m commented on #1232
Hey @mhausenblas and thanks for raising up this issue.

Currently, ent supports opensouces using the [ocsql](https://github.com/opencensus-integrations/ocsql) package, and doesn't support OTEL  due to lack of database/sql integration (see https://github.com/open-telemetry/opentelemetry-go-contrib/issues/5).

However, in the near future, I plan to provide a tracing extension for ent (in a layer abo

[2021-02-03 14:07] mhausenblas commented on #1232
Thanks so much for the speedy follow-up @a8m that is much appreciated! Gotcha and lemme know please if I can facilitate things.

[2021-02-03 15:17] fenngwd commented on #1230
@a8m Thanks for the quick reply.  It has been solved after updating to master.

[2021-02-03 15:17] #1230 closed

[2021-02-03 20:26] a8m commented on #1221
Sure. Remove the `WithGlobalUniqueID` option for the schema-migration and it should work without any issues.

Please let me know if you still have troubles with it, and feel free to open issues or comment if you need help 😃

[2021-02-03 20:58] BitPhinix commented on #1220
I basically want to do something like this (using a privacy filter based on 2 or more relations):

[code]

[2021-02-04 09:41] excing commented on #1221
Ok. How do I do?

[code]

Like this? But I want the other schema enable the Universal-IDs, and this don't work.

[2021-02-04 14:26] a8m commented on #1221
`WithGlobalUniqueID` creates global ids for all tables in the database. This allows users to query any object by its ID without knowing its type on runtime (e.g. see the [GraphQL Node API](https://entgo.io/docs/graphql/#node-api)).  If your ID type is not consistent across all tables, you can't use this option.

However, if you still want to use it, I'll suggest you to just replace the `"id"` fiel

[2021-02-04 15:27] arielitovsky commented on #1033
Is there any resolution to this? I'm seeing the exact same issue when trying to add a required Boolean with a default value. It does not use the default value, so it's unable to migrate:

Adding

field.Bool("newField").Default(false),

And then running migrate with these options:

	opts := []schema.MigrateOption{
		migrate.WithDropIndex(true),
		migrate.WithDropColumn(true),
		migrate.WithForeignK

[2021-02-04 16:52] alkanna opened #1236 "question: What is the recommended way to clean up a bad/broken generated Entity ?"
Let's say I have not yet run the migration against the database.
I have not committed any of my work for a while (my bad ?).
I generate an entity named Config. All is well, I define my fields, my edges... I generate the code... Then I fire up my program, and the compilation fails because ent is already using a Config struct of its own!

Now I don't mind changing the name of this entity to somethin

[2021-02-04 17:21] alkanna commented on #1231
It should only do that if your entity has been defined as Unique in its schema.
Have a look at `dialect/sql/sqlgraph/graph.go:598`
You should see this piece of code, that is driver agnostic :
[code]

[2021-02-04 21:54] a8m commented on #1236
Hey @alkanna and thanks for raising up this issue.

Regarding the `Config` naming problem - an identical issue was opened a few days ago (https://github.com/facebook/ent/issues/1225). It should be solved in the upcoming days, I'm just giving new contributors a chance to submit a patch because the fix is simple. We usually don't generate new assets if there's a problem with the schema, but in this

[2021-02-05 04:01] dilipkk-foyernet commented on #883
@a8m this is not working for postgres, query is generated with @>.
[code]
Field type for parentTags: `field.Strings("parentTags").Optional()`
It is stored as array: ["FLOOR_WING:A-5F", "FLOOR_WING:B-5F"] and column type is jsonb.

Can you please let me know if what is the issue here?

[2021-02-05 06:42] napei opened #1237 "Change to JSON tags not documented in 0.6"
Something in the ent template has broken JSON serialisation for the `EntityEdges` struct generated for each entity. Possibly from #318. Only present since `v0.6`

In my case, the edges struct has changed, adding json tags starting with lowercase, and subsequently has broken my frontend. Luckily I have a staging process and test environments 😅

Technically, this is a breaking change.

![image](http

[2021-02-05 06:49] wahello opened #1238 "example working with gin and other web frameworks."
- [ ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

## Motivation 🔦

[2021-02-05 08:01] napei commented on #1238
Everything you need to use ent is in the documentation (https://entgo.io/docs/getting-started/) and how you integrate this into other frameworks like gin, I feel, is not really relevant to this package. At a base level, put the database queries inside route handlers for whatever framework.

[2021-02-05 08:24] napei commented on #1225
But this should already be checked at time of running `ent init` thanks to #1110 so just adding this to the list of checks against `globalIdent` should sort it out. However, `ValidSchemaName` should really check the `privateField` array as well, which already contains `config`.

https://github.com/facebook/ent/blob/0f6c71d46b2f0c868c3e88bd9304ca000f26620d/entc/gen/type.go#L685-L698

Adding this wi

[2021-02-05 08:38] napei commented on #1236
My bad, I missed this in #1110, see a fix for this in #1239

[2021-02-05 08:43] alkanna commented on #1236
Was about to submit a PR for this :)

[2021-02-05 09:07] pzeinlinger opened #1240 "go get entgo.io/ent/cmd/ent: 404 Not found"
- [ X] The issue is present in the latest release.
- [ ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

go get entgo.io/ent/cmd/ent fails with
[code]
The webpage returned:
[code]

## Expected Behavior 🤔

## Steps to Reproduce 🕹

## Your Environment 🌎

| Tech        | Version |
| ----------- |

[2021-02-05 09:49] #1225 closed

[2021-02-05 10:03] a8m commented on #1237
Oh! Sorry for this @napei. I missed this in my release note.

Adding this to the release note. Thanks for reporting this and hope it didn't cause too much troubles.

[2021-02-05 10:05] napei commented on #1237
All good. Perhaps an automated `CHANGELOG.md` script wouldn't be a bad idea? There's tons out there. I haven't used any specifically for go before but I'm sure it's not too hard.

[2021-02-05 10:12] a8m commented on #1237
Yes, this can be a good idea. But I'll still need to go over it and make it more friendly for reading.

Updated the release note. Thanks a lot for reporting this.

[2021-02-05 10:12] #1237 closed

[2021-02-05 12:18] a8m commented on #1240
Hey hey @pzeinlinger and sorry for the troubles. I changed the import-path a few days ago, and figured out the [remote-path](https://golang.org/cmd/go/#hdr-Remote_import_paths) doesn't work as I thought for sub-packages.

I fixed it, and it should work now without any issues (checked this locally). Closing

[2021-02-05 12:18] #1240 closed

[2021-02-06 02:09] napei opened #1242 "fix entgo.io path resolution"
Slight annoyance :)

`entgo.io/docs` should 301 to `entgo.io/docs/getting-started`. Currently it just errors out.

[code]

[2021-02-06 05:31] excing commented on #1221
Although this isn't what I want, it's also a way. Anyway, thank you very much for your reply.

[2021-02-06 05:31] excing commented on #1221
Although this isn't what I want, it's also a way. Anyway, thank you very much for your reply.

[2021-02-06 05:31] #1221 closed

[2021-02-06 11:00] alkanna commented on #1236
I see that your PR has been merged so I'll close this. Thanks!

[2021-02-06 11:00] #1236 closed

[2021-02-06 19:25] henrywoody commented on #407
For the sake of generality, you might consider changing from `.Cascade` to `.OnDelete` (and `.OnUpdate`). This would allow for the usual SQL `ON DELETE` options (`RESTRICT`, `CASCADE`, `SET NULL`, `NO ACTION`, `SET DEFAULT`) and naming would align.

For example:

[code]

or:

[code]

Of course the above would work with `.Cascade(edge.SetNull())` but I think that would be confusing given the SQL na

[2021-02-07 05:51] fenngwd commented on #1231
thx.

[2021-02-07 05:51] #1231 closed

[2021-02-08 02:05] iorlas commented on #883
Just in case it will be reviewed in the future: it would be nice to have support for the arrays of enums. But, I guess, we'll need to support native PostgreSQL arrays then.

[2021-02-08 12:40] a8m commented on #883
Thanks for sharing this code @dilipkk-foyernet.

@iorlas, can you please elaborate what do you mean by "array of enums"? What type of predicates/fields are you missing today?

[2021-02-08 12:41] a-lucas opened #1250 "`go generate ./ent` returns `no schema found in: ./ent`"
I am not sure if this is a bug, or just me not doing it the correct way.

All I did:

[code]

With a `go.mod` at the root of my project.

Then:

on a fresh clone,
I ran

[code]

It downloads a couple of dependencies on the generate script, then ends with `no schema found in: ./ent`.

I am quite sure I missed a step.

[2021-02-08 12:46] iorlas commented on #883
@iorlas I would like to achieve similar scenarios:

[code]

As far as I got the ent implementation, it is possible right now simply because of the ent implementation, creating enums as varchars. But if you will migrate to the proper enums, you will need to provide an option to use arrays with enums as well.

[2021-02-08 12:46] a8m commented on #1250
Hey @a-lucas, my guess it's something in your local environment.

Did you follow the steps in the [getting-started doc](https://entgo.io/docs/getting-started)? Can you paste the content of your `ent/generate.go` file? Do you have schemas in the `ent/schema` package?

Please see the [getting started example](https://github.com/facebook/ent/tree/master/examples/start) in the examples directory.

[2021-02-08 12:57] a-lucas commented on #1250
Good day @a8m ,

Thanks, BTW, I really find `ent` awesome !

Yes a small set of schemas [schemas](https://gitlab.com/a-lucas/permalib/-/tree/dev/ent/schema)

And the generate.go file is

[code]

I just noticed that the `generate.go` version I have on the other machine is using `github.com/facebook/ent` repo, but I can't seem to find which `ent` version I used 2 weeks ago.

[2021-02-08 13:00] a8m commented on #1220
Hey @BitPhinix, and sorry for the delayed response. Can you explain why do you use the generic privacy-filter and not the `AccountQueryRuleFunc` if you need to change specific type?

[code]

[2021-02-08 13:03] a8m commented on #1250
Thanks for the kind words @a-lucas 🙏

OK, does updating ent to latest master (or v0.6.0) solve your problem?

[2021-02-08 13:05] a-lucas commented on #1250
You're right @a8m,

This has to do with a  version mismatch, the version I used to generate the project is 5.4.0, and I didn't originally committed the `generate.go` :sweat_smile:

Legend!

No, v0.6.0 doesn't solve the issue, I'll downgrade ent to 0.5.4 first to see how it goes!

[2021-02-08 13:17] a-lucas commented on #1250
Replacing
`//go:generate go run entgo.io/ent/cmd/ent generate ./schema`
by
`//go:generate go run github.com/facebook/ent/cmd/ent generate ./schema`

Made it work.

[2021-02-08 13:17] #1250 closed

[2021-02-08 18:20] MrParano1d opened #1252 "How do I use postgresql schema?"
This is my entity

[code]

But `go generate ./ent/` generates invalid code.

The `./ent/migrate/schema.go` looks like this:

[code]

Which results in an `\ent\migrate\schema.go:25:13: expected ';', found '.' (and 1 more errors)` error during code generation.

How do I use postgres schema with ent?

[2021-02-09 21:17] a8m commented on #1252
Hey @MrParano1d and sorry for the delayed response.

Please use the [sql/schemaconfig](https://entgo.io/docs/feature-flags/#schema-config) feature-flag in order to use alternate SQL database/schema for the different tables.

If all your tables reside on the same schema/database, add the database to the connection string as follows:

[code]

Closing, but feel free to re-open if you still have troub

[2021-02-09 21:17] #1252 closed

[2021-02-10 09:29] BitPhinix commented on #1220
Ohh didn't notice that was a thing, sorry about that 😅

[2021-02-10 09:29] #1220 closed

[2021-02-10 18:29] a8m commented on #1220
Sure, feel free to re-open if you have any troubles with it 😃

[2021-02-12 06:55] enjoylife commented on #407
I came across this proposal not for the titled deletion aspects but more so on the move proposal:

I think the api is fine, even though semantically it feels like an update. I can assume keeping it distinct from the `.Update()` methods would imply a lower implementation complexity.

Some quick common use cases I can think of that would benefit from the `Move<E>` proposal.

* Upgrading an anonymous

[2021-02-12 07:12] enjoylife commented on #1238
There is something to be said about having a page or section titled `"Using ent with {{X}}"` for helping increase adoption & exposure of ent out to folks who maybe otherwise wouldn't come across Ent.

But ent and Go packages in general, are pretty standard across their interfaces, e.g. `Context` or `http.Handler`.

Perhaps @wahello, theres a specific unique aspect to Gin or say Gorilla that warran

[2021-02-13 16:48] darestrepov7 opened #1256 "Sorting by nested fields"
Good day,

We need to apply a way to order ents by edges and not just by fields (to be exact by some field of the ent that the edge point to). It appears to be a gap in the schema.

We appreciate any help to achieve this goal.

Thanks.

CC: @mescorci

[2021-02-13 19:38] a8m commented on #1256
Hey @darestrepov7 and thanks for raising up this issue. I need to add this question to our website documentation.

The way I do it in ent, is by starting the traversal from the edge (I want to order by), apply the ordering, and then jumping to the neighbours (target type). For example:

[code]

Please let me know if it helps, and of course, we open for suggestions to improve the API. Thanks 🙏

[2021-02-15 21:11] darestrepov7 commented on #1256
Ariel, we have seen the examples that you gave us, and definetely it is a field to explore. However, there is something important we'd like to comment related with the cursors we have in Symphony pages.

We had also the idea of querying and sorting after the query based on the result, but we have to clarify the cursor is an impediment. Do you have an idea if we can attack this issue with your reco

[2021-02-16 18:14] juanpabloaj opened #1258 "Changing where's conditions dynamically"
In the documentation, I found examples like this one

[code]

In some cases, I need to use some of these conditions

- `user.AgeGT(30)`
- `user.AgeLT(60)`
- `user.AgeGT(30) and user.AgeLT(60)`

May I change the where's conditions dynamically?

thanks a lot for your suggestions :)

[2021-02-17 08:24] a8m commented on #1256
Hey @darestrepov7, let's continue the discussion privately on [Slack](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) or in Symphony repository as it's something specific to Symphony. Thanks

cc @noamsch

[2021-02-17 08:24] #1256 closed

[2021-02-17 08:29] a8m commented on #1256
@darestrepov7, I added the example above to the website btw - https://entgo.io/docs/paging/#edge-ordering

[2021-02-17 10:44] bonafideyan commented on #56
the same question: two entity, message and user, user can read messages, and message can be read by users, so it is a m:m relation, my question is what about I want mark a message is read by a user, if the generated table have a column named read, thing become easy.

[2021-02-17 13:04] darestrepov7 commented on #1256
@a8m could you please send us an invitation for the Slack workspace to manuel.alejandro.escorcia.jimenez@everis.com and diego.andres.restrepo.vera@everis.com?

Thanks

[2021-02-17 17:56] vojta001 commented on #1063
Sorry to be annoying, but ent is otherwise so awesome I cannot resist. It am soooooo looking forward to see #400 implemented and this issue is a prerequisite.

How is it currently going?

[2021-02-18 07:20] wonsoh opened #1260 "Supporting Custom Migration Driver"
Hi. I understand that the officially supported dialects are MySQL, Postgres, and SQLite, but would it be possible if you could also support custom dialects so we can implement the interface and do migration as well? For instance, we're trying to use Oracle OLTP database for backing data and the SQL semantics are a little different

[2021-02-18 08:22] a8m commented on #1258
Hello @juanpabloaj 😀

The `Where(Predicate[T])` function accepts predicate of type `T`, so in your case, you can just do the following:

[code]

Does it answer your question?

[2021-02-18 08:27] a8m commented on #1256
Done

[2021-02-18 08:34] a8m commented on #1063
Hey @vojta001, there are a few stuff before this (e.g. migration), but we'll get to it. I'll try to come up soon with some time estimation for this.

[2021-02-18 08:39] vojta001 commented on #1063
You're awesome! Thanks

[2021-02-18 08:41] a8m commented on #1260
Hey @wonsoh and thanks for proposing this.

I'm currently working on the schema-versioning and the new migration. This is going to be supported as well.

Can you share how do you expect such an API to look like? Thanks

[2021-02-18 15:57] wonsoh commented on #1260
Hi @a8m
I am looking at this section (https://github.com/ent/ent/blob/master/dialect/sql/schema/migrate.go#L106-L134 ) and this section (https://github.com/ent/ent/blob/master/dialect/sql/schema/migrate.go#L637-L650) since this interface is private and `NewMigrate` is hardcoded by a switch statement, I cannot pass in my own custom dialect. If we could pass in our custom dialect option by passing i

[2021-02-18 17:49] juanpabloaj commented on #1258
@a8m thanks for the answer (and for `ent` 😄 )

Yes, that could be a solution.

Is there any plan for the future to add to this project some features similar to [rql](https://github.com/a8m/rql)?

Like receive and string query and call to the database using ent.

https://github.com/a8m/rql#simple-example

My question is because in many cases I have a similar situation, how to create filters for an

[2021-02-18 20:48] aight8 commented on #1063
I currently have forked ent with enables pgx support and support for db site native composite and also enum types.
However I use a generated ID field, which constructs the value by 4 other fields.
The most important thing is the knowledge of the db type which a type represents as string representation.
It is required for various SQL statements to cast a anonymous ROW (this is how a composite type

[2021-02-19 07:10] masseelch commented on #1250
@a8m  Sorry to necropost

I have the same problem. However, i have the `schema` folder outside of the `ent` folder. Is this an anti-pattern?

[2021-02-19 14:49] a8m commented on #1250
Hey @masseelch, that's OK. I use it by myself in some places (see [an example in integration tests](https://github.com/ent/ent/blob/master/entc/integration/gremlin/ent/generate.go#L7)).

Please let me know if you need any help with this.

[2021-02-19 15:06] masseelch commented on #1250
I'll try to create a reproducible example, where you get the error but the code works. If i succeed i create an issue for it. Thanks!

[2021-02-19 15:22] a8m commented on #1258
Hey @juanpabloaj, if you work with [a8m/rql](https://github.com/a8m/rql), you can do it today as follows:

[code]

I'll add example to https://github.com/a8m/rql soon.

[2021-02-19 15:46] #1258 closed

[2021-02-22 05:46] fangniu commented on #1047
+1

[2021-02-22 20:47] mgabeler-lee-6rs opened #1265 "Generates failing query for SQLite in the presence of a self join + order"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

If I use a custom predicate to add filters based on a self-join (or really any table with overlapping column) and also do an order by, the generated query is perceived as valid by PostgreSQL

[2021-02-22 20:51] mgabeler-lee-6rs commented on #1265
Workaround: pass my own `func` to `Order` that does the same thing as `ent.Asc`, but without the column name verification, and with the manual table name qualification.

[2021-02-23 11:44] godcong opened #1266 "can ent support for go build tags"
I use remote and local databases to manage my data.
Some of these data sheets are the same, some are different.
If ent can support go's `build tags`, so I can directly compile the client and server through the `build tags`

- [X ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

If I add a `tag` used `e

[2021-02-23 18:50] a8m commented on #1266
Hey @godcong 😃

Build tags are not support atm, but I'm pretty sure we can support this. Can you elaborate more on your use case? Are we talking about build-tags on the schema package or on the generated assets?

[2021-02-24 03:02] wenj91 opened #1268 "when table field's name is label, it will cause error"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

..\ent\book\where.go:159:6: Label redeclared in this block
	previous declaration at ..\ent\book\book.go:7:10

// table book
[code]

 // book.go
[code]

// where.go
[code]

## Expected Behavi

[2021-02-24 04:00] godcong commented on #1266
We are used a distributed system
Our architecture is that the server and the client use the same set of codes
But the server will be marked in the node
Sometimes the client will request some data from the server
[code]
`Information` are both in server and client
`NodeInformation` was only created on the server
The server manages the `Information` that the client can obtain
`NodeInformation` needs

[2021-02-24 12:20] dara-na opened #1269 "create field with mysql point type data type"
hello
one of my table fields type is Mysql 'point' type (location),
how can I define it with ent.Field ?

[2021-02-24 16:21] 201RichK opened #1270 "go generate ./... does not generate graphql files"
by following the 3 steps mentioned in the documentation,
after having typed the command go generate ./... according to the docs we should have the different gqlgen files, which is not the case.

in my case I followed the different steps of the docs in particular the three steps mentioned to activate the extension entc.

after the command go generate ./... we must have the different files of the gr

[2021-02-24 16:23] 201RichK commented on #1269
we don't quite understand your question, be clearer.

[2021-02-24 16:57] a8m commented on #1270
Hey @201RichK, can you please share a temporary repository for checking your issue? You can also give a look to the [graphql todo example](https://github.com/ent/contrib/tree/master/entgql/internal/todo) and see if that works for you.

[2021-02-25 08:47] Ackerr opened #1272 "how store uuid.hex (string) rather than uuid"
I try to add a UUID field to my schema
[code]
After migrate，I find the field  is uuid type. But I want  string type, store uuid.hex.

Now I change field schema like this `field.String("uuid")`，But it cant use `Default(uuid.NewString)`, I must use `SetUUID(string)` when create.

Is there a better way to solve this?

[2021-02-25 09:21] wroge opened #1273 "question: order by json path"
Is there a way to sort on a JSON Path?

`SELECT id, name, age, meta FROM users ORDER BY meta ->> ? DESC`

[code]

Thanks!

[2021-02-25 09:49] 201RichK commented on #1270
here is my code [https://github.com/201RichK/graphql_test](https://github.com/201RichK/graphql_test),  what I also noticed is that after typing the command go generate it doesn't import the files automatically, I mean gqlgen, so I have to type the command go mod tidy afterwards.

[2021-02-25 11:51] a8m commented on #1272
Hey @Ackerr, you can use the `DefaultFunc` option in this case. Please see the [doc](https://entgo.io/docs/schema-fields/#default-values) or use this example:

[code]

[2021-02-25 11:52] #1272 closed

[2021-02-25 11:57] a8m commented on #1270
The repository looks fine except a few things that are missing - [GraphQL schema](https://github.com/ent/contrib/blob/master/entgql/internal/todo/todo.graphql), the [gqlgen config file](https://github.com/ent/contrib/blob/master/entgql/internal/todo/gqlgen.yml), and [another file](https://github.com/ent/contrib/blob/master/entgql/internal/todo/gen.go#L17) for telling `go generate` to execute gqlge

[2021-02-25 12:26] #1268 closed

[2021-02-25 12:26] a8m commented on #1268
Thanks for reporting this @wenj91. Solved with #1274

[2021-02-25 12:50] 201RichK commented on #1270
that work, thanks for your answer

[2021-02-25 12:50] #1270 closed

[2021-02-26 00:47] SogoCZE opened #1276 "Abbreviation of entity collides with id variable in query edge function"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

I have `ItemDocument` and `Item`, and the product can have many documents. So I have edge O2M (on `Item`). And the generator generate function `QueryItem` on **ItemDocumentClient** struct th

[2021-02-26 02:18] EndlessIdea opened #1277 "Does ent team consider to support the raw sql query or update?"

[2021-02-26 06:21] Siceberg commented on #1269
Spatial Data Types?
[https://dev.mysql.com/doc/refman/5.7/en/spatial-type-overview.html](url)

[2021-02-26 10:22] Ackerr opened #1278 "refer to db field value when query or update"
I want to execute sql like this

[code]
I took a quick look at the documentation，but not find how to implement it.

[2021-02-26 13:20] a8m commented on #1269
Hey all,
I created a sample repository to show how to use MySQL spatial data types with ent. I'll add this to our website, but for now, please see https://github.com/a8m/entspatial. TL;DR, you define a new type that implements the `ValueScanner` interface, and use it in your schema. For example:

A schema usage:
[code]

And an implementation example:
[code]

Closing, but please reopen if you need

[2021-02-26 13:20] #1269 closed

[2021-02-26 19:19] a8m commented on #1278
Hey @Ackerr,
You can use the `Add<F>()` setters, in order to increment/decrement number fields. For example:

[code]

And for the first example, you can use the `Select` option to select specific fields, and custom predicates for writing such filters. For example:

[code]

Closing, but please feel free to reopen if you have more questions. Thanks 🙏

[2021-02-26 19:19] #1278 closed

[2021-02-26 19:22] a8m commented on #1277
Hey @EndlessIdea,
Can you elaborate what do you mean by "raw query/statement", or provide some examples that are not supported and can't be implemented with [custom templates](https://entgo.io/docs/templates/)? Thanks 🙏

[2021-02-26 20:11] a8m commented on #1276
Hey @SogoCZE and thanks for reporting this.

https://github.com/ent/ent/pull/1281 should solve the issue.

[2021-02-26 20:18] #1276 closed

[2021-02-27 13:10] dara-na opened #1282 "overriding primary_key column name"
how to rename the "id" column name, provide my own PK column name?

[2021-02-27 17:34] a8m commented on #1282
Hey @dara-na 😃

You can use the [field.StorageKey](https://entgo.io/docs/schema-fields/#storage-key) option. Please see an example in integration tests:
https://github.com/ent/ent/blob/31ec081b0e0bb935626a7bbec6eebbaf4306cdce/entc/integration/config/ent/schema/user.go#L38-L39

Would you mind adding this question to the [FAQ page](https://entgo.io/docs/faq/) in our website? Thanks 🙏

[2021-02-27 17:34] #1282 closed

[2021-02-27 17:39] dara-na commented on #1282
Sure ... That would be a pleasure

[2021-02-28 06:44] dara-na commented on #1269
thanks that worked pretty good

[2021-02-28 11:58] a8m commented on #1040
Hey, closing since there's no update since last comment.
Please feel free to reopen if you still need help with this 🙏

[2021-02-28 11:58] #1040 closed

[2021-02-28 19:59] rotemtam opened #1283 "proposal: Protobuf + gRPC <> Ent interop"
Allow for interoperability between ent and protobuf/gRPC:
* Generation of `.proto` files from an `ent` schema
* Generation of a gRPC service definition for a basic CRUD server using the generated protobuf messages
* Generate a go implementation of the gRPC service
* Generation of `ent` schema from  `.proto` files

- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this r

[2021-02-28 20:02] rotemtam commented on #367
I've started working on a suggestion for proto/grpc interop with ent. Documenting my thoughts in #1283. Will appreciate feedback @covrom @nemith

[2021-03-01 02:39] Ackerr commented on #1278
Thanks. Now i need to implement a feature, sql like
[code]

1. Does ent can use mysql buildin func like CONCAT，LAPD?
2. Is there any way to directly execute raw sql like sql.DB().Exec('sql')

[2021-03-01 03:24] HarikiRito opened #1284 "Cannot add a field type of float with 0 as default value"
- [ ] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Add a field type of float with 0 as the default value make the migration fail.

## Expected Behavior 🤔

It's should migrate with no problem

## Steps to Reproduce 🕹

Steps:

1. Add a float f

[2021-03-01 07:30] dara-na opened #1285 "create entities from existing database"
is there any way to create entities from the existing database?
I think that would be really great for migrating existing microservices with different DB access layers to ent
a quick example would be adding a connection-string switch to ent cmd and ent cmd reads the schema from provided connection and generates all entities from the schema :

ent generate --connection-string="root:pass@tcp(localho

[2021-03-01 09:41] rotemtam commented on #1284
Hey @HarikiRito,
I tried reproducing this on my local machine and it seems to work fine. Can you share more details on the current behavior? Specifically a stack trace on the error, and if you can share an example schema it will also be helpful.

[2021-03-01 10:02] KercyLAN opened #1286 "There is a problem with the SQL built when the M2M data ID is a string"
[code]

[code]

[code]

[2021-03-01 10:46] HarikiRito commented on #1284
@rotemtam I believe the cause of this problem is when schema generate it doesn't have a "Default" field. And I'm using postgres:13.1 docker container
![post](https://i.imgur.com/qPVvhRI.png)
![post](https://i.imgur.com/2UEzZ4c.png)

Here is the error message when I run the app

`alter table "posts": ERROR: column "actual_point" of relation "posts" contains null values (SQLSTATE 23502)`

[2021-03-01 12:42] a8m commented on #1284
Thanks for reporting this @HarikiRito 🙏

#1287 fixed the issue. Closing

[2021-03-01 12:42] #1284 closed

[2021-03-01 14:49] marwan-at-work opened #1288 "[Regression] Cannot specify primary id as a foreign key"
I have two tables: users and metadata. There's a one-to-one relationship between the two tables. However, the foreign key is the primary ID itself. So for example, a user with ID = 4 corresponds to a metadata row with id = 4 as well.

This is how I've described it in ent schema:

[code]

There are a couple of issues here:

1. The migration tries to specify the "id" column twice ending up in an err

[2021-03-01 20:38] a8m commented on #1288
Hello @marwan-at-work 👋
Thanks for reporting this. It's a bit surprising to hear that it was supported before.

https://github.com/ent/ent/pull/1289 should solve the problem, but probably need more coverage.

[2021-03-01 20:58] a8m commented on #1288
@marwan-at-work, #1289 was merged. Please update your version to latest and let me know if that solves your problem.
Keeping it open for now.

[2021-03-02 00:19] KercyLAN commented on #1286
[code]

[2021-03-02 00:48] KercyLAN commented on #1286
[code]

[2021-03-02 02:07] Ackerr commented on #1277
A example: https://github.com/ent/ent/issues/1278#issuecomment-787595034

[2021-03-02 09:16] a8m commented on #1286
Thanks for reporting this @KercyLAN. I'm giving it a look.

[2021-03-02 09:59] a8m commented on #1286
https://github.com/ent/ent/pull/1291 fixed the issue. It's the bug you mentioned.

Feel free to send a patch next time. Thanks for digging into that 🙏

[2021-03-02 09:59] #1286 closed

[2021-03-02 12:01] Ackerr opened #1292 "how to use buildin function like Date()"
example sql like
[code]
And is there any way to directly execute raw sql like sql.DB().Exec('sql')

[2021-03-02 20:14] marwan-at-work commented on #1288
Thanks @a8m for the fix. Here's a similar issue that I've ran into: https://github.com/marwan-at-work/entrepro/tree/actor

It ends up creating Go code that doesn't compile. You can try to run `go build ./...` in the branch above to see the error.

Thanks!

[2021-03-03 01:39] KercyLAN commented on #1286
@a8m Okay, thank you!

[2021-03-03 05:40] imle opened #1294 "StructTag("") no longer removes the comment entirely."
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

When using `StructTag("")` prior to v0.6.0, this would remove the struct tag entirely.

## Expected Behavior 🤔

Struct tag is set to the default `` `json:"thing,omitempty"` ``

## Steps to R

[2021-03-03 06:03] imle commented on #1294
I realize now that specifying `` `json:"-"` `` would be more correct for the behavior I am looking for, however, this was previously something you could do.

[2021-03-03 12:09] a8m commented on #1294
Hey @imle and thanks for reporting this issue.
I'm not able to reproduce this issue on v0.5.0 and v0.6.0, but like you said, the `json:"-"` option is the right way to go, if you want to explicitly remove the field from marshal/unmarshal.

[2021-03-03 12:38] masseelch opened #1301 "[question] Define unidirectional O2M"
Is this possible? Docs don't say anything about it.

[code]
returns `entc/gen: missing reference name for inverse edge: Media.user`. So i guess this is not possible.

[2021-03-03 12:48] a8m commented on #1301
Hey @masseelch. It's great to see you here again 😃

`edge.To("user", User.Type)` should solve the problem. Let me know if I can close the issue.

[2021-03-03 14:11] masseelch commented on #1301
Yes, this does solve the problem. However, this makes a bidirectional 02M-relation out of this. This does indeed include the requested unidirectional relation. Still, i was wondering if i can create a unidirectional relation. I might never ever use the reverse edge, so why define it?

[2021-03-03 14:11] #1301 closed

[2021-03-03 15:02] masseelch opened #1302 "Default json-Tag on Edges field"
- [x ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Following #910 and the PR #1204 there are now default json tags on the edges struct. However a default `json:"edges,omitempty"` is still missing from the generated entity. I believe to have consistent behaviour this needs to be added.

I removed th

[2021-03-03 15:12] masseelch commented on #1292
I do not think it is possible. You can open a connection with standard `sql` package and afterwards hook that up with ent. Raw sql can then be run against the db like you usually do.

[code]

[2021-03-03 15:13] a8m commented on #1301
This doesn't create an inverse edge (the back reference). Hence, it's one direction edge.

[2021-03-03 15:15] masseelch commented on #1301
Ha! `To`, not `From`. I see. Thank you very much :+1:

[2021-03-03 15:16] a8m commented on #1302
Hey @masseelch, this can be done with the [`edge.Annotation`](https://pkg.go.dev/entgo.io/ent@v0.6.0/schema/edge#Annotation) option. Please see this example: https://github.com/ent/ent/blob/31bee1094209138372c85a02b1c8b9fd388c6114/entc/integration/ent/schema/card.go#L23-L25

[2021-03-03 15:33] masseelch commented on #1302
Yes i know. But like in #910 I propose to add this tag by default. If there is too much to do on other stuff i can try to implement it and file an PR.

[2021-03-03 15:40] a8m commented on #1302
Yeah, but this was added. See my comment - https://github.com/ent/ent/issues/910#issuecomment-766165744

Do I miss something?

[2021-03-03 15:47] masseelch commented on #1302
Your PR (#1204 ) adds default tags to the fields on an edge.

[code]

There is no default tag on the `Edges` field on the generated Entity.

[code]

So, this:

[code]

should generate this:
[code]

[2021-03-03 15:51] a8m commented on #1302
What version do you use? See example in the repo:

https://github.com/ent/ent/blob/dd4792f5b30bdd2db0d9a593a977a54cb3f0c1ce/examples/start/ent/car.go#L30

[2021-03-03 16:05] masseelch commented on #1302
Version:
![image](https://user-images.githubusercontent.com/12862103/109832589-c7657b80-7c40-11eb-9aac-dee47f422025.png)

-----

### Found the error now!

When defining my schema like this:

[code]
This gets generated:
[code]
There always is a `json`-tag on schema-fields and edge-fields. Adding an `edge.Annotation` removes the json-tag.

[2021-03-03 16:10] a8m commented on #1302
Yes. The `StructTag` annotation overrides the default struct-tag because it's static for the `Edges` struct field.

[2021-03-03 16:54] masseelch commented on #1302
Is this behavious changeable to match that of the fields?

[2021-03-03 18:04] a8m commented on #1302
Can you elaborate what are you trying to achieve?

[2021-03-03 18:53] enjoylife opened #1303 "Unable to use field.Other and entgql.OrderField annotation together"
With the introduction of the `OtherField` type in #1218, it opens up custom types and works well, but doesn't yet compose well with the entgql annotations.

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯
Unable to use `field.Other` and `e

[2021-03-04 08:40] masseelch commented on #1302
I think its counter intuitive that the `StructTag` annotation behaves differently than the `StructTag()`-method on `ent.Field` and `ent.Edge`.

So i propose to make all 3 `StructTag`s behave the same. Either all override the default tag or all of them merge the given tag with the default `json`-tag.

I don't know if this counts as BC (but i think it does), but it is confusing, especially for new u

[2021-03-04 08:55] JackMin1314 opened #1305 "how to specify the name of table before I use the command : go generate ./ent."
I want to query the existed table which the name is **student**  in my MySql  database.
So I use the CLI command to create my project like `ent init User`
After I fill the `./ent/schema/user.go` (just add some required field) , I use `go generate ./ent` and it can generate successfully.
However, when I use the db the type of *ent.Client to execute Query() function, I get the error
`Error 1146: Tab

[2021-03-04 09:01] JackMin1314 commented on #1305
I use the Annotations and that solve my problem.

func (User) Annotations() []schema.Annotation {
	return []schema.Annotation{
		entsql.Annotation{Table: "student"},
	}
}

[2021-03-04 09:01] #1305 closed

[2021-03-04 12:27] dilipkk-foyernet opened #1306 "Dependency injection for privacy rules"
Hi,

How do we inject dependencies into privacy rules?  We want to call some external services ([casbin](https://github.com/casbin/casbin)) from the rule functions. How to do that? One approach we can find is putting them to the context object but that is a bit cumbersome process.

Thanks,
Dilip

[2021-03-04 13:56] rotemtam commented on #1306
Hey @dilipkk-foyernet,
Can you explain a bit more about what you're trying to do? It sounds like you could use closures ([example](https://gobyexample.com/closures)) to return a function that has access to `casbin`, but if you share a code example of where you're stuck it will be easier to assist.

[2021-03-04 14:07] dilipkk-foyernet commented on #1306
Thanks @rotemtam  for the quick response. Yes, I am aware of the closures but the problem here is ent is injecting privacy rules into ent/runtime/runtime.go while generating the code from schema so injecting static dependencies should be possible but my dependencies will be available when the app starts so I am too sure how to approach this.

[code]
This statically generates right? how can inject

[2021-03-04 21:41] a8m commented on #1306
Hey hey @dilipkk-foyernet. It's great to see you here again 😃

Like you mentioned above, you can pass these dependencies on the `context.Context`, or you can attach them to all generated builders using templates. I created an example commit to show how to do it (https://github.com/ent/ent/commit/a21d8fe3b60643bb1cbea5df23d49b7035c101a1) - I actually use it as well.

In short, the usage is as follo

[2021-03-05 03:49] dilipkk-foyernet commented on #1306
Thanks a lot @a8m, I am also delighted to explore more features of this awesome package. Thanks a lot for your efforts on this.

[2021-03-05 03:49] #1306 closed

[2021-03-05 04:12] dilipkk-foyernet commented on #1306
@a8m One small issue I am facing with this now, we are using github.com/casbin/casbin/v2 but in the generated file it is taking v1. Is there a workaround for it?

[2021-03-05 04:27] HarikiRito opened #1307 "Use hook and mixin together causing cycle import"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

Go complain about cycle import when I use mixin with hook

## Expected Behavior 🤔

Should be used normally. Working on `github.com/facebook/ent v0.5.3`

## Steps to Reproduce 🕹
[Example repo

[2021-03-05 07:50] a8m commented on #1306
You can tell ent (goimports) what packages to import using the same technique. I've updated the branch, see https://github.com/ent/ent/commit/626b577b9f7aaf6067b54810d3f2cfc8c2c370e1

We need to add this to our FAQ page with some example. Feel free to contribute this, or I'll add this later this week.

[2021-03-05 07:58] rotemtam commented on #1307
Hey @HarikiRito ,
Thanks for this detailed issue report. I've tried to run generate locally on your repo but I'm getting:
[code]
I'm assuming this is a private repo that I don't have access to. Can you modify the repo so it only has public dependencies?

In addition, can you please update your issue to include the error+stacktrace message you get when you hit this issue?

Thanks

[2021-03-05 08:09] HarikiRito commented on #1307
@rotemtam
I have updated the repo. Please check again.
Here is the stack trace I got
![abc](https://i.imgur.com/hpP1Ge3.png)

[2021-03-05 08:14] rotemtam commented on #1307
@HarikiRito , thanks for the quick response.
I'm able to reproduce it locally now, looking into it.

[2021-03-05 08:31] dilipkk-foyernet commented on #1306
Worked like charm, Thanks again. I will add this to FAQ soon.

[2021-03-05 08:55] rotemtam commented on #1307
@HarikiRito ,

I think you omitted the registration of the hook from the CommonMixin, If I add it:
[code]
and rerun `go generate ./...` , I see that some generated code changes significantly. I'm no expert on this, but I think the codegen deals with some runtime issues by using the list of registered hooks. This also changes `ent/test/test.go` to include this block:
[code]
As described in the docs

[2021-03-05 09:01] rotemtam commented on #1285
Hey @dara-na
This has been discussed before on #967. Speaking with @a8m , there are some plans to add something like this to ent (directly or through an auxiliary tool), but currently no established timeline for that.

[2021-03-05 09:33] HarikiRito commented on #1307
@rotemtam Follow your instruction it's working but I encounter another problem. Should I open a new issue or just update this?

[2021-03-05 09:49] HarikiRito commented on #1307
My environment:
| Tech        | Version |
| ----------- | ------- |
| Go          | 1.15.5  |
| Ent         | 0.6.0   |
| Database    |  Postgres (docker postgres:13.1)  |
| Driver      |  [https://entgo.io/docs/sql-integration/#use-pgx-with-postgresql](https://entgo.io/docs/sql-integration/#use-pgx-with-postgresql)   |

I have updated my code to perform a simple insert with Postgres and it's fail

[2021-03-05 10:31] a8m commented on #1285
Hey @dara-na and thanks @rotemtam for tagging me. I missed this issue.
I updated in our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) that a new [schema inspection](https://pkg.go.dev/entgo.io/ent@v0.6.0/dialect/sql/schema#Inspector) API was added to the framework, and the next step is to generate `ent.Schema` from it.

Closing this issue because this is a duplicate of #967,

[2021-03-05 10:31] #1285 closed

[2021-03-05 10:36] dara-na commented on #1285
I think this will help a lot for systems in production
Because this is really painful to migrate existing schemas manually to ent

[2021-03-05 10:37] a8m commented on #1307
Hey @HarikiRito, adding the following line to your imports (in `db/db.go`) should solve the problem:

[code]

Please see the docs for [hooks/privacy registration](https://entgo.io/docs/hooks/#hooks-registration), but I agree that the panic/error message can be friendlier.

[2021-03-05 10:38] a8m commented on #1303
Thanks @enjoylife for reporting this issue. I'll comment on #1304

[2021-03-05 10:51] a8m commented on #1285
Totally agree @dara-na. Please join our Slack channel and I'll ping you when I have some progress on it. It would be great to get feedback on early stage. Thanks

[2021-03-05 22:11] kayamax commented on #1283
implementation of interface hooks for pre and post crudl to add custom handling will be great.
fyi. https://github.com/infobloxopen/protoc-gen-gorm

[2021-03-05 23:13] tmc commented on #1283
I'd consider using the https://google.aip.dev/133 standards for method naming here.

[2021-03-06 07:47] rotemtam commented on #1283
Thanks @tmc and @kayamax . I will definitely look into this

[2021-03-06 10:53] dilipkk-foyernet commented on #1306
https://github.com/ent/ent/pull/1308

[2021-03-06 16:22] tmc commented on #1283
I'm interested in this sort of interoperability. There's been a bit of discussion on slack and I'd love to have more.

[2021-03-06 20:28] DanielTitkov commented on #1277
Also interested in this. It could help with bulk upsert.

[2021-03-06 20:28] DanielTitkov commented on #139
Also interested in bulk upsert. By now inserting or updating multiple objects can be done only one by one and that's very slow on large sets.

[2021-03-07 13:10] rotemtam opened #1310 "Catch FK constraint errors using ent.IsConstraintError"
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡
The error returned when trying to save an entity with an invalid FK isn't identified by `ent.IsConstraintError`.

## Motivation 🔦
When writing entities with edges to others, it is possible to reference those entities using an ID setter (i.e `SetAutho

[2021-03-07 14:13] rotemtam opened #1311 "Support dynamic file generation using an fs.FS like interface"
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

There are currently 3 ways to integrate programmatically with entc.Generate:
1. gen.Config.Templates - are invoked per ent.Schema, produce a go file per template file X schema
2. gen.Config.GraphTemplates - are invoked globally, produce a go file pe

[2021-03-08 02:20] HarikiRito commented on #1307
It's working. I'll test my current project to see if anything happens. Thanks for your support.

[2021-03-08 12:49] a8m commented on #869
Closing with #1213

See https://entgo.io/docs/schema-edges/#edge-field for full docs.

Thanks @errorhandler and @aight8 for pushing this.

[2021-03-08 12:49] #869 closed

[2021-03-08 12:54] a8m commented on #1143
Closed with #1213. Please see https://entgo.io/docs/schema-edges/#edge-field for full docs.

[2021-03-08 12:54] #1143 closed

[2021-03-08 14:07] #1302 closed

[2021-03-08 14:08] a8m commented on #1302
Fixed with #1315.

Thanks @masseelch for suggesting this change 🙏

[2021-03-08 14:09] a8m commented on #1307
Great.

Closing, but feel free to open if you need further help with it.

[2021-03-08 14:09] #1307 closed

[2021-03-08 14:10] masseelch commented on #1302
Ah nice! Thanks for the fast implementation!

No problem. I will continue to suggest things i find unclear or missleading :wink:

[2021-03-08 14:26] masseelch commented on #1302
I still have one suggestion though.

In my case i strip down the queried entities by some serilization groups. Meaning in my case the `EntityEdges`-field on a `Entity`-Schema can be a `zero-value` / `nil`. So i need the `json`-tag to be `json:"edges,omitempty"`.

Currently `ent` generates `json:"edges"` only. This is indeed more correct than `json:"edges,omitempty"`, since the `Edges` field cannot

[2021-03-08 16:42] a8m commented on #1302
I'm not sure I understand why, because the `omitempty` option will never omit the `Edges` field, since it will never have the zero value. Do I miss something?

BTW, if you want to drop this field in JSON marshalling, you can use `json:"-"` in the annotation.

[2021-03-08 19:29] a8m commented on #1294
Any update on this @imle? Can we close this issue?

[2021-03-09 07:12] maxiloEmmmm commented on #790
@a8m  hello
with v0.6.0
eager-loading empty values will miss

[code]

i see logic code
https://github.com/ent/ent/blob/c0fd7c1305f32af722041278277a85a4d4237304/entc/gen/type.go#L1487-L1491

how to generate code default without `omitempty`?
must i edit `StructTag(`json:"x"`)` on edges?

[2021-03-10 08:03] masseelch opened #1320 "Provide a method to retrieve a node by name on graph"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Hi again :smile:

I tend to have my `schema` folder out of the `ent` folder (where the generated code lands). This enabled me to remove the `ent` folder and regenerate the code (for example after removing an a schema).

Therefore I do a lot of my wo

[2021-03-10 11:09] rotemtam commented on #1320
This would be useful, I wrote a helper method inside `contrib/entproto` for this, and I guess it would be generally useful for any tooling that's doing intelligent code generation.

https://github.com/ent/contrib/blob/95e31056bf41adc8ac8e20cf6747bfc621fb3734/entproto/adapter.go#L539-L546

[2021-03-11 11:02] #1292 closed

[2021-03-11 12:35] masseelch commented on #1302
I want to conditionally marshal some of the edges of an entity. I walk down the tree and starting form the leafs remove everything not needed based on some condition. The result is a big anonnymous struct with its fields and `json`tags inherited by the orignal tree.

That struct is then marshalled.

Sometimes i end up with an Entity where there are no edges left to marshal I still end up with this

[2021-03-11 14:20] uta-mori opened #1322 "doc/website: add Crowdin support"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Set up ent document website built with docusaurus v1 so that it can be translated by **Crowdin**

## Motivation 🔦

Translation of documents is in demand.(#1264  have already added Chinese translations)
I would also like to help translate it into Jap

[2021-03-12 02:33] maxiloEmmmm opened #1323 "question: edger-loading json omitempty"
@a8m  hello
with v0.6.0
eager-loading empty values will miss

[code]

i see logic code
https://github.com/ent/ent/blob/c0fd7c1305f32af722041278277a85a4d4237304/entc/gen/type.go#L1487-L1491

how to generate code default without `omitempty`?
must i edit `StructTag(`json:"x"`)` on edges?

_Originally posted by @maxiloEmmmm in https://github.com/ent/ent/issues/790#issuecomment-793473761_

[2021-03-12 06:48] ivanvanderbyl commented on #139
@DanielTitkov I've been slowly chipping away at this. It's quite complex when introducing Bulk changes, but I'm pretty close to having a PoC with Postgres to shake out how the API feels.

[2021-03-12 13:47] a8m commented on #1288
Talked to @marwan-at-work and issue was resolved.

Closing. Thanks @marwan-at-work for reporting this issue and helping designing a clean solution for it.

[2021-03-12 13:47] #1288 closed

[2021-03-12 13:49] a8m commented on #1322
Thanks @uta-mori for opening this issue.

I plan to start pushing it next week. I'll update then.

[2021-03-12 14:41] a8m commented on #1320
Hey @masseelch,
There are 2 ways to implement this logic without adding it to the core library.

1\. Create a helper function like this and pass it to your template:

[code]
I added it to our examples. Please see https://github.com/ent/ent/pull/1326 and let me know if it helps or not.

2\. The second option is to write this logic on your template if it's a one-time case:

[code]

[2021-03-12 15:03] a8m commented on #1323
Hey @maxiloEmmmm,
If you eager-load the edges, their values won't be nil, even if no edges were found. For example:

[code]

However, according to the `encoding/json` GoDoc:

That means, if you want to change this behaviour, you'll need to define the `json` struct-tag to all edges. You can do it in the schema like your mentioned or use a [codegen-hook](https://entgo.io/docs/code-gen/#code-generati

[2021-03-12 15:35] jblevins1991 opened #1328 "Help with golang config."
Hey everyone! I am pretty new to Golang and probably have a messed up config somewhere, but have no clue where to start. When I ran `go generate ./schema`, it generated files with an import that is producing an error.

[code]

The first import is throwing errors like crazy. I am not sure which environment variable or config I need to change to fix this.

Here is my `go env`.

[code]

[2021-03-12 20:35] jblevins1991 commented on #1328
So I figured out what I partially did incorrectly. I didn't make the mod.go file in my project. I initialized it in the root of my project, but my imports are still resulting in errors.

[code]

[2021-03-13 02:16] maxiloEmmmm commented on #1323
@a8m hi
i want `array` for frontend on O2M and M2M instead of `undefined` by default
i find `codegen-hook` can satisfy me that's great, thanks, but i think `omitempty` on O2M and M2M is superfluous

[2021-03-13 02:20] giautm commented on #1328
`go.mod`, not `mod.go`. Please retry with following content:

[code]

[2021-03-13 03:59] jblevins1991 commented on #1328
Worked perfectly. I am still getting use to go. Thank you!

[2021-03-13 03:59] #1328 closed

[2021-03-13 05:30] #1320 closed

[2021-03-13 20:52] darestrepov7 opened #1329 "Sorting by nested edges with pagination involved"
Currently it is possible to order by a nested esdge like in the example above:

users, err := client.Pet.Query().
    Order(ent.Asc(pet.FieldName)).
    QueryOwner().
    All(ctx)

It is also possible to order by an edge when there is pagination involved. However, the functionality of sorting by a nested edge when there is pagination is not being covered.

For example, if I want to sort the users

[2021-03-14 07:08] rotemtam commented on #1329
@darestrepov7 i see a similar discussion was started on #1256 , is this the same question?

Also, can you give an example of what you're trying to do and the error message you are receiving?

Thanks 🙏

[2021-03-14 08:22] a8m opened #1330 "proposal: support group-by by edges"
Currently, the generated API supports grouping only by valid fields/columns and there's no way to group by edge/edge-fields in a type-safe way.

I'm thinking about adding a new API for both ordering/grouping that will accept a `<package>.By` argument (e.g. `pet.By`) to support this functionality.

Thoughts, suggestions or feedback are more than welcome 😃

[2021-03-14 13:08] darestrepov7 commented on #1329
@rotemtam @a8m Yes it is the same functionality. We are trying to implement a sort in the View of projects in Symphony, but not by a project attribute, but by a project property. The limitation is the structure of the Pagination on that view.

![image](https://user-images.githubusercontent.com/70981298/111069334-92f08b80-849a-11eb-9703-d02f5099c172.png)

We have identified in the model that the pr

[2021-03-15 07:41] godcong opened #1337 "missing package information for: ./ent/schema under go1.16"
I upgraded go to 1.16(1.16/1.16.2), and then such an error occurred when generating the schema
When I switched back to 1.15 everything was fine
I printed some logs and found in `entc/load/load.go#load()` the `pkgs` did not get any value
[code]

- [x ] The issue is present in the latest release.
- [x ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and belie

[2021-03-15 08:19] godcong commented on #1337
I switched to the next version back and forth, and he is better again
It may be that the system has locked the files needed by the package

[2021-03-15 08:19] #1337 closed

[2021-03-16 06:45] a8m commented on #1323
Thanks for the feedback 😃

[2021-03-16 06:45] #1323 closed

[2021-03-16 08:00] wenerme commented on #1168
Maybe this is about allowed the transfer form sql type to custom go type, like `sql.NullInt64` to `time.Duration`. Like `ValueScannerType` -> `GoType` mapping.

[2021-03-16 14:33] mgabeler-lee-6rs commented on #1168
Yes. The frustrating piece is that you _can't_ do `type SqlInterval time.Duration`, because `ent` codegen will try to write `foo = yourpackage.SqlInterval{}` which won't compile. You have to make it a struct, which means you need a bunch of boilerplate to wrap & unwrap that struct to get normal Duration values in and out.

[2021-03-16 14:37] a8m commented on #1168
This can be resolved with a little change in the codegen template. I'll try to give it a look later this week.

[2021-03-17 07:27] wenerme opened #1341 "One way edge to same type cause the field become unique"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

The generated migrate

[code]

## Expected Behavior 🤔

user `created_by_id` is not Unique

## Steps to Reproduce 🕹

https://github.com/wenerme/ent-bug

## Your Environment 🌎

| Tech

[2021-03-17 07:59] a8m commented on #1341
Hey @wenerme and thanks for raising up this issue.
What type of relationship are you trying to define? O2O, O2M?

[2021-03-17 08:01] wenerme commented on #1341
@a8m Every entity has a `createdBy` field, referenced to `User`, this is a one way relationship on mixin. Because the user side don't need to know this edge.

[2021-03-17 08:10] Naist4869 opened #1342 "It is up to the caller to determine the query field"
thanks a lot for your work.

I'm using GORM currently.When I try to implement the interface, I don't know how to keep the correct In this situation.

For gorm. It is up to the caller to determine the query field
![image](https://user-images.githubusercontent.com/37408934/111436587-1c26ed00-873d-11eb-8adf-d17c2c8eb42c.png)

For ent. I should find all the use cases that call this function
![image](h

[2021-03-17 08:16] a8m commented on #1341
When defining an edge (relationship) from a type to itself, there are 3 options:

1\. [O2O Bidi](https://entgo.io/docs/schema-edges/#o2o-bidirectional) - a bidirectional edge from a type to itself. For example, a user has a spouse, and this spouse has a user. This column must be unique because otherwise, it will violate the relationship constraint.
2\. [O2O Same Type](https://entgo.io/docs/schema-

[2021-03-17 08:30] a8m commented on #1342
Hey @Naist4869

I'm not sure I really understand your question. From looking at your code, it looks fine. Can you elaborate on what are you missing there, or what's not working for you?

In ent, you don't get a `ent.NotFoundError` error if no records were found, you just get an empty list. However, you get such an error if you use `Only/First`, but you can check it with the `ent.IsNotFound` helper

[2021-03-17 08:31] wenerme commented on #1341
@a8m I updated the repo add another entity, seems not works.

The edge

[code]
 generate error code

![image](https://user-images.githubusercontent.com/1777211/111437460-17166d80-873e-11eb-9987-f8c7fa2ed680.png)

The department failed to generated with

[code]

[2021-03-17 08:36] wenerme commented on #1341
Fixed the first problem, `edge.To("createdBy", User.Type).From("creator").Field("createdByID").Unique(),`

But does this mean this edge can not be defined on Mixin ?

[2021-03-17 08:37] a8m commented on #1341
Please use this configuation:

[code]

Or, in your case, this:

[code]

If it's hard to follow this way, you can break it to 2 different edges:
[code]

[2021-03-17 08:39] a8m commented on #1341
If it's defined in a Mixin, it means that it's an O2M edge for 2 different types.

[2021-03-17 08:43] a8m commented on #1341
OK, I get your problem - this mixed-edge works like an O2M edge when you embed it in different schemas, but when you embed it in the `User` schema, you get the O2O relationship - right? If that's the case, just don't use this Mixin in the `User` schema, and use it in all others.

[2021-03-17 08:44] wenerme commented on #1341
@a8m Yes, ok.

[2021-03-17 08:45] a8m commented on #1341
Cool. Closing this issue then, but please feel free to re-open it if you have troubles with it, or ping me on Slack 😃

Thanks!

[2021-03-17 08:45] #1341 closed

[2021-03-17 08:51] Naist4869 commented on #1342
Thanks @a8m
![image](https://user-images.githubusercontent.com/37408934/111439023-e3d4de00-873f-11eb-88fe-27dc9db12954.png)

For Gorm. It will automatically ignore zero-valued fields build WHERE.
For Ent. I can only use a different method to set fields build WHERE.

I want the query field defined by the user like graphql in ent

[2021-03-17 09:04] a8m commented on #1342
OK, I got it. There 2 options on how to do it, because you don't want always to ignore the zero values on predicate (0, false, etc). Maybe using a pointer it's preferred here.

The first option is to check it in your GraphQL resolvers and just do it by yourself:

[code]

The second option is to use [external-templates](https://entgo.io/docs/templates/) to generate an API for accepting nil/zero val

[2021-03-17 09:21] wenerme commented on #1341
@a8m By define the different edge on user using

[code]

will create a `created` field on user, I guess there is no way to avoid this before allowing `edge.From("creator", User.Type).Unique().Field("creator_id")` ?

[2021-03-17 09:22] Naist4869 commented on #1342
Yes, it seems that only the external-templates is what I want without reflection.
I'm English is not good. So I will try to solve it myself,And ask for help from the channel after failure.
Thank you very much.

[2021-03-17 09:22] #1342 closed

[2021-03-17 09:32] a8m commented on #1342
Please don't hesitate to ping me privately on Slack.

[2021-03-17 21:35] henrywoody opened #1344 "Migration DROP INDEX, CREATE INDEX cycle"
I've noticed with a (unique) index on multiple fields that the migration code generated by ent continually cycles between dropping the index and creating the index. After creating the table/index, the next migration includes a line to drop the index. After dropping the index, the next migration includes a line to create the index the same as before. And so on.

I've noticed that this only seems to

[2021-03-18 04:42] tomtwinkle opened #1347 "Feature request: Merge when multiple same predicates"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

If the same predicate is set multiple times in the same query, is there any plan to integrate the predicates?

[code]

[code]

[code]

Query I want to make.

[code]

But, query generated by ent.

[code]

## Motivation 🔦

I would like to change the p

[2021-03-18 05:41] excing opened #1348 "In postgresql, how to show the first N rows for each group?"
Like this:

[code]

Does Gin support such query, or custom implementations?

Looking forward to your reply

[2021-03-18 10:00] a8m commented on #1347
Hey @tomtwinkle and thanks for opening this issue.

Of course, one of the things on my roadmap is to add such optimizations to the SQL builders (especially for predicates).

But you can already fix this by building the query as follows:
[code]

[2021-03-18 10:21] rotemtam commented on #1348
Hi @excing,
Thanks for reaching out. Ent currently does not support window functions at the moment. We will be happy to receive suggestions for how you would expect such an implementation to look like. Feel free to start a new discussion on [our discussions page](https://github.com/ent/ent/discussions).

At the moment you can use a raw `database/sql` call for such custom queries.

[2021-03-18 20:29] #1344 closed

[2021-03-18 20:30] a8m commented on #1344
I checked it on your example repository btw and it was fixed.

Please let me know if you still have any issue with it.

[2021-03-18 21:33] henrywoody commented on #1344
@a8m just tested it out and yeah works fine now, thanks for the quick turnaround!

Also your note that the issue pattern is just when the type name and table name match (ignoring case) makes much more sense. Found that the same issue would happen even without a custom table name supplied if the plural and singular of the model name match (e.g. Sheep).

[2021-03-19 09:39] godcong opened #1354 "can ent close the global json struct tag omitempty?"
- [X] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

When I generate go code, the json tag will automatically bring `emitempty`
Unless I specify `StructTag`
[code]

[code]

## Motivation 🔦

When I send a string of JSON data to the web side, some may have no value, but the field must exist.
The `omitem

[2021-03-19 09:48] Naist4869 opened #1355 "Optional Scan Error"
[code]

![image](https://user-images.githubusercontent.com/37408934/111761140-845f0580-88da-11eb-8cdb-252595900680.png)
### When I set optional fields, an error occurs when I go to Select And Scan
1. fail: sql/scan: failed scanning rows: sql: Scan error on column index 3, name "fail_times": converting NULL to uint32 is unsupported details = []
2. fail: sql/scan: failed scanning rows: sql: Scan err

[2021-03-19 10:20] a8m commented on #1354
Hey @godcong! It's great to see you here again 😃

There's no option to remove the `omitempty` tag using configuration, but you can use [codegen hooks](https://entgo.io/docs/code-gen/#code-generation-hooks) to modify all fields globally as follows:

[code]

I added a working example to our repository https://github.com/ent/ent/pull/1356. Let me know if it does solve your problem.

[2021-03-19 10:37] a8m commented on #1355
Hey @Naist4869, you defined your fields twice:

1\.
[code]
2\.
[code]

Did you run the schema-migration after migrating from 1 to 2? BTW, can you please use latest master and report if you still get this:

[code]

[2021-03-19 11:20] Naist4869 commented on #1355
Version : ![image](https://user-images.githubusercontent.com/37408934/111771697-f76e7900-88e6-11eb-9e42-dbf538ac6152.png)

migrate: ![image](https://user-images.githubusercontent.com/37408934/111772036-5d5b0080-88e7-11eb-906b-d946139aea04.png)

![image](https://user-images.githubusercontent.com/37408934/111772666-14577c00-88e8-11eb-9463-363cb379a06e.png)

[2021-03-19 11:39] Naist4869 opened #1357 "SelectCarrier"
- [ ] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Motivation 💡
![image](https://user-images.githubusercontent.com/37408934/111774505-83ce6b00-88ea-11eb-89b6-45350649d354.png)

![image](https://user-images.githubusercontent.com/37408934/111774540-90eb5a00-88ea-11eb-8cbe-a5621adc5186.png)

## Expect🔦

![image](

[2021-03-20 13:39] wenerme opened #1359 "entgql order by ID"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

[code]

## Expected Behavior 🤔

Generate order by Id, but no

![image](https://user-images.githubusercontent.com/1777211/111871377-9cab4f00-89c4-11eb-94c6-6e6d6797b821.png)

## Steps to Repr

[2021-03-20 15:38] wenerme opened #1360 "Allowed extend global template and turn off auto gen file base on template name"
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Summary 💡

Want to generate some input types like

[code]

But ent till try to generate `internal/input/type.go` use template `internal/input/type`, by disable auto detect and extend global templates can not only allowed custom template snippets, but also allo

[2021-03-20 15:49] TomOperator opened #1361 "Bug: uuid.New as Default causing schema creation to fail"
- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

We use UUIDs as PKs within our schema like so:
[code]

We then attempt to output the SQL for the above like so:
[code]

Which ends up with the following error in our logs:
[code]

It seems l

[2021-03-20 15:49] TomOperator commented on #1361
Minor note that everything else works with the above, and we're extremely grateful to @a8m for this package.

[2021-03-20 16:13] a8m commented on #1355
Can you please provide a test repository to check this? Optional fields are working without any issues for me on the latest version.

[2021-03-20 16:27] a8m commented on #1361
Hey @TomOperator and thanks for reporting this issue.
I created an example in integration-tests that works with UUID fields as unique identifiers without any issues. See https://github.com/ent/ent/pull/1362

However, note that [migrate.WithGlobalUniqueID(true)](https://entgo.io/docs/migrate/#universal-ids) was created for numeric-type identifiers and shouldn't be used in this example.

If this sti

[2021-03-21 06:48] wroge commented on #1273
Sooo... I think it doesn't work with ent because you can't pass arguments to order..!?
[code]

[2021-03-21 07:24] a8m opened #1365 "proposal: allow passing arbitrary strings to select, order-by, group-by"
Currently, ent allows passing only schema fields (defined in the generated package) to `Select`, `Order`, and `GroupBy`. The reason for this is because these values can't be parametrized in the SQL queries (see context about it in https://github.com/ent/ent/issues/708#issuecomment-689360199).

My suggestion is to allow this capability because it's limiting many functionalities, and in fact (AFAIK)

[2021-03-21 07:25] a8m commented on #1273
Hey @wroge, and thanks for reporting this issue.

I'll give it a look.

BTW, this related to https://github.com/ent/ent/issues/1365

[2021-03-21 08:32] a8m commented on #1273
What database are you using? I'm not sure parameterized values are allowed for JSON path expressions in ORDER BY.
Can you provide a raw SQL query (with `sql.DB`) that works for you?

[2021-03-21 12:39] a8m commented on #1360
Hey @wenerme, and thanks for the proposal.

I agree with this proposal and we'll be happy to get suggestions for such API. My first thoughts are to just add more options/fields to the [gen.Template](https://pkg.go.dev/entgo.io/ent@v0.7.0/entc/gen#Template).

[2021-03-21 12:44] #1303 closed

[2021-03-21 13:34] a8m commented on #1359
Thanks for reporting this @wenerme.

I'll check this.

[2021-03-22 02:46] godcong commented on #1354
Thank you, I have mastered a new piece of knowledge.
:)

[2021-03-22 02:46] #1354 closed

[2021-03-22 02:57] Naist4869 commented on #1355
How was your vacation? @a8m
Here is a warehouse that reproduces the problem I encountered
[issue1355](https://github.com/Naist4869/awesomeProject1)
And a cute bug. lol
![image](https://user-images.githubusercontent.com/37408934/111934945-67eee300-8afd-11eb-8714-eed1989dfcc1.png)

[2021-03-22 07:41] wenerme commented on #1360
@a8m This is mine Generator use for go and graphql based on ent's

[code]

Used like

[code]

[2021-03-22 07:45] wenerme commented on #1360
Also, the built in func should alter to accept the template in Generator, otherwise, the matchTemplate will fail.

[2021-03-22 07:53] AlexanderMatveev commented on #765
I would like to add an idea: just generate some markdown acceptable by libraries like [mermaid](https://mermaid-js.github.io/mermaid/#/). I widely used mermaid in other orms and programming languages, so find it very useful.

[2021-03-22 08:09] a8m commented on #765
That's nice! Never heard about mermaid, but it looks like a simple solution to generate such diagrams.

[2021-03-22 08:19] rotemtam commented on #765
@AlexanderMatveev , that's really cool!

[2021-03-22 08:27] a8m commented on #1354
😃

Would you mind adding this question to our [FAQ page](https://entgo.io/docs/faq/)? Code is [here](https://github.com/ent/ent/blob/master/doc/md/faq.md). Thanks 🙏

[2021-03-22 09:00] wroge commented on #1273
I mostly use Postgres with pgx. I hope this example works for you.

[code]

[2021-03-22 09:52] wroge commented on #1365
I would prefer to use an interface like this for Select, Order and GroupBy:
[code]
So it is possible to do something like this (select and order by a dynamic key from an json field):
[code]
..in fact, this is the only missing functionality that keeps me from using ent.
..and I think unsafe strings are not the answer.

[2021-03-22 10:00] TomOperator commented on #1361
Thanks @a8m - we removed the default, and for some reason still getting the same error. We'll investigate it further; closing this ticket.

[2021-03-22 10:00] #1361 closed

[2021-03-22 10:08] a8m commented on #1361
Thanks for the update @TomOperator.
Please join our [Slack channel](https://app.slack.com/client/T029RQSE6/C01FMSQDT53) and feel free to ping me there privately if you have any troubles with it.

[2021-03-22 14:35] a8m commented on #999
Hey guys and thanks a lot for the feedback here.

@shuogawa, I just added the option in https://github.com/ent/ent/pull/1371 to disable the `DISTINCT` option using a flag. Briefly, as before, `DISTINCT` is enabled by default, and you can disable it using the `Unique` option on the query-builder.

[code]

We didn't change the default behavior because it's a breaking change, and in my opinion it's p

[2021-03-22 16:06] AlexanderMatveev opened #1374 "Why adding "ON DELETE SET NULL" on foreign keys?"

[2021-03-22 16:11] AlexanderMatveev commented on #1374
Accidentally posted without description.
Here are my models:

[code]

Migrations provided:
[code]

Why `ON DELETE SET NULL` is added `Required()` in edge?

[2021-03-22 16:38] a8m commented on #1374
Hello @AlexanderMatveev and thanks for opening this issue.

The `ON DELETE SET NULL` clause is added by default to all non-M2M relations because their columns are not configured as `NOT NULL` columns in the database (edge checks happen only on the application level). However, you can configure the foreign-key reference action differently to one of [these actions](https://github.com/ent/ent/blob/ma

[2021-03-22 17:24] egorsmkv opened #1375 "entproto: wrong codegen"
entproto generates an incorrect field names for `user_id` field defined in `Fields()` function:

[code]

- [x] The issue is present in the latest release.
- [x] I have searched the [issues](https://github.com/facebook/ent/issues) of this repository and believe that this is not a duplicate.

## Current Behavior 😯

entproto makes `UserId` field name in type definition but in functions it is `UserID`