[2020-06-17 15:17] #555 closed

[2020-06-17 15:28] a8m commented on #555
Thanks for reporting this @sj8m.
Please let me know if you still have troubles with this.

[2020-06-17 16:56] sj8m commented on #555
First of all thanks for the fast support :) Can I just use the fix now or do you need to release it first?

[2020-06-17 17:09] a8m commented on #555
`go get -u github.com/facebookincubator/ent` should solve the problem.

[2020-06-17 18:25] sj8m commented on #555
@a8m any tips because my pc is still downloading the old 0.24 without the fix that you made? Or is it possible to release this as a new version?

[2020-06-17 19:14] a8m commented on #555
I forgot to add the `@master` to the package path. But I released a new version now (v0.2.5).

[2020-06-17 19:18] sj8m commented on #555
Thanks for all the help, had an amazing experience so far with both the package and the support of the maintainers :)

[2020-06-18 13:42] sj8m opened #558 "Field type timestamp mysql default value"
Is it possible to add default current timestamp and on update current timestamp to the mysql migrate schema? I tried using it like below but it throws an error. This is the error when migrating:
[code]
![Screenshot 2020-06-18 at 15 40 43](https://user-images.githubusercontent.com/53516395/85027334-17b3b080-b17a-11ea-9ab1-4042d470403b.png)

[2020-06-18 14:09] a8m commented on #558
For time fields, ent doesn't set the default value on the database. However, in cases like this, we can just ignore it. Please paste here your schema and I'll send a patch for this.

[2020-06-18 18:43] sj8m commented on #558
Yeah the schema's of this project are private 😅 So I can't send the schema. Is it possible to fix this in a future version? The code above is a mixin for the create_time and update_time. I need the default and on update for a client who wants to insert records from Microsoft access and want to have create_time and update_time to be set by default :)

[2020-06-18 21:30] a8m commented on #558
I didn't mind the whole schema, just these 2 fields in the screenshot 😄 .

[2020-06-18 21:31] a8m commented on #558
I didn't mean the whole schema, just these 2 fields in the screenshot 😄.

[2020-06-19 07:44] sj8m commented on #558
The screenshot from above is enough?

[2020-06-19 10:26] TargetLiu opened #559 "can not define ID as uint64"
https://github.com/facebookincubator/ent/blob/93c78aeda6e736b08da5a00a3ee8167854540af7/entc/gen/type.go#L768-L775

I want to define ID as uint64 without auto increment in order to use distributed id generation such as snowflake etc.

But according to the above code I cannot do this.

What is the reason why the type cannot be changed？

[2020-06-20 17:04] 404cn opened #560 "How to handle nested structures in ent?"
For example, I got an json from front-end like this:

[code]

I use ent to init an account with

[code]

And I want to decode this json to ent.Account, but how to write code about **keys** in Account's Fields function?

[code]

[2020-06-20 17:53] a8m commented on #559
Hey @TargetLiu,
There's no real reason, I was created this way because we needed to support string/UUID IDs.
If we change it, we need to make sure we provide users an API to set the ID field to be incremented.

[2020-06-20 17:55] a8m commented on #560
Hey @404cn,
For cases like this, I would use a JSON type. See [docs ](https://entgo.io/docs/schema-fields/#types).

[2020-06-20 17:55] #560 closed

[2020-06-21 02:34] 404cn commented on #560
Hey @a8m , thanks for you answer.

I try to write it like this:

[code]

But in generated code the ```Keys``` type is ```*schema.Keys``` and an error here because the generated code didn't import package ```scheme```

[2020-06-21 04:15] TargetLiu commented on #559
@a8m So do you have plans to do this?

[2020-06-21 09:16] a8m commented on #560
What version of ent do you use?
Can you try to move the `Keys` object and re-run the codegen? Does it work in this case?

Thanks

[2020-06-21 09:34] 404cn commented on #560
version 0.2.5

Yes, if I remove the ```Keys``` object it will work.

But this json is defined in the front-end, I cant't change it .

What I want to do is only use ```ent.Account``` one struct, decode ```request.Body``` into it, and use it to save data to database.

And now the ```Keys``` object is a nested struct in struct ```Account```, I had a look at doc but still don't know how to make it wor

[2020-06-21 09:44] a8m commented on #560
Can you create a small schema to reproduce this (or in a temporary repo)?

You can decode the request body to this struct, but in order to create it or update an existing one, you must use the relevant builder explicitly as follows:

[code]

If you want to do it with "one command" (like `ScanAndSave(req.Body, ctx)`), you can generate a custom function for you using [external templates](https://ent

[2020-06-21 10:42] 404cn commented on #560
Here it is.
I got this json from front-end:
[code]
I can write a struct
[code]

And decode json into ```Account```
[code]
Then use sql statement like```insert into account ...``` to insert account info to database.

----

Now I use ```ent``` and want write code like this:
Scheme:
[code]
And the decode part like this, use ```ent.Account```:
[code]
If I remove the ```Keys``` object from scheme, it w

[2020-06-21 14:47] sj8m commented on #558
Do you need something else from me?

[2020-06-21 20:15] a8m commented on #560
Hey @404cn and sorry for the delay.
Let's make it simpler - can you please create a temporary repository for this schema and the stuff that are not working for you and I'll give it a look? You can make it private and send me an invitation.

Thanks

[2020-06-21 20:41] a8m commented on #558
Hey @sj8m and sorry for the delay.
I've landed 3e7481c3a015400fd5f407aba1c57f35731601dc that ignores the MySQL default values for time fields, and it should not apply any changes for the second time the migration runs.

However, it won't work with the current way you declare the schema, because you add additional parameters to the schema datatype (the create/update default values).

I suggest to c

[2020-06-21 20:48] #558 closed

[2020-06-21 20:49] nilpntr opened #562 "Adding support for fields/edges dialect-specific DDLs"
Would you like to add support for ddl's to add default values for the time fields?

[2020-06-22 06:59] roger2hk opened #563 "Question: How to use pgx instead of pg through the standard Go database/sql interface?"
The error message is shown as follows when `_ "github.com/jackc/pgx/v4/stdlib"` is added in the `import`. Is `pgx` supported? Did I miss anything?

[code]

https://github.com/jackc/pgx/wiki/Getting-started-with-pgx-through-database-sql

The error comes from `database/sql/sql.go` if I use `postgres` as the driver name. If I use `pgx` as the driver name, it is not in the ent's supported driver list.

[2020-06-22 08:23] a8m commented on #562
Pasting here my comment from #558:

Feedback or thoughts are welcome.

[2020-06-22 08:32] sj8m commented on #562
That syntax would be nice :)

[2020-06-22 08:43] a8m commented on #563
Hey @roger2hk,
You can wrap an existing `sql.DB` with `ent.Driver` as follows:

[code]

[2020-06-22 08:43] #563 closed

[2020-06-22 09:04] roger2hk commented on #563
Thanks. It works like a charm. The `.DB()` is missing for converting from `*Driver` to `*sql.DB`.
[code]

[2020-06-23 04:57] jufemaiz commented on #357
QQ on this – is the proposal to adopt Relay node/connection approach?

[2020-06-23 17:32] a8m commented on #236
Hey, a few months passed and we got to it. This is something I posted internally and I'd like users in the OSS will give their feedback, share thoughts or suggestions for the next API (the generic one).

----

I want to introduce an API for applying updates (change-sets) in batches. The main reason for it, is performance improvement.
In many cases, the number of round-trips to the database can be

[2020-06-24 07:31] roger2hk opened #566 "Missing generate.go when --target is used in entc command"
**Expected Behavior**
`generate.go` is created in the `./ent` or --target path.

**Actual Behavior**
`generate.go` is not created.

https://github.com/facebookincubator/ent/blob/e1c8ec1dce7152123bf8e4fe726f9de5fea3ffeb/cmd/entc/entc.go#L228-L233

https://github.com/facebookincubator/ent/blob/e1c8ec1dce7152123bf8e4fe726f9de5fea3ffeb/cmd/entc/entc.go#L189-L204

[2020-06-24 10:52] a8m commented on #566
Hey @roger2hk,
It was intentionally created that way. If users want to custom their code-generation, they can always create their own `generate.go` file.

However, we're open for improvements. If you want to add support for this, you're welcome to create a PR.

[2020-06-24 11:03] roger2hk commented on #458
Hey @a8m. Is there any external template sample for adding a function in the generated model entity?

[2020-06-24 11:09] a8m commented on #458
The templates docs - https://entgo.io/docs/templates

[2020-06-24 11:23] roger2hk commented on #458
Thanks. I've read the docs but it doesn't mention how to add a function in an existing generated model entity. I have no clue after drilling down into the following gen template. I wonder if it is possible to do that without creating a new file.

https://github.com/facebookincubator/ent/blob/master/entc/gen/template/ent.tmpl

[2020-06-24 11:41] a8m commented on #458
Here's an example from the docs that adds the `GoString` method for all generated entities.
[code]

It's not possible. The new file name is derived from the template name.
For example, the template `{{ define "stringer" }} ... {{ end }}` will be generated to file named `stringer.go`.

[2020-06-24 19:45] DeedleFake opened #567 "Some stringBuilder methods add validators that doesn't work with custom types"
Several of the `field.stringBuilder` add custom validators of the type `func(string) error`. If the user has also called `GoType()`, this will cause a panic in `ent/runtime.go` when it tries to load them because of a failed type assertion.

For example, given the following schema:

[code]

Generation works fine for this, but trying to actually import it yields

[code]

Disclaimer: The given line n

[2020-06-24 20:02] a8m commented on #567
Thanks for reporting this issue @DeedleFake.
Yes, we should fix this.

[2020-06-25 09:59] 404cn commented on #560
Done

[code]

[2020-06-25 12:08] #567 closed

[2020-06-25 12:10] a8m commented on #567
Fixed.

Note that your custom GoType should be converted to the validator basic Go type.
In this case, you need to implement the `fmt.Stringer` interface for `Base64String`.

Thanks again for reporting this issue.

[2020-06-25 12:21] fwielstra opened #569 "Question: Exclude fields in queries & eager loaded edges"
I have a model that, simplified, has a M2O relationship between a `Post` and a `User` (that is, a `Post` is written by a `User`).

I fetch a `Post` and include the `User` so that in the front-end I can show the user's name right away, using the `.With()` function:

`post, err := cllient.Post.Query().Where(flow.ID(id)).WithCreatedBy().Only(ctx)`

Now my `User` model also has a field `Password`, whi

[2020-06-25 12:28] a8m commented on #569
The [.Sensitive()](https://entgo.io/docs/schema-fields/#sensitive-fields) can help you here (I hope it's enough for your case). However, more options like selecting specific fields and control their privacy will be added in the future.

[2020-06-25 12:42] a8m commented on #569
@fwielstra - please let me know if the `.Sensitive()` option solved your problem at the moment. If so, let's close this issue, since it's part of our V1 roadmap.

Thanks!

[2020-06-25 12:45] fwielstra commented on #569
Sorry, I was testing it out after adding the reaction.

Hmm, it's still output when I e.g. put the user in a `fmt.Printf()` (but I only use that for debugging anyway; should be careful with logging).

I think for now (given that my application isn't too complex yet) I'll stick to trusting my separation of layers; my HTTP layer doesn't simply output the user object (there's a conversion involved),

[2020-06-25 12:45] #569 closed

[2020-06-25 12:51] a8m commented on #569
The `fmt` functions, check if the struct implements the `fmt.Stringer` interface before they scan and print the struct, and sensitive fields are omitted in this case (e.g. you'll see `password=<sensitive>` in your logs. See an [example](https://github.com/facebookincubator/ent/blob/052ba492940337d5d0895ca30af183b0e72f076a/entc/integration/ent/user.go#L394).

[2020-06-26 04:01] DeedleFake opened #571 "schema creation fails on existing columns with custom schema types"
Given a schema like the one below and a database that has had `CREATE EXTENSION postgis` run on it, the auto-migration works perfectly fine. The first time. Running it again on the same database with no changes to the schema results in `sql/schema: invalid type "USER-DEFINED" for column "geo"`.

[code]

[2020-06-26 17:31] NickDubelman opened #572 "Required Edge created as nullable FK?"
@a8m In the last comment of [this issue](https://github.com/facebookincubator/ent/issues/167) you say that a Unique edge is still allowed to be nullable. But what about a Required edge?

I have a simple Todo list and my Todo requires an Author:
[code]

but the generated SQL table allows the `todo_author` column to be null. Is there a reason for this?

[code]

[code]

It's not a big deal because I'

[2020-06-26 18:06] DeedleFake commented on #277
Would this be able to handle a situation like what I'm dealing with right now? I've been attempting to use ent for PostGIS queries. It partially works, but the problem that I've run into is that even if I use a custom predicate in a `Where()`, I haven't been able to figure out a way to call PostGIS's custom WHERE functions. For example, let's I've got two tables, `locations (id bigint, location ge

[2020-06-26 18:35] a8m commented on #572
Hey @NickDubelman and thanks for raising up this issue.
Required edges are mandatory on the entity creation (let's say, a pet must be created with an associated owner), but like you mentioned above they are not forced by the database (using the `NOT NULL` clause).
Also note, that for FK columns that are part of entity-tables  (not join tables), we add the `ON DELETE SET NULL` action on the FK crea

[2020-06-26 18:38] NickDubelman commented on #572
Thanks a lot, that was exactly the kind of explanation I was hoping for.

[2020-06-26 18:42] a8m commented on #572
Great, feel free to post here whenever you have question.

[2020-06-26 18:51] NickDubelman commented on #572
Sorry, just want to reopen to ask if the control over schema creation process you are referencing-- will that also allow users to specify cascading deletes?

Wouldn't cascading deletes take care of the issue you brought up regarding constraint-loops?

[2020-06-26 19:00] a8m commented on #572
Yes, users will be able to add the `CASCADE DELETE` action to their FKs. However, the cascading deletion we propose in https://github.com/facebookincubator/ent/issues/407 is also not configured on the databases and you can read more about it there.

[2020-06-26 19:02] #572 closed

[2020-06-26 19:03] a8m commented on #572
Yes, users will be able to add the `CASCADE DELETE` action to their FKs. However, the cascading deletion we propose in https://github.com/facebookincubator/ent/issues/407 is also not configured on the database and you can read more about it there.

I don't have an accurate answer for this (there are multiple dialects). If a user decides to use `CASCADE DELETE` option on the FKs creation, their nee

[2020-06-26 19:06] NickDubelman commented on #572
Yeah, and like you say in the linked issue: if you choose to use cascading delete at DB level, you wouldnt be able to leverage future features like logging all deletes or setting permissions for who can delete certain entities.

[2020-06-28 07:22] a8m commented on #277
Hey @DeedleFake,

You can use the [template option](https://entgo.io/docs/templates/) for this case. It's also mentioned in https://github.com/facebookincubator/ent/issues/85.

I'll give it a look later today and I'll try to find a nicer solution  for it.

[2020-06-29 18:38] DeedleFake commented on #277
I think that this could be solved quite a bit simpler if two things were changed:

* Add a way to construct custom predicates more reliably. Using the underlying `Builder`'s `Join()` method with `sql.Raw()` doesn't actually properly update the state of the predicate, which causes some bizarre behavior. If I could do something like `sql.P().Custom(sql.Raw(fmt.Sprintf("ST_Contains(geometry(%v), geom

[2020-07-02 20:54] moh-abk opened #578 "schema/field: add the Unique option to the UUID field builder"
Just noticed it's not possible to make a UUID field unique. UUID on it's own is unique but its common to have a table where UUID is used in a column other that `id` that relates to another table and you want to ensure its unique.

[2020-07-02 21:02] a8m commented on #578
Hey @moh-abk and thanks for reporting this issue.
Yes, we should add the `Unique` option to the `UUID` builder.

You're welcome to send a patch and I'll review it tomorrow, or we'll add this in the upcoming days.

[2020-07-03 13:31] #578 closed

[2020-07-03 16:21] ernado commented on #456
What about fully in-memory generated storage driver for ent?

[2020-07-05 16:42] hongjic opened #586 "question: properties on edge?"
I'm using entgo in my new personal project and I really enjoy it so far.
One pain point I found during development is that there seems no way to define properties on edge.
Do we have plan to support it?

[2020-07-05 18:03] a8m commented on #586
Hey @hongjic,

Yes. It's part of our [roadmap task](#46) and I'll open an issue with a proper design proposal before we'll start to work on it.

Thanks. Closing

[2020-07-05 18:03] #586 closed

[2020-07-06 19:48] paulvollmer opened #591 "ci: using goreleaser github-actions to add binaries to a tag/release"
the goreleaser github-action is great to automate the build and upload of build artifacts if a new git tag was created.

at the moment no binaries are available at the release pages and by adding a `.goreleaser` config and a github-actions workflow this can be automated.

Let me know if you like the idea and i can send a PR for that.

[2020-07-07 08:28] a8m commented on #591
Hey @paulvollmer and thanks for proposing this.

I'm not sure if we want/need this for 2 reasons:
1. entc is not a standalone binary and requires Go and ent (as a dependency).
2. entc is optional in the first installation (e.g. `entc init`), and we ask users to use `go generate` (and not entc directly) in order to keep version compatibility between ent and entc using Go modules (see [docs](https:/

[2020-07-07 11:36] paulvollmer commented on #591
okay, i missed the docs page you mentioned. i had in mind that it is good to have the possibility to download an earlier version of entc without checking out a specific git tag. i'll close the issue now.

[2020-07-07 11:36] #591 closed

[2020-07-09 08:07] moh-abk opened #595 "Decrement int column"
is there currently a way to decrement an `int` column? - this is useful for doing reverts.

[2020-07-09 08:22] a8m commented on #595
Hey @moh-abk,
Yes, use `.Add<Field>(-value)` for this.

[2020-07-09 08:25] moh-abk commented on #595
ah cool - I've always used `.Add<Field>(value)` - didn't know it can take negative. Thanks!

[2020-07-09 08:25] #595 closed

[2020-07-09 10:54] sljeff commented on #236
When we use `BulkCreate`, we usually need `OnConflict` feature.

[2020-07-09 14:09] moh-abk opened #596 "schema/field: int field NonNegative not respected by AddField(-1)"
defining;

[code]

and then repeatedly doing;

[code]

is completing and pushing field to `negative` instead of returning an error

[2020-07-09 15:31] noilpa opened #597 "couldn't add edge to index"
Hi, im trying to create two tables with O2M relation. By default edges creates new fields in table, but i want to create composite index from edge and existing field and i'm fail.

`entc/gen: invalid index for schema "Pet": unknown index field "owner_b"`

Schema to reproduce
[code]

[2020-07-09 15:54] a8m commented on #596
Hey @moh-abk,
The `NonNegative` is just a syntactic sugar API for defining validators - and validators are executed on values provided in `Set<F>` for create/update. They don't control (or validate) the operations you run on the database.

If you need something like this, you can use [hooks](https://entgo.io/docs/hooks/) or define your field to be `uint`.

[2020-07-09 15:54] #596 closed

[2020-07-09 15:58] a8m commented on #597
Hey @noilpa,
Use the `.Edges()` method to define index on edges (it can be combined with `Fields()`). See [example](https://entgo.io/docs/schema-indexes/#index-on-edges) in the docs.

[2020-07-09 15:58] #597 closed

[2020-07-09 17:32] zeurd opened #598 "wrong generated tag for the field config"
Hi,
I defined a schema with specified jsonapi tags for each field using the StructTag().
eg. I use the tag `jsonapi:"primary,partners"` for the id field.
In the generated code, one extra field is added: config.
This added field has a tag `jsonapi:"-"`
This tag causes the application to fail with error "bad jsonapi tag"
If I remove the jsonapi tag from (and leave the config field) from the generate

[2020-07-09 17:54] a8m commented on #598
Hey @zeurd and thanks for reporting this issue.

Yes, because `config` is a private field of the generated struct, but we definitely need to fix this.
Can you please paste here the field definition?

[2020-07-09 18:13] zeurd commented on #598
sure:
[code]

[2020-07-09 19:02] a8m commented on #598
Found the issue - https://github.com/google/jsonapi/issues/33. It happens regardless to your schema.

I'm not sure what jsonapi doesn't support the "-" tag, which is pretty common in Go for ignoring specific fields.
Anyway, it's not an issue in ent. I'll suggest you to either open jsonapi an issue, or just use [custom template](https://entgo.io/docs/templates/) to override the [struct tagging temp

[2020-07-09 19:02] #598 closed

[2020-07-10 07:21] noilpa commented on #597
@a8m thank you

[2020-07-10 23:25] javib51 opened #599 "Create common functions for multiple projects"
Hey there!
First at all, thanks for this amazing project! Something that go was really missing.

I have been recently working in multiple projects in parallel that use ent. As a result, I found myself repeating some pieces of code in all of them.

I would love to create common functions, for example when opening a database connection. This would be a code sample:
[code]

I thought that a solution

[2020-07-12 01:55] xserve98 commented on #599
I'll recommend you to use [templates](https://entgo.io/docs/code-gen/#external-templates). For example:

{{ define "external" }}
package ent

func initDatabase(<your args>) *Client {
	....
}
{{ end }}

[2020-07-12 08:15] a8m commented on #599
Hey @javib51 and thanks for opening this issue.

`ent.Open` is a package function and there's no way to use an interface here. However, like @xserve98 suggested, using [templates](https://entgo.io/docs/templates/) is the right approach here. Please let me know if you need further help with this.

Thanks @xserve98 for your engagement - it's appreciated!

[2020-07-12 08:15] #599 closed

[2020-07-13 00:30] aakhan1 opened #603 "Different name for ID field in struct"
Is it possible to define a different name for the ID field in the entity struct.   I'd like to match this up with my proto definition somewhat.

[2020-07-13 06:58] a8m commented on #603
Hey @aakhan1,
We don't support this. However, the [struct-tags](https://entgo.io/docs/schema-fields/#struct-tags) option is used to add meta data for other third-party tools/libraries integration - you should check if the package you use supports this.

Closing as we don't have plan to add this functionality.

[2020-07-13 06:58] #603 closed

[2020-07-15 15:11] ernado opened #605 "Proposal: use pgx as PostgreSQL driver"
What about using https://github.com/jackc/pgx instead of https://github.com/lib/pq?

From pg README:

[2020-07-15 15:34] a8m commented on #605
Hey @ernado, thanks for opening this issue - I didn't know the project status was updated :neutral_face:.
What do you mean by "using pgx"? ent uses pg only for testing purposes.

If you want to use pgx, there's an example how to use it in the docs: https://entgo.io/docs/sql-integration/#use-pgx-with-postgresql

[2020-07-15 16:15] ernado commented on #605
Oh, I missed that part, sorry :(
Thank you!

Probably we can use `pgx` directly for speed or postgresql-specific features, closing this for now.

[2020-07-15 16:15] #605 closed

[2020-07-16 15:17] ernado opened #609 "Adding new unique UUID with default"
I'm trying to add unique UUID field to my schema as follows:
[code]

First, I've tried to do it via `Indexes()`
[code]

But seems like it is not supported for single field :(
Ent is starting to generate migrations like these:
[code]
And then after applying `CREATE`:
[code]
And again, and again.

When trying to achieve it via unqie field I'm getting `entc/gen: create type Video: unique field "uuid"

[2020-07-16 15:53] a8m commented on #609
Hey @ernado and thanks for reporting this issue.

#610 should fix this :)

[2020-07-16 15:57] #609 closed

[2020-07-16 15:58] ernado commented on #609
Thank you!

Probably we should also forbid creating unique indexes on single column. Seems like database introspection reports such columns as non-unique, but in target schema they are unique, so ent tries to migrate and ends up in failed state with eternal migrations.

[2020-07-16 16:21] a8m commented on #609
Agree. Also, unique columns are already indexed.

[2020-07-18 12:18] xspacer opened #621 "Storagekey on primary key"
I tried using the StorageKey method on primary key as follows

[code]

when I tried to query the pet's owner as follows

[code]
I got an error

[code]

[2020-07-19 16:09] a8m commented on #621
Thanks for reporting this issue @xspacer. I'll give it a look.

[2020-07-20 00:15] jvitoroc commented on #92
Any updates?

[2020-07-21 03:04] haoxf opened #626 "Provide a unified interface for `create` and `update`"
When `create` and `update` a entity, currently we should write the same code twice.

Desired result:

var u UserUpdate
if update {
  u = client.User.UpdateOne(...)
} else {
  u = client.User.Create()
}
u.SetName(...)
u.SetAge(...)
...

[2020-07-21 04:40] a8m commented on #626
Hey @haoxf,
Please use mutations - https://entgo.io/docs/crud/#mutation

[2020-07-21 04:40] #626 closed

[2020-07-21 09:18] flamedmg opened #630 "How to get edge id without actual db query"
Let's consider your belover PET - > User example.  Let's say i have Pet object and would like to know it's user id for other needs. How do i do that without querying user?

[2020-07-21 09:43] a8m commented on #630
Hey @flamedmg, the generated API doesn't expose this option, but you can add it to your code using custom templates.

The other alternatives are - query only the id field as follows:
[code]

or, use eager-loading and the owner relationship will be populated to the `Pet.Edges` object.

[2020-07-21 09:43] #630 closed

[2020-07-22 12:12] xspacer commented on #621
Thanks for the commit. The issue has been resolved.
But I got another error while querying the pet as follows

[code]

[code]

[2020-07-22 13:56] a8m commented on #621
Thanks @xspacer. On it.

[2020-07-24 17:01] a8m commented on #236
Thanks for the feedback @sljeff. This will be addressed with #139.

[2020-07-27 17:03] deyforyou opened #641 "How to generate a template for each Nodes"
hi everyone,
I want to generate a template for each Nodes like my %s_service.tmpl for User Group Category and now I get:
user_service.go, group_service.go and category_service.go

I see each template has like value *gen.Graph. Help me please

thank you

[2020-07-27 17:34] a8m commented on #641
Hey @deyforyou,
There's no option to generate a separate file for each node-type in the `ent` directory. Instead, you use one template for generating one file for all different types (Usually, you create a template file per logic/API).  For example, see the [`node.tmpl`](https://github.com/facebookincubator/ent/blob/875e6e5/entc/integration/template/ent/template/node.tmpl) and its [`output (node.g

[2020-07-27 17:34] #641 closed

[2020-07-27 17:57] deyforyou opened #642 "Generated each template node"
generate a template for each node
ex: for a template service.tmpl  with nodes User Group Category generate:
     - user_service.go
     - group_service.go
     - category_service.go

now we have *gen.Graph value template
if we can add value template *gen.Node

[2020-07-27 20:41] a8m commented on #642
Hey @deyforyou and thanks for proposing this.
As I commented in https://github.com/facebookincubator/ent/issues/641#issuecomment-664535621, you can use a template named `services.tmpl` and generate a `services.go` file for holding all node services (`UserService`, `GroupService`, etc) - what's the problem with it?

There's no other option at the moment, except creating a template-per-type which is

[2020-07-27 20:41] #642 closed

[2020-07-27 22:05] davidharrigan opened #644 "Enum default value is not consistent with other field types"
Version: v0.2.6

Given these two fields:
[code]
The first one works as expected where the default value is filled in during creation and during migration filling the default value for the existing rows.

The second one does not work the same way, even though at least for postgres they are the same varchar type underneath.  The default value is filled in during creation, but not during migration on

[2020-07-28 07:14] #621 closed

[2020-07-28 08:01] a8m commented on #644
Hey @davidharrigan and thanks for reporting this issue.

Yes, it's too complicated to manage enum types in PostgreSQL and we decided to use `varchar` at the moment in the database, and enforce this in the application-level only.

Checking this now and I'll update this issue

[2020-07-28 08:11] a8m commented on #644
I wasn't able to reproduce the Mixin issue on both v0.2.6 and master. See branch: [enum-issue](https://github.com/facebookincubator/ent/tree/enum-issue).

[2020-07-28 09:55] #644 closed

[2020-07-28 09:56] a8m commented on #644
Hey @davidharrigan, issue resolved with #646.
Thank you for reporting this issue 😃

[2020-07-28 12:55] davidharrigan commented on #644
thank you for the speedy fix!

[2020-07-30 16:38] a8m commented on #236
CreateBulk API was added to master, and we'll be released with v0.2.8.
See https://entgo.io/docs/crud/#create-many

[2020-07-30 16:38] #236 closed

[2020-07-31 22:53] kryptodirect commented on #383
I am having the same issue

[2020-08-01 09:25] NexZhu opened #652 "Bug: Wrong type names in generated code for some entity names"
Tested entc and ent version: v0.2.7

Steps to reproduce:
[code]

Here's examples of problematic generated code:

In `vm_create.go`:
[code]

In `client.go`:
[code]

One is `VMCreate`, the other one is `VmCreate`.

[2020-08-01 09:37] NexZhu commented on #652
I glance through the code and the problem is:

The tempaltes for `VmCreate`, `VmDelete` etc., use the `pascal` function in `ent/entc/gen/func.go`, [link](https://github.com/facebookincubator/ent/blob/dd3cdc147dec9b76149ecec80570bfc676650a4f/entc/gen/func.go#L117:6), which check for common uppercase acronyms, while the template for `client.go` doesn't.

[code]

Should be pretty simple to fix, maybe

[2020-08-01 12:32] a8m commented on #652
Hey @NexZhu and thanks for reporting this issue.
From quick look at this, it looks like it happens because the schema name ("Vm") is defined in the common acronyms (as "VM") and your schema named "Vm".

Can you please try to use the name "VM" and update if it solved the problem?

[2020-08-01 13:43] NexZhu commented on #652
Yes, I saw that code (about common acronyms) earlier and I tried with "VM" which solved the problem. It's still a bug though, so I'm just reporting to let you know.

[2020-08-01 13:50] NexZhu commented on #652
From a quick search, it seems that this naming problem exists in quite a lot of places.

I did a quick search and edit, and submitted a pull request for reference:
https://github.com/facebookincubator/ent/pull/654

You can see the related places in code.

[2020-08-01 15:43] #652 closed

[2020-08-01 15:44] a8m commented on #652
Thanks for the reporting @NexZhu.
Fixed with #653

[2020-08-03 16:18] austincollinpena opened #656 "Error passing through Instrumented SQL for logging"
I'm trying to log queries as they come out through Instrumented SQL. After I register the logger I get an error:

Code:

[code]

[code]

Is it possible to use Instrumented SQL with ent go?

[2020-08-03 16:58] a8m commented on #656
0Hey @austincollinpena and thanks for raising up this issue.

I think one of the examples in this [doc](https://entgo.io/docs/sql-integration/#use-pgx-with-postgresql) can help you to set up a custom SQL driver for your ent client.

[2020-08-04 09:44] a8m commented on #656
Closing. Feel free to re-open if you still need help.

[2020-08-04 09:44] #656 closed

[2020-08-05 13:03] najBaby opened #658 "proposal: generate Administration Handler for schema"
If you can add a part **Administration** in package **ent**.
this will be wonderful. thank you

[2020-08-05 13:45] a8m commented on #658
Hey @najBaby,
Can you please add more details about this proposal?

[2020-08-05 14:12] najBaby commented on #658
Hey @a8m, thank you to answer
we have already all tools to access to database. But If we can have a view of this Like Django

[2020-08-05 14:38] a8m commented on #658
Do you mean something like [Django-admin](https://docs.djangoproject.com/en/3.0/ref/contrib/admin/)? If that's the case, I don't think we'll get to it in the foreseeable future. However, I think it's something nice that can be developed as a separate project, and ent can use it as an extension (using external-templates for example).

[2020-08-05 14:48] najBaby commented on #658
Yes it's that. But we can generate a template html for each schema like template select, insert...
And i'm sorry to my english expression. I speak french

[2020-08-05 16:19] a8m commented on #658
Agree, but like I mentioned, some tasks have higher priority at the moment - like improving the schema migration (support edge migration), entql, finish the privacy layer, cascading deletion, and more.

If someone is willing to work on this (as a separate project), they can implement it today using [custom external templates](https://entgo.io/docs/templates/).

Don't be sorry, English is not my fi

[2020-08-05 16:19] #658 closed

[2020-08-06 04:49] austincollinpena commented on #656
@a8m Thank you for the help, that worked great.

Love the library! Bringing my first Go App to production with it!

[2020-08-06 15:23] zzerjae opened #661 "Feature: Ping to find out if DB Connection is alive"
Hi,

Thanks for your works for this awesome project. While writing code with the pleasure of learning something new, I thought it would be nice if one feature was added.

I usually check if the connection is made right after I make a DB connection when starting the server. In Ent, it seems that I can't check whether the connection with the DB is properly.

in `database/sql`,  comment on `Open()` s

[2020-08-06 16:50] a8m commented on #661
Hey @zzerjae! It's great to hear that you enjoy this project 😃

About your proposal - the [`Ping`/`PingContext`](https://golang.org/pkg/database/sql/#DB.Ping) method already exists in the [`sql.DB`](https://golang.org/pkg/database/sql/#DB) object, so I'm not sure it's really needed it ent.

If you need to call `Ping` only in start-up of the application, I'll suggest you to see this example - [conf

[2020-08-07 00:52] zzerjae commented on #661
Thanks, @a8m.

I admire your quick feedback. example - [configure-sqldb](https://entgo.io/docs/sql-integration/#configure-sqldb) that you suggested was exactly what I was looking for. Thank you for your kind guidance.

[2020-08-07 11:50] a8m commented on #661
Great!

Closing, but feel free to open if it's needed.

[2020-08-07 11:50] #661 closed

[2020-08-09 14:21] alexeyco opened #663 "Feature request: database schema in entity configs"
Quite often, it becomes necessary to place different tables in different database schemas, not only in `public`. It would be nice to get support for this case from `ent`.

It might look something like:
[code]

[2020-08-09 14:39] a8m commented on #663
Hey @alexeyco and thanks for proposing this issue.

Named schema is a feature of PostgreSQL and I'm not sure we want to add it to the ent schema. However, 2 things about it:
1. I think you can achieve it today by using the "search_path" parameter in the connection string - I didn't check this, so if you tried it, let us know if it works for you.
2. We plan to re-structure the migration API soon an

[2020-08-09 18:05] alexeyco commented on #663
No, I can't – tables can be placed in different schemas. The dot in the table name breaks everything

[2020-08-10 20:23] austincollinpena opened #664 "field.json doesn't seem to be generating CRUD searches"
I have a field like this with custom json types:

[code]
However, the URL fields both appear to not get anything in the "where.go" file. Should I just switch to string fields?

<details>
  <summary>564 lines from /rootdomain/where.go</summary>

[code]
</details>

[2020-08-10 20:33] a8m commented on #664
Hey @austincollinpena and great to see you here again.
ent doesn't support it at the moment. It's part of our roadmap (see #46) and has an open issue for it #266.

I'm going to close this one and I'll update it when this API will be added. Thanks!

[2020-08-10 20:33] #664 closed

[2020-08-10 20:37] a8m commented on #664
One thing that can help you here (if you want predicates) - you can use the [`GoType` option](https://entgo.io/docs/schema-fields/#go-type) to define custom type for existing schema types (e.g. `field.String(...)`).

See an example in integration tests - [ent/schema/fieldtype.go#L85-L88](https://github.com/facebookincubator/ent/blob/04859c6/entc/integration/ent/schema/fieldtype.go#L85-L88).

[2020-08-10 21:15] austincollinpena commented on #664
Thanks @a8m! I'm sure I'll be back soon!

[2020-08-11 09:28] roger2hk opened #665 "Question: How to mock entity eager load?"
Let's say I would like to test a function with `*ent.Product` as the param. How do I update the `loadedTypes` to `true`?

[code]

[code]

[2020-08-11 10:06] a8m commented on #665
Hey @roger2hk!

ent doesn't expose an API for mocking these fields, however, you can add them to your generated code using [external templates](https://entgo.io/docs/templates/).

You can see [this thread](https://github.com/facebookincubator/ent/issues/456) about testing for more information.

[2020-08-12 10:07] a8m commented on #665
Closing because there's no action step to take here, but you can feel free to continue the discussion.
Thanks 😃

[2020-08-12 10:07] #665 closed

[2020-08-13 04:53] roger2hk commented on #665
Here is how to mock the entities using [external templates](https://entgo.io/docs/templates/). Does that look good to you? If so, we may add this example to the docs. I'm not sure if `{{- if $e.Unique }}` and `{{- else }}` have handled all Edges scenarios.

[code]

[2020-08-13 22:43] christie-zhao opened #667 "Feature: raw query representation"
Is there a way we can turn the query to the raw SQL format? For example:
Like a method like `Manager.raw()` which turns this
[code]

to `SELECT * FROM User WHERE hasFollowers != false`
I am trying to add more feature like `Create Materialized View` to my ent project but it is hard to communicate raw query with the API. Are there any suggestions?

[2020-08-14 05:28] deyforyou opened #668 "Proposal: Add method Clone on All RUD"
I mean if i set by default my predicate and i want to have a copy of this for my http handler in goroutines.
we have a method **Clone** on **schema_query**. Add method **Clone** for **schema_delete** and **schema_update**. No for **schema_create**

[2020-08-14 13:51] a8m commented on #667
Hey @christie-zhao!
If want to see the outgoing query use `client.Debug()` to get a debug client, or create your own [`dialect.Driver`](https://godoc.org/github.com/facebookincubator/ent/dialect#Driver) (see an [example](https://github.com/facebookincubator/ent/blob/1e10f4f/dialect/dialect.go#L73) how to wrap an existing driver).

If you want to get the actual query (with its parameters), you'll n

[2020-08-14 13:51] #667 closed

[2020-08-14 13:52] a8m commented on #667
Closing, but feel free to continue the discussion and ask questions if you need help with that.

[2020-08-14 14:08] a8m commented on #668
Hey @deyforyou and thanks for proposing this API.

I'm not sure I get the use case - you want to avoid copying the code that applying the predicate on the builders?

If you don't want to be blocked and want to add it to your project, use [external templates](https://entgo.io/docs/templates/) to generate this functionality for you.

[2020-08-14 14:19] sundowndev opened #669 "Public validation method?"
I was looking for a way to validate my object before creating it in the database. I saw you use `preSave()` method to perform pre-save validation, is there a way to perform this validation by myself without saving?

example case:

[code]

Problem: any kind of error would return an HTTP 400 here.

Possible solution:

[code]

`entity.Validate()` could return either an error or an array of errors : `

[2020-08-14 14:30] a8m commented on #669
Hey @sundowndev and thanks for the feedback - it's great to hear that 😃

There are a few ways to do it:
- If you want to validate one or more fields, use the [fields validator option](https://entgo.io/docs/schema-fields/#validators) in the schema.
- You can use [hooks](https://entgo.io/docs/hooks/) - let me know if you need help with that (a new section with hook examples is going to be added to t

[2020-08-14 15:01] sundowndev commented on #669
Thank you @a8m , I ended up with this solution after seeing #547  :

[code]

**Quick question:** If I want to override the default `ent:` prefix in errors I need to use custom template, right?

[2020-08-14 17:49] a8m commented on #669
No, you should able to use `errors.Unwrap(err)` to get this - I just fixed the error unwrapping for `ValidationError`, so if you update to latest version (master) you'll get this.

See an [example](https://github.com/facebookincubator/ent/blob/6fe7023d6abaeaa5194939a0cbb4366b67fd0369/entc/integration/integration_test.go#L581-L583) in integration tests.

[2020-08-16 08:11] a8m commented on #669
Closing, but you can feel free to continue the discussion or reopen if the issue wasn't resolved.

[2020-08-16 08:11] #669 closed

[2020-08-17 10:11] deyforyou commented on #668
_you want to avoid copying the code that applying the predicate on the builders?_
Yes so if i work with a server i can set default predicate or value on the builders.

sorry for the delay

[2020-08-17 12:43] deyforyou commented on #668
Imagine each builder have an http handler func.
e.g: For UserCreate I do my first request I set the field "Name" to "deyforyou" and my second request I dont set. the value will stay always "deyforyou".
But it works only if i clone UserCreate in the handler func.

[2020-08-17 14:46] a8m commented on #668
The reason we added the `Clone` method to the query builder was because it's possible to chain multiple builders as follows -  `e.QueryGroups().QueryPosts()...Clone()`. We found many cases that it's useful and reduced our code duplication. However, if we want to share the same setters for create/update builders we use [ent.Mutation](https://entgo.io/docs/crud/#mutation). Or, in cases like yours, w

[2020-08-17 17:38] deyforyou commented on #668
Thank you. You are kind

[2020-08-17 17:41] deyforyou commented on #668
And I use well external templates. But if you want to help me. it will be wonderful

[2020-08-18 18:04] a8m commented on #668
Sure thing, any specific issue? Did you start it already, or do you need help with writing the first template?

My suggestion is to start with adding a `Clone` method to the `<T>Mutation` object, and then, add another `Clone` method to the `<T>Create/Update` builder that will call the mutation clone method. Does it make sense?

[2020-08-19 05:25] dilipkk-foyernet opened #675 "When should we use this?"
Thanks for this work, this is great!!

I want to know if this library can be used for any general use case where [gorm](http://gorm.io/) solves or only in case of heavy usage of graph data. We have mix data use cases: we have graph data and also we have normal table data and we are planning to use postgres as storage so I am checking if this library can be leverage for both use cases.

Thanks in a

[2020-08-19 11:17] haoxinst commented on #675
Sometimes, this depends on the user's self.
For me, I just give a try on a small project, and that works fine.
We will move to ent totally when V1 is released.

https://github.com/facebook/ent/issues/46

We are using **GORM** currently.

[2020-08-19 11:19] dilipkk-foyernet commented on #675
Thanks for your reply @haoxinst , that helps.

[2020-08-19 11:30] a8m commented on #675
Hey @dilipkk-foyernet!
We use ent for small projects (2-3 entity types and a few relations) and we also use it in big projects with dozens of types and hundreds of edges - the size does not matter.

You can map any schema with ent. It doesn't matter if it's not a pure graph structure - see [schema relations guide](https://entgo.io/docs/schema-edges/#relationship).

About v1.0 - we didn't release i

[2020-08-19 11:30] #675 closed

[2020-08-19 11:35] dilipkk-foyernet commented on #675
Thanks Ariel, Is 1.0 expected to release by end of this year?

On Aug 19 2020, at 5:00 pm, Ariel Mashraki <notifications@github.com> wrote:

[2020-08-19 12:16] marwan-at-work opened #676 "Multiple Database Support"
Hi there :wave:

I am wondering if `ent` can support querying across multiple databases.

My use case is that my company (as well as others I have heard do the same thing) split their MySQL databases by concern. For example the "Users" table lives in one database while the "Cars" table lives in a totally separate database and they can still do a JOIN query across both database as MySQL supports pu

[2020-08-19 12:16] deyforyou commented on #668
I have already start. And I see now my error. But your suggestion is also good

[2020-08-19 12:16] #668 closed

[2020-08-19 12:39] a8m commented on #676
Hey @marwan-at-work and great to see you here again 😃

Looks like this issue is similar to #663 - we can continue the proposal discussion there, since there are a few open questions about database migration in cases of multiple schema or named-databases.

Also, I want to mention that we aim to support any "storage driver" for ent schemas. For example, think about case where you will be able to cre

[2020-08-19 12:58] marwan-at-work commented on #676
@a8m sounds good! Feel free to close this issue

[2020-08-19 13:01] marwan-at-work commented on #663
Just FYI:

I was able to get around the issue (for MySQL) by doing a couple of hacky things:

1. Put the database name in the table itself
2. Add `r == '.'` to this function: https://github.com/facebook/ent/blob/e1fe2267bc56e57ceeaf1bf8dfb322d16c4b5f95/entc/gen/func.go#L112
3. Remove all backticks from queries. I did it by doing a ReplaceAll here which is obviously just a workaround as I am not fa

[2020-08-20 00:04] christie-zhao commented on #667
Thanks! I do have a question. I want to add Select().From() feature in `query` but currently it is not supported. It only supports `sql.Select().From()`. Is it possible to make them interact?

[2020-08-22 09:45] lukasl-dev opened #684 "NoSql"
Will NoSql databases like MongoDB or Cassandra also be implemented in the future?

[2020-08-22 13:38] #684 closed, assigned to nobody

[2020-08-22 14:12] shellbear opened #685 "FirstOrUpdate, FirstOrCreate..."
Hello,

How can we execute functions such as **FirstOrUpdate**, **FirstOrCreate** with ent like is it possible with Gorm (http://gorm.io/docs/query.html#FirstOrCreate)? Does this feature is currently missing from the API?

Thank you!

[2020-08-22 16:06] #685 closed, assigned to nobody

[2020-08-24 04:28] fython opened #688 "Question: How to make another column as id without renaming it in schema"
After I run my demo in the first time, I noticed that `id` column has been defined in schema by default.

[code]

Then I read [ID Field](https://entgo.io/docs/schema-fields/#id-field) and try to set another column in my table as `id`:

[code]

In this way, when I access `id_one` column by generated code, its field name isn't `obj.IdOne` but `obj.Id`.

Is there any way to make another column as id

[2020-08-24 09:10] a8m commented on #688
Hey @fython!

I'm not sure I get the question. If you define the ID field explicitly, you override the default ID definition, and the `StorageKey` is used to configure a different name for the column name in SQL.

[2020-08-24 09:31] sillygeniuss commented on #688
Hey, @a8m , i also found this problem.How can i set a custom name for field ID. I have try the function `StorageKey` and `StructTag` in my code, but field ID is not shown as the custom name i set in the table file generated by entc.

[2020-08-24 09:33] a8m commented on #688
Hey @sillygeniuss!
What do you mean by custom name? The name of the struct field in Go, or the name of the column in the database?

[2020-08-24 09:39] a8m commented on #688
Use the `StorageKey` option. There are a few examples in this project. [Here's one of them](https://github.com/facebook/ent/blob/fd0a7f9/entc/integration/customid/ent/schema/user.go#L19-L24) 😃

[2020-08-24 09:43] sillygeniuss commented on #688
![image](https://user-images.githubusercontent.com/59204202/91028807-9290c000-e630-11ea-98a6-42b4d8272812.png)
Like the picture above. The code is generated by using `StorageKey("biz_id")`.May i consider the field ID will use "biz_id" in sql when i insert a row?

[2020-08-24 09:48] a8m commented on #688
Yes. Check the `ent/migrate/schema.go` generated table information.

[2020-08-24 09:52] sillygeniuss commented on #688
![image](https://user-images.githubusercontent.com/59204202/91030794-4b0b3380-e632-11ea-8b82-269da9bbd135.png)
It seems not as u say. The name remains "id", i want change the name to "biz_id".

[2020-08-24 09:53] a8m commented on #688
Can you post here your schema configuration please?

[2020-08-24 09:56] sillygeniuss commented on #688
Oh, my fault. I use the function `StructTag ` to generate code. Sorry for wasting ur time.

[2020-08-24 09:58] a8m commented on #688
No problem 😃
Closing, but feel free to continue the discussion if you still have questions.

[2020-08-24 09:58] #688 closed

[2020-08-24 09:59] sillygeniuss commented on #688
Thx, bro.

[2020-08-24 10:43] unique1o1 opened #689 "Question: Is there a support for Postgres's Declarative Partitioning"
Hey, I was wondering if `ent` supports Postgres's Declarative Partitioning?
If not is there a work-around? Like modifying the migration files.

[2020-08-24 10:46] a8m commented on #689
Hey @unique1o1 and thanks for raising up this issue.

Not at the moment, but in the near future, we're going to post the proposal for the new migration API (it will be possible to customize the migration files with the new API).

[2020-08-24 13:07] a8m commented on #689
Closing, but feel free to continue the discussion if you still have comments/questions.

Thanks 😃

[2020-08-24 13:07] #689 closed

[2020-08-25 15:06] Jack-Ji opened #692 "Feature request: add generate option to define relation table's name"
Hi, I'm aware that I can define name of the table using ent.Config, however, there's also
needs to define relation table's name in order to make sure developers' schema doesn't
collide with each other in the same team.
I propose to add `TablePrefix` option to ent.Config, which will be used to prefix all the
generated tables' name. Hope this make sense for you guys.

[2020-08-25 15:24] a8m commented on #692
Hey @Jack-Ji!
If you want to customize the relation table/columns, you can use the [edge.StorageKey](https://entgo.io/docs/schema-edges/#storagekey) option.

[2020-08-25 16:19] christie-zhao opened #693 "Question: How to use Custom Predicates"
I am trying to add ancestor operator from Postgres ltree but the example in the document is unclear whether that is supported
[code]
Does this only support those already in `dialect/sql`?

[2020-08-25 20:27] aca opened #694 "Eager loading not working when using Select"
Hi, glad to hear that it is now the facebook project! (I'm not sure what that means though.. 😅) Really appreciate your hard work.

I'm having trouble with eager loading feature. Here's how the table looks like.
[code]

[code]
The query I wanted to achieve is this, `db.Debug().User.Query().Where(user.NameEQ("smith")).WithTeams().AllX(ctx)`. But without huge_text column.

[code]
But It seems that it

[2020-08-25 20:41] a8m commented on #694
Hey @aca!

Eager loading doesn't work with `Scan` in purpose. In the future, we'll add support for using `Select` with the `All`/`Only`/etc (together with the GraphQL integration). But that's an expected behavior.

[2020-08-26 05:15] unique1o1 opened #695 "Question: Unique constraint on combination of two columns?"
While searching the docs I only found a unique constraint for a single column.

[2020-08-26 05:17] a8m commented on #695
Hey @unique1o1! Please use the [schema.Indexes](https://entgo.io/docs/schema-indexes/) configuration for setting it.

[2020-08-26 05:17] #695 closed

[2020-08-26 07:18] unique1o1 commented on #695
also what about primary key combinations?

[2020-08-26 10:37] saurav1996 opened #696 "also what about primary key combinations?"
also what about primary key combinations?

_Originally posted by @unique1o1 in https://github.com/facebook/ent/issues/695#issuecomment-680705917_

Yes I was wondering the same thing. Can you address this  @a8m ?

[2020-08-26 10:38] a8m commented on #696
Hey, please continue the discussion in #695. Thanks 😃

[2020-08-26 10:38] #696 closed

[2020-08-26 10:39] a8m commented on #695
What's not working with [schema.Indexes](https://entgo.io/docs/schema-indexes/)?

[2020-08-26 10:56] unique1o1 commented on #695
Is it possible to add a composite primary key?
I need to make the id column and time column a composite primary key for timescaleDB for a hypertable.

[2020-08-26 10:58] a8m commented on #695
The composite PK option is not supported at the moment in ent - see https://github.com/facebook/ent/issues/400

[2020-08-26 10:59] a8m commented on #695
If you'll subscribe #400, you will be notified when we address it. Thanks 😃

[2020-08-26 13:47] jbowes opened #698 "Error unwrapping implemented incorrectly in 0.4.0"
[A recent change](https://github.com/facebook/ent/commit/6fe7023d6abaeaa5194939a0cbb4366b67fd0369) Updated how validation errors implement the error Unwrap interface. The change calls [errors.Unwrap()](https://golang.org/pkg/errors/#Unwrap) instead of returning the `err` field.

This is incorrect (the previous behaviour was correct) because `errors.Unwrap` returns either the error that the passed-

[2020-08-26 13:54] aca commented on #694
```we'll add support for using Select with the All/Only/etc``` That's nice. I also think that is proper way.

[2020-08-26 13:54] #694 closed

[2020-08-26 14:00] a8m commented on #698
Hey @jbowes,
The error inside the `ValidationError` is a `fmt.wrapError` that prexies the error defined in the schema with the following string: `<pkg>: validator failed for field "<field>": `, therefore, I found it more intuitive to return the actual error (schema error) when calling `errors.Unwrap`, instead of asking users to call `errors.Unwrap(errors.Unwrap(err))`.

What's the issue you have/f

[2020-08-26 14:14] jbowes commented on #698
That's fair, but I think it's tricky for two reasons:
- (*what we hit*) ValidationError is in a generated package end users own and control, and so we've extended it, and have access to the `err` field. You could easily argue this isn't supported.
- Not all code in the `ent` code base populates the ValdationError's `err` with a `fmt.wrapError`. The [create template](https://github.com/facebook/ent

[2020-08-26 14:17] a8m commented on #698
Fair points. You are welcome to send a patch or I can address this later.

Thanks 🙂

[2020-08-26 14:18] jbowes commented on #698
Thank you! We'll see who gets to it first :)

[2020-08-26 14:18] unique1o1 commented on #695
Ok, thanks

[2020-08-26 15:25] a8m commented on #693
Hey @christie-zhao!
For custom statically-typed predicates, please see our proposal for the [roadmap](https://github.com/facebook/ent/issues/277#issuecomment-622316098). It's actually under development at the moment.

If you want to use the SQL builder as mentioned in the doc, you can write to the builder directly, or use the new API I added:

[code]

Closing, because there are actually 2 open iss

[2020-08-26 15:25] #693 closed

[2020-08-26 20:17] christie-zhao commented on #693
Thanks for the reply! I am still kinda confused since `sql.P()` takes no arguments. How can we pass it a func?

[2020-08-26 20:22] a8m commented on #693
Please update to the latest version (master), and let me know if you have any issues with it. Thanks

[2020-08-27 03:52] 5axf opened #701 "Field assignment must be set one by one?"
Field assignment must be set one by one?

[2020-08-27 08:32] a8m commented on #701
Hey @5axf! Yes, you can read more about the motivation for this and an alternative customization for your needs in this previous issue - https://github.com/facebook/ent/issues/83.

[2020-08-27 08:32] #701 closed

[2020-08-27 09:47] 5axf commented on #701
thanks

[2020-08-27 16:55] peanut-cc opened #702 "ent/examples/edgeindex/edgeindex.go error"
in `ent/examples/edgeindex/edgeindex.go ` example

In the following code：
[code]

Should be as follows：
[code]
？？？

[2020-08-27 17:38] a8m commented on #702
Hey @peanut-cc!

No, that's fine. See the comment above the code block:
![image](https://user-images.githubusercontent.com/7413593/91476104-2ff42a00-e8a5-11ea-981c-a1382f365bf0.png)

[2020-08-27 17:38] #702 closed

[2020-08-27 17:44] peanut-cc commented on #702
ok

[2020-08-27 17:47] a8m commented on #702
Did you understand why it's OK? as you can see, in the first block [here](https://github.com/facebook/ent/blob/master/examples/edgeindex/edgeindex.go#L43-L48), we're adding a street named "ST" to the city TLV, and since the street name must be unique under the city edge, the [next block](https://github.com/facebook/ent/blob/master/examples/edgeindex/edgeindex.go#L51-L55) should fail because they a

[2020-08-27 18:16] christie-zhao commented on #693
I did update 0.4.0 but `sql.P()` remains the same from before. What are the commands to update just to double check?

[2020-08-27 19:19] asonawalla opened #704 "Question: Default struct tags for edges?"
I've noticed that ent chooses to specify default JSON struct tags for fields, but not for edges, as is apparent in the [base case example](https://github.com/facebook/ent/blob/master/examples/start/ent/user.go#L17-L40).  It's clearly trivial to override this behavior using the `StructTag` method in a schema definition, but I wanted to ask if there is a reason for the discrepancy in defaults.

PS -

[2020-08-27 19:32] a8m commented on #693
Update to master as follows:

[code]

V0.4.1 will be released soon.

[2020-08-27 19:42] a8m commented on #704
Hey @asonawalla! There's no specific reason behind it, but if we'll decide to add this at some point, we'll need to check before that it doesn't break any existing behavior in our side.

Like you mentioned, you can use the `StructTag` option to configure it for your needs atm 😃

I'm glad you like it!

[2020-08-27 20:18] asonawalla commented on #704
Sounds good - thanks!

[2020-08-27 20:18] #704 closed

[2020-08-28 03:59] jjr2527 opened #705 "Quick Introduction Feedback"
I don't have a lot of go experience so I may offer a different perspective on the documentation than those that have worked with go for some time now.

Here are the notes I've taken up to "Create your first Entity" where I decided to call it a night after getting stuck.  I hope this can assist in augmenting the documentation for others.

notes
-------------------
![image](https://user-images.githu

[2020-08-28 16:06] vahid-sohrabloo opened #707 "Question: Edge to another package"
Is there any way to edge to another package?

[2020-08-28 16:18] a8m commented on #707
Hey @vahid-sohrabloo!
I’m not really sure what does it mean. Can you please elaborate on the use case?

[2020-08-28 16:27] vahid-sohrabloo commented on #707
[code]
I want to M2M between Bar Entity (bar.go) and Foo Entity (foo.go)

[2020-08-28 16:32] christie-zhao opened #708 "How to add custom functions?"
Hi! Thanks for all the patience and explanations! I am implementing `ltree` for Postgres and I have been struggling for days on how to implement custom functions like `subpath` or `nlevel`. I don't know how to make them interact with the ent builder and selector since I can't modify ent files. Any advice?

[2020-08-28 17:37] davedray opened #709 "Custom Primary Key field?"
It seems that the type of the ID field is configurable, but not the name of it?  We're thinking of adopting ent in an existing project, but the database named each primary key `uuid` instead of `id` and there doesn't seem to be a way to configure that.

[2020-08-28 17:39] a8m commented on #707
This option is not supported (and we don't have plans to support it). Thanks!

[2020-08-28 17:43] a8m commented on #709
Hey @davedray! Use the `StorageKey` option to configure the column name in the database (the Go field will still be named as `ID`). See [example](https://github.com/facebook/ent/blob/fd0a7f9/entc/integration/customid/ent/schema/user.go#L21-L22) in integration tests (or search in the [docs](entgo.io)).

[2020-08-28 17:43] #709 closed

[2020-08-28 17:48] a8m commented on #708
Hey @christie-zhao and it's great to see you here again.

Can you give more context about it? What are you trying to do, or something I can reproduce/run to help with it.

Are you talking about adding them to the generated predicates (using [external templates](https://entgo.io/docs/templates/))?

[2020-08-28 17:57] a8m commented on #705
Hey @jjr2527 and thanks for the feedback! The best way to discuss about documentation improvement is by suggesting a **specific** change using a PR.

I'd be happy to see it get better (and more user friendly), because I'm the one who created these docs (took me ages btw).

Closing, but like I mentioned above, if you have specific change that you think can help others in the future, propose it usin

[2020-08-28 17:57] #705 closed

[2020-08-28 17:58] a8m commented on #707
Closing, but of course, feel free to continue the discussion if you want 😃

[2020-08-28 17:58] #707 closed

[2020-08-28 18:00] christie-zhao commented on #708
I am trying to use external templates for that. For example, I want to implement `nlevel` function to count number of labels in ltree path and returns a number. Then, I would like to use it like `client.query().where(predicates).nlevel(path).all()` or `client.query().select(...).nlevel(path)` or some sort. It works very similar to `count` function.

[2020-08-29 13:58] a8m commented on #708
Are you trying to run a query like this?
[code]
Or this:
[code]

Can you write here please an example of your table (with a few rows), and the expected output (SQL rows and Go objects)? Thanks

[2020-08-30 02:25] tennashi opened #712 "Cannot place the schema under the directory named ent"
I created the schema with `--target` as `schema/ent` in entc.

[code]

For such the schema, `entc generate` raised the following error.

[code]

It was an error trying to refer to the schema as `ent` package, so I changed the package name of the schema file to `ent`.

Then I got the following error.

[code]

This is an error due to a name conflict between `github.com/facebook/ent` package and my s

[2020-08-30 07:21] jojomi opened #713 "Feature Request: Order for Enum-Columns"
I like this project a lot, but hit a road block when I was using an `enum` field and wanted to sort it like this:

[code]

The field is defined like this:

[code]

Intuitively I thought the field might be modeled as integer and mapped to the strings (in the order I gave them when defining the field), but it seems the actual strings are used and thus **I get alphabetical order** when sorting.

Is t

[2020-08-30 08:34] a8m commented on #712
Hey @tennashi and thanks for reporting this issue!
Unfortunately, this option is not supported and you'll need to choose a different name for your schema package.

Please let us know if you need more help 😃

[2020-08-30 08:34] #712 closed

[2020-08-30 10:35] a8m commented on #713
Hey @jojomi and thanks for the kind words!

This was changed lately and I think we're going to revert it. However, in SQLite (and PostgreSQL), we use `varchar` for storing the enum values and only MySQL supports the index-based ordering - because it's the only driver that supports the builtin enum type.

I think, the ideal solution is to add support for "numeric-enums" - it's not really supported

[2020-08-30 14:41] a8m commented on #713
Change was reverted and we'll be added in v0.4.1

Closing, thanks!

[2020-08-30 14:41] #713 closed

[2020-08-31 08:36] fezho opened #719 "Run `entc describe ./ent/schema` got error"
I use the demo schema in `getting-started`,  and want to run `entc describe`, but it returns the following error:
[code]

My ent version is v0.4.2

[2020-08-31 08:55] a8m commented on #719
Hey @fezho!
Looks like your ent and entc versions are incompatible (see [docs](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent)).

Update your entc, or use:
[code]

[2020-08-31 08:55] #719 closed

[2020-08-31 13:51] marwan-at-work commented on #663
@a8m any idea if this is something that ent will support? 🙏

If so, would love to know what the API would look like as I'm not too familiar with ent's internals (yet!).

Thanks!

[2020-08-31 14:36] a8m commented on #663
Yes.

I promise to give it more attention in the upcoming days.

[2020-09-01 09:06] #698 closed

[2020-09-01 15:37] kasuganosora opened #722 "Question: How to delete two object bind"
We are have three tables:

posts:
|id | title|

tags:
id |title

post_tag:
id| post_id | tage_id
name | age

How to use ent delete post_tag record? thx

[2020-09-01 17:58] a8m commented on #722
Hey @kasuganosora!

If these 2 objects are managed by ent, you can do it as follows:

[code]

[2020-09-01 22:45] kasuganosora commented on #722
think a8m

[2020-09-01 22:45] #722 closed

[2020-09-02 15:33] mingrammer commented on #358
I need it too for postresql

[2020-09-03 00:51] christie-zhao commented on #571
I have the same issue. We added a wrapper to the migrate to run `CREATE EXTENSION ltree` before `create` but it gives us `sql/schema: invalid type "USER-DEFINED" for column "path"` from time to time. The creation of the schema looks like this:
[code]

[2020-09-03 00:52] christie-zhao commented on #708
Hi I didn't realize I can do that but that solves the problem. Now I have another problem...Thank you so much for all the help!![issue-571](https://github.com/facebook/ent/issues/571)

[2020-09-03 03:46] cabloo commented on #490
@a8m I'm hoping to use the Ent framework with gqlgen and came across this thread. I found what I believe to be some related work [here](https://github.com/facebook/ent/blob/master/entc/integration/template/ent/template/node.tmpl) and in this framework's documentation, but couldn't find a complete resource on this. Do you have any example code base that can be referenced for this purpose? I can pie

[2020-09-03 09:22] dilipkk-foyernet commented on #630
We also need this feature. Looks like this the file needs to be updated https://github.com/facebook/ent/blob/master/entc/gen/template/ent.tmpl but not getting how and where **"user_pets"** (https://github.com/facebook/ent/blob/master/examples/o2m2types/ent/pet.go#L28) field is getting generated, we just need to add one OwnerID method to **\*Pet** which exposes this field.
@a8m can you guide me on

[2020-09-03 11:58] dilipkk-foyernet commented on #630
@a8m  I had take look at that one before using external templates for this purpose and I want to create pull request to entc itself so that it is beneficial for everyone, I was trying to find the code where "user_pets" field is generated but I couldn't find in the code base, once I understand that then I can generate a method on base field model struct.

[2020-09-03 12:24] dilipkk-foyernet commented on #630
@a8m I got it, it is happening in https://github.com/facebook/ent/blob/master/entc/gen/graph.go right?

[2020-09-04 10:57] kosgug opened #726 "How to Query All Entityies randomly"
I want to Query All Entityies randomly, but there was no way found

[2020-09-04 11:06] a8m commented on #726
Hey @kosgug, can you be more specific what do you mean by "randomly"? Something like, `ORDER BY RAND()`?

[2020-09-04 11:10] kosgug commented on #726
@a8m

Yeah,  for example codes:

`util.DBC.Posts.
		Query().
		Order(ent.Asc("?? RAND() ??")).
		All(util.Ctx)`

[2020-09-04 11:13] a8m commented on #726
You can do it as follows:
[code]
Or, you can add it to your generated code using [external-template](https://entgo.io/docs/templates).

[2020-09-04 11:53] metalrex100 opened #727 "Question: ent and DDD (domain driven design)"
Hey there, thanks for your work on ent-framework.
I have a question about possibility to use ENT only as a tool for dealing with infrastructure layer (database).

According to DDD application layers should be decoupled. It means that domain model and database schema are 2 different things and should be separated.

Is it possible in your opinion to use ent entities only for interaction with databas

[2020-09-04 12:33] #726 closed

[2020-09-04 14:01] a8m commented on #727
Hey @metalrex100! Sorry for not responding your Reddit message, I just saw it.

I'm not really familiar with DDD, but I can give 2 examples of what we do in such cases internally:

1. We have one service that exposes a GraphQL API, where some of its GraphQL types (or partials of them) exist also in ent. In this case, we use the [autobind](https://gqlgen.com/config) option in gqlgen to do the mappi

[2020-09-04 14:31] metalrex100 commented on #727
@a8m thank you for you response.
I got the idea about GraphQL API. I also use gqlgen and it’s nice to hear that it is possible to integrate ent with it since both gql and ent are about graphs. (Is there any docs/tips how to do it? May be I didn’t see such section in docs)

About layers architecture: when you isolate your business logic models (and services) from infrastructure specific stuff (like

[2020-09-04 14:48] a8m commented on #727
Thanks for the explanation @metalrex100.

There's no available doc at the moment for this integration - I'm actually working on it.

About the 2nd part of the comment - tbh, if you aim to go with this approach, you'll lose many of the stuff that ent provides. For example, one of the main benefits for using ent schema, is that ~all logic regarding your types reside in one place - which is the ent s

[2020-09-04 14:53] metalrex100 commented on #727
@a8m I see. It means that applications which use ent
actually will be “ent-based applications”.
Probably it’s a good approach for such cases as gql api server.

Thank you for explanation!

[2020-09-04 15:36] kosgug commented on #726
@a8m  Cool, thanks for your help.

And i have a problem using this code in my project, i detailed entgo is a great project, so, if there's a better way, please share with me.

### Env
- Database: pgsql
- Entgo Version: v0.4.2

### My Codes
[code]

### Bugs
`PG::Error: SELECT DISTINCT, ORDER BY expressions must appear in select list`

### Fix Method
1. Find func querySpec() on `ent/question_query.g

[2020-09-04 18:14] a8m commented on #727
Closing, but feel free to continue the discussion if you want. Thanks!

[2020-09-04 18:14] #727 closed

[2020-09-06 17:13] marwan-at-work commented on #663
@a8m that's great! Thanks for all of your work 🎉

[2020-09-06 17:22] #398 closed

[2020-09-06 21:35] kevpie opened #733 "GetX in client.tmpl has naming collision when the struct name abbreviates to id"
In my case `ImageData` is being abbreviated to `id` which colides

[code]

**client.tmpl**
[code]

**client.go**
[code]

**assignment type collision**
![Screen Shot 2020-09-06 at 2 33 42 PM](https://user-images.githubusercontent.com/163482/92335685-13e34c00-f04e-11ea-89e8-d5556c7adffd.png)

**return type collision**
![Screen Shot 2020-09-06 at 2 27 16 PM](https://user-images.githubusercontent.com/

[2020-09-07 06:40] dilipkk-foyernet opened #734 "go test is failing: no such function: JSON_EXTRACT"
Operating system: Ubuntu 20.04
Go version: 1.15.1
Directory: `entc/integration`
command:  `go test ./...`

This command is giving following error:
[code]
How to fix this error?

[2020-09-07 06:43] a8m commented on #734
Hey @dilipkk-foyernet! You need to build sqlite with `json1` tag - see [go-sqlite](https://github.com/mattn/go-sqlite3#features) doc.

BTW, JSON predicates are not yet official in entgo.io docs, so if you use the API under `dialect/sql`, you should expect a breaking change soon :| (it'll be mentioned in the release note).

[2020-09-07 06:43] #734 closed

[2020-09-07 06:46] a8m commented on #733
Thanks for reporting this issue @kevpie!

We can fix it by just changing `{{ $rec }}` to a static variable name (e.g. `obj`). Do you want to send a patch?

[2020-09-07 09:32] kevpie commented on #733
Hi @a8m I think I can send a patch. It may be a few days before I do as I'm exploring use of `ent` at the moment in a current project.

[2020-09-07 19:42] wclaro opened #736 "Select for update"
Hi guys.

I would like to know if there is a way in ent to use SELECT ... FOR UPDATE in mysql for locking rows.

Thanks for the great work and project

[2020-09-08 07:16] a8m commented on #736
Hey @wclaro!
We don't support this option at the moment (it may be added in the future).
Closing, since this is duplicate of https://github.com/facebook/ent/issues/358.

[2020-09-08 07:16] #736 closed

[2020-09-08 08:30] christie-zhao commented on #571
@a8m Do you think this is a problem in my code? Is there anywhere else I can create an extension?

[2020-09-08 08:39] Jack-Ji opened #737 "question about updater"
Hi, just wondering is it OK to chain RemoveXXX && AddXXX together ? e.g.

[code]

[2020-09-08 08:54] a8m commented on #737
Hey @Jack-Ji! Yes, just created a PR (https://github.com/facebook/ent/pull/738) to show that it's possible.
Closing.

[2020-09-08 08:54] #737 closed

[2020-09-08 13:23] stffabi opened #739 "Hooks can't be used to set a required edge"
If an entity has a required edge defined and one tries to set it with a `OpCreate` hook depending on context values, the save doesn't work.

[PreSave here](https://github.com/facebook/ent/blob/ebfc1a4f36db57dec40dba9c0cf2325b974c2ea0/entc/gen/template/builder/create.tmpl#L37) will be called before calling the hooks [here](https://github.com/facebook/ent/blob/ebfc1a4f36db57dec40dba9c0cf2325b974c2ea

[2020-09-08 13:26] a8m commented on #739
Hey @stffabi and thanks for reporting this issue.
It does make sense to run the validators after the hooks were called - we just need to make sure it doesn't break existing behavior.

[2020-09-08 13:28] stffabi commented on #739
That would be awesome. It would also be more robust, because it could also happen that hooks might clear a required edge. Which should also be detected by the validators.

[2020-09-08 14:30] lynkas opened #740 "How to use context correctly?"
This can be a dumb question due to I am new to context, my apologies first if I should not ask here.

For each operation with the client, it needs a context object. Should I create and save the only one context as the global variable then use it, or create it by context.Background()  every time when it is required then pass it to the function, or by other methods?

Thanks!

[2020-09-08 14:57] a8m commented on #740
Hey @lynkas! That's not a dumb question at all, if you're new to Go's context, I'll recommend you to  read more about it [here](https://blog.golang.org/context).

Sorry in advance that I'm keeping it short, I don't have too much time at the moment, and I prefer to "triage" issues as fast as I can. Also, some experts may explain it better than me.

There are many examples where Go context can be us

[2020-09-08 14:57] #740 closed

[2020-09-08 16:50] a8m commented on #708
Hey @christie-zhao,

Can you elaborate what it's working for you?

If you want to add code using custom templates see the [external-templates docs](https://entgo.io/docs/templates/), or see examples in [integration tests](https://github.com/facebook/ent/blob/fd0a7f9/entc/integration/template/ent/generate.go) and [examples](https://github.com/facebook/ent/blob/5450481/examples/entcpkg/ent/entc.go)

[2020-09-08 16:52] a8m commented on #571
Hey @DeedleFake and @christie-zhao,
The schema migration doesn't work with "user defined types" at the moment - it's WIP and will be added in the near future.

[2020-09-08 17:55] christie-zhao commented on #708
So now I did `client.Tree.Query().Select("Nlevel(path)").Ints(ctx)` and it is giving me an error because the raw query representation of this is `SELECT tree.Nlevel(path) FROM tree`. `Nlevel(path)` is a function but not a column so `tree.Nlevel(path)` doesn't make sense

[2020-09-08 18:54] a8m commented on #708
Regarding the first issue - The `Select(field string, fields ...string)` function accepts fields and not raw strings. It won't work this way.

The second case caused by a misconfigured driver - you need to configure the dialect for the builder (see examples in generated code). For example:

[code]

[2020-09-08 19:58] christie-zhao commented on #708
Yeah this would be useful. However `nlevel` doesn't only work with the column, it also works with any tree path. For example, I can do `select nlevel('A') from tree` and it would give me 1 as a result.

Also how can I integrate this in the template? as I don't have permission to add this in the treequery file?

[2020-09-08 21:57] christie-zhao commented on #708
This solved it! I didn't know I can get TreeQuery outside! You are so helpful and awesome!!! 💯

[2020-09-08 21:57] #708 closed

[2020-09-08 23:43] christie-zhao commented on #708
Just a small question, How do you prevent sql injection when using `fmt.Sprintf`?

[2020-09-09 00:25] christie-zhao opened #742 "Question: How is SQL injection handled in ent?"
For example, `selector.Select()` takes in a string for column. How does it prevent from sql injection?

[2020-09-09 02:02] Jack-Ji commented on #737
Nice, thanks for quick update!

[2020-09-09 03:23] jaredallard commented on #708
Just wanted to add a 👍 here, thanks a bunch for being so responsive @a8m. I work with @christie-zhao and you've helped us a bunch ❤️

[2020-09-09 07:18] a8m commented on #708
Thanks for the kind words @jaredallard and @christie-zhao 😃

You can add methods to the query builder from another file, and external-templates can help you to generate those methods. If you're struggling with it, create a temporary repository with a reproducible example (and some schema) and I'll create a PR for helping you with it.

In general, we use parametrized statement/queries for executing

[2020-09-09 07:19] a8m commented on #742
Hey, I answered to this question in the relevant discussion - https://github.com/facebook/ent/issues/708#issuecomment-689360199. Thanks

[2020-09-09 07:19] #742 closed

[2020-09-09 07:41] #739 closed

[2020-09-09 07:53] fwielstra opened #743 "Question: Expressing one-to-many relationship with multiple types"
I've done some research and this is actually a difficult one in database design, as it turns out.

I have a `Config` type, a plain type with fields like ID, description, last modified, etc.

A `Config` has 0-n "steps" or "module configurations"; each step has an "order" property with relation to the Config (plain number).

Each Step can be of a different type though; there's about a dozen differen

[2020-09-09 13:10] a8m commented on #743
Hey @fwielstra,
I hope I got your question right, but if I got it right - you can't have 1 edge-type that points to 2 different types (bar != foo, since they have different fields).

If I needed to do something like this, I would probably use something as follows:

[code]

Other option, is to create a table named "modules" and store a JSON object in each row (because content is different from type

[2020-09-09 13:30] fwielstra commented on #743
Yeah I think what you're proposing would result in the "wide" link table that I mentioned. I've been working on the business logic and API end of this issue today and ended up with a similar approach; a struct with shared fields + module-specific, optional structs:

[code]

And this can be mapped to ent and persisted into a databas via non-required edges.

Alright, I think I can work with this. Th

[2020-09-09 13:30] #743 closed

[2020-09-09 20:01] TomUnequals commented on #383
@adnaan's solution solved my issue. Thanks!

[2020-09-09 23:13] christie-zhao commented on #708
If I'm understanding correctly, in the example you had above on Nlevel, we need to do more input sanitization on the parameter column? 'selector.C()' only formats it but it doesn't prevent injection?

[2020-09-10 08:52] stffabi commented on #739
Awesome, thanks for the fast fix.

[2020-09-10 16:10] jaredallard commented on #571
@a8m Do you have any pointers as to why it doesn't work / what could be done to implement it? I'd be happy to implement it, just not quite sure where to begin 😅

[2020-09-10 19:44] a8m commented on #708
Yes. Usually, I'll recommend to not pass untrusted data to methods that don't accept placeholders - define constants and use them instead.

We can consider adding the sanitization option to the sql helpers we have under `dialect/sql` - but that's a different discussion.

[2020-09-11 03:57] waro163 opened #747 "Bug: Add validation in schema Fields in case of name conflicts with mutation"
My Fields is as follows:

[code]

(I have changed Phone Fields some times, e.g. add user_id field)

after i run "go generete ./ent ", there is a file named "mutation.go", I get the code as follows:

[code]

you can see it, in the PhoneMutation, i have two fields named "op",  when i run my app, the error "**ent/mutation.go:37:2: duplicate field op**" will be raised,

so i think if someone add field

[2020-09-11 05:16] day-dreams opened #748 "Feature: provide options `not create foreign key in mysql`"
In some cases, i dont want to use foreigh key,  which will carry some performance cost in MySQL.   Can i use  any option or configuration, to disable foreign keys?

At now, `go generate ./ent` create schemas with foreigh key default.

[code]

[2020-09-11 22:58] #747 closed

[2020-09-11 22:58] a8m commented on #747
Thanks for reporting this issue @waro163! Issue resolved with #749.

[2020-09-12 06:20] kevpie commented on #733
Hi @a8m,
PR #750 submitted as per your suggested fix.

[2020-09-12 06:47] #733 closed

[2020-09-12 06:48] a8m commented on #733
Wonderful! Thanks @kevpie for reporting this issue and for the fix.

[2020-09-12 23:40] Zn4rK commented on #92
@a8m:

Is it possible to re-open this issue?

I have a use case where I have a tree that's a O2M. Almost exactly like the one in the documentation. https://entgo.io/docs/schema-edges/#o2m-same-type.

With the key difference that I've manually specified the `StorageKey`.

The only difference is that all nodes belongs to another thing. So I have an additional `edge.From` entry.

What I essentially w

[2020-09-13 05:45] henrywoody opened #752 "How to Implement History Tracking"
I'm quite new to using ent, but I love the idea and have found working with it fairly easy so far.

I'm wondering what the best approach to implementing a history tracking system for records in ent is.

Another project I've been working on uses [Django Simple History](https://django-simple-history.readthedocs.io/en/latest/), which basically creates a history table for each table. Whenever a mutati

[2020-09-13 06:52] a8m commented on #748
Hey @day-dreams and thanks for proposing this option. We actually wanted to add this option, but it was blocked on another task that I wanted to add with it.

Basically, ent uses FKs when defining relationships to enforce correctness and consistency on the database side.

For example, if an id of an entity in table A was provided to table B in relationship R, the database checks that the entity ac

[2020-09-13 07:00] a8m commented on #752
Hey @henrywoody!
We actually do something similar internally, and we use [ent.Hooks](https://entgo.io/docs/hooks/#hooks) for implementing it.

You also want to give a look on the [external-templates](https://entgo.io/docs/templates/) option. It can help you generating many parts.

Let me know if you need help with it.

[2020-09-13 07:15] a8m commented on #541
Hey @kkom!

We actually have similar constraints in some GraphQL mutations, and we added [transaction hooks](https://entgo.io/docs/transactions/#hooks) exactly for this. Basically, we dynamically create a transaction-hook from A's hook if some change happened, to ensure similar change was applied on entity B (let's say its relation).

We wrap each GraphQL mutation with a transaction (and use [`Tx.

[2020-09-13 07:36] a8m commented on #92
Hey @Zn4rK!

Are you trying to avoid the sub-query? If that's the case, I agree we need to optimize this.

I don't really want to expose the FKs in the default codegen. If the reason is perf-tuning, we need to address these optimizations in the default behavior.

However, I think we can allow anyone who wants it, to get it using an extension for the codegen - let's say using [external-templates](h

[2020-09-13 12:39] Zn4rK commented on #92
Not necessarily, but sure, it's an added bonus. The main reason is that GraphQL - which I'm using as the transport layer -  doesn't really support recursive types in queries. So I'm trying to keep it flat and let the client/webapp figure out the relations.

I essentially don't want to "QueryParent()" to figure out the parent id - since I, in theory should already know It, since I've already fetche

[2020-09-13 18:28] henrywoody commented on #752
@a8m thanks for the reply! Good to know that this can be done and I will definitely look more into hooks and external templates.

[2020-09-13 18:39] a8m commented on #752
Sure.

Closing, but feel free to continue the discussion if you need further help with it.

[2020-09-13 18:39] #752 closed

[2020-09-14 17:52] moh-abk commented on #139
Any ETA on this? :)

[2020-09-15 07:17] napei opened #761 "Create entity from a struct"
I looked around but couldn't find an easy way of creating an entity from an initialized struct. Currently I don't think this is possible as `Create()` can't take any arguments.

It would be great to be able to create an entity like this

[code]

More specifically is there a good way to take JSON/struct, and convert it into a Database model. This is probably one of the biggest use-cases for this in

[2020-09-15 07:42] fwielstra opened #762 "Question: Dealing with relationships, treating data as whole 'documents'"
I realize this is a bit of a follow-up to my earlier question https://github.com/facebook/ent/issues/537, but I ran into it again yesterday and it's not sitting right with me.

I have an application where a top-level entity is called a `Flow`; a `Flow` has 0 or more `Step`s, a one-to-many relationship.

What is not sitting right with me with Ent right now is that we cannot just say "save this flow

[2020-09-15 08:11] a8m commented on #761
Hey @napei and thanks for proposing this.

We actually have discussed this in the past in other issues, and we don't have plans to add support for this - see https://github.com/facebook/ent/issues/83#issuecomment-541557691.

If we'll accept struct in the builders, we won't be able to distinguish between zero/real values (e.g. `&ent.User{Age: 0, Name: ""}`), and may set incorrect values in the data

[2020-09-15 08:11] #761 closed

[2020-09-15 08:24] napei commented on #761
Hey @a8m thanks for the quick response. I had a look at the template docs but a lot of it didn't make sense. I completely understand the reasoning behind not supporting this.

Are you able to, perhaps, provide an example or some direction on using templates? Further to that are there examples/packages out there that use ent in conjunction with a REST api for CRUD operations?

Perhaps instead of st

[2020-09-15 08:25] a8m commented on #762
Hey again @fwielstra!

ent doesn't support storing objects like documents (we support JSON fields, but that's not what you're looking for).
Same as I answered in https://github.com/facebook/ent/issues/761, if you want to update your `Flow` entity, you need to call the mutation steps explicitly. For example:

[code]

If there are specific mutations that involve multiple changes for multiple entitie

[2020-09-15 08:40] a8m commented on #761
Did you see the example in the [website](https://entgo.io/docs/templates/#examples)? In the upcoming days, we're going to OSS our GraphQL integration. There are multiple examples there. I'll update the issue once it's out.

If you'll use custom templates, you won't need any reflection for this.

This is the general idea of such template - get an input, and call the setter of each field (still need

[2020-09-15 10:06] napei opened #765 "Question: Diagrams from docs"
Those graph diagrams in the docs. Where do they come from?

Is it possible to generate them from ent?

[2020-09-15 10:11] a8m commented on #765
Hey @napei,
This what I answered in #364 a few months ago:

The new update is that a new repository is ready (ent-contrib), and should be OSS in the upcoming days. This CLI tool may be OSS as well there (depends on @dlvhdr 😉).

[2020-09-15 10:15] napei commented on #765
Wonderful news! Thanks 😄

[2020-09-15 10:15] #765 closed

[2020-09-15 16:39] a8m commented on #663
Hey, some update regarding this issue.

The `Annotations` option will be added to the schema config, and we'll use it to pass the **schema** option to the SQL templates.
The `Table` option in `ent.Config` will be moved to annotation as well. Here's an example how I think that API will look like:

[code]

The `entsql.Annotation` option will make it possible to address more issues we have today, and

[2020-09-16 04:28] zjttbkd opened #768 "Question: how should I deal with table partition?"
e.g: if we divide the table into 100 according to ID, how should I specify the table name

[2020-09-16 05:30] sno6 opened #769 "Question: Join Aggregate"
Hello,

I am wondering if it is possible to get the count of the edges of an entity.

I have the following setup:

Entities:
- search
- listing

Search edges:
	`edge.To("listing", Listing.Type)`

Listing edges:
	`edge.From("search", Search.Type).Ref("listing").Unique()`

Essentially I want to replicate the following query (PSQL):

[code]

[2020-09-16 05:53] a8m commented on #768
Hey @zjttbkd!
Unfortunately, we don't support table partitioning atm, and it won't be supported in V1.
We have discussions about adding this functionality, but that's not an easy task, because the current implementation expect that all data reside in the same database.

Closing, but we can open it as a proposal after V1.

[2020-09-16 05:53] #768 closed

[2020-09-16 06:17] a8m commented on #769
Hey @sno6!

ent doesn't expose the JOIN operation in the generated code, but you can always add your customization to the generated code using [external-templates](https://entgo.io/docs/templates/).

However, in this case, I would use a different way for querying the edges of O2M relation - I'll use the [User->Pet](https://entgo.io/docs/schema-edges/#o2m-two-types) example in the doc. It's the sam

[2020-09-16 06:17] #769 closed

[2020-09-16 07:12] napei commented on #398
Any idea when this will get tagged? Currently have a need for it when updating an entity and no easy way to just remove old non-unique M2M edges for that entity. 😄

[2020-09-16 07:18] a8m commented on #398
Use `go get -u github.com/facebook/ent@master` atm please. I'll release a new version with a proper release note in the upcoming days.

[2020-09-16 07:31] sno6 commented on #769
Thanks for the help, external templates look interesting. This package has been super helpful for a project I'm working on, and it's refreshing to see a maintainer so active and competent.

[2020-09-16 07:36] a8m commented on #769
Thanks for the kind words @sno6 😄

It'll be great if you can update the issue with the final solution. When I developed the aggregation option for the codegen, I didn't give it too much attention (as I wished to), so there's definitely a room for improvements here.

[2020-09-16 09:35] francismarcus opened #770 "Question: Documentation regarding integration with gqlgen"
Hello 👋
Regarding the documentation for the integration with gqlgen as mentioned by @a8m in r/golang
Hows it coming along, have you gotten started with it? I think it it would be highly appreciated, if not by others then at least by me!

If you havn't gotten started with it, perhaps I could start and you can fill in with what I've gotten wrong / are unaware of.

Cheers

[2020-09-16 09:46] a8m commented on #770
Hey @francismarcus and thanks for raising up this issue 😄

The `ent-contrib` repository is  going to be OSS in the upcoming days, and it contains the initial integration with gqlgen (Node API, pagination, ordering, fields collection using auto eager-loading, and ent.Tx middleware for mutations).
Once it's out, you're welcome to join and help writing the documentation to it. I already started, but

[2020-09-16 10:48] francismarcus commented on #770
@a8m sounds awesome, thanks for your work 🥇

[2020-09-17 04:50] maxiloEmmmm opened #771 "local var like golang keywords"
## env

型号标识符：	MacBookPro16,2
  处理器名称：	Quad-Core Intel Core i7
  处理器速度：	2.3 GHz
  处理器数目：	1
  核总数：	4
  L2缓存（每个核）：	512 KB
  L3缓存：	8 MB
  超线程技术：	已启用
  内存：	32 GB
  Boot ROM版本：	1037.147.4.0.0 (iBridge: 17.16.16610.0.0,0)

## code
[code]

## gen
[code]

## gen code
[code]

/kind bug
/kind conflict

[2020-09-17 04:56] #771 closed

[2020-09-17 04:56] maxiloEmmmm opened #772 "local var like keyword golang"
## env

型号标识符：	MacBookPro16,2
  处理器名称：	Quad-Core Intel Core i7
  处理器速度：	2.3 GHz
  处理器数目：	1
  核总数：	4
  L2缓存（每个核）：	512 KB
  L3缓存：	8 MB
  超线程技术：	已启用
  内存：	32 GB
  Boot ROM版本：	1037.147.4.0.0 (iBridge: 17.16.16610.0.0,0)

## code
[code]

## gen
[code]

## gen code
[code]

[2020-09-17 05:08] napei opened #773 "bug: wrong package used in runtime.go"
I am using a mixin which provides a UUID (github.com/google/uuid) as the primary key with default values set which is working fine. But when I add a hook to a model the generated `ent/runtime/runtime.go` file is using the wrong import for uuid (github.com/gofrs/uuid)

This causes errors in `runtime.go` with the `testmodel.DefaultID = testmodelDescID.Default.(func() uuid.UUID)` line

I have created

[2020-09-17 05:28] maxiloEmmmm commented on #772
https://github.com/facebook/ent/blob/fd0a7f9f027b579a99fb31caf553781eae36cbbf/entc/gen/func.go#L189

filter golang keyword?

[2020-09-17 06:19] #772 closed

[2020-09-17 09:00] #773 closed

[2020-09-17 09:01] a8m commented on #773
Thanks for reporting this @napei. #775 should solved the problem. Please re-open if you have further issues.

[2020-09-17 09:11] napei commented on #773
Thanks @a8m it's fixed using master with `go get -u` , but, using the latest has now caused a bunch of errors in all the `_query.go` files.

![image](https://user-images.githubusercontent.com/8946502/93450626-850de380-f919-11ea-9cb2-9220af326e61.png)

[2020-09-17 09:40] a8m commented on #773
Your ent version and entc version are incompatible. Please follow this guide - https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent

[2020-09-17 09:56] napei commented on #773
Thanks. I had to force an update with `go get github.com/facebook/ent/cmd/entc@38e769465c0181f79f52dbd11a70b33af49a3581` and all works now

[2020-09-17 09:57] a8m commented on #773
Please use `go generate` (using `go run github.com/facebook/ent/cmd/entc`) instead of running `entc` directly.

[2020-09-17 14:18] a8m commented on #770
Closed with https://entgo.io/docs/graphql. Please note that docs are WIP at the moment, and will be updated more along with examples in the future. Contributions are welcomed of course.

[2020-09-17 14:18] #770 closed

[2020-09-18 04:32] maxiloEmmmm opened #778 "Question: go type nil after save"
## go type code
[code]
## user schma
[code]

## test code
[code]

## test result
[code]

## problem
test pass not ok
[code]

[2020-09-18 06:09] a8m commented on #778
Hey @maxiloEmmmm,
Try to use a pointer receiver in the Scan method, and let me know if it still happens.

See: https://github.com/facebook/ent/blob/master/entc/integration/ent/schema/fieldtype.go#L150

[2020-09-18 07:07] maxiloEmmmm commented on #778
@a8m thk

[2020-09-18 07:07] #778 closed

[2020-09-18 08:46] a8m commented on #215
Hey, we just open-sourced some of our GraphQL integration, and there's a pagination support there. It's currently based on the _Relay Cursor Connection_ spec, but it may be added to the core framework in the future. See [entgo.io/docs/graphql](https://entgo.io/docs/graphql/#pagination) (note these docs are WIP at the moment).

It's actually uses your work @chris-rock from #264 😉

[2020-09-18 08:51] chris-rock commented on #215
Thank is awesome @a8m I am happy to see this being extended. I am also glad to see the integration with gqlgen. I hope I have some time soon to try this out.

[2020-09-18 16:03] maxiloEmmmm opened #779 "Question: how to write case when .. then when .. then .. end, like this?"
## code

[code]

[2020-09-18 16:04] marwan-at-work commented on #663
@a8m that sounds great. Looking forward to it!

[2020-09-18 16:07] maxiloEmmmm commented on #779
And also, if count to get `total` or `sum` without `GroupBy`, i want skip `GroupBy`, direct call `Aggregate`

[2020-09-18 16:32] najBaby opened #780 "Proposal Generate other file extension."
If we can generate other file extension like """shema.graphql""" for graphql or """todo.proto""" for grpc.
It will be awesome. I see your """entgql""" package. It is very attractive but we code too to implement.

[2020-09-18 18:53] a8m commented on #779
Hey @maxiloEmmmm!

There's no built-in support for these functions/predicates. However, you can write your own predicates or functions. See the [sqljson](https://github.com/facebook/ent/blob/master/dialect/sql/sqljson/sqljson.go) package and https://github.com/facebook/ent/issues/708.

Closing, but feel free to continue the discussion if any further help is needed.

[2020-09-18 18:53] #779 closed

[2020-09-18 19:08] a8m commented on #780
Hey @najBaby!
We actually discuss about adding support for generating GraphQL types from ent types (along with user-defined mutations) to a new or an existing GraphQL schema - I'll probably create a proposal for it in the issue tracker before starting to work on it.

However, you don't need to be blocked on us. You can do it actually today - use the `entc` package for loading the schema to your Go

[2020-09-18 19:08] #780 closed

[2020-09-18 23:28] mgabeler-lee-6rs opened #781 "Can't have db-generated uuid id primary key with postgres"
Trying to make a model/schema that has its `id` primary key a `uuid` with a database-defined default value.

This results in a (valid) SQL along the lines of
[code]

But then this special case code for postgres triggers and it blows up trying to parse the uuid string as an int64 :sob:
https://github.com/facebook/ent/blob/master/dialect/sql/sqlgraph/graph.go#L1135-L1142

At a first glance, it looks

[2020-09-19 06:50] mhrjimmy opened #782 "Question: How to reference a specific column in an edge"
I noticed that when using `edge.To` and `edge.From`, `id` becomes a reference column by default.
How should i make the reference column be a different column.

For example in sql we do:  `REFERENCES users (UID) ON DELETE CASCADE`

[2020-09-19 08:14] a8m commented on #782
Hey @mhrjimmy!

You can use the [`edge.StorageKey`](https://entgo.io/docs/schema-edges/#storagekey) and [`field.StorageKey`](https://entgo.io/docs/schema-fields/#storage-key) options for configuring the storage options for edges and their FK columns.

[2020-09-19 08:14] #782 closed

[2020-09-19 08:44] a8m commented on #781
Hey @mgabeler-lee-6rs and thanks for opening this issue. This is actually a change that I want to add in ent.

If you configure something as follows, ent will execute the default-value function before creating the entity in the database.

[code]

However, setting an expression in the `DEFAULT` clause is not supported at the moment, because only PostgreSQL and MySQL (>= 8.0.13) support it.

There a

[2020-09-19 08:44] #781 closed

[2020-09-20 11:00] day-dreams opened #783 "proposal: provide tool for generating codes from ddl"
what about provide a cmd tool, read ddl files (or get ddl from database) as inputs,  and then generate ent/schema/* as outputs ?

if we have such a tool,   we can refactor applications easily with entc.

and it is also convinient for people who prefer to write sql ddl first, but not write golang code (entc schema definations) .

[2020-09-20 11:07] a8m commented on #783
Hey @day-dreams and thanks for proposing this issue.
I actually did such an experiment ~1 year ago, and decided to not go with it. However, if someone wants to write something like this as a separate project, I'll be happy to help. We may add it to [ent-contrib](https://github.com/facebookincubator/ent-contrib) if we'll find it useful for other users.

[2020-09-20 11:13] day-dreams opened #784 "proposal: unicode length validators"
MinLen() and MaxLen() mean golang string length. For other lauguages(Chinese, Japanese......), it might be more helpful to validate unicode length.
[code]

For example, when we limit max length of UserName to 8 charactors,  "12345678" and "我的名字有八个字"  are both accepted.
[code]

[2020-09-20 11:28] a8m commented on #784
Hey @day-dreams and thanks for proposing this!

First, if you're blocked on this, you can add your custom predicate as follows:

[code]
Then, comes the question, do we really need to add this to the default field validators?

[2020-09-21 12:58] a8m opened #788 "proposal: add option to remove edges by a predicate"
Avoid querying the database for getting associated entities and then removing them. Instead, make it possible to mutate nodes as follows:

[code]

[2020-09-21 16:25] francismarcus opened #789 "Not able to query node with pg in the Node API in GraphQL Integration"
When running the query node, [Node API](https://entgo.io/docs/graphql/#node-api)
[code]

[2020-09-21 16:31] alexsn commented on #789
Query is comming from https://github.com/facebookincubator/ent-contrib/blob/master/entgql/template/node.tmpl#L189-L192, I'll take a look tomorrow.

[2020-09-21 16:46] a8m commented on #789
Hey @francismarcus! https://github.com/facebookincubator/ent-contrib/pull/3 should solved this. I'll wait for @alexsn's review.

[2020-09-21 17:16] francismarcus commented on #789
Hey @a8m! awesome, much appreciated. Great work with the integration doc btw

[2020-09-22 02:29] maxiloEmmmm opened #790 "discuss: x2m(O2M, M2M) return value"
## code

### eager-load
[code]

### javascript
[code]

## wish
`WithStrategy()` if nil returns empty slice instead of nil

[2020-09-22 06:14] a8m commented on #789
Patch was merged to ent-contrib. Please re-open if you still have troubles with it. Thanks

[2020-09-22 06:14] #789 closed

[2020-09-22 15:58] a8m commented on #762
Closing due to no activity. Please feel free to open or comment if you want to continue the discussion.

[2020-09-22 15:58] #762 closed

[2020-09-22 17:22] #790 closed

[2020-09-22 17:23] a8m commented on #790
Thanks for reporting this @maxiloEmmmm. Closed with #791

[2020-09-23 03:23] maxiloEmmmm commented on #790
@a8m tks

[2020-09-23 05:23] napei opened #792 "Ability to remove omitempty globally"
I've run into this issue before when consuming JSON from Go, and it's unfortunately one of the pitfalls of how Go handles structs to JSON.

Unless I missed a config option, every struct that ent makes for each entity has `omitempy` tagged onto every field. This makes sense, to omit empty values. However to Go, `false`, `0`, `""` are all empty values for `bool`, `int/float`, `string`.

This means t

[2020-09-23 07:35] a8m commented on #792
Hey @napei!

You can use the [`StorageKey` option](https://entgo.io/docs/schema-fields/#storage-key) in order to override the JSON tag for fields, or you can use a custom template to override the template that generates these tags. 1st option is preferred IMO, and can be written with some helper as follows:

[code]

Thanks for proposing this option, but unfortunately I don't think I want to add it

[2020-09-23 07:35] #792 closed

[2020-09-23 08:02] roger2hk opened #793 "Question: Best practice to update an entity"
Let's say I have a `User` entity and a function to update the `User` entity. It seems like `UpdateOne` only updates the `updated_at` field if the `Set` functions are not used. Is there any built-in function to update all mutable entity fields?

[code]

[code]

[code]

[2020-09-23 08:08] a8m commented on #793
Hey @roger2hk!

Yeah, that's the default value if not value was provided to the builder.

I'm not sure I understand the question, to update all mutable fields to what values? they need to be provided somehow.

Also note that you can use the [Mutation](https://entgo.io/docs/crud/#mutation) option to share setters between create and update blocks. Alternatively, if you want to update the builders fr

[2020-09-23 08:16] napei commented on #792
Hey @a8m that makes sense. Adding extra complexity isn't what I was after and yes I can just override the struct tags myself.

I was more taking the viewpoint that having `omitempty` on all fields can actually yield an invalid representation of the data stored in the DB and is thus it is incorrect in a sense.

For example Go supports `true` and `false` only for booleans (non-pointers), and subsequ

[2020-09-23 08:19] a8m commented on #792
Did you see the [`Nillable` option](https://entgo.io/docs/schema-fields/#nillable)?

[2020-09-23 08:24] roger2hk commented on #793
Hey @a8m. That's a really quick reply. Assigning another value to `user.Attribute1` does not work as the underlying `UserMutation` does not know there is a change. Is that correct?

[code]

It seems custom template is the only automated option to create a new function to figure out those changes and set them before executing the save operation.

[2020-09-23 08:30] napei commented on #792
Yeah I did look at that, however Nillable fields must also be optional, and I have several fields that are not optional and I don't want `omitempty`. I think for me the best alternative would be what you mentioned above with extending fields manually.

Pointer fields in structs with `Nillable()` are omitted when they are `nil` instead of `false`, which again is not accurate because in JSON fields

[2020-09-23 08:44] roger2hk commented on #784
Please add this custom validator as another example in the documentation if we are not going to add this to the built-in field validators.

[2020-09-23 08:45] a8m commented on #793
No. All mutations must go through the builders.

Yes, using Go templates is pretty standard feature in ent to customize some of the codegen parts to your specific needs.

[2020-09-23 08:57] a8m commented on #784
You are welcome to create a PR 😃

[2020-09-23 09:26] sundowndev opened #794 "Migration to jackc/pgx for Postgresql ?"
Hi,

I've seen that [github.com/lib/pq](https://github.com/lib/pq#status) is not in active development anymore, and the usage of [pgx](https://github.com/jackc/pgx) is recommended by maintainers.

In the pgx's readme, a comparison is made with lib/pg :

- Is pgx already compatible with ent ?
  - If no, is it planed to migrate to pgx as main postgres driver ?

[2020-09-23 09:35] a8m commented on #794
Hey @sundowndev,
This issue already raised a few months ago - see https://github.com/facebook/ent/issues/605 and [entgo.io/pgx](https://entgo.io/docs/sql-integration/#use-pgx-with-postgresql).

There should be no problems working with pgx. If you face any issues with it, please open an issue.

[2020-09-23 09:35] #794 closed

[2020-09-23 14:06] a8m commented on #357
Hey guys, the GraphQL integration was open-sourced along with a (WIP) doc - [entgo.io/docs/graphql](https://entgo.io/docs/graphql/).

Closing, but please go over it and open an issue if there's a specific feature that's miss there. Thanks

[2020-09-23 14:06] #357 closed

[2020-09-23 17:26] a8m commented on #793
Closing, as this question was answered. Feel free to continue the discussion 😃

[2020-09-23 17:26] #793 closed

[2020-09-24 03:06] maxiloEmmmm opened #796 "IDsX panic"
## info
ent: 0.4.3

## code

[code]

[code]

## log
[code]

## database
version: 10.5.5-MariaDB-1:10.5.5+maria~focal
table engine: InnoDB
table charset: utf8mb4
[code]

## 临时处理
[code]

[2020-09-24 07:46] dilipkk-foyernet commented on #215
@a8m is there a way, we can get the number of total results to show the number of pages or results count in the UI?

[2020-09-24 08:13] #796 closed

[2020-09-24 08:19] a8m commented on #215
The GraphQL integration supports this. Please follow the guide in the website and check the [todo app example](https://github.com/facebookincubator/ent-contrib/blob/33a6b7bbb091a6fdc471917bb582da5e09adc506/entgql/internal/todo/todo.graphql#L39) in ent-contrib.

[2020-09-25 12:21] maxiloEmmmm opened #799 "help: muti join"
## edges

### table - goods_gradients
[code]

### table - goods_stream_orders
[code]

### table - goods_streams
[code]

### table - goods_gradient_strategies
[code]

## wish query
[code]

## wish use ent graph api to query

## try
1. use dialect sql √
2. use ent graph api (don't know how to write)
3. use ent graph api query `goods_streams` and use edges loop calculate √

## info
ent: 0.4.3
db engi

[2020-09-25 13:04] a8m commented on #799
Hello again @maxiloEmmmm 😃

The generated API of ent is about querying and mutating entities (nodes that are defined in the schema). In addition, we support selecting/grouping based on node fields, but we not aim to expose all SQL functionality in the generated code.

If you want to add a custom query or an API in your generated code, use the [template](https://entgo.io/docs/templates/) option to

[2020-09-25 13:04] #799 closed

[2020-09-27 10:20] advancedwebdeveloper opened #800 "fatal error: error in backend: Segmented stacks do not support vararg functions"
Hi.
I caught a bug:

[2020-09-28 06:49] advancedwebdeveloper commented on #800
CC @alexsn @a8m

[2020-09-28 08:31] alexsn commented on #800
Hi, it looks like this is an issue with your c compiler that being use by sqlite3 package which is a cgo package. I suggest you file a bug with sqlite3 maintainers or follow the above error message and file one with llvm.

Closing this issue as this is _not_ an ent issue.

[2020-09-28 08:31] #800 closed

[2020-09-28 11:27] TomUnequals opened #801 "Postgres: edges in different schemas"
Since `ent.Config{}` does not support table names in the following format: `<schema>.<table>`, I was wondering how do we create edges to tables in different schemas?

For example, having a user table in one schema which contains user's IDs, whilst having a table in another schema which references those user IDs.

Thanks in advance.

[2020-09-28 17:52] a8m commented on #801
Hey @TomUnequals!

Currently, this option is supported (yet) by ent, but it's definitely in our roadmap - you can track the progress in #663.

Closing as this is duplicate of #663

[2020-09-28 17:52] #801 closed

[2020-09-29 15:17] Boreals opened #804 "How can i query users who doesnot have followers"
[code]

[2020-09-29 16:47] a8m commented on #804
Hey @Boreals,

[code]

[2020-09-29 16:47] #804 closed

[2020-09-29 16:55] Boreals commented on #804
Thanks😁😁😁

[2020-09-30 05:42] maxiloEmmmm opened #805 "Q: left join"
嘿 我又来了！
发现一个issue `https://github.com/facebook/ent/issues/112` 但不足以解决, 所以~~~~我出现在了这
## 要实现
[code]

[code]

发现是`join`而不是`left join` 而且没有`left join` api

我知道作者提供了 `https://entgo.io/docs/templates/`
而且作者不想且觉得没理由公开sql builder api
但是不太明白怎么去做从而产生上面的sql
困扰了两天了 希望作者指点指点

[2020-09-30 06:06] a8m commented on #805
Hey @maxiloEmmmm! I hope I understood your issue correctly (I used Google Translate 🙈).

If the `LeftJoin` is missing at the moment in the SQL builder, you're welcome to create a PR and add it.

[2020-09-30 06:06] #805 closed

[2020-09-30 09:01] xabi93 opened #806 "Feature: Fetch edges from gqlgen request"
Hi!

We are thinking on moving to ent, and one thing that we miss, maybe it is and I don't find it 😛 it's the possibility to fetch edges of a graphql request from gqlgen.

e.g.
[code]
In this case to get workers gqlgen will create a new resolver (CompanyResolver) Workers to resolve the list of workers of a company doing a new query.
Is there any way to automatically ent handle this just in one que

[2020-09-30 09:08] a8m commented on #806
Hey @xabi93,

It's actually supported by the [fields-collection](https://entgo.io/docs/graphql/#fields-collection) option in entgql. I'll add info about in the docs later today.

[2020-09-30 10:04] #806 closed

[2020-10-01 02:11] nemith commented on #367
Is there a way to generate non-go files (i.e. protobufs) with the template engine (or at least iterate through the nodes and edges to do manual generation?)

[2020-10-01 03:03] tomtwinkle commented on #139
I want one.

[2020-10-01 07:53] a8m commented on #367
Hey Brandon! Nice to see you again 😃

Yes, as I commented in https://github.com/facebook/ent/issues/780#issuecomment-695038170, you can do something as follows:

[code]

Of course, this is just a toy example, so let me know if you need help with implementing such thing.

[2020-10-02 04:29] tankbusta opened #811 "entgql: Noder doesn't support UUID Types"
Super excited to see ent support gqlgen (although I understand it's still early on :))

I was giving it a spin this evening and noticed when trying to create a model using `uuid.UUID` as the ID type, I got a bunch of type errors in some of the generated code.

[code]

So I changed the generator based from the documentation to use a custom Field TypeInfo to `TypeUUID`

[code]

Which got me a little

[2020-10-02 06:06] a8m commented on #811
Hey @tankbusta and thanks for reporting this issue.

The Node API works only if you configure the migration to work with [universal-ids](https://entgo.io/docs/migrate/#universal-ids). Hence, the ID must be an int type (or converted to int). Because the type-resolver infer the NodeType from the ID value.

However, we actually discussed about adding support for custom type-resolvers, but in cases li

[2020-10-02 23:35] tankbusta commented on #811
So as I understand, using `universal-ids` still wont solve the problem with being able to use UUIDs as an ID with the GraphQL integration? It seems enabling that mode just partitions off IDs into a special table by model type as GraphQL requires "truly unique" IDs (SQL auto-incrementing IDs are not this)

My only option it seems at this time (and which you've pointed out) would be to fix up the te

[2020-10-03 05:53] alexsn commented on #811
When using global IDs we're able to derive the node type given its ID which is not possible when using UUIDs. As @a8m mentioned, we could provide some hook in the node template so you could provide your own custom ID -> Type mapper. Alternatively you could fork the template and modify it to fit your use case.

[2020-10-03 06:51] giautm commented on #811
In JS version of relay implement, they use base64(type + ":" + id) to provide Global ID. Can we do same thing with entgql? table name + entity's id (can be number string/uuid string)

[code]
Code copied from [here](https://github.com/graphql/graphql-relay-js/blob/f00bad1395eed1738264f41c35e3901dddff1559/src/node/node.js#L85-L104)

[2020-10-03 07:39] a8m commented on #811
@tankbusta - As mentioned in the [universal-ids doc](https://entgo.io/docs/migrate/#universal-ids), each node-table has a range of  1<<32 for its ids (in one database/shard). Hence, ids from different tables should not overlap in the same database.

Like I mentioned in the previous comment, I'll create a PR for making the `Type{Resolver/Mapper}` configurable for the client - How do you plan to res

[2020-10-03 15:59] roger2hk commented on #784
Sure. Created https://github.com/facebook/ent/pull/814.

[2020-10-04 15:08] a8m commented on #811
Hey @tankbusta  and @giautm,
A new change was added to entgql and docs was updated as well. Please go over it [here](https://entgo.io/docs/graphql/#node-api) and let me know if you still have troubles with it. Thanks

[2020-10-04 15:08] #811 closed

[2020-10-04 17:42] jaredallard opened #818 "sql/schema: Failed to Create Schema"
**What Happened**: When I run `Create()` twice it fails the second time. I get the following error message:

[code]

**How To Reproduce**: Here's my [schema definition](https://github.com/tritonmedia/api/blob/master/internal/ent/schema/media.go) and a [repository](https://github.com/tritonmedia/api) where this can be reproduced, if needed.

[code]

**Details**:

 * **Driver**: Postgres 12.4 (pgx v

[2020-10-04 18:10] a8m commented on #784
Closed with #814

[2020-10-04 18:10] #784 closed

[2020-10-05 08:28] a8m commented on #818
Thanks for reporting this issue @jaredallard. I'll give it a look.

[2020-10-05 11:20] Zn4rK commented on #811
I've just tried this. It almost works!

I'm using Uuids (google/v4) right now, and it generates the following:

[code]

I've tracked it down to [this line](https://github.com/facebookincubator/ent-contrib/blob/0e6ac4cc1d3a8bcaaff85a21e3c804909d95ba1f/entgql/template/node.tmpl#L95).

[2020-10-05 18:52] giautm commented on #811
Pagination still using int instead of `uuid.UUID`. Just change Todo's ID to uuid.UUID and run generate.
[code]

[code]

[2020-10-05 19:00] Zn4rK commented on #811
That's solvable with the IDType configuration option:
[code]

[2020-10-05 19:19] giautm commented on #811
Hey @Zn4rK , that's worked. But I don't think we should do it manual? 🤔

@a8m : I don't know how Node-ID can be convert to `gqlgen/graphql.IntID`/`gqlgen/graphql.ID`?

[2020-10-06 11:31] a8m commented on #811
Thanks for reporting this guys. I'm giving it a look atm.

[2020-10-06 14:19] a8m commented on #811
Please update to latest version of ent and ent-contrib and report any issues. Thanks for your feedback guys.

I'm not sure I understand the question @giautm, but here's an [example](https://entgo.io/docs/graphql/#gql-configuration) for a configuration we use.

[2020-10-06 15:25] giautm commented on #811
Hi @a8m. I think there is a missing piece. In the relay spec, any Entity that implement Node interface should have ID as a GlobalID. It mean, If I use universel-id for Todo, the ID field also return a universel-id (GlobalID) instead Todo's ID. I didn't found any connection between universer-id and gqlgen ID. In JS, I implement that using a custom resolver for ID field - I'm new to gqlgen.

[2020-10-06 15:38] alexsn commented on #811
In the todo app case a Todo id is a global id as we use universal ids in both [server](https://github.com/facebookincubator/ent-contrib/blob/master/entgql/internal/todo/server/server.go#L51) and [tests](https://github.com/facebookincubator/ent-contrib/blob/master/entgql/internal/todo/todo_test.go#L78).

[2020-10-06 15:59] giautm commented on #811
Hey @alexsn, tks for explain.

So, If I using custom NodeType configuare, there is no way to custom GlobalID for Todo?

[2020-10-06 16:27] alexsn commented on #811
An important point to make is that an ID used in ent is not the same as a graphql ID. In the Todo case it is the same as ent provides global uniqueness but it doesn't have to be. Also note that in graphql an ID is just a scalar meaning some string that has no meaning outside the graphql server.

Now you can implement an ID over some go object (see [here](https://gqlgen.com/reference/scalars/#custo

[2020-10-06 16:35] giautm commented on #811
Adding a custom type for ID mean I have to dealing with database driver to marshal/unmarshal. :-/

[2020-10-07 03:46] EricMasonFa commented on #358
Let's discuss if we can achive it like this:

In generated config.go:

[code]

In generated tx.go:
[code]

Then we can pass that field to `sql.Selector` (we can ignore it if the driver does not support locking):
[code]

Then we can lock/unlock like:
[code]

If the query is out of transaction but `withLock` is set to `true` then the lock would immediately be released by the driver.

[2020-10-08 15:00] masseelch commented on #46
I love this package!

You provide the Timestampable-Mixin, any chance to add some kind of Blameable-Mixin?

[2020-10-08 20:24] #818 closed

[2020-10-08 20:25] a8m commented on #818
Thanks for your engagement @jaredallard. Issue should be solved with #828.
There was an issue in the Postgres migration code that affected only tables with uncountable names, like "media" or "equipment" (no plural form).

Please let me know if you still have troubles.

[2020-10-08 20:27] a8m commented on #818
Thanks for your collaboration @jaredallard. Issue should be solved with #828.
There was an issue in the Postgres migration code that affected only tables with uncountable names, like "media" or "equipment" (no plural form).

Please let me know if you still have troubles.

[2020-10-08 21:28] alexsn commented on #46
Not sure what that mean but feel free to submit a PR.

[2020-10-09 02:05] timonwong opened #829 "schema/field: Separate schema size limit separately, and add grapheme size limit"
In stringBuilder, the descriptor "Size" is set by MaxLen, however, the validator for MaxLen validates utf8 sequence size, not the actual size in unicode.

[2020-10-09 06:15] masseelch commented on #46
I would, but i do not know how to implement what i mean.

I often have 2 fields attached to my entities: `updated_by` and `created_by`. Whom to blame for creating and updating this entity so to speak.

But since the values of those fields are no simple go types, but another entity it should be an edge. And i do not know how to abstract that for all cases, since some graphs may not even have an use

[2020-10-09 06:26] cliedeman opened #830 "Recommendations/Documention for implementing an Audit Hook"
Hi there, looking for some guidance/ideas on how to implement a basic auditing hook in ent

Lets say I have the following Mixin

[code]

And I Implement the following hook (first attempt)

[code]

The first issue I have encountered is that there is no easy way (that I could find) to identify which mixins apply to an object. Having access to the annotations could also work if we wanted to mark spec

[2020-10-09 06:27] cliedeman commented on #46
@masseelch I created https://github.com/facebook/ent/issues/830 to talk about this further. I am also interested in implementing a general auditing hook

[2020-10-09 06:47] a8m commented on #46
Hey @masseelch, let's move this discussion to #830. Thanks @cliedeman for creating this issue 😃

[2020-10-09 08:02] a8m commented on #830
Hey @cliedeman and great to see you here again 😃

I can help with that, but I'd love to get a better context on your end-goal before, because an audit-log can be implemented in different ways (@masseelch, you're welcome to share your thoughts as well).

So, it will be easier if you can elaborate what do you expect that such hook will do? Update the current mutation, write to a different table, log

[2020-10-09 08:45] cliedeman commented on #830
Hi @a8m thanks, great to be writing some go again 😃.

I just re-read the documentation and I think I found a solution

[code]

I was not aware you can embed hooks into the mixin. This solves the issue above as the hook will always be attached to nodes that have the revelant columns

[2020-10-09 10:36] dilipkk-foyernet opened #831 "Struct level validator for schemas"
Currently, there is support for field validation which is good. We have a use case where to want to validate the entire struct by combining several fields. How can we achieve that?

[2020-10-09 11:13] alexsn commented on #831
Use hooks.

[2020-10-09 12:12] a8m commented on #831
Hey @dilipkk-foyernet!
Like @alexsn mentioned, you can use [hooks](https://entgo.io/docs/hooks/) for executing validations on single mutation, or you can use [transaction-hooks](https://entgo.io/docs/transactions/#hooks) for validating a change-set (multiple mutations in a transaction).

Closing, but please feel free to comment and tag me if you need help with it.

[2020-10-09 12:12] #831 closed

[2020-10-09 12:43] dilipkk-foyernet commented on #831
Thanks Ariel and Alex, I will check and get back to you if required.

On Oct 9 2020, at 5:42 pm, Ariel Mashraki <notifications@github.com> wrote:

[2020-10-09 12:43] a8m commented on #830
Great @cliedeman, you can also write this as follows:

[code]

See also, how to limit the hooks execution to specific mutation operations using the [hook-helpers](https://entgo.io/docs/hooks/#hook-helpers).

Also note that in the upcoming weeks I'm going to add support for generating interfaces for `ent.Mixin`s, and provide an API as follows:

[code]

[2020-10-09 12:48] a8m commented on #829
Hey @timonwong and thanks for raising up this issue.

I agree with that and we should change it. The configuration should be provided separately using `schema.Annotations`. See https://github.com/facebook/ent/issues/663#issuecomment-692834740.

[2020-10-09 18:10] a8m opened #832 "doc/website: add faq page"
The [entgo.io](https://entgo.io) website can hold many of the common questions in the issue tracker, like:
- How to create an entity from a struct (avoid calling `Set<F>`)
- How to create a struct/mutation-level validator
- How to write an audit-log extension (see #830)
- How to write a custom predicate (runtime and codegen)
- How to write unit tests
- How to apply ordering on edges

Please commen

[2020-10-09 18:37] asonawalla opened #833 "Hooks for Read Operations"
Reading the docs and code, it looks like ent exposes the ability to register hooks in mutating operations, but not on reads.  The use case I'm trying to solve for is one in which sensitive data is encrypted before being persisted to a database and then decrypted on subsequent reads, assuming the caller provides the appropriate keys/metadata.  Given the lack of read hooks, the approaches to this pr

[2020-10-09 18:52] a8m commented on #833
Hey @asonawalla and thanks for raising up this issue! I'll answer about it briefly and add more details about it tomorrow (it's a holiday evening atm here).

The only place for hooking into queries is the privacy layer (you won't find in the website, because docs is in progress). However, @alexsn and I just discussed about it yesterday, and agreed that we want to add support for read-hooks/interce

[2020-10-09 18:57] asonawalla commented on #833
Perfect, I'll get a bit familiar with the privacy layer and circle back with any thoughts on API.  Enjoy your evening!

[2020-10-10 03:23] dilipkk-foyernet commented on #831
@a8m @alexsn I have checked hooks are providing the mutation operation support. I have a requirement about injecting some params from the auth context (based on user permissions) to both update and read APIs. It would be great to have hooks to support both read and write operations. Any suggestions on the same?

[2020-10-10 05:34] a8m commented on #831
Hey @dilipkk-foyernet, see https://github.com/facebook/ent/issues/833#issuecomment-706348111, and let's continue the discussion in https://github.com/facebook/ent/issues/833.

[2020-10-11 01:29] dilipkk-foyernet commented on #833
This is needed feature for us also, we want to inject some params to both read and write apis based user context. This is useful for security and customisation.

[2020-10-11 01:37] zk-123 opened #834 "How to specify the table name instead of using default plurals"

[2020-10-11 02:54] dilipkk-foyernet opened #835 "graphql union type support for entgql"
We have use case using graphql interfaces and union types, please help me with  to integrate with ent generate models when union types in graphql schema.
Example:
We have a notification table that contains notifications about various resources like the users, the devices, and the projects.
[code]

[2020-10-11 03:52] a8m commented on #834
Hey @zk-123,
Use the schema config option.

See: https://entgo.io/docs/schema-config/#custom-table-name

[2020-10-11 03:52] #834 closed

[2020-10-11 06:25] a8m commented on #830
Can we close this issue @cliedeman?

[2020-10-11 08:14] cliedeman commented on #830
Hi @a8m yes we can. I will try out the suggestion probably tomorrow. Should this be added to the docs under a guide or cook book section?

[2020-10-11 08:29] vojta001 commented on #400
Can I kindly ask what the current state of this feature is? And what are the plans? Don't we want to add this to #46?

Or at least, is there any workaround? Defining a unique index over multiple columns is fine, but it doesn't help with the relations/edges, that still use the default `id` column.

[2020-10-11 08:41] vojta001 commented on #400
To add my opinion: I feel like composite primary keys used for relations are kinda frequent as it provides an additional level of consistency enforcement.

Emulating composite PK by putting multiple values into a single column does not seem important to me. It is a workaround for people who want a feature their DB does not provide, isn't it?

[2020-10-11 11:56] a8m commented on #541
Closing due to no activity.

Feel free to re-open this issue if you have a different proposal for this feature. Thanks

[2020-10-11 11:56] #541 closed

[2020-10-12 10:21] dilipkk-foyernet commented on #743
@a8m We also have this use case. Is it possible to add support for pseudo edges that might solve this issue?

[code]
Pseudo edges are not persisted in the DB but provide functionality for the application to deal with edges of the same type, this can help to solve graphql interfaces in entgql.
Any thoughts on this?

[2020-10-12 10:22] dilipkk-foyernet commented on #835
This is might be related to this. https://github.com/facebook/ent/issues/743

[2020-10-12 11:01] dom3k opened #842 "Question: Advenced where block"
Hi. One the beginning I want to thank You very much for your work on this project.

I have two tables:
[code]

Ent representation:

[code]

I want to execute query like this:
[code]

So I do not have any idea how it should looks like in ent.
I do not know how i should define where statement.

[code]

Can it be done without raw sql query? Thanks.

[2020-10-12 13:16] a8m commented on #842
Hey @dom3k and thanks for the kind words 😃

I'll give it a look later today (or tomorrow), working on documentation at the moment (https://github.com/facebook/ent/pull/843).

[2020-10-12 18:03] DeedleFake opened #844 "proposal: setting an edge during creation should return the set edge instance on the edge of the returned object"
When an entity is created, the edges of the entity returned by `Save()` are `nil`, even if those edges were set during the creation. For example, given two entity types, `A` and `B`, with an edge between them,

[code]

The edge can be manually set via `a.Edges.B = b`, which feels very wrong, or it can be manually loaded via `a.QueryB()`, but that requires a pointless database access. Since the ins

[2020-10-12 19:12] oneirio115 opened #845 "i can't entc describe ./ent/schema"
entc/load: # command-line-arguments
.entc\entc_github.com_User_app_ent_schema_1602529793.go:107:23: ed.Annotations undefined (type *edge.Descriptor has no field or method Annotations)
.entc\entc_github.com_User_app_ent_schema_1602529793.go:124:3: cannot use fd.Enums (type []string) as type map[string]string in field value
.entc\entc_github.com_User_app_ent_schema_1602529793.go:137:23: fd.Annotatio

[2020-10-12 20:10] a8m commented on #845
Hey @oneirio115!

It looks like entc version is different from ent version. Please see [this doc](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent) about how to keep the version compatible between entc and ent, or just use:

[code]

[2020-10-12 20:10] #845 closed

[2020-10-12 20:14] a8m commented on #844
Hey @DeedleFake and thanks for proposing this option.

Maybe. Or we can add an option to enable it in codegen time (e.g. using schema annotations). Let's start a discussion about it here. I'll start thinking about it, and return with more thoughts afterwards.

[2020-10-13 11:47] a8m commented on #830
Yeah, I wanted to create another page for faq or a cook-book for ent - https://github.com/facebook/ent/issues/832.

[2020-10-13 12:14] a8m commented on #833
Hey, the privacy doc is available now in [entgo.io/docs/privacy](https://entgo.io/docs/privacy/).

[2020-10-13 17:28] a8m commented on #842
Hey @dom3k, there are a few ways to do it, and you can also add it to your generated assets (using custom templates).

I'm pasting here 2 examples how to do it. The 1st version is preferred imo.

[code]

Closing, but feel free to continue the discussion if you still need help with this.

[2020-10-13 17:28] #842 closed

[2020-10-13 19:59] DeedleFake opened #849 "proposal: allow specifying extra constraints on UpdateOne and DeleteOne instances via Where()"
The `Where()` method is only available for `Update` and `Delete`, not for `UpdateOne` and `DeleteOne`, but it would be quite useful to be able to use it on those simply as a way of specifying extra constraints. For example, let's say that you have two entities, `A` and `B`, where `A` has an edge to `B` but that edge is unique the other direction. The user wants to update a `B` belonging to a certa

[2020-10-13 21:44] asonawalla commented on #833
I've been thinking through my use case and the ideal API a bit more.  For symmetric encryption, defining a `ReadHooks()` method in the schema which has access to field getters and setters will be able to convert persisted ciphertext into plaintext once the query has been run.  Unfortunately modifying fields in this way would break the ability to use that field in a query predicate, e.g. it wouldn'

[2020-10-14 05:25] jhole89 opened #850 "Question: How to use gremlin as a storage-driver"
### Description
I've recently moved to using ent however am seeing issues with the generated client.go, specifically `Open`. While trying to follow the CRUD example:

[code]

Following this I receive the error `unsupported driver: "gremlin"` and when inspecting my generated client.go it seems that `dialect.Gremlin` is missing from the switch statement:

[code]

### Versions
 - Go: 1.15
 - Ent 0.4.

[2020-10-14 05:52] a8m commented on #850
Hey @jhole89,
The default storage driver for ent is SQL, if you want to use Gremlin, you can configure it using the `--storage` flag. See [this example](https://github.com/facebook/ent/blob/master/entc/integration/gremlin/ent/generate.go#L7).

Please note that as [mentioned in the website](https://entgo.io/docs/dialects/#gremlin), Gremlin is experimental atm.

[2020-10-14 05:52] #850 closed

[2020-10-14 10:02] a8m commented on #465
The `Policy` option was added to `Mixin`. Please see [entgo.io/docs/privacy](https://entgo.io/docs/privacy/) for more information.

Thanks for proposing this!

[2020-10-14 10:02] #465 closed

[2020-10-14 11:44] a8m opened #852 "proposal: auto-solve merge-conflict issues in codegen"
If the generated ent package contains merge-conflicts, there are 2 cases - If the user schema **doesn't** depend on the generated assets, running `go generate` solves the issue (and the issue is resolved). However, if the schema package imports the generated package (or depends on it somehow), the ent-loader won't be able to load the schema (due to syntax or build error), and resolving the merge-c

[2020-10-14 12:54] dom3k commented on #842
Excellently! It works great. Thanks :)

[2020-10-14 17:57] jhole89 commented on #850
@a8m thanks. Can I suggest adding more info the page linked, maybe pointing to https://entgo.io/docs/code-gen/#code-generation-options with an explicit example? Requiring users to find at example listed in the source code (and one not listed under ./examples) isn't a great introduction.

[2020-10-14 18:40] cliedeman commented on #830
@a8m Thanks sounds good to me. I tried out your method and it worked great.
Thanks.

[2020-10-14 18:40] #830 closed

[2020-10-15 14:08] masseelch commented on #830
Well, your solution is working very well for me. Thanks :-)

[2020-10-15 14:39] a8m commented on #850
Sure, we can add this. Thanks for the feedback

(mentioning here #832, to not forget it when I'll update the website)

[2020-10-15 14:41] a8m commented on #830
Wonderful!

I'll add it to the website in the upcoming days. Currently focused on something else 😃

[2020-10-15 18:23] DeedleFake commented on #849
Here's a possible alternative: Add an equivalent of `Only()` to `Update`.

[2020-10-16 04:13] clearcodecn opened #856 "user-group M-M and O-M"
I run this example (https://entgo.io/docs/schema-edges/#o2m-two-types)[https://entgo.io/docs/schema-edges/#o2m-two-types]

and I have one more relationship to added:

* one user can create many groups
* one group can only belongs to one user.

I tried to add this code but get error:

[code]

then I run `go generate` . and run migrate. get error:
[code]

[2020-10-16 04:46] alexsn commented on #856
You can't have two edges with the same name (i.e groups in User.Edges).

[2020-10-16 06:59] dilipkk-foyernet opened #857 "entgql Aggregate queries"
@a8m How to design aggregate queries with entgql?

Let say, we have users and pets. User can own many pets, we want to show in the user listing query that how many pets they own(count). Please help me with this example.

[2020-10-16 07:27] a8m commented on #856
Hey @clearcodecn,
You can give them different names as follows:

[code]

[code]

I'll add a check for it the codegen to provide more meaningful error.

[2020-10-16 07:27] #856 closed

[2020-10-16 07:30] a8m commented on #857
Hey @dilipkk-foyernet,
You can use the `Count` function for it as follows:

[code]

It's part of the pagination-extension for gqlgen. See the [pets example](https://github.com/facebookincubator/ent-contrib/blob/79748a/entgql/internal/todo/ent/pagination.go#L368).

[2020-10-16 07:47] dilipkk-foyernet commented on #857
Thanks @a8m I got this part. We need to handle this at application level right right, based collect field by gqlgen (like totalPetsCount). This is different from totalCount as this is users count.
My question is how to integrate this with the Connection object returns only User object as that is generate pagination extension.

[2020-10-16 09:18] a8m commented on #857
You can't add additional fields to the `UserConnection` that entgql generates (see [template-code](https://github.com/facebookincubator/ent-contrib/blob/master/entgql/template/pagination.tmpl#L234-L238)). You can either override this template, or return a new connection object for your use-case.

[2020-10-16 15:34] clearcodecn commented on #856
@a8m  Thanks for your help
 👍

[2020-10-19 00:51] jhole89 commented on #850
@a8m Another suggested addition for the site: it would be good to add that if running standard gremlin-server (which uses int64 types for ID rather than Neptune's string ID type), the go generate command should be `//go:generate go run github.com/facebook/ent/cmd/entc generate --target . --storage=gremlin ./schema`.

[2020-10-19 12:24] dilipkk-foyernet opened #863 "Recurisve edge query"
When we have an edge like a parent, children (self) how to query all the direct and indirect children of an item.
Example:
[code]
We can easily get direct children of parent task but how to get indirect children (children or children ....)?

[2020-10-19 13:44] a8m commented on #852
Closed with #862

[2020-10-19 13:44] #852 closed

[2020-10-19 13:44] a8m commented on #857
Closing since there's no action to take here. Feel free to continue the discussion if you have questions/comments about this.

[2020-10-19 13:44] #857 closed

[2020-10-19 13:50] a8m commented on #863
Hey @dilipkk-foyernet, I think the following snippet should work (don't have time to test it atm):
[code]

[2020-10-19 14:30] dilipkk-foyernet commented on #863
Thanks @a8m, this is for 2 levels, but this is specifying the relation manually than leveraging recursive relation. We can do this with for now, but it would be good to have support for native recursive edge queries. Like getting all the tasks under a particular task, it may go 3-4 levels down. It is sometime good idea to manually specify also, as most of the cases it works except some rare cases.

[2020-10-19 14:30] #863 closed

[2020-10-19 19:04] a8m opened #864 "proposal: add support for codegen hooks"
If one of the hooks returns an error, the codegen won't generate any asset.
This can be useful for registering schema-level validators (e.g. ensure all fields have a specific annotation), or can make it possible to add additional info for the schema before generating the assets.

[2020-10-20 11:44] cliedeman opened #866 "proposal: Check if migrations Needed"
Use Case:
I am using ent with a [external migration tool](https://github.com/golang-migrate/migrate) for sql that ent does not currently support.

I would like to know if Migrations _need_ to be run as a way to check if the external created schema matches what ent expects.

[2020-10-21 08:55] a8m commented on #866
Hey (again) @cliedeman and thanks for proposing this issue 😃
I actually want to add support  for this, and it should be easy. I'll add more details about it in the upcoming days.

[2020-10-21 09:47] a8m commented on #748
Closed with #751

Thanks for your contribution @day-dreams 😃

[2020-10-21 09:47] #748 closed

[2020-10-21 12:37] aight8 opened #869 "proposal: add an optional to load edge-ids (foreign-keys) in query builder"
Maybe this is a uniqueness of relational DB's. But edge ID's are a part of a row (Assuming the foreign key is on the side of the rows table).
However this has big benefits:
- You can generally check if a relation exists
- I can use the relation ID for various things (where the ID only is enough, links/actions/other ID only deterministic things like loading an image, and the ID is a hash)

Is it po

[2020-10-21 12:51] aight8 opened #870 "My Experience & Feedbacks"
I have wrote down some notes while using ent on daily basis since month. I wrote a lot custom templates.
I want to share those notes/thoughts now in a single post quickly before it lands in nirvana.

### Edge Field:

- Rename ```Unique()``` to ```Single()```, since a ```Unique()``` method is also used for indexes to mark it "uniqueness", it always confuses me at the first sight. Another idea were

[2020-10-21 13:04] a8m commented on #869
Hey @aight8 and thanks for proposing this issue.
It was actually raised before in the issue tracker a few times, so I think we need to address this.

I have a few ideas how such API should look like (and I'll write them later), but you're welcome to write here your suggestions as well.

[2020-10-21 13:09] a8m commented on #870
Hey (again) @aight8 and thanks for taking the time to post it here 😃

Let me know when it's no longer WIP, and I'll go over it.

[2020-10-21 13:19] aight8 commented on #869
huck, sry I posted this issue by mistake... I wrote it as part of my other "Feedback" issue.

[2020-10-21 14:46] xbassols opened #871 "question: Spatial Data Types for MySQL"
Hello!

I've been trying to find this in the documentation without luck. Is there a way to use the MySQL Spatial Data Types?

If there is none, what approach should I follow in order to use them keeping compatibility with ent?

Best,

[2020-10-21 16:49] ernado opened #872 "Feature Request: native PostgreSQL enums"
E.g. something like

[code]

Instead of `TEXT`.

[2020-10-21 18:10] a8m commented on #872
Hey @ernado, this can be great, but we need to discuss how we're going to handle migration - the process of updating Postgres enum types (e.g. dropping values) is more complicated than MySQL.

[2020-10-21 18:11] prmsrswt opened #873 "Bug: Creating an entity named `Client` doesn't go well"
### What happened
I created a new entity named `Client` and ran `go generate ./ent` successfully, but the resulting code had errors, so the application won't build. On some investigation I found that we are using a struct named `Client` in the generated code already which was getting mixed with the `Client` entity.

### How to reproduce
- Create an entity named `Client`, `entc init Client`
- Gener

[2020-10-21 18:22] a8m commented on #873
Hey @prmsrswt and thanks for reporting this issue, it looks like the `Client` identifier is missing [in this list](https://github.com/facebook/ent/blob/master/entc/gen/type.go#L1253-L1276). Do you want contribute this change? 😃

[2020-10-21 18:24] prmsrswt commented on #873
Well, why not. I'll create a PR for it.

[2020-10-21 18:42] a8m commented on #873
Wonderful, thanks :)

[2020-10-22 04:54] #873 closed

[2020-10-22 05:52] a8m commented on #871
Hey @xbassols, can you please comment here what MySQL you try to use, and how do you use it in Go (the Go type)? I want to check this by myself. Thanks

[2020-10-22 06:55] xbassols commented on #871
I would like to use the geometry type field so I can use the ST_ functions in MySQL. I don't exactly know how I would parse that in Go but probably as the JSON type converting the data from [WKT](https://dev.mysql.com/doc/refman/5.7/en/gis-data-formats.html#gis-wkt-format) to GeoJSON.

[2020-10-22 08:06] cocotyty opened #875 "Migrate maybe should create a index when `WithForeignKeys(false)` ."
Query becomes very slow if no index here.

[2020-10-22 09:16] dilipkk-foyernet commented on #863
/https://www.postgresql.org/docs/current/queries-with.html is there plan to support common table expressions like "WITH"? @a8m

[2020-10-22 09:17] xserve98 commented on #46
Is there any plans for query caching to be built in (say to redis or memcached)?

[2020-10-22 09:40] a8m commented on #875
Hey @cocotyty and thanks for raising up this issue.

Actually this was added by @day-dreams and I think it's necessary, but I'm not sure we should make it as default.
Maybe you can use the [`schema.Indexes`](https://entgo.io/docs/schema-indexes/) option for now? (it won't work for M2M edges).

[2020-10-22 09:44] a8m commented on #46
@vojta001, I'll comment my thoughts in #400

[2020-10-22 10:53] a8m commented on #875
Update: @cocotyty, is there any additional option you're proposing except using the `Indexes` option in the schema? Thanks

[2020-10-23 08:21] maxiloEmmmm opened #878 "question: query clone loss eager load and gen method name"
## Q1
[code]

## Q2
[code]
Is this deliberately designed?

[2020-10-23 08:42] masseelch opened #879 "proposal: make entc commands accessible via a package"
Make the commands of the `entc` cli available to use as package (it already is possible with the `generate` command).

I'd like to wrap the `describe` and `init` commands in my own command. I am currently working on a skeleton generator for new go apps (they all follow a common pattern).

[2020-10-23 08:48] masseelch commented on #879
I am happy to contribute, if you want.

[2020-10-23 08:57] kidlj commented on #870
Yeah this feature prohibits me from using ent in my production project recently, as I once reported at issue #548, it causes confusion, and it's hard to migrate to plain sql or other ORMs once such tables created using ent.

I really hope that in the future when adding edge migration feature, we can reconsider this design, and make foreign key columns named by following `From` edges again.

As @a8

[2020-10-23 08:57] a8m commented on #879
Hey @masseelch and thanks for your proposal.

I'm actually thinking about renaming `entc` to `ent` and just expose the following commands:

[code]

If we want to make some commands like `init` and `describe` accessible via a package, we need to create a different package(s) for this (and not `cmd`), like we have provide today with [`entc`](https://entgo.io/docs/code-gen/#use-entc-as-a-package).

S

[2020-10-23 09:05] a8m commented on #878
Hey @maxiloEmmmm and welcome again 😃

Regarding the first question/issue, we should fix it. If you want to contribute this change, you can start from changing the [`generated Clone`](https://github.com/facebook/ent/blob/master/entc/gen/template/builder/query.tmpl#L256-L268) method (see the naming convention in [line 31](https://github.com/facebook/ent/blob/master/entc/gen/template/builder/query.tm

[2020-10-23 09:29] maxiloEmmmm commented on #878
@a8m
Q2:
i want use words list to reflect set method for https://github.com/maxiloEmmmm/go-web/blob/5b44d6b89a21ba71150853193cff81c5edaf5ee5/contact/curd.go#L225

### words list like this:
- https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L770
- https://github.com/facebook/ent/blob/17abe2d60fdfa91639369fb2d0f5cb7ba4950ec1/entc/gen/func.go#L271

if words list no

[2020-10-23 09:29] maxiloEmmmm commented on #878
@a8m
Q2:
i want use words list to reflect set method for https://github.com/maxiloEmmmm/go-web/blob/5b44d6b89a21ba71150853193cff81c5edaf5ee5/contact/curd.go#L225

### words list like this:
- https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L770
- https://github.com/facebook/ent/blob/17abe2d60fdfa91639369fb2d0f5cb7ba4950ec1/entc/gen/func.go#L271

if words list no

[2020-10-23 10:03] a8m commented on #878
Will it change in the future?

No. However, we may add more words to it in the future. I'll keep you updated if that happens.

[2020-10-23 10:16] maxiloEmmmm commented on #878
@a8m ok

[2020-10-23 12:02] masseelch commented on #879
I'd welcome the rename to `ent`. Cobra for example has the cli named `cobra` too.

I'd actually rewrite the `cmd` package to follow the cobra convention (the way the cobra generator generates the commands). We can add `describe` and `init` functions to `entc` like you already did with `generate`.

[2020-10-24 05:39] masseelch commented on #879
I additionally like to have a command to print the graph. Maybe we could construct a representation of the graph in the dot-language.

[2020-10-25 07:02] xserve98 commented on #46
what's the expected release date?

[2020-10-25 13:47] a8m commented on #400
Hey @vojta001! Thanks for your inputs and sorry for the delayed response.

I think before we start to work on this feature or accept a PR for adding it, we need to agree first on the API and its implementation.

If you have a suggestion for such API, please write it here and we'll go over it. Once it's accepted, we can work on the implementation (or accept a PR for it).

[2020-10-25 23:09] tankbusta commented on #811
I know this is closed but I just got around to giving this another try and it worked perfectly :)

I did have to update and use @Zn4rK's `entc.Generate` changes to get UUID's to work correctly with Cursors. Without setting `Ident` and `PkgPath` for the IDType, it would default to `[16]byte` and cause paginated queries to fail because it'd be using the bytes and not the string in queries. Is this s

[2020-10-26 06:04] dilipkk-foyernet commented on #332
@a8m is this integrated with entgql?

[2020-10-26 06:16] dilipkk-foyernet opened #883 "How to query array fields"
Hi @a8m, Thanks for this library, we are using it for building a new product and we have a requirement of tagging(tags or labels) various resources of the product. We are planing keep `field.Strings("tags").Optional()` as a column on the resource which is tagable. The generated code, has only `TagsIsNil` and `TagsNotNil` for querying (filename: where.go), but we have the following use cases:
1. Re

[2020-10-26 07:46] clearcodecn commented on #139
I need it.

[2020-10-26 07:55] dilipkk-foyernet commented on #883
Also, is Postgres arrays supported by ent framework like any or @> (contains) operators?

[2020-10-26 07:56] clearcodecn commented on #856
@a8m

I had tried follow code to generate schema. but can't build.

* M2M  group <-> user
* O2M  user -> group  ( user creates the group)

so I need to add `user_id` to `group`. but it said Duplicate field 'id'.
I think the only way is change the `id` string. but seems unreasonable in name.

[code]

// group.go
[code]

// user.go
[code]

[2020-10-26 08:00] cliedeman commented on #866
@a8m Thanks, I looked over the code briefly. I think would just need to refactor the migration code int a plan and apply phases and this feature should be very easy to implement after that. Also somewhat related to offline migrations

[2020-10-26 08:04] cliedeman commented on #832
- Using Custom fields (somewhat related to custom predicates) - https://github.com/facebook/ent/issues/871, https://github.com/facebook/ent/issues/883
- General section under query performance - this comes up a lot in different forms. Limiting columns, join types
-

We could probably add a section for some postgres specific questions - enums, postgis, arrays

[2020-10-26 08:47] clearcodecn opened #885 "How to add more fields in middle table with M2M relationship?"
[code]

it will create `group_user` schema, how to add more fields to the schema?
eg, group_admin, create_time ...

[2020-10-26 12:00] a8m commented on #885
Hey @clearcodecn and thanks for opening this issue.

Right now, the option for attaching fields/properties to edges is not supported yet by the framework and it's part of our roadmap (see #46).

Closing, but I'll update this issue when it's done.

[2020-10-26 12:00] #885 closed

[2020-10-26 12:32] a8m commented on #883
Hey @dilipkk-foyernet and welcome again 😃

Currently, `Strings`, `Ints` and other slices are implemented using the `JSON` datatype and you can use the `sqljson` package for querying them - I just added the `ValueContains` predicate.

You can also use custom templates for generating type-safe predicates for these fields. For example:

[code]
And then, use them as follows:

[code]

[2020-10-26 12:37] a8m commented on #883
@dilipkk-foyernet - does it answer you question? If so, can we close this issue?

[2020-10-26 12:38] dilipkk-foyernet commented on #883
this is good, what about multiple tags, can we use `user.And` and `user.Or`conjuctions to achieve our use cases? @a8m also, does it work with sqlite or only postgres?

[2020-10-26 12:39] a8m commented on #883
Yes

Yes

Please report if you encounter any issue.

[2020-10-26 12:41] dilipkk-foyernet commented on #883
sure I will give a try and closing the issue for now and if I encounter any problems, I will reopen it. Thanks a lot for the quick reply and solution.

[2020-10-26 12:41] #883 closed

[2020-10-26 12:58] cliedeman commented on #872
@a8m would a pr be accepted that does not implement migrations? Currently custom fields don't support migrations anyway so I am already using a third party migration tool

[2020-10-26 15:04] a8m commented on #872
This will break the current behaviour.

Maybe we can add an annotation for this in the schema, and mention there that it does not support migration, or just add support for migration...

[2020-10-26 16:20] ernado commented on #872
Opt-in (via annotation?) would be good starting point.

[2020-10-27 10:45] a8m commented on #864
Feature was added with #867. See [entgo.io/docs/code-gen/#code-generation-hooks](https://entgo.io/docs/code-gen/#code-generation-hooks)

[2020-10-27 10:45] #864 closed

[2020-10-27 15:57] dilipkk-foyernet commented on #883
[code]
@a8m, can you please help me with this one, how to add this to template? I am already using entgql templates.

[2020-10-27 19:16] #878 closed

[2020-10-27 19:20] dilipkk-foyernet commented on #883
[code]
I was able to generate the code snipet using this template.

[2020-10-27 21:29] roffe opened #889 "How to just update without SELECT entity"
.Save(ctx) returns the entity after updating it.
.Exec(ctx) does not return a entity but it under the hood still does a _, err := Save() which makes a single call update into 2 queries executed on the server
[code]
How do i make ENT only do the UPDATE and not a SELECT directly after?

[2020-10-28 02:16] maxiloEmmmm commented on #878
@a8m no time for pr recently, tks

[2020-10-28 04:28] dilipkk-foyernet opened #890 "partial update to json field"
@a8m is it possible to update JSON partially using ent? we are planning to store **settings** as JSON field and wondering on how to do partial updates to the JSON structure?

[2020-10-28 06:26] mgabeler-lee-6rs opened #891 "entc/gen: runtime/runtime.go generates wrong UUID import depending on module cache state"
This is basically a rehash of #773 but with more detail and a minimal repro repo attached.

Setup:
* Make a minimal module using `ent`
* Make a schema that has a UUID field using `github.com/google/uuid`
* Add a hook to the schema

Works:
* Clean your module cache: `go clean -modcache`
* Run ent code generation
* Build your project

Fails:
* Seed your module cache with `github.com/gofrs/uuid`:
  *

[2020-10-28 06:40] mgabeler-lee-6rs opened #892 "doc: Hook Helpers example doesn't work due to circular dependency"
The Hook Helpers example here won't work: https://github.com/facebook/ent/blob/master/doc/md/hooks.md#hook-helpers

The example shows importing the _generated_ `hook` package from the `schema` package. But to load the schema package to run generation, it has to parse OK ... which won't work if generation hasn't run.  If you try, you get an error like this:
[code]

Thus, the circular dependency.

A

[2020-10-28 07:09] a8m commented on #891
Hey @mgabeler-lee-6rs and thanks for reporting this issue.

What version do you use for ent? It should be fixed in the latest version.

Can you please update to latest master and report if you still get this

[code]

[2020-10-28 07:38] a8m commented on #892
Hey @mgabeler-lee-6rs!

Can you please report what version do you use at the moment for ent?

Please see the yellow note in this doc [entgo.io/docs/hooks/#schema-hooks](https://entgo.io/docs/hooks/#schema-hooks), and the testing examples ([1](https://github.com/facebook/ent/blob/master/entc/integration/hooks/ent/schema/user.go), [2](https://github.com/facebook/ent/blob/master/entc/integration/hook

[2020-10-28 08:04] a8m commented on #890
Hello (again) @dilipkk-foyernet 😃

We don't support this feature at the moment, but it's definitely in our TODO list. I'll keep this issue open.

[2020-10-28 08:10] a8m commented on #889
Hey @roffe!

The `Exec` method is just a wrapper around `Save`, but definitely can be improved.

You can use the [update builder](https://entgo.io/docs/crud/#update-many) to avoid the extra query as follows:

[code]

[2020-10-28 08:31] mgabeler-lee-6rs commented on #892
I'm using v0.4.3 with go 1.15.2, but this issue exists equally on latest master, per below.

The circular dependency I'm talking about here is not in the runtime, but in the code generation step. The problem is that the schema file itself tries to import a package that doesn't exist if the code gen has never run before. When the code generator tries to load this file, it fails, just as trying to c

[2020-10-28 08:35] mgabeler-lee-6rs commented on #891
I'm using the latest release -- v0.4.3 -- but the problem reproduces exactly the same on `master`. I've updated my repro repo to use latest master so you can see for yourself. Please take a look (the repo is _miniscule_) and try the steps out for yourself to see.

[2020-10-28 08:36] a8m commented on #892
There's no way to solve this at the moment, except running the codegen once without the schema-hooks (for generating the first skeleton) and then adding the schema-hooks and re-run codegen.

Maybe we can move the hooks helpers to `facebook/ent` to simply this flow in the future.

[2020-10-28 13:00] roffe commented on #889
@a8m thank you, i was using
[code]
I will use this pattern instead for when just updating and not needing a read-back of the value(s)

IMHO it would still be a good improvement if Exec() out-of-the-box wouldn't do a query under the hood after it saves the data :)

[2020-10-28 15:42] gidiw opened #897 "Failed to create a field of type Strings ([]string) - problem when migrating json field into MariaDB"
I was trying to add a filed of type Strings to one of our schemas.
After generating the code we got an error when launching our service (with MariaDB):

`validating schema: sql/schema: changing column type for "tags" is invalid (json != longtext)`

This was diagnosed by Ariel Mashraki as hitting the issue: https://mariadb.com/kb/en/json-data-type/

[2020-10-28 16:13] a8m commented on #897
Thanks for reporting this @gidiw. I'll update you once it's fixed.

[2020-10-28 18:11] dilipkk-foyernet opened #900 "proposal: Add support for immutable edges"
I couldn't find a option to make edge relation immutable. @a8m can you please help me with this?

[2020-10-28 20:16] a8m commented on #889
Sure, I agree. I'll update this issue when we'll add it. Of course, you're welcome to contribute it if you want.

[2020-10-28 20:16] #889 closed

[2020-10-28 20:48] #891 closed

[2020-10-28 20:50] a8m commented on #891
Thanks for reporting this issue with a proper reproducible example. It helped me tackling this quickly.

Fixed via #901.

[2020-10-28 20:52] mgabeler-lee-6rs commented on #891
Thank you much for the quick fix :heart:

Confirmed it fixes my "real" app in addition to the repro demo :smiley:

[2020-10-29 04:30] fezho commented on #430
I just find another way to solve this issue, maybe a better one. Use build constraint  `// +build tools`, this will be ignored for builds, but included for dependencies. See: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

So, just add a file: tools/tools.go:

[code]

[2020-10-29 08:02] a8m commented on #900
Hey @dilipkk-foyernet!

There's no such option in ent. However, you can add a hook for enforcing this logic by yourself.

[2020-10-29 08:10] a8m commented on #875
Hey, I was thinking about it and we're not going to support this.

If users want to ignore FKs, that's fine, but they'll have to implement it themselves or define it in ent/schema (both options are simple). Migration code is already too much complicated and I don't think this option should also be added.

Closing, but feel free to continue the discussion if you need help with solving this issue 😃.

[2020-10-29 08:10] #875 closed

[2020-10-29 08:32] masseelch opened #902 "How to override generated code form template"
When i have an external template like this:

[code]

I run `entc generate ./ent/schema --template templates/template.tmpl` and the file `create_from_struct.go` is generated. If i afterwards make changes to my template and rerun the generator, there are no changes in the generated code. How can i tell the generator to regenerate that file?

[2020-10-29 08:35] masseelch commented on #902
Nevermind. The header was missing. For everyone landing here, i had to add the following to my template:

[code]

Full file is now:
[code]

All changes are now correctly refelcted in the generated code.

[2020-10-29 08:35] #902 closed

[2020-10-29 08:40] dilipkk-foyernet commented on #900
@a8m ok sure thanks for your response, should I keep the issue open as you marked as **Feature request**?

[2020-10-29 09:21] masseelch commented on #658
I indeed currently am developing something like that. I create simple crud handlers for `net/http` using external templates. It is far from ready (not a single test so far).

I will post a link when i reached a state where it can be useful to others.

[2020-10-29 16:10] vojta001 commented on #400
I don't think it implies major API changes, it is mostly about query generator. I'll try to sum it up

* There has to be a way to mark the primary key. Either by marking all the columns (which requires the ability to specify which columns is for which edge) or by marking some columns and some edges.
* All queries for relations must make sure all of the columns of the PK of the target table match.

[2020-10-30 07:18] longit644 opened #903 "question: Re-query entity inside "Update" action"
Hello,

I'm a little bit confused about the code of `sqlSave` in the builder for updating a single entity. Why do we need to make a query to get the result using `_spec.Assign` and `_spec.ScanValues`? Why don't you apply mutations to in-memory object?

https://github.com/facebook/ent/blob/2bd262a04cf07aea36d242025b291050994d983a/examples/o2o2types/ent/card_update.go#L385-L394

[2020-10-30 07:29] a8m commented on #903
Hey @longit644, because it's possible to update a partial of the entity. For example:

[code]

If you want to avoid this additional query, use the `Update` builder as mentioned in https://github.com/facebook/ent/issues/889#issuecomment-717770387.

[2020-10-30 11:08] longit644 commented on #903
That's awesome, thanks for the very fast response @a8m!

As mentioned in https://github.com/facebook/ent/issues/889#issuecomment-717770387, `Exec` method doesn't return new values of the update action.

IMHO, we still use `Save` method without an additional query by applying mutations to `oldValue`.

https://github.com/facebook/ent/blob/2bd262a04cf07aea36d242025b291050994d983a/examples/o2o2types/e

[2020-10-30 11:14] masseelch opened #905 "question: StructTag on edges"
This is my generated model. How to change the tag on `edges`?

[code]

[2020-10-30 11:27] a8m commented on #903
The `oldValue` function is executed in the mutation only when you try to load the old value of a field and it doesn't exist in the mutation state (unrelated to your use case). For example:

https://github.com/facebook/ent/blob/2bd262a04cf07aea36d242025b291050994d983a/entc/integration/hooks/ent/schema/user.go#L82-L92

[2020-10-30 11:29] a8m commented on #905
Hey @masseelch, you can use the `edge.Annotation` for this. For example:

https://github.com/facebook/ent/blob/d3849f9eb7a9ff6e98f50970918718292e5df944/entc/integration/ent/schema/card.go#L21-L33

[2020-10-30 11:29] #905 closed

[2020-10-30 11:29] a8m commented on #905
Closing this issue, but please feel free to re-open if doesn't answer your question or you need help with that.

[2020-10-30 12:34] masseelch commented on #905
I don't really understand what schema.Annotation is.

[2020-10-30 12:39] a8m commented on #905
You can read more about it here - https://entgo.io/docs/schema-annotations

But in your case, it’s simple, just follow the example I mentioned above - https://github.com/facebook/ent/issues/905#issuecomment-719499393

[2020-10-30 12:42] masseelch commented on #905
Well, yes, it looks simple. But there is no `schema` that has an `Annotation` exported.

[2020-10-30 12:54] masseelch commented on #905
Do i need to be on master branch for this?

[2020-10-30 12:56] masseelch commented on #905
Yeah, that was it. Thanks. Working now :-)

[2020-10-30 13:01] masseelch commented on #905
One little detail: Providing a struct tag on fields or edges will automatically add the `json` tag. With the `schema.Annotation` i have to add the tag myself.

Expected behaviour or is this a bug?

[2020-10-30 13:20] BrentChesny commented on #46
Seeing as the privacy layer is marked as complete, can we expect a release that contains this functionality soon?

Thanks a lot for your hard work on this, love the package!

[2020-10-30 14:44] a8m commented on #46
Thanks for the feedback @BrentChesny, it is great to hear that.

I will release a new version in the upcoming days, but if it's urgent, you can just use the latest master (it's stable).

[code]

[2020-10-30 14:46] a8m commented on #905
This is intended. This annotation gives you the option to override the struct-tag.

I'll release a new version in the upcoming days.

[2020-10-30 20:16] najBaby commented on #658
Thank you. I will be happy to see this projection.

Le jeu. 29 oct. 2020 09:21, Jannik C <notifications@github.com> a écrit :

[2020-10-30 21:07] marwan-at-work commented on #663
@a8m any luck here and/or anything I can do to help?

Thanks!

[2020-10-31 03:28] tommynurwantoro opened #906 "Nullable Foreign Key UUID"
Hello,

Why can't we create schema foreign key with type nullable UUID?
Here is my sample code:
[code]
parent_bucket_id is the foreign key.
I already use Optional() in parent_bucket_id, but it didn't work, the field is still NOT NULLABLE. Is it expected?

Thanks.

[2020-11-01 07:46] a8m commented on #906
Hey @tommynurwantoro, in order to define relationships (and their foreign-key), you should use the [Edges](https://entgo.io/docs/schema-edges/) option. If we take your example, it will look as follows:

[code]

See the [O2M example](https://entgo.io/docs/schema-edges/#o2m-same-type) in the doc.

Closing, but feel free to continue the discussion if you still need help.

[2020-11-01 07:46] #906 closed

[2020-11-01 07:49] a8m commented on #903
Closing since there's no further action to take here. Feel free to continue the discussion if you still need help.

[2020-11-01 07:49] #903 closed

[2020-11-01 15:57] dilipkk-foyernet opened #907 "How to inject global logger like zap into schema hooks"
Hi @a8m, I want to inject a zap logger to log any errors that occurred while executing hooks but not sure how to do this? can you guide me? Thanks in advance.

[2020-11-01 19:38] a8m commented on #907
Hey @dilipkk-foyernet, if you're using [runtime hooks](https://entgo.io/docs/hooks/#runtime-hooks) you can just pass it when you initialize the hook as follows:

[code]

If you're using schema-hooks, you can add this info to the context.

Closing, but feel free to continue the discussion. You're also welcome to add it to #832 (FAQ issue).

[2020-11-01 19:38] #907 closed

[2020-11-02 03:59] Siceberg opened #908 "How to update with "order" and "limit"?"
I want to implement the sql like:
`UPDATE cards SET respondent_name = "bar" order by RAND() limit 1`

But I have to use two SQLs actually to select one card record with "order" and "limit" and update it.

Is there any other way to do that with one SQL?

[2020-11-02 06:52] a8m commented on #908
Hey @Siceberg,
This option is not supported by ent, and you need to implement it by yourself. If you want to add it to the generated code, you can use [custom templates](https://entgo.io/docs/templates/) for this.

Closing, but feel free to continue the discussion if you need help with that.

[2020-11-02 06:52] #908 closed

[2020-11-02 06:54] a8m commented on #900
Yes, keep it open for now, and let's wait for more feedbacks before we continue with it.

[2020-11-02 07:04] longit644 commented on #903
I'm sorry for the late reply.

My Idea is to use `oldValue` for loading the entity's old value, then applying changes to create new value instead of make an additional query in `sqlgraph.UpdateNode`.

Ex:
[code]

By this way, we can save a query if oldValue exists in the mutation state.

[2020-11-02 07:18] Siceberg commented on #908
Thank for your response @a8m .
This option is temporarily not supported, or is it not supported in the plan?

[2020-11-02 08:54] Siceberg opened #909 "Update save() not return the number of rows actually changed?"
There was one record in `Card` table:
Card(id=567c1356-1c15-4bbd-a6c3-bab791879f28, name=test)

With code:
[code]
As n, I got 1, not 0

Usually, affected-rows means the number of rows actually changed.
Is my understanding wrong, or should I use other methods to get the number of rows actually changed?

[2020-11-02 08:56] masseelch opened #910 "json-tag is missing on edges struct"
When generating code the struct holding the edges information has no json tag.

[code]

Edges are rendered to CamelCase while fields rendered to snake_case. This is confusing and seems unintended.

[2020-11-02 09:04] a8m commented on #909
Hey @Siceberg, you're are right, this piece of code need to be changed:

https://github.com/facebook/ent/blob/97432138608aaa4b0adf26f11d280804f5e007cf/dialect/sql/sqlgraph/graph.go#L694-L697

However, this change needs to be more sophisticated, because sometimes the entities in the table weren't changed, but their edges (in a different tables) were changed.

[2020-11-02 09:12] Siceberg commented on #909
Is there any way I can get the number of changed rows of update?

[2020-11-02 09:30] a8m commented on #910
Hey @masseelch, you can use the [`StructTag`](https://github.com/facebook/ent/blob/1b5f51b827095073a2b29228e56f73fa3ce0d49e/schema/edge/edge.go#L64-L67) option for adding the JSON tags.

I'll add it to the [FAQ](#832) page. Thanks

[2020-11-02 09:30] #910 closed

[2020-11-02 09:32] masseelch commented on #910
Yes, i know. I just think its confusing, that the generator adds the JSON tags to the fields but not the edges. If i want a JSON-tag on the edge, i have to explicitly set it. The fields get it by default.

This is what i meant. Sorry if I was not clear enough about it.

[2020-11-02 09:49] a8m commented on #909
OK, visiting back my previous question. This is intended as mentioned in the docs (_"returns the number of rows/vertices matched by this operation"_):

https://github.com/facebook/ent/blob/c2cdc52946bc5685346be9f677c72337b7e8f80e/entc/gen/template/builder/update.tmpl#L45-L46

I can't think on additional way for solving this atm.

[2020-11-02 11:18] Siceberg opened #912 "Update Many with one SQL"
When I try

[code]
I got log like:
2020/11/02 18:21:09 Tx(dac74d60-c526-4567-9228-f9e7fdf393ab).Query: query=SELECT `id` FROM `cards` WHERE `cards`.`id` = ? AND `cards`.`name` = ? args=[567c1356-1c15-4bbd-a6c3-bab791879f28 test1]
2020/11/02 18:21:09 Tx(dac74d60-c526-4567-9228-f9e7fdf393ab).Exec: query=UPDATE `cards` SET `name` = ? WHERE `id` = ? args=[test [53 54 55 99 49 51 53 54 45 49 99 49 53 4

[2020-11-02 13:00] a8m commented on #912
Hey @Siceberg, let's merge this issue to #909 and continue the discussion how this can be improved, because this happens due to the behaviour mentioned in https://github.com/facebook/ent/issues/909#issuecomment-720362195.

[2020-11-02 13:00] #912 closed

[2020-11-02 13:01] a8m commented on #909
Removed the "Question" label, let's continue the discussion in #912 here.

[2020-11-03 03:40] longit644 commented on #903
Hi @a8m, what do think about it?

[2020-11-03 08:20] a8m commented on #903
The [`oldValue`](https://github.com/facebook/ent/blob/c2cdc52946bc5685346be9f677c72337b7e8f80e/entc/gen/template/builder/mutation.tmpl#L65) function is used in the mutation to fetch the previous version of the object (or [use the local one](https://github.com/facebook/ent/blob/c2cdc52946bc5685346be9f677c72337b7e8f80e/entc/gen/template/builder/mutation.tmpl#L113-L121)).

If you want to override the

[2020-11-03 13:53] masseelch opened #915 "question: Is there a way to pass custom funcMap to external templates"
See title.

[2020-11-04 07:56] a8m commented on #915
Yes. See the [gen.Template](https://godoc.org/github.com/facebook/ent/entc/gen#Template) API and its usage [examples](https://github.com/facebook/ent/blob/master/examples/entcpkg/ent/entc.go).

Please feel free to add it to the [FAQ](https://entgo.io/docs/faq/) page in out website.

[2020-11-04 07:56] #915 closed

[2020-11-04 12:10] masseelch opened #917 "Proposal: Make structs implement Stringer interface configurable"
I am using the [liip/sheriff](https://github.com/liip/sheriff) package. As stated [here](https://github.com/liip/sheriff/issues/28) and [here](https://github.com/liip/sheriff/blob/master/sheriff.go#L194) the package will skip structs that implement `Stringer`.

The generated models of ent do implement Stringer, but i do not know why they do other than convenience. As (or if) the `String` method is

[2020-11-04 12:19] a8m commented on #917
Hey @masseelch, I'm not familiar with `sheriff` and how it can be configured, but we can wrap the `Stringer` implementation with additional template and let users override it.

This isn't an option, because we don't want to break users code.

[2020-11-04 12:22] masseelch commented on #917
Wrap it into its own template to make it overidable is a valid solution for my case.

[2020-11-04 16:39] masseelch commented on #658
@najBaby You can follow the progress [here](https://github.com/masseelch/go-api-skeleton).

[2020-11-05 04:59] imle opened #918 "Cannot use reserved words as edges when you specify a storage key"
As an example:
[code]

The call in the template that seems to end up creating the issue is `StructFKField`.

I am not very familiar with the codebase or I would put in a PR, but I can if no one has the time to look at this.

[2020-11-05 10:07] a8m commented on #918
Hey @imle and thanks for reporting this issue.

If you want to contribute this fix, the change should be simple. The column name needs to be wrapped with the `builderField` function to avoid conflicts with Go keywords (and other internal fields):

1\. Change the field name in FK creation (see [code pointer](https://github.com/facebook/ent/blob/fb97ca66ac4b1cfe0b85f4f060c3996d55ca7c22/entc/gen/type

[2020-11-05 11:09] a8m commented on #917
Great, feel free to create a PR and let me know if you need code-pointers or help with that.

[2020-11-05 13:04] masseelch commented on #917
Well, i think we want to be able to override the template for only some models, not all of them (at least i want to).

How to achieve that?  I think you do quite the same stuff [here](https://github.com/facebook/ent/blob/3f1545f0a9cb021992647a1e0a0bd8557c24cf82/entc/gen/template/ent.tmpl#L35)

[code]

[2020-11-05 13:15] vojta001 commented on #400
Does it make sense to you @a8m like this?

[2020-11-05 13:15] masseelch commented on #917
The other possibility is to just wrap it in `{{ define "model/stringer" }}` and let the user have something like this in his own templates:

[code]

[2020-11-05 14:11] a8m commented on #917
The `{{ define "model/stringer" }}` option is preferred - we can change/improve this in the future. Go ahead and create a PR.

[2020-11-05 16:27] a8m commented on #918
Closed with #922

[2020-11-05 16:27] #918 closed

[2020-11-05 16:30] a8m commented on #917
Fixed with #921

[2020-11-05 16:30] #917 closed

[2020-11-05 19:00] DeedleFake opened #923 "usage of privacy and custom Go types result in circular import"
Given the following schema, there will be a circular import where `ent/schema` imports `ent/privacy` which imports `ent` which imports `ent/post` which imports `ent/schema`.

[code]

I was able to get around the issue by refactoring the custom types into a different package, but I thought it was worth noting because it was a bit awkward to track down what was causing it.

[2020-11-05 20:35] dev681999 opened #924 "Set ROCKSDB Engine for MySQL Table Migration"
Hi, I am trying to use this tool to create a database in MySQL. But, I want to use ROCKSDB as engine. I couldn't find any setting to set the engine when running migration.

GORM Does it like this - db.Set("gorm:table_options", "ENGINE=InnoDB").AutoMigrate(&User{})
https://gorm.io/docs/migration.html#content-inner

[2020-11-08 09:35] a8m commented on #924
Hey @dev681999,
We don't support this option atm, but it's really simple to add. I can do it in the upcoming days, but if you want to contribute this change, here's where it needs to be added:

1\. Add another field named `Options` to the `entsql` annotation:
https://github.com/facebook/ent/blob/dea48a78eae387eaa7845480e6a3559029684a14/dialect/entsql/annotation.go#L11-L37

2\. Append this annotati

[2020-11-09 07:56] masseelch opened #930 "question: How to extend ent"
Hi there. As mentioned in #658 I'd like to provide a package to generate code for rest handlers. I have some work done already in [here](https://github.com/masseelch/go-api-akeleton).

Now i want to add the templates into its own package and make it easy to use with ent. My first idea was to wrap the make an own cli app, that uses the code-generation package like described [in your docs](https://e

[2020-11-09 10:56] cgfork commented on #252
m

[2020-11-09 11:42] masseelch opened #931 "proposal: Generate non-go files"
I'd like to be able to generate non go files.

[2020-11-09 11:44] masseelch commented on #931
Nevermind. Did not see #367.

[2020-11-09 11:44] #931 closed

[2020-11-09 11:44] a8m commented on #931
Hey @masseelch and thanks for proposing this feature.
This was actually answered before, and you can find it in https://github.com/facebook/ent/issues/780#issuecomment-695038170.

Also, you can see another example in https://github.com/facebook/ent/issues/367#issuecomment-701959271.

Please let me know if you still need help with it 😃

[2020-11-09 18:55] a8m commented on #909
Hey @Siceberg, I created https://github.com/facebook/ent/pull/932 to fix this issue. I'll add another PR for updating the docs, and I'll close this issue.

[2020-11-09 21:47] yuvalt7 commented on #139
yes please

[2020-11-09 21:50] yuvalt7 commented on #833
@a8m Is there an equivalent of a global hook in the privacy layer (i.e global privacy rule)?
AFAICT privacy rules are per-table, which makes it hard to use privacy layer as a means of keeping track of general DB query accesses (e.g for metrics)

this is obviously a misuse of the privacy layer, but its a workaround until  read-hooks are ready :P

[2020-11-10 01:06] dooven commented on #924
If @dev681999 can't, i'd be glad to work on this :)

[2020-11-10 01:55] Siceberg commented on #909
Thanks a lot

[2020-11-10 02:38] FakerGit opened #933 "Can ID field not be set ?"
Can the ID field not be set when an ID primary key is not required for a table?

![image](https://user-images.githubusercontent.com/13702295/98620746-d1d1d180-2340-11eb-8d9b-c6c08702f13b.png)

[2020-11-10 02:41] errorhandler commented on #358
Just chiming in here as this is something we need for our use of Ent. @EricMasonFa's suggestion looks really good. However, as far I as can see, that only supports locking *all* `SELECT`s in a transaction not just some.

One way I can see is to add a new method to the generated `{Object}Query` struct that allows a query to opt to locking, for example:

[code]

I understand that this pollutes the g

[2020-11-10 06:13] masseelch commented on #930
@a8m I started the project [here](https://github.com/masseelch/elk). Thoughts and ideas are welcome.

[2020-11-10 06:13] #930 closed

[2020-11-10 07:07] fanpei91 opened #934 "sql/schema: scanning int value for column "id": converting driver.Value type string ("nextval('metadata_id_seq") to a int64: invalid syntax"
I have a existing table in Postgres like:
[code]

Defined a schema:
[code]

Got
[code]
when execute:

[code]

What did I do wrong?

[2020-11-10 08:38] masseelch commented on #923
I think you need to import the generated `ent/runtime` package like described [here](https://entgo.io/docs/privacy/#configuration).

[code]

[2020-11-10 09:38] haoxins opened #935 "proposal: add support for DefaultFunc for string fields"
Is it an accepted idea to add new build-in custom id type - cuid?

https://github.com/ericelliott/cuid

[2020-11-10 10:46] yuvalt7 commented on #833
a temporary workaround - wrapping *sql.DB in a custom dialect.Driver interface implementation that intercepts the Query function

[2020-11-10 11:57] ernado opened #936 "Feature: native postgresql arrays"
Like `field.Strings()`, `field.Ints()` and others, but not json.

[2020-11-10 12:24] a8m commented on #930
Hey @masseelch, please see the [GraphQL extension](https://github.com/facebookincubator/ent-contrib/tree/master/entgql) as a reference for such implementation.

[2020-11-10 12:28] a8m commented on #930
Sure, I'll give it a look. You're welcome to ping me privately if you want to discuss about some parts.

[2020-11-10 12:33] a8m commented on #924
You're welcome to add this @dooven

[2020-11-10 12:36] a8m commented on #833
Hey @yuvalt7, you can define a global privacy rule using a mixed-in schema. See [this example](https://entgo.io/docs/privacy/#multi-tenancy) in the doc.

I'm still working on designing the API for interceptors (read-hooks), but suggestions are welcome.

[2020-11-10 12:38] a8m commented on #909
Issue was addressed and landed to master. I'll release a new version in the upcoming days, but you're welcome to latest using:

[code]

[2020-11-10 12:38] #909 closed

[2020-11-10 18:17] DeedleFake opened #939 "auto-migration with column dropping silently deletes data when transitioning from O2M edge to M2M edge"
I decided recently to adjust an edge in my database from O2M to M2M, but, much to my surprise, the auto-migration just silently deleted the existing edges with no warning. To get around this, I'm now in the process of moving to a, potentially partially, manual migration system, but it seemed odd that it silently deleted data. I would have expected it to at least complain about it.

And yes, I was

[2020-11-10 18:40] #924 closed

[2020-11-10 19:47] DeedleFake commented on #923
I tried that. It doesn't help. The import cycle happens during the code generation, before the `main` package even gets involved.

[2020-11-11 05:51] EricMasonFa commented on #358
I really like this. In this way, we can have multiple types of locks:

[code]

And maybe even table lock:

[code]

[2020-11-11 06:17] EricMasonFa commented on #935
It should be possible:

[code]

[2020-11-11 07:45] a8m commented on #933
Hey @FakerGit, you can override the ID field in the schema as mentioned in the [this example](https://entgo.io/docs/schema-fields/#id-field).

If you want it make optional, use the [`Optional`](https://entgo.io/docs/schema-fields/#optional) method for this. Just note that we never test this scenario, so please let me know if it doesn't work for you.

Closing, but feel free to continue the discussi

[2020-11-11 07:45] #933 closed

[2020-11-11 07:49] FakerGit commented on #933
Thank you for your response. But what I meant was that I hope the id field doesn't appear in the structure, because it doesn't exist in my table。

[2020-11-11 08:22] a8m commented on #933
It's not possible to use ent this way. The edges/associations logic is relying on the id field.

[2020-11-11 08:25] dilipkk-foyernet commented on #835
@a8m any suggestions on this? Thanks for your great work on this library.

[2020-11-11 20:03] a8m commented on #934
Hey @fanpei91 and thanks for opening this issue.

I'm not able to reproduce this on PostgreSQL, MySQL and SQLite. Can you please post here what are the database and the ent versions you use? Thanks

[2020-11-11 20:38] a8m commented on #935
Hey @haoxins,
I think @EricMasonFa suggestion sounds good. Is there anything specific you expect ent will provide for such case? If you have a custom Go type, you can use the [`GoType`](https://entgo.io/docs/schema-fields/#go-type) option.

[2020-11-12 02:22] errorhandler commented on #869
I've run into this while moving an existing codebase to ent. Here are some ideas for how this could be solved.

## 1. Exposing the foreign keys

I believe being able to access the foreign key values is important so I would suggest exporting the foreign key values

[code]

## 2. Match nilability in struct

As far as I understand, all FKs in the generated struct are pointers as they are `nil` until

[2020-11-12 03:20] errorhandler commented on #933
Hey @a8m just to jump in and check that my understanding is correct here.

We have a table that represents a pretty standard M2M style table (here pets have many verifications)
| pet_id | verification_id                      |
|--------|--------------------------------------|
| 5      | 8de4a7eb-d8fc-4f09-b040-3bd00eac21bb |
| 16     | eaed1bd8-ae1f-4ca4-94d0-4c06081e3cfa |

_However_ the `verific

[2020-11-12 09:35] Siceberg commented on #503
@a8m ,
Sorry to bring up this topic again, I got a requirement similar to @ppphp , need to be able to change the table name after generating the code.

Can I override the template "dialect/sql/meta.tmpl", make cons "Table" to var  so that the value of this variable can be set in the code, or is there any other more elegant solution?

[2020-11-12 09:52] flisky commented on #503
@Siceberg https://github.com/facebook/ent/blob/4af9a331aeb16e04419ef71e597215dc7a4d1bac/entc/integration/config/ent/schema/user.go#L38-L42

It's currently on master.

[2020-11-12 10:08] Siceberg commented on #503
@flisky
Thanks for your reply,

I thought this could only be used to customize the table name before generating the code, how to use Annotations() to change the table name after generating the code?

[2020-11-12 12:04] a8m commented on #503
Hey @Siceberg,
Just to make sure I understand this correctly - do you want to change the table name dynamically on runtime? Do you expect that ent will manage the migration? Because if so, you need to override the `migrate/schema.go` file as well.

[2020-11-12 12:19] a8m commented on #933
Hey @errorhandler and thanks for tagging me here - messages sometime get lost in email notifications.

Regarding your example, you have a M2M relation between an entity generated by ent and other entity resides in a different datastore, right? (can you share what's the other datastore?)

Currently, for such cases, users can use either schema fields (for O2O and O2M relations) or additional schema

[2020-11-12 14:06] dilipkk-foyernet commented on #769
@a8m is aggregation support for m2m tables?

[2020-11-12 14:35] a8m opened #943 "dialect/sql/entsql: add Size argument for schema annotation"
For background, see https://github.com/facebook/ent/issues/829

The general idea is have another field named `Size` in the `entsql.Annotation` object and allow users to explicitly define the column size in the generated schema.

Code pointers for contribution:

1\. Add another field named `Size` to the annotation:
https://github.com/facebook/ent/blob/534dbbe59043279b04e9aae01ebe9c8a0f600b1d/dialec

[2020-11-12 14:36] a8m commented on #829
Hey @timonwong,
I've created https://github.com/facebook/ent/issues/943 for this issue. You're welcome to contribute this change or we can address it in the upcoming days.

Closing.

[2020-11-12 14:36] #829 closed

[2020-11-12 15:28] a8m commented on #939
Hey @DeedleFake and thanks for raising up this issue.

Sorry to hear this, but yeah, this kinda one of the limitations we have in the migration at the moment, but it's going to be changed soon as part of https://github.com/facebook/ent/issues/866.

I'm going to add support for the 2 following features:
1. Manage ent-schema versions and complain (or warning) when a change is not valid or trivial. F

[2020-11-12 18:52] moqmar opened #944 "Comment() currently does nothing"
The documentation says "Comment sets the comment of the field.", but [it doesn't seem to set anything](https://github.com/facebook/ent/blob/master/schema/field/numeric.go#L185) currently.

What I would have expected is that it changes the actual comment of the field, i.e. modify the not-very-helpful default comment "Title holds the value of the "title" field." - this would for example make the `Co

[2020-11-12 19:04] a8m commented on #944
Hey @moqmar,
I agree, we should change this.

Do you want to contribute this change? If so, I'll add code-pointers with some guidance tomorrow.

[2020-11-12 19:21] moqmar commented on #944
Sure, I can open a pull request for that! I guess it's more or less just adding a `Comment string` field to the [Descriptor](https://github.com/facebook/ent/blob/master/schema/field/field.go#L885) type and using it in the [ent.tmpl](https://github.com/facebook/ent/blob/master/entc/gen/template/ent.tmpl) template if it's non-empty, or am I missing anything here?

Things I can think of that I have t

[2020-11-13 01:01] christopherwalter opened #945 "Question: Risk of SQL injection?"
https://github.com/facebook/ent/blob/3038bb5ab12a7980434c778bdcbb23344213ba90/dialect/sql/builder.go#L8-L10

First of all, thanks for open-sourcing this library! I loved the ent framework when I was at FB and I'm excited about this Go version.

My question is about the linked code in `sql/builder.go`, specifically the warning about the lack of SQL protection that's implemented in the generated SQL

[2020-11-13 02:06] Siceberg commented on #503
Hi @a8m
Yes, I have to change the table name dynamically on runtime, but I don’t need to manage the migration through ent.
I want to find a long-term, reasonable and elegant way to achieve it, because many old projects I took over have such a database structure.

[2020-11-13 03:21] ppphp commented on #503
Changing `Table` to var would cause concurrent problem. Please don't do that.

I dynamically look up the table name for sharding, and the key is to rewrite some methods in template for curd in the `entc/gen/template/dialect/sql/` folder.

For example in `createSpec` of `entc/gen/template/dialect/sql/create.tmpl`:
[code]

and for delete it is in `sqlExec`, for update it is in `sqlSave`
[code]

and

[2020-11-13 04:27] greyg00s commented on #935
@EricMasonFa I'm not sure if this works.
[code]
 takes a default string and not a default function as the UUID type does. Unless I missed something

[2020-11-13 07:55] a8m commented on #945
Hey @christopherwalter!

Wonderful! Feel free to suggest features or improvements if you think something is missing or can be improved (compared to the PHP version).

Please see my comment from https://github.com/facebook/ent/issues/708#issuecomment-689360199:

Now, regarding your question:

We already use parametrized statement/queries in the generated code, including INSERTs, and using the gener

[2020-11-13 07:55] #945 closed

[2020-11-13 08:02] cliedeman opened #946 "Allow Migrations to handle integer to string"
Ent should be able to handle migrations from string to number and possibly attempt string to number

Migration Error:
[code]

[2020-11-13 08:07] a8m commented on #503
Thanks for this great explanation @ppphp!

Maybe we can move the "table assignment" part to a separate template, and then you'll need to override one little piece that most likely won't change. Or, we can support for checking if the type implements the `Tabler` interface and then call it - you'll still need to use a template to generate the `Table` method, so I prefer the first suggestion.

[2020-11-13 13:00] a8m commented on #946
Hey @cliedeman and thanks for raising up this issue.

Yeah, we should accept migration from numeric to string, but need to discuss about the other side.
Do you want to create a PR for supporting the "numeric to string" migration? If so, it will be great.

BTW, I didn't forget #893 - I was a little bit busy lately and didn't find the time to review this (it's a pretty large PR).

[2020-11-13 13:53] cliedeman commented on #946
Hi @a8m

Sure I will can try it. The only consideration is how far we go with calculations before giving up.

Restrictions:
* Only allow integers
* Do a basic calculation if the biggest number possible fits in the string and vice versa
* fail on any other case

Not a problem. I think about splitting it every now and then but its hard to exercise any of the changes without the full integration test

[2020-11-13 18:44] #943 closed

[2020-11-13 19:30] a8m commented on #944
Yeah, we should handle newlines, but this should be simple. Regarding other issues, it's a field comment and I think we should keep it simple, and not come up with a super smart solution (i.e. paste the comment as-is prefixed with `// `).

Code pointers:
1\. Like you mentioned, add the `Comment` value to the `field.Descriptor` - can be in a separate PR.
2\. Add the comment to the `Field` object in

[2020-11-14 11:41] ssoor commented on #934
Hey @a8m ,I also encountered this problem.

The reason for my problem is that psql needs to use the sequence generator to realize the self-increment id. The value of the sequence generator set in the field is this.

[code]

It might be helpful to take a look at this [https://www.postgresql.org/docs/9.5/datatype-numeric.html#DATATYPE-SERIAL](https://www.postgresql.org/docs/9.5/datatype-numeric.html

[2020-11-14 17:55] a8m commented on #934
Thanks for the reference @ssoor, I'll give it a look later this week.

[2020-11-14 17:59] a8m commented on #935
You're right @greyg00s, but we can add support for this. However, you should not be blocked on this, and can use [schema-hooks](https://entgo.io/docs/hooks/#schema-hooks) for setting default values on mutations.

[2020-11-15 18:43] masseelch opened #950 "question: How to aggregate without group"
Is there a way to query the graph like this sql-query would:
[code]
So far i need to create a `GroupBy("id")` first, which seems a little weird to me.

[2020-11-15 20:32] a8m commented on #559
Hey @TargetLiu,
This issue can be addressed with additional field on the `entsql` annotation. See https://github.com/facebook/ent/pull/947 for a  reference.

If you want to contribute this change, add another field `Increment *bool` to the `entsql.Annotation` and use it in [entc/type.go](https://github.com/facebook/ent/blob/master/entc/gen/type.go) as follows:

[code]

I suggested `*bool` for the

[2020-11-15 20:55] #934 closed

[2020-11-15 20:57] a8m commented on #934
Thanks for reporting this issue @fanpei91 and thanks @ssoor for your help.

#951 should resolve this, so please please update to latest master and report any issue.

[2020-11-16 03:09] fanpei91 commented on #934
@a8m  Thanks for your fix. I tested the latest version(commit: 77eaad0df615917188a40ab5f6479647b01b39bb) you asked for, but it causes another problem:
[code]

This is the statements that how I created the existing table before using ent:
[code]

The ent schema is the same as before:
[code]

pgstgres version:
[code]

[2020-11-16 03:43] ppphp commented on #503
Both are ok, because adding a extra class attribute and using it always needs some design. I am not an expert on codegen.

It does not matter because I can do diff work quite quickly now...

[2020-11-16 05:10] ssoor commented on #934
This issue has been closed, if the repair results cause new problems, you may need to reopen issue , or create a new one.(Otherwise, no one will pay attention to it)

[2020-11-16 07:17] fanpei91 opened #953 "Error: sql/schema: cannot change primary key for table"
got
[code]
when execute
[code]

This is the statements that how I created the existing table before using ent:
[code]

[code]

ent Schema :
[code]

pgstgres version:
[code]

ent version: 77eaad0df615917188a40ab5f6479647b01b39bb

Related issue: https://github.com/facebook/ent/issues/934

[2020-11-16 08:02] Siceberg commented on #503
We need to use templates anyway. I think the 2nd one is better for this issue, it provides a unified interface to provide better backward compatibility.

[2020-11-16 08:02] a8m commented on #953
Hey @fanpei91,
The migration doesn't support changing the PK type of a table, and in your case, you try to change the column type from `integer`/`int` to `bigint` - if you think this change should be added, you're welcome to open an issue proposal.

In order to fix this, you can either change the field type to `Int32`/`Uint32` or alter the table and re-run the migration.

[2020-11-16 08:19] fanpei91 commented on #953
Oh, I see. I will accept the fixing method. Very thank you!

[2020-11-16 08:19] #953 closed

[2020-11-16 09:25] vojta001 commented on #400
Are there any plans on implementing this or is it blocked by something?

[2020-11-16 20:00] a8m commented on #869
Hey @errorhandler and thanks for writing this - I missed it somehow.

This shouldn't be a problem, because ent generates codegen based on the storage-type.

These options can be added using feature flags. I can start pushing this in the upcoming days, but if you want to contribute these changes, let me know and I can guide you.