[2019-10-02 17:24] a8m opened #46 "Roadmap for v1"
List of features/changes we want to finish before releasing an official v1 version:
- [x] PostgreSQL support - **done**
- [x] Eager loading - #91 - **done**
- [x] User defined IDs - #127  - **done**
- [x] Hooks - #377 - **done**
- [x] Bulk insert - **done** #236
- [x] [OSS GraphQL integration](https://entgo.io/docs/graphql/) - **done** (expected more work in the near future)
- [x] Privacy layer -

[2019-10-02 21:55] a8m opened #47 "entc/gen: replace goimports cmd with golang.org/x/tools/imports pkg"
golang.org/x/tools/imports is a goimprots in a package. This makes it easier to run formatting from entc without installing external tools.

[2019-10-03 00:24] sw-clough opened #48 ""Quick Introduction" example wrong"
In `doc/md/getting-started.md` under section [Create Your Second Edge](https://github.com/facebookincubator/ent/blob/master/doc/md/getting-started.md#create-your-second-edge), it has example code for the `Group` type, but incorrectly shows the same code as `User`.

This;
[code]
Should be something like;
[code]

[2019-10-03 04:40] a8m commented on #48
Thanks for opening this issue @sw-clough.
Fixed!

[2019-10-03 04:40] #48 closed

[2019-10-03 12:48] fiorix opened #51 "Can't build the traversal example"
Looks like the traversal example uses code from the 'start' example:

[code]

[2019-10-03 12:57] a8m commented on #51
Oops. I was editing this at the morning.
Fixing it now. Thanks

[2019-10-03 13:04] a8m commented on #51
![image](https://user-images.githubusercontent.com/7413593/66128897-77235d80-e5f7-11e9-8603-a24d404751fd.png)

Works fine for me.

[2019-10-03 13:06] a8m commented on #51
Can you skip the `go generate ./...` part and built it? (trying to figure out what is not working for you).

[2019-10-03 14:42] fiorix commented on #51
It does build without the generate part:

[code]

The generate command fails. Now it's even failing due to a missing import of 'context'.

[code]

[2019-10-03 14:57] fiorix commented on #51
Updating as per our offline chat: the issue was on my machine, using an ancient version of goimports. After updating it to latest everything worked as expected.

#47 should fix this permanently.

[2019-10-03 14:57] #51 closed

[2019-10-03 16:31] nonpcnpc opened #54 "Q: why SQL?"
This looks _quite_ interesting. I have been recently looking into graph db due to the needs of my current project. I ended up with Dgraph but I struggled to work with its API and their horrendous documentation so I abandoned it altogether and came up with a custom in-memory solution(I only truly needed edges so it worked out).

Anyhow, this project looks like it would be perfect api layer on top o

[2019-10-03 20:13] a8m commented on #54
Thanks for raising this issue @nonpcnpc.
Actually, this project was developed initially on top of [Gremlin](gremlin), the graph traversal language used by Neo4j, AWS Neptune (and more), and extended to support SQL-based dialects in a later stage.

Right now, you can run `ent` on both graph-based and RDBMS databases. AFAIK, dgraph still doesn't not support Gremlin, but a storage driver for it can b

[2019-10-03 20:14] a8m commented on #47
Closed with 480eb714d32edddc241ad536d2cb92a16d38b8eb

[2019-10-03 20:14] #47 closed

[2019-10-03 22:09] nonpcnpc commented on #54
Thanks for the info.

So the SQL backend can perform at the same level as dedicated graph db(neo4j...), or did you mean something else by that?

[2019-10-04 04:39] aca opened #56 "Q: how to add field to edge(relation)?"
This looks great.. quite amazing.

It's a newbie question.
I have User / Groups entity. Users can join multiple groups, and groups can have multiple users. So I think it is M:M relation.
When I define edge between to entitys. user_groups table is automatically generated (mysql).
I need some thing like "role" data ( a user is admin in group ) between user - groups.
I think It is good to be included

[2019-10-04 05:31] alexsn commented on #56
@aca, you currently can't add fields to edges (see [v1 roadmap](https://github.com/facebookincubator/ent/issues/46)).

An possible alternative is to define additional edge between users / groups:
`
func (Group) Edges() []ent.Edge {
    return []ent.Edge{
        edge.To("users", User.Type),
        edge.To("admins", User.Type).Required() // group must have at least one admin,
    }
}
`

[2019-10-04 05:56] mk0a1a opened #57 "B: Generator uses conflicting variable names in config()"
When creating an entity that starts with "i", the index variable used in config conflicts with the struct variable.

For example:

1. Create entity
[code]
2. Generate code
[code]
3. Run code
[code]
4. Result:
[code]

Conflicting generated code:
[code]

"i" variable of type Items conflicts with "i" variable for index

[2019-10-04 06:25] a8m commented on #57
Thanks for opening this issue. Sending a fix.

[2019-10-04 07:27] aca commented on #56
@alexsn missed that one. thanks.

What I need is super_admin(which can be multiple) / admin / user  kind of things.
I've tried workaround you provided / creating role entity but generated results are disappoint.
Too sad I think I should give up this great library for current project..

Is there anyone working on this issue ?

[2019-10-04 07:31] a8m commented on #57
Closed via #58

[2019-10-04 07:31] #57 closed

[2019-10-04 07:43] alexsn commented on #56
It's not our immediate focus at this time. Note that another possible workaround is to add a new ent in between user / group (user <-> role <-> group) which contains the fields you need. Then you could query as follows: `user.QueryRoles().Where(role.Name("admin"))QueryGroups().All(ctx)`

[2019-10-04 07:49] aca commented on #56
![image](https://user-images.githubusercontent.com/50316549/66190141-4d853780-e6c6-11e9-901f-0965a6cc99f5.png)

I tried to add new entity, and this is the result. namespace is the group.
absolutely unnessary table for are generated
user_roles, namespace_roles.
Is this what you are mean?

What about just adding "role" column to the user_groups table and use raw sql query,
until it is fixed? It will

[2019-10-04 07:58] alexsn commented on #56
We only create edges table for a M:N relation while others get a foreign key. You can mark the role ent as having a unique edge to both user / group so no extra tables will be created for its edges.

[2019-10-04 08:15] aca commented on #56
@alexsn Oh Great!
https://github.com/aca/kcreg/tree/master/ent/schema

I think I got what I needed. Thanks for your help!

[2019-10-04 08:59] mk0a1a opened #61 "B: Generator uses wrong import paths when targeting a different directory"
The generator uses wrong import paths when targeting a different directory.

To reproduce:

1. Create entity to `./schema` at directory root

[code]

2. Generate code to a target directory

[code]

Directory structure should look like this:

- `ent/*` (for generated files)
- `schema/test.go` (entity file)
- `go.mod`
- `go.sum`
- `main.go`

Program won't compile due to wrong import paths in `ent/te

[2019-10-04 09:06] #56 closed

[2019-10-04 09:39] a8m opened #62 "Add a contribution documentation"
- Explain the project struct
- How to add code to changes to each of the packages
- Codegen after changes to loader, generator and test packages
- Run integration tests

[2019-10-04 09:45] a8m commented on #54
Yes. The performance tests we ran on our data-model showed better numbers.
But again, we didn't test dedicate graph database features (like shortest path).

I'll try to remember to update this issue when publishing the blog post.

[2019-10-04 09:54] htdvisser commented on #62
Perhaps also good to add:

- How to install `go-bindata`
- What to do with `modtime` diffs in `bindata.go`

[2019-10-04 11:17] #54 closed

[2019-10-04 11:18] a8m commented on #61
In the current implementation, the `schema` package should sits under the `ent` package (i.e. `./ent/schema`). This way, all `ent` code sits under the same directory.

We should allow users to define a different directory structure. I'll handle this.

[2019-10-04 20:23] seaskyways opened #64 "Documentation error: TimeMixin repeated twice"
Code is repeated twice for TimeMixin and DetailsMixin
`// TimeMixin implements the ent.Mixin for sharing`

[2019-10-04 20:27] a8m commented on #64
Thanks for opening this issue @seaskyways. Feel free to create a PR for this.

[2019-10-04 23:20] winwisely99 commented on #46
Can you elaborate on Cluster support (read replicas).
Sounds like queries go to the Read replicas and mutations to a master.
In which case you will need a CDC process ?

Eager to know this.

[2019-10-05 00:29] pjebs opened #65 "Please provide API that allow us to use our own DB object"
Please provide API for us to inject our own *DB object.

This will require an interface of:

[code]

Maybe another interface for transactions (not required, if we can pass our own *Tx object)

Currently I can't use this package with my https://github.com/rocketlaunchr/mysql-go which is required to make long mysql queries cancellable (respect context cancellation)

[2019-10-05 01:46] mk0a1a commented on #61
The problem I had with the default structure is that the generator does not remove old files. If I had an entity called `Dog` then later decide to either rename/delete it, the old `Dog` generated files remain in the `ent` package.

So I figured I'd move the `schema` folder outside the `ent` generated folder so that I can delete `ent` and regenerate the folder through the CLI. Then I came across th

[2019-10-05 04:04] alexsn commented on #65
Provided that you have a *sql.DB instance which supports mysql dialect you can instantiate ent.Client from it as follows:
[code]

[2019-10-06 11:32] #64 closed

[2019-10-06 12:01] a8m commented on #46
Exactly. We want to add a cluster-client option (leader and 1 or more read replicas).

Can you elaborate, I'm not sure I got your question.

[2019-10-06 12:33] #62 closed

[2019-10-06 14:01] cliedeman opened #69 "Postgres Extension"
Hello,

I am interested in using this library with postgres. I took a stab at adding postgres but hit a wall with the builder. The mysql quote identifier (backtick) is hardcoded in the file. My first idea was to switch on the dialect but it is not available.

Examples:
* https://github.com/facebookincubator/ent/blob/master/dialect/sql/builder.go#L50
*m https://github.com/facebookincubator/ent/blob

[2019-10-06 14:24] freezeChen opened #70 "entc generate failed"
user.go
[code]

run entc generate ./ent/schema   is failed,only generate an empty folder.
[code]

[2019-10-06 14:39] alexsn commented on #70
Don't think we ever tested `entc` on windows. I'll take a look.

[2019-10-06 15:06] a8m commented on #69
There are some changes that need to be done before adding the PostgreSQL support. One of them, is to make the identifier quote character configurable. I can add this in the upcoming days, and you can take it from there if you want.

[2019-10-06 15:16] freezeChen commented on #70
in /entc/cmd/entc/entc.go  function  loadGraph
[code]
when os is windows,  package is failed

[2019-10-06 15:41] cliedeman commented on #69
Thanks. It’s a bit of invasive change so it’s better if a maintainer makes it. But I think Postgres numbered arguments will be a bigger issue?

[2019-10-06 22:50] pjebs commented on #65
This approach is not idiomatic Go.

You should just allow us to pass an object that supports the minimal interface required for `ent` package to work. It is unusable at the moment. There is no way to properly cancel a long-running mysql query.

[2019-10-07 02:42] alexsn commented on #65
Implement [dialect.Driver](https://godoc.org/github.com/facebookincubator/ent/dialect#Driver) interface, after which instantiate `ent.Client` with `ent.NewClient(ent.Driver(<your_driver>))`.

[2019-10-07 16:18] a8m commented on #70
Closed with 7597f079129814c3ac37f823fae9d1b6f862e40b.

Thanks for reporting this issue.

[2019-10-07 16:18] #70 closed

[2019-10-08 19:08] cliedeman commented on #69
I created a PR with my WIP if anyone wants to check it out https://github.com/facebookincubator/ent/pull/78

[2019-10-09 11:35] winwisely99 commented on #46
CDC is short for Chaneg Data Capture.
Implementations often use binlog parsing of the Master ( read write db), and detect the db changes and then pump them out over a stream so the Slave ( Read only DB) can update its data.

This is what Cockroach uses for example.
https://www.cockroachlabs.com/docs/stable/change-data-capture.html

[2019-10-09 11:55] winwisely99 commented on #46
I have a request for the Roadmap.

A change notification so that if a record changes the system tells me. Its basically CDC.
For me the use case is to make it easy to have Read only VIew models that might be a different structure from the READ / Write models. Sort of like what you do with CQRS.
For me i dont need any of the network code because i might want to use a different netowrk protocol.
But

[2019-10-09 12:17] gorda commented on #61
Do you have a [translation](https://docusaurus.io/docs/en/translation) plan for other languages?

[2019-10-09 12:20] gorda commented on #46
Do you have a [translation](https://docusaurus.io/docs/en/translation) plan for other languages ?

[2019-10-09 21:34] sagikazarmark commented on #46
@winwisely99 I think the use of read replicas and clustering here means, that ent will support providing separate master and read connection details, but the actual replication should be done by the database cluster.

CQRS like systems usually build on domain operations, thus a change is actually detected by the domain layer, not the storage layer. If you want to detect changes, you can set up tri

[2019-10-10 02:54] gorda opened #81 "About performance"
Hey guys:

I learned from the documentation that ent supports both SQL and Germlin.

Because of their structural differences, I want to know how their performance is when performing graph traversal.And the applicable scene of ent？

Thanks.

[2019-10-10 07:33] buffge opened #82 "How to support client pool?"

[2019-10-10 07:39] buffge commented on #82
Example:
	Db.DB().SetMaxIdleConns(10)
	Db.DB().SetMaxOpenConns(100)
	Db.DB().SetConnMaxLifetime(time.Hour)
Now l use ent every method need init a ent.Client

[2019-10-10 07:46] a8m commented on #82
Does @alexsn’s [example](https://github.com/facebookincubator/ent/issues/65#issuecomment-538614092) help you?

[2019-10-10 07:49] buffge commented on #82
Good Project! Thanks

[2019-10-10 08:03] a8m commented on #82
I'll add this to the documentation.

[2019-10-10 11:27] henomis opened #83 "Bind JSON object from API"
Great project guys,
following your User/Cars example in documentation, consider this JSON body from a CRUD http API:

[code]

which is the best way to bind this json to ent insert/update?

[2019-10-10 11:37] a8m commented on #65
Closing this issue. Feel free to open if you still have a problem with it.

[2019-10-10 11:37] #65 closed

[2019-10-10 11:46] a8m commented on #46
Not at the moment.

Exactly.

There are plans to add support for API layers, like GraphQL and REST (Swagger for example).
However, it's not in our roadmap to v1, because we see it as an extension to `ent` that can be done with an external plugin.

About GraphQL as a storage driver - not part of v1 roadmap.

[2019-10-10 12:26] a8m commented on #82
Documentation was added - https://entgo.io/docs/sql-integration

[2019-10-10 13:35] alexsn commented on #83
Hi @henomis, we designed the API to be explicit so you'll need to invoke ent builders for any mutation. If you work with something like swagger I suggest you implement a custom template which will translate your json body to builder operations.

[2019-10-10 17:47] a8m commented on #83
See also my [comment] on the roadmap about API integrations.

[comment]: https://github.com/facebookincubator/ent/issues/46#issuecomment-540533397

[2019-10-10 17:58] leafduo opened #85 "Any way to run raw SQL query?"
I like statically typed APIs, but sometimes we need to run raw SQLs to get functionalities of specific RDBMS. Currently, I don't find any way to do that.

[2019-10-11 00:29] gorda commented on #81
It’s time to learn about the graphics database.Thank you!

[2019-10-11 00:29] #81 closed

[2019-10-11 07:41] pjebs commented on #65
Can you send me a link to your code where you have implemented your wrapper for stdSql.DB to exactly where you are translating
`Exec(ctx context.Context, query string, args, v interface{}) error`

`args` and `v` to `args ...interface{}` and `Result` as required by stdSql.Db.

In order to cancel a Mysql query, you have to have a stdSql.Conn object. Your package directly uses the pool.

I am trying

[2019-10-11 11:40] alexsn commented on #65
The code where we implement the dialect.Driver interface is [here](https://github.com/facebookincubator/ent/blob/95210005341f2b397d37449935a52a6764ab15f6/dialect/sql/driver.go#L19).

[2019-10-11 16:49] leafduo commented on #85
`dialect.Driver` or `sql.DB` are both OK, but that requires passing additional struct around since `ent.Client` doesn't provide a way to get underlying driver or db.

[2019-10-11 22:28] pjebs opened #87 "Feature Request: Add mysql context cancellation"
Some graph queries can be very time consuming. On a large dataset backed by MySQL, running a query to find all friends of friends of  friends of friends can be very time consuming. It is beneficial to be able to cancel the query (including the underlying query in MySQL).

Due to the current API design (more specifically the dialect.Driver interface) which is unlikely to change, it is not possible

[2019-10-11 22:36] pjebs commented on #87
[code]

[2019-10-12 06:28] a8m commented on #87
`ent` supports `context.Context`. Hence, if the underlying driver supports `context.Context` cancellation, your app will support this as well.

AFAIK, the popular [MySQL driver](https://github.com/go-sql-driver/mysql#contextcontext-support) does support `context.Context`. But if you want to use a different driver for MySQL, then, it should [register itself](https://golang.org/pkg/database/sql/#Reg

[2019-10-12 06:46] pjebs commented on #87
That is a common misunderstanding about how MySQL's protocol works. It is not possible to cancel the underlying query in MySQL (irrespective of driver) directly from a Pool. You have to do it via a Conn object (which holds a unique connection and not via the Pool), so you can then send a `KILL` command to it upon context cancellation.

See Discussions:
http s://github.com/go-sql-driver/mysql/pull/

[2019-10-12 06:50] pjebs commented on #87
Due to the nature of MySQL protocol, when you do cancel a context: https://github.com/go-sql-driver/mysql#contextcontext-support

It doesn't cancel the underlying mysql query. It cancels it from "Go's" point of view. You could have a super long running query or an infinitely looping query continually running in MySQL that is orphaned.

If you don't believe me, you can test it by running a query su

[2019-10-12 06:59] alexsn commented on #87
@pjebs, it seems to be a bug in go-mysql-driver so I'm not convinced `ent` should provide a workaround.

[2019-10-12 07:04] pjebs commented on #87
@alexsn It's not a bug in driver. It's due to the mysql protocol. You can read about it in for other languages too.

Ideally, `ent` should not provide an internal workaround - I agree (I requested it as a last resort because I was pretty sure you weren't going to change the driver interface).

But then the driver interface should be more flexible.

[2019-10-12 07:08] alexsn commented on #87
So currently the issue is that we require `sql.Rows` from both `Exec` / `Query` right? Will switching `sql.Rows` to an interface help your case?

[2019-10-12 07:13] a8m commented on #87
We can't do this, because the plan is to abandon `dialect.Driver` and use directly `*sql.DB`.

[2019-10-12 07:16] a8m commented on #87
The `dialect/sql.Driver` just wrapping the `*sql.DB`. My suggestion is changing https://github.com/rocketlaunchr/mysql-go to register itself as a driver and then working with the standard library.

[2019-10-12 08:05] a8m commented on #87
Also, giving this example - I think, that in general, you should not rely on the client side to close the connections. Especially, in dynamic systems where you run deployment changes frequently (or services crash non-gracefully). The SQL server should be tolerant for this kind of scenarios, for example using the [`MAX_EXECUTION_TIME`](https://dev.mysql.com/doc/refman/5.7/en/optimizer-hints.html#op

[2019-10-12 20:45] a8m commented on #85
Yeah, because we believe it's not required for most of the use cases, and we prefer to stick with the type-safe API. However, predicates can be customized.

Can you share your use case, or what is missing in the client? Thanks.

[2019-10-13 11:06] mk0a1a opened #88 "Generated files missing some package imports"
The generator misses some imports when chaining 3 entities with edges.

Scenario with 3 simple entities:

`Person` -> `Car` -> `Part`

1. Generate entities
[code]
2. Add edges

    `person.go`
[code]

    `car.go`
[code]

    `part.go`
[code]
3. Generate files
[code]
4. Run program
[code]

I'm not really familiar with graph databases and maybe I'm using it the wrong way.

[2019-10-13 13:49] a8m commented on #88
Thanks for reporting this issue @mk0a1a, you actually found a bug with a change we landed lately (related to the import logic).

It should be fixed after #89 will be merged.

[2019-10-13 14:03] #88 closed

[2019-10-13 19:14] gpopovic commented on #46
@a8m any eta for eager loading and hooks?

[2019-10-13 20:19] a8m opened #91 "proposal: eager loading support"
We open this task in order to get feedback for the **generated-code API** of eager loading.
The 3 requirements (maybe there are more) we thought about are:
- Allow filter edges/relations (using `.Where`)
- Get nested edges/relations
- Limit/offset capabilities

A few examples here for what we thought about:

**Add a `With<EdgeName>` method to the builder:**
[code]
This example gets all users under

[2019-10-13 20:21] a8m commented on #46
We are in the holiday season right now, and we'll get back to work on Oct 23rd (so I can't commit to an exact date). However, I can say that we plan to tackle immediately these 2 problems (eager-loading first).  You are welcome to help us with the design of the eager-loading API (#91).

Right now, I'm sporadically working on adding the PostgreSQL support.

[2019-10-14 01:05] manishrjain commented on #46
Would there be interest in support for Dgraph? We could help out if there’s interest (I’m the founder of Dgraph).

[2019-10-14 07:06] cliedeman opened #92 "Foreign Key Filtering/Retrieval"
Given the following schema

[code]

[code]

If I run the following code
`todos, err := client.Todo.Query().All(ctx)`

There is no easy way to retrieve the user_id field without sending an additional query for each row right now.

Use Case:
Graphql Query that returns users then uses a data loader to fetch users. Ideal SQL:

[code]

Option 1:
Remove edge relation and manage fk manually.

Easy, works

[2019-10-14 08:12] henomis commented on #83
Ok. I'm not working with swagger, so in my idea is to use the already defined ent strctures to unmarshal json body

[code]

and it works. Now I need to call `Create()` or `Update()` using `client.Project`. Is there an API that takes the whole structure or I have to call `Set()` for each fields?

[2019-10-14 08:39] a8m commented on #92
Filtering on edges can be done using the [edge predicates](https://entgo.io/docs/predicates/#edge-predicates).

Some edges, like M2M have a join table. Hence, FK is useless in these cases. For example:
If you have a `users<-->groups` relation, you want to be able to get the groups of users easily and not the FK in the join table.

About edge retrieving - this is part of the [eager-loading](#91) fe

[2019-10-14 08:45] a8m commented on #83
The builder API requests that `Set` will be called **explicitly** on each of the fields (in order to avoid redundant/wrong field updates). However, like @alexsn mentioned you can add your own [template] to do it for you. Let me know if you need any help with that.

[template]: https://entgo.io/docs/code-gen/#external-templates

[2019-10-14 09:40] cliedeman commented on #92
Hi, thanks for the response.

Edge predicates is an option but isn't the extra join a waste in this case?

[code]

emits
[code]

Eager loading would solve some of these issues but also introduces an extra join.

I am looking for a solution where I don't need that join. Also I am happy if you simplicity sake the library does not support this or chooses not too but it seems like a very common use ca

[2019-10-14 10:01] henomis commented on #83
Oops, I omitted this part (template) reading docs, and I think it can be trated on a specific chapter.
However, yes please, can you suggest how to use entc with template? I have node.tmpl but I don't know where to place it nor how to pass it to entc.

[2019-10-14 15:46] alexsn commented on #83
Pass `--template <directory>` to `entc generate ...` where <directory> holds your go templates.

[2019-10-14 18:04] a8m commented on #92
Thanks for your comment @cliedeman and sorry for the delay (holiday season until Oct 23rd).

The FK doesn't always exist on the same table (M2M, O2M and some O2O) and JOIN (or sub-query) is required. It's also required in all cases when querying other fields (besides IDs).

However, I agree that cases like this should be optimized in `entc`. But in general, FKs are storage internal details and we'

[2019-10-15 12:47] a8m commented on #85
Hey, closing this issue since I don't think there's an action item here.

If you want to add custom methods to `*ent.Client` (or any other type), you can either use [external templates](https://entgo.io/docs/code-gen/#external-templates), or just add them manually to an `external.go` file under the `<project>/ent` directory. For example:

[code]

[2019-10-15 12:47] #85 closed

[2019-10-15 13:31] a8m commented on #91
Update:
After a discussion between @alexsn and I, the suggested changes to the API are:

- Add a field named `Edges` to the generated type that will holds all type edges. For example:
[code]
- Add a `With<Edge>(<Edge>QueryFunc...)` to each builder to preload edges. For example:
[code]
    This way, reusable options can be shared.
[code]

[2019-10-15 16:24] a8m commented on #46
Hey @manishrjain, thanks for proposing your help.

Currently,  we want to focus on our roadmap and don't want to commit to something we don't have the capacity for it (because it means maintaining and supporting a storage-driver we're not using nor have experience with).

However, @alexsn and I just discussed this morning on adding a public interface for pluggable storage-drivers. So, if someone i

[2019-10-15 18:33] cliedeman commented on #92
This is interesting to me because I
Yes my use case is verify specific. Normally you would just handle this with eager loading and call it a day. But with graphql resolvers it's a bit awkward knowing you will do that query anyway.

Some example code:

[code]

(Example using [gqlgen](https://gqlgen.com/) with ent)

So here we query todos, and then use a data loader to batch fetch the user objects.

[2019-10-15 19:02] a8m commented on #92
What I tried to say is: with minor change in `entc` (ent codegen) the code can be optimized, and subquery can be avoided for cases like:
[code]
(Because `user_id` exists in the `todos` table. This is a M2O relation. **It will be addressed soon**).

Again, M2O relations (and some O2O cases) will be improved by `entc`.  Also, the custom filtering won't be needed after this change in order to achieve

[2019-10-15 19:02] #92 closed

[2019-10-17 12:23] devig commented on #91
Will it be implemented with JOIN?

[2019-10-17 17:08] jdiaz opened #105 "[Question] Is there a plan for a JVM fork?"
Are there plans to port this framework over to the JVM (i.e Kotlin, Java etc.)?

[2019-10-17 17:24] alexsn commented on #105
Not in the foreseeable future.

[2019-10-17 17:24] #105 closed

[2019-10-17 17:26] alexsn commented on #91
Yes.

[2019-10-17 17:39] a8m commented on #91
Like @alexsn said, JOINs will be used for eager loading. But, in cases of loading multiple and nested relations, additional queries will be executed as well.

For Gremlin, we didn't figure out yet what is the "best" way for doing this.

[2019-10-18 19:56] marwan-at-work commented on #91
By the same token, if I get a user and all of his/her cars in one eager query, will the return value have both the user's columns as well as the cars?

Right now, graph traversals only return the last edge but not the edges you've visited along the way.

[2019-10-18 20:12] alexsn commented on #91
Yes, as an example:
[code]

[2019-10-21 12:05] jbub opened #110 "Field named "type" crashes on generation"
Hello, first thanks for this wonderful project !

Im hitting this issue, when one of my fields is called `type`, it crashes on:

[code]

[2019-10-21 13:28] alexsn commented on #110
That's weird as we do use this name in integration tests [here](https://github.com/facebookincubator/ent/blob/8e3a17550af66988f2c5af0ee73b0b7ac35bb3fd/entc/integration/ent/schema/group.go#L28). Could you post your entire schema directory?

[2019-10-21 13:30] alexsn commented on #83
Closing due to inactivity.

[2019-10-21 13:30] #83 closed

[2019-10-21 13:54] jbub commented on #110
I just debugged it a bit more and its failing on this field definition:

[code]

[2019-10-21 13:55] jbub commented on #110
It generates validator as follows:

[code]

[2019-10-21 14:01] hlubek commented on #46
It would be great to have support for UUIDs as IDs with explicit handling of the ID generation (instead of auto-generating the IDs)

[2019-10-21 14:10] alexsn commented on #110
Ok, I'm able to reproduce. It occurs when a field named `type` has more than one validator (`NotEmpty` and `MaxLen` in this case).

[2019-10-21 14:32] alexsn commented on #110
#111 fixes.

[2019-10-21 14:44] #110 closed

[2019-10-21 15:24] leetesla opened #112 "Q: Will other JOIN kind like LEFT JOIN be supported in future?"
[code]
Will other JOIN kind like LEFT JOIN be supported in future?

[2019-10-21 15:30] a8m commented on #112
JOIN is an internal detail of the sql storage driver for querying edges. What API are you looking for?

[2019-10-21 15:45] leetesla commented on #112
#### such as:
[code]
I'm looking for an API to build a SQL like :
`SELECT u.* FROM user u LEFT JOIN car c ON u.id=c.user_id WHERE u.name="lara"`

[2019-10-21 15:59] a8m commented on #112
The SQL builders are used by the **generated code** to build queries (we built this DSL-like for SQL in order to generate the SQL query in one place, and avoid using strings everywhere in the generated code).

When a developer uses an API like this:
[code]
The SQL driver executes a query with JOIN in order get all user's groups. However, SQL terms (like JOIN) are not exposed to the developer (only

[2019-10-21 17:34] jbub opened #113 "Unable to specify custom package name"
I have this `generate.go` file in my `./internal/ent` directory:

[code]
When i run `go generate ./internal/ent` from the root of my project, it generates ent files under `./internal/ent/store`, but inside those files, for example `client.go`, the package is `package ent`, but it should be `store`.

[2019-10-21 17:40] jbub commented on #113
The use case is, i want to separate generated code from schema definition files.

[2019-10-21 17:53] a8m commented on #113
Closing since there's already an issue for solving this problem #61.
I have a fix for this. I'll try to land it in the upcoming days.

[2019-10-21 17:53] #113 closed

[2019-10-21 17:59] jbub commented on #113
Oh sorry havent noticed that issue, thanks!

[2019-10-22 01:41] #112 closed

[2019-10-22 04:10] alexsn commented on #46
We do have plans to add support for custom ID generation but note that with [universal IDs](https://entgo.io/docs/migrate/#universal-ids) you're able to determine ent type by ID which you won't be able to to with UUIDs.

[2019-10-23 21:23] marwan-at-work opened #119 "table locking"
is there any suggested way to do table locking through a transaction?

tks

[2019-10-24 14:59] a8m commented on #119
Hey @marwan-at-work,
There's no way to execute raw SQL queries from the auto-generated `ent.Client`/`ent.Tx`.

However, you can add your own logic to an `extra.go` file (under `ent` directory) for having this functionality. For example, adding an `Exec` function for the transactional client:

[code]

We're not sure about if we want to add this functionality to the public API or not, and we'll be h

[2019-10-25 16:21] marwan-at-work opened #126 "proposal: custom column name for edges"
Currently there's a way to customize the Table name. Can we do the same for column names (including edges)?

Thanks

[2019-10-25 17:32] a8m commented on #126
There’s a [StorageKey](https://entgo.io/docs/schema-fields/#storage-key) option for columns. However, it does not support edges.

[2019-10-25 17:54] marwan-at-work commented on #126
@a8m thank you! I will try it out. Is there a plan to support edges? It's the last piece of the puzzle to potentially adopt ent to an existing DB for my team :)

[2019-10-25 18:29] marwan-at-work opened #127 "override id column"
Is there a way to redeclare the id column as a custom string type?

If I put the following in my schema:

`field.String("id").Unique()`

The generated code ends up broken because it creates two declarations of "id", but furthermore it ignores the fact that it's a string, and declares it as an integer instead.

This might be related to the UUID discussions, but it would be great if we can define ou

[2019-10-25 18:58] alexsn commented on #127
Currently the "id" field is implied so there's no way to override the underlying storage key. The above setting should give a better error message where a reserved field name is used.

[2019-10-25 19:01] alexsn commented on #127
Are you looking to rename the "id" column name, provide your own PKs or both?

[2019-10-25 19:13] a8m commented on #127
This is part of our roadmap and it should be addressed in the upcoming week (or 2).
I linked this issue to the roadmap item.

[2019-10-25 19:20] a8m commented on #126
Yes. I was thinking about this when I added this option, but decided to ignore it because I wasn't 100% sure about the API.

Basically, I thought about adding this option only to the `edge.To` builder (because `edge.From` is just a reference). Also, in addition to the `StorageKey(string)` option, add another method `StorageKeys(c1, c2 string)` for cases where the edge is mapped into a join table (

[2019-10-25 19:49] marwan-at-work commented on #127
@alexsn im not looking to rename "id". I'm looking to keep it "id" but change its type from integer to string, and also be able to provide my own value when i create a row.

Thanks :v:

[2019-10-25 19:53] marwan-at-work commented on #126
@a8m that sounds great. Not sure I understand the two key vs one key though. I was imagining something on the edge itself where I can say `edge.To("cars").StorageKey("card_id")`. But whichever API lets me customize the column table of an edge I'm happy with for sure :+1:

Thanks

[2019-10-25 20:18] a8m commented on #126
Given this example:
[code]
You have a many-to-many relation between a user to its friends. Therfore, a table named `user_friends` will be created with 2 columns (`user_id`, `friend_id`). These columns are the storage keys of this edge.

Thanks for your feedback!

[2019-10-29 15:29] smintz commented on #46
Does eager loading means using the practices of [dataloader](https://github.com/graphql/dataloader)? If so, there's https://github.com/graph-gophers/dataloader that can be used.

As per hooks, I don't know what you have in mind but I saw a neat implementation by https://github.com/infobloxopen/protoc-gen-gorm
[code]

Hope this helps

[2019-10-29 21:26] taliptako commented on #54
@a8m How this can be possible ?
[https://neo4j.com/news/how-much-faster-is-a-graph-database-really/](https://neo4j.com/news/how-much-faster-is-a-graph-database-really/)

[2019-10-30 11:56] a8m commented on #54
Like I mentioned above, the benchmark tests we ran on our data-model between RDS and Neptune showed better result for RDS (some of them had traversals with depth 5).

We didn't benchmark Neo4j and didn't compare all possible queries, but I feel that our data-model and the tests we ran cover the majority of the cases.

BTW, even the most complicated queries we compared (depth=5) were below 3 second

[2019-10-30 13:14] taliptako commented on #54
@a8m That's strange can I make some tests with your data too is it something you can share?

[2019-10-30 13:28] a8m commented on #54
Not really, but you are welcome do run your own comparison and share with us the result.

Thanks!

[2019-10-31 13:22] a8m commented on #54
Hey @taliptako - just wanted to update that I went over the example in "Neo4j in Action" (mentioned in the link you've added), and I don't have any doubt that graph databases perform better in these cases.

However, queries like `user->friends->...->friends` on large datasets don't exist in our platform. When a query with long or complex computation needs to be applied, it usually runs in a differ

[2019-10-31 14:08] a8m commented on #69
PostgreSQL support was added. Thanks a lot for your contribution!

[2019-10-31 14:08] #69 closed

[2019-10-31 14:27] Aligator77 commented on #46
Will there be support for MSSql, Redis, Elasticsearch?

[2019-10-31 16:23] a8m commented on #46
No, at least in the foreseeable future. However, as I mentioned above, we have plans to add a public interface for pluggable storage-drivers. So, if someone want to take and mention it, I'll be happy to help.

[2019-10-31 16:38] frederikhors commented on #69
Any "read more" link about? Is it already in master?

[2019-10-31 17:35] a8m commented on #69
It's on master. The usage is similar to other dialects - https://entgo.io/docs/crud

[2019-11-04 01:06] mk0a1a opened #139 "Feature Request: Upsert"
Is it possible to have atomic upsert functionality similar to postresql's [INSERT ON CONFLICT](http://www.postgresqltutorial.com/postgresql-upsert/) or mysql's [INSERT ON DUPLICATE KEY UPDATE](https://www.techbeamers.com/mysql-upsert/) statement? Use case is to save roundtrips on remote databases and to minimize lines of code.

[2019-11-04 08:09] a8m commented on #139
This issue somehow depends on #127. Although, it's possible to define the conflict on any constraint.

I don't see any problem with adding this after #127 will be addressed.

[2019-11-06 09:34] pavelz opened #142 "Byte type of field fails to migrate on PG, on pq: column "image" contains null values"
Adding to table definition:

[code]
Won't migrate the table, whether there is Nillable() or not.

2019/11/06 12:32:24 failed creating schema resources: sql/schema: alter table "users": pq: column "image" contains null values

[2019-11-06 10:10] a8m commented on #142
Can you replace the `Nillable` option with `Optional` in this schema? (I wonder how does it work for you with `Nillable` and not `Optional`; because `Nillable` requires `Optional`).

Please let me know if it does/not work for you.
Thanks

[2019-11-06 11:06] pavelz commented on #142
thank you for your reply, yes .Optional() works and allows migration with NULLable column but migration does not set DEFAULT for some reason - as with String type. Suppose update to migrations is in order.

[2019-11-06 11:10] joesonw opened #144 "json struct tag naming strategy?"
Is it possible to use camelcase or even custom tailored  for generated json tag names?

[2019-11-06 11:16] #144 closed

[2019-11-06 13:01] a8m commented on #142
We intentionally do not apply the default value on the database for blob type, because it doesn't support by all dialects (MySQL for example).

[2019-11-06 16:41] #142 closed

[2019-11-08 16:14] greyg00s opened #148 "Feature Request: Support UpdateDefault for other field types"
https://github.com/facebookincubator/ent/blob/4aa550a68f4055830819d553a529bfd3c6e016a4/schema/field/numeric.go#L10

I was looking to switch my db fields from time fields to Unix time be to time zone agnostic.

[2019-11-08 16:28] a8m commented on #148
Thanks for opening this issue.

Unlike `field.Time`, the default value for numeric types is just a static value.
Regarding your issue (time as unix format), I wonder what's the right thing to do:
- Add support for different format for time fields
- `UpdateDefault` should get a function
- Or just leave it as it is today

I'll leave it open to see what others have to say about this.

[2019-11-08 16:32] greyg00s commented on #148
Think should be a function like time field. This way would be able to pass time.Now().Unix as a function, or some other user defined function. At which the user can pass a generic function, but might like func() int, but it might do some additional calculations before returning a value.

[2019-11-08 20:30] a8m commented on #148
Currently, the `Default` value for numeric field is a Go numeric value and not a function. Therefore, if you want to define a default value (on create) for an int field that will be used as a unix time you won't be able to use `time.Now().Unix`.

Also, I like the idea that `Default` and `UpdateDefault` have the same type.

It looks like an issue/proposal for a specific problem (that sounds reasona

[2019-11-09 12:29] htdvisser opened #150 "Indexes with only Edges"
Given the following in `ent/schema/`:

[code]

`entc generate` refuses to create an index on the `user_id` column of `public_keys`, with the error:

[code]

Perhaps this only makes sense for SQL databases, but it should be possible to configure an index on `user_id`, right?

It looks like making this possible only require a small change in

https://github.com/facebookincubator/ent/blob/4aa550a68f4

[2019-11-09 13:13] htdvisser opened #151 "Add Indexes/Edges/Hooks to Mixin"
Currently the `Mixin` interface only contains fields:

https://github.com/facebookincubator/ent/blob/4aa550a68f4055830819d553a529bfd3c6e016a4/ent.go#L132-L136

I think it would be nice to support indexes for the fields that are in the mixin, so that I could define something like:

[code]

[2019-11-09 13:17] htdvisser commented on #151
I'd also be happy with something like a `.Indexed()` on the `field.xxxBuilder`s (similar to `.Unique()`) to create a single-column index for that field.

This approach would also work for single-edge indexes, and my example in #150.

[2019-11-09 13:54] a8m commented on #151
I like both suggestions.

I’ll comment in more details tomorrow (weekend time). Thanks

[2019-11-09 13:57] a8m commented on #150
Sounds reasonable.

I can quickly add this tomorrow, but let me know if you want to contribute this change.

Thanks.

[2019-11-10 10:56] #150 closed

[2019-11-10 19:56] taliptako commented on #54
I wonder if it's healthy to use this (ORM or OGM?) for such a query which needs a lot of join on large dataset? Is it capable to create right Gremlin queries under the hood

[2019-11-12 08:12] a8m commented on #151
Adding `Indexes` to `Mixin` sounds good to me. I like the other suggestion too, but I feel like it's adding too much complexity to the codebase just for a syntactic-sugar like API (I'm not saying it's bad, just not sure what I think about this).

[2019-11-15 03:03] n3v3rf411 opened #167 "MySQL with non-nullable foreign key columns"
I have an existing database schema from which I create schema objects from. The foreign key columns in the existing schema are non-nullable. When I create a new child entity in a O2M relationship, MySQL throws an error like as follows:
[code]

In the generated `xxx_create.go` `sqlSave` function, the foreign key columns seem to be set after insertion.

Is there some other way to make this compatibl

[2019-11-17 15:11] a8m commented on #167
Hey @n3v3rf411,
Thanks for opening this issue.

You are right, `ent` indeed updates the fields first, and only then update the edges.
However, we're working on changing the storage layer to be more dynamic and optimized in cases like this as well.

Currently, I don't have a quick solution for this, but I'll keep you updated if anything will change.

[2019-11-19 22:45] BitPhinix commented on #127
Seems to work with the lastest branch, but there isn't a uuid type available. Is there any way to use a Postgres UUID primary key with ent?

[2019-11-20 00:00] n3v3rf411 commented on #167
I could do with setting the columns to nullable for now.

Thanks for the great work, btw 😁

[2019-11-20 10:11] a8m commented on #127
Hey @BitPhinix, this feature is still in development.
I'll update the issue (and the roadmap) once we finish the implementation.

[2019-11-24 16:06] #61 closed

[2019-11-25 05:04] WinPooh32 opened #191 "field.String/field.Text generates int8 type field"
Hello.
I am trying to generate code by example schemas and all string fields are generated as int8. As I know it begins to happen after [this commit](https://github.com/facebookincubator/ent/commit/7be1779ad1343636916463dfe92b57181476f1c1).

`entc describe` [output](https://gist.github.com/WinPooh32/7fdb27ff5847c1d774d83fd3d151bf1e) for examples/start.

[2019-11-25 06:00] a8m commented on #191
Can you upload please your schema?

[2019-11-25 06:03] a8m commented on #191
Another question please - are you working with go modules?

I assume your `ent` version and `entc` are not identical.
Please try to follow this [guide](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent), and let me know if it does fix your problem.

[2019-11-25 08:02] WinPooh32 commented on #191
Thank you, I just forgot to update entc:
`go get -u github.com/facebookincubator/ent/cmd/entc`

[2019-11-25 08:02] #191 closed

[2019-11-26 02:45] AN-Cesc opened #194 "Cannot run command entc init <name> outside go path"
hi team, I'm a beginner for golang. I have got a problem when using it to generate schema.

- first step: I create a new folder, change directory to it and run command go mod init <project-name>
- second step: I install entc framework using command go get github.com/facebookincubator/ent/cmd/entc
- third step: I run command entc init User, but I have got a message -bash: entc: command not found

I

[2019-11-26 05:40] a8m commented on #194
Can you replace please “entc init” with “go run github.com/facebookincubator/ent/cmd/entc init <arguments>”?

This [example](facebookincubator/ent/blob/master/examples/start/ent/generate.go#L7) in the examples package contains a complete command.

[2019-11-26 06:12] AN-Cesc commented on #194
I can be done by using "go run github.com/facebookincubator/ent/cmd/entc init ...". thanks for the support. but I can't access example hyperlink you provide

[2019-11-26 06:50] a8m commented on #194
Here's the link - https://github.com/facebookincubator/ent/blob/master/examples/start/ent/generate.go#L7

I'm closing issue, but feel free to open if you still have troubles.
Thanks

[2019-11-26 06:51] #194 closed

[2019-11-26 06:54] AN-Cesc commented on #194
thank you, I did pass through the issue

[2019-11-26 19:59] erikh opened #200 "migrations with sqlite3"
I have roughly the schema below, and on the second pass of Schema.Create, it gives this stack trace. I notice on the documentation near the trace it says sqlite3 can't be used in "append-only" mode because it's "just for testing". Is that the current state of things? If so I can just change my database targets.

[code]

Schema:

[code]

[2019-11-26 20:10] a8m commented on #200
Hey @erikh, thanks for reporting this issue.

As it [mentioned](https://entgo.io/docs/dialects/#sqlite) in the docs, `ent` does not support incremental updates for schema, since (in our case) it's used only for testing.

I don't think it's a problem to add support for it (although, some things are not clean, like adding FK for existing table), it just wasn't in our priority.

Are you using `sqlite

[2019-11-26 20:25] erikh commented on #200
Thanks, I guess I missed this, sorry for the noise.

I was just planning on using it for simplistic scenarios where I'd use ent; the system itself is designed to run in compact and large environments which makes the multi-driver support a great dovetail with what I'm doing (a CI system). Basically I want a "CI in a box" for small, testing/evaluation situations and a more scalable, distributed syst

[2019-11-26 20:32] erikh commented on #200
...that was a lot of words to say "basically, I want to use one container instead of N". :)

[2019-11-26 20:49] a8m commented on #200
Thanks for the rich comment @erikh :)

That can be great. I don't have all details in front of me this moment, but I remember that implementing a real incremental migration for SQLite was a bit PITA (like the FK example above).

There's no much code to do in the migration, since most of the migration logic is generic and execute dialect specific operations. There are just a few open issues that we

[2019-11-26 21:01] erikh commented on #200
Sounds great. Thanks!

On Tue, Nov 26, 2019 at 12:49 PM Ariel Mashraki <notifications@github.com>
wrote:

[2019-11-29 20:07] erikh commented on #200
it's a holiday here in the states, so no big deal, but I wanted to remind you that I'm still interested in doing this work for you.:)

[2019-11-30 01:24] lfaoro opened #208 "entc generate fails with `undefined: field.TypeUUID`"
Hi guys, I don't understand what I'm doing wrong, I don't have any `field.TypeUUID` in my schema

[code]

I have a pretty simple schema, and I'm unable to debug this. Could you point me in the right direction?

[code]

[2019-11-30 06:08] a8m commented on #208
I'm pretty sure you're facing the same problem as #191.

Please try to follow this [guide](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent), and let me know if it does fix your problem.

[2019-11-30 06:08] #208 closed

[2019-11-30 11:32] alexsn commented on #200
@erikh, we'll provide an update tomorrow.

[2019-11-30 13:12] lfaoro commented on #208
Thank  you @a8m, indeed fixing package/tool versioning solved the issue.

I wonder about the complexity of adding such a check in the entc CLI, in order to notify users about package/tool version mismatch and point to the guide.

WDYT?

[2019-11-30 19:04] a8m commented on #200
Great, and sorry for the delayed response.
I think we can start by discussing about how we handle the case of adding FKs to existing tables.
I know that one popular approach is to re-create the table and copy the data, but I wonder if it's really feasible for production environments. Any thoughts?

[2019-11-30 19:15] a8m commented on #208
I was thinking actually to just use Go modules for this. Basically, generate for the user a file named `generate.go` that hold the command, and ask them to run `go generate`.

Then, once you use `go run github.com/facebookincubator/ent/cmd/entc` inside your project directory, Go will use the package version that resides in your `go.mod` file and not GOPATH.
The `generate.go` mentioned above, will

[2019-12-01 18:46] erikh commented on #200
It looks like sqlite3 supports transactional DDL. From what I'm reading it looks like certain operations are allowed and others aren't... CREATE INDEX is a great example of something people are having trouble making transactional in sqlite3. Similar to postgres.

I'll look more later this week.

[2019-12-01 18:47] erikh commented on #200
To the FK issue, did you see something specific from sqlite3 that I'm not aware of, or is this a general "we can't find the key in the db, abort abort and don't break anyone" issue?

[2019-12-02 12:09] a8m commented on #200
The problem I had that time was that I couldn't add the `ADD CONSTRAINT` with `ALTER TABLE`.
But, from going over the documentation again, I saw that it can be done as follows:
[code]

Wonderful!

[2019-12-02 16:10] aca opened #212 "Q: recommended way to add aditional constraint?"
Hi, I'm trying to add additional constraint rule. But It seems impossible in ent.
Would you recommend a way to add it after Schema.Create() ?
Should I just not use it at all? And initalize schema in other way?

I need something like this.
user / project / role
role has constraint unique (user, project)

[2019-12-02 16:53] a8m commented on #212
user / project / role
role has constraint unique (user, project)

You mean, you want to define a unique index on these 3 fields? If so, please give a look on the [indexes](https://entgo.io/docs/schema-indexes/) page in the website and let me know if it does solve you problem or not.

[2019-12-03 05:55] erikh opened #214 "Clever use of edges causes code gen failure"
[code]

`entc generate` passes this with flying colors, but generates code which will not compile:

[code]

Renaming the `From` edge ref to `ref_names` seems to resolve the issue.

[2019-12-03 05:58] a8m commented on #214
Thanks for reporting this issue.

I’ll give it a look.

[2019-12-03 11:47] a8m commented on #212
Closing this for now.
Please open if you still have troubles.

[2019-12-03 11:47] #212 closed

[2019-12-03 15:33] a8m commented on #214
After I went over this example, I think that in cases like this, using `ent.Config` is preferred. For example:
[code]
I'm also a bit biased here, because I don't want to make internal things too clever.
Closing it, but feel to open if you still have troubles.

[2019-12-03 15:33] #214 closed

[2019-12-03 19:30] erikh commented on #214
That's fine, I don't take any issue with that, but `entc generate` should detect it before generation if possible. Is that a hard problem with the way the code is organized? I don't have a lot of weight in this argument; I just thought I would suggest that.

[2019-12-03 21:46] chris-rock opened #215 "Feature request: Cursor-based pagination"
The tool already includes support for pagination, but its limited to offset pagination which is known to be less optimal for fast-changing datasets. Support for cursor-based pagination would be awesome.

[2019-12-04 06:40] a8m commented on #215
Hey @chris-rock,
We actually discussed about this internally a few months and kinda agreed that we want to add a cursor-based API.

I think we'll address this after [v1](https://github.com/facebookincubator/ent/issues/46) is finished.

[2019-12-04 10:40] a8m commented on #214
I think this should be addressed, and it's pretty easy to solve.

---

I just want to explain my previous comment for later readers -  _"I don't want to make internal things too clever"_.

Currently, `ent` generates table names as plural for types as follows:
[code]
But, since M2M edges require a join table, `ent` needs to generate for them a table as well.
The table name convention for edges is b

[2019-12-05 01:53] n3v3rf411 opened #217 "Approach to unit tests"
I would like to know what are the recommended approaches to unit testing the generated client codes. There is a generated example test but for integration. I am pretty new to go and ent, but I thought of the following strategies:

1. Move interactions on `ent.Client` to a separate layer e.g. using patterns like repository/DAO, then mock out that layer. However, I think that this is redundant.

2.

[2019-12-05 09:19] a8m commented on #217
We use the same approach as the `httptest` package. Which means your code continue to work with `ent.Client`, but the underlying storage (`sql.DB`) is mocked.
You can use either `go-sqlmock` or `sqlite`. I'll recommend you to use `sqlite`, because with `go-sqlmock` you define exceptions on the executed queries and these are "low level" details that I don't expect our end users will have to deal wi

[2019-12-05 09:19] #217 closed

[2019-12-05 12:25] chris-rock commented on #215
That sounds awesome. Thank you @a8m

[2019-12-05 16:31] kidlj opened #220 "Question: how to select and scan a user and all his pets(O2M) into a struct?"
Suppose that `User` and `Pet` has a O2M relation, and the following is the result type I want to scan into

[code]

How to select and scan results into such a struct variable ?

Thanks.

[2019-12-05 17:02] a8m commented on #220
Hey @kidlj, Eager-loading is currently under development and should be done soon.
See #91 for more details.

You're welcome to give feedback on the design in the linked issue.
Thanks

[2019-12-05 17:02] #220 closed

[2019-12-05 21:20] erikh commented on #200
it looks like the SQL builder is going to need to support sqlite3 `pragma` statements before I move further. do you have a preferred way to do this? it seems very "select"-centric at the moment at a glance.

[2019-12-05 21:41] a8m commented on #200
The current SQLite schema code already [executes `pragma`s](https://github.com/facebookincubator/ent/blob/master/dialect/sql/schema/sqlite.go#L23). However, it doesn't have any special API for this in the builder, just uses `Exec(...)`. Does it help somehow?

I think the best way to start is [here](https://github.com/facebookincubator/ent/blob/master/dialect/sql/schema/sqlite.go#L151). Basically,

[2019-12-05 21:46] erikh commented on #200
Yeah I was working with the equivalent postgres code already. I just didn't see this bit about the pragma use. This helps a ton; should have something in a day or two.

[2019-12-05 22:33] erikh commented on #200
I started #221 (linking these two) to discuss changes to the outstanding patch.

[2019-12-06 01:03] n3v3rf411 commented on #217
All clear! Thanks for the great answer. I hope this will help other people as well 🎉

[2019-12-08 15:28] lfaoro commented on #208
I would avoid forcing people to use `go generate`.

We could add a check in entc: check go.mod file, check internal version -- output warning on mismatch.

WDYT?

[2019-12-08 17:26] a8m commented on #208
Yeah, sounds good. We can use [`debug.BuildInfo`](https://golang.org/pkg/runtime/debug/#BuildInfo) for this.

I've opened an issue (https://github.com/golang/go/issues/35921) in Go repo about adding module support to `go/packages`. Let's wait a few days to see what goes with it. If it won't be accepted, I'll add this code by myself.

Thanks.

[2019-12-08 20:49] lfaoro commented on #208
You're very welcome @a8m

[2019-12-09 02:41] kidlj opened #224 "examples/o2o2types: Error with MySQL 8.0"
[code]

[2019-12-09 02:42] kidlj commented on #224
The same example code works fine for PostgreSQL 12.1:

[code]

[2019-12-09 05:19] a8m commented on #224
Thanks for the reporting.
I’ll give it a look.

[2019-12-09 06:02] a8m commented on #224
Hey @kidlj,
I'm testing this on the following versions and it's working fine:
[code]

I'm pretty sure you forgot the [`?parseTime=true` option](https://github.com/go-sql-driver/mysql#parsetime) in the connection string.

Closing, but feel free to open if you still have troubles.

[2019-12-09 06:02] #224 closed

[2019-12-09 06:18] kidlj commented on #224
@a8m Thank you, that's the solution, I didn't know that.

[2019-12-10 10:29] jd88 opened #227 "Question: order based on edge"
I started using entgo for a new project and really like it so far. Nonetheless I can into a problem with respect to the order. So far entgo supports ordering based on fields, as the example shows:
`users, err := client.User.Query().
    Order(ent.Asc(user.FieldName)).
    All(ctx)`
Is it also possible to order based on edges? I unsuccessfully tried this approach:
`Query := storage.Db().Person.
	Qu

[2019-12-10 12:59] a8m commented on #227
Hey @jd88,
It doesn't support by the framework, because the relation properties reside in a different table (and a JOIN step is required here).
However, I think you can add this logic by yourself with a custom order function.

[2019-12-10 18:34] jd88 commented on #227
Hi @a8m Thank you for the swift response. I tried to look in to a starting point for that custom function. Do I use a predicate for this or do you suggest to query the relevant e.g. firstnames in order and then query to corresponding persons?

[2019-12-10 18:47] a8m commented on #227
If you can paste here your schema (`ent.Schema`) and the query your try to apply (in pseudo code), I'll try to help you with this.

Anyway, I'm closing this issue since it's not a bug.
Thanks

[2019-12-10 18:47] #227 closed

[2019-12-10 18:50] a8m commented on #227
BTW, use triple back-ticks (```) for code blocks.

[2019-12-10 18:56] jd88 commented on #227
Thank you four help!
Schema:
[code]

[code]
Firstname and lastname are possibly not the best example, however still they are subject to change. I wanted to be able to track these changes. But also I want to query the person ordered by firstname or lastname... The StringValue field holds any value that is a string and that is subject to change... that was the idea. May there is also an easier way t

[2019-12-11 03:58] clalos commented on #126
Hi guys, any update on this? We use custom column names for foreign keys in our MySQL db so I can't even try to query the relationships 😞

[2019-12-11 04:13] aca commented on #212
@a8m Sorry, missed that one. Didn't know I can pass multiple arguments to index.Edges().

For someone who read this..

[code]

[2019-12-11 05:17] aca commented on #127
@a8m Feature Proposal
I think it is related to this, so I write it here.
Can we customize struct tag for field "id" ?

I'm currently using type generated by ent, and I want to make json reponse with no ID field.
Which is achievable by Sensitive() for other fields.
But It seems it is impossible to make edit struct tag for ID field.

[code]
I thought I could solve this by doing something like this.

[2019-12-11 05:37] a8m commented on #127
Hey @aca, did you try to override the struct tag? See - https://entgo.io/docs/schema-fields/#struct-tags

[2019-12-11 06:26] a8m commented on #126
We still didn't figure out what is the best way for defining storage-key for edges (in terms of API design). Especially, in cases when you have M2M relationship and you want to control the table-name, FK1 and FK2.

We open for suggestions.

[2019-12-11 08:04] a8m commented on #126
I can also share my progress on this:
1. The `StorageKey` will be available only for `edge.To`
2. The definition form will be one of the 2 options (need to choose one):
[code]
[code]

[2019-12-11 08:48] clalos commented on #126
Looks fine. The second definition looks cleaner. I don't see any advantages in the more verbose one, maybe I'm missing something 🤔

[2019-12-11 14:06] aca commented on #127
@a8m I meant ID field which is generated by entc not by defining ent.Field
[code]
Defining "id" field doesn't seems to work. Really sorry If I misunderstood.

[2019-12-11 16:19] a8m commented on #127
There's no option to override the ID's struct-tag except using custom template (which is too complex in this case imo).

This definitely should be addressed. I'll update the issue once we get to it.

[2019-12-12 13:57] chris-rock opened #233 "Question: Field Migrations"
I am trying to implement migrations properly with ent. Let's assume we have an entity user. We already  collected data in that table:

[code]
Now, I want to and a new field:
[code]

The migration will fail with `column \"create_time\" contains null values"`. I'd like to understand what your recommended way is? I see at least two options:

1. Combine ent migration with custom logic:
- allow nilable

[2019-12-12 14:38] chris-rock commented on #215
@a8m I implemented [keyset pagination](https://use-the-index-luke.com/no-offset) with ent by using the following code:

[code]
The code can be used then as follows:
[code]

I am happy to contribute if you think this is useful for this project.

[2019-12-12 14:58] a8m commented on #233
Unlike strings, numbers and booleans, timestamp fields can't have default values on the database using the `DEFAULT` clause.

When you define a time field as follows:
[code]
The default function (`time.Now`) will be invoke on `ent` side.

Now, if you want to add a new field that can't have a backfill in the database, you can define it as optional as follows (which is nullable in the database):
[co

[2019-12-12 14:59] a8m commented on #233
Thanks for raising up this issue.
I'm closing, but feel free to continue the discussion or to open if you still have troubles.

[2019-12-12 14:59] #233 closed

[2019-12-12 15:01] chris-rock commented on #233
Thank you for the clarification @a8m

[2019-12-12 15:27] a8m commented on #215
Wonderful! I'm going to give it a look this weekend!
Thanks :)

[2019-12-12 18:00] chris-rock opened #235 "SQL contraints are not removed when field.Unique() is removed"
If you define a field with a unique constraint it will properly set to the data-model
[code]

Now, remove the constraint:
[code]
That change will not be propagated to the database. You can still see the constraint defined:
[code]
I observed this behavior with postgres. Not tested with Mysql.

[2019-12-12 18:05] a8m commented on #235
Did you use the DropIndex option?
https://entgo.io/docs/migrate/#drop-resources

[2019-12-12 18:06] chris-rock commented on #235
I have not tested it with DropIndex, since I have not defined the field as an index.

[2019-12-12 18:07] a8m commented on #235
You can also use the “offline mode” to verify changes before dropping resources.
https://entgo.io/docs/migrate/#offline-mode

[2019-12-12 18:21] a8m commented on #235
Postgres (or MySQL) automatically creates a unique index when a unique constraint is added to a column, and ent migration works by default on “append-only” mode. So, if you want to drop resources, you need to ask this explicitly.

[2019-12-12 19:41] chris-rock commented on #235
I think I narrowed down the issue. Let's assume you create a new entity like:

[code]

This will generate the following correct SQL statement:
[code]

If we are going to add a `Unique()` statement:
[code]
a new index will be created via:
[code]
once we remove the uniqueness, a correct drop is generated:
[code]

The issue occurs, when you generate the entity with the uniqueness for the first time d

[2019-12-12 21:47] BitPhinix opened #236 "proposal: Bulk API"
It would be nice to have some way to create / insert multiple entities of the same type at once.

[2019-12-12 23:11] a8m commented on #236
We had a few conversations about it a few weeks ago, and I'm in favor of adding this functionality if it reduces the number of roundtrips to the database.

I'll leave it open to get suggestions for the API design.

[2019-12-12 23:15] a8m commented on #235
Thanks for this comment @chris-rock, I'll give it a look tomorrow morning.

What Postgres version are you using?

[2019-12-13 13:44] chris-rock commented on #235
I used the postgres dialect to generate the SQL statements via ent's offline mode. I tested everything with the postgres:12-alpine container

[2019-12-15 16:55] #235 closed

[2019-12-15 16:57] a8m commented on #235
Thanks for the report and the support @chris-rock
Please feel free to open if you still have troubles with the migration.

[2019-12-16 02:39] hantmac opened #246 "bug fix:Can't get field comment"
<img width="836" alt="截屏2019-12-1610 34 53" src="https://user-images.githubusercontent.com/7600925/70875147-e9e58780-1fef-11ea-9114-0555f235b494.png">

If I want to get the comment of a `Edge` I failed because the `Comment` field not defined in the `Descriptor`. I fix it in https://github.com/facebookincubator/ent/pull/244.

I'm not sure if we need such an operation,please review it.Thanks!

[2019-12-16 04:04] hantmac commented on #246
And I found the same problem in `Field` package, fixd in https://github.com/facebookincubator/ent/pull/247

[2019-12-16 09:29] a8m commented on #246
Hey, thanks for raising up this issue.

It's not a bug.  The `Comment` exists for historical reasons, and it's not used by `entc` (`ent` codegen) - no need to export it in the `Descriptor`.

[2019-12-16 09:29] #246 closed

[2019-12-16 09:49] hantmac commented on #246
Got it! Thanks!

[2019-12-16 09:59] hantmac opened #248 "Problem: db groups generated by `entc generate` can't open"
Hey, I am trying to use `ent` according to `getting start` https://entgo.io/docs/getting-started/, But after using `entc generate Car Group`, and create some data in db using next code:
[code]

Then I open the mysql terminal and exec `desc groups`, got errors:
<img width="1464" alt="截屏2019-12-1617 55 49" src="https://user-images.githubusercontent.com/7600925/70897332-59c63300-202d-11ea-8bfd-46ea14

[2019-12-16 10:33] a8m commented on #248
`groups` is a reserved keyword in MySQL8. You should quote it as an identifier as follows:
[code]

[2019-12-16 10:33] #248 closed

[2019-12-16 10:34] a8m commented on #248
Feel free to open if you still have troubles.

[2019-12-16 10:38] hantmac commented on #248
Thans for your reply! But my mysql version is 5.7, anyway, `select * from `groups;` solved.

[2019-12-16 10:38] hantmac commented on #248
Thanks!

[2019-12-16 10:58] chris-rock commented on #235
Thank you for your PR @a8m This fixes the issue that constraints are not properly deleted 🥇

I think there is still the question if ent should create an index for constraints:

changing

[code]

to

[code]

will generate

[code]

once, we re-add the uniqueness, it will create an index instead of a constraint:

[code]
[code]

What do you think @a8m?

[2019-12-17 05:20] vctqs1 opened #250 "How to add `Log` when create `ent.NewClient`"
I would like to create `ent.NewClient(ent.Driver(drv))` and add log here?

But how to use `Log(fn func(...interface{}))` here. Please give me example. Many thanks

https://sourcegraph.com/github.com/facebookincubator/ent/-/blob/entc/integration/json/ent/config.go#L23:2&tab=references

[2019-12-17 06:24] a8m commented on #250
What are you trying to do? Passing a custom log function, or log queries?

[2019-12-17 08:12] vctqs1 commented on #250
`custom log`

[2019-12-17 09:41] ansarizafar commented on #46
Please add geo types and location queries to roadmap.

[2019-12-17 11:38] a8m commented on #250
Here's an example that replaces the default `Log` function with `log.Println`.
[code]
I hope it helps.
Closing, but feel free to open if you still have questions.

Thanks!

[2019-12-17 11:38] #250 closed

[2019-12-17 23:58] errorhandler opened #252 "Feature Request: Soft Deletes"
Are there any plans to support "soft" deletes? That is, assuming the File schema has a deleted_at column, the code:

[code]

Would execute (approximately):
[code]
and
[code]
Would execute (approximately):
[code]

[2019-12-22 09:06] forestlovewood opened #256 "Edges with UUID primary key"
I'm trying to create schema objects to replicate an existing Postgres database which uses UUID primary keys and a M2M relationship between two large tables. I've found that when I create a UUID field, named `id`, attempting to build the project results in errors.

Profile schema:

[code]

File schema:

[code]

Error output:

[code]

Is there a solution for this, or are UUID primary keys just not s

[2019-12-22 10:00] a8m commented on #256
Hey @forestlovewood, and thanks for raising up this issue.

I'm aware about this limitation, and it's part of my effort to allow custom-id fields (see #127).
We're working on refactoring some of the SQL storage layer, and after I finished that, this issue (and eager-loading) will be easier to fix.

I'm closing this issue because it's duplicate of #127, but I'll update this issue once it's done.

[2019-12-22 10:00] #256 closed

[2019-12-24 03:52] hyponymous commented on #126
Both APIs look fine to me. Two questions:

First question: for the M2M case, what's the interpretation of the order of `Columns`? Suppose we have
[code]
Will it be correct to list `"user_id"` first here?

Since you're open to suggestions: given the potential ambiguity I'd suggest making these more explicit, e.g. with `FromColumn` and `ToColumn` fields. (Well-named arguments in the 2nd approach's `

[2019-12-24 12:28] a8m commented on #235
Hey @chris-rock,
Do you have any pros/cons about the 2 strategies? I like the current approach because the code looks the same for all dialects (but I don't mind to change it if it's incorrect).

I know that Postgres documentation suggests to use constraint because index is an "implementation details":

Also, I need to check the difference in table locking (if there's one) between the 2 commands.

[2019-12-25 09:03] hantmac opened #261 "run `go test example_test.go ` in `/ent/examples/entcpkg` failed"
I run `go test example_test.go ` in `/ent/examples/entcpkg` But got the error as flowings:

<img width="991" alt="截屏2019-12-2516 58 59" src="https://user-images.githubusercontent.com/7600925/71440415-0001ef00-2738-11ea-8368-25bee5e1226f.png">

The I want to found `spec.ScanTypes`, but I did not, does the template has bug?

[2019-12-25 09:23] a8m commented on #261
Thanks for reporting this issue!
I pushed a change yesterday and forgot to regenerate the examples assets (I still need to check why it passed the CI)

I submitted a patch for this.

[2019-12-25 09:24] #261 closed

[2019-12-25 09:26] hantmac commented on #261
Emm.I wanna to know how to regenerate the examples assets?

[2019-12-25 10:18] a8m commented on #261
[code]

[2019-12-25 10:31] hantmac commented on #261
Thanks!

[2020-01-02 11:10] chris-rock opened #266 "question: support for data extraction and search for a struct/JSON column"
It's a great experimental ent feature to be able to store structs as Json in a database table. I have a few questions regarding this feature:

- How to search for data within JSON?
- How to extract only specific fields from JSON?
- Is there a plan to standardize the abstraction for common use cases?
- What should be the syntax to  write nested JSON queries?

In the meantime, I believe that ent sho

[2020-01-02 14:03] a8m commented on #266
The "JSON type predicates support" is part of our roadmap (see #46). We didn't come up with the design yet, and I'll be happy to start the discussion/design about it here. However, we plan to finish eager-loading and hooks before start working on this.

---

I thought about generating predicates based on the concrete type (if it's known at compile-type).
For example: if the `Field` type is `map[st

[2020-01-05 13:01] ansarizafar opened #269 "Inheritance and Raw query support"
Is there any plan to add table Inheritance https://www.postgresql.org/docs/10/tutorial-inheritance.html feature?

ent should also allow raw query, a type-safe escape hatch for highly-optimized queries or queries ent don't yet support.

[2020-01-05 15:17] a8m commented on #269
Hey @ansarizafar

We currently focus on our [roadmap](#46), and don't have plan to support this.

I'm not sure I get this. What stops you from executing custom queries and decode them into `ent` objects?  Note, that it's also possible to add [custom predicates](https://entgo.io/docs/predicates/#custom-predicates) to `ent` queries.

[2020-01-06 13:03] ansarizafar commented on #269
Is there an example of custom queries with ent available somewhere?

[2020-01-06 15:50] a8m commented on #269
Use the [`sql.Exec/Query`](https://golang.org/pkg/database/sql/#example_DB_ExecContext) directly or see the example in #85.

Closing, since I don't have any action to take here.
Thanks!

[2020-01-06 15:50] #269 closed

[2020-01-06 18:36] danf0rth opened #272 "pascal panics in some cases during generating files"
Hi!

Specifying empty string for the field cause panics.

__Steps to reproduce__

1. Create schema with empty enum field name:

[code]
2. `entc generate ./ent/schema`
3. see it panics

__Reason__

https://github.com/facebookincubator/ent/blob/b54007ef5686f1bcfaff0e8280b718252f49e079/entc/gen/func.go#L108

In any of this cases `pascal` will panic:

- empty string
- starting from _underscore
- endin

[2020-01-06 18:55] a8m commented on #272
I think the easiest way to handle this, is simply to reject fields without name.
#273 should fix this.

[2020-01-06 19:30] #272 closed

[2020-01-06 19:33] a8m commented on #272
Oh, I just saw this option.
I really sorry about this, I saw the bug and just fixed this automatically (while working).
I hope you'll have more opportunities to contribute code at the future.
Thanks and sorry (again!)

[2020-01-07 08:06] chris-rock commented on #139
@a8m do you have already a syntax for upsert in mind? Since upsert is different in Postgres/Sqlite and Mysql, Ent should probably abstract that common case.

Just a draft of my current thinking:

[code]
This would allow us to reuse the Settters for Create and Update and ensure that Create and Update can include different properties.

[2020-01-08 14:16] ansarizafar commented on #85
It would be great If ent.Client exposes underlying driver or db by default so that we don't have to do it our self every time we generate the code. I want to execute following commands after client is connected to database.
[code]

[2020-01-08 18:15] danf0rth opened #275 "Enum with name of reserved Go keyword breaks codegen"
Hi!.

__Steps__

1. `field.Enum("chan").Values("a", "b", "c"),`
2. `entc generate ./ent/schema/`
3. see that codegen uses reserved golang keywords

Solutions, either use name transformed by https://github.com/facebookincubator/ent/blob/b93958ebf41655714d3dc7d3937327bd0ad01036/entc/gen/type.go#L712 or deny using reserved keywords at all.

I just tried to fork and fix it with `builderField` and it s

[2020-01-08 18:22] a8m commented on #275
Hey @danf0rth and thanks for reporting this issue.
Is it a really use case? If so, you are welcome to send a PR.

[2020-01-09 06:19] ansarizafar commented on #269
I understand you are busy working on roadmap for V1 but Inheritance is a nice feature for data modeling. Please consider adding this feature after V1.
Thanks for the amazing project.

[2020-01-09 07:48] a8m commented on #269
I agree, and we'll definitely consider more features after V1. I just don't want to commit to something that we won't be working on in the upcoming months.

Thanks!

[2020-01-09 07:54] a8m commented on #85
How do you run codegen? I'm trying to figure out why do you need to rewrite it after each codegen?

If you delete the `ent` directory before each codegen, I'll recommend you to use [templates](https://entgo.io/docs/code-gen/#external-templates). For example:
[code]

[2020-01-09 09:29] ansarizafar commented on #85
I mean every time we generate the code for a new project. The workaround is simple but its more convenient to expose DB() method as part of the client api by default specially for PostgreSQL.

[2020-01-09 15:28] a8m commented on #275
Closed with #276

[2020-01-09 15:28] #275 closed

[2020-01-09 21:14] tv42 commented on #200
Here's another vote for "didn't notice this in the docs" and "would be great to use sqlite properly for small projects". Thank you!

[2020-01-09 21:35] tv42 commented on #200
For anyone else passing through here, a quick way to kludge your way forward is to force sqlite migrations to be manual, and skip `client.Schema.Create` if any tables already exist. For that, you need to use `ent.NewClient` not `ent.Open` to have access to the underlying sql DB.

[code]
[code]

[2020-01-09 22:32] erikh commented on #200
Hey; sorry the patch is so late. I've just been really busy. I'd encourage you to watch #221 for new developments, however, it's a long thread.

[2020-01-10 03:14] gukz commented on #127
Hey, dear @a8m , I am rewriting a project with go , I enjoy using ent, but this project has a table with a `user_id` primary key. Can ent allow specify any field as the primary key?

[2020-01-10 06:16] ansarizafar commented on #269
There is a related project https://github.com/prisma/prisma2 specifications https://github.com/prisma/specs. Take a look when have time. May be we can borrow some ideas.

[2020-01-10 13:13] a8m commented on #127
I run the codegen with this option in the schema and it worked for me.
[code]
The database in MySQL was created as follows:
![image](https://user-images.githubusercontent.com/7413593/72155349-9cc0bf80-33bb-11ea-865f-c0f4a190f52a.png)

You are welcome to try it.

Like I mentioned above, once we get to this task, we'll handle all these cases.
Thanks!

[2020-01-11 09:36] deloz opened #277 "schema/field: add the option to use dialect specific types"

[2020-01-11 19:27] a8m commented on #277
Hey @deloz and thanks for opening this issue.
I agree. We should allow users to choose the dialect type they want, and this should be addressed.

[2020-01-12 03:32] aakhan1 opened #279 "question: performance"
Do you have any performance benchmarks published on this framework?

[2020-01-12 10:07] a8m commented on #279
Hey, we actually ran some benchmark tests and compared `ent` with other frameworks before started working with it and the numbers were good. However, I decided to not publish them, because this project is in development and we should wait with it until v1.

If you're looking for external benchmark, so [Vincent Blanchon](https://medium.com/@blanchon.vincent) wrote a [post about ent](https://medium.

[2020-01-12 10:07] #279 closed

[2020-01-12 17:25] ligustah opened #280 "Name collision in generated code"
Hi,

just started playing around with ent and ran into compiler errors with the generated code. I have a mixin that looks something like this:
[code]

When compiling this produces an error along the lines of:
[code]

Looking at the generated code we see this:
[code]

Might be worth catching those during codegen or somehow making sure the names cannot collide. It's not really an issue for me, so fe

[2020-01-13 06:29] gedw99 opened #281 "New drivers"
Are you open to new driver ?

Tidb is one dB I use for global scale.
Tidb kv store.

What I want to do is try to write a driver for tidb kv so I can use it embedded.

Tidb is just SQL postresql wire format. So pretty straight forward.

[2020-01-13 07:53] chris-rock commented on #280
I also see this issue with short field names, eg.

`entc init AQInt32` and `entc generate` will generate the broken the invalid code:

[code]

while a name without numbers at the end generates valid code:

`entc init AQInt` and `entc generate` will generate:

[code]

[2020-01-13 09:21] a8m commented on #281
Hey @gedw99 and thanks for opening this issue.

As I answered about the dgraph support in the [roadmap](#46) issue:

Having said that, if TiDB is PostgreSQL compatible, you can already use it today.

[2020-01-13 09:21] #281 closed

[2020-01-13 11:36] winwisely99 commented on #281
Ok I will try out tidb and report back..

On Mon, 13 Jan 2020, 10:21 Ariel Mashraki, <notifications@github.com> wrote:

[2020-01-13 15:21] #91 closed

[2020-01-13 15:44] marwan-at-work commented on #91
@a8m this is awesome 👏 👏 👏  -- gonna give it a try this week

[2020-01-13 17:10] ansarizafar commented on #91
Multiple database queries for a single ent query means multiple database round trips and increased latency. Microsoft Entity framework 3 is now generating only one sql query for each LINQ query. Previously they were using ent approch but they had to change it due to performance and data consistency issues, https://www.youtube.com/watch?v=PXdgyPpfaz4&list=PLReL099Y5nRd04p81Q7p5TtyjCrj9tz1t&index=14

[2020-01-13 19:28] a8m commented on #91
Thanks for the reference @ansarizafar, I'll go over it.

I just want to mention that the development is never done, there's always room for performance improvements. We just discussed between us on how we can use `JOIN` in some specific cases to improve performance.

We have a working solution now (better state than before), we'll improve it gradually, and we'll be able to compare the performance

[2020-01-14 08:31] ansarizafar commented on #91
@a8m Please also take a look at Fauna Query Language https://docs.fauna.com/fauna/current/api/fql/

[2020-01-14 14:47] mrasong commented on #148
Maybe add a `Timestamp` type is a better way.

[2020-01-14 14:48] kallydev opened #284 "Incorrect handling of table names causes conflicts with Golang keywords"
Hi, I found that the generated table names conflicted with Golang keywords when using ent.

When I use Package as the table name, try to generate code using ent.

[code]

[code]

You can see that the structure name is converted to lowercase in the `(t Type) Package() string` function. If I use the words `Package` or `Type` as the database table name, it will be converted to `package` or `type`, wh

[2020-01-14 16:17] a8m commented on #284
Hey @kallydev, and thanks for raising up this issue.
This somehow similar to #280.

I think it's fine in both cases to reject these names in codegen (@alexsn is also agreeing with me here).

If you want to create a PR, let me know (or I can take it).

[2020-01-14 18:48] a8m opened #285 "entc/gen: foreign-key name is changed when an inverse-edge is added/dropped"
Title is self explanatory. It's a known issue we found today, and currently working on a backward compatibility fix for it.

Should be addressed soon.

[2020-01-15 09:47] danf0rth opened #287 "Schema creation/migration fails when using MySQL and uint32"
Hi!

**Steps to reproduce**:

1. `entc init City`
2. Create uint32 field.
[code]
3. `entc generate ./ent/schema`
4. Run `client.Schema.Create(ctx)`
5. Run it once again
6. Get error: `sql/schema: changing column type for "population" is invalid (int unsigned != int)`

In database column has type:
[code]

Not sure why this happens, but this occurs on both MySQL 5.7 and MySQL 8.0 and only with `uint

[2020-01-15 09:49] a8m commented on #287
Thanks for reporting this @danf0rth. I'll give it a look.

[2020-01-15 09:59] danf0rth commented on #287
@a8m latest master commit.
`github.com/facebookincubator/ent v0.0.0-20200113192409-f270e41f6e45`

[2020-01-15 10:21] a8m commented on #287
OK. I'm not able to reproduce this.
I'm suspecting that it's a different problem. Can you please run codegen as mentioned [here](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent) and update me if it still happens?

Basically, run `go run github.com/facebookincubator/ent/cmd/entc generate ./ent/schema`

[2020-01-15 10:49] danf0rth commented on #287
@a8m still having the issue.

- tried run `go run github.com/facebookincubator/ent/cmd/entc generate ./schema`
- tried `generate.go` and `go generate ./ent`
- tried to remove `entc` binary
- tried `go mod verify` and `go mod tidy`

Not sure if this related, i am tested with `mysql:latest` and `mysql:5.7` docker images.

[2020-01-15 11:02] a8m commented on #287
I've typed accidentally `Int32` instead of `Uint32`. I'm able to reproduce it now.
Sorry and thanks for your patience :)

[2020-01-15 15:46] #287 closed

[2020-01-15 17:48] danf0rth commented on #46
Any plans to add `ON DUPLICATE KEY UPDATE`/`ON CONFLICT DO UPDATE`?

[2020-01-15 17:52] flamedmg opened #291 "Invalid error description for MaxLen validator"
[code]

[2020-01-15 20:41] a8m commented on #291
Thanks for reporting this issue @flamedmg.
You're welcome to send a PR, or I can fix that tomorrow.

[2020-01-16 00:07] marwan-at-work commented on #284
Not sure if this is related, but I also get build errors if the model is called `Spec` -- You can reproduce by going through the get started tutorial and doing `entc init Spec` instead of `User`.

[2020-01-16 01:15] marwan-at-work commented on #284
Dug a little more into it, seems to be a collision between a package import path and a declared variable called `spec`

[2020-01-16 05:45] kallydev commented on #284
Thanks for your help. This problem seems to have nothing to do with ent initialization, but caused by ent generation.

Yes. table names are usually plural in `PostgreSQL`. If the structure name of ent is plural, this problem can be avoided temporarily. However, if the structure name is plural, it will conflict with the semantics of the array. ent may need to provide an override name for the table

[2020-01-16 05:56] ajwerner commented on #46
Hey @a8m, I'm interested in seeing an interface for pluggable storage drivers. Do you have much vision on what this should look like? Would it be reasonable to first build out pluggable infrastructure for SQL dialects rather than something more general? If you're not opposed I'd like to open an issue to start discussing design requirements and a path forward.

[2020-01-16 15:31] a8m commented on #284
Reopen because there's more work to do for closing this one.

[2020-01-20 07:22] erikh opened #297 "Feature: Provide a flag to disable example test generation"
These tests are incompatible with the flags I pass to `go test ./...`. A `git clean -fx` with a proper `.gitignore` KOs them but I'd really prefer a flag to `entc generate`.

Really enjoying using ent for a few microservices I've been hacking on, thanks for making it!

[2020-01-20 07:27] hantmac commented on #297
`go test ./...` may be affected by the account of test sqllite,mysql,or psql.

[2020-01-20 07:51] erikh commented on #297
It's because i'm using testify and passing `-testify.m` to the package list
in entirety. it's not a user error the tests just don't process that flag
right. Every time I generate the schema I need to remove these tests.

[2020-01-20 07:58] hantmac commented on #297
I got it, you don't need these tests files every time  generate the schema using `entc generate`.
Yeah It is convenient to provide a flag to disable example tests generation.

[2020-01-20 12:15] a8m commented on #46
Hey @ajwerner, and sorry for the delayed response.

I can share with you what I thought about - A "runtime" storage driver (in the templates), which generates code that expect for an interface that wraps a list of operations, like: `CreateNode`, `UpdateNode`, etc.
We wait with this, because we want to finish first all the critical parts in the codegen (like hooks).

Maybe. I'm open for this (I gue

[2020-01-20 12:16] a8m commented on #46
Hey @danf0rth! Yes, see https://github.com/facebookincubator/ent/issues/139

[2020-01-20 13:29] #291 closed

[2020-01-20 13:45] danf0rth commented on #252
This is good feature, but i see two ways how to implement it, with possibility to gain more flexibility:

1. Create a some kind of flag in entity declaration, that will works as a stated above (not universal)
2. Create a some kind of flexible Mixin, that can intercept queries and patch them to add custom logic.

The second is more flexible, but also more complicated.
For example, we create a `Soft

[2020-01-20 22:39] alexsn commented on #297
Don't see a good enough reason to overload `entc`with extra flags. Just run `ent generate && rm <test_file>` instead.

[2020-01-20 22:39] #297 closed

[2020-01-20 22:45] erikh commented on #297
Can I please set something to not generate the examples I don't need at all
for the operation of this system. If it's environment variables; great!
That works too.

I just really don't see the value in making a feature of entc being "here's
some files to delete". That is a very unattractive feature of a code
generator.

On Mon, Jan 20, 2020 at 2:39 PM Alex Snast <notifications@github.com> wrote:

[2020-01-20 22:59] a8m commented on #297
Agree with @alexsn, it's much simpler to add `rm` to your `go generate ./...` command instead of adding this logic to `ent`.
I'm actually in favor of deleting this `example_test` file completely from `ent`. It was created before we had a proper documentation ([entgo.io](https://entgo.io)).

[2020-01-21 09:10] danf0rth commented on #46
Sorry for so many requests, but i am currently using your lib and intend to continue to do so :) There is few things that i lack now.

__Cursor__

Is there are any plans to add cursor or iterator to query API?
I mean something like
[code]
If you need to load and process a lot of data from database, it is better to do this with cursor/iterator.

__Alternative struct-initialized API__

Is there are

[2020-01-21 17:31] danf0rth opened #305 "Add date type"
Hi! :)

It is not always necessary to store value in timestamp. Sometimes the resolution of MySQL/Postgres `date` type is enough, for example to store users birthdays.

I am currently working to add such support [here](https://github.com/danf0rth/ent/tree/date-type).
Not sure that i can add a Gremlin and SQLite dialect support, because i am not familiar with them.

Is there are any reasons why the

[2020-01-21 19:59] a8m commented on #305
Hey @danf0rth, I think this is a duplicate of https://github.com/facebookincubator/ent/issues/277, and we can move the conversation to there, and as I commented there:

[2020-01-21 19:59] #305 closed

[2020-01-21 22:15] briancharous opened #306 "Feature request: spatial data types"
Has there been any consideration of adding support for spatial data types to ent?

Specifically, I'm looking for to create an entity with a field that generates a `POINT` data type in the underlying database, and the ability to query for entities wherein the point lies within some geometry. As far as I can tell there also isn't an "escape hatch" built into the generator in which columns of unsuppo

[2020-01-22 02:47] hantmac commented on #306
Which kind of database will you want to support this feature for ent?

[2020-01-22 02:52] hantmac opened #307 "proposal: delete the files in $TMPDIR/ent generated by go test"
Title is self explanatory. After running `go test -v` to test the project, the dir `ent`  will be generated in $TMPDIR, I think we should delete the `ent` after test  just in case, or it will affect the test result next time in some unknown cases.

[2020-01-22 09:39] a8m commented on #306
Hey @briancharous, and thanks for submitting this issue.
The need is clear to us, and we definitely should let users to add their dialect-specific types.

There's already an issue for this (#277) and I'll suggest that we move the discussion to there.

Closing, but feel free to open if you think it's needed.

[2020-01-22 09:39] #306 closed

[2020-01-22 14:18] ernado opened #312 "Feature Request: contextual logging"
Sometimes it is useful to support logging with context.
E.g. I want to distinguish logs that belong to single request.

Could be achieved by allowing a logging function to receive a context:
[code]
Or by something like `func getLog(ctx context.Context) func(...Interface{})` function that will return logging function for provided context.

Btw, thank you for your great project.

[2020-01-23 08:57] alexsn commented on #312
Sounds good, feel free to send a PR updating the current logging function as suggested above.

[2020-01-23 09:23] a8m commented on #312
The codegen doesn't emit logs today - what emits them is a dialect wrapper called [dialect.DebugDriver](https://github.com/facebookincubator/ent/blob/master/dialect/dialect.go#L66).

It can be achieved today by providing your own wrapper. However, I agree that it's nice to have that, so a PR is welcome for something like `DebugWithContext` (like [RequestWithContext](https://golang.org/pkg/net/http

[2020-01-24 03:44] aca commented on #312
@ernado If you don't mind, I'm really interested implementing this feature. I actually need this feature to use ent with zerolog.

[2020-01-24 07:22] ernado commented on #312
Hey @aca, feel free to submit PR, it would be great!

I'm currently actively prototyping new project with ent, so slightly out of capacity and can't do it myself.

[2020-01-25 20:09] a8m commented on #307
Closed with #316

[2020-01-25 20:09] #307 closed

[2020-01-26 20:30] #312 closed

[2020-01-28 04:44] marwan-at-work commented on #127
I know the issue is still being worked on, but just as an update:
Defining an ID as a string no longer creates a build error, but it now generates a runtime error when running a migration.

Given the following `field.String("id").Unique()`

The following create table happens:

`sql/schema: create table "specs": Error 1071: Specified key was too long; max key length is 767 bytes`

The interesting p

[2020-02-03 13:41] #285 closed

[2020-02-08 06:28] ansarizafar commented on #91
@a8m This go project is can translate GraphQL queries into a single fast SQL query. We can use the same method for eager loading in ent.

[2020-02-08 14:28] ernado opened #332 "Feature request: specify fields to select"
We can limit field set we are selecting from database to allow optimizations (e.g. index-only SELECT)

Also would be interesting to integrate this with graphql later.
Not sure about API tho, let's discuss?

[2020-02-08 19:49] ligustah opened #334 "Eager loading doesn't seem to work for M2M"
Hello,

I think there's a bug in the generated code for M2M eager loading. I don't have a simple test case to share, but I've done some digging and I think I found the issue:

I have two entities `Person` and `Email` (ignore for a second the fact that this shouldn't be a M2M to begin with 😬). I'm trying to query a specific `Person` with id `124`:
[code]

That query will return the person, but the

[2020-02-08 20:14] a8m commented on #334
Thanks for reporting this issue @ligustah.
Can you please paste here your schema definition for `Person` and `Email`?

[2020-02-08 20:25] a8m commented on #334
Don't need. I found the issue.

We missed this, because we run codegen with a different config in integration - I'll try to add a better CI coverage for eager-loading this week.

Thanks for help!

[2020-02-08 20:26] #334 closed

[2020-02-09 11:28] a8m commented on #127
Hey @marwan-at-work and thanks for reporting these issues. Regarding your comments:

I'm aware about this and it should be addressed. I'm pretty sure this is the last thing left for closing this issue.

Where did you encounter this code? in your generated code or in this repository? If you don't run codegen with `--idtype string`, the logic shouldn't be there.

This (legacy) option was added to al

[2020-02-09 16:18] marwan-at-work commented on #127
@a8m

I'm using the latest commit of `entc` and I was not aware of the `--idtype` flag at all. So I was just using `entc generate ./ent/schema`

I created a reproduction repository here: https://github.com/marwan-at-work/entrepro

You can see that my schema has the following ID definition https://github.com/marwan-at-work/entrepro/blob/master/ent/schema/spec.go#L14:L22

But then then the code that

[2020-02-09 18:59] ligustah commented on #334
Awesome, that was a quick fix!
Looking good to me, but I'll give it a test run

Thanks

[2020-02-10 09:04] a8m commented on #127
Thanks for helping debugging this @marwan-at-work.
That looks like a bug (I need to deep dive into it), but it can't be solved with just removing this part from the template (for the reason I've commented above).

I'll update once it's fixed.

[2020-02-10 09:07] a8m commented on #127
Thanks for helping debugging this @marwan-at-work.
That looks like a bug (I need to deep dive into it), but it can't be solved with just removing this part from the template (for the reason I've commented above).

Can you please run the codegen as describe [here](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent), or just use:
[code]
Just to make sure we're running the sam

[2020-02-10 10:11] a8m commented on #127
@marwan-at-work - I've added a fix for this, and checked it on your repo using this version: `github.com/facebookincubator/ent@9733051cc361`.

Please check it and update me if there's any issue with this.

[2020-02-10 16:25] marwan-at-work commented on #127
@a8m just tried it with that commit and it looks great!!

[2020-02-11 09:42] Aterocana opened #340 "Feature request: adding custom Marshalling and Unmarshalling"
My organization was evaluating ent for a little project we have internally.
We are pleased with the framework, but we mainly miss a couple of feature:

1. we'd like to define additional field on the edges (field on relation, for example having entities `Person`, `Dog` and the edge `owner` with the field `time_spent_together`). I haven't open this issue for this since I saw this missing feature is

[2020-02-11 11:59] a8m commented on #332
There is an option for query specific fields, but it's not good enough as we wanted it to be:
[code]
We already started to work on GraphQL integration, and we plan to tackle this issue as well. I hope to OSS some of it in the near future (in a separate repo).

If you think there are additional stuff to discuss here, keep the issue open. Otherwise, let’s close it.

[2020-02-11 12:09] ernado commented on #332
Great, thank you! Let's close it for now.

[2020-02-11 12:09] #332 closed

[2020-02-11 12:14] a8m commented on #340
Hey @Aterocana, and thanks for opening this issue.

Happy to hear this.

Like you mentioned above, it's part of our roadmap.

If I got you right, you want to define custom struct tags on the generated entities? If that's the case, `ent` already supports this. Please check the [struct-tag doc](https://entgo.io/docs/schema-fields/#struct-tags).

Let me know please if we can close this issue.

[2020-02-11 13:35] joewreschnig opened #341 "`IsNotFound` is not true when a sqlgraph's updater's target was not found"
The `IsNotFound` check for errors included in the generated code does not work for updates; [`updater`'s `scan` returns a new error which also does not unwrap into anything](https://github.com/facebookincubator/ent/blob/b93958ebf41655714d3dc7d3937327bd0ad01036/dialect/sql/sqlgraph/graph.go#L715). It seems like an update to a not-found node should also qualify as something `IsNotFound` can detect,

[2020-02-11 13:47] a8m commented on #341
Hey @joewreschnig and thanks for reporting this issue!

Can you add please a partial of the code you use to update entities? Do you use update-one or update-many?

[2020-02-12 17:47] a8m commented on #340
Closing. Please open if it's not working for you.

[2020-02-12 17:47] #340 closed

[2020-02-12 21:00] Aterocana commented on #340
It's working: thank you very much

[2020-02-12 22:01] cliedeman commented on #277
I am also interested in this for postgres range types.

I created https://github.com/facebookincubator/ent/pull/343 to get an idea of how much effort it would be.

I can generate a hstore type, run migrations, save and retrieve.

I got stuck with implementing the hstore specific filters.(The postgres range types are stuck in a [PR](https://github.com/lib/pq/pull/612) :()

[2020-02-14 03:36] sohaha opened #344 "Doesn't support table prefix function ?"
Doesn't support table prefix function ?

Useful when there are multiple items in the database.

[2020-02-14 04:21] sohaha opened #345 "missing sqlite schema function"
github.com/facebookincubator/ent@v0.1.1/dialect/sql/schema/sqlite.go:152
[code]

If the table already exists the situation will cause the program to panic.

![image](https://user-images.githubusercontent.com/18098083/74501256-85c63d80-4f24-11ea-8df6-c88ed1eeb5df.png)

[2020-02-14 05:47] a8m commented on #345
Thanks for reporting this issue.

Closing since it’s a duplicate of #200, and there’s an ongoing PR for adding this support.

[2020-02-14 05:47] #345 closed

[2020-02-14 05:52] a8m commented on #344
Hey @sohaha,
Can you please give more details?

There’s an option to provide a custom table name to the schema using [Config](https://entgo.io/docs/schema-config/).

[2020-02-14 06:53] sohaha commented on #215
Are there any new developments?

[2020-02-14 06:55] sohaha commented on #344
realized this way, thank you!

[2020-02-14 06:55] #344 closed

[2020-02-14 10:54] flamedmg opened #346 "Unsigned bigint is not handled properly"
Similar iessues: #287 (closed)

Ent / Entc version - laster master

Database used: MySQL 8

Example of the field definition:
field.Uint64("CurSubmissionId").Optional().Nillable()

If field is not in database and i run it, it is created properly and no errors returned.
When i run it next time i'm getting the following error: `sql/schema: changing column type for “cur_submission_id” is invalid (bigi

[2020-02-14 11:22] a8m commented on #346
Thanks for reporting this issue @flamedmg.

Can you please paste the full MySQL version? (e.g. 8.0.19)

[2020-02-14 11:29] flamedmg commented on #346
![image](https://user-images.githubusercontent.com/416393/74527327-0a698980-4f2e-11ea-82c8-c76652e9719e.png)

[2020-02-14 13:21] a8m commented on #215
No, we're currently focused only designing and developing the hooks and the privacy (authorization) layers.

[2020-02-14 14:28] a8m commented on #346
Hey @flamedmg,
I just tested it and it worked fine for me. It also being tested with `-count 2` in [integration tests](https://github.com/facebookincubator/ent/blob/91c1635/entc/integration/ent/schema/fieldtype.go#L43).

My assumption is that your `ent` version is not updated. Do you use Go modules? What version do you get when you run `go list -m all`?

[2020-02-14 14:34] flamedmg commented on #346
Output of that command is as follows:

`github.com/facebookincubator/ent v0.1.1`

Hm previously it was different and was specifying master branch and after
some update it switched to the different versioning. Should i try to switch
to master branch?

On Fri, Feb 14, 2020 at 4:28 PM Ariel Mashraki <notifications@github.com>
wrote:

--
Thanks & Regards
Dmitry

[2020-02-14 14:40] a8m commented on #346
Use `master` please. I released a new version to make modules integration easier.

Closing. Feel free to open if you still have troubles.

[2020-02-14 14:40] #346 closed

[2020-02-16 11:25] a8m commented on #127
All comments that were raised in this issue addressed (hopefully), although there are some docs changes that need to be done.

Please give it a try and update us if there's any issue with this. Closing.

[2020-02-16 11:25] #127 closed

[2020-02-16 11:26] #341 closed

[2020-02-16 11:27] a8m commented on #341
Fixed. Thanks for reporting this issue @joewreschnig!

Feel free to open if you still have problems with it.

[2020-02-16 22:13] marwan-at-work commented on #126
@a8m any luck here? Second the last two comments in that both APIs look good to me :)

[2020-02-18 17:12] a8m opened #353 "proposal: hooks"
# Hooks API

We started to work on designing the hooks and the privacy layers for `ent`, and wanted to share with you our initial thoughts before we continue with the implementation.

We currently have 2 design proposals, and we'd like to get a feedback about them. Which one do you prefer to work with, or just random suggestions for improvements.

(Note: both privacy and deletion-api will be using

[2020-02-19 14:20] cliedeman commented on #353
I am having some trouble understanding the Proposal 1 example

[code]

Is this framework code (generated) or user code?

Proposal 1 can also easily take advantage of `defer` whereas Proposal 2 cannot

Trying to come with ideas to defend Propsal 2....

The hook struct could have additional variables (Sharing across context is tedious and error prone I think).
[code]

[2020-02-20 06:17] xiaofeizhao opened #354 "go build is broken because of the missing WithFixture in release v0.1.2"
Hi, `go build ...` is broken because of the missing WithFixture in v0.1.2

[code]

A new release could fix this.

[2020-02-20 06:23] a8m commented on #354
I think this should solve your problem - https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent

[2020-02-20 06:26] #354 closed

[2020-02-20 10:28] chris-rock commented on #353
Awesome to see this coming in. Can you share an example how you would call the code from the usage perspective. Based on your description, it feels like option 2 is heavily disconnecting business logic from hooks and it may be challenging to maintain them together.

[2020-02-20 20:57] a8m commented on #353
This is a user code. It's just an example to demonstrate how to use hooks.

Yeah, good point!

Not really, you register your hooks on the `*ent.Client`, and a client can execute multiple operations concurrently. Hence, this should be thread safe.

[2020-02-20 20:57] a8m commented on #353
Thanks for the feedback @cliedeman

This is a user code. It's just an example to demonstrate how to use hooks.

Yeah, good point!

Not really, you register your hooks on the `*ent.Client`, and a client can execute multiple operations concurrently. Hence, this should be thread safe.

[2020-02-20 21:19] a8m commented on #353
Hey @chris-rock!

Do you mean - how hooks are registered?

If so, we're thinking about 2 options:
(Note: these are just examples, we didn't figure out yet what's the "right" way).

1. Make it possible to declare hooks on the schema. For example:
[code]

This is useful for running some stateless business logic on queries/mutations.

2. Register hooks when initializing the `*ent.Client`:

[code]
Thi

[2020-02-21 05:55] cliedeman commented on #353
Thanks for the response @a8m

But then we can't actually share variables between the hooks because we would need to return the [updated](https://golang.org/pkg/context/#WithValue) context some how?

For Proposal 1 how would we access the transaction?

[2020-02-21 05:56] cliedeman opened #355 "Adding a Custom Predicate"
Is it possible to add custom predicates?

The append method on predicate is private

[code]

[2020-02-21 05:58] cliedeman opened #356 "Exception Translation"
I would like to implement some basic error translation similar to this [library](https://github.com/Vincit/db-errors)

[2020-02-21 08:44] a8m commented on #356
Are you trying to translate the underlying SQL driver errors, or `ent` errors?

[2020-02-21 08:51] a8m commented on #355
Hey @cliedeman,
You're welcome to add a PR and change this.

It's likely going to change soon with the custom types support (custom types need to support user-defined predicates).

[2020-02-21 09:07] a8m commented on #353
You're right. I didn't think about this.

We thought about this, and we'll need to expose this somehow.

I also want to mention that with the current design, a hook that uses `ent.Tx` (or import the generated `ent` package) needs to be registered when initializing the `ent.Client` and can't be declared in the schema - due to circular dependency (`ent-(imports)->schema-(imports)->hook-(imports)->en

[2020-02-21 10:39] cliedeman commented on #356
Translate SQL driver errors.

[2020-02-21 13:09] a8m commented on #356
I think we can achieve this easily by wrapping the `dialect.Driver` (no codegen changes required).

I'm working on creating another repository `ent-contrib` for sharing helper packages (gqlgen integrations, common templates, etc). We can add this there.

[2020-02-21 14:02] cliedeman commented on #356
Sounds good to me

[2020-02-21 14:02] #356 closed

[2020-02-23 13:24] BitPhinix opened #357 "proposal: Generated Data Loaders"
It would be nice if ent would generate some sort of dataloaders / context-specific caching and batching layer like https://github.com/vektah/dataloaden. That would simplify using ent in GraphQL APIs a lot by removing the need to build an extra abstraction layer over "simple" database operations.

[2020-02-23 15:21] a8m commented on #357
Hey @BitPhinix, that's a great idea.

As I commented [here](https://github.com/facebookincubator/ent/issues/356#issuecomment-589646351), we already have some gqlgen integration that we want to OSS and it's ongoing (We actually tackled this problem with field-collections and eager-loading).

I'll move this issue to the new repository once it's out.

[2020-02-23 21:38] BitPhinix commented on #357
That would be awesome - and is exactly what I've been looking for. When are you planning to release it? I would love to use it asap. Thanks for this awesome project!

[2020-02-25 07:48] xserve98 opened #358 "Feature Request: for update"
hello .
 Is it possible to have pessimistic Lock functionality similar ？
 [https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html](https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html)

[2020-02-26 04:28] covrom opened #360 "Proposal: streaming Select"
In the current version (v0.1.2), data is selected (by Select clause) into the data slice. This increases memory allocation without any reasons. In most cases, including in CRUD, streaming data further into the processing chain is sufficient. For example, CRUD in most cases transmits data only to the external interface (frontend or grpc), and if we use streaming, we can send it as a stream using th

[2020-02-26 13:01] a8m commented on #360
Thanks for the proposal @covrom. @danf0rth also [suggested](https://github.com/facebookincubator/ent/issues/46#issuecomment-576586784) to add an iterator API, and this one can be built on top of it.

We're currently focused on V1, but we can start a design discussion about it here.

[2020-02-26 13:59] covrom commented on #360
API integration is a good alternative, but it uses a single-threaded processing style, i.e. after reading the next record, the connection to the database will be idle for the duration of processing. I implemented parallelism with a buffered channel, which will be more efficient. See https://github.com/facebookincubator/ent/pull/362

[2020-02-26 14:05] covrom commented on #46
Iterators are good, but they use a single-threaded processing style. After reading the next record, the connection to the database will be idle for the duration of processing. I implemented concurrency with a buffered channel, which will be more efficient. See #362

[2020-02-26 14:30] hantmac commented on #360
How about adding a bench-mark to make a comparison?

[2020-02-26 16:11] danf0rth commented on #360
Yes, this is a main feature of (lazy) iterators: load/scan data only when it is required. Not sure, but isn't the same buffers can be implemented on client side of API?

[2020-02-26 18:02] a8m commented on #360
When using an iterator like interface, concurrency is just a user decision:
[code]

Anyway, I think both ideas are fine, and we need to figure out the right way, but we're planning to finish the hooks and the privacy support before.

[2020-02-27 03:44] greyg00s opened #363 "Bug: Edge to ID:uuid produces invalid pointer dereference"
`ent/person.go:176:22: cannot use *value (type uuid.UUID) as type *uuid.UUID in assignment`

[code]

[2020-02-27 07:50] caik13 opened #364 "How can I generate a relationship map？"
I want to generate images like those in the document by command.
Like this.
[image](https://entgo.io/assets/er_traversal_graph.png)
https://entgo.io/assets/er_traversal_graph.png

I'm not good at English. Can you understand what I mean?
thanks.

[2020-02-27 08:39] a8m commented on #364
Hey @caik13, we don't have something official and this photo was created manually by me.
However, we started to work on some schema visualization using d3, that wasn't shipped (my fault), and I hope we can OSS it somewhere in the future (don't want to promise).

If want to implement something and want guidance, don't hesitate to reach out.

[2020-02-27 08:39] #364 closed

[2020-02-27 09:06] a8m commented on #277
My comment in #343:

Hey @cliedeman, sorry for the delay, I'm focused on the mutation and hooks layers and didn't have time to finalize the custom fields interface.

I thought about creating an interface that will provides the following values: database-type, Go-type and predicates (maybe create a separate package named `fieldtype`).

When creating a new `fieldtype`, a user needs to define its dat

[2020-02-27 10:18] covrom opened #366 "Proposal: generate grpc proto file"
With schema we can generate "proto" file for using in grpc.

[2020-02-27 10:19] covrom opened #367 "Proposal: third-party schema integrations (swagger, grpc)"
With schema we can generate swagger specification.

[2020-02-27 10:20] hantmac opened #368 "Proposal: How about adding an `entc version` cmd?"
Sometimes I want to know the current version of `entc`, how about adding the cmd: `entc version` to show it?

[2020-02-27 10:22] covrom commented on #252
What about Default Fields? I.e. in most common cases, this is "Id", "CreatedAt", "UpdatedAt", "DeletedAt".

[2020-02-27 11:05] a8m commented on #368
What's wrong with `go version -m <binary>`?

I also prefer users to use `go generate` and not `entc` directly, for the reason [mentioned here](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent).  Especially now, when modules support is ready for production use (since Go 1.14).

[2020-02-27 11:09] a8m commented on #367
Hey @covrom, and thanks for raising up this issue.
We had discussion about it before, and I'd be happy to see such integration.  However, this issue belongs to `ent-contrib` and directly to `entc. See [my comment](https://github.com/facebookincubator/ent/issues/357#issuecomment-590079537) about gqlgen integration.

I'll move this issue to the new repo once it's out.

[2020-02-27 11:11] a8m commented on #366
Hey, see my comment in #367. Let's merge these 2 issues to one.

[2020-02-27 11:11] #366 closed

[2020-02-27 11:43] hantmac commented on #368
Exactly,  I want to make sure that the version being used by `entc` is identical to the `ent version`, so I wanna to know the `entc` version clearly. As for `go version -m <binary>`, it shows lots of message :
![image](https://user-images.githubusercontent.com/7600925/75441463-aa94c900-5998-11ea-9084-d98c5e946cc6.png)

Okay, I will follow your advice to use `go generate` other than `entc` directly

[2020-02-27 13:26] covrom commented on #360
well, iterators, which are sent to the channel, sound good!

[2020-02-27 14:34] a8m commented on #368
I agree, but I find myself encounter too many cases where people have "problem" with `ent`, which is basically a version incompatibility between `ent` and `entc`.

Also, in our cases, we use a lot of codegen-based tools (wire, gqlgen, grpc, swagger, ent, etc), I prefer to give developers one command (`go generate`) that will handle everything for them.

I still think that the [getting-started](htt

[2020-02-27 14:34] #368 closed

[2020-02-27 14:55] ernado commented on #266
I propose to support `Field` type embedding of `ent.Schema` or something similar too, so it can be generated.

[2020-02-27 16:30] ernado commented on #360
So every iteration new struct is allocated?

E.g. `bufio.Scanner` does not allow retaining of `Bytes()` result and reuses byte slice instead of allocating it, making possible to implement a memory-efficient scanning.

If we allow retaining `it.One` result we will limit memory efficiency.

[2020-02-28 08:04] cliedeman commented on #277
@a8m that makes sense and feel like a natural evolution of the api. I created an updated Draft PR using the public Append method and injecting a custom predicate which works nicely - https://github.com/facebookincubator/ent/pull/369 but this should wait until after the custom field interface is done

So from the comment above If I understand correctly all fields should be generalised to be similar

[2020-02-28 12:04] covrom commented on #353
What about middleware-like (i.e. func(Handler)Handler) style of hooks?

[2020-02-28 12:16] covrom commented on #353
Why do we need hooks? We use the API to build the request. At this moment we can use any modifiers. Why do we need to do something implicitly?

[2020-02-29 04:51] hantmac opened #370 "Bug: examples/start run error"
When I run `go run start.go` in examples/start, I got the next error:
[code]

[2020-02-29 04:55] hantmac commented on #370
Add `parseTime=true` to the databases connection solved this.

[2020-02-29 04:55] #370 closed

[2020-02-29 17:15] aca commented on #367
@covrom
As ent schema generates struct type. You might want to check [kin-openapi](https://github.com/getkin/kin-openapi).
Example, https://github.com/aca/go-restapi-boilerplate/blob/master/spec/ent_to_components.go

[2020-03-01 09:35] erikh commented on #368
FWIW this works great, and keys off your `go.mod`:

//go:generate bash -c "go run github.com/facebookincubator/ent/cmd/entc generate --idtype uint64 ./schema && rm example_test.go"

[2020-03-04 05:27] fitzix opened #372 "Bug: O2M edge fails during data migration using string id in PostgreSQL"
`failed creating schema resources: sql/schema: create foreign keys for "cars": pq: foreign key constraint "cars_users_cars" cannot be implemented`

`psql (PostgreSQL) 12.2`

[code]

[2020-03-04 05:38] hantmac commented on #372
Paste your /ent/schema/car.go, something might wrong with car.go's `Edge` definition.

[2020-03-04 05:56] fitzix commented on #372
@hantmac
whether car edge is `nil` or `from` has the same error, but m2m works.

[2020-03-04 09:11] a8m commented on #372
Thanks for reporting this issue @fitzix.  #373 should solve the problem.

[2020-03-04 09:14] #372 closed

[2020-03-04 09:16] a8m commented on #372
Also, please note that in this case, if you use `field.String` as a PK, you must limit its size (with `MaxLen`).

Thanks @hantmac for the support as well! It's appreciated.

[2020-03-04 09:47] hantmac commented on #372
@a8m   HAHA 😄 ，I don’t know if you can open this [link](https://mp.weixin.qq.com/s/Ljp41LdYR9b6RTY85WnBzA). I wrote an article in Chinese to introduce how to use `ent`. Chinese developers are very interested in this. I would like to write more articles about `ent` in Chinese later.

[2020-03-04 10:11] fitzix commented on #372
Yes, I noticed that @hantmac is in Shanghai, I am in Beijing. I read a lot of @ hantmac's blogs, he is very good at golang, wrote many articles about go, we are all very interested in ent.

I think the design of ent It is much more elegant than other traditional orm such as gorm, xorm, they are more or less awkward to use.

But ent is still an early version, and lacks some features like #236, #252

[2020-03-04 10:56] cliedeman opened #374 "Column/Table name restrictions"
I was testing out an existing database and found some name restrictions

### Invalid Entity Names - [ent namespace functions](https://github.com/facebookincubator/ent/blob/master/examples/start/ent/config.go):
- Driver
- Order
- Debug
- Option

These can be worked around using Config to change the table name and giving the entity a different name

### Invalid column names - [Embedded Config Object

[2020-03-04 12:11] hantmac commented on #374
I think documented is enough, adding these hard-code to ent is not graceful 🤔

[2020-03-04 12:34] a8m commented on #374
Maybe we can automate this process, but it's in minor priority this moment (until we'll finish hooks and privacy).

Let's merge this with #284 and #280?

[2020-03-04 13:46] a8m commented on #372
Yes I can! Thanks for writing this :smile:.

We're currently focus on hooks, privacy and cascading-deletion. Once we finish these, we'll get to #236, #252.

There are a few open questions about soft-deletion and bulk-creation in order to implement them, but still keep the data correct (in the database). For example, how do we want to handle relationships (foreign-keys, or join-tables).

Thanks aga

[2020-03-04 13:57] covrom commented on #360
Alternative for iterators is walk-pattern. I make it in https://github.com/facebookincubator/ent/pull/375.

[2020-03-04 15:40] a8m commented on #353
Hooks are useful for adding logging/tracing/stats globally to `ent`, or add some other business logic to the application. Also, other features are going to be implemented with hooks (internally), like cascading-deletion and privacy support.

Since, I already have a WIP PR, I suggest that we'll move the conversation to #371.

[2020-03-04 15:40] #353 closed

[2020-03-06 00:05] jufemaiz opened #376 "File naming convention – option to specify underscore versus non-underscore"
Currently the name of the file adopts the package name (ref: https://github.com/facebookincubator/ent/blob/0f08a0b5f44d1fdcd0c42fc3390b48690a555580/entc/gen/graph.go#L89).

While naming conventions are diverse, the standard library seems to prefer underscore separated (ref: https://github.com/golang/go/issues/36060).

Given that the generator supports snake case (ref: https://github.com/facebookin

[2020-03-06 03:52] MaikuMori commented on #376
Have to agree that the naming did make me raise an eyebrow. It's not a huge deal for me, but going with the stdlib convention does seem like the right choice.

[2020-03-06 05:45] a8m commented on #376
Hey @jufemaiz and @MaikuMori , and thanks for raising up this issue.

Can you given an example of what is not following the Go standard? In `ent`, we generate a package per schema type and name it as lowercase-name (not underscore in packages), and then use this lowercase-name with underscore to the other builders we generate under the `ent` directory.

For example, for schema type named `CreditCa

[2020-03-06 05:54] a8m commented on #280
Merging this issue to #374

Thanks!

[2020-03-06 05:54] #280 closed

[2020-03-06 05:54] a8m commented on #284
Merging this issue to #374

Thanks!

[2020-03-06 05:54] #284 closed

[2020-03-06 07:38] MaikuMori commented on #376
I see your point.

What I was referring to is that typically `CreditCard` would be in a `credit_card.go` file. I can see how this would get verbose with longer names.

I noticed this on the files created by `entc init`.

[2020-03-06 08:08] fitzix opened #378 "Question: Order by edge field"
This may be a duplicate question, but I didn't find any useful help in #227.

The join table operation is a very common and useful function of the database.The order by edge field requires the join table, but ent does not support this operation.

For example, users and cards have O2O relationship. How can I query the user list
`WHERE user.name LIKE %keyword% ORDER BY card.created_at ASC LIMIT 10`.

[2020-03-06 10:36] a8m commented on #378
`ent` doesn't provide an API for joining and scanning results into arbitrary structures.

Maybe we want to add this (or maybe not), but we need to propose and discuss about it before. `ORDER BY` is just another option in this new functionality.

IMO, if we ever decide to provide such API, it should be an extension of the SQL dialect, and not something global.

Right now, we are focused on V1, so I

[2020-03-07 01:46] kryptodirect opened #379 "tsvector"
Postgres has the ability to implement a tsvector column for faster searches. Any way to implement this?

[2020-03-07 05:47] a8m commented on #379
Hey @kryptodirect and thanks for suggesting this feature!

We already have an issue for adding support for dialect-specific types. This type should be supported as well.

Let’s merge this one with #277

[2020-03-07 05:47] #379 closed

[2020-03-07 08:48] kryptodirect opened #380 "Can't use float32"
[code]

produces:

`value.Float32 undefined (type *"database/sql".NullFloat64 has no field or method Float32)`

[2020-03-07 08:51] kryptodirect commented on #363
I am also getting the same error with this code:

[code]

[2020-03-07 11:30] hantmac commented on #380
I feel that there has a bug in `entc/gen/template/dialect/sql/decode.tmpl ` line 102, because  package `database/sql/sql.go` dose not have `sql.NullFloat32`, so we can't use `value.Float32` to generate code, should use `value.Float64`.
I don't know if what I said is right. If there is any mistake, please correct it.

[2020-03-07 11:33] hantmac commented on #380
U can modify `float32(value.Float32)` to `float32(value.Float64)` in `project/ent/company.go` to solve this problem temporarily.

[2020-03-07 14:53] BitPhinix commented on #363
Same issue here. It also seems to import the wrong uuid package. I used github.com/google/uuid and it seems to import gofrs/uuid. Not sure why. I have it in my go.mod but I didn't import it anywhere in the schema.

[2020-03-07 17:04] a8m commented on #380
Thanks for reporting this issue @kryptodirect. #381 should solve this.

[2020-03-07 17:13] #380 closed

[2020-03-07 17:23] kryptodirect commented on #363
My uses and imports: github.com/google/uuid v1.1.1

[2020-03-07 19:02] a8m commented on #376
I'm used to something else, and you can see it in the std in some places as well. For example, [`httputil.ReverseProxy`](https://golang.org/pkg/net/http/httputil/#ReverseProxy) is in the `reverseproxy.go` file. But, I get your point and I think it's just a matter of taste.

In this case, like I mentioned above:

Since we use the same name for the type package/builders/model, and the standard for p

[2020-03-07 20:11] #363 closed

[2020-03-07 20:12] a8m commented on #363
#382 should fix this issue.

If you encounter more issues with UUIDs, feel free to re-open this issue.

[2020-03-08 19:54] BitPhinix opened #383 "UUID foreign keys: Wrong import"
The following type:

[code]

Generates invalid code by importing "github.com/gofrs/uuid" instead of "github.com/google/uuid". I'm not sure what is causing it since I don't use github.com/gofrs/uuid anywhere in my code.

go.mod (if it helps):
[code]

I can't share the repo since it contains code we use in production. Any ideas what could cause it?

[2020-03-09 08:33] a8m commented on #383
Hey @BitPhinix!

The importing is done by `goimports`, and we actually have a test-case that uses `"github.com/google/uuid"` (- [link](https://github.com/facebookincubator/ent/blob/master/entc/integration/customid/ent/schema/blob.go#L12)). If the code is not available online, I can't really help here.

I just checked this on my laptop with `ent@master` and Go 1.14 and it's working as expected. May

[2020-03-09 08:33] #383 closed

[2020-03-10 17:42] a8m commented on #376
Closing, please free to reopen if you want to continue the discussion.

Thanks!

[2020-03-10 17:42] #376 closed

[2020-03-11 07:01] fitzix opened #384 "Bug: string id is always required convert to int64"
I confirmed that the problem of string id in migration #372 has been resolved, but when running the query `All` scan, the string edge field is still required to be converted to int64

[code]

[2020-03-11 09:02] hantmac commented on #384
`id` used as `PrimaryKey` and must be `int64`, if your wanna to use string as unique, can use `uuid` instead.

[2020-03-11 09:23] fitzix commented on #384
This is not right, as @am8 said, string primary keys are allowed, there is no requirement that id must be `int64` or `uuid`

The documentation example also has this usage https://entgo.io/docs/schema-fields/#id-field

[2020-03-11 10:01] hantmac commented on #384
HAHA, I do rarely use strings as primary keys in development. And I tested mysql passed using `id` as string.
![image](https://user-images.githubusercontent.com/7600925/76404820-1bd57280-63c2-11ea-9f14-1ea6fdb32eb3.png)

[2020-03-11 10:18] fitzix commented on #384
Yes, the string id is really not recommended as the primary key, but it is allowed in ent and sometimes it is needed. The problem is that the string id will make the associated field also a string, but when scanning into the struct, it still was asked to convert to int64

[2020-03-11 10:37] hantmac commented on #384
I created some data
[code]
and did a test to scan `pet`  into the struct

[code]
And the schema of pet is:
[code]

[2020-03-11 10:45] fitzix commented on #384
The problem appeared in Eager Loading, such as O2O edge
execute `client.User.Query().WithPet().All(ctx)`

[2020-03-11 13:09] a8m commented on #384
Hey, it's probably a bug.
The reason for the conversion (`string` to `int`) is mentioned [here](https://github.com/facebookincubator/ent/issues/127#issuecomment-583834177). It should be fixed soon - see my comment in the link.

I'm not pushing a change now, because we have a large PR (#377) that is supposed to land in the upcoming days and I want to avoid template conflicts.

I'll keep this issue

[2020-03-11 14:22] hantmac commented on #384
@fitzix  got  it.

[2020-03-12 04:16] huangc28 opened #385 "entc generate gives: "load schemas dir: could not determine GOARCH and Go compile""
I followed along in the **introduction** section and trying to generate code via schema:

[code]
The following error showed.

![Screen Shot 2020-03-12 at 12 12 23 PM](https://user-images.githubusercontent.com/4285184/76486606-c26d5200-645a-11ea-8e9b-e340b5f6a412.png)

My OS is `macOS Catalina version 10.15.3`. Here is the result of my `go env`:

![Screen Shot 2020-03-12 at 12 15 06 PM](https://use

[2020-03-12 09:08] a8m commented on #385
The issues comes from [golang/x/tools/packages](https://github.com/golang/go/issues/30355).

What is your Go version? - run `go version`

[2020-03-12 09:40] huangc28 commented on #385
Thanks for the reply, my go version is at

![Screen Shot 2020-03-12 at 5 39 36 PM](https://user-images.githubusercontent.com/4285184/76507960-9bc61000-6488-11ea-8505-9ab0eb2137f1.png)

[2020-03-12 13:55] #385 closed

[2020-03-16 16:20] a8m commented on #384
Closed with #389

Thanks!

[2020-03-16 16:20] #384 closed

[2020-03-17 14:53] sijad commented on #356
@a8m can you please share `ent-contrib` link?

[2020-03-18 23:34] fr3fou commented on #167
any news?

[2020-03-19 09:16] xserve98 opened #394 "Custom edge column names"
If you can consider supporting edge of the custom field name?

[2020-03-19 09:30] hantmac commented on #394
I can't get your point. For an example?

[2020-03-19 10:04] xserve98 commented on #394
Sorry, my English is not very good.

A table exists with many edges, I want to customize their names
`edge.To("cars", Car.Type).StorageKey("cars_id")`

[2020-03-19 10:05] a8m commented on #394
Thanks for opening this issue, and thanks @hantmac for your collaboration.

Closing, since this is duplicate of #126. Please, let's continue the discussion there.

[2020-03-19 10:05] #394 closed

[2020-03-19 10:13] a8m commented on #167
Hey, following my previous comment -

Since v0.1.0, `ent` updates all table columns (including FKs) on `INSERT`.

However, setting the edge to be unique, won't make it non-nullable.

Closing, and thanks for your collaboration guys!

[2020-03-19 10:13] #167 closed

[2020-03-19 14:14] fr3fou opened #397 "entc generate faild"
![image](https://user-images.githubusercontent.com/1344906/77076249-3a5bef00-69fc-11ea-89b6-b1e28aa2e0fe.png)

after making a barebones example and following through the getting started i get this error:
[code]

here's the code I have

[code]
running on WSL Ubuntu 18.04 with `go version go1.14 linux/amd64`

[2020-03-19 14:24] a8m commented on #397
Hey @fr3fou, and thanks for opening this issue.

I'm pretty sure your `ent` version (in go.mod) and `entc` version are incompatible.

Please follow [this guide](https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent) and re-open this issue if you still have troubles.

Thanks!

[2020-03-19 14:24] #397 closed

[2020-03-19 15:12] fr3fou commented on #397
yea, that fixed it, I had ran the `go get` command outside my project's folder

[2020-03-19 15:17] fr3fou commented on #46
what's the expected release date?

[2020-03-19 20:13] vinicio opened #398 "Feature Request: add Clear<E> for non-unique edges"
I couldn't find another way to clear a M2M relationship besides quering the edge IDs before calling `...Update().RemoveMyEdgeIDs(ids...)`.

Is it possible to add something like `ClearMyEdge()`?

Thank you very much!

[2020-03-19 21:02] a8m commented on #398
Hey @vinicio and thanks for opening this issue.

Let's keep it open to get more feedback from others.

[2020-03-20 11:32] a8m commented on #398
I just want to add more context here - We've added the `Clear<E>` to unique edges, because it makes sense to just clear the edge instead of passing an id when there's only one option.

In the current implementation, if you want to remove non-unique edges, you need to pass them explicitly using `Remove<E>` or `Remove<E>IDs`.

I'm not sure how common is clear operation for non-unique edges, so as I

[2020-03-20 15:29] aight8 opened #399 "Feature: DECIMAL type"
DECIMAL(P,D)

For accurate time fields

[2020-03-20 15:36] aight8 opened #400 "Feature: Multi-Key Primary"
Feature: Multi-Key Primary

Are relatively common in certain cases

SQL stores supports this, for the graph db (or when it's not supported), there could be a workaround. Save both fields in one field with a delimiter.
However it's not allowed then to query by only one PK field (because it's stored as one field).

**PRO**

**The advantages of multi-field-PK in aspect as Lib User:**
The business log

[2020-03-20 15:38] a8m commented on #399
Hey @aight8 and thanks for opening this issue.
This is duplicate of #277 and we plan to address this soon.

Closing. Let's continue the discussion there.

[2020-03-20 15:38] #399 closed

[2020-03-20 15:49] a8m commented on #400
Hey @aight8 and thanks for proposing this!

I honestly prefer the ID field to be as it is today, because it works nice with other things like the universal-id support and the GraphQL ID field. If we'll add this functionality, other features won't work (for tables that use this) - and I'm fan of this.

IMO, If someone wants to define a multi-fields uniqueness, he can just use a unique index for thi

[2020-03-20 15:50] a8m commented on #400
Hey @aight8 and thanks for proposing this!

I honestly prefer the ID field to be as it is today, because it works nice with other things like the universal-id support and the GraphQL ID field. If we'll add this functionality, other features won't work (for tables that use this) - and I'm not fan of this.

IMO, If someone wants to define a multi-fields uniqueness, he can just use a unique index for

[2020-03-20 17:10] aight8 commented on #400
Hi,
no understand your conclusion than, when it does not make sense with a commonly used overlayed technology graphql.

this issue is a little bit more, because you it would change the generated code and how you use the code.

maybe keep in mind that ent have great potential to be a common-purpose DB access layer. it were nice if it were extensible enough at least to allow some DB specific structu

[2020-03-22 12:04] a8m commented on #46
Hey @fr3fou - We don't have an official release date.
However, we're actively working on `ent` and we made good progress until now - I'm keeping the first comment updated.

We invest time in features design (more than expected) and collect feedbacks from our users in order to provide high quality product. Therefore, we try to avoid working under pressure (as much as possible) and prefer to not com

[2020-03-25 09:27] mrasong commented on #398
need clear too.
eg.
an article has many tags, when we update the article , we first clear it's tag relation and then add new relations to it.
any other ways to better performance?

[2020-03-25 10:43] nqd opened #405 "generated code be friendly with staticcheck"
Hi gents,

At first, thanks for the beautiful work.

Our CI is running staticcheck (which I believe ent is using also) and it returns this error

[code]

Could you make those errors meet ST1012 req?

Many thanks,

[2020-03-25 11:40] a8m commented on #405
Hey @nqd and thanks for raising up this issue.

We actually found it nicer to use `privacy.Deny` rather than `privacy.ErrDeny` - I know that this is the [Go convention](https://github.com/golang/go/wiki/Errors#naming) for error names, but sometimes the `Err` prefix is redundant (e.g. `io.EOF`).

Note that although the privacy directory is generated by `entc`, it's considered alpha (not documented

[2020-03-25 11:40] #405 closed

[2020-03-25 15:16] fr3fou opened #406 "How can I add custom struct methods?"
Say I want to make a method on a "Product" struct that is about placing an order, how would I be able to do that if I am not supposed to edit the generated code?

[2020-03-25 15:28] a8m commented on #406
Hey, see [my comment](https://github.com/facebookincubator/ent/issues/85#issuecomment-542194059) in previous issues.

Thanks

[2020-03-25 15:28] #406 closed

[2020-03-26 15:46] a8m opened #407 "proposal: cascading deletion support"
We want to add support for cascading deletion in ent. We are in early discussions and your comments and feedback can help us.

----

#### GENERAL IDEA

The cascading deletion will be implemented in the framework and won't be configured
in the database (e.g. `ON DELETE CASCADE` in MySQL), in order to support privacy checks,
logging, tracing, etc.

What about adding support for database-level deleti

[2020-03-29 10:39] mrasong opened #409 "invalid (json != longtext) when creating schema resources in mariadb 10.5"
In mariadb 10.5, type `JSON` is an alias of `LONGTEXT`

once I defined the schema with `field.JSON`, and run client.Schema.Create(ctx), the schemas created successfully.

[code]

Howerver, when I added a few fields and running `client.Schema.Create(ctx)` again, it paniced.

[code]

[2020-03-29 11:40] a8m commented on #409
Hey @mrasong and thanks for raising up this issue.

We didn't test `ent` migration on MariaDB, but we should fix this. I'll try to address this ASAP.

[2020-03-29 12:00] mrasong commented on #409
thx

[2020-04-01 09:54] chris-rock opened #416 "Tree traversal support"
Postgres supports an [ltree extension](https://www.postgresql.org/docs/12/ltree.html) that is quite useful for storing tree structures. A great explanation is from [Pat Shaughnessy](http://patshaughnessy.net/2017/12/14/manipulating-trees-using-sql-and-the-postgres-ltree-extension). Has Ent any plans to add support for Ltree?

[2020-04-01 19:53] #374 closed

[2020-04-04 15:46] hm0 opened #419 "failed query"
Hello,
I'm testing ent with the following configuration  / environment:
**mysql 5.7**
**go version go1.14.1 darwin/amd64**

Trying from scratch as explained in https://entgo.io/docs/getting-started/ with the demo I get the following problem:
2020/04/04 10:25:01 failed querying user cars: sql: Scan error on column index 2, name "registered_at": unsupported Scan, storing driver.Value type []uint8 in

[2020-04-04 16:06] a8m commented on #419
I’m quite sure [this](https://github.com/facebookincubator/ent/issues/224#issuecomment-563077669) should solve your issue.

Closing, but feel free to open if you still have troubles with it.

[2020-04-04 16:06] #419 closed

[2020-04-04 17:08] hm0 commented on #224
Thanks a lot, that worked.

[2020-04-04 17:09] hm0 commented on #419
Thanks a lot, that worked.

[2020-04-09 03:24] aca commented on #407
Could you elaborate more on "sessions"?

+ Really like all the rest of the design. Many thanks for the hard work and explanation for the design.

[2020-04-09 03:37] erikh commented on #407
This looks great. I do have some performance concerns about doing this in
go and at the connection level, but I'm not sure I'm ready to say anything
without looking at code first.

It would be nice if Cascade could accept a function of some kind, that
could be used to further process the node (I'm thinking about compliance
solutions specifically where data might need to be shoveled off) before
tak

[2020-04-09 16:12] sj8m opened #426 "ID after insert"
First of all great work, nice orm!
Is it possible to get the id after inserting/creating a new entity?

[2020-04-09 16:56] a8m commented on #426
Hey @sj8m and thanks for the feedback!

Did you try to run [this code](https://github.com/facebookincubator/ent/blob/6d15902/examples/start/start.go#L162)?

[code]

Closing, but feel free to open if something doesn't work for you. Thanks!

[2020-04-09 16:56] #426 closed

[2020-04-09 17:06] sj8m commented on #426
Thanks! I debugged it and there seems to be something wrong on my side. Thanks for your time, keep up the good work!

On 9 Apr 2020, at 18:56, Ariel Mashraki <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @sj8m<https://github.com/sj8m> and thanks for the feedback!

Did you try to run this code<https://github.com/facebookincubator/ent/blob/6d15902/examples/start/start.go#L1

[2020-04-10 16:46] a8m commented on #407
Hey @aca and @erikh, and thanks for your comments.

I don't have any design for sessions yet (this was just a random thought of mine), but the idea was to make it possible to perform multiple operations in the application side (like moving edge ownerships between entities), and only then flush to the the database.

Since I wrote this, we came up with another suggestion (by @alexsn) to add a `Move<

[2020-04-11 08:44] sharpSteff opened #427 "Missing Create(int ID)"
currently there is no possibility to pass an ID to create an entry in the table. (as far as I know)

We have the usecase to receive data which is already indexed, so it would be great to use these indexes as the Entity ID, which saves us an additional field and a lot of additional code.

It would be great to have an extra function like:
`ent.client.MyEntity.Create(id).`
to pass the ID directly

[2020-04-11 09:15] a8m commented on #427
Hey @sharpSteff,
You can provide your own IDs (using `SetID`) if the `id` field is configured in the schema. If it wasn't provided to the builder, the database will generate one for you - see the full [docs](https://entgo.io/docs/schema-fields/#id-field) for more info.

Closing, thanks!

[2020-04-11 09:15] #427 closed

[2020-04-11 15:36] sharpSteff commented on #427
@a8m Thanks for the quick response!
That’s exactly what I was looking for

[2020-04-12 19:26] a8m commented on #200
The "append-only" migration was added with #428. More advanced migration features (like dropping resources) will be added in the future - I'll open a separate issue for it.

[2020-04-12 19:26] #200 closed

[2020-04-13 13:15] adnaan opened #430 "entc is not vendored"
As per installation instructions,  running:
[code]
in a vendored go modules project(i.e. go.mod + vendor dir) doesn't fetch the sub-packages(entc,cmd/entc). This seems to be the default behaviour(?).

I am using `entc` as as package for generation, as per: https://entgo.io/docs/code-gen/#use-entc-as-a-package.

Consequently running `go generate ./ent` fails with:

[code]

[code]

Ofcourse everythi

[2020-04-13 13:50] a8m commented on #430
If you're using `entc` as a package, you don't need the `cmd/entc` package - if you run `go mod vendor` after using `entc` in your code, the `github.com/facebookincubator/ent/entc` package should be in your vendor directory (I just checked this).

`ent` by default works with `cmd/entc` this way - https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent

[2020-04-13 14:04] adnaan commented on #430
Thank you for the quick response.

Updated the title to reflect that we only `entc` to be vendored. But I still don't see `entc` in vendor directory. This is what I do:
1.  `go get -u -v github.com/facebookincubator/ent/cmd/entc`
2.  ent/entc.go
[code]
3. ent/generate.go
[code]
4. `go mod vendor`
5. `go generate ./ent`

[code]
6.
[code]

[2020-04-13 14:09] a8m commented on #430
The `// +build ignore` causes this. I'm pretty sure adding the following line to `ent/generate.go` should solve your problem.

[code]

Let me know if it helped

[2020-04-13 14:09] adnaan commented on #430
Ah, I get it.

It's because of the `// +build ignore` instruction `entc` doesn't get vendor-ed. Creating a local `cmd` package with a main entry point does the trick.

I think we need to update the documentation(https://entgo.io/docs/code-gen/#use-entc-as-a-package) to reflect this.

[2020-04-13 14:09] #430 closed

[2020-04-16 19:40] adnaan commented on #383
I am able to reliably produce this on `go generate ./ent`.

 Incidentally I am also using `gobuffalo/<repo>` dependencies. It seems `gobuffalo/pop` and other gobuffalo packages are using `gofrs/uuid` as a dep.

The following steps fixes the problem:
1. rm -f go.sum
2. rm -rf vendor
3. go clean -modcache(required)

[2020-04-16 21:49] moh-abk opened #432 "Default uuid not working"
Seems no default `uuid` code is generated;

[code]

[2020-04-16 22:22] adnaan commented on #383
Possible solution: https://stackoverflow.com/questions/47529611/goimports-needs-to-ignore-vendor-package

[2020-04-16 22:43] adnaan commented on #383
It seems `imports` can't ignore the vendor directory.

[2020-04-17 08:48] moh-abk opened #433 "Allow specifying TxOptions"
How I can pass in `sql.TxOptions{}`? -

I can see it defined here;

`https://github.com/facebookincubator/ent/blob/6819c0190641790b275932247572a0de18e2663d/dialect/sql/driver.go#L54`

[2020-04-17 09:21] a8m commented on #432
Hey @moh-abk,
What does it mean "no default code is generated".

We have code testing exactly this ([1](https://github.com/facebookincubator/ent/blob/master/entc/integration/customid/ent/schema/blob.go#L24), [2](https://github.com/facebookincubator/ent/blob/master/entc/integration/customid/ent/blob/blob.go#L54)) and I've just checked this locally (created another test for this #434) and it's worki

[2020-04-17 09:21] #432 closed

[2020-04-17 09:57] a8m commented on #433
Hey @moh-abk,
We actually use `BeginTx` with custom templates, but if can be useful for others I don't mind adding this.

I've created #435 and I'll merge this later today.

Thanks

[2020-04-17 09:58] a8m commented on #433
#435 Merged

Closing

[2020-04-17 09:58] #433 closed

[2020-04-17 15:33] moh-abk commented on #432
@a8m this line - `https://github.com/facebookincubator/ent/blob/master/entc/integration/customid/ent/schema/blob.go#L24` is not for the `id` field -- the code is not generated for `field.UUID("id", uuid.UUID{}).Default(uuid.New)` where the table `id` field is `uuid`

I get `insert node to table \"table_name\": pq: null value in column \"id\" violates not-null constraint"`

I've to manually add `Se

[2020-04-17 19:34] a8m commented on #432
@moh-abk got it! I just added it to the `id` field #436, and I'll merge this tomorrow.

Thanks for reporting this issue.

[2020-04-18 00:46] moh-abk opened #437 "Feature: Views, Triggers, Functions"
I've gone through the code but don't think it's currently possible to do the below;

- `CREATE VIEW`
- `CREATE MATERIALIZED VIEW`
- `CREATE FUNCTION`
- `CREATE TRIGGER`

for postgres.

[2020-04-18 09:28] a8m commented on #437
Thanks for proposing this @moh-abk

We don't have plans to support stored procedures nor triggers. In my opinion, these 2 can be configured on the database separately and don't need any abstraction.

Regarding views - maybe I miss something, but I don't see why it needs to be in ent. ent provides a graph-like abstraction over the database, and if users want to use an SQL specific feature, they can

[2020-04-19 06:18] RiskyFeryansyahP opened #438 "how to add a column in table which generated by M2M?"
Hello, I have a problem when i using Many to Many(M2M) edges, the default generated table an column when im using M2M is only depend on what schema is related.

Example :

Table users
- id
- username
- password

Table groups
- id
- group name
- etc

The result of generated table and column for that M2M table is :

Table users_group
- user_id
- group_id

nah, The problem is how to add custom column

[2020-04-19 07:33] a8m commented on #438
Hey @RiskyFeryansyahP and thanks for opening this issue.
It's not possible to add metadata on edges using ent at the moment, but it's on our [roadmap](https://github.com/facebookincubator/ent/issues/46) and should be addressed.

Having said that, you can always do it manually by changing the generated table in the `migrate/schema` package (I'm not sure what you'll get for it, because you can't que

[2020-04-19 07:33] #438 closed

[2020-04-19 07:42] RiskyFeryansyahP commented on #438
ahh i see @a8m, Thanks for the answering my question 😃

[2020-04-20 10:15] moh-abk commented on #437
Makes sense @a8m  -- hooks are sort of functions and triggers.

is there support for `Arbitrary Precision Numbers` - `NUMERIC(precision, scale)`  - `https://www.postgresql.org/docs/10/datatype-numeric.html`?

[2020-04-20 10:19] a8m commented on #437
Still no. #277 should make it possible and I'm currently working on this.

Closing

[2020-04-20 10:19] #437 closed

[2020-04-20 10:47] a8m commented on #151
Done with #431
Thanks for proposing this.

[2020-04-20 10:47] #151 closed

[2020-04-21 16:12] afansv commented on #126
@a8m any updates? are there any related tasks i can help?

[2020-04-21 16:20] afansv commented on #126
@a8m any updates? are there any related tasks i can help?

[2020-04-21 17:32] jordan0420 opened #445 "entc generate template error"
working through the Quick Introduction on https://entgo.io/docs/getting-started/
* User with no fields defined generates correctly.
* adding the 2 fields to the User schema step fails to generate:

go version info:
```go version go1.13.8 linux/amd64```

project/ent/schema/user.go

[code]

[code]

[2020-04-21 17:44] a8m commented on #126
Thanks for the feedback @hyponymous.

I think `ToColumn/FromColumn` does make sense when defining column names.

Can you elaborate about your use case? We can do this, but it means one of the 2:
1. Skip ent foreign-key constraints creation, adopt the existing ones and just rely on them.
2. Same as 1, but verify the constraint details (like references and actions) on the migration.

In my opinion,

[2020-04-21 17:47] a8m commented on #445
Hey @jordan0420,
Any reason for not using Go 1.14? Go 1.13 templates don't support comparing pointers.

[2020-04-21 17:55] a8m commented on #445
Anyway, I've created #446 to fix this, but I'll revert it once Go 1.15 is out.

Thanks for reporting this, closing

[2020-04-21 17:55] #445 closed

[2020-04-21 18:26] jordan0420 commented on #445
Thanks for the quick resolution!

[2020-04-22 09:20] SSDUBE opened #447 "entc/gen: execute template "create""
I have this schema

package schema

import (
	"github.com/facebookincubator/ent"
	"github.com/facebookincubator/ent/schema/field"
)

// User holds the schema definition for the User entity.
type User struct {
	ent.Schema
}

// Fields of the User.
func (User) Fields() []ent.Field {
	return []ent.Field{
		field.String("user"),
	}
}

// Edges of the User.
func (User) Edges() []ent.Edge {
	return nil

[2020-04-22 09:26] cliedeman commented on #447
Think it might be fixed by https://github.com/facebookincubator/ent/pull/446

Can you try on go 1.14?

[2020-04-22 09:28] a8m commented on #447
Fixed. See #445.

I'll release a new version. Thanks

[2020-04-22 09:28] #447 closed

[2020-04-22 14:56] aight8 opened #448 "Reserved-word "Order" is somehow sup-ideal"
In the aspect of naming your app models, an "Order" is a suitable and common naming for a model. Sadly this keyword is reserved, and there isn't a similar good word for it. I could put together two words (ShopOrder etc.) but that's somehow subideal if I look at my other models naming.

Ideas about renaming the internal "Order": OrderBy, OrderType, Sort etc. I don't look at the context of it in det

[2020-04-22 18:12] a8m commented on #448
Hey @aight8, I actually agree with this.
I've created #449 to solve this - it'll probably be merged tomorrow.

Thanks

[2020-04-23 10:22] a8m commented on #448
Closed with #449

[2020-04-23 10:22] #448 closed

[2020-04-24 07:12] chris-rock opened #450 "go version -m <binary> not working on alpine"
I tried to follow this project guideline to check versions for entc via `go version -n entc`. Unfortunately it turned out to be a bit difficult if you use entc on alpine:

[code]

Maybe we should reopen the discussion #368?

[2020-04-24 12:03] a8m commented on #450
Hey @chris-rock. Great to see you again here.

The [godoc mentions](https://golang.org/pkg/runtime/debug/#ReadBuildInfo) that the build information is available only in binaries built with module support.
I just checked it locally and it's working as expected:
![image](https://user-images.githubusercontent.com/7413593/80210341-43179480-863c-11ea-915c-d17bff5d5bf8.png)

A few months ago I thought a

[2020-04-24 12:22] chris-rock commented on #450
I see where you coming from.

Problem: I installed entc preinstalled in my CI/CD environment (since I do not commit generated ent code) and from time to time it breaks because its not compatible with the version in go mod.

Essentially I need to make sure that the entc binary (from CI/CD) fits with the version in project go mod. At this point a way to achieve that is to compare that both versions

[2020-04-24 12:31] a8m commented on #450
Yes. It's actually the new default configuration. See: https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent

Basically, you create a `generate.go` file in your project with the following content, and simply run `go generate`, for example:
[code]

The Go compiler will use the same version mentioned in your go.mod file.

Alternatively, you can use `go run github.com/facebookinc

[2020-04-24 12:47] chris-rock commented on #450
Oh cool, that is great. I'll try the go generate based approach.

[2020-04-24 12:47] #450 closed

[2020-04-24 20:27] lixin9311 commented on #252
At least we need multi-key unique constraints (some_key, deleted_by).

[2020-04-25 09:54] kkom opened #452 "Question: Neptune / Gremlin - experience compared to SQL backends"
Hey!

Firstly, thanks a ton for open sourcing this! As an ex-Facebooker I've been looking for a good privacy-aware ORM and seeing something based on the principles I'm already familiar with is fantastic! :)

I have some questions to the team about your experience using AWS Neptune.

I started using it, as my data model is highly connected and I think that it might benefit from efficient traversals

[2020-04-25 10:00] kkom commented on #452
Another upside for me is being able to easily export the entire graph into Spark GraphFrames/Graphx or some of the non-distributed graph processing frameworks (might have that need to run some algorithms). But that's a batch processing question, rather than realtime querying consideration, so probably not related to Ent very much.

[2020-04-25 19:34] a8m commented on #452
Hey @kkom and thanks for the kind words.

I already answered here in a few issues about why we decided to switch from Neptune to MySQL - you're welcome to search it, because I don't really remember all the details, and **things might changed in Neptune since then**.

Not performance. The ability to define unique constraints on fields/edges or a combination of fields and edges. I found a [workaroun

[2020-04-25 19:34] #452 closed

[2020-04-25 21:22] kkom commented on #452
Thanks @a8m, super clear!

[2020-04-25 22:28] moh-abk commented on #46
does ent **support/plan to support** seeding database? it currently does migration so wouldn't want to seed using another tool

[2020-04-27 06:32] sijad opened #454 "Feature: Computed fields"
add ability to add virtual fields to Models which are not stored in database.

[code]

[2020-04-27 07:14] a8m commented on #454
Hey @sijad,
There's an option to do it today using templates, so I'm not so convinced it should be on the schema definition. See: https://entgo.io/docs/schema-fields/#additional-struct-fields

[2020-04-27 07:34] sijad commented on #454
yes, I'm not sure why I didn't find it sooner...
thanks!

[2020-04-27 07:34] #454 closed

[2020-04-29 14:10] ernado opened #456 "Feature: unit tests without sqlite"
Hey, is it possible to mock ent without using sqlite driver?

Probably something like mock with callbacks that user can override.

We are starting to use ent in production and sqlite is not always suitable or enough.

(Also thank you again, project is really great!)

[2020-04-29 14:57] a8m commented on #456
Hey @ernado and thanks for the kind words.

Currently no. I can share that a few months ago I started to work on an in-memory driver to replace SQLite and it wasn't so easy. Mainly because some of the logic is configured in the database schema, like foreign-key actions (cascade-delete and set-null) and other nullability and JSON checks.
Also, I wasn't sure what is the right API to mock the client

[2020-04-29 15:08] ernado commented on #456
Agree, but there are some points:
- Driver-specific features (e.g. JSON from postgres)
- Build time overhead (sqlite is C library and linking takes some time)
- Runtime overhead (creating a big scheme every time)

Can pluggable storage drivers help with this?

Same for me, I don't expect easy solution here, but I'm willing to help. Currently this issue is not critical for us, but eventually we wil

[2020-04-29 15:12] BitPhinix commented on #46
Seeding would be an absolute killer feature

[2020-04-29 15:27] a8m commented on #456
I accidentally posted my previous comment before finishing it, so I would like to understand more the use-case, why SQLite doesn't work for you, and what API do you expect (or propose) for ent in testing.

(Ignore this, just saw your comment)

----

Regarding your comment, I get the motivation, and just want to mention that it works great for us with huge number of entities/edges and unit-tests (a

[2020-04-30 07:06] jamil-baz commented on #46
Just to clarify, does `Edge fields (metadata on edges)` mean adding additional columns to edges?

What we're looking for is to be able to say something similar to:
user -> likes/follows/blocked -> user
using edges. This would mean being able to define more than just 1-1 relationships, but quantifying the relationship.

[2020-05-01 09:21] a8m commented on #277
Hey, I got back to this now, and I hope to push this ASAP.
I'm writing here a few things that I think we need to address and make it possible for users to define arbitrary types.

1. Allow users to override the schema-type for the existing field builders. For example:
[code]
   In the future, we'll give users more granularity to control also the migration behavior, like defining a `Migrate` functi

[2020-05-01 09:24] a8m commented on #416
Hey @chris-rock and thanks for opening this issue.
I think we can merge this issue with #277 and continue the discussion there. What do you think?

[2020-05-01 09:27] chris-rock commented on #416
I think it is definitely going in the right direction. Lets close it for now and re-open/create a more specific issue once we know more. Thank you @a8m

[2020-05-01 09:27] #416 closed

[2020-05-02 09:51] BitPhinix commented on #356
@sijad I think it isn't published yet, but I also would love to use it

[2020-05-02 12:02] sijad commented on #356
I found it [here 🤫](https://github.com/facebookincubator/magma/tree/3f8322b001d9bb27317b3571267d6f01bff0beae/symphony/pkg/ent-contrib/entgqlgen). it might be outdated.

[2020-05-02 14:17] aight8 opened #458 "Question / Feature Request: Entity type specific methods"
### Problem
- Currently I have to wrap a generated ```Model``` to a more specific ```SpecificModel``` and have to unwrap it by an ugly ```model.Base``` whenever I need the the base type either for ent DB interaction or whenever I really need it in the base type. I could do ```model.Update()...Save()``` however I again have to wrap it.
- Same for the already generated ```Models``` (collection type)

[2020-05-02 14:33] a8m commented on #458
Hey @aight8 and thanks for opening this issue.

The [external-templates](https://entgo.io/docs/code-gen/#external-templates) option was created exactly for this. We also use it a lot internally to generated helpers and integrations to other tools (like GraphQL).

Let me know if you need help with this.

[2020-05-03 16:43] aight8 commented on #458
Seems like it's incredible extensible with templates.
It were definitely very useful if it become an own documentation page with some samples.

I studied the ent template part, but currently try to figure out a while how I must name the templates. The template dir is rendered to the generated directory (example.tmpl -> example.tmpl.go), beside I can add custom code by defining some pre-specified t

[2020-05-03 19:24] cliedeman commented on #458
There is an example in the repo and here are the [docs](https://entgo.io/docs/code-gen/#external-templates)

https://github.com/facebookincubator/ent/blob/master/entc/integration/template/ent/generate.go
https://github.com/facebookincubator/ent/tree/master/entc/integration/template/ent/template

[code]

It might feel a bit odd because all the interface implementors are in the same file.

Example c

[2020-05-03 19:49] a8m commented on #458
I'll add another section in entgo.io later this week. Thanks for the feedback

[2020-05-06 15:02] stffabi opened #465 "Feature: Policy on Mixins"
Hi

Thanks for this awesome project. We are currently evaluating the Ent and would be happy to contribute some features which we would need and also think would be interesting for the community.

So here's our first one 😄
What would you think about putting Policy also onto Mixins? This would allow us to implement some default policies based on fields that come with a mixin.

We would be happy to b

[2020-05-06 15:19] a8m commented on #465
Hey @stffabi and thanks for proposing this feature.
We actually discuss about it and we plan to add it to `Mixin` in the near future.

It's not there at the moment because the [`Query`](https://godoc.org/github.com/facebookincubator/ent#Query) interface is currently empty and it's not possible to add generic code for mutating the different query builders.

Once we finish the development of entql (

[2020-05-06 15:42] stffabi commented on #465
Hi @a8m thanks for your response.

Ah yes, that makes perfectly sense. There's no real win in having them added to `Mixin` without having entql. By the way entql sounds awesome 😄. I've also standup at some points because of a missing generic entql language. For e.g. to add additional predicates in a Mutator, for some sort of soft-delete mechanism.
I didn't think about it, because I've started some

[2020-05-06 17:59] a8m commented on #465
Exactly! that's one of the reason I decided to work on entql. Another reason is mentioned here - https://github.com/facebookincubator/ent/issues/277#issuecomment-622316098

[2020-05-06 19:21] irahulranjan opened #467 "Online schema change"
Hi
Thanks for this awesome project. Is ent migration based on https://github.com/facebookincubator/OnlineSchemaChange?

[2020-05-06 19:30] a8m commented on #467
Thanks @irahulranjan!

No. The migration logic is describe in [entgo.io/docs/migrate](https://entgo.io/docs/migrate/), and we plan to improve it before releasing V1 (it's in our roadmap).

[2020-05-06 19:30] #467 closed

[2020-05-08 09:55] erikh opened #474 "Panic during generation"
Is there a way to force a stack trace on panic for `entc`? I'd love to debug this further.

https://github.com/erikh/ent-bug -- this schema panics the entc generator. To repro:

[code]

Which will fetch the appropriate version I was testing against, which is current master as of this posting (so if this gets fixed later, you know it's fixed).

Hope it's useful, but I don't know why it's happening

[2020-05-08 10:01] a8m commented on #474
Hey @erikh and thanks for reporting this.
Checking this.

[2020-05-08 10:02] erikh commented on #474
It's an old schema -- from back when I was working on the sqlite stuff. I also tried to thin it out some so you'll see some empty stuff in there... I think the problem is the edges between run and task, but still playing.

[2020-05-08 10:18] a8m commented on #474
Found the issue. You should replace `ent.Mixin` in your mixins with `mixin.Schema`.

I posted about it in the release note - https://github.com/facebookincubator/ent/releases/tag/v0.2.0

I really try to avoid non-backwards compatible changes even before V1 (this was the first one), but we needed it in order to add support for other functionalities in mixin.

I'll leave this issue open for now and

[2020-05-08 10:20] erikh commented on #474
I missed it, I did just figure out it was the mixins. Thanks for the help debugging!

Also btw, the package name when you successfully generate -- is `ent-bug` due to an oversight by me; but it exposes another bug in the package name generation (go names can't have - in them). I'll report it separately if you'd like.

[2020-05-08 10:53] erikh opened #475 "Double function generation"
Here's another one: https://github.com/erikh/ent_bug2 -- I think this is actually a bug this time.

To reproduce:

[code]

You should get output similar to this:

[code]

Seems like a method is getting generated more than once.

[2020-05-08 11:05] a8m commented on #474
Good catch!

No need, I'm on it.

What do you think we should do in this case, fail or just use "ent" as a package name?

[2020-05-08 11:10] erikh commented on #474
I was thinking an underscore might be best here, and let go and the user
sort the rest out.

On Fri, May 8, 2020 at 4:06 AM Ariel Mashraki <notifications@github.com>
wrote:

[2020-05-08 11:17] a8m commented on #475
Thanks for reporting this.

All ent mutators implement the [ent.Mutation](https://godoc.org/github.com/facebookincubator/ent#Mutation) interface and there are conflicts if you name your edge as "field"/"edge", because the `ent.Mutation` contains the `ResetField(name string) error`, and a Reset<E> method is generated for unique edges.

I'll come with a workaround for this.

[2020-05-08 17:27] cliedeman opened #477 "Missing Error Check after iterating over rows"
I came across this when working on #469

I have a query that failed due to a constraint but ent returns the no rows error.

Looks like an additional error check is missing here and I think everywhere else rows.Next is called
https://github.com/facebookincubator/ent/blob/b4255998bf56aac9e8d19800fe1ca7d718f8235d/dialect/sql/scan.go#L32
Like in the example
https://golang.org/pkg/database/sql/#example

[2020-05-08 17:30] #474 closed

[2020-05-08 17:55] a8m commented on #477
Thanks for reporting this @cliedeman!
You're welcome to send a patch for this, or I can take it later today.

[2020-05-08 18:02] #475 closed

[2020-05-09 13:24] #477 closed

[2020-05-09 20:42] #458 closed

[2020-05-10 17:50] ftomza opened #485 "Checking for data consistency"
Hi!
Whether this module has a consistency check when updating a record. In other words, if the recording version does not match the version of the object being recorded, an error is returned that this object has already been recorded by someone. If this functionality is not available, then I am ready to do it via a mixin with a hook for updating. Just a few questions.
1. How to get the value of th

[2020-05-10 18:11] a8m commented on #485
Thanks for opening this issue @ftomza.

Not available.

Currently, there's no way to load the "old value" of a field. In order to do this, you should load this from the database as follows:
[code]

It's not empty if it was set in the builder. See the example above.

If you want to write a "generic" mutator that is being evaluated on all types, remove the `hook.<T>Func` wrapper. More info can be fo

[2020-05-10 18:11] #485 closed

[2020-05-10 18:13] a8m commented on #485
Although I closed the issue, you can feel free to comment/discuss here if you have questions, or you can open it if there's any problem with ent.

Thanks :)

[2020-05-10 18:37] ftomza commented on #485
Wow how fast! I didn't expect it! Thanks for the answer! I will try to do, if there are questions, of course I will ask! Thank you for the awesome project! I've been waiting for this type of module to work with data for a long time! You're cool!

[2020-05-10 19:07] ftomza commented on #485
Yes I'm trying to make 'generic', and here's my code:

[code]

Question: how do I get a client for ConsistencyMixin?

[2020-05-11 16:16] a8m commented on #485
Hey @ftomza, I've missed these comments yesterday.
Thanks so much for the kind words, it's really fun to read this :)

[code]
But this will work only for your project (a specific `ent.Client`). That is, if you try to create a generic ConsistencyMixin (let's say for OSS), it won't work and you'll need to wait until we'll add the option for getting old field values.

I'll update this issue when it's

[2020-05-11 17:48] ftomza commented on #485
Hey @a8m!

No problem, I think there are so many incidents that need to be answered and help those in need :)

I also haven't found any solutions for how to get a universal client directly, other than making my own template and adding this functionality to the core level. In the meantime, I will do as part of my project, as suggested above.
I would also like to see support for timerange fields wit

[2020-05-13 07:49] kosgug commented on #126
Any progress? I have the same doubts

[2020-05-13 09:05] moh-abk commented on #383
I can confirm I see `github.com/gofrs/uuid` being used also even though my schema files use `github.com/google/uuid` @a8m

[2020-05-13 09:14] a8m commented on #383
Please try to follow the suggested instructions that are mentioned above, and if it's not working, please create a temporary repo with a schema that I'll be able to reproduce this.

Thanks

[2020-05-14 11:38] kkom opened #490 "Question/suggestion: codegen into other languages"
Hey team!

Have you considered the functionality to generate code in other languages (like Python or JS) based on the Go schema?

One use case would be making it possible to interact directly with the graph as stored on the DB, from a service written in another language (think data science/machine learning done in Python). I realise that it might be hard to replicate the entire functionality of en

[2020-05-14 12:45] a8m commented on #490
Hey @kkom and thanks for opening this issue.

No. To be honest, I don’t see it as an option in the foreseeable future. However, the entc package provides an API for interacting with ent schemas, so if someone wants to take this as a different project I’ll be happy to support them.

About GraphQL - I hope to find the time to release our work with gqlgen with a proper documentation soon.

[2020-05-15 20:18] kkom commented on #490
Thanks @a8m! All makes sense!

[2020-05-15 20:18] #490 closed

[2020-05-19 08:56] kkom opened #494 "Question: granularity of the future privacy layer"
Hey, I have a question about the plans for the planned privacy layer, specifically - what's in scope?

I can imagine the following features:

1. Blocking mutations – I assume you can be very flexible here, defining arbitrary rules based on what exactly is the mutation
2. Blocking reads – how granular is the plan for it? are we talking just ent-level visibility policies, or also field-level / edge-

[2020-05-20 07:01] jufemaiz commented on #139
This looks rather promising.

[2020-05-20 20:23] Vahanerevan commented on #126
+1

[2020-05-20 20:36] a8m commented on #126
Please avoid commenting "+1" and use GitHub reactions.

About the progress - I wanted to wait to get feedback for my [previous comment](https://github.com/facebookincubator/ent/issues/126#issuecomment-617313002). Since I didn't get any, I'll add this option to edges soon with option 1 as a "solution" for foreign-key constraints.

[2020-05-21 07:58] a8m commented on #485
Hey @ftomza, it's not a secret. It was added a few days ago ;)
I've added a few examples in `entc/integration` how to work with the new API. Here's one of them, that is similar to your use-case:

[code]

[2020-05-22 19:22] aight8 opened #499 "Feature Request: Computed/Generated Fields"
The fields Immutable option allows to create fields without update functions.

However there could be entity fields which are present in the entity model but should not be able set on *create* or *update* either. Use case:
- postgresql: generated fields
- postgresql: fields set by trigger functions while insert/update

### Advantages
So my idea is to implement another field option which go one ste

[2020-05-22 20:02] a8m commented on #499
Hey @aight8 and thanks for proposing this feature.

Can you elaborate more about this feature? What do you expect from ent to do with "generated fields"? e.g: to define them in the database (in migration)? provide predicates? treat them like real columns?

[2020-05-23 01:34] aight8 commented on #499
With the field schema type option, it's possible now to create db field types which get computed.
So yes, I think this could be a part of the migration process.

With external templates is currently already possible to create entity model only calculated fields. I did so.

Because fields of this kind are not differentiate to other db fields, predicates makes perfectly sense.

I use computed fields

[2020-05-24 09:30] sohaha commented on #56
What is your solution? The link is no longer accessible

[2020-05-24 10:02] a8m commented on #494
Hey @kkom, in the current (experimental) implementation we provide the option to reject/change mutations/queries. We (want and) plan to add another level for edge privacy, but we don't have any design for it yet.

About more granularity, like field-level, I'd like to hear what do you mean? To be able to filter out some of the fields?

One of the things I'm working on at the moment is a "generic" q

[2020-05-24 11:06] aca commented on #56
@sohaha Ent still doesn't support adding field to edges.
 The problem I had was fixed by this

[code]

[2020-05-24 14:56] sohaha commented on #56
@aca  thank you :)

[2020-05-24 15:24] sohaha opened #501 "Missing best practices"
This package is cool and easy to use.

It seems that it is not very friendly to developers who traditionally use relational databases.

For example, a lot of things are processed internally,

but the document does not have information about performance optimization.

For example, `c.Users.WithGroups().Only(ctx)` seems to be unable to specify the field of group,

Will a large number of such queries

[2020-05-24 21:50] kkom commented on #494
Could you point to some places in the code that’ll show me how to use it? I don’t mind that it’s experimental, so is my app at the moment.

Yes — exactly that. Simplest example: user has a date of birth on their profile, but we don’t want to share with enough who can load the ent, but only friends.

Can you achieve control like this with the current framework or with any of the changes you’re imme

[2020-05-25 10:46] a8m commented on #501
Hey @sohaha,

I'm not sure I understand what is the "field of the group". Do you mean to add a predicate on a specific group field?

You can control the amount of entities that are returned using `.Where`, or `.Limit`. See the 2nd section in the [eager-loading page](https://entgo.io/docs/eager-load/#overview) - in order to see the queries that are executed (when you debug), use `c.Debug().User.Onl

[2020-05-25 10:46] #501 closed

[2020-05-25 14:50] sohaha commented on #501
.WithGroups(func (q Query){
// valid
q.Limit()
// can not achieve
q.Select("title")
}).All(ctx)

[2020-05-25 14:52] sohaha commented on #501
@a8m Thank you for your reply. Please close it first. I haven't thought of the best practice yet.

[2020-05-26 11:58] ppphp opened #503 "Feature Request: Custom Table Name"
Thank you for you excellent work. I have a feature request.
I have to split my database tables into some parts just like sharding by hand, spliting my user table like user_0, user_1, user_2. Is it possible to write code like
[code]
or similar practice.

[2020-05-26 12:22] a8m commented on #503
Hey @ppphp and thanks for opening this issue.
If you want to define a custom table name (in codegen), you can use the [ent.Config](https://entgo.io/docs/schema-config/#custom-table-name) option. This option overrides the default table name generated by ent.

But, if I get it right, you're looking for a sharding solution and not just a custom table name.
If that's the case, we don't support this at

[2020-05-26 12:41] ppphp commented on #503
Thank you. I will try it out.

[2020-05-26 12:41] #503 closed

[2020-05-26 19:04] kkom opened #504 "Proposal: configurable range of IDs for a single Ent type when using WithGlobalUniqueID"
Could the ID range designated for each Ent type if `WithGlobalUniqueID(...)` is set to `true` be configurable to be larger than 2^32?

Databases can represent IDs with 64 bit integers, which is probably really enough for everyone. But 32 bits give us only ~4.5 billion identifiers for every type, which feels like it could be limiting in some situations (fewer than the number of people on Earth).

A

[2020-05-26 19:50] a8m commented on #504
Hey @kkom,

@alexsn and I actually discussed about this a few months ago, and thought it's not a real issue - we don't see any situation that a table holds more than 4 billion records.

Also, the rest of the bits are reversed for the type and sharding information (not supported at the moment). So, potentially, users will be able to store 2^32 records in each shard table and ent will manage the sha

[2020-05-26 19:59] a8m commented on #494
Sure, see [this example](https://github.com/facebookincubator/ent/blob/cdd855c/entc/integration/privacy/ent/schema/planet.go#L43) and its [tests](https://github.com/facebookincubator/ent/blob/cdd855c8c9ec295eb1a9721b97eb4bb014cdcb55/entc/integration/privacy/privacy_test.go). But please note, that this API might change in the near future and it's not stable until we'll update the docs (in entgo.io)

[2020-05-26 21:12] kkom commented on #504
Thanks @a8m!

That's great! And I was wondering where the other 16 or so bits went.

So in the future, one ent type could hold num_shards * 2^32 records? That's a much much better solution than the ad hoc thing I came up with, 100% agreed!

[2020-05-26 21:16] kkom commented on #494
Thanks for the pointers @a8m!

On entql, I guess I'll need to play with the framework a little more to understand the use cases here, but I'm sure it will become obvious later on.

Do you want to keep this issue open for the field privacy rules? I fear it might introduce some complications, e.g. not sure if `gqlgen` autobinding will work as well, etc.

[2020-05-26 22:46] kkom opened #506 "Feature suggestion: entc --version command"
I did read https://entgo.io/docs/code-gen/#version-compatibility-between-entc-and-ent but I was still faced with a divergence between the results of running `entc` and `go run github.com/facebookincubator/ent/cmd/entc`. Turns out I didn't rebuild my dev container after upgrading the package, so the old `entc` binary lingered on.

I feel like `entc --version` would have pointed me in the right dire

[2020-05-27 08:03] pbrazdil commented on #357
Any update on OSS-ing gqlgen integration?

[2020-05-27 08:28] a8m commented on #506
This issue has been discussed here several times. See previous discussions: https://github.com/facebookincubator/ent/issues/450, https://github.com/facebookincubator/ent/issues/368.

Use `go version -m <binary>` if you need the entc version.

[2020-05-27 08:28] #506 closed

[2020-05-27 08:41] ImKcat commented on #357
Still waiting for the gqlgen integration release

[2020-05-27 09:38] kkom commented on #506
Oups! Sorry for not having done the research! Thanks for linking the previous issues!

[2020-05-27 10:44] haoxf opened #507 "Feature Request: Provide high precision time"
The current time precision is fixed.
Provide a way to modify time precision.

[2020-05-27 10:58] a8m commented on #507
Hey @haoxf,
If you want to use a custom database type, you can use the [`SchemaType` option](https://entgo.io/docs/schema-fields/#database-type).

Closing, but feel free to open if you think it's needed.

[2020-05-27 10:58] #507 closed

[2020-05-27 10:58] a8m commented on #504
Exactly.

[2020-05-27 11:10] haoxf commented on #507
Okay, thanks for your quick reply.

[2020-05-27 11:43] #504 closed

[2020-05-27 22:33] marwan-at-work commented on #126
Solution 1 seems most ideal to me as well, because you most likely have a foreign key already set up if you were to specify a custom one. Looking forward to this feature!

[2020-05-28 12:10] petersondmg opened #508 "Error returned from field validator can't be easily checked"
As the error returned from validator is a result of a `fmt.Errorf("...: %v")`, it's hard to check whether the error is due to a certain validator.

**Example**:
[code]

[2020-05-28 21:00] #508 closed

[2020-05-29 17:43] enmand opened #512 "User defined "id" fields from Mixins ignored"
If you have a mixin that defines an `"id"` field:

[code]

and have a schema that uses this Mixin:

[code]

the generation causes an error in `runtime.go` on compile because `Fields()` is called on an undefined variable (that _should_ be the mixin fields), and the `Mixin` fields (if there are others besides "id") are not configured.

[2020-05-31 04:21] hongjic opened #513 "connection pooling in client.Open"
[code]
Here the code says that `Open` just opens one connection. At first I was thinking this is a real connection, but turns out it is not, at least when using mysql dialect.  Internally it calls `sql.Open` from `database/sql` package which actually creates a pool of idle DB connections.

[code]

This can lead to people misusing `client.Open` and call `open` and `close` multiple times and cause m

[2020-05-31 10:06] a8m commented on #513
Thanks for raising this issue @hongjic.
#514 should solve the problem.

[2020-05-31 10:09] #513 closed

[2020-05-31 10:29] #512 closed

[2020-05-31 10:30] a8m commented on #512
Hey @enmand and thanks for reporting this issue.
#515 should solve this issue. Please open if you still have troubles with this.

[2020-06-03 10:16] ftomza commented on #485
Hi @a8m! How could I miss such a super comment! There is no forgiveness for me!))
Thank you and your team for a cool product!
Do you have any comments about timerange fields?

[2020-06-04 03:30] kidlj commented on #285
The storage key for edge is kind of confusing.

Taking the o2o-recursive [demo](https://entgo.io/docs/schema-edges/#o2o-same-type) as an example, `node_next` in db table actually means `node_prev`.

[code]

[2020-06-04 13:53] moh-abk commented on #46
appreciate an insane amount of work might be going on behind the scenes on this project but it'll be good if some regular updates can be shared?

i'm currently blocked from using this in production waiting for `User defined types` and `Cascading deletion` :(

Any updates appreciated! @a8m

[2020-06-05 00:08] kkom opened #525 "Bug: for some ent names, function arguments shadow packages in client.tmpl"
I have an entity called SlackOAuthRequest

`entc` generates invalid code for it, as function argument names shadow package names in some files.

Here are some relevant parts of generated `client.go`:

[code]

[code]

Function argument named `slackoauthrequest` shadows the identically named package and results in errors:

[code]

There is something special about the name SlackOAuthRequest, as other

[2020-06-05 09:05] kkom commented on #525
`SlackOauthRequest` is fine (as expected really)!

Maybe it is the conventional spelling after all (not sure), but a sequence of two or more capital letter should be probably still correctly handled

[2020-06-05 16:20] #525 closed

[2020-06-05 16:20] a8m commented on #525
Thanks for reporting this issue @kkom

[2020-06-07 17:32] kkom commented on #525
Hey @a8m – actually the same problem is happening for an ent named `SlackOAuthV2Request`

Btw, name's inspired by:

https://github.com/slack-go/slack/blob/b04b8521281b8e06bd4bb5b9c83a81e2a12e2141/oauth.go#L34-L45

[2020-06-08 08:29] chris-rock opened #529 "Interface for Create/Update functions"
Ent already generates similar functions for Create/Update functions. If you have to write a bit more complex code to handle create and update scenarios you'll end up writing a create and update function for ent, even though the logic may be similar. Consider the following example:

create a new one:

[code]

handle existing entry:

[code]

If ent would generate an interface for functions we could

[2020-06-08 09:19] a8m commented on #529
Hey @chris-rock, I know exactly what you're talking about, because we encountered this issue when we started the development of ent, and because of the chaining API of the builders, you can't create a shared-interface because the return value is different (`interface<T>` would have solve this problem :/).

However, all type builders share the same [Mutation](https://entgo.io/docs/hooks/#mutation)

[2020-06-08 09:34] chris-rock commented on #529
I see, I missed the mutation object. Do you think it would be an option to expose the current mutation object like:

[code]

Since it will be explicit, its also clear that this mode will have no chaining.

[2020-06-08 09:37] a8m commented on #529
Yes, we can add `Mutation() <T>Mutation` for the Create/Update/UpdateOne builders.

Let me know if you want to add it, or I can do it later today.

[2020-06-08 11:21] chris-rock commented on #529
@a8m Thank you for the quick feedback. If you find time to add this feature, I would very much appreciate it. If not, I'll try to add this capability this or next week.

[2020-06-08 12:16] #529 closed

[2020-06-08 12:24] chris-rock commented on #529
Thank you for the quick turnaround @a8m! You make working with this project a pleasure!

[2020-06-08 15:33] a8m commented on #148
Hey,
This issue is sitting here for a long time, and since we don't have plans to change the API and lose the type-safety of the schema, I suggest that you'll use [hooks](https://entgo.io/docs/hooks/) for tackling this problem.

You can define a hook on a specific type as follows:
[code]

Or, you can share one hook with multiple types:
[code]

Please let us know if you have any problems with it. C

[2020-06-08 15:33] #148 closed

[2020-06-09 00:30] jufemaiz opened #532 "Multiple foreign key UUID failing with `WithX()` eager loading"
Use of UUID foreign keys is failing when using eager loading. Index of foreign keys explicitly set to 0 for all foreign keys.

https://github.com/facebookincubator/ent/blob/master/entc/gen/template/dialect/sql/decode.tmpl#L61-L63

[code]

Should be amended to:

[code]

[2020-06-09 00:38] jufemaiz commented on #532
QQ for the team: if I want to implement this fix locally while the wheels turn at your end, how do I achieve this using the local template override approach? Just add in a file at:

[code]
?

[2020-06-09 05:08] a8m commented on #532
Thanks for reporting this issue and for the quick fix @jufemaiz.

[2020-06-09 05:10] #532 closed

[2020-06-09 09:37] a8m commented on #46
Hey @moh-abk,
Please note that the first comment (with the task list) is continuously updating with the status, and also, the public releases contain information about the changes that were added to ent. See the [latest release](https://github.com/facebookincubator/ent/releases/tag/v0.2.3).

[2020-06-09 15:36] fwielstra opened #537 "Question: Easy way to handle M2M relation?"
I'm trying to create a many-to-many relationship between (the equivalent of) a `Post` and zero or more `Tag`s. A `Tag` has a unique constraint on its `Name` field.

What I'm seeing right now in my generated code is that, when creating a `Post`, there is only a method `AddTags()` generated. When updating a `Post`, there is also a `RemoveTags()` function generated.

Second, when just calling `AddTag

[2020-06-10 05:49] Teeoo opened #538 "How do I use select in one-to-many or many-to-many"
[code]

[2020-06-10 09:10] sj8m opened #539 "Error handeling for specific errors like not found or unique?"
How can I handle the errors based on the reason of the error like:

`
if err != nil {
		if err == ent.NotFoundError {
			fmt.Println("Error not found")
		}
		if err == ent.UniqueError {
			fmt.Println("Error email in not unique")
		}
	}
`

[2020-06-10 09:25] a8m commented on #538
Please provide a partial of your schema and what you expect to return from the query.
Also note, that `Select` doesn't work with eager-loading.

[2020-06-10 09:30] a8m commented on #539
Hey @sj8m,
I'm not sure I got the question here, but I hope this snippet will help you:

[code]

Please open if you still have troubles.

[2020-06-10 09:30] #539 closed

[2020-06-10 09:31] sj8m commented on #539
Thanks men this really helps me out :)

On 10 Jun 2020, at 11:30, Ariel Mashraki <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @sj8m<https://github.com/sj8m>,
I'm not sure I got the question here, but I hope this snippet will help you:

// Constraint errors:
usr, err := client.User.Create().
    SetName("Ariel").
    Save(ctx)
if ent.IsConstraintError(err) {
    // "name"

[2020-06-10 09:58] a8m commented on #537
Hey @fwielstra,

If it's a M2M relation (`edge.To` and `edge.From` are not unique), you should have `Add<E>` and `Remove<E>` for both builders.

If you get a constraint error because you add tags that already exist, I'm pretty sure, you can call "remove" and "add" in the same query to solve this.
[code]
This is another reason, why we need to add the `Clear<E>` option for non-unique edges (see: htt

[2020-06-10 10:25] kkom opened #540 "Bug: re-migrating index on multiple fields fails with ERROR: relation ... already exists (SQLSTATE 42P07)"
Hey!

I'm on `v0.2.3` and I'm consistently having problems with unique indexes on multiple fields. Re-migrating the schema fails with the following exception:

[code]

This is reproducible across more than one ent, and happens consistently when the index consists of more than one field.

Here's one example:

[code]

Looks like ent schema can't discover that the index already exists on the DB?

I'm

[2020-06-10 10:27] a8m commented on #540
Hey @kkom,
Please provide the database dialect and its dialect.

[2020-06-10 10:28] kkom commented on #540
Oups, facepalm.

Postgres 12!

[2020-06-10 10:34] kkom commented on #540
Interestingly, this is the error message (as posted before):

[code]

But I think this is the query which fails:

[code]

Note the relation name. Looks like some part of the code truncate the name and fails to discover the correct name?

[2020-06-10 10:54] kkom opened #541 "proposal: triggers to transactionally mutate other ents on a mutation"
Hey!

I'm missing the functionality to transactionally perform mutations on different entities, triggered by a mutation of one entity.

For example, imagine that there are entities A, B, C which share a field that should be unique across them. I would like to create a separate entity D which stores the value of that field and defines a uniqueness constraint.

Then, on mutation of A, B, or C I woul

[2020-06-10 11:00] kkom commented on #540
Another piece of potentially helpful information is that this particular migration involved dropping a unique index on a single field (and exchanging that for a unique index on this field and another one):

<img width="1874" alt="Screenshot 2020-06-10 at 11 58 27" src="https://user-images.githubusercontent.com/5056119/84260396-e0a62500-ab11-11ea-9d18-f6af1a15e6e3.png">

It doesn't explain why the

[2020-06-10 11:01] a8m commented on #540
Found the issue. Index name is too long, and it's truncated by the database.
I'll give it a deeper look later. Thanks for reporting this.

[2020-06-11 13:19] sj8m opened #544 "Edge column name"
Is it possible to give the edge column in the database a given name?

[2020-06-11 16:47] a8m commented on #544
Hey @sj8m, this is a duplicate of #394 and I actually work on this.
Closing. Please subscribe the other issue for updates.

[2020-06-11 16:47] #544 closed

[2020-06-12 15:00] aca opened #546 "proposal: Add ValidatorError type"
Ent has some defined error type and helper function to check if it error match that type.
But when ent failed to create/update resource because of validator failure, there's currently no way to differentiate failure for that (correct me if I'm wrong).
It will be useful to have that kind of error type.

[code]

[2020-06-13 14:07] jelmersnoeck commented on #546
We've been needing this as well, and even more detailed information about the underlying validation rule. I've opened a PR to add this: https://github.com/facebookincubator/ent/pull/547

[2020-06-13 14:53] kidlj opened #548 "o2o-recursive storage key for edge is kind of confusing"
Per the o2o-recursive [example](https://entgo.io/docs/schema-edges/#o2o-same-type), `node_nex`t in db table actually means `node_prev`.

[code]

This change is introduced in #286.

[2020-06-13 15:07] a8m commented on #548
Hey @kidlj,
I understand the confusion, but as mentioned in #285, we can't rely on inverse edges (`edge.From`) for naming the foreign-key columns, because they are optional and users can always drop them (#286 actually fixed a real bug we found in production).

However, I'm going to land #545 later today (or tomorrow), which give users the freedom to name foreign-key columns however they want.

[2020-06-13 15:08] a8m commented on #538
Closing, please feel free to open if you still have question or need help.

[2020-06-13 15:08] #538 closed

[2020-06-13 15:39] hongjic commented on #538
@a8m, any plan to support the `Select`  in eager-loading? This can be critical to performance when fetching a large list of items with eager-loading.

[2020-06-13 17:52] kidlj commented on #548
Even with custom edge storage key, this case is still anti-intuition, like ‘next’ edge must have a customized ‘prev_id’ storage key.

When any edge changes, no matter a to edge or from edge added or dropped, auto migration should take care of the table structure and data migration, so use from edge as the storage key should not be a problem.

If my understanding is not true, can you share more det

[2020-06-13 18:31] a8m commented on #548
Sure, the inverse-edge (`edge.From`) was dropped (after a few months) and the storage-key was renamed (let's say, from `prev_id` to something else). Like I mentioned above, we can't rely on inverse-edge to set the storage-key name, because they are optional, and we try to stay consistent (unrelated to the bug mentioned above).

I'll try to give another example - let's say a user created a schema w

[2020-06-15 08:12] a8m commented on #126
Hey, I've created #545 for addressing this issue. Documentation will be added in a separate PR.

I decided to go with the following API:

[code]

The first commit in the PR adopts the `ToColumn`/`FromColumn` API that [was proposed above](https://github.com/facebookincubator/ent/issues/126#issuecomment-568644015), but this was confusing, when to use `To`/`From`, because the destination of the join-

[2020-06-15 13:08] jelmersnoeck opened #549 "Feature: introduce Validator function on fields"
Currently fields have the `Validate` method, which takese the format of `Validate(in <T>) error`.

It would be great to have a method where we can inject a new validator as an object, which can hold more information about the validation rule.

This will allow more details to be exposed about the validator which can be used for other things such as i18n and linking it to other objects. We are looki

[2020-06-15 14:49] #548 closed

[2020-06-15 20:06] #126 closed

[2020-06-15 20:12] marwan-at-work commented on #126
Will give this a test very soon!

[2020-06-17 07:17] sj8m opened #552 "New Release"
When will the new release containing the storage key take place?

[2020-06-17 07:19] a8m commented on #552
Sure, releasing in a few minutes.
Thanks for the reminder

[2020-06-17 07:22] sj8m commented on #552
Thanks look forward to the new release :)

[2020-06-17 07:22] #552 closed

[2020-06-17 07:24] a8m commented on #552
Done, see [v0.2.4](https://github.com/facebookincubator/ent/releases/tag/v0.2.4)

[2020-06-17 10:10] kkom opened #553 "Docs clarification: when are hooks called?"
Hey!

I'm looking at https://entgo.io/docs/hooks/ where it says:

Would it be possible to clarify this a bit?

1. Are the hooks called before or after the privacy layer?

2. Are they called before or after the mutation is committed to the DB?

3. The docs say "before and after operations" but I don't see the option to choose whether it happens before or after a mutation. Is the latter achieved thr

[2020-06-17 11:11] a8m commented on #553
Hey Konrad,

Privacy is not mentioned in the docs, because it's not official yet. The evaluation order for multiple hooks is described here: https://entgo.io/docs/hooks/#evaluation-order

As mentioned in the docs, hooks are similar to the common HTTP middleware pattern. At the end, user's hooks wrap the last `ent.Mutator` which writes the data to the database.

[code]

Use `context.Context` to pro

[2020-06-17 13:07] kkom commented on #553
Thank you @a8m! If something concrete comes to my mind, I'll put up a PR on the docs!

[2020-06-17 13:07] #553 closed

[2020-06-17 13:40] #409 closed

[2020-06-17 14:20] a8m commented on #546
Done with #547. Thanks for proposing this issue!

[2020-06-17 14:20] #546 closed

[2020-06-17 14:48] sj8m opened #555 "Storagekey on Edges not working"
I tried using the new storage key function on the edges, but it doesn't work out for me. When I migrate the column names are still generated by ent. I also used your user/pets example and the generated edge name is user_pets instead of owner_id
<img width="407" alt="Screenshot 2020-06-17 at 16 48 26" src="https://user-images.githubusercontent.com/53516395/84913044-5eda6c80-b0ba-11ea-85dc-4643ff18e

[2020-06-17 15:15] a8m commented on #555
You're right! #556 should solve this.